[2017-11-14 10:38] anuraaga commented on #833
FWIW, I was actually thinking, even before seeing this issue, that we should add something like this to armeria

[code]
and it becomes really trivial for callers to set the hash key. IMO, this doesn't feel like a scattering of load balancing logic, as the strategy is just ensuring connections are sticky, and the load balancing itself is happening at the caller side, which feels natural and clean e

[2017-11-16 00:39] trustin commented on #833
@anuraaga Sounds like a reasonable opinion. Thoughts, @imasahiro?

[2017-11-16 09:46] hyangtack commented on #699
@kojilin Hello! Do you have any progress on this issue? 😃 If you didn't start writing code yet, could I take this issue? I think I can implement a simple exception handler with a similar idea to `@Decorate` annotation implementation.

[2017-11-16 11:14] trustin opened #838 "Flaky test: ZooKeeperRegistrationTest.testConnectionRecovery"
[code]

[2017-11-16 11:28] trustin commented on #838
Seems like a bug in `ZooKeeperConnector` actually. See #839 instead.

[2017-11-16 11:28] #838 closed

[2017-11-16 15:17] kojilin commented on #699
Ah, thanks, please

[2017-11-17 11:01] imasahiro commented on #833
We wanted to write a proxy server that selects upstreams based on urlencoded contents like:
`curl --data "id=client1&data=&size=11" http://proxy-server/`  -> proxies to a server for client1
`curl --data "id=client2&data=&size=11" http://proxy-server/` -> proxies to a server for client2
...

And yeah, using withContextCustomizer sounds good to me now.

[2017-11-18 12:06] imasahiro opened #842 "Retrying http request does not contains http content"
When a RetryingHttpClient resend a request, it only contains http headers and http content is not sent to server.

* Test code
[code]

* Test result:
[code]

[2017-11-18 12:06] imasahiro commented on #842
cc: @kojilin

[2017-11-18 13:13] minwoox commented on #842
Sorry for the inconvenience~! It's turned out that `isEmpty()` in `ChildStreamMesssage` is not proper.
I will send a fixing PR after my daughter get sleep. Thank you for finding and telling me this :-)

[2017-11-18 14:45] imasahiro commented on #842
Thanks for taking a look and the reference. I don't dig much but maybe need to flip `!subscription.publishedAny` to `subscription.publishedAny`?

[code]

[2017-11-18 16:29] minwoox commented on #842
It is actually not the problem. The problem is using different layer in `isOpen()` and `isEmpty()` methods in `ChildStreamMessage`. I will explain it in the PR. Thank you~!! 😊

[2017-11-20 02:47] trustin opened #844 "Support RFC6570 URI template"
Our current default path mapping could be improved to support [RFC6570 URI template](http://tools.ietf.org/html/rfc6570), so that a `PathMapping` can be used *both* for matching and templating.

[damnhandy/Handy-URI-Templates](https://github.com/damnhandy/Handy-URI-Templates) support both matching and templating, but it won't get along with our Trie based router, which means we may need to contrib

[2017-11-20 02:49] trustin commented on #844
Given the RFC6570 is fairly old (2012), we may want to review it and see if there's anything we could improve.

[2017-11-20 03:38] #842 closed

[2017-11-20 05:00] trustin commented on #833
#845 reverts #819.

[2017-11-20 07:45] #829 closed

[2017-11-21 06:36] anuraaga opened #850 "[Proposal] Change API to encourage using HttpResponse instead of HttpResponseWriter"
Currently we have a convenience abstract class, `AbstractHttpService` which takes care of HTTP request method dispatch to user service methods. The user methods have a signature like

[code]

where `res` is always an instance of `DefaultHttpResponse`.

I propose we consider changing these to not pass in a `HttpResponse` implementation and leave it to the user, i.e.,

[code]

Reasons for this chang

[2017-11-21 08:37] minwoox commented on #850
Such a great idea. I totally agree with you especially for the part that removes the duplication and has same signature with the `Service`.

[2017-11-22 04:33] trustin commented on #850
+1 to the proposal as well. Less duplication without losing brevity is awesome. What do you think @imasahiro @kojilin and other users?

[2017-11-22 06:49] imasahiro opened #852 "Provide a BOM of all armeria artifacts"
IMHO, it is better to provide BOM for armeria artifacts to manage dependencies at downstreams.

Here is sample BOM that a project provides:
* http://platform.spring.io/platform/ , `io.spring.platform:platform-bom:Brussels-SR5`
* https://repo1.maven.org/maven2/io/spring/platform/platform-bom/Brussels-SR5/

[2017-11-22 07:11] trustin commented on #852
Perhaps we could give [Nebular](https://nebula-plugins.github.io/) plugins a try.

[2017-11-22 08:38] trustin opened #853 "NoSuchElementException from DefaultStreamMessage"
Possibly due to #848 or #836?

[code]

[2017-11-22 08:57] minwoox commented on #853
Oops~ will check it~!

[2017-11-22 09:28] trustin commented on #853
`DefaultStreamMessage.notifySubscriber()` can be invoked by more than one threads at the same time when a `Subscriber` subscribed without an `Executor` and stream elements are written by multiple threads, because we do not have any locking mechanism for multiple writers.

This race condition can also occur when the `Executor` specified by a user is not single-threaded, because a `Subscriber` can w

[2017-11-22 09:35] anuraaga commented on #853
Just wondering, is there also an issue where the retrying client should have specified the Executor but didn't? It'd probably be the quicker fix if there is.

I was thinking about the default `Executor` problem myself too, including using one from the `CommonPools.workerGroup` - it seems to make sense to me.

By the way, I'm almost done with `EventLoopStreamMessage` which does actually serialize a

[2017-11-22 09:41] trustin commented on #853
Sounds good to me, given it performs great on READ_WRITE and OK on READ/WRITE_ONLY, which are vast majority of use cases. Curious about what other folks think. Comments?

[2017-11-22 09:53] imasahiro commented on #850
Sounds good to me~

[2017-11-23 05:30] minwoox commented on #853
will send a PR soon to fix DefaultStreamMessage

[2017-11-23 14:26] anuraaga commented on #630
Have been seeing this a lot lately, and always on appveyor

[2017-11-23 14:35] anuraaga commented on #850
Thanks for the comments, glad the new API seems reasonable. Want to confirm - are people ok with a full break of the API, or is a transition with something like `AbstractHttpService2` a better idea? If we were 1.0, the latter would be required, and is a fairly common pattern in Java libraries, but as we're not, I would want to have buy-in from the big users if we skipped a transition period.

[2017-11-24 06:10] #833 closed

[2017-11-25 10:42] anuraaga commented on #818
Thinking about this more, have we made it too complicated? I really liked the simplicity and ease of reasoning of this approach we used to use to select the client's event loop.

https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/HttpClientFactory.java#L96

I think this is quite optimal for determining client connections from a server context, everything sta

[2017-11-25 12:24] trustin commented on #818
Now I remember why we do not have that optimization anymore. `eventLoopSupplier` was actually causing the connection pool to create as many connections as `numServerEventLoops * numEndpoints`, which can grow really fast when `numServerEventLoops` is large. Hence, it also defeats the advantage of multiplex connections. We could have a 'preference' based on the current `EventLoop`, though.

[2017-11-27 03:27] #853 closed

[2017-11-27 06:26] hyangtack commented on #699
Merged #847 . Close this issue.

[2017-11-27 06:26] #699 closed

[2017-11-28 09:41] trustin opened #869 "RetryingHttpClient has to create a new context on each retry"
`RetryingHttpClient` currently reuses the initial `ClientRequestContext` for retry requests. This has the following issues:

- `RequestLog` of the retries are not recorded.
- The `RequestLog` of the original request is recorded as 'failed' prematurely. We could record it as 'succeeded' if a retry succeeded.
- If there is a stateful `DecoratingClient`, which keeps its state in the context attribute

[2017-11-28 09:43] trustin opened #870 "Provide a way to create a derived/forked context"
Related: #869

A user may want to create a new context whose properties and attribute map are derived from an existing context.

[2017-11-28 13:38] trustin opened #873 "Fix PublisherBasedStreamMessageVerification failures"
Need to understand why these timeouts occur.

[code]

[code]

[2017-11-29 01:34] trustin opened #875 "Investigate StreamMessageDuplicatorVerification failure"
https://ci.appveyor.com/project/trustin/armeria/build/master.1635

[code]

[2017-11-29 01:39] trustin opened #876 "Investigate GracefulShutdownIntegrationTest failure"
https://ci.appveyor.com/project/trustin/armeria/build/master.1632
[code]

[2017-11-29 03:57] trustin commented on #873
Should be fixed by #874. Repeating the build to ensure the fix.

[2017-11-29 06:29] trustin commented on #630
Actually, the originally reported exception was `ClosedSessionException` which is not `AbortedStreamException`.

[2017-11-29 06:30] #873 closed

[2017-11-29 09:10] trustin commented on #831
Should be fixed by #880

[2017-11-29 09:15] #630 closed

[2017-11-29 09:51] trustin opened #881 "Investigate ZooKeeperRegistrationTest.testConnectionRecovery failure"
https://travis-ci.org/line/armeria/builds/308873600

[code]

[2017-11-29 10:13] hyangtack commented on #817
How about the following:
- Implement Armeria context based [MDCAdapter](https://www.slf4j.org/apidocs/org/slf4j/spi/MDCAdapter.html) so that a user is able to use `MDC` API. (or just using Armeria API not to access thread local variable every time)
- Add a default logging element to `MDC`(=context) such as remote address, port, server name, etc before finishing a response(= before writing an acces

[2017-11-29 10:50] trustin commented on #817
We have `RequestContextExportingAppender` already. The problem with it is that it is not possible to generate something exactly same with an access log file: https://line.github.io/armeria/advanced-logging.html

[2017-11-29 12:51] trustin commented on #881
[code]

[2017-11-29 14:27] trustin opened #882 "Use Curator Framework instead of vanilla ZooKeeper for armeria-zookeeper"
.. because it simplifies our code a lot and frees us from maintaining ZooKeeper-handling code. i.e. less bugs and test failures.

[2017-11-29 14:41] trustin commented on #882
Note about dependencies:

The following would be the only dependencies involved:

- `curator-framework`
- `curator-client`
- `zookeeper`
- `slf4j-api`

We can exclude the following transitive dependencies:

- `guava` (not really a dependency since it's shaded)
- `log4j` (not really a required dependency)
- `slf4j-log4j12` (not really a required dependency)
- `netty` (not really a required dependen

[2017-11-29 14:42] trustin commented on #881
Superceded by #882

[2017-11-30 02:40] #831 closed

[2017-11-30 03:21] trustin commented on #822
Encountered this just today at master. Any clues, @anuraaga ?

[2017-11-30 03:57] hyangtack commented on #817
Thank you for explanation. I will figure out whether we can make a log message with common log format first. :-)

[2017-11-30 06:10] hyangtack commented on #817
From https://httpd.apache.org/docs/1.3/logs.html

**Common Log Format**
[code]

**Combined Log Format**
[code]

I think we can make a log with common log format and combined log format, except for [the second part](http://www.rfc-base.org/txt/rfc-1413.txt) of the log. But it is not important, so we can always write "-" for it now. (Then think about that later.)

I think we need to write an access

[2017-11-30 06:25] trustin commented on #822
[code]

[2017-11-30 08:00] trustin commented on #817
I guess users will want to customize the log format in a configuration file. I guess whether using `%msg` or not won't matter much as long as a user can customize the end result.

For example, we could tell the users use `%msg%n` and our appender could accept some special pattern which is used to build a formatted message. The advantage of this approach would be that we don't need to rely on MDC w

[2017-11-30 09:31] hyangtack commented on #817
As we discussed offline, I'll try to add an access log message writer(or generator) to armeria core. Armeria server gets an access log message pattern from its configuration and generates an access log message with that. The pattern would be compatible with Apache web server's or Tomcat's one because users may be more familiar with that. Furthermore, this approach may reduce MDC exporting overhead

[2017-11-30 12:45] trustin commented on #817
My pleasure! The reasoning behind the decision of not using decorator is:

- We can't write an access log for the error responses that does not go through a decorator chain.

[2017-12-01 04:24] hyangtack opened #887 "Investigate GrpcClientTest.serverStreamingShouldBeFlowControlled"
https://ci.appveyor.com/project/trustin/armeria/build/master.1680#L1814

[code]

/cc @anuraaga

[2017-12-01 04:48] anuraaga commented on #887
There's this weird log about stream not existing - @trustin do you have any idea what might cause it?

04:03:13.066 [armeria-eventloop-nio-5-1] WARN  c.l.a.internal.Http2GoAwayListener - [id: 0x2ce39238, L:/127.0.0.1:1688 - R:/127.0.0.1:1690] Sent a GOAWAY frame: lastStreamId=15, errorCode=PROTOCOL_ERROR(1), debugData="type: io.netty.handler.codec.http2.Http2Exception, message: Stream 17 does not

[2017-12-05 23:53] trustin opened #892 "On-demand sampling CPU profiling"
Initially proposed by @imasahiro. We could integrate with a library like [spf4j](http://www.spf4j.org/) or something better and expose the UI in DocService to let a user toggle the profiler or browse the report.

[2017-12-06 02:03] imasahiro opened #893 "Generate more user friendly tag of Vfs caffeine cache metrics"
Because DocServiceVfs does not implement toString method, rootDir tag in Vfs cache metrics for DocServiceVfs is hard to understand.
[code]

[2017-12-06 02:32] trustin commented on #870
When creating a forked context, we should not copy the `RequestLog` however, since creating a new context means starting a new request.

[2017-12-06 04:35] trustin commented on #893
Better not using `toString()` but adding more explicit method like `meterTag()`

[2017-12-06 09:56] #893 closed

[2017-12-06 09:57] #870 closed

[2017-12-06 10:12] huydx opened #897 "Performance problem when use armeria as proxy server"
# Problem
I used armeria to create very simple proxy server and notice some performance problem when upstream is very slow response server. The proxy server itself is just few lines of code:

[code]

Assume that upstream server has very low response, which I simulate using below golang code:

[code]

# Some numbers using `ab` tool
 ab -n 1000 -c 100 http://localhost:20080/

Raw result without usin

[2017-12-06 10:14] anuraaga commented on #897
I think the issue might be aggravated by it being an HTTP/1 client with slow responses, I think much of our tuning has focused on HTTP/2

[2017-12-06 10:26] imasahiro commented on #897
Adds metrics of server/client and looks something wrong with client/server look?
[code]

[2017-12-06 12:59] huydx commented on #897
Some more test result if proxy server is put behind a nginx server with keepalive, the result is quite good

[code]

I don't know what is different between using nginx keepalive and option -k of `ab`

[2017-12-06 14:16] huydx commented on #897
More observation, with client timeout of 20 seconds:

[code]

I've test with delay simuation of 10 seconds and see a lot of armeria `ResponseTimeoutException`, I wonder that,  if upstream server is delay for too long, or has very slow response, is that may cause miscalculation of response time out? In another word, how timeout is calculate right now, is that from the timing that the request is que

[2017-12-07 02:22] trustin commented on #897
You need to set `defaultResponseTimeout(Duration.ofSeconds(20))`.

[2017-12-07 04:34] huydx commented on #897
More observation, below weird exception sometimes occur:

[code]

[2017-12-09 02:12] imasahiro commented on #897
Just remember that because armeria uses Http1 pipelining by default and some servers does not support, it causes unexpected slowness when sending requests to http1 servers.

If I disable http1 pipelining, the number become much better.
[code]

[code]

[2017-12-09 06:13] anuraaga commented on #897
Nice find! AFAIK, most clients, including browsers, don't enable pipelining by default since many servers don't work well with it. Any thoughts on changing the default in armeria to false?

[2017-12-11 08:57] huydx commented on #897
In this case, it's obviously that disable http pipeline make throughput much better. However AFAIK, golang http server enable Http 1.1/pipeline by default for idempotent request (GET), so we have pipeline upstream + pipeline client, so it should make request faster right?

[2017-12-11 09:04] huydx commented on #897
Btw, the final result with pipelining is satisfied, so I'm gonna close this issue and get further investigation with golang server / armeria client to see why pipelining did not works as different issue.
Thanks @imasahiro @anuraaga and @trustin for your helps

[2017-12-11 09:04] #897 closed

[2017-12-11 09:08] trustin commented on #897
Did you mean 'without'?

[2017-12-11 09:17] huydx commented on #897
yes, my typo -.-, I mean without, as @imasahiro pointed out

[2017-12-12 00:39] #869 closed

[2017-12-12 08:42] trustin opened #906 "Port the recent HTTP header conversiom from Netty"
Need to update ArmeriaHttpUtil

e.g https://github.com/netty/netty/commit/7d213240ca768d6dd35ef2336b1fda757bd4df3c

[2017-12-15 05:14] #850 closed

[2017-12-15 05:14] anuraaga commented on #850
Implemented the API change, somehow without any hard breaks :)

[2017-12-18 01:58] trustin opened #914 "HttpResponse.ofRedirect()"
Related: https://github.com/line/centraldogma/pull/33 #773 #774

It would be useful when a user wants to send a redirect response:

[code]

/cc @hyangtack @abdulazizali77

[2017-12-18 01:58] trustin commented on #773
Closing in favor of #850 and #914

[2017-12-18 01:58] #773 closed

[2017-12-19 02:34] imasahiro opened #916 "Provide a way to configure a CacheSpec for HttpFileService"
Currently, there is no way to configure a cache for `DocService` instantiated by `ArmeriaAutoConfiguration#armeriaServer`.

To make it more configurable, it is better to provide a new flag to `Flags` (or `ArmeriaSettings`).

[2017-12-20 01:38] trustin commented on #887
Worked around by #919

[2017-12-20 01:38] #887 closed

[2017-12-20 03:57] #817 closed

[2017-12-21 09:02] anuraaga opened #925 "Upgrade to Netty 4.1.19.Final"
Found a critical DNS bug was fixed in the recent version of Netty

https://github.com/netty/netty/commit/844d804aba4b459215f05c9ade59157f6c2cfb4b#diff-8a94497e9e56fe3bc57fb556b89c2f89

And of course it also contains my cancelTimeout optimization :)

@trustin Do you think we'd be able to do the upgrade and armeria release soon to fix this DNS bug?

[2017-12-21 12:50] trustin commented on #925
Yes. Was going to release this week.

[2017-12-22 10:37] #906 closed

[2017-12-22 11:06] trustin commented on #925
Done via #926

[2017-12-22 11:06] #925 closed

[2017-12-28 11:55] southernkasaist opened #930 "ArmeriaHttpUtil.toArmeria breakes cookie into linked list entry which will lead only the first cookie entry can be obtained"
Netty's `DefaultHeaders` will only get the value of first entry after head node:
https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/DefaultHeaders.java#L117

But in armeria's header conversion, value of cookie header is broken into linked list entries.
https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/internal/ArmeriaHttpUtil.java#L

[2017-12-28 11:56] lovepoetry commented on #930
@trustin
Related change: https://github.com/line/armeria/pull/929

[2017-12-28 12:00] anuraaga commented on #930
I haven't tried it myself but what if you use getAll?

Though admittedly not getting the raw string the client sent when calling get is confusing behavior.

[2017-12-28 12:16] southernkasaist commented on #930
`getAll` is able to obtain the whole cookie kv pairs.
However, the return value of `headers().get()` had a breaking change which was result in critical bug in our application.

So I concern the following questions:
- Armeria was wrong before this change?
- The usage of `get` is wrong in our code?

[2017-12-28 12:29] southernkasaist commented on #930
Seems that our usage of `get` wasn't following the document of netty...

https://github.com/netty/netty/blob/4.1/codec/src/main/java/io/netty/handler/codec/Headers.java#L38
[code]

[2017-12-28 12:40] anuraaga commented on #930
Looking at the referenced RFC

https://tools.ietf.org/html/rfc7540#section-8.1.2.5

The header must be concatenated when returning to a generic http server context, which probably applies to armeria. My feeling is that this is purely a protocol performance implementation detail, not a logic change so exposing users to it is a bug (and indeed seems like it could be quite painful if triggered :( )

[2017-12-29 02:57] trustin commented on #930
#931 should fix this issue. Please review.

[2017-12-29 06:24] #930 closed

[2018-01-01 17:38] liuzhengyang opened #933 "java.util.NoSuchElementException: No value present when using ZooKeeperUpdatingListener"
Hi, I am new to armeria. I build a simple project using armeria 0.5.60 according to [armeria documentation](http://line.github.io/armeria/index.html), everything goes well until using 'Service discovery with ZooKeeper'. I got this exception
[code]
And here is my example code.
[code]
If i remove the `ServerListener`, it works well. And i looked into `com.linecorp.armeria.server.Server`, found `prim

[2018-01-02 06:54] hyangtack opened #935 "Support enum as a type of @Param annotated parameter"

[2018-01-02 08:09] trustin commented on #933
Thanks for reporting! Let me take a look and get back to you soon.

[2018-01-02 10:23] #933 closed

[2018-01-03 01:21] AmosDoan commented on #935
Can I try this?

[2018-01-03 02:07] hyangtack commented on #935
No problem! :-)

[2018-01-03 02:32] minwoox commented on #778
Closed by #922

[2018-01-03 02:32] #778 closed

[2018-01-03 02:46] hyangtack opened #938 "Write documents about annotated http service"

[2018-01-03 09:42] minwoox opened #940 "Provide a way to get the metric according to the status of the failure"
A user may want to get the metrics about `500` and `408` respectively.
Currently, a user can get only two metrics which are success and failure by default.

[2018-01-04 08:57] minwoox opened #942 "Support REST API with DocService"

[2018-01-04 09:17] trustin opened #943 "Make use of @Nonnull annotation"
We currently assume all return values and parameters are non-null unless it's annotated with `@Nullable` explicitly. However, some languages or validation frameworks seem to expect the explicit use of `@Nonnull` annotations.

It would be great if we could apply some compiler plugin to automatically annotate all return types, parameters and fields with `@Nonnull`.

[2018-01-04 09:19] anuraaga commented on #943
For reference, found that checker framework doesn't expect use of `@NonNull` since it's the default. But for consuming libraries it does seem like it'd be nice to automatically add it during the build

https://checkerframework.org/manual/#null-defaults

[2018-01-05 05:30] trustin opened #947 "Virtual host support for access logging"
A user may want to keep different access log files for different virtual hosts.

We could use different logger names for different virtual hosts so that a user can configure his or her `logback.xml`.

One simple solution for this feature would be appending the reversed domain name to the logger name, e.g. `com.linecorp.armeria.logging.access.com.example` for `*.example.com`

[2018-01-05 09:29] kojilin commented on #943
and we can use `@javax.annotation.ParametersAreNonnullByDefault`?

https://youtrack.jetbrains.com/issue/KT-10942
https://medium.com/square-corner-blog/non-null-is-the-default-58ffc0bb9111

[2018-01-05 09:45] trustin commented on #943
@kojilin Thanks for the info! What about return types?

[2018-01-05 09:58] kojilin commented on #943
We can define our own annotation? like spring's one(`@NonNullApi`). And kotlin's spec should follow it.

--
But not really familiar how IDE/tool will help checking, just showing in compilation output?

[2018-01-05 18:09] tobias- commented on #943
I can only interpret "methods" in the following as meaning return value from methods. There are no nullable methods-references in neither kotlin nor java. In Kotlin there are functions, but seems farfetched. Disadvantage is that every package needs a file like that.

`
Annotation @ParametersAreNonnullByDefault gives the developer an option to define that for a given
class or package all the elemen

[2018-01-11 16:37] demongaorui opened #953 "How can I add JSON-based GRPC services, a.k.a unframed gRPC-JSON?"
I wonder if it is possible to auto add Json based service whenever a GRPC service is added to server. This will helps organizations who want to migrate from Json base Rest apis server to Armeria-Grpc server.

For example, we have a grpc SomeGrpcService which have a rpc `SayHello`. And the path for SayHello GRPC service could be something like `my.package/SomeGrpcService/SayHello`.

With the follow

[2018-01-11 16:37] demongaorui commented on #953
@trustin @anuraaga  Could you kindly share your opinions? Thank you very much.

[2018-01-11 16:44] anuraaga commented on #953
Support for unframed requests and JSON using that serializer is already there to try to make it easier to migrate JSON API services. Is it not what you're looking for?

https://github.com/line/armeria/blob/874301f40859edc2d656de7cc91db42b813d0b1f/grpc/src/main/java/com/linecorp/armeria/server/grpc/GrpcServiceBuilder.java#L169

[2018-01-11 16:57] demongaorui commented on #953
Oooops!!!

Is that means if we set `.enableUnframedRequests(true)` to the someGrpcService builder in above example, then the server could handle requests to the path of `my.package/SomeGrpcService/SayHello` with JSON format data in the request body, and response with JSON format date to the client?

[2018-01-11 17:06] demongaorui commented on #953
Looks like the [UnframedGrpcService decorator] (https://github.com/line/armeria/blob/bc37686c4b5802a579431fc933f0d07e5678095f/grpc/src/main/java/com/linecorp/armeria/server/grpc/UnframedGrpcService.java) is doing what I want!

Great!!!  Gonna try it.

Thank you very much!

[2018-01-11 17:07] anuraaga commented on #953
Yeah - the format is determined by the content type of the request. In fact, this is currently being the debug form for gRPC.

There is a bit of documentation here, if there's anything not clear let me know so we can fix it :)

http://line.github.io/armeria/server-grpc.html#unframed-requests

[2018-01-12 06:56] eonezhang commented on #953
@anuraaga does this feature production ready?

[2018-01-12 07:00] anuraaga commented on #953
@eonezhang Yeah it's intended to be production-ready, the usage in debug form is just a coincidence. The marshaller should be about as fast as you can get for JSON

[2018-01-15 08:50] demongaorui commented on #953
Found an issue that if set enableUnframedRequests(true), then can't do
[code]
which avoid binding "/" to the Grpc service with specific decorator.

The point is in GprcBuilder.build() method:
[code]

Seems could change GprcBuilder.build() return type to GrpcService?

Another concern is that for an Armeria-Grpc API server which is used in organizations migrating to Grpc from Rest API, a decorator w

[2018-01-15 09:03] anuraaga commented on #953
Sent #956 so the unframed version also implements path mappings by delegating them.

I don't understand the second concern - the decorator and gRPC service itself are set up to intelligently accept serialization formats that are passed to `supportedSerializationFormats`, if you want to support only gRPC, just need to set to `GrpcSerializationFormats.PROTO`, if you want both proto and json you set

[2018-01-15 09:17] demongaorui commented on #953
Thanks for your rapid implementation of #956 !

About the second concern, for organizations migrating to Grpc from Rest API, the web page client which will use `application/json` to access unframed Grpc service is hosted in a legacy web server host, then cross-domain support is needed.  This is a typical status for migrationg Rest API to Armeria-Grpc.

So maybe could add a config property like `en

[2018-01-15 09:21] anuraaga commented on #953
cross-origin is a concept more general than gRPC so it wouldn't go in the `GrpcServiceBuilder` (I don't think it's a good default either way).

Armeria has `CorsService` which you should be able to specify as a decorator when doing `ServerBuilder.service(gRpcService, Functions.compose(withJwtAuth, corsService)` (something like that, haven't checked if it compiles), would it work for you?

[2018-01-18 08:24] huydx opened #961 "Make default MetricIdPrefixFunction aware of response as well"
Original request is to adding status code tag to metrics. To do that we need to make MetricIdPrefixFunction aware of response as well.
Current implement at MetricIdPrefixFunction#ofDefault is called only once at `RequestMetricSupport#onRequestStart`, therefore at the creation moment, there is no information about response yet.

[2018-01-20 06:32] dongjinleekr commented on #882
Hello. I am currently working on this issue. Before progress more, I would like to ask some questions.

As all of you know, apache curator provides its core package (curator-client) with its high-level module, curator-x-discovery, which serves the Service Discovery feature.

My question is: **Should we adapt curator-x-discovery for armeria's service discovery feature? There are pros and cons for e

[2018-01-20 07:30] dongjinleekr commented on #882
Please note: https://curator.apache.org/apidocs/org/apache/curator/x/discovery/UriSpec.html

[2018-01-22 13:16] trustin opened #967 "Disable path mapping cache for prefix mapping"
We currently cache a path mapping result as long as the response status is successful and the mapping does not have any path parameters: https://github.com/line/armeria/blob/8e6cbc36a92de7ae3e03a41531e7ab486cd0121a/core/src/main/java/com/linecorp/armeria/server/HttpServerHandler.java#L334-L338

This does not work well with prefix mapping which can map to infinit number of paths, because the mappin

[2018-01-22 13:24] anuraaga commented on #967
Thanks for bringing this up - an interface method seems good to me. I guess it could be a defaulted method on Service instead of introducing yet another interface.

Happy to fix this tomorrow if the approach makes sense

[2018-01-22 13:32] trustin commented on #967
+1. Thanks! Please feel free to assign yourself. Much appreciated.

[2018-01-24 00:35] trustin opened #970 "Consider switching to Project Reactor"
At the time when we began Armeria, we ended up with `StreamMessage` which is a specialized variant of Reactive Stream `Publisher` mainly because there was no suitable Reactive Stream implementation that meets our requirements:

- Few third party dependencies
- Stable
- Rich set of `Publisher` implementations that's suitable for publishing network traffic

[Project Reactor](https://projectreactor.i

[2018-01-24 09:01] trustin commented on #882
`curator-x-discovery` looks great, but it doesn't look compatible with how we store the server list in ZooKeeper. How about implementing both - one that's backward-compatible with the current implementation and the other that uses `curator-x-discovert`? It's OK to break the API compatibility as long as the data layout is compatible. If you are not interested in implemeting two, then you can just i

[2018-01-24 13:50] tobias- opened #971 "Get client disconnect notifications in bidirectional async gRPC"
We don't get any notification when the client closes the connection when using asynchronous bidirectional stream calls.

https://github.com/SourceForgery/tachikoma/blob/ddfb03ba5d25f3de61e8fe1e1b2cb9be2aba0eb4/tachikoma-grpc/src/main/kotlin/com/sourceforgery/tachikoma/mta/MTAEmailQueueService.kt#L31

We get neither `onComplete()`, nor `onError()` in the ~ResponseObserver~`StreamObserver` when the

[2018-01-24 13:56] anuraaga commented on #971
It's a bit of a weird syntax, but I think ` ((ServerCallStreamObserver<Response>) observer).setOnCancelHandler(() -> System.out.println("cancelled."));` is supposed to be called on client close can you check if you see that?

[2018-01-24 14:46] tobias- commented on #971
Unfortunately it doesn't seem to work. The `ArmeriaServerCall.closeListener()` is never called, and neither is anything else in the `ArmeriaServerCall` class, as far as I can tell.

It seems as though code is missing from either the `Http2ObjectEncoder.doClose()` or the `HttpServerHandler.channelInactive(...)` as those are the only places that Armeria gets notified that the connection is closed?

[2018-01-24 15:18] anuraaga commented on #971
Thanks for checking will see if I can get a simple repro. A team member of mine looked at this before and I think had good luck with the cancel handler but I think that was a streaming response with no request streaming.

I'd expect this to be triggered if things are working ok

https://github.com/line/armeria/blob/master/grpc/src/main/java/com/linecorp/armeria/internal/grpc/HttpStreamReader.java#

[2018-01-24 15:19] anuraaga commented on #970
I had thought about reactor a little when looking into the streams - it seems like a good idea to me

[2018-01-24 19:47] tobias- commented on #971
It is not.

~I'm really not sure about this, but it seems that when doing `HttpServerHandler.handleRequest()` there's a lot of logic used to find the correct Service and call it, but when coming back asynchronously later in `HttpServerHandler.channelInactive()`, that context is gone, although the ChannelHandlerContext is still available.~

~It doesn't seem that the `HttpServerHandler` is shut down

[2018-01-24 21:18] tobias- commented on #971
Ok, that fix works for me. I'm none too fond of signing license agreements, so if somebody who has signed it can open a PR with that, please do. I consider the above code trivial and therefore not copyrightable. Do what you want with it.

I've run all the tests and they pass. This code also makes sure that the `HttpServerHandler` mentioned above is closed _seemingly_ properly, and that propagates

[2018-01-25 03:49] anuraaga opened #972 "ClientFactory.close doesn't actually close in-progress connections"
I was trying to simulate a scenario where a client opens a connection to the server (e.g., starts a gRPC stream) but then forcibly closes the socket. I would expect `ClientFactory.close` to close the socket, but it doesn't actually seem to. It calls `DefaultKeyedChannelPool.close`, but that only keeps track of available connections, not offered connections, so the actual stream doesn't seem to be

[2018-01-25 04:21] trustin commented on #972
Yes. In-progress connections should be closed as well. Are you going to include the fix for this when you send a PR for #973 ?

[2018-01-25 04:23] anuraaga commented on #972
No let's keep it separate, as this one will be a more invasive change :)

[2018-01-25 04:24] trustin commented on #972
Never mind. A separate PR would be better.

[2018-01-25 04:24] trustin commented on #972
OK. Are you working on the PR?

[2018-01-25 04:26] trustin commented on #970
We may also want to do some research on other reactive stream implementations such as RxJava 2.

[2018-01-25 04:28] trustin commented on #953
Updated the title of this issue to make it an answered question.

[2018-01-25 04:28] #953 closed

[2018-01-25 04:31] anuraaga commented on #972
Yeah trying it now

[2018-01-25 08:20] #700 closed

[2018-01-25 08:56] hyangtack opened #977 "Flaky test: AnnotatedHttpServiceExceptionHandlerTest > testExceptionHandler"
[code]

[2018-01-25 09:16] anuraaga opened #978 "GracefulShutdownSupportTest does not pass with Java 9"
I'm not sure if this is a problem with the test or the actual logic not being Java 9 compatible, but when I run `./gradlew :core:test` with JDK9, I get this failure that doesn't show with JDK8.

This is still the same source/target compatibility, so it's only the difference of what JRE is running the code.

[code]

[2018-01-25 09:22] trustin commented on #978
We never tested Armeria against Java 9 yet but we should. :-)

[2018-01-25 09:47] anuraaga commented on #978
FWIW it seems to be working ok :) But I haven't verified graceful shutdown yet in an actual server either hope it works, heh

[2018-01-26 01:14] trustin commented on #935
Fixed via #949

[2018-01-26 01:14] #935 closed

[2018-01-26 04:03] #972 closed

[2018-01-26 04:04] #971 closed

[2018-01-29 10:16] tobias- commented on #943
@trustin Thanks. As I said in slack, this works for me with both parameters and results. Unfortunately I only warnings, but I'm inclined to believe that's because of a decision by Kotlin.

Either way, thanks!

[2018-01-29 12:06] #943 closed

[2018-01-29 12:21] jvous opened #982 "Twitter scrooge support for armeria thrift"
We're using finagle-thrift for RPC, using the Scrooge Thrift code generator for nicely generated Scala case classes, service traits and so forth. Armeria looks amazing, but unfortunately only supports serving implementations of Apache thrift-generated *.Iface or *.AsyncIface.
A change from the Scrooge generator to the Apache one is not practical for us, as we would have to refactor a major codebas

[2018-01-29 12:32] trustin commented on #982
We haven't thought about supporting Scrooge-generated source code yet, but we'd be very happy to help you implement Scrooge support for Armeria and to make it an official part of Armeria.

THttpService and ThriftCallService for Scrooge-generated interfaces.

That's correct. You basically need to implement two `Service` implementations:

- A `HttpService` implementation that wraps a `Service<RpcReq

[2018-01-29 13:37] abdulazizali77 commented on #914
@trustin i will start on this :)

[2018-01-29 18:42] jvous commented on #982
Thanks, that was very helpful @trustin 🥇 We will into the specifics.

[2018-01-30 02:15] trustin commented on #914
@abdulazizali77 Awesome. :-D

[2018-01-30 10:11] trustin commented on #774
Fixed via #945

[2018-01-30 10:11] #774 closed

[2018-01-30 10:12] trustin commented on #106
Maybe when a user really wants this feature.

[2018-01-30 10:12] #106 closed

[2018-01-30 10:15] trustin commented on #16
This has been basically resolved since we added metric support using Micrometer, which provides JMX registry: https://javadoc.io/doc/io.micrometer/micrometer-registry-jmx/1.0.0-rc.7

[2018-01-30 10:15] #16 closed

[2018-01-30 10:19] trustin commented on #182
I guess this is pretty much solved by the `RetryingClient` written by @minwoox. Great to see your effort reaches the goal. 👍

[2018-01-30 10:19] #182 closed

[2018-01-30 10:23] trustin commented on #275
This has been resolved via `Clients.withHttpHeaders()` and `ClientRequestContext.HTTP_HEADERS` attribute. It's sad that your contribution was not accepted eventually, but I appreciate your effort, @gotchazipc

[2018-01-30 10:23] #275 closed

[2018-01-30 11:10] #87 closed

[2018-01-30 11:11] trustin commented on #682
Done long time ago.

[2018-01-30 11:11] #682 closed

[2018-01-30 11:13] trustin commented on #852
Resolved via #969

[2018-01-30 11:13] #852 closed

[2018-01-30 21:11] borag opened #984 "Copying manifest attributes"
I tried to use gradle/scripts in a sample project.
But it seems 'java-shade.gradle' doesn't copy/inherit manifest file from the jar even if it
has jar manifest attributes.

[2018-01-31 07:52] borag commented on #984
1) Add jar to build.gradle
jar {
    manifest {
        attributes(
                'Main-Class': '...'
        )
    }
}

2) Add manifest.inheritFrom to
    task shadedJar(
            type: ShadowJar,
            group: 'Build',
            description: 'Builds the shaded JAR.',
            dependsOn: tasks.classes) {
        configureShadowTask(project, delegate, true)
        baseName = "${pro

[2018-01-31 07:52] #984 closed

[2018-01-31 08:09] trustin commented on #984
Was your issue resolved, @borag ? What was the problem?

[2018-01-31 08:15] #967 closed

[2018-02-01 22:18] arkadius commented on #705
I would also like to use armeria with flink. I've already prepared change with this relocations: https://github.com/arkadius/armeria/tree/netty-shaded. Should I create PR or this change is someway controversial?

[2018-02-01 23:45] trustin commented on #705
@arkadius Good start, but we'd also need to:

- Hide Netty classes from our public API, e.g. `EventLoop`, `AsciiString` and `AttributeMap`
- Make sure tcnative and epoll works even after shading.

Are you interested in making this change? It will be mostly about:

- Replace `AsciiString` with `String` or something else
- Fork `AttributeMap`
- Wrap `EventLoop` with Armeria's own `EventLoop` interfa

[2018-02-01 23:54] arkadius commented on #705
Yes, I'm interested in making this change. I'll analyse your proposal and will try to add this improvements.

[2018-02-02 03:32] trustin commented on #705
@arkadius Awesome! Please feel free to let us know if you have any questions or need any help.

[2018-02-02 05:59] imasahiro opened #989 "Provide Spring-RestTemplate integration"
[RestTemplate](https://github.com/spring-projects/spring-framework/blob/master/spring-web/src/main/java/org/springframework/web/client/RestTemplate.java) is a spring feature that provides (a)synchronous client-side HTTP access. And it can replace httpclient implementation via ClientHttpRequestFactory (e.g. [Apache HttpClient](https://github.com/spring-projects/spring-framework/blob/873cb4e58b5103c

[2018-02-02 06:17] trustin commented on #989
Sounds good to me! Are you up for this?

[2018-02-02 06:20] imasahiro commented on #989
Yep, I'm trying to make it based on Netty4ClientHttpRequestFactory

[2018-02-02 06:22] trustin commented on #989
Very cool. How about adding `armeria-spring` to put Spring framework -related stuff?

[2018-02-02 06:40] imasahiro commented on #989
Yeah, will want to reorg spring-boot dir and spring FW stuff like this.
* spring/spring-boot-autoconfigure
* spring/spring-boot-starter
* spring/spring-resttemplate
How do you think? Just add spring dir is enough..?

[2018-02-02 07:56] trustin commented on #989
How about:

- spring/boot/autoconfigure
- spring/boot/starter
- spring/resttemplate (or spring/web, spring/webmvc, ...)

I think it depends on which Spring artifact REST template belongs to. For example, if it belongs to spring-webmvc, then we could put it into `armeria-spring-webmvc`.

[2018-02-04 14:23] machi1990 commented on #978
JUnit 5.1 has annotation support to disable and enable tests depending on the JRE version.
[JUnit Enable or Disable on JRE annotation](http://junit.org/junit5/docs/snapshot/api/org/junit/jupiter/api/condition/EnabledOnJre.html)

[2018-02-04 21:18] rvit34 commented on #970
It would be a greate ability to provide integration with Spring 5 (webflux) and/or Spring Boot 2.0 as it can run Netty/RxNetty under the hood. Referenced to your project [here](https://jira.spring.io/browse/SPR-16466)

[2018-02-05 02:51] trustin commented on #970
Thanks @rvit34 for your interest. We only have limited integration with Boot 1 but it would be great to provide better seamless integration with WebFlux and Boot 2.0.

[2018-02-06 02:17] minwoox opened #992 "Provide a way to add headers to the HttpResponse when using thrift"
Currently, a user should use a decorator to add a header which is complex and inefficient.

[2018-02-06 05:55] trustin commented on #992
/cc @ryu1-sakai

[2018-02-06 11:46] anuraaga commented on #506
I was looking into this, and another isssue is that extending `HttpAuthService` means losing out on the default authorization logic. What do you think about merging `HttpAuthServiceImpl` into `HttpAuthService`? Would anyone ever need a different implementation of `authorize`, considering it supports the very general `Authorizer<HttpRequest>`?

[2018-02-06 14:31] eonezhang commented on #989
I think resttemplate should belong to client, how about like okhttp?

[2018-02-08 02:30] kojilin opened #996 "Throttling decorator for rpc can't works well"
due to https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/throttling/ThrottlingService.java#L70

it may create RpcResponse of RpcResponse.

I think 1 way is make `RpcResponse#from` supports `CompletableFuture<? extends RpcResponse>` like
[code]

But this make me think how about `CompletableFuture<CompletableFuture<RpcResponse>>` or nested `RpcResponse`. or w

[2018-02-08 11:23] imasahiro commented on #258
Does `ThrottlingService` + `RateLimitingThrottlingStrategy` cover this issue? https://github.com/line/armeria/pull/726

[2018-02-09 03:07] openaphid opened #1000 "`MeterIdPrefixFunction.ofDefault` doesn't collect service level metrics for unframed request"
Please refer to https://gist.github.com/openaphid/63ee584a4b7bb4c646137ff5eea92dea for a reproducible case.

A custom `MeterIdPrefixFunction` could extract method name from `ServiceRequestContext` correctly, but I think there are some execution order issues in `UnframedGrpcService` and `GrpcService`.

For unframed requests, `requestContent` is not attached to context log:
https://github.com/line/a

[2018-02-09 03:10] trustin commented on #1000
/cc @anuraaga

@openaphid Thanks for reporting!

[2018-02-09 06:22] jmostella commented on #996
How about changing `CompletableFuture<Boolean> ThrottlingStrategy.accept -> boolean ThrottlingStrategy.accept`?

Practically speaking, in `RateLimitingThrottlingStrategy` its calling `RateLimiter.tryAcquire` which internally has a mutex lock here: https://github.com/google/guava/blob/master/guava/src/com/google/common/util/concurrent/RateLimiter.java#L348

I can't imagine similar strategies won't

[2018-02-09 06:34] dongjinleekr commented on #882
It's almost done. I expect that I can open the pull request in next week.

However, I have a question: **In the current work, I implemented `ServerListenerBuilder` which creates `ServerListener` instance by composing `Runnable` instances. Is this okay?**

The reason why I concluded that we need such a thing follows. As all of you know, using Curator Framework with Armeria means that **we have to d

[2018-02-09 06:42] sh1n1chi8acker opened #1001 "Shaded Armeria jar contains redundant dependencies"
Hi, I'm using shaded jar, but it contains redundant dependencies.

https://line.github.io/armeria/setup-maven.html
[code]

But armeria-shaded:jar:0.58.0 contains

[code]

As of armeria-shaded:jar:0.55, not contains
[code]

[2018-02-09 06:53] dongjinleekr commented on #882
+1. I also concluded that `CuratorFramework` is sufficient for our Service Discovery feature - so we don't need curator-x-discovery module.

[2018-02-09 07:01] trustin commented on #1001
Oops! This looks loke a regression in the recent refactoring of our build script. Will take a look.

[2018-02-09 07:52] trustin commented on #1001
Fix coming soon. Will release 0.58.1 once merged.
https://github.com/line/gradle-scripts/pull/7

[2018-02-09 08:02] trustin commented on #1001
Fixed

[2018-02-09 08:02] #1001 closed

[2018-02-09 08:06] trustin commented on #1001
Release in progress: https://github.com/line/armeria/releases/tag/armeria-0.58.1

[2018-02-09 08:06] trustin commented on #1001
.. and thanks a lot for reporting this issue quickly!

[2018-02-09 08:45] trustin commented on #882
That sounds interesting enough for a separate issue. Could you create a new issue and propose your idea there? (Example code preferred.)

[2018-02-09 09:09] trustin commented on #1001
@sh1n1chi8acker Could you let us know if the problem is gone in 0.58.1?

[2018-02-09 09:15] sh1n1chi8acker commented on #1001
@trustin
Thanks.
I have confirmed 0.58.1 is OK.
💯

[2018-02-09 09:24] dongjinleekr opened #1003 "Add ServerListenerBuilder"
Until now, `ServerListener` instance should be written by the user one by one. This approach is enough when there are only a few `ServerListener`s, but if lots of `ServerListener`s are required, this approach becomes not only cumbersome but also time-consuming and error-prone. Writing Armeria application that interacts with Zookeeper using Curator is a good example of this (#882) - you have to sta

[2018-02-09 09:28] dongjinleekr commented on #1003
You can check my implementation in [this commit](https://github.com/dongjinleekr/armeria/commit/8d91dffe767cb3e778ed0dc7e05467781ad55bb8) in [this branch](https://github.com/dongjinleekr/armeria/tree/feature/issue-1003). How are they? 😄

[2018-02-09 09:29] dongjinleekr commented on #882
I opened #1003 with an implementation. Please take a look when you are free.

[2018-02-09 09:32] kojilin commented on #996
I'm not sure if there is a needs about it. And maybe not all user use RateLimitingThrottlingStrategy?

[2018-02-10 03:17] anuraaga commented on #996
I think a method that returns a completed future and a synchronous method are conceptually the same, so switching to synchronous can never be a real solution, it's more for situations where the extra allocations / volatile reads of the future would be prohibitive. Here that doesn't seem to be the case and I think adding a sync version seems weird.

I think @kojilin's proposal seems correct, curren

[2018-02-12 01:56] trustin commented on #1003
Sounds good to me. Could you send a PR so we can review?

[2018-02-12 08:18] dongjinleekr opened #1005 "Mode.IN_NODE_VALUE in Zookeeper-based service discovery is meaningless"
I found this problem while I was working on #882.

1. The constructor of `ZooKeeperUpdatingListener` (and underlying `ZooKeeperRegistration`) does not provide a way to specify `Mode` to use; Actually, its value is fixed to `Mode.IN_CHILD_NODES` and there is no way to change it.
2. `ZooKeeperRegistrationTest` also tests the case of `Mode.IN_CHILD_NODES` only.
3. Even if `ZooKeeperUpdatingListener`

[2018-02-12 08:30] trustin commented on #1005
Ah, didn't realize IN_NODE_VALUE stores the values as a permanent node.

It seems to make sense to remove `IN_NODE_VALUE`.

However, if you could come up with a replacement implementation soon, I think we can just replace the current one with yours, instead of dealing with the old implementation. What do you think?

[2018-02-12 08:35] trustin commented on #1005
It also would be nice if our storage layout is compatible with curator-x-discovery so a user of curator-x-discovery can access our endpoint list.

[2018-02-12 08:40] trustin commented on #996
+1

Yeah, how about cherry-picking @kojilin's fix into your PR, @imasahiro?

Could you show me some examples? I'm curious about this!

[2018-02-12 08:58] dongjinleekr commented on #1005
Of course, I already succeeded to implement the replacement which supports both of legacy API and curator-x-discovery based API. 😃 It requires only one API modification to the users.

[2018-02-12 09:20] dongjinleekr commented on #1005
For API modification, I will create another issue which describes the problem and the solution throughly.

[2018-02-12 10:09] anuraaga commented on #996
@trustin I think the best example may be gRPC - it's an RPC protocol implemented without RPCResponse, except for setting it in log builder.

[2018-02-12 10:21] dongjinleekr opened #1007 "Provide alternative way to create ZooKeeperUpdatingListener"
\* It is a preparation of #882 - it will be implemented on top of this update.

Since Armeria will support Apache Curator integration with #882, we should replace the current implementation of Zookeeper-based Service Discovery with `CuratorFramework` based one. (If not, the legacy `ZookeeperConnector` will conflict with the `CuratorFramework` instance - I experienced it.)

The problem is: Currentl

[2018-02-13 00:59] tanakeeeeen opened #1008 "Lack of armeria essential artifacts in the BOM"
Hi
I wanna use the armeria BOM, but it seems to be lack of armeria core artifacts as below.
http://repo1.maven.org/maven2/com/linecorp/armeria/armeria-bom/0.57.0/armeria-bom-0.57.0.pom
armeria
armeria-grpc
armeria-jetty
...etc

Could you add the artifacts as above to BOM?

[2018-02-13 02:50] trustin commented on #1008
Yes. Will fix before the next release.

[2018-02-13 04:28] tanakeeeeen commented on #1008
@trustin
Thanks, I understand.

[2018-02-13 13:50] huydx opened #1009 "Expose netty channel option to end-user"
For some high performance network applications, users may need to tune those options
SO_REUSEADDR for example

[2018-02-14 07:19] imasahiro commented on #996
@trustin

Sounds good. Let me update my PR with #997

[2018-02-19 03:48] trustin opened #1010 "User-defined decorator annotations"
Currently, a user has to define a class with a default constructor to specify a decorator on an annotated service:

[code]

It would be great if a user can define his or her own decorator annotation, e.g.

[code]

Armeria itself could also make use of this feature to provide an easy access to its decorators such as `LoggingService` and `ThrottlingService`.

/cc @hyangtack

[2018-02-19 09:26] #1005 closed

[2018-02-19 10:01] imasahiro commented on #1009
We may want to introduce server/client netty option like lettuce's [NettyCustomizer](https://github.com/lettuce-io/lettuce-core/blob/9b7b318c134ed7ae7993f9d1030b38f4653dd24a/src/main/java/com/lambdaworks/redis/resource/NettyCustomizer.java)?

[2018-02-19 10:40] trustin commented on #1009
I guess that will increase the future difficulty of shading Netty. It'd be fine if choose not to shade Netty, though :-)

[2018-02-20 03:11] #996 closed

[2018-02-20 10:56] anuraaga opened #1013 "HttpStatusBasedRetryStrategy should allow retrying on exceptions rather than just HTTP status"
Currently, `HttpStatusBasedRetryStrategy` ignores exceptions in the result. It is common to have exceptions like `ClosedSessionException`, which should be retried since they can be random socket closures, so it seems like a bad default to ignore the exceptions. Should we have it default to retrying on exception?

[2018-02-20 14:30] daveconde opened #1014 "H2 with Linkerd"
I am trying to get retrofit to proxy via Linkerd using h2c. I need to be able to override the authority header as mentioned [here](https://linkerd.io/getting-started/k8s/) while still keeping the URL pointing at the linkerd host and port. How do I set this using the armeria client?

Thanks

[2018-02-20 16:55] trustin commented on #1014
You can override the headers sent by an Armeria HTTP client as explained here: https://line.github.io/armeria/client-custom-http-headers.html

You could override the ':authority' header using one of the 3 ways explained? Please let me know if it does not work so we can fix it.

I'm also curious about what you think about the current way of overriding headers. Can we do better in terms of simplicit

[2018-02-20 17:02] trustin commented on #1014
More specifically, you could use 'ArmeriaRetrofitBuilder.withClientOptions()' to set the ClientOption.HTTP_HEADERS option:

withClientOptions((uri, builder) -> builder.setHttpHeader(HttpHeaderNames.AUTHORITY, "..."))

[2018-02-20 17:04] daveconde commented on #1014
I attempted the below with a decorator but it seems the authority is being set from the URL instead of the header override.

`retrofit = new ArmeriaRetrofitBuilder()
                    .baseUrl("h2c://" + host)
                    .addConverterFactory(JacksonConverterFactory.create())
                    .withClientOptions((url, optionsBuilder) -> {
                        optionsBuilder.decorato

[2018-02-20 21:53] trustin commented on #1014
I guess :authority header cannot be overridden in current implementation but it's an unnecessary restriction we enforced. Let me whitelist :authority in the next release, which should be out this week.

Thanks!

[2018-02-20 23:38] daveconde commented on #1014
As a workaround I have configured linkerd to look for another header but as far as I can see any extra headers are removed before the call goes over the wire.

[2018-02-21 01:01] trustin commented on #1014
That's weird. Could you share your construction code so I can reproduce?

[2018-02-21 22:10] daveconde commented on #1014
After lots of debugging I got to the bottom of the issue. The headers were actually being removed on the initial protocol upgrade call. Unfortunately linkerd doesn't support protocol upgrade. Setting useHttp2Preface(true) on the client got me passed that. I then configured linkerd to look for a new dedicated header for routing requests as documented [here](https://github.com/linkerd/linkerd/blob/m

[2018-02-22 03:24] trustin commented on #1014
Thanks a lot for taking your time to fix the problem! I left a question at #1016.

[2018-02-22 06:32] trustin opened #1022 "ConcurrentModificationException in DefaultKeyedChannelPool.doClose()"
[code]

[2018-02-22 06:33] trustin commented on #1022
/cc @anuraaga

[2018-02-22 06:40] anuraaga commented on #1022
I can only see this happening if one of these futures isn't on the event loop. Do you think it's possible?

https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/pool/DefaultKeyedChannelPool.java#L128

https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/pool/DefaultKeyedChannelPool.java#L198

[2018-02-22 06:42] trustin opened #1023 "Allow specifying alternative Deflater in HttpEncodingService and HttpEncoders"
so that a user can use a non-default Deflater settings such as compression level.

/cc @anuraaga

[2018-02-22 06:43] trustin commented on #1022
@mauhiz Could you elaborate on how this happened?

[2018-02-23 09:12] #1014 closed

[2018-02-23 09:13] trustin commented on #1014
@daveconde Could you please try the latest master and let us know if the problem is gone? Thanks!

[2018-02-23 09:28] hyangtack opened #1025 "Inject List<?> type parameter with @Header annotation"
Several HTTP headers can be sent with the same name. We missed that kind of situation before. Need to enhance annotated HTTP service to support it.

[2018-02-23 09:33] hyangtack opened #1026 "Support Cookie header injection by annotated HTTP service"
We may automatically decode `Cookie` header as a Java object like `io.netty.handler.codec.http.cookie.Cookie`.

[2018-02-23 10:13] trustin commented on #1026
We probably should also look into other implementations such as `AsyncHttpClient` and fork the best one.

[2018-02-23 13:20] tobias- opened #1028 "Zombie gRPC connections"
When using constructs of the type:
[code]
there is no way to know if the client has disconnected. OnCancelHandler is not called, nor is there any exception thrown when sending more data. It will just silently discard all data sent.

I've added a test case (CC0 on my changes, claim ownership if you want)
https://github.com/tobias-/armeria/tree/zombie_connections

[2018-02-23 15:20] tobias- commented on #1028
It seems that https://github.com/line/armeria/blame/master/grpc/src/main/java/com/linecorp/armeria/server/grpc/ArmeriaServerCall.java#L208 silently ignores the result from `res.write()`.
IMHO it should be throwing an Exception when res.write returns false (which according to the javadoc indicates that the stream has already been closed).

@anuraaga Could you confirm/deny that this isn't intended?

[2018-02-23 15:39] anuraaga commented on #1028
Thanks for debugging this - I had thought for some reason `AbortedStreamException` would be thrown but it looks like checking for `false` is required.

@trustin What do you think of changing write to return `void` and throw when it's closed? I notice reactor seems to behave like that.
https://projectreactor.io/docs/core/release/api/reactor/core/publisher/FluxSink.html#next-T-

[2018-02-23 23:58] trustin commented on #1028
+1 for throwing an exception. Could add tryWrite() that returns boolean instead.

[2018-02-24 12:40] dongjinleekr commented on #1007
/cc @trustin @anuraaga @imasahiro

[2018-02-26 13:42] dongjinleekr opened #1035 "Can't specify NodeValueCodec when creating ZooKeeperUpdatingListener instance"
I found this problem while working on #882 and #1005.

As of now, there is a parity problem in the service discovery feature; Although `ZookeeperEndpointGroup` provides a way to specify `NodeValueCodec` with `ZooKeeperEndpointGroup(String, String, int, NodeValueCodec)`, the counterpart is missing in `ZooKeeperUpdatingListener`.

We should provide a way to specify `NodeValueCodec`, which determines

[2018-02-26 13:43] dongjinleekr commented on #1035
@trustin @anuraaga @imasahiro This problem can be solved with #1007 at once. You can check the implementation [here](https://github.com/dongjinleekr/armeria/commit/e646b4c23ec2219c51495b574d98ee24dffb9206).

[2018-02-27 06:23] AshishGL commented on #361
xtartx You are a saviour bro ! Thanks big time!

[2018-02-27 09:35] rfkm commented on #1022
I encountered the same issue after upgrading Armeria from 0.55.1 to 0.58.1:

[code]

This seems to happen when I run integration tests that create an application context (Spring) and then destroy it quickly.

[2018-02-27 15:06] anuraaga opened #1037 "Check gRPC backpressure code."
Since the gRPC stream reader requests an HTTP frame as soon as it gets another one, I don't think it is correctly implementing backpressure, it should probably only request as many frames as needed to satisfy the current request of messages.

[2018-02-27 15:41] anuraaga commented on #1037
Looked again at the code and found that it's probably working ok - will look into whether it's possible to improve the testing for it. The current test only verifies when the message is delivered to the business logic, but not when the message is delivered from server to client (admittedly, probably hard to test).

Logic:
https://github.com/line/armeria/blob/master/grpc/src/main/java/com/linecorp/

[2018-03-01 05:36] anuraaga opened #1039 "Unexpected exceptions in duplicate stream may not be notified to subscribers"
I noticed that a refcnt exception in the duplicator stream gets logged but is not returned to the subscriber. This means that an exception causes the stream to just hang forever, with futures never completing. This might be ok, since the alternative is way too many `catch (Throwable)`, and it just means we have to be careful in righting code that can't throw exceptions, but want to hear what you t

[2018-03-01 12:39] anuraaga opened #1040 "Possible race in HTTP/2 flow control handling"
I am writing a cloud storage client based on armeria where it is common for the client to send multiple, e.g. 1MB requests across the same HTTP/2 connection at the same time. I encountered issues though where with simultaneous requests, some would complete while others just hang forever. With Logging client enabled, the requests are all shown but only zero to one responses when 2-4 requests are se

[2018-03-01 16:17] kishida opened #1041 "Not to use `Deplicated` methods in the docments"
😭
![image](https://user-images.githubusercontent.com/1178746/36855658-6a2e65f2-1db7-11e8-92f7-8e1df9a795ce.png)

[2018-03-01 17:14] kishida opened #1042 "Exception should be thrown when the port collides."
The code does not throw any `Exception`, not put any logs.
[code]
It will make hard to find a mistake especially when starting to use Armeria.

[2018-03-02 02:40] minwoox commented on #1039
Oops~ I think we need to return the exception to the subscriber. I never realized that it can throw an exception there :)

[2018-03-02 02:43] anuraaga commented on #1039
It only can throw an exception due to programming error in armeria itself, not user code, so it's not so clear to me that we need to - not sure ;)

[2018-03-02 03:14] anuraaga commented on #1039
Well - I guess working with a pooled buffer may always have issues due to user error as well, so leaning towards checking the refcnt or exception after thinking a bit more.

[2018-03-02 04:32] trustin commented on #1007
SGTM. Looking forward to your PR.

[2018-03-02 04:32] trustin commented on #1035
Sounds good to me. Please send a PR. :-)

[2018-03-02 06:25] #1003 closed

[2018-03-02 08:03] #1000 closed

[2018-03-02 08:50] trustin commented on #707
/cc @huydx

[2018-03-02 08:54] huydx commented on #707
I will handle that

[2018-03-02 09:04] minwoox commented on #1013
Sorry for the late response.
As you said, it will be better retrying when those exceptions happen by default. I will make a PR for that. Thank you~!!

[2018-03-02 09:32] trustin commented on #1022
@rfkm @mauhiz https://github.com/line/armeria/pull/1045 should fix this issue.

[2018-03-02 10:22] #1028 closed

[2018-03-02 12:38] #1022 closed

[2018-03-05 08:14] trustin commented on #1008
https://github.com/line/gradle-scripts/pull/8 should fix this issue.

[2018-03-05 08:28] trustin commented on #938
Fixed via #1011 by @hyangtack. Thanks!

[2018-03-05 08:28] #938 closed

[2018-03-05 12:33] eonezhang opened #1048 "When update to spring-boot 2.0, armeria-spring-boot-start has compile error."
when I update my app to spring-boot 2.0, my app cannot startup due to io.micrometer:micrometer-spring-legacy dependency.

here is my build.gradle
[code]

[2018-03-05 12:40] trustin commented on #1048
We never tested our spring-boot integration with spring-boot 2.0 so far. What happens if you exclude `micrometer-spring-legacy` from transitive dependencies?

[2018-03-05 13:06] trustin commented on #1013
I think it highly depends on how and when such an exception has been raised. That being said, we have some questions like:

- Should we retry on any `Exception` types or on just a few specific types?
- Should we retry when the HEADERS frame of the response has been received but connection has failed (or exception has been raised) before the last frame is received?
- Should we retry when an error o

[2018-03-05 13:10] anuraaga commented on #1013
I agree that it shouldn't be all-encompassing, and questionable to default, but it is probably useful to add knobs on the builder we already have to make it simple to treat exception as failure. Otherwise, the only option is forking lots of logic like this

https://github.com/curioswitch/curiostack/blob/master/common/google-cloud/armeria-cloud-storage/src/main/java/org/curioswitch/curiostack/gclou

[2018-03-05 13:16] trustin commented on #1013
Agreed. How about this:

- Provide a builder like `RetryStrategyBuilder` which provides various knobs, `HttpStatus` and `Exception` most notably.
  - Do some composition, like composing `HttpStatusBasedRetryStrategy` and `ExceptionBasedRetryStrategy`?
- Change `RetryStrategy.on*Status()` to default to 'retry on any exceptions thrown before content preview is done.'

[2018-03-05 23:28] trustin opened #1050 "ServerBuilder.port() raises an exception when H1/H1C/H2/H2C is specified"
From Slack:

It seems like some users are confused about this behavior. For disambiguation, we could replace `port()` with `http()` and `https()`, with some deprecation phase. What do you think?

[2018-03-06 00:26] #1041 closed

[2018-03-06 01:26] minwoox commented on #1050
I thought about adding the explanation which SessionProtocol can be accepted, but having `httpPort()` and `httpsPort()` is much better.

[2018-03-06 02:39] #1008 closed

[2018-03-06 06:54] eonezhang commented on #1048
it seems OK when exclude the dependency.
[code]

[2018-03-06 07:10] trustin commented on #1048
@eonezhang Great! @imasahiro is working on this at #1049. Please feel free to review.

[2018-03-06 11:35] #1050 closed

[2018-03-07 09:34] eonezhang commented on #1048
I'm following this, @trustin @imasahiro  thanks for your quick response.

[2018-03-07 09:42] eonezhang opened #1061 "service register to zookeeper with hostname, does IP supported"
while I integrate my service with armeria-zookeeper, it registered with the hostname of the service deployed. but our servers were routed by ip other than hostname.

so I want to know is there any options to make the service bind with the IP of the server other than hostname to zookeeper.

[2018-03-07 12:54] bsideup commented on #1037
Our pattern:

A streaming response (server -> client), ~32 streams per channel

Sometimes we observed more data than requested, but the major issue was not getting data when a consumer does the request **and** there is data available upstream.

Patterns:
**Over-provisioning** on big volumes of available data upstream

**Under-provisioning** when there was no data for some time, but then some data

[2018-03-07 13:06] anuraaga commented on #1037
Thanks for the info! A few more questions

1) By channel, do you mean server, or single connection (i.e., single server client pair)?
2) For over provisioning, did you notice increased memory usage on the server or unexpected transfer of bytes to the client?
3) For under provisioning, does it mean it's just stuck, and the client will never get data again? Or it's late? Or dropped but future data d

[2018-03-07 13:16] bsideup commented on #1037
@anuraaga
1) ManagedChannel instance from gRPC
2) sorry, didn't pay attention to the memory usage when we had the issue
3) "stuck", yes.
4) no, the logs were empty (we do monitor the exceptions from both sides)

[2018-03-08 02:55] anuraaga opened #1063 "Idle HTTP/2 streams should be timed out"
Currently, idle timeout occurs only when there is no unfinished requests in a connection.

https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/HttpServerIdleTimeoutHandler.java

I think we need per-stream idle timeout for infinite streaming use cases - for long-living streams, users have to disable request/response timeout, so we need a way to timeout streams

[2018-03-08 07:22] LiYing2010 opened #1066 "Default "RequestConverterFunction" for Java beans"
Currently, there are only 3 default implements for `RequestConverterFunction`:
(1)`ByteArrayRequestConverterFunction`
(2)`StringRequestConverterFunction`
(3)`JacksonRequestConverterFunction`

If I want to parse request parameters from `path mapping result`, `query string`, `request headers`, and wrap all these parameters into a Java Bean, I have to implement my own `RequestConverterFunction` class

[2018-03-08 07:32] trustin commented on #1066
Sounds like a good idea. Please feel free to send us a PR if you are interested. I'm curious how you would inject the parameters into the member fields or the setter method invocations. Do you know any light-weight bean property injection library we can use as a shaded dependency?

[2018-03-08 07:37] trustin commented on #1061
You can specify an `Endpoint` explicitly when instantiating `ZooKeeperUpdatingListener`:

[code]

Is this what you are looking for?

[2018-03-08 07:43] trustin commented on #1061
Or, do you want `ZooKeeperUpdatingListener` to determine the IP address of the machine automatically? What would be the desired behavior if there are more than one network interface in the machine?

[2018-03-08 09:06] eonezhang opened #1067 "How to get ThreadLocal variables for Async Thrift Service."
here is my requirements,
1. Extract rpc context info from HttpRequest by Decorator and set it to the ThreadLocal.
[code]

2. In my Thrift service, try to get info from context, but the context is null.
[code]
here `ctx=null`

I know the async call was excuted on another thread, but in my case, the legacy code was heavily depend on ThreadLocal variables, is there any solution for this OR any workar

[2018-03-08 09:11] trustin commented on #1067
There are various ways to handle this.

1.

You can put your context into Armeria's context:

[code]

2.

You can use `onEnter` and `onExit` callbacks:

[code]

[2018-03-08 09:31] eonezhang commented on #1061
I let have a try, and post the result here later. @trustin thanks for your suggestion.

[2018-03-08 12:54] #1037 closed

[2018-03-08 13:07] trustin commented on #1013
Closed by #1056. Thanks @anuraaga and @minwoox for suggestion and fix.

[2018-03-08 13:07] #1013 closed

[2018-03-08 13:10] trustin commented on #1042
You should not ignore the `CompletableFuture` returned by the `start()` method.

[2018-03-08 13:13] trustin commented on #1042
Obviously, the first example [here](https://line.github.io/armeria/server-basics.html) does not call `join()` on the returned future. Let me send a PR for this.

[2018-03-08 13:20] trustin commented on #1040
Were the recent fixes relevant to this issue?

[2018-03-08 14:33] eonezhang commented on #1067
@trustin both way work fine for me. and I have extra question for option 1, it seems no cleanup for the `context` object, does it introduce memory leak, is it necessary to remove my `context` object from the `armeriaCtx` like below:
[code]
and if it is true, I want to know where should I put this code fragment.

[2018-03-09 01:32] trustin commented on #1067
When a request is complete, `ServiceRequestContext` will usually be garbage-collected. You don't have to remove your attribute unless you need to clean up your resources manually, e.g. files and database connections

[2018-03-09 01:42] anuraaga commented on #1040
Actually, I forgot that this is just a normal `HttpClient` and not gRPC so probably not. Anyways will try again with new armeria to confirm

[2018-03-09 02:17] minwoox commented on #1039
Closed by #1065

[2018-03-09 02:17] #1039 closed

[2018-03-09 06:03] trustin opened #1070 "Deprecation of HttpResponseWriter.respond() leads to verbose code"
For example, with the current API:

[code]

Before deprecation:

[code]

Obviously, the former would be more efficient because it uses an optimized version of `HttpResponse`, but it looks more verbose than the latter. What could we do to improve this?

/cc @anuraaga @imasahiro @kojilin

[2018-03-09 06:11] trustin commented on #1070
When `DererredHttpResponse` was not deprecated, we did this, which has less level of indirection:

[code]

Although this isn't ideal either, it's slightly less verbose and more efficient than the first example.

[2018-03-09 06:16] trustin commented on #1070
Perhaps this could get better if we add some more methods to `DeferredHttpResponse` (and maybe to `HttpResponseWriter` as well?):

[code]

[2018-03-09 06:37] minwoox commented on #1070
The last example looks good to me . 👍

[2018-03-12 06:26] trustin opened #1072 "Add annotated service support to DocService"
It would be also convenient if a user can browse and invoke an annotated service from `DocService`. Additionally, with support for OpenAPI annotations, we could even show some documentation for it.

[2018-03-12 06:29] trustin opened #1073 "Better streaming support for request/response content in annotated service"
A user should be able to:

- Convert a request content into a `Publisher` or a `Stream`
- Convert a `Publisher` or a `Stream` into a response content

We should also check other collection types such as `Iterable` and `Map` are supported.

[2018-03-12 06:31] trustin opened #1074 "Better interop with reactive/async APIs"
We could provide some plugins for RxJava and Project Reactor to set `RequestContext` and `EventLoop` automatically. Similarly, we should ensure our `CompletableFuture` wrapper sets them correctly.

[2018-03-12 06:32] trustin opened #1075 "Support Server-Sent Events"
https://en.wikipedia.org/wiki/Server-sent_events

[2018-03-12 06:33] trustin opened #1076 "Support WebSocket"
https://en.wikipedia.org/wiki/WebSocket

[2018-03-12 06:34] trustin opened #1077 "Better interop with load balancers"
- Support for `x-forwarded-for` (and related) headers in the core API
- Support for HAProxy protocol

[2018-03-12 06:36] trustin opened #1078 "Better interop with other JVM languages"
Most notably Scala and Kotlin. We could write a sample project that makes sure at least:

- there's no compilation error due to type parameter inference.
- there's no issues with nullness checker.

[2018-03-12 06:38] trustin opened #1079 "Make documentation more friendly to async/reactive programming beginners"
Perhaps we could provide background information about:

- How we use Netty
- Asynchronous/reactive programming
- Thread model, what is event loop?

[2018-03-12 06:59] trustin opened #1080 "Add more convenience methods to *RegistrationBean"
For example, setting a decorator in `*RegistrationBean` is not very user friendly. We could provides ways to add more then one decorator.

[2018-03-12 07:00] trustin commented on #1080
/cc @kojilin

[2018-03-12 07:02] trustin opened #1081 "Provide annotated services a way to return a successful response with alternative status code"
For example:

[code]

Related: https://github.com/line/centraldogma/pull/141#discussion_r173067177

[2018-03-12 07:04] trustin opened #1082 "Default ClientFactory's shutdown hook conflicts Spring's shutdown hook"
A Spring user who uses `ClientFactory.DEFAULT` may observe the problem where the default `ClientFactory` is closed before his/her Spring application is fully destroyed.

We should figure out what the best way to solve this. One option would be to provide an option to disable the shutdown hook, but it doesn't look elegant to me.

[2018-03-12 07:15] trustin opened #1083 "A user may get the wrong RequestContext when contexts are nested"
When a user writes a service that invokes a request using an Armeria client, the `ServiceRequestContext` will be *hidden* by the client's `ClientRequestContext`. This can cause various unexpected hard-to-spot behaviors, especially when a user is using frameworks like RxJava, such as:

- When a user accesses the properties of `RequestContext`, a wrong value may be returned.
- When a user assumes th

[2018-03-12 07:16] trustin commented on #1083
We could:
- Copy attributes automatically,
- Do not copy attributes but look for the parent context attributes, or
- Separate client and server context completely?

[2018-03-12 07:33] trustin opened #1084 "EndpointGroup design issues"
It seems like some users have the following concerns with the current `EndpointGroup` and `EndpointGroupRegistry` API:

- Using a 'string' as a way to specify a target endpoint group makes it hard to build a clear dependency between an `EndpointGroup` and a `Client`.
- There's no clear unified contract for the life cycle of an `EndpointGroup`, which complicates the user application shutdown proces

[2018-03-13 04:56] hyangtack commented on #1081
I think that we need to introduce some class like Spring's [ResponseEntity](https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/http/ResponseEntity.html) to make the response flexible.

[2018-03-13 05:32] minwoox commented on #1070
I was the one who was insisting that we need those APIs after deprecating the `HttpResponseWriter.respond(...)`. Because I feel that it's not convenient and a little verbose to implement the logics when we need to return the `Future` first and complete it later.
After thinking about it a little bit more, I kinna agree that we might not need them which can be more loads to our clients.
I'm still no

[2018-03-13 07:01] hyangtack opened #1086 "Add default response converters for annotated HTTP service"
We don't have any default response converters for now, but it would be better if we provide some default response converters based on `@ProduceType` value or negotiated media type. We can provide them for `json` or `binary` at first step, but we may add more converters for several media type later.

[2018-03-13 09:10] rfkm commented on #1082
Let me explain the trouble I faced before.
While my project uses Armeria with a custom factory, I accidentally had set up `HttpHealthCheckedEndpointGroup` without specifying our own factory.
As a result, all requests failed even though the custom factory was still alive during the shutdown process, because the default factory was already closed and that marked all endpoints unhealthy.

It still lo

[2018-03-13 09:11] trustin commented on #1082
Thanks for adding background information about this issue, @rfkm. Very helpful.

[2018-03-14 05:37] trustin opened #1087 "Add Endpoint.ipAddr()"
Currently, `Endpoint.host()` is used as a hostname or an IP address of an endpoint. This does not work well for the `Endpoint`s whose IP addresses are known already. For example, let's say we want to use `DnsServiceEndpointGroup` with the following SRV records:

[code]

Because the client will have to create a TLS connection with proper SNI settings, the `Endpoint` should provide `foo.com` as the

[2018-03-14 05:47] trustin commented on #1087
Classes that need changes:

- `Endpoint`
- `PoolKey`
- `HttpClientDelegate`
- `HttpSessionChannelFactory`

[2018-03-14 05:48] anuraaga commented on #1087
Ah - yeah I did think about this a little but figured it wouldn't be necessary, obviously I didn't think about SNI though. Being able to specify both host and IP for a resolved endpoint sounds good. I'm not sure if we need to modify `DnsServiceEndpointGroup` to send the A queries since they'd be resolved using the normal DnsResolver either way, AFAIU.

[2018-03-14 05:55] trustin commented on #1087
Cool. Let me send a PR this or next week.

[2018-03-14 06:00] trustin opened #1088 "Generalize endpoint decoding from DNS records"
We currently provide `DnsServiceEndpointGroup` that decodes the SRV records compatible with k8s. In some case, a user may want to:

- Use a different format for SRV records or
- Use other record type than SRV, such as TXT to decode the endpoint information

We could generalize `DnsServiceEndpointGroup` so we support such use cases.

[2018-03-14 06:14] anuraaga commented on #1088
To clarify, `SRV` records have a standard format, it's not related to `k8s`. I just looked at this spec - https://en.wikipedia.org/wiki/SRV_record

[2018-03-15 07:23] #1087 closed

[2018-03-15 08:05] hyangtack commented on #1010
I think it's good idea but it has some limitation because Java annotations only accept primitive types, String, Class, Enum, .. as its member. How about this?

- Introduce a factory to instantiate a new decorator with the given 'delegate' (e.g. a factory method like `Function<Service<..>, Service<..>>`)
- Pre-create a factory map via `ServerBuilder` with a name as its key and a factory instance as

[2018-03-15 08:08] trustin commented on #1010
Doesn't it defeat the original purpose of this issue - ability to define a custom annotation? How can a user create a custom annotation and pass parameters to his/her decorators in an annotated service class?

[2018-03-15 08:23] hyangtack commented on #1010
I thought you filed this issue to find a way of reusing our existing decorator like `LoggingService`. Also, I thought that a custom annotation is one of the way to do it. So I focused on how to use the existing decorators in annotated service easily. If the original purpose of this issue is to define a custom annotation, we need to implement your suggestion first. :-)

[2018-03-15 09:14] hyangtack commented on #1010
I think we can implement like below:
[code]
Also I think that it would be better to have pre-defined factory instance pool because a user may want to inject their other object to be used in the decorator. WDYT?

[2018-03-15 09:26] trustin commented on #1010
SGTM :-)

[2018-03-15 09:47] trustin opened #1092 "Buffer leak reported during StreamMessageDuplicatorTest"
Got this while running `./gradlew -Pleak clean test`:

[code]

You can check if there was a leak simply by running `grap -rFl 'LEAK:' .`

[2018-03-15 10:21] chenjianfei2017 opened #1095 "how to get remote address when using thrift based on http"
As title shows, I am using thrift server based on http, something like: "sb.service("/report", THttpService.of(new MyHelloIml(), ThriftSerializationFormats.JSON)",  MyHelloIml is a class defined by thrift, the question is how should I do to get remote address in this situation? It looks like that Armeria does not provide interface to solve this problem.

[2018-03-15 11:03] LiYing2010 commented on #1066
Hi, I created a PR for this:  https://github.com/line/armeria/pull/1096
Could anyone review it?

[2018-03-15 12:30] anuraaga commented on #1040
I tried with http2 again and it seems to be working fine. Perhaps it was a backend issue or Netty version upgrade helped, not sure but seems to be working.

[2018-03-15 12:30] #1040 closed

[2018-03-15 23:51] trustin commented on #1066
Thank you! We will review it soon. :+1:

[2018-03-15 23:57] trustin commented on #1095
You can get the RequestContext object from your service implementation:

    ServiceRequestContext ctx = RequestContext.current();
    InetSocketAddress.raddr = ctx.remotrAddr();

Let me know if it works for you.

[2018-03-16 02:41] #1092 closed

[2018-03-16 03:04] trustin commented on #1040
Great to hear that. Not sure what the problem really was though. :-/

[2018-03-16 06:58] chenjianfei2017 commented on #1095
Your comments solved my problem perfectly! My appreciation to you for your generous help is beyond my words.

[2018-03-20 05:39] hyangtack opened #1099 "Port unification"
In some use-case, an HTTPS server needs to handle HTTP messages, but Armeria doesn't allow this case.

[2018-03-26 15:41] imasahiro commented on #1009
Realized that we already exposing API that customize socket options at `ClientFactoryBuilder` but didn't expose at `ServerBuilder`. How about just exposing `ChannelOption` instead of adding general netty customizer?

[2018-03-27 02:19] trustin opened #1103 "Provide an extension point in LoggingClient/Server for constructing a log message"
A user may want to have more control over how a log message is built. It is currently hard-coded in `LoggingDecorators`, but we could make it customizable.

/cc @jwills

[2018-03-27 10:38] techno opened #1104 "Zipkin dependency issue with spring-boot2"
We are using Armeria with Spring-boot 2 and Gradle.

Since spring-boot 2.0, spring-boot gradle plugin no longer add group name to the name of jar.
https://github.com/spring-projects/spring-boot/issues/10778

As a result, conflict zipkin artifacts used by Armeria in jar.
Jar file contains two `BOOT-INF/lib/zipkin-2.5.1.jar` in our project.
Also application booting up failed sometime.... (result dep

[2018-03-28 04:30] trustin commented on #1104
Thanks for reporting!

[2018-03-28 04:40] trustin commented on #1104
https://search.maven.org/remotecontent?filepath=io/zipkin/java/zipkin/2.6.1/zipkin-2.6.1.pom
https://search.maven.org/remotecontent?filepath=io/zipkin/zipkin2/zipkin/2.6.1/zipkin-2.6.1.pom

It seems like `io.zipkin.java:zipkin` is not just an alias. If I replace `io.zipkin.java:zipkin` with `io.zipkin.zipkin2:zipkin`, it fails to compile:

[code]

[2018-03-28 04:43] trustin commented on #1104
If I understood the issue correctly, it's a limitation of spring gradle plugin or an artifact naming issue with Zipkin. Did you try this workaround? https://github.com/spring-projects/spring-boot/issues/10778#issuecomment-372573514

[2018-03-28 07:12] trustin opened #1105 "Integrate with Netflix concurrency-limits and Uber QALM"
@jwills said:

[2018-03-28 09:34] #1066 closed

[2018-03-28 09:35] trustin opened #1106 "Add documentation for BeanRequestConverterFunction"
/cc @LiYing2010

[2018-03-28 14:22] LiYing2010 commented on #1106
OK.
I will do it in a few day.

[2018-03-29 08:08] eonezhang opened #1109 "Can Armeria work with Linkerd"
I'm curious about how can I combine armeria with linkerd.
I saw linkerd support [grpc](https://linkerd.io/config/1.3.6/linkerd/index.html#grpc-default) and [thrift](https://linkerd.io/config/1.3.6/linkerd/index.html#thrift-protocol) routes.

[2018-03-29 09:03] trustin commented on #1109
There was once a bug report about the interoperability with Linkerd at #1014 which has been resolved. That being said, Armeria should now have no problem with Linkerd, but I didn't try to run Linkerd by myself yet.

@daveconde, does Armeria work fine with Linkerd now? How was your experience so far?

[2018-03-29 09:15] trustin commented on #1014
Sent #1110 for defaulting to HTTP/2 preface upgrade

[2018-03-29 09:26] #790 closed

[2018-03-30 11:37] anuraaga opened #1112 "ArmeriaHttpUtil.toArmeria allocates tons of garbage"
Currently, armeria converts netty headers to armeria headers. In some profiling, I noticed tons of `byte[]` garbage is created by `AsciiString.toString()`, because the value type of our headers object is `String`. Would it make sense to change that to `CharSequence` since many use cases are satisfied by it? Alternatively, I'm thinking of putting a cache of `AsciiString` to `String` there to reduce

[2018-04-02 00:45] #1109 closed

[2018-04-02 04:44] anuraaga commented on #1112
Sent #1114 as a strawman's proposal - changing the interface of `HttpHeaders` seems pretty intense and not clearly a win.

I'm also wondering whether we should have `DefaultHttpHeaders` contain an `Http2Headers` field instead of creating a new `HttpHeaders` - I noticed a fair bit of allocation of new `HeaderEntry` objects when we copy from the netty object to armeria one. I think it'd be overall b

[2018-04-03 07:18] techno commented on #1104
I tried the workaround, and it works well.

BTW, the brave library only depend on zipkin2, so I thought we can replace with zipkin2 completely.
But it seems difficult...

[2018-04-03 07:18] #1104 closed

[2018-04-04 06:12] LiYing2010 commented on #1106
Created a PR for this:  https://github.com/line/armeria/pull/1116
Could you please review it?

[2018-04-04 07:45] anuraaga opened #1117 "ClientDecoration order is unclear"
Even looking at the code, I believe it's in reverse-order of e.g., `decorator` calls to `ClientBuilder`, but I have trouble grokking to have 100% confidence. We should document the order in related Javadoc

[2018-04-04 16:15] trustin opened #1120 "Buffer leak while building ':grpc'"
/cc @anuraaga

I'm not sure if this is really a leak or just a test leak, but got this while running `./gradlew -Pleak :grpc:test`:

[code]

Yes, that's all. There are no records logged for whatever reason. Probably a bug related with recent changes in Netty leak detector's record housekeeping logic.

[2018-04-05 05:26] #1106 closed

[2018-04-06 10:03] Necropaw opened #1128 "Please update protobuf-jackson to newest version"
### Expected behavior
Runs with Java 10

### Current behavior
Because of using net.bytebuddy:1.7.0 in protobuf-jackson:0.11 the upstream error happens: raphw/byte-buddy#351

[protobuf-jackson](https://github.com/curioswitch/curiostack/releases/tag/protobuf-jackson-0.2.0) released a new version for support for Java 10 because of this.

[2018-04-08 13:33] #1007 closed

[2018-04-08 13:33] #882 closed

[2018-04-08 13:33] #1035 closed

[2018-04-09 03:42] #1128 closed

[2018-04-09 03:43] trustin commented on #1128
Thanks for reporting, @Necropaw

[2018-04-09 07:57] trustin opened #1133 "Fix test failure in ZooKeeperRegistrationTest"
[code]

/cc @dongjinleekr

[2018-04-09 08:25] dongjinleekr commented on #1133
Hmm, it seems like this test is so flaky. Let me have a look.

[2018-04-09 08:34] trustin opened #1134 "GrpcService with default serialization formats does not show a debug form in DocService"
Unlike `THttpService`, a user has to enable more serialization formats to make `DocService` show the debug form for a `GrpcService`. Perhaps we should:

- make it less surprising,
- update our documentation, or
- add some instructions to the DocService page without the debug form

What do you think, @anuraaga ?

[2018-04-09 08:55] anuraaga commented on #1134
Yeah with some more documentation and with text in `DocService` or at least a `logger.info`, it would be much clearer. I think the default for it to be off is safer, at least for servers that might be exposed to external traffic since exposing unframed JSON can be a huge DDoS opportunity - it's the main reason I didn't default those on.

I have been thinking for some time, and a little related to

[2018-04-09 09:19] trustin opened #1136 "GrpcDocServicePlugin does not handle the services with exact mapping"
When a user binds a `GrpcService` using `ServerBuilder.service(ServiceWithPathMappings)`, its debug form does not show up in `DocService`, because `GrpcDocServicePlugin` only accepts the `ServiceConfig`s with a prefix-mapping. See `GrpcDocServicePlugin.java:149`.

[2018-04-09 09:23] trustin opened #1137 "ServiceWithPathMappings is hard to decorate"
Let's say we created a `GrpcService`:

[code]

To fix this issue, we need to remove the type constraint of `ServerBuilder.service(ServiceWithPathMappings)` and do runtime validation only.

What do you think?
/cc @anuraaga

[2018-04-09 23:50] trustin commented on #1112
Solved partially by #1114, but needs a fundamental fix. Need to think a little bit..

[2018-04-10 03:35] anuraaga commented on #1137
I think this is why we added the `decorator` version of the method to `ServerBuilder` - is it too confusing? I feel like it's enough

https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/ServerBuilder.java#L729

[2018-04-10 03:41] trustin commented on #1137
Ah, yeah. Completely forgot about that one. Let me close this issue. :+1:

[2018-04-10 03:41] #1137 closed

[2018-04-10 04:05] trustin opened #1139 "Allow specifying different CORS policies for different origins"
Currently, it is not possible to specify different CORS policies for different origins, due to the limitation in our API design.

Related: https://github.com/netty/netty/issues/7785 https://github.com/netty/netty/pull/7800

We could change our API, for example:

[code]

I believe `CorsConfig` will have breaking changes.

/cc @jprante

[2018-04-10 06:10] dongjinleekr opened #1140 "Make Endpoint coherent again"
I found this problem while working at #1007, #1035 & #882. And it also related to #1084 possibly.

Currently, `Endpoint` class represents various concepts; host or group endpoint, along with weight. As @trustin left:

We can improve the current design by separating attributes (e.g., weight) and splitting host/group endpoint.

[2018-04-10 06:12] dongjinleekr commented on #1140
![endpoint-design](https://user-images.githubusercontent.com/2375128/38539077-8dae39e2-3cd1-11e8-887e-634575eaf740.png)

How about this design?

[2018-04-10 08:39] trustin opened #1141 "Missing properties in AnnotatedServiceRegitrationBean"
Reported by @taicki

There's no way to specify exception handlers and converters when registering an annotated service via `AnnotatedServiceRegistrationBean`. A user may be able to use `@ExceptionHandler`, `@RequestConverter` or `@ResponseConverter`, but it may not be possible if they do not have default constructor.

[2018-04-10 09:16] trustin commented on #1140
I'm not sure I like the idea of complicating the endpoint idea. It's too soon to tell what the best way to model an endpoint is until we have more load-balancing algorithms. Maybe it's just OK as it is? 'weight' is a fairly common concept which is understood by most load-balancing algorithm.

[2018-04-10 09:16] trustin commented on #1140
@line/cdtf What do you think?

[2018-04-11 04:16] anuraaga opened #1143 "Difficult to request from an absolute URL with HttpClient"
Currently, `HttpClient`'s various `get`, `execute`, etc methods can only be used with a URL path. There are cases that a user has an absolute URL (such as from a `Location` header) and I think this can only be used by parsing the URL into authority + path and creating a client for the authority. It would also be nice to allow something like `HttpClient.DEFAULT.get("https://github.com/foo/bar/gaz")

[2018-04-11 06:15] #1136 closed

[2018-04-11 11:16] trustin commented on #1143
Agreed. A user doesn't really need to specify authority or scheme when creating an `HttpClient`. May require a fair bit of refactoring.

[2018-04-12 05:56] anuraaga opened #1146 "Invalid argument deep in netty code"
I recently started making a new request in my code, and I am getting a strange error when trying to connect. It might be a problem in my code, though I suspect the recent `Endpoint` changes a little too, but hard to work out what the problem might be if it's in my code since it's very deep and has an IPv6 address which I definitely don't create or reference anywhere. Any quick thoughts on it? Pres

[2018-04-12 05:59] anuraaga commented on #1146
Actually, this code doesn't use `Endpoint` so guess not related to that.

[2018-04-12 12:55] #1133 closed

[2018-04-13 08:46] trustin commented on #1088
As @anuraaga said, SRV record has a standard format and we can't change that, i.e. there's no point of allowing customization.

It would be useful to build an `Endpoint` from a TXT record, but #1148 doesn't fix that yet.

[2018-04-13 09:43] trustin commented on #1088
#1148 now has `DnsTextEndpointGroup`.

[2018-04-17 22:18] trustin commented on #1146
`DnsAddressResolveContext` sends only `A` question if IPv6 is not available, which matches the previous behavior - https://github.com/netty/netty/blob/cd4594d29244f7bea9d718e74ec4ecdcb6c62c13/resolver-dns/src/main/java/io/netty/resolver/dns/DnsAddressResolveContext.java#L34

We here assume OS has IPv6 support, mainly because there's no Java API that allows us to check the underlying OS has IPv6 su

[2018-04-18 01:24] anuraaga commented on #1146
Yeah but all Java code, including Netty, is supposed to use ipv4 if it got both ipv4 and ipv6 based on this flag.

https://github.com/netty/netty/blob/602ee5444dcd2c9adad9bdffb93ae907ccad5649/common/src/main/java/io/netty/util/NetUtil.java#L130

I'm not sure but believe the `getPreferredAddress` function was allowing this to happen, though I perhaps hackily (it seems to rely on the dns record retu

[2018-04-18 11:03] anuraaga commented on #1146
I have sent https://github.com/netty/netty/pull/7875 upstream to fix this

[2018-04-23 09:55] #1088 closed

[2018-04-24 03:00] #570 closed

[2018-04-24 08:58] #1010 closed

[2018-04-25 08:58] minwoox opened #1161 "Provide a way to turn on the circuitBreaker according to the HTTP response"
Currently, CircuitBreakerClient calls circuitBreaker.onFailure(cause) only when
an exception is raised. So there's no way to trigger when it receives 503 unless a user
implement your own CircuitBreakerClient.

[2018-04-25 20:32] rkapsi commented on #1009
+1 I'm very interested in this feature and happy to PR it

[2018-04-26 00:41] trustin commented on #1146
OK to close?

[2018-04-26 01:58] #1146 closed

[2018-04-26 17:03] rkapsi opened #1165 "NPE from void service method"
Void service methods throw a NPE and result in a `HTTP 500 Internal Server Error` response. IMHO they shouldn't result in a NPE and be handled as `HTTP 204 No Content`.

[code]

[code]

[2018-04-27 02:01] hyangtack commented on #1165
@rkapsi Thanks for reporting! Let me send a PR in order to fix this issue.

[2018-04-27 04:53] hyangtack commented on #1165
Fixed.  https://github.com/line/armeria/pull/1166/commits/3db8bf79ac7d21403b53ff235ff91204328ab8ec

[2018-04-27 11:25] trustin commented on #1009
We must decide we should shade Netty or not first. If we do, we must hide the references to the Netty classes from our public API. Otherwise, we can expose Netty classes in our public API. How we should tackle this issue changes vastly depending on this. Let me create a poll.

[2018-04-27 11:55] trustin opened #1168 "[Poll] Shading Netty"
Related issues:
- #705 Shade Netty to simplify dependency conflicts against other systems
- #988 (wip) Shaded Netty
- #1009 Expose netty channel option to end-user

We must decide to shade Netty or not in our shaded JARs.

Why? Because we cannot shade Netty as long as we expose Netty classes in our public API.

Why? Because otherwise our public API will be different between our shaded JARs and uns

[2018-04-27 11:58] trustin commented on #1168
/cc @anuraaga @arkadius @imasahiro @rkapsi @taicki and anyone interested

[2018-04-27 11:58] trustin commented on #1009
Created a poll - https://github.com/line/armeria/issues/1168

[2018-04-27 12:02] trustin commented on #1168
I voted to all three options so that the voters can cast conveniently. I'll cast/uncast mine when I close the poll.

[2018-04-27 12:52] #1165 closed

[2018-04-27 12:55] trustin commented on #1165
Should be part of the next release. Please feel free to give it a try and let us know if the fix worked for you. As you might already know, the workaround is as simple as returning `HttpResponse.of(204)`.

[2018-04-27 14:41] anuraaga commented on #1168
Thanks for setting up the poll :)

Out of curiosity, do you expect a performance impact from the abstraction? I guess it will mostly inline and be minimal and want to confirm with your feeling.

Also, since `ByteBuf` is advanced and unsafe, what do you think about leaving it as is? If an advanced user runs into issues they can shade themselves. I personally use it a lot for performance reasons and

[2018-04-28 02:31] trustin commented on #1168
I think there will be performance impact if we replace `AsciiString` with something else because Netty HTTP 1/2 codecs handle it specially. We can of course fork Netty's HTTP codecs although it's not ideal.

That would fall into the option (2) - shading Netty partially, in this case 'everything except `netty-buffer`.'

[2018-04-28 13:34] rkapsi commented on #1168
To give a bit context for my selfish vote. Our application is a Netty application (an Software Edge LB). Many years ago we managed the lifecycle of that application ourselves. But then a need for internal APIs (think dashboards) emerged and we didn't want to build these higher level abstractions on Netty. The Servlet API and Jersey (v1) are kind of nice for that stuff.

So we started to embed our

[2018-04-29 07:14] trustin commented on #1168
@rkapsi We can expose all Netty channel options via some abstraction layer even if we shaded Netty, so no worries :-)

[2018-04-30 11:14] rogerbosman opened #1169 "Can we use armeria in a NIO/NAIO (not AIO) way?"
So first of I'm sorry if something here is unclear or wrong, I'm still wrapping my head around this whole NIO vs AIO subject, and the terms being used inconsistently doesn't help.

My understanding so far is that we can utilize libraries like Netty to do "true" NIO/NAIO, meaning that we can execute multiple request on the same thread, thus not needing a thread pool (using something like epoll). Th

[2018-04-30 12:53] anuraaga commented on #1169
To clarify, by AIO, here, do you mean delegating I/O tasks to a thread pool while NIO is executing all I/O on an event loop? If so, then armeria is completely NIO with optional support for delegating to a threadpool for business logic (usually a Thrift synchronous service). Even DNS is non-blocking, which is quite rare from what I've seen.

For HTTP/2 it is possible to serve everything on one conn

[2018-04-30 13:33] rogerbosman commented on #1169
Thanks for the reply!

To summarise my question, I understand the benefits that the thread-per-core model given by event-driven has over the thread-per-connection, and that using a library that is async but internally blocking (i.e. using its own, internal thead-per-request threadpool) somewhat mitigates this effect as there are still many threads (but hidden inside this library).

As far as I und

[2018-04-30 13:41] anuraaga commented on #1169
That sounds correct - armeria's connection handling is a fairly thin wrapper around Netty so uses the same threading model of having only a few threads serving many connections. This is true for pretty much all armeria related code (including retrofit which you mentioned) with only some unavoidable exceptions for supported business logic like implementing a synchronous Thrift service, since that b

[2018-04-30 13:56] rogerbosman commented on #1169
Thanks for the quick and helpful reactions! Question answered :)

[2018-05-01 00:02] trustin opened #1170 "Make Micrometer DistributionSummary and Timer settings customizable"
It is currently not possible to customize the settings of `DistributionSummary`s and `Timer`s, such as `expiry` and `bucketLength`.

See `MoreMeters.summary/timerWithDefaultQuantiles()`.

/cc @jwills

[2018-05-01 00:32] trustin opened #1171 "Add PrometheusMeterRegistries.defaultRegistry"
.. so that a user doesn't have to call `PrometheusMeterRegistries.newRegistry(CollectorRegistry.defaultRegistry)`.

    public static final PrometheusMeterRegistry defaultRegistry =
            newRegistry(CollectorRegistry.defaultRegistry);

/cc @jwills

[2018-05-01 12:02] trustin commented on #1169
Thank you for answering, @anuraaga !

[2018-05-01 12:02] #1169 closed

[2018-05-02 03:15] hyangtack opened #1175 "Refactor annotated HTTP service"
The first goal is to extract a common code from `AnnotatedHttpServiceMethod` and `BeanRequestConverterFunction` to support `@Param`, `@Header` and `@Default` annotations in a same way.

It might be to support `@RequestObject` annotation for a bean so that a bean is able to hold another bean. I'm not sure yet if this feature is good or not.

[2018-05-02 03:16] hyangtack commented on #1175
@LiYing2010
Let me work on this issue. If you have any idea, please let me know.

[2018-05-04 04:05] #1171 closed

[2018-05-04 06:00] imasahiro commented on #650
Here is full stacktrace.
[code]

[2018-05-04 06:03] trustin commented on #650
Thanks, @imasahiro.

[2018-05-04 09:12] chenjianfei2017 commented on #1095
hi, I have another problem. What should I do to get real client address since nginx is used as a revise proxy? I found some API: proxiedAddresses().sourceAddress(). I tried like this: RequestContext.current().proxiedAddresses().sourceAddress(), but it got errors. How should I do to get client address correctly?

[2018-05-04 11:48] trustin commented on #1095
You can configure NGINX to set a header like `X-Forwarded-For`, and then you can get the header from `RequestContext.request()`. You can downcast it to `HttpRequest`:

[code]

Please consult NGINX documentation about setting the `X-Forwarded-For` header.

[2018-05-04 11:48] trustin commented on #1095
https://www.nginx.com/resources/wiki/start/topics/examples/forwarded/

[2018-05-04 13:57] chenjianfei2017 commented on #1095
I see. I got correct address now! Thanks very much.
May I give a suggestion? Perhaps we can supply more documentation and examples since armeria is so powerful.
Best wishes.

[2018-05-07 04:14] eonezhang opened #1183 "How armeria service been tested"
is there anyone can share some best practice to test armeria service components, with mockito or anything else?

[2018-05-07 04:31] eonezhang commented on #1183
I have service depends on TService, so I want to mock the TService while unit test. I don't find a good way to mock the TSerivce(thrift service), I'd like to hear the experience from  you.

[2018-05-07 10:33] imasahiro commented on #1183
I think it depends on what kind of feature you want to test. In our case, we sometimes mocks `MyService.Iface` or  `MyService.AsyncIface` like [this](https://github.com/line/armeria/blob/75ec237f5e61e56bfe3076a5e4d025bc96ad5f14/thrift/src/test/java/com/linecorp/armeria/it/client/retry/RetryingRpcClientTest.java#L73)

[2018-05-08 00:53] trustin commented on #1095
Sure. That'd deserve a dedicated issue.

[2018-05-08 00:53] #1095 closed

[2018-05-08 00:57] trustin commented on #1183
If you don't mind integrated testing, you can try [`ServerRule`](https://line.github.io/armeria/apidocs/index.html?com/linecorp/armeria/testing/server/ServerRule.html):

[code]

[2018-05-08 00:58] trustin commented on #1168
Gentle reminder - I'll close this poll this evening (GMT+9).

[2018-05-08 03:57] trustin commented on #1183
You'll have to mock `YourServiceClassGeneratedByThriftCompiler.AsyncIface` or `*.Iface`.

[2018-05-08 13:22] rogerbosman opened #1185 "Armeria performance, slower than OKHTTP?"
Hi,

I have run tests to verify armeria's performance.
For this, I have two scenario's written in RxKotlin. One uses Square's "regular" retrofit, and one uses Armeria's. Both use the RxJavaCallAdapterFactory. The only change for the scenario's is what Retrofit instance is loaded. If Retrofit's performance is 100%, I am measuring 110% for Armeria. Is this right? Are we sacrificing response time for

[2018-05-09 02:28] #650 closed

[2018-05-09 06:02] trustin commented on #1185
There's some theoretical limit on what we can achieve with Retrofit integration because Armeria has to convert OkHttp classes into Armeria classes and vice versa, whereas the builtin implementation doesn't have to perform any conversion.

However, we are very interested in minimizing the conversion overhead and in achieving higher throughput by scaling better.

[2018-05-09 06:04] trustin commented on #1185
Let me leave this issue open until we have a better picture about the performance of our Retrofit integration.

[2018-05-09 06:30] trustin commented on #1168
Closing the poll:

- :smile: 1
- :tada: 5
- :heart: 10

Let us not shade Netty.

[2018-05-09 06:30] #1168 closed

[2018-05-09 06:30] trustin commented on #705
Closing. See #1168 for more information.

[2018-05-09 06:30] #705 closed

[2018-05-09 08:32] trustin opened #1188 "Add HttpData.toInputStream(), toReader(Charset), toReaderUtf8() and toReaderAscii()"
Will be convenient when working with streams.

[2018-05-10 01:46] #1170 closed

[2018-05-10 02:49] #961 closed

[2018-05-10 06:00] #1141 closed

[2018-05-10 08:25] eonezhang commented on #1183
@trustin thanks for your response, I found it's difficult to mock `AsyncIface`, do you have any good idea.

[2018-05-10 08:57] #1080 closed

[2018-05-10 09:04] trustin commented on #1183
With Mockito, it would be like this, assuming `iface` is the mock and it has a method called `foo(String, AsyncMethodCallback<Void>)`:

[code]

[2018-05-11 05:28] hyangtack opened #1193 "Add format tokens corresponding to the values in RequestLog"
It would be better to have format tokens for the values, such as:
- total duration
- request start/end time, duration
- response start/end time, duration
- request length

[2018-05-12 10:41] imasahiro commented on #1048
#1049 was merged. Could you try to use `armeria-spring-boot-*` please?

[2018-05-15 02:05] LiYing2010 commented on #1175
great job~~

[2018-05-16 01:43] trustin opened #1198 "Intermittent failure in DropwizardMetricsIntegrationTest"
[code]

[2018-05-16 09:07] anuraaga opened #1200 "HttpClientBuilder() should accept strings without serialization format"
Currently, there are two versions of `HttpClientBuilder()`, one that takes a `String` and one that takes `URI`. The latter automatically prepends `none+` to the `URI` but the former will just reject URL strings without a serialization format. It's surprising for these two similar methods to have different accepted input - I think it's better of the `String` version also automatically adds `none+`

[2018-05-16 09:31] imasahiro commented on #1200
Both `HttpClient.of(String)` and `HttpClient.of(URI)` finally use same `HttpClientBuilder` constructor (`HttpClientBuilder(URI)`). So `HttpClient.of(String)` accepts string without serialization format, right?

https://github.com/line/armeria/blob/54e124d73178609b4f0af6d833ea562a1ce15bd9/core/src/main/java/com/linecorp/armeria/client/HttpClientBuilder.java#L47-L49

https://github.com/line/armeria/

[2018-05-16 09:35] anuraaga commented on #1200
Oops - I thought the issue also affected `HttpClient.of`, sorry for not checking. I would expect `HttpClientBuilder` to have identical behavior as the static methods so changed issue for that.

[2018-05-16 09:36] anuraaga commented on #1200
Actually looking at your snippet, I see what you're saying. Hmm, let me find the exception I saw.

[2018-05-16 09:37] anuraaga commented on #1200
[code]

[2018-05-16 09:42] anuraaga opened #1201 "HttpClient using h2c for http URL for some reason"
Using armeria to fetch access tokens in Google Cloud, I ran into weird behavior that it tries to use `h2c` for an `http` URL, and fails when the response is `h1c`.

[code]

Note that `:scheme` is `http` but `scheme` is `none+h2c`.

The user code fails with `ClosedSessionException` and there is a log

[code]
The decoded bytes are `<DOCT`. This is somewhat strange too since you'd expect an HTTP/1 re

[2018-05-16 09:51] imasahiro commented on #1200
Just checked current `(Http)?ClientBuilder` behavior.

[code]

[code]

[2018-05-16 09:52] anuraaga commented on #1200
Oops! Got the classes mixed up in my head :( I went from `HttpClient` to `ClientBuilder` instead of `HttpClientBuilder`. I guess `ClientBuilder` requiring format but not `HttpClientBuilder` makes sense.

[2018-05-16 09:54] anuraaga commented on #1200
I'll go ahead and close this issue since the behavior seems reasonable, though possibly too easy to get mixed up.

[2018-05-16 09:54] #1200 closed

[2018-05-16 10:04] imasahiro commented on #1201
Recently, I saw similar error when updating armeria. Because client's default behavior is changed by https://github.com/line/armeria/pull/1110, IIRC, if a server cannot recognize request for http2, it fails.
1 workaround for this is disable useHttp2Preface. How do you think @trustin ?

[2018-05-16 12:20] #1198 closed

[2018-05-17 03:01] eonezhang commented on #1183
@trustin great thanks and appreciate for you response.
here is my workable sample for test async interface of thrift. for some people need it.
[code]

[2018-05-17 03:17] trustin commented on #1183
@eonezhang Thanks a lot for sharing your solution. Let me close this question, then.

[2018-05-17 03:17] #1183 closed

[2018-05-17 05:15] anuraaga commented on #1201
Hmm - I had interpreted that PR as being fine now that there are no incompliant HTTP/2 servers, with no relation to HTTP/1 servers but if it doesn't work for normal HTTP/1 servers, it might be a bad default as it prevents armeria from being a drop-in replacement for `HttpUrlConnection`.

[2018-05-17 06:30] trustin commented on #1201
After reading the source code of `PrefaceDecoder`, it rather seems like a bug in Google's HTTP server, given that it sent plaintext content right rather then the SETTINGS frame after sending a connection preface string. However, I'd like to check the complete traffic just in case it's our bug.

[2018-05-17 09:32] anuraaga commented on #1201
Will try to check with traffic logger at some point - unfortunately not trivial since this server requires the code to be deployed to the cloud :/

[2018-05-17 13:59] trustin commented on #1200
Not directly related but perhaps we could tolerate the case where the scheme starts with `none+`?

[2018-05-17 16:13] DrMattFaulkner opened #1206 "ArmeriaRetrofitBuilder & HTTP2 - Max Number of Streams"
Hi,

I'm using the ArmeriaRetrofitBuilder to wrap an HTTP2 REST API call asynchronous:

[code]

But I am getting this error:

`io.netty.handler.codec.http2.Http2Exception$StreamException: Maximum active streams violated for this endpoint.`

Am I using something wrong?
If not, how do I set the max number of active streams?

Thanks

[2018-05-17 16:59] trustin commented on #1206
Does the problem occur when you send just one request? If not, how many concurrent requests do you send?

The default maximum number of active streams in Armeria (and Netty) is `Integer.MAX_VALUE` which is effectively infinite (https://http2.github.io/http2-spec/#iana-settings), so I think you should never see that exception unless your server is configured to limit the number of active streams.

[2018-05-17 17:03] DrMattFaulkner commented on #1206
The server side is configured for a max concurrent streams of 128.

It doesn't occur with a single request. I'm trying to perform a load test ( ~ 1 million calls ) as fast as I can.

[2018-05-18 01:47] hyangtack opened #1207 "HTTP header/parameter-based path mapping"
Spring framework provides HTTP header/parameter-based path mapping like below:

[code]

I think that it's not a high priority issue, but we need to figure out how to support this kind of usage.

[2018-05-18 08:35] trustin commented on #1206
I believe it's a defect in Armeria client implementation which does not respect the max number of active streams.

[2018-05-18 08:37] trustin commented on #1206
What would be the desired behavior when a connection reaches at its max active streams? Creating a new connection?

[2018-05-18 08:40] trustin commented on #1206
Related section in the RFC: https://http2.github.io/http2-spec/#rfc.section.5.1.2

[2018-05-18 08:57] hyangtack opened #1211 "Test failure: com.linecorp.armeria.common.rxjava.RequestContextAssemblyTest"
[code]
/cc @kojilin Do you have any idea?

[2018-05-18 09:25] DrMattFaulkner commented on #1206
FYI I used https://nghttp2.org/documentation/h2load-howto.html with the same configuration and all was good.

[2018-05-18 10:38] trustin commented on #1206
Correct. The problem is that Armeria currently does not respect the server-provided value.

Isn't MAX_CONCURRENT_STREAMS applied on per-connection basis and thus we can open as many streams as we want as long as we open new connections? Please correct me if I'm wrong.

In HTTP/2, each request is a 'stream', i.e. active streams == the requests in progress

and the server is NGINX, right?

[2018-05-18 10:43] LiYing2010 opened #1213 "False warning about path param auto-injection"
The following code checks if all the path mapping parameters are consumed by function parameters:
https://github.com/line/armeria/blob/0296b6cb71945cf0871ac957e896fe95b8c64151/core/src/main/java/com/linecorp/armeria/server/AnnotatedHttpServices.java#L574-L580

if not, it will output a warning log.

But we added a new feature: [`Injecting value of parameters and HTTP headers into a Java object`](ht

[2018-05-18 10:46] LiYing2010 commented on #1213
I think I can fix this problem.
But I must wait PR https://github.com/line/armeria/pull/1191 merged, to avoid source code conflict

[2018-05-18 12:44] DrMattFaulkner commented on #1206
That sounds right to me.

I think this was your question, but what should happen if your number of requests exceeds the max active streams?

Actually no. I'm using a jetty http2 server. Although I don't think this makes much difference in this example.

Should there should be a setHttp2StreamLimit method to set a client side limit?

[2018-05-18 14:56] trustin commented on #1206
I think it's fine to just make a new connection as long as the server accepts it.

Yes, but it's unimplemented at the moment. I think you can work around this issue by decorating the `HttpClient` you specified with `ConcurrencyLimitingHttpClient`:

[code]

I must admit this is not ideal at all: 1) It should work without this workaround and 2) the way of decorating is too verbose. Let me try to fin

[2018-05-18 15:07] trustin commented on #1206
- Provide a way for a user to specify `MAX_CONCURRENT_STREAMS` setting on the server side.
- Make client respect the `MAX_CONCURRENT_STREAMS` setting, i.e. modify `DefaultKeyedChannelPool` so it does not acquire a channel which reached at the maximum number of concurrent streams.
- Add more variants of `decorator()` methods to `AbstractClientOptionsBuilder`:
  - `httpDecorator()` and `rpcDecorator

[2018-05-18 16:46] DrMattFaulkner commented on #1206
I would like to have a way of bounding the number of connections a client makes too. I don't know what should happen in the case of hitting the max stream AND max connections. Maybe just block the client?

[2018-05-21 03:42] #1188 closed

[2018-05-21 04:14] hyangtack commented on #1211
It was caused by a bug in PR #1191. Thanks to @kojilin . :-)

[2018-05-21 04:14] #1211 closed

[2018-05-21 07:11] trustin opened #1215 "Rename the 'status' tag to 'httpStatus' in 'MeterIdPrefixFunction.ofDefault()'"
.. because `status` is somewhat unclear.

[2018-05-21 14:39] LiYing2010 commented on #1213
Thanks.
Should I close this issue? or wait your PR merged, and make a proper check logic for path param and Java Bean?

[2018-05-22 07:45] anuraaga opened #1216 "DynamicEndpointGroup should only notify when endpoints changed"
Currently, `DynamicEndpointGroup` notifies listeners anytime when `setEndpoints` is called. This happens even if the endpoints didn't change, which doesn't seem very useful. I think a couple options would be

1) (preferred) `DynamicEndpointGroup` doesn't call `notifyListeners` when endpoints didn't change (by using `Object.equals` to compare the old and new ones)
2) `DynamicEndpointGroup` notifies

[2018-05-22 10:22] trustin commented on #1216
+1 I'm also curious if `DynamicEndpointGroup` should normalize the ordering of endpoints.

[2018-05-23 02:34] hyangtack commented on #1213
Actually I believe that it may be overkill to check all beans in order to suppress this warning log. Besides, there may be another request converter which consumes a path variable without using `@Param` annotation. It means that we cannot check exactly whether all path variables are consumed or not. What do you think?

[2018-05-23 04:45] anuraaga commented on #1216
Yeah seems reasonable - sent a PR

[2018-05-23 06:03] hyangtack commented on #1026
What if we add `Cookies` interface which extends `Set<Cookie>` like below?
[code]

So we can decode `Cookie` header when a user specify `Cookies` on his or her parameter of an annotated service method.

[2018-05-23 07:47] #1175 closed

[2018-05-23 08:09] hyangtack commented on #1025
Closed by #1191

[2018-05-23 08:09] #1025 closed

[2018-05-23 08:45] adriancole opened #1223 "Consider changing the http tracing code to use Brave's HttpTracing helper"
Currently, the tagging policy of Armeria is framework-specific. This is not a problem in "pure armeria" applications per-se, but on the other hand, it doesn't leverage the abstraction work in Brave with regards to span lifecycle and data policy.

Most notably, using the `brave-instrumentation-http` library allow users to plugin standard sampling and tagging policy types. This is particularly helpf

[2018-05-23 09:07] anuraaga commented on #1223
I remember looking at that code and avoided it for some reason - can't remember what that reason was though, it might not have been a good one.

[2018-05-23 11:26] #1216 closed

[2018-05-24 04:02] hyangtack opened #1224 "Support an alias for a bunch of annotations"
Example
Define an alias annotation like below:
[code]

Use the alias like below:
[code]

[2018-05-24 08:52] #1215 closed

[2018-05-24 08:52] #1026 closed

[2018-05-25 03:57] #1009 closed

[2018-05-29 13:03] #1086 closed

[2018-05-29 17:24] trustin opened #1231 "Provide a way to create a client with an Endpoint rather than with a URI"
A user sometimes would want to use `Endpoint` to create a client especially when he or she wants to specify the IP address of the remote address explicitly:

[code]

This way, a user doesn't have to write the boilerplate code like this:

[code]

[2018-06-03 06:23] anuraaga opened #1241 "Default flow control window in Http2Settings?"
I was looking through upstream gRPC code and noticed they always set a default initial flow control window size in their `Http2Settings`

https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/netty/NettyServerBuilder.java#L58

Do you think armeria should set a default too? From what I can tell, the default is 64K, which seems pretty small and might affect connection warmup perf

[2018-06-04 10:08] anuraaga opened #1243 ":authority header not set by armeria"
I noticed that requests from armeria don't contain `:authority` (I think so from some debugging but let me know if I missed it). Should `HttpClientDelegate` automatically set `:authority` if it's not set manually?

[2018-06-04 10:37] anuraaga commented on #1243
Sorry found it in HttpRequestSubscriber!

[2018-06-04 10:37] #1243 closed

[2018-06-07 04:52] trustin commented on #1241
Sounds like a good suggestion.

[2018-06-07 05:03] trustin commented on #1241
Related: #1206

[2018-06-07 05:05] trustin commented on #1048
Should be fixed via #1049. Please open a new issue if this is still a problem.

[2018-06-07 05:05] #1048 closed

[2018-06-07 05:06] #1140 closed

[2018-06-07 05:08] trustin commented on #1042
Closing, since we updated our documentation at #1068. Thanks for feed back, @kishida!

[2018-06-07 05:08] #1042 closed

[2018-06-07 05:08] #1067 closed

[2018-06-07 05:08] #1061 closed

[2018-06-07 05:09] trustin commented on #258
Indeed. Let me close this issue. Thanks!

[2018-06-07 05:09] #258 closed

[2018-06-07 05:13] trustin commented on #940
#1172 fixes this.

[2018-06-07 05:13] #940 closed

[2018-06-07 05:15] trustin commented on #977
Didn't see this failure quite a while.

[2018-06-07 05:15] #977 closed

[2018-06-08 06:52] #529 closed

[2018-06-12 14:48] demongaorui opened #1252 "GRPC exception status code to HTTP status code could be improved"
Currently, Armeria-GRPC is mapping GRPC exception response status code very generally, for example:   For status ALREADY_EXISTS(GRPC status code: 6) to Http status 500.

While the upstream [GRPC gateway](https://github.com/grpc-ecosystem/grpc-gateway/blob/master/third_party/googleapis/google/rpc/code.proto) is mapping  ALREADY_EXISTS(GRPC status code: 6) to [Http status 409(Conflict)](https://gith

[2018-06-12 14:49] trustin commented on #1252
Sounds like a good suggestion. What do you think, @anuraaga?

@demongaorui Please let us know if you interested in sending a PR :-)

[2018-06-12 15:10] anuraaga commented on #1252
To clarify, you are referring to unframed requests, right? For normal gRPC, the status code is always 200.

Changing the way to map errors to codes in unframed seems fine, though mapping `ABORTED` and `ALREADY_EXISTS` to the same code also seems very weird to me, but matching the behavior for unframed requests is a good change.

[2018-06-12 15:23] demongaorui commented on #1252
@anuraaga Yes, you are right, I mean unframed requests.  And, mapping `ABORTED ` and `ALREADY_EXISTS ` both to `HTTP Mapping: 409 Conflict` indeed is weird.

@trustin I'd like to prepare a PR to improve Armeria-GRPC unframed requests mapping and also raise up a discussion issue in the upstream repository for mapping rules at the same time. Let's see whether they have particular reasons for the wei

[2018-06-13 07:10] gembin opened #1253 "armeria spring boot2: why thrift is required?"
I tried armeria spring boot2, but got the following exception, why thrift is required if i only need HTTP service?
Exception
[code]
[code]
Java code
[code]
If i add `armeria-thrift` dependency, it works.
[code]

[2018-06-13 07:42] trustin opened #1254 "Armeria server does not handle the `Expect: 100-continue` header correctly."
`Http1ObjectDecoder` and `Http2ObjectDecoder` does not send `100 Continue` informational header when a client sends a request with the `Expect: 100-continue` header, which is obviously a violation of the HTTP specification, unless we want to reject the request.

Reported by @jwills

[2018-06-13 07:58] trustin commented on #1254
One problem with implementing this at the decoder level is that a `Service` will not be given a way to reject the request before a client sends the body because the decoder will always just respond with `100 Continue`. This is not ideal for a service with large request payloads such as file upload service.

[2018-06-13 08:06] trustin commented on #1254
Alternatively, we may be able to allow a `Service` to choose to handle an `Expect` header by handling the `Expect` header in `HttpServerHandler`:

- `HttpServerHandler` queries a service is it desires to handle the `Expect` header by itself.
- If so, pass the request as it is and do not perform any additional processing.
- If not, remove the `Expect` header from the request headers so that the `Se

[2018-06-13 08:08] trustin commented on #1254
How do we let a user tell us his or her `Service` will handle an `Expect` header by itself? I think we can introduce a tag interface like we did `TransientService`, such as, `ExpectAwareHttpService`? Naming suggestion appreciated.

[2018-06-13 08:21] trustin commented on #1254
After thinking a little bit more, I realize it's harder than initially thought. For example, let's say a user decorates his or her `Service` with various decorators which may want to reject the request, such as `HttpAuthService`. In this setup, some decorators may need to check the `Expect` header but others may not want to do so.

[2018-06-13 08:36] trustin commented on #1254
Again, this is also harder than expected, because the `Service` implementation would become way more complicated due to different way of building a response, e.g.

[code]

[2018-06-13 15:16] jwills commented on #1254
Is this something I can simply handle myself in my own server impl?

[2018-06-14 10:34] trustin opened #1258 "Default MeterIdFunction implementation sometimes adds 'httpStatus' tag to 'activeRequests'"
Stack trace:

[code]

We'd beter define two methods for `MeterIdPrefixFunction` - one for `activeRequests` and the other for other meters.

[2018-06-14 10:35] trustin commented on #1258
/cc @huydx Found this from the build output.

[2018-06-14 12:39] huydx commented on #1258
let me fix that

[2018-06-15 02:17] #1258 closed

[2018-06-18 01:43] trustin opened #1263 "Add an option to send a PING frame periodically for HTTP/2 connections"
.. both on client and server side. See https://httpwg.org/specs/rfc7540.html#PING

[2018-06-18 01:46] trustin opened #1264 "Allow setting client socket options without creating a ClientFactory"
It is very common for a user to adjust the client socket parameters such as connection timeout and buffer sizes. It is quite cumbersome to create and manage a new `ClientFactory` just because of this rather than using the default `ClientFactory`.

[2018-06-18 02:09] trustin opened #1265 "Provide ways to diagnose connection level issues"
Provide a definite answer to 'why my request didn't succeed?', e.g.

- detailed DNS lookup progress
- connection attempt timing
- connection pool timing
- SSL handshake
- request header/body start/end timing
- response header/body start/end timing
- ...

Related:
- https://square.github.io/okhttp/3.x/okhttp/okhttp3/EventListener.html
- The 'network' tab in web browser developer tools

Things to co

[2018-06-18 02:16] trustin commented on #1264
We could compromise a little bit - the connections created before socket options set would not be affected.

[2018-06-18 08:44] imasahiro opened #1267 "Compile failure at spring-boot-autoconfigure with JDK10"
I didn't have time to dig much but I failed to build armeria with JDK10. Do you have any idea to fix this error?

[code]

[code]

[code]

For some reason, entry was recognized as `Object`, not `Class` at https://github.com/line/armeria/blob/armeria-0.66.0/spring/boot-autoconfigure/src/main/java/com/linecorp/armeria/spring/ThriftServiceUtils.java#L91

If you rewrite code as follow, it can pass comp

[2018-06-20 03:09] trustin opened #1269 "Allow specifying path prefix for a GrpcService"
A user wants to do something like the following:

[code]

.. which is prohibited by `ServerBuilder` because there are two duplicate path mappings. We could add `GrpcServiceBuilder.pathPrefix()`:

[code]

.. which should be fine because the mappings provided by `GrpcService` are all exact mappings.

[2018-06-20 03:11] trustin commented on #1267
I guess it's a compiler bug (because it just compiled fine on JDK 8). Let me try to find some time to build Armeria on JDK 10..

[2018-06-21 09:04] anuraaga commented on #529
I realized I was enjoying the previous behavior by having a framework that registers a default service for a path, but providing a customization point to allow code to customize `ServerBuilder` before it runs, so they could provide a different implementation if needed. The only way to support that now I think is to have an explicit way to disable the default service, which adds some extra noise.

[2018-07-03 04:37] anuraaga opened #1275 "AbstractMethodError in latest tcnative"
I tried upgrading armeria, which gets the latest netty and tcnative, but I get the below exception on all client requests. JDK10 issue? Fixing tcnative to 2.0.10 works fine.

Java: JDK10
armeria: 0.67.1
netty: 4.1.25
tcnative: 2.0.11

[code]

[2018-07-04 04:18] trustin commented on #1275
Doh! Yeah JDK10 related I guess. Let me take a look this week.

[2018-07-05 06:12] Adanz commented on #1076
great!

[2018-07-06 04:07] anuraaga opened #1279 "ServerBuilder.tls should cause server to only start with HTTPS?"
I was confused recently when I used `ServerBuilder.tls(ctx)` and it started with both HTTP and HTTPS. I was expecting behavior similar to when calling `ServerBuilder.https(0)` in that when TLS is requested, it is the only one enabled. Does anyone else feel the same confusion?

[2018-07-10 05:12] #1267 closed

[2018-07-11 09:42] anuraaga opened #1282 "Support for raw(?) EC private keys"
I'm not sure what the actual name of the format is, but EC keys are often generated in a non-PKCS8 format by default, e.g., with

[code]

and currently Armeria can't load them. It'd be nice if it could. Not sure the ideal way, but I've found that converting to PKCS8 when there's an error works ok, but quite gross...

https://github.com/curioswitch/curiostack/blob/master/common/server/framework/src

[2018-07-12 00:42] trustin commented on #1279
That's a good question. Yes, I agree it may be confusing and sometimes could be a security concern. +1 for defaulting to HTTPS only when `.tls()` was invoked without any `http/https/port()`. Thoughts? @minwoox @hyangtack

[2018-07-12 00:43] trustin opened #1283 "Add an option to disable duplicate path mapping detection"
As proposed by @anuraaga at https://github.com/line/armeria/issues/529#issuecomment-399030430

[2018-07-12 01:20] hyangtack commented on #1279
@trustin @anuraaga +1

[2018-07-12 02:09] anuraaga commented on #1283
Also I was thinking this is probably cleanest as adding `serviceIfAbsent` methods. It would be too much to add all the convenience method versions but just two for `PathMapping` and `ServiceWithPathMapping` should be complete and enough since it's just an advanced usage.

[2018-07-12 02:24] trustin commented on #1283
Duplicate detection can never be perfect, so `serviceIfAbsent()` would not work as expected - it may be added even if there is actually a duplicate mapping. :sob:

[2018-07-12 02:37] trustin commented on #1283
We also check duplicates for all trie-based path mappings. Regex-based mappings complicate the matter.

I see a few options here:

- Add an option that disables duplicate mapping detection.
  - We may also want to add a method the checks if there's duplicate mapping.
- Do not perform duplicate mapping detection at all, i.e. revert the PR.
  - .. because a user will notice eventually? /cc @imasahir

[2018-07-12 02:41] #1279 closed

[2018-07-12 02:51] trustin commented on #822
May be fixed via #1281

[2018-07-12 02:51] #822 closed

[2018-07-12 03:00] minwoox commented on #1283
I think we need to catch the duplicate paths as much as possible although it cannot be perfect.
So the user would notice when he/she start the server.
I like the way that allow a user to specify the callback and the default callback is raising an exception.

[2018-07-12 03:16] hyangtack commented on #1283
I agree with @minwoox 's comment. Option 1 or 3 sounds good to me.

[2018-07-12 03:17] anuraaga commented on #1283
Yeah the callback sounds good too. Maybe it can be something on the exception itself, something like `DuplicatePathException#applyAnyways()`, and users just catch the exception if they care about applying anyways.

[2018-07-12 03:59] trustin commented on #1282
I guess a better place to fix this is `io.netty.handler.ssl.PemReader` and its callers.

[2018-07-12 04:01] trustin commented on #1282
`PemReader` currently simply ignores the `EC PARAMETERS` part.

[2018-07-12 04:02] trustin commented on #1283
Let me schedule this for the release after the next release since we are releasing soon.

[2018-07-12 04:03] anuraaga commented on #1282
Ah my example should have been more clear - AFAIU, the `EC PARAMETERS` don't need to be present at least for TLS, and many libraries like golang's key generation don't output it at all. But even with removing that block from the openssl output, it doesn't parse since the actual key is not in PKCS8.

[2018-07-12 04:09] trustin commented on #1282
Ah I see. But still, it would be nicer if Netty handles this somehow because it has the code that converts a file into a `PrivateKey` object.

[2018-07-18 06:22] chaschev opened #1294 "How do you enable exception logging?"
Created my server like below. Everything works fine, except that I don't see stack traces when there are exceptions in gRPC handlers. I see other messages and was able to enable access log, however I don't see stack traces. As much as I want those errors to never occur again, for now it is not an option. Thanks!

[code]

[2018-07-19 11:46] chaschev commented on #1294
That worked, though I am not sure I can see the stacktrace

[2018-07-20 02:00] #1283 closed

[2018-07-20 03:46] trustin commented on #1294
It does log stack trace: https://github.com/line/armeria/blob/armeria-0.67.2/core/src/main/java/com/linecorp/armeria/internal/logging/LoggingDecorators.java#L58-L75

Please let us know if anything doesn't work as intended.

[2018-07-20 03:46] #1294 closed

[2018-07-23 05:03] trustin opened #1301 "Intermittent test failure: ManagedTomcatServiceTest.echoPostWithEmptyBody()"
[code]

[2018-07-23 05:18] trustin commented on #1301
May be just a CI machine being too slow.

[2018-07-23 11:52] Adanz opened #1302 "How do handle client upload file with httpService?"
How do handle client upload file with httpService?

maybe use io.netty.handler.codec.http.*, but how convert armeia object to netty object.

sorry I not found any document.

thanks.

[2018-07-24 01:36] trustin commented on #1302
We currently does not have a built-in multipart decoder. See #253.

[2018-07-24 03:36] #1302 closed

[2018-07-24 03:37] trustin commented on #1302
Marking as a duplicate. Please watch #253 or join the discussion.

[2018-07-25 06:18] #506 closed

[2018-07-25 09:11] demongaorui commented on #1252
@anuraaga   I've checked Http status codes trying to find a better matching for `ABORTED` and/or `ALREADY_EXISTS` instead of `409 Conflict`, which don't find ideal candidates. Any ideas?

[2018-07-26 07:06] #1252 closed

[2018-07-27 15:35] trustin opened #1311 "Add descriptions to Micrometer meters."
.. so that Prometheus exposition service can expose the `HELP` strings.

[2018-07-27 15:40] trustin commented on #1252
Missed @demongaorui's last comment:

@anuraaga, thoughts?

[2018-07-27 15:47] anuraaga commented on #1252
I would personally pick either Service Unavailable or Internal Error since I can't see how Aborted should map to a client error. As far as Armeria goes, though, we should just reproduce upstream behavior and have a unit test to catch if upstream feels the same (they may not). Since we reproduce the behavior ok, there's nothing else to do here :)

[2018-07-30 03:34] #654 closed

[2018-07-31 08:17] rfkm opened #1313 "The new DocService can't send `{}` as body"
I tried the new DocService and found an issue where it doesn't send a request whose body is `{}`.
So, I can't test 0-arity RPC methods.

[2018-07-31 09:26] anuraaga commented on #1313
Thanks for reporting!

I found that there is a display issue when sending `{}` to a method that has a sample request with parameters and sent a change. But it doesn't sound like the issue you're seeing.

I tried sending an empty body and it sent the request as expected. Do you have any extra information to try to debug?

http://localhost:3000/docs/#/methods/com.linecorp.armeria.service.test.thrift

[2018-07-31 09:44] rfkm commented on #1313
No tested yet, but #1314 may resolve the issue.
In my environment, I observed the following behavior:

Case A:
1. Put `{}` to the form and then click `SUBMIT`
2. Moved to `/#/.../...?args=&http_headers=...` (Note that `args` is empty) and nothing happens

Case B:
1. Put `{}\n` to the form and then click `SUBMIT`
2. Moved to `/#/.../...?args={}&http_headers=...` (Note that `args` is `{}`) and a req

[2018-07-31 10:26] anuraaga commented on #1313
Thanks for the repro, added a fix for it :)

[2018-07-31 13:45] rfkm commented on #1313
Great, thank you @anuraaga !

[2018-08-01 03:13] trustin commented on #1313
Released! http://repo.maven.apache.org/maven2/com/linecorp/armeria/armeria/0.68.1/

Thanks @rfkm and @anuraaga

[2018-08-01 05:14] trustin commented on #799
Ideas from @demongaorui - https://github.com/line/armeria/pull/1309#discussion_r206025752

[2018-08-01 07:33] anuraaga opened #1317 "TLS handshake failure on 0.68.1 due to NPE"
After trying out 0.68.1, which changed the way TLS handshakes work, I see this on my server. I am using TLS mutual auth in case that is affecting this case.

JRE: OpenJDK 10.0.2

[code]

[2018-08-01 07:34] anuraaga commented on #1317
I am going to first try reverting the change to `HttpServerPipelineConfigurator` to see if the issue resolves.

[2018-08-01 07:36] trustin commented on #1317
Could you let us know the Java version so we can guess what SSLEngine property is causing an NPE? It may be an issue in OpenSSLEngine that returns an incorrect value on some property.

[2018-08-01 07:37] anuraaga commented on #1317
Ah yeah - it's OpenJDK 10.0.2

[2018-08-01 07:45] anuraaga commented on #1317
Confirmed that reverting the change in server configurator fixes the NPE

[2018-08-01 07:55] anuraaga opened #1319 "ClientAuthIntegrationTest should use CA-signed certificates"
Currently, ClientAuthIntegrationTest uses self-signed certificates, which means the trust manager is disabled. This doesn't reflect real-world usage and can miss bugs related to the trust manager. We should create a CA and CA-signed certificates to allow using a real trust manager in the test.

[2018-08-01 08:25] #1317 closed

[2018-08-02 04:59] chaschev commented on #1294
That turned out to be a bug in my logging library. It didn't recognise exception in the list of logging method arguments. Thanks!

[2018-08-02 05:00] trustin commented on #1294
Thanks for getting back to us with an update. :smile:

[2018-08-06 15:44] imasahiro opened #1323 "Provides more strict path pattern validation to PathAndQuery"
If a user send a HTTP request to `\n` contained uri with `HttpClient`, `HttpClient` requests the uri without validation or url-encoding and it breaks HTTP protocol like
[code]

Currently, we have few path validation to uri path part but it woud be required to provide more strict parsing/validating uri path in for example, `PathAndQuery`.

[code]
cc: @mauhiz

[2018-08-09 03:39] trustin commented on #1301
Didn't see this for a while. Seems like an environmental issue.

[2018-08-09 03:39] #1301 closed

[2018-08-10 09:05] #1323 closed

[2018-08-11 11:33] anuraaga opened #1332 "Tracing decorators could allow more customization of Span."
I think right now, it's not easy to customize a span. While thinking about https://github.com/openzipkin/zipkin/issues/2167 I realized that being able to set `Span.remoteServiceName` based on the host would be convenient. I think we could add a customizer given the `ctx` and `Span`.

Of course, a delegate decorator could do this already but it's pretty cumbersome.

[2018-08-11 11:33] anuraaga commented on #1332
/cc @adriancole

[2018-08-12 04:24] adriancole commented on #1332
agreed.. we have some practice in brave both for normal http and grpc. I think it is called Parser when we are scraping something for tags

[2018-08-13 05:56] anuraaga opened #1333 "Failed to get the hostname using the 'hostname' should not be a warning?"
I tried running an armeria server with the `gcr.io/distroless/java` docker image which does not include the `hostname` command. Is it too scary of an output?

[code]

[2018-08-13 06:09] minwoox commented on #1333
I think we probably need to lower the log level :)

[2018-08-16 08:20] minwoox opened #1337 "Provide default client metric such as armeria.client.connections"
Like we provide `armeria.server.connections` in server side, it'll be good if we provide `armeria.client.connections`.
The metric can be useful to detect when a large amount of connections are kept abnormally due to our or users bug.

[2018-08-19 05:21] trustin opened #1339 "Test failure: ServerListenerTest.testServerListener()"
[code]

[2018-08-21 02:38] trustin opened #1342 "Add a ResponseConverterFunction for RxJava Observables"
.. so that a user can return an `Observable` of a single element (or a list of elements?)

We may also want to implement some automatic registration mechanism for `ResponseConverterFunction`s so that the `Observable` converter is automatically added to the default converter list using SPI.

[2018-08-23 07:10] anuraaga opened #1343 "HttpClient should reject authority that doesn't match client URL?"
Currently, it's possible to send a request with a different authority than the client stub was created with

[code]

This will send a request to `github.com` with authority `bitbucket.org`. This isn't terrible but I found with `0.69.0`, the authority is actually used in TLS negotiation. It's extremely likely that when using TLS, such a mismatch of URL and authority will fail with cryptic TLS hands

[2018-08-27 10:00] trustin opened #1346 "Implement HTTP/2 graceful shutdown"
According to https://httpwg.org/specs/rfc7540.html#GOAWAY

[2018-08-28 05:47] trustin commented on #1333
Fixed via #1348

[2018-08-28 05:47] #1333 closed

[2018-08-29 08:54] trustin opened #1351 "Assertion error in StartStopSupport"
[code]

[2018-09-03 02:36] anuraaga commented on #1343
Yeah I'm not sure how common either behavior is (for that example I'm a bit surprised internal hosts would have the external cert provisioned to them) so not sure what the default would be but an option would be nice.

[2018-09-05 04:34] trustin commented on #756
Working on a fix

[2018-09-06 09:17] #756 closed

[2018-09-07 01:07] trustin commented on #978
Fixed long time ago.

[2018-09-07 01:07] #978 closed

[2018-09-07 01:08] trustin commented on #876
Didn't see this failure for a while.

[2018-09-07 01:08] #876 closed

[2018-09-07 01:08] trustin commented on #624
Didn't see this for a while.

[2018-09-07 01:08] #624 closed

[2018-09-07 01:08] trustin commented on #875
Didn't see this for a while.

[2018-09-07 01:08] #875 closed

[2018-09-07 05:05] #1351 closed

[2018-09-07 06:10] #508 closed

[2018-09-10 05:08] trustin commented on #1339
Didn't see this for a while.

[2018-09-10 05:08] #1339 closed

[2018-09-13 09:07] hyangtack commented on #1342
I think that we can make a converter for `Publisher` and `Observable` with the following specifications:
- If a single object is returned by `Publisher` (ex. `Mono.just(obj)`), try to convert the returned object by the registered converters when `onComplete` is invoked.
- If multiple objects are returned by `Publisher` (ex. `Flux.fromArray(arr)`), collect the returned objects as a list then try to

[2018-09-15 08:48] yanfeipeng opened #1368 "Thrift oneway sync call need to wait server handle complete???"
[code]

something wrong with

[code]

[2018-09-17 02:27] trustin commented on #1368
@yanfeipeng What would be the expected behavior then? Sending an HTTP response immediately after the service started to handle the request?

[2018-09-17 05:56] yanfeipeng commented on #1368
Nearly.
1.Sometimes I donot care about the respone, just sending the request successfully is OK.
2.oneway call is diff from primitive Thrift, make coder confuse

[2018-09-19 06:32] trustin opened #1370 "Buffer leak in gRPC ArmeriaMessageDeframer"
[code]

/cc @anuraaga

Doesn't look like a leak in a test case. I think it's reproducible via one of the tests in `GrpcClientTest`. Will update once I know which.

[2018-09-19 09:26] trustin commented on #1370
Also getting while running `GrpcClientTest.largePayload_unsafe()` repeatedly:

[code]

[2018-09-20 01:02] #1370 closed

[2018-09-21 03:50] #1342 closed

[2018-10-02 11:23] TamaraVaradjanin opened #1374 "How can I use JPA repository methods in Armeria GRPC service implementation class?"
I am using Armeria with Spring boot and I want to use CRUD operations from my repositories in GRPC service implementations. It doesn't work with Autowired annotation.

[2018-10-05 06:53] trustin commented on #1374
Hello! How did you instantiate your service implementation? Could you paste some code?

[2018-10-05 07:07] TamaraVaradjanin commented on #1374
Hello. I solved this problem, it was about Spring Boot version and some dependencies. I'm getting GRPC service bean from Spring application context (when adding service to ServerBuilder) with injected JPA repository and it works.

[2018-10-05 13:29] rkapsi opened #1378 "Don't use Netty's GlobalEventExecutor for events because it's nulling out the ClassLoader"
Starting with Armeria 0.7.0 and the introduction of the StartStopSupport change in particular I've run into the problem that the start event is fired on the GlobalEventExecutor thread which has its "Context ClassLoader" (see this change https://github.com/netty/netty/commit/63bae0956aeb42e875ad303a2281989ad92acbf2) nulled out. This causes problems down the road if you're trying to do something on

[2018-10-06 01:56] trustin commented on #1378
Thanks for reporting. We should probably just use a `ForkJoinPool.commonPool()` by default and allow a user override the default when calling `Server.start()` or `stop()`. What do you think?

[2018-10-06 01:58] trustin commented on #1374
Thanks for reporting back in spite of my late response!

On the other hand, I'm curious what your experience with Armeria so far is like. Is it serving your job well? I wonder if there is any missing or good-to-have features in your mind. 🙇

[2018-10-06 01:58] #1374 closed

[2018-10-08 08:50] trustin commented on #1378
It seems like we were using `GlobalEventExecutor` where necessary in our previous `Server` implementation: https://github.com/line/armeria/blob/armeria-0.69.0/core/src/main/java/com/linecorp/armeria/server/Server.java That is, you just were lucky enough to hit that branch; it can always happen when you start or stop a server simultaneously.

Using `ForkJoinPool.commonPool()` wouldn't help either b

[2018-10-08 10:56] #1378 closed

[2018-10-08 14:04] rkapsi commented on #1378
@trustin: Thanks, that fixes our problem as well.

[2018-10-16 09:14] anuraaga opened #1388 "DefaultHttpHeaders AsciiString.toLowerCase is warm"
Looking at profiles, I found an anomaly where setting header values in the server is a bit warm due to calls to `AsciiString.toLowerCase`. The call was added in #426 to make the headers better interoperate between HTTP/1 and HTTP/2. But for cases where the headers are known to always be lowercase, it seems to add reasonable overhead (removing the call increased my standard gRPC empty benchmark ~2%

[2018-10-18 04:16] trustin commented on #1388
This sounds like a way to go.

[2018-10-18 04:28] #1241 closed

[2018-10-19 06:43] anuraaga commented on #799
Lately I've been looking into this again, but haven't made much progress. I'm hoping in the end much of the difference is still some misconfiguration of the benchmark, but I have no leads. I'd really like to be able to say armeria gRPC performance is similar to upstream - @trustin would you happen to have some time to help look into the performance?

[2018-10-19 07:48] trustin commented on #799
I recently got a report about gRPC performance from an internal customer and am waiting for detailed performance profile. That being said, I'd like to take a stab on this issue soon.

[2018-10-19 09:21] trustin opened #1395 "Add a section about UnprocessedRequestException in RetryingClient documentation"
.. because it deserves its own section. We could explain:

- Why we need `UnprocessedRequestException` and when it occurs.
- How to auto-retry using `RetryStrategy.onUnprocessed()`.
- How to customize user's `RetryStrategy` to handle `UnprocessedRequestException` properly.

[2018-10-19 09:24] trustin opened #1396 "Run h2spec testsuite against Armeria server."
See:
- https://github.com/summerwind/h2spec
- https://github.com/netty/netty/tree/4.1/testsuite-http2

[2018-10-19 09:36] trustin opened #1397 "Better file stream support"
We have `HttpFileService` but its usage is limited to serving static files under a specific path. A user may want to serve an arbitrary static file whose path is not necessarily mapped to request URI, e.g. 'Serve `index.html` for all requests under `/my_react_app/`.'

~I'd like to introduce a builder API for `HttpRequest` and `HttpResponse` whose content is backed by a static file so that a user c

[2018-10-19 09:39] trustin opened #1398 "Add a L7 proxy server example"
It'd be really cool to show how easy it is write an L7 proxy server using Armeria.

/cc @anuraaga Thanks for your inspiration.

[2018-10-19 09:40] trustin opened #1399 "Add RetryingClient metrics"

[2018-10-21 06:14] anuraaga commented on #1346
Just wondering, was this fixed by #1392?

[2018-10-22 22:13] trustin opened #1401 "Do not log a GOAWAY message at WARN if connection is over."
Saw this log:

[code]

There's no reason to send a GOAWAY frame to a closed channel.

[2018-10-23 05:42] trustin commented on #1401
Fixed via #1403

[2018-10-23 05:42] #1401 closed

[2018-10-25 05:55] hyangtack opened #1407 "Make `@RequestObject` annotation optional in the parameter list of a service method"
Refer to #1405.

Currently we need to specify `@RequestObject` annotation on `myObject` parameter as follows.
[code]
But it can be omitted because:
- every parameter of the method must be injectable
- automatically injected parameter type is one of the following:
  - RequestContext / ServiceRequestContext
  - Request / HttpRequest
  - AggregatedHttpMessage
  - HttpParameters
  - Cookies
- a parame

[2018-10-25 06:05] minwoox opened #1408 "Use StreamMessageDuplicator only where it's needed"
We use `StreamMessageDuplicator` in `RetryingHttpClient` and `CircuitBreakerHttpClient`. The `StreamMessageDuplicator` is needed to inspect the content of `HttpRequest` and `HttpResponse` because the nature of the stream messages which is they can be subscribed only once, so we use the `StreamMessageDuplicator` to subscribe the content multiple times.
However, in most cases, the `RetryingHttpClien

[2018-10-25 06:39] minwoox opened #1409 "Change FixedStreamMessage not to discard its stream message"
Currently, `FixedStreamMessage` releases its elements as soon as the element was subscribed. But if we change it to release after all of the elements are subscribed, we can duplicate the `FixedStreamMessage` without using `StreamMessageDuplicator`.
But we have to consider that there's a tradeoff because we have to hole it in memory litter longer.

[2018-10-25 06:45] trustin commented on #1409
/cc @anuraaga who wrote `FixedStreamMessage` and its cousins.

[2018-10-25 08:56] trustin opened #1410 "'cannot start a new stream with a DATA frame' error under load"
.. probably due to an unexpected disconnection.

[code]

[2018-10-25 08:59] anuraaga commented on #1409
I agree it should be fine to release after subscription, the extra time the objects stay around should be insignificant.

[2018-10-26 01:04] trustin opened #1413 "Mention the support for CompletionStage and CompletableFuture in annotated services documentation"
Armeria supports `CompletionStage` or `CompletableFuture` as the return type of an annotated service method, but our documentation does not mention it. We could add it because it's a pretty handy feature.

[2018-10-29 07:23] anuraaga opened #1416 "Cannot issue HTTP request with escaped slashes in path"
I think it happened somewhere around #1356 but whereas previously `HttpClientDelegate` sent the user's request path correctly, now it decodes the user's path, which is not correct. It means currently it's not possible to issue a request with, for example, escaped path parameters as they get decoded and sent as a raw path instead.

While refactoring `PathAndQuery` I guess we forgot that `HttpClient

[2018-10-29 07:37] anuraaga commented on #1416
By the way, an example URL that cannot be used with the current behavior

https://content.googleapis.com/storage/v1/b/telemetry-data-dev/o/satellites%2F1%2Fantennas%2F9%2F1346001%2Ffull.bin

[2018-10-29 07:50] anuraaga commented on #1416
Interestingly the test fails with 404 before and after https://github.com/line/armeria/compare/master...anuraaga:no-sanitize?expand=1

I have a feeling the server side has the same problem where it is decoding escaped slash characters before routing.

[2018-10-29 07:58] anuraaga commented on #1416
For context, my proposed fix is to not overwrite the URL in `HttpClientDelegate` - as long as the URL is valid it seems like too low a layer to rewrite the request as the user may have a reason for inputting what they did.

[2018-10-29 08:01] trustin commented on #1416
Should `%2F` and `/` treated differently? I thought they should be treated identically..

[2018-10-29 08:06] anuraaga commented on #1416
Hmm - I'm not too sure what the spec says, but I guess it would be impossible to support slashes in a path parameter if it's not escaped.

[2018-10-29 09:30] anuraaga commented on #1416
Ah but I should be able to use it in the test for the change I linked - let me try it.

[2018-10-29 09:36] trustin commented on #1416
Why doesn't it make sense? The capture group `path` will capture the complete filename including the slashes in it.

Ah, I see. I agree that such heavy sanitization isn't necessary and may even alter the original intention of the client. Perhaps it's time to split the logic.

[2018-10-29 09:38] anuraaga commented on #1416
Yeah that makes sense - the server side looks ok, and it's just that servers out there may treat `/` and `%2F` differently, which is a problem for the client.

[2018-10-29 09:55] trustin commented on #1416
OK! Interested in sending a PR for this or should I take a stab?

[2018-10-29 10:11] anuraaga commented on #1416
Was able to tweak the test to work in my PR :D

[2018-10-31 01:04] trustin commented on #892
https://github.com/flamegrapher/flamegrapher

[2018-10-31 03:00] #1416 closed

[2018-10-31 06:56] anuraaga opened #1420 "trimShadedJar doesn't work with openjdk 11 on Ubuntu"
I am using OpenJDK 11 from the Ubuntu [PPA](https://launchpad.net/~openjdk-r/+archive/ubuntu/ppa) and ran into an issue with shading.

OpenJDK 11.0.1 Linux

[code]

[code]

[2018-10-31 06:57] anuraaga commented on #1420
There have been bugs with PPA openjdk in the past, if it seems like a bug in the JDK let's close.

[2018-10-31 09:47] trustin commented on #1420
It's ProGuard that does not support Java 11 byte code version. It seems to take a liitle bit longer...

We may want to replace ProGuard with Shadow plugin's minimization feature, but it was not possible to include other modules' test classes into dependency analysis last time I checked..

[2018-11-01 07:06] anuraaga opened #1421 "Add log availability for writing first byte and reading first byte from channel"
I am trying to debug a lot of untraced time in spans (e.g., time between client send <-> server receive) and it would be very useful to have wire send (ws) and wire receive (wr) annotations which I believe are semi-standard annotations added by other zipkin instrumentation. For armeria, I think it would involve adding FIRST_BYTE_SENT and FIRST_BYTE_RECEIVED request log availability, propagate `Req

[2018-11-01 07:31] adriancole commented on #1421
we had a chat and one low-hanging fruit is at least on client side do
"ws" "wr" annotations such as finagle does. This is easier client side
than server side.

There's another doc on modeling certain things with spans, this is
more thinking might be worth it
https://docs.google.com/document/d/1yIo_zZvMyAS8J7bpCz85h-FISwU0Jr-Zu-POIvp7B9E/edit

[2018-11-01 07:47] trustin commented on #1421
Sounds like a good idea! Will be very useful for us as well.

[2018-11-03 01:56] trustin commented on #799
async-profiler flame graph for `emptyNonBlocking()` retrieved from a beefy machine: https://gist.github.com/trustin/52c5014a04331cf4c6a452e2cd6880b3

[2018-11-03 04:11] trustin opened #1426 "CompletableFuture composition is expensive due to CompletionException.fillInStackTrace()"
https://gist.github.com/trustin/52c5014a04331cf4c6a452e2cd6880b3 shows that `CompletionException.fillInStackTrace()` is taking 4-5% of samples.

`CompletionException` is instantiated when your callback is added to a child `CompletableFuture` of another future. See https://stackoverflow.com/questions/49230980/does-completionstage-always-wrap-exceptions-in-completionexception for more information.

[2018-11-03 05:09] trustin commented on #799
On the other hand, I ran `grpc.upstream.UpstreamSimpleBenchmark.emptyNonBlocking()` on the same machine and I got much less numbers - 110k (upstream) vs 160k (downstream). I gave `-Xmx16384m -Xms16384m` JVM option which may have made JVM happy. @anuraaga Can you reproduce the result?

[2018-11-03 05:11] trustin commented on #799
Upstream seems to perform better at `empty()` though, it's 11k (upstrema) vs 8k (downstream).

[2018-11-03 05:39] anuraaga commented on #799
I'll try to run it too - I don't know if I've tried since disabling request timeout but that was a huge problem in my first runs.

Also, nonBlocking is basically a death test so results varied quite a lot from run to run, it's why lately I've focused on blocking version with many threads, which gives more stable results.

[2018-11-03 05:50] anuraaga commented on #799
By the way if it's not sensitive, what sort of report did you get from the internal user? I guess they may have migrated from upstream to armeria and saw a difference in CPU usage - if so would be cool hearing around how much difference there was in a real world migration.

[2018-11-03 06:36] trustin commented on #799
They started with Armeria so there's no comparison with upstream unfortunately. They observed high CPU usage but it seemed like other third party library was also outstanding, so I'm not sure Armeria is really a bottleneck. I just want to make sure that Armeria performs close to the baseline performance.

[2018-11-03 12:35] trustin opened #1428 "Findings about ByteBufHttpData"
I found that `Http2RequestDecoder` produces `ByteBufHttpData` while `Http2ResponseDecoder` makes an array-based copy. I thought using `ByteBufHttpData` in `Http2ResponseDecoder` may improve the performance, but surprisingly it reduced the throughput noticeably:

#1424:
[code]

#1424 + Using `ByteBufHttpData` in `Http2ResponseDecoder`:

[code]

So, I got interested and ran the same test with `ByteB

[2018-11-03 12:54] anuraaga commented on #1428
I think most of the benefit from having byte buf data comes for larger payloads - I would expect the empty benchmarks to mainly exercise general connection handling and byte buf optimizations shouldn't affect it too much. It's interesting to see the response decoder number change that much though - admittedly I haven't looked into client performance at all yet, I use clientType == OKHTTP still to

[2018-11-03 13:36] trustin commented on #1112
gRPC seems to use an alternative `Http2Headers` implementation which serves their use case better: `io.grpc.netty.GrpcHttp2HeadersUtils`, `io.grpc.netty.GrpcHttp2OutboundHeaders`. I think we should follow the same path.

I tried to modify `DefaultHttpHeaders` wrap `DefaultHttp2Headers` to reduce some garbage and was able to gain 2-3% throughput. A better implementation would yield even better numb

[2018-11-03 13:47] anuraaga commented on #1112
Ah I wonder if our branches are similar, I've been slowly working on wrapping too

https://github.com/line/armeria/compare/master...anuraaga:netty-http-headers?expand=1

I wondered if it's worth it without us changing the definition of `HttpHeaders` so the value is `CharSequence` to reduce string conversion and took a break before trying such a large change ;)

I also happened to find https://gith

[2018-11-03 13:48] trustin commented on #1428
I ran `LargePayloadBenchmark` and found `ByteBufHttpData` has better performance clearly. Not sure why we have penalty on the client-side decoder, but that's another story. Thanks.

[2018-11-03 14:20] trustin commented on #1428
Re: Worse result using `ByteBufHttpData` in `Http2ResponseDecoder` - I ran the benchmark a few more times and it seems like it's kind of random. In some run it's faster and in some other run it is not. Just a Hotspot whim?

[2018-11-04 10:37] trustin commented on #970
@rvit34 You may be interested in this pull request, which allows Armeria integrate with Spring WebFlux - #1326

[2018-11-04 10:42] trustin commented on #1112
Here's mine: https://github.com/trustin/armeria/commit/06740e7fae4f5fd4885aae907433b78f7d9e44ef

I think we can change the definition of `HttpHeaders` as long as we do not break commonly used methods. Methods like `getByte()` and `getChar()` are of no use in my opinion. ;-)

[2018-11-04 13:05] #1428 closed

[2018-11-04 13:17] trustin commented on #799
cpu, alloc, lock, cache-misses profile for `grpc.downstream.DownstreamSimpleBenchmark.empty()` with 16 thread: https://gist.github.com/trustin/395659be9d0eb3d5265cbff50a1581c5

[2018-11-04 15:09] minwoox commented on #1426
I was very surprised that the completion attached to the child receives a `CompletionException` wrapping the original `Exception` because that's totally different what I learnt from the javadoc.
Anyway I tried to find out the cases which a callback is added to a child `CompletableFuture` in the gRPC module, but I couldn't.
Instead I'm kind of suspicious of [this](https://github.com/line/armeria/bl

[2018-11-05 03:41] anuraaga commented on #1112
Yeah those methods are not useful, but also not a big deal, I was more worried about `get` that always has to call `toString()`, often on an `AsciiString`. But changing the value to `CharSequence` would be highly breaking.

[2018-11-05 05:19] minwoox commented on #1426
Please ignore the comment above. I have tested several times to remove the `CompletionExeption` by catching exceptions in the callback but the result was same as usual :(

[2018-11-05 06:15] minwoox commented on #1426
By the way, I found a case that using child `CompletionFuture` which is created from the root `CompletionFuture` by calling `whenComplete()` [here](https://github.com/line/armeria/blob/579bb5cf309dff705b87012d8cadf810f18f400d/core/src/main/java/com/linecorp/armeria/common/util/StartStopSupport.java#L235-L238).
Perhaps we can just do `this.future = stopFuture;` (not creating a new future.)

[2018-11-08 00:29] #1408 closed

[2018-11-08 01:12] trustin opened #1432 "'IllegalStateException: executor not accepting a task' when sending a request when ClientFactory is closing."
[code]

[2018-11-12 01:16] trustin opened #1435 "Consider shading always"
We currently provide two variants of artifacts - unshaded and shaded. I started to think this may not be a good idea because I found people mix unshaded and shaded JARs in their dependencies either transitively or not. The situation also gets even more complex generating larger permutations when another project tries to provide its shaded version.

Unless there is a strong objection, I'd like to c

[2018-11-14 06:19] anuraaga opened #1437 "Error logged for prometheus scrape"
In a service that is scraped by prometheus using `new LoggingServiceBuilder().build()`, which enables logging of error responses, a large number of scrapes get logged as errors. Perhaps this is a problem with prometheus's golang HTTP client, but wonder if there could be something going wrong in Armeria. The metrics are all available in prometheus so the scrape seems to be succeeding fine.

Log err

[2018-11-14 08:51] anuraaga opened #1438 "Expose TransportType to users?"
I needed to write a TCP client in an armeria server and ended up using the `TransportType` internal class to also take advantage of `CommonPools`. Since we expose `CommonPools`, does it make sense to expose `TransportType` for this sort of use case? Maybe it's overkill, just want to get it out there.

[code]

[2018-11-15 04:36] #1426 closed

[2018-11-16 01:00] trustin commented on #1438
Sounds OK to me. How about moving to `armeria.common`?

[2018-11-16 01:02] trustin commented on #1437
Could you paste the full stack trace just in case it has useful info?

[2018-11-16 02:51] minwoox opened #1443 "Flaky test: CircuitBreakerHttpClientTest.startegyWithContent"
[code]

[2018-11-16 03:34] anuraaga commented on #1437
Sure

[code]

[2018-11-16 05:50] trustin commented on #1437
What's the protocol? H1C or H2C?

[2018-11-16 05:52] anuraaga commented on #1437
Oops yes that's useful, updated my example with a scrubbed URL. The protocol is `H1` (TLS + HTTP/1)

[2018-11-16 07:01] anuraaga commented on #1438
I'm also thinking of just adding methods to `EventLoopGroups` -> `serverChanneLClass`, `socketChannelType` and `datagramChannelType`. The other methods seem like they'd never have any use for users. What do you think about just adding those three methods to `EventLoopGroups`, which just calls into `TransportType` for the corresponding methods?

[2018-11-19 01:09] trustin opened #1446 "StreamMessageDuplicator feeds null to its Subscriber"
[code]

[2018-11-19 03:50] #1438 closed

[2018-11-19 07:49] hyangtack opened #1447 "Add docs about SAML module"

[2018-11-20 07:32] trustin commented on #1435
See this pull request which will make Armeria (and Central Dogma) provide shaded JARs only: https://github.com/line/gradle-scripts/pull/39

[2018-11-22 05:33] hyangtack commented on #1413
Closes via #1442

[2018-11-22 05:33] #1413 closed

[2018-11-22 13:43] trustin commented on #1446
Fixed via #1449

[2018-11-22 13:43] #1446 closed

[2018-11-22 13:44] trustin commented on #1435
Fixed via https://github.com/line/gradle-scripts/pull/39

[2018-11-22 13:44] #1435 closed

[2018-11-23 00:56] #1421 closed

[2018-11-23 07:38] #1368 closed

[2018-11-23 07:49] hyangtack commented on #1077
We added [ServiceRequestContext#proxiedAddresses](https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/ServiceRequestContext.java#L253) [here](https://github.com/line/armeria/pull/1101) . So we can use it for handling `x-forwarded-for` and related headers.

If there's `xff` header, the first IP of it will be a client IP regardless whether PROXY protocol is use

[2018-11-27 05:45] trustin opened #1460 "gRPC status description is not decoded."
When a user raises a status exception with non-ASCII description:

[code]

A user who uses Armeria client should get the status description `"오류"`, but gets its percent-encoded value.

Originally reported by @cj848

/cc @anuraaga

[2018-11-27 07:14] trustin commented on #1447
Fixed via #1451

[2018-11-27 07:14] #1447 closed

[2018-11-27 08:45] #1460 closed

[2018-11-28 01:07] hyangtack commented on #1077
- https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For
- Forwarded: https://tools.ietf.org/html/rfc7239#section-4

How to handle when both headers exist in a request together?

[2018-11-28 02:47] hyangtack commented on #1077
How about:

- Adding a method which returns a client IP to [ServiceRequestContext](https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/ServiceRequestContext.java), such as:
[code]
- Determining a client address with the following order:
  - If `Forwarded` header exists, the first `for` token of the header is picked.
  - If `X-Forwarded-For` header exists, the

[2018-11-28 05:48] taicki opened #1464 "Reuse RequestContext other than Service-side requests"
Motivation:

* In our API server, we use RequestContext to set some context values (like requestId) and pass RequestContext by using armeria-rxjava2 module. (armeria-server thread -> rxjava2 thread -> armeria-client -> rxjava2 thread)
* From our Kafka consuming server, we want to generate context values (requestId) and pass them when using rxjava2. (kafka-consumer thread -> rxjava2 thread -> armer

[2018-11-29 08:38] trustin commented on #1437
Thanks for coming back with the information. Glad that it's somewhere else. :)

[2018-11-30 02:53] anuraaga opened #1468 "Add ServiceRequestContext.addAdditionalResponseTrailer"
Currently we have `ServiceRequestContext.addAdditionalResponseHeader` to make it easier for RPC users to be able to add HTTP headers. It would also be helpful to have the trailer version of it, especially for gRPC where trailers are actively used.

[2018-12-01 09:19] trustin opened #1469 "Integration with 3rd party retry/circuit breaker libraries"
Such as:

- https://github.com/resilience4j/resilience4j
- https://github.com/jhalterman/failsafe

[2018-12-03 04:14] anuraaga opened #1471 "Propagate gRPC stacktrace using DebugInfo proto"
There seems to be a semi-official protocol for propagating stacktraces through gRPC using DebugInfo

https://github.com/grpc/grpc-java/blob/master/examples/src/main/java/io/grpc/examples/errorhandling/DetailErrorSample.java#L78

We should add support to the server to populate a stacktrace into DebugInfo and the client to reconstruct a `Throwable` cause from it.

[2018-12-03 11:56] edisonrf opened #1473 "support for spring validation framework"
is there a way to integrate armeria with spring  validation framework?

currently, when I use annotation @org.springframework.validation.annotation.Validated with @RequestObject on http post body, it it not working.

what is the correct way to validate http post data in armeria?

thanks in advance.

[2018-12-03 12:31] trustin commented on #1473
I'm curious if you can let Spring instantiate your annotated service class. Assuming that you are using our Spring Boot integration module, you could define `ArmeriaServerConfigurator` bean:

[code]

[2018-12-03 12:41] trustin commented on #1473
Updated the answer.

[2018-12-04 08:32] trustin commented on #816
What would be the sensible default for the maximum number of event loops per endpoint? `1`?

[2018-12-04 08:52] trustin commented on #816
I also wonder if there is a better way to address this issue than limiting the number of event loops used per endpoint. Thoughts?

[2018-12-04 20:07] sschepens opened #1476 "Armeria removes ContentLength header when performing PUT requests without content"
When performing a PUT http request without content and with Content-Length=0 with armeria, the Content-Length header gets removed [here](https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/internal/Http1ObjectEncoder.java#L247). This was added in #226 which speaks of GET requests, but this logic is being applied to all request methods, including PUT, POST, etc., whi

[2018-12-05 03:45] hyangtack opened #1477 "Exception handlers should handle an exception raised by a decorator"
In annotated HTTP service, a user may use a decorator and an exception handler for his or her service. In this case, it would be more useful to let the exception handler handle an exception raised by the decorator.

[2018-12-06 03:55] anuraaga commented on #816
I like the value of `1` but am not sure what is the best default or not.

One observation that just came to mind in my use case is that for a low QPS service, the health check request actually becomes more important as it allows the channel to stay warm by guaranteeing requests on a connection. With lots of connections to a single endpoint (our servers have 16 event loops), health check every 3s h

[2018-12-06 04:58] trustin commented on #1473
There was a bug in annotation and method scanning mechanism in Armeria which prevents the usage of Spring AOP-like functionalities such as Spring validation. It will be fixes in the next release. See #1480

[2018-12-06 05:37] trustin commented on #816
BTW we need to make sure Armeria respects the `MAX_CONCURRENT_STREAM` settings because connection coalescing will increase the chance of exceeding `MAX_CONCURRENT_STREAM` dramatically.

[2018-12-06 13:08] trustin commented on #1206
#1481 fixes this issue by making Armeria client respect `MAX_CONCURRENT_STREAMS`. We do not limit the number of connections yet though.

[2018-12-06 13:10] trustin opened #1482 "Add `decorator(Function)` and `rpcDecorator(Function)` to `AbstractClientOptionsBuilder`"
Add more variants of `decorator()` methods to `AbstractClientOptionsBuilder`:
  - `decorator()` and `rpcDecorator()` which are shortcut to `decorator(HttpRequest.class, HttpResponse, ...)` and `decorator(RpcRequest.class, RpcResponse.class, ...)` respectively.

[2018-12-07 01:02] #1477 closed

[2018-12-07 07:14] hyangtack opened #1485 "Wrong warning log message from AnnotatedValueResolver"
https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/AnnotatedValueResolver.java#L470

We missed fixing here when working on #1412.

[2018-12-08 05:16] trustin commented on #1082
Fixed via #1472

[2018-12-08 05:16] #1082 closed

[2018-12-08 13:23] trustin opened #1487 "Do not suspend network reads in an HTTP/2 connection."
Armeria currently suspends network reads when more than 128KiB are unconsumed by the stream subscribers. (See: [InboundTrafficController](https://github.com/line/armeria/blob/armeria-0.76.2/core/src/main/java/com/linecorp/armeria/internal/InboundTrafficController.java))

However, we should not disable network reads at all in an HTTP/2 connection because HTTP/2 has its own traffic control mechanism

[2018-12-10 09:52] trustin commented on #1487
Finished implementing this but seeing some test failures related with streaming.

[2018-12-11 02:43] anuraaga commented on #1471
I am having second thoughts on this - currently setting verbose responses will let normal logging, like `LoggingClient` but with this proto it requires special handling. The proto is only a list of strings so it's tricky or not possible to reconstruct a proper `Throwable` in the client - I would probably end up parsing it and stuffing it into `message` there anyways to make sure it gets logged.

A

[2018-12-11 03:12] trustin commented on #1487
I realized that this is not going to work because Armeria will keep reading the traffic even if a subscriber consumes the traffic slowly, i.e. data will be buffered in the `DecodedHttp(Request|Response)` and eventually will overflow without `InboundTrafficController`.

However, while implementing this, I realized we are using smaller watermarks (128KiB) than initial connection-level window size (1

[2018-12-11 03:12] #1487 closed

[2018-12-11 03:14] #1206 closed

[2018-12-11 03:14] #1468 closed

[2018-12-11 03:15] #1482 closed

[2018-12-11 03:15] #1485 closed

[2018-12-11 05:44] trustin opened #1490 "Add CIDR based `Predicate<InetAddress>`"
Once #1467 is merged, we could add a utility class that provides static factory methods that creates `Predicate<InetAddress>` from a CIDR notation, such as `192.168.0.0/24`. We could perhaps fork `org.jboss.netty.handler.ipfilter.CIDR`.

[2018-12-11 05:52] trustin commented on #1471
You mean putting the stack trace into both `grpc-message` and `DebugInfo`?

[2018-12-11 06:09] trustin commented on #1471
Shouldn't a gRPC exception be recorded in `RequestLog.responseCause`?

[2018-12-12 01:44] #1077 closed

[2018-12-14 07:16] hyangtack commented on #1490
Need to update [documentation](https://line.github.io/armeria/server-basics.html) as well.

[2018-12-15 15:55] 8527230165 commented on #361
Hi all,
I am getting this same error "Error: Could not find or load main class mavenproject.Testing". Can any help me out in this. See screenshot and code below:-
![error could not find or load main class](https://user-images.githubusercontent.com/38623434/50044853-c66fc000-00af-11e9-974c-02fcbe0e990b.jpg)
[MavenConfigure.zip](https://github.com/line/armeria/files/2682741/MavenConfigure.zip)

[2018-12-20 08:42] #1490 closed

[2018-12-20 09:47] hyangtack commented on #1081
@trustin suggested a name `HttpResult<?>`. Thank you!

- Returning customized HTTP response.
[code]

- Returning customized HTTP response after a future has completed.
[code]

- Returning customized HTTP response with a publisher. How can we support streaming response? Should the type to be a `List<SomeObject>`?
[code]

[2018-12-21 02:18] trustin commented on #1476
IIRC an absence of `content-length` header means an absence of message body in HTTP, so it's not a protocol violation, but I agree that adding `content-length: 0` to the requests with the methods which are supposed to have content.

[2018-12-21 02:18] trustin commented on #1476
Oh, and sorry about the late reply. :pray:

[2018-12-21 05:09] #1476 closed

[2018-12-21 06:46] hyangtack commented on #1081
- For JSON streaming (MIME type `application/json-seq`): https://tools.ietf.org/html/rfc7464
  - https://jira.spring.io/browse/SPR-16742

- For Server Sent Events (MIME type `text/event-stream`): https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events
  - https://www.baeldung.com/spring-server-sent-events

[2018-12-21 10:50] minwoox opened #1502 "Provide a way to exclude some services in DocServiceBuilder"
Currently, `DocService` shows all of the services the provided plugins can generate.
But a user may want to see only some specific services in `DocService`.

[2018-12-24 07:14] hyangtack commented on #1081
- It'd be better to support [@ResponseStatus](https://github.com/spring-projects/spring-framework/blob/master/spring-web/src/main/java/org/springframework/web/bind/annotation/ResponseStatus.java) as well.
- We need to change the method signature of [ResponseConverterFunction](https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/annotation/ResponseConverterFunc

[2018-12-25 07:40] anuraaga commented on #1471
I read more at the example and found this snippet

https://github.com/grpc/grpc-java/blob/master/examples/src/main/java/io/grpc/examples/errorhandling/DetailErrorSample.java#L52

I think the recommendation is to use an application-specific proto, not necessarily `DebugInfo` itself. This makes sense to me since `DebugInfo` is basically just repeated string and doesn't seem to provide much value IMO

[2018-12-27 04:45] trustin commented on #1471
Sounds good to me.

[2018-12-28 03:04] trustin opened #1507 "Add `ServerBuilder.verboseResponses(boolean)`"
.. so that a user can override the value of `Flags.verboseResponses()` programmatically.

[2018-12-28 20:19] sschepens commented on #1476
thanks!

[2018-12-31 05:19] anuraaga opened #1510 "Create an abstraction for a LoggingContext containing request properties"
Currently, armeria natively exports many useful attributes to logback logs

https://github.com/line/armeria/blob/master/logback/src/main/java/com/linecorp/armeria/common/logback/BuiltInProperty.java

But since these are hard-coded into the logback implementation itself, it can't be reused for log4j users. Could we add to a `RequestContext` a layer that accumulates key/value pair that logging layer

[2018-12-31 05:58] #1471 closed

[2018-12-31 06:30] trustin commented on #1510
How could we let a user decide which built-in properties or context attributes to export automatically? Currently, it's part of Logback appender's configuration. I wonder if it's appropriate to move this configuration into the core API or if we can just provide something similar for Log4J, given that there are not many logging frameworks to support.

[2018-12-31 06:41] anuraaga commented on #1510
IMO core API seems fine since we have many logging features there already, like `LoggingService`. To be honest, I was surprised to find https://github.com/line/armeria/blob/master/logback/src/main/java/com/linecorp/armeria/common/logback/RequestContextExporter.java in logback package since it doesn't touch any logback APIs at all and it's a ton of code to possibly duplicate into log4j implementati

[2018-12-31 06:56] trustin commented on #1510
Perhaps we could clean up the common export logic a little bit and move it to `armeria.common` or into a utility method of `RequestContext`? e.g. `Map<String, String> ctx.exportProperties(...properties to export...)`

`RequestContext` already extends `AttributeMap` which overlaps with it to some extent. How about replacing `AttributMap` with our own interface which defines a key which tells if its

[2018-12-31 06:57] anuraaga commented on #1510
Yeah using a special `AttributeKey` like that looks quite nice.

[2018-12-31 07:40] #1507 closed

[2019-01-01 06:29] anuraaga opened #1512 "DNS error with certain DNS servers that don't handle EDNS"
Only on Windows, I often am unable to resolve DNS with Netty

[code]

Despite `nslookup www.googleapis.com` for example working fine.

This happens both when invoking commands from the command line in an `msys2` terminal as well as in IntelliJ.

Don't have much else to go on, any recommendations on how I can get some more logs or something to help debug?

[2019-01-02 08:46] anuraaga commented on #1512
Here's what a change in Netty might look like - https://github.com/netty/netty/compare/4.1...anuraaga:retry-without-opt?expand=1

[2019-01-02 09:34] trustin commented on #1512
Hmm, without EDNS, we are clipped out at 512-byte boundary which is too small in many cases, so I expect most users will not want to disable EDNS. I agree with you though that we need to expose more configuration options. Given the large number of configuration options (see `DnsNameResolverBuilder`), it'd be better adding a configuration property like `Consumer<DnsNameResolverBuilder>` (or `Functi

[2019-01-02 10:03] anuraaga commented on #1512
Yeah we definitely shouldn't disable it by default. The `Consumer` pattern looks great. Just wondering though, what do you think about the idea of having Netty retry if EDNS is enabled but the query fails?

[2019-01-02 10:09] trustin commented on #1512
I think it is fine as long as there's a way to tell the query failure was due to the OPT record. Can we?

[2019-01-02 10:10] anuraaga commented on #1512
Unfortunately not, it would be a bit of a heuristic. We can know if the server rejected the query as a "bad request" (`FormError(1)`) which may or may not be explicit enough for us, not sure.

[2019-01-03 08:43] tmdgus0118 commented on #947
I'm currently working on this issue. Please let me know if someone is doing.

[2019-01-03 09:58] hyangtack opened #1514 "Provide a general exception handler"
We started to think about this issue from how to reduce unnecessary wrapping an `HttpResponse` with `ExceptionFilteredHttpResponse` in annotated HTTP service. But it would be useful if we can find a general and convenient way of handling an exception.

Options discussed with @trustin so far:
- Add a new method, such as `HttpResponse handleException(..., Exception cause)` to `Service` interface to

[2019-01-04 01:13] trustin opened #1515 "Do not log 'Sent a GOAWAY frame: debugData="Error flushing"'"
.. because it basically means the connection is already over or the connection has been reset.

Related: #1401

[2019-01-06 00:55] adriancole opened #1518 "spring boot without flux"
I was looking through armeria-spring-boot-webflux-autoconfigure and it seems there are hard dependencies (at least in the pom) on flux. I don't expect us to use flux in Zipkin as it brings in a chain of (sometimes unstable) dependencies we don't need.

We'd likely just use armeria's annotations I think, as it is just a few simple read endpoints and also the write would likely be custom anyway.

Ma

[2019-01-06 00:57] adriancole commented on #1518
ex this is the sort of api we'd almost surely use for our read endpoints: https://github.com/line/armeria/blob/master/examples/spring-boot-webflux/src/main/java/example/springframework/boot/webflux/HelloAnnotatedService.java

[2019-01-07 05:48] trustin commented on #1518
You don't really need to pull `armeria-spring-*` at all if you do not want to integrate with Spring Web(flux). Armeria's annotated services work without Spring framework because it has its own annotation scanner, i.e. You can just define a bean which provides an Armeria `Server` and that should be all:

[code]

Note that `Server` is `Closeable` so it will be shut down properly when application con

[2019-01-07 06:12] anuraaga commented on #1518
One reason to want to use spring-boot might be it's configuration system. Not sure how committed zipkin-server is to maintaining the same configuration file format. Just for reference, though, I use typesafe config in non-spring armeria servers https://github.com/lightbend/config

[2019-01-07 14:08] anuraaga commented on #1518
I think the reason this integrates with flux is since it's Spring's API for integrating without servlet API available rather than anything reactive. Alternatively, armeria can use tomcat to provide the service API and work with spring without flux.

Thinking about it, I wonder if `spring-context` works without servlet API. If it does, then I guess the important bits of spring boot like the config

[2019-01-08 09:38] trustin commented on #1518
Does the new example at #1519 answer your question, @adriancole ?

[2019-01-08 09:43] adriancole commented on #1518
I think so. I will rework my local stuff with the above example which is a
more direct way I think. at any rate any other improvements could be
different issues.

[2019-01-08 09:43] #1518 closed

[2019-01-08 09:51] trustin commented on #1518
Thanks! Let me stay tuned for further questions.

[2019-01-10 01:44] #947 closed

[2019-01-10 05:47] tmdgus0118 commented on #1139
I'm currently working on it.

[2019-01-10 09:23] codefromthecrypt opened #1521 "Content decoding server decorator"
I think I eventually request this issue on all http frameworks :)

Most of the time you see (gzip) encoding filters on servers and decoding filters on client. However, POST requests are often gzipped. I scratched around and didn't see a server-side content decoder. Would be nice!

[2019-01-10 09:45] trustin commented on #1521
Related: https://github.com/line/armeria/issues/692

[2019-01-10 09:51] adriancole commented on #1521
yeah #692 seems same, just this is more impl related side of the coin

[2019-01-11 04:54] hyangtack commented on #1081
Closed via #1509

[2019-01-11 04:54] #1081 closed

[2019-01-11 05:00] hyangtack opened #1522 "Support streaming response converter"
Currently an annotated HTTP service aggregates objects published from a `Publisher`, then converts them into an `HttpResponse`. But it would be better if we can send a streaming response for every published object.

There are specifications related to the streaming response:
- For JSON streaming (media type application/json-seq):
  - https://tools.ietf.org/html/rfc7464
  - https://jira.spring.io/b

[2019-01-11 05:15] tmdgus0118 opened #1523 "Write documents about HTTP CORS Service."
I'm going to work on it after resolving #1139
but want to create a new issue separately.

[2019-01-11 05:39] iEAmi opened #1524 "Why armeria run all grpc service logic directly in the event loop?"
I have plan to convert all my grpc service to armeria-grpc but i have an issue, armeria execute service logic directly in event loop and i should handle blocking part manually, this take a lot of from me.
Now want to now what is your reason for using event loop for execute service logic?

Thanks and sorry for my bad english.

[2019-01-11 08:46] trustin commented on #1524
Thanks @iEAmi and @anuraaga for suggestion and fix. :+1:

[2019-01-11 19:08] iEAmi commented on #1524
Thanks for this new option 👍. You save my life 😁
 I am an armeria fan. Armeria is awsome

[2019-01-14 03:30] trustin commented on #1515
Found this as well:

[code]

[2019-01-14 06:53] #1443 closed

[2019-01-14 07:40] #1515 closed

[2019-01-14 07:47] trustin commented on #1524
@iEAmi I'm happy to hear that you are enjoying Armeria in your project! What kind of service did you build using it? What pros and cons did you find from Armeria? Do you use it in production? If so, for what company? :smile:

[2019-01-14 09:42] #1397 closed

[2019-01-15 05:37] hyangtack opened #1531 "CorsService does not work with annotated HTTP services"
For the following annotated service method, a preflight request cannot be handled even if the method is decorated with `CorsService`, because Armeria cannot find the service for a path with `OPTIONS` method.

[code]

[2019-01-15 05:39] trustin commented on #1531
One possible fix would be auto-adding a binding for `OPTIONS` method (if a user did not add one already.)

[2019-01-15 08:36] iEAmi commented on #1524
We are working on a fintech project in 'Poolito' (mean Money in persian) and using armeria for exposing grpc/rest api to clients, android, ios, web.
Armeria built-in unframed-grpc and grpc-web and simple decorating api help us to use a single method for all kind of requests.
Learning armeria is easy، our developers learn to use armeria in less than a day and start writing code.
Some part of our se

[2019-01-15 09:19] trustin commented on #1524
That's awesome! Please feel free to let us know if you find any missing features or shortcomings. We'd be happy to address them. :bowing_man: Cheers!

[2019-01-15 09:38] hyangtack opened #1533 "Make Armeria*Configurator extend Spring's Ordered interface"
Let's imagine that a user specifies `ArmeriaServerConfigurator` bean several times, which makes Armeria configure `ServerBuilder` with a list of `ArmeriaServerConfigurator`s.

Most of cases there's nothing to do more, but if you need to specify applying order of the configurators you need to use Spring's `@Order` annotation. The default value of the annotation is `Integer.MAX_VALUE` which means th

[2019-01-16 01:45] minwoox opened #1534 "HTTP trailers should be logged as well"
Currently, we do not log HTTP trailers. If we log it as well, it will be useful when using chunked transfer coding.

[2019-01-17 05:27] hyangtack opened #1536 "Add annotation-based CORS decorator"
It would be useful to provide an annotation-based CORS decorator like `@LoggingDecorator` and `@RateLimitingDecorator`, for example `@CorsDecorator`.

[2019-01-18 05:38] #1139 closed

[2019-01-18 09:30] tmdgus0118 commented on #1536
I'm working on it.

[2019-01-18 09:53] hyangtack commented on #1522
Related: #1530

[2019-01-21 02:35] #1533 closed

[2019-01-21 07:25] #1531 closed, assigned to hyangtack

[2019-01-22 08:44] hyangtack commented on #1522
To support Server-sent Events:
- Add a new type `ServerSentEvent` (which may be similar to [Spring's one](https://github.com/spring-projects/spring-framework/blob/master/spring-web/src/main/java/org/springframework/http/codec/ServerSentEvent.java))
- Add a new producible type `@ProducesEventStream` which is an alias of `@Produces("text/event-stream")`
- Support `Publisher<ServerSentEvent>` and `St

[2019-01-23 08:11] tmdgus0118 opened #1550 "Provide a way to configure additional response header using annotation"
I think it would be useful if a user can configure HTTP Response header via annotation, e.g.

[code]

[2019-01-23 08:45] trustin commented on #1550
Sounds like a great idea. :+1:

[2019-01-24 01:42] trustin opened #1552 "Log DNS resolver traces"
Related: #1512

A user may find it useful to log DNS resolver traces at DEBUG level.

/cc @anuraaga @mauhiz

[2019-01-24 01:43] trustin commented on #1552
We could also resolve [this one](https://github.com/line/armeria/issues/1512#issuecomment-450819185) together.

[2019-01-24 08:36] #1536 closed

[2019-01-25 07:30] trustin opened #1554 "HttpResponse's trailing headers are not sent."
Originally reported by @southernkasaist

[code]

In the second case, after writing `HttpData.ofUtf8("401 Forbidden")`, connection was closed and the trailing headers of `WWW-Authenticate` was subscribed but not written to response.

[2019-01-25 07:32] trustin commented on #1554
/cc @southernkasaist

[2019-01-25 11:27] anuraaga opened #1556 "gRPC json marshaller should only be created when needed."
There isn't any reason to create a json marshaller if json won't ever be created. Initialization performance can be improved by skipping the creation when not needed.

[2019-01-28 02:33] #1464 closed

[2019-01-28 03:23] #1512 closed, assigned to nobody

[2019-01-28 03:54] #1556 closed

[2019-01-29 06:56] hyangtack opened #1563 "Provide a way to add multiple BindableService instances to GrpcServiceBuilder at once"
It would be useful to provide `addServices(Iterable<BindableService> services)` by `GrpcServiceBuilder`, especially a user uses Spring framework, e.g:
[code]

[2019-01-29 10:54] iEAmi commented on #1524
When I am using **useBlockingTaskExecutor** on **GrpcServiceBuilder** sometimes a problem occur.
client receive **INTERNAL: Half-closed without a request**.
I figure it out that problem can be from **ArmeriaSeverCall**, because **endOfStream** method invoked before **messageRead** and this make problem.
I think race occur between  threads.

[2019-01-29 13:32] anuraaga commented on #1524
Thanks for the report and sorry for the issue it does seem easy to run into.

@trustin what do you think of making blocking executor an EventLoopGroup? I haven't thought of it in detail but I think a large separate event loop group allows running blocking logic while also allowing pulling out a single event loop so for cases like this all callbacks run on the same (non-I/O thread) in order.

[2019-01-30 03:12] wansuiye opened #1564 "thfirt and grpc can be converted to each other？"
I wonder if armeria can support that thfirt and grpc can be converted to each other.

[2019-01-30 03:15] anuraaga commented on #1524
It's not about the server code but the requests from the client - so it's about which thread is used by the framework, not user. `ArmeriaServerCall` has never had any dependencies on what thread is used by user code.

The data from the client will come as message, then end of stream. We notify the callbacks for message and end of stream using the blocking executor, which means end of stream may ha

[2019-01-30 03:21] trustin commented on #1564
Hi! Thanks for you interest. Thrift and gRPC are serialization formats very different from each other and thus it is not possible to perform an automatic conversion between the two formats. However, if you wrote the definitions for both Thrift (`.thrift`) and gRPC (`.proto`) then you can run both on Armeria without creating two server instances.

[2019-01-30 03:43] trustin commented on #1524
Thanks for explanation. I'd prefer `blockingTaskExecutor` to stay as `Executor` to give users more freedom although it would complicate the fix in this case...

[2019-01-30 03:51] anuraaga commented on #1524
Ah I forgot users can set `blockingTaskExecutor` too :) Will try to fix it with a `Queue` then. I think it's similar to grpc-java.

[2019-01-30 05:36] trustin commented on #1524
Thanks, @anuraaga :-)

[2019-01-30 07:57] trustin opened #1567 "Immutable HttpHeaders and Cookies"
`HttpHeaders` in Armeria is mutable. Although it is convenient to use, it sometimes leads us to a surprising behavior when it's modified by an unexpected place.

To address such issues, I'd like to propose to make `HttpHeaders` immutable, which means modifying an `HttpHeaders` will result in a new `HttpHeaders` instance. The following is an example of the API I have in mind:

[code]

Thoughts? I'd

[2019-01-30 08:04] southernkasaist commented on #1567
How about using `builder` way like lombok style?
e.g.,
[code]

[2019-01-30 19:40] tobias- commented on #1567
1. Please litter the methods in ImmutableHeaders with JSR-305 annotations such as `@javax.annotation.CheckReturnValue`as it really helps avoiding trivial mistakes.
2. Please consider doing it "Kotlin-style" where the Kotlin List (comparable to ImmutableHeaders) doesn't even have the add methods, but the MutableList (comparable to MutableHeaders) does. In Kotlin, if you need to mutate a List, you w