[2020-09-07 12:12] trustin commented on #3049
We don't but the source code of `armeria-retrofit` is a good starting point because OpenFeign and Retrofit are quite similar to each other. Please feel free to add any questions you have while investigating. I'd be happy to answer them. :bow:

[2020-09-08 08:27] anuraaga opened #3051 "Reactor should use context for when subscriber is created, not Publisher?"
I was looking at javadoc for reactor integration and noticed it says that context is taken when publishers are created

https://github.com/line/armeria/blob/master/reactor3/src/main/java/com/linecorp/armeria/common/reactor3/RequestContextHooks.java#L61

Since work happens when subscription is created, does it make sense to use the context from subscriber? Not sure if that makes sense just wanted t

[2020-09-09 01:09] #3018 closed

[2020-09-09 01:11] #3029 closed

[2020-09-09 03:59] tumile commented on #2472
Hi @ikhoon, I notice from the code we are grouping routes into only 2 Routers, Trie and Sequential. So why don't we done collecting both groups first then make only 2 calls to `router` outside of the loop? We'll have one big trie in the end, and yes, I think the performance will be better in cases where trie matching can be done sooner.

[2020-09-09 04:04] eonezhang opened #3053 "Un-relevant exception while enable LoggingService decorator."
One of my `AnnotatedService` method thrown customized exception, and the exception was handled by the customized exception handler, but the `LoggingService` still log the error, and the logged error didn’t provide relevant info about the cause of the error, it seems weired.
here is the exception log. How can I disable the log entry of that stuff.
[code]
the whole demo stuff to reproduce that scena

[2020-09-09 05:04] ikhoon commented on #2472
Thanks for your interest in this issue. The initial proposal did not have some edge cases.
If we just merge two `TrieRouter`s, the `SequentialRouter` will always have the lowest priority.

Let's say the following services are bound to path patterns.
[code]

Currently, a client request with `/a/b/2` will be handled by `ServiceB`. However, if we just merge `/a/b/1` and `/a/b/2` without considering `

[2020-09-09 05:06] anuraaga commented on #2472
@ikhoon Can you clarify the cases where routing results are unexpected? Does this mean sometimes the routing result is wrong?

[2020-09-09 05:14] ikhoon commented on #2472
Maybe my wording was not right(Sorry, I don't remember why I wrote like that).

The routing result is not a problem. 😅 Let me update the original description.

[2020-09-09 06:34] minwoox commented on #3051
Our hooks store the context when the publisher is created. So the thread that calls `publisher.subscribe()` does not have to have ctx in it.

I thought this is the case that we should propagate the ctx automatically.
The publisher should have the ctx, which is in the thread-local when it's created, and propagate the ctx to the subscriber.
And I thought the thread which calls `subscribe()` method m

[2020-09-09 12:32] minwoox commented on #3053
Thanks a lot @eonezhang for the report. Let me handle this.

While I'm working on this I found out that we don't have `requestCauseSanitizer` which means that we don't treat the request cause as we do for response cause.
@trustin Do you have any idea about this? 🤔

[2020-09-09 12:39] minwoox commented on #3053
Ah, never mind. 😅  We don't need the stacktrace of the request cause. Let me add a comment for that. 😉

[2020-09-10 04:49] tumile commented on #3046
Hi, I notice there is a `failEarly` implementation in `DefaulClientRequestContext`. Would `cancel` use the same logic (I assume without the `Throwable`) or does it have other requirements as well?
https://github.com/line/armeria/blob/6ad7fe3dc6ce924d77f977bf6d5a06d26b38e8f9/core/src/main/java/com/linecorp/armeria/client/DefaultClientRequestContext.java#L310-L316

[2020-09-10 05:40] minwoox commented on #3046
Thanks, @tumile for your interest.
I think it's going to work exactly as `ClientRequestContext.timeoutNow()` does except raising `CancellationException` instead of `ResponseTimeoutException`. 😄

[2020-09-10 22:54] tumile commented on #3046
Do you mean it should also use the `TimeoutScheduler` to schedule the cancellation? 😀 I plan to use `HttpRequestSubscriber#fail` to cancel the request like so.
[code]
My question is I'm not sure `operationComplete` is a good place to put the check, as I'm not sure when this method is called. Sorry I'm still trying to wrap my head around the Armeria's architecture 😅

[2020-09-11 08:36] jrhee17 opened #3055 "Possible NPE when receiving a response (without a request)"
While upgrading to the most recent intellij (which automatically creates a breakpoint on NPE) I found this issue.

Our 0.99.8 armeria client connects to an endpoint via a load balancer which sometimes sends a 408 http response (without a http request)
https://tools.ietf.org/html/rfc7231#section-6.5.7

This results in an NPE at the following location:

https://github.com/line/armeria/blob/ba2601eb8

[2020-09-11 12:11] minwoox opened #3056 "Fail if both armeria-spring-boot2-starter and armeria-spring-boot2-webflux-starter used"
If they both are used by mistake, two different servers are created and each server will serve respectively with the different ports.
So we should prohibit that circumstance.

[2020-09-11 12:14] minwoox commented on #3056
Also, because the usage of property files is different from each other, we should consider unifying them or at least add more documentations.

[2020-09-11 12:49] minwoox commented on #3055
That's interesting. So the load balancer sends the 408 response even though it doesn't get any requests? so it means that the response is sent in the idle connections. right?

[2020-09-11 12:54] minwoox commented on #3056
If so, I think the response reached here https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/HttpSessionHandler.java#L295
because `Http1ResponseDecoder` is only added to the pipeline right before an HTTP headers is sent. 🤔

[2020-09-11 13:07] minwoox commented on #3046
If ctx is canceled after the request is fully sent (i.e waiting to get a response fully), the response is never canceled.
So I think we should use a different approach.

I'm not sure if we can rename `TimeoutScheduler` to something else and generalize for this purpose (cancel or timeoutNow which just abort the response with the different exception), but it's worth trying.
What I meant was that we

[2020-09-11 15:09] jrhee17 commented on #3055
I haven't been able to exactly verify which connections were closed.

Given that the client is configured to use `h1c` with no `pipelining` and we don't use long polling in our business logic,
I was guessing it's probably due to health checks (we are using `HealthCheckService` with default values).

I can also share our code from a private channel if you would like to take a closer look

[2020-09-11 16:40] cnabro commented on #914
@trustin @abdulazizali77
Is there any progress this issue?
I need this. can I implement this spec?
now, I handle it like this..

It's not uncomfortable, but it would be nice to have it.
[code]

[2020-09-11 17:37] abdulazizali77 commented on #914
@cnabro i think this is already merged ....?

@trustin ! apologies for never following up on other things! also i never thanked you for the 'gift'! it was so long ago! thank you thank you! i hope you and all linecorp are well!

[2020-09-11 21:50] tumile commented on #2722
Hi, I just opened a PR to address this issue. Please check it out. Thanks!

[2020-09-14 02:26] cnabro commented on #914
@abdulazizali77
You mean this issue https://github.com/line/armeria/issues/773?
I think this request is closed because of this issue https://github.com/line/armeria/issues/850.
If I was wrong. please tell about this. Thanks.

[2020-09-14 09:59] jrhee17 commented on #3055
Related to #2900

[2020-09-14 10:41] minwoox commented on #3055
Ah, I forgot to reply to this. 😅

Or Ping request? 😄
I just wanted to make sure whether it's the problem of the load balancer or our client which might not correctly track the requests and responses

[2020-09-14 13:15] jrhee17 commented on #3055
It's a little complicated, so uploaded a PR to illustrate what's happening.

1. The cause was definitely client request timeout, ping wasn't enabled.
2. Aborting a request immediately afterwards, and sending a 408 client request timeout causes this issue (without additional requests on the connection).
3. The first `HttpResponse` obj was swallowed after a NPE, the corresponding next `HttpContent`

[2020-09-15 02:49] minwoox opened #3061 "Should we exclude health check requests from metrics by default?"
If a user uses Armeria client and server, the duration for a health check request is 60 seconds by default.
This might confuse the user that something is wrong with the server because a request takes so long if he/she monitors the request metric together.

[2020-09-15 02:52] trustin commented on #3061
For Spring Boot and Dropwizard integration, or all `TransientService`s?

[2020-09-15 03:05] minwoox commented on #3061
I forgot that we have `TransientService`. 😄
Yeah, I think it's good to exclude all `TransientService`s by default.

[2020-09-15 05:11] minwoox opened #3062 "Provide a way to close `EndpointGroup` from `WebClient`"
Some `EndpointGroup` such as `HealthCheckedEndpointGroup` should be closed if the `WebClient` is no longer used.

[2020-09-15 05:57] jrhee17 commented on #3062
I wonder if this means we shouldn't share `EndpointGroup` across clients 🤔

[2020-09-15 06:17] trustin commented on #3062
There's currently no way to tell if a `WebClient` is no longer used. We only known when `ClientFactory` is no longer used.

[2020-09-15 11:35] trustin commented on #3061
Do you think we need to make the new behavior configurable? (with the default of exclusion)

[2020-09-15 13:22] minwoox commented on #3061
That's a good question. Yeah, we need to make it configurable because some might want to include those requests too. 😄

[2020-09-15 13:41] minwoox commented on #3062
That's a good point. We have made a decision to tie an `EndpointGroup` to `ClientFactory` so the `EndpointGroup` is closed when the factory is closed.
So an `EndpointGroup` can be shared by many clients if they use the same `ClientFactory`. (Although I don't recommend sharing because `SelectionStrategy` in `EndpointGroup` has state so the load distribution might not work as expected.)

On the othe

[2020-09-18 00:25] #3053 closed

[2020-09-19 00:56] kowshikn opened #3072 "Support for custom HTTP routes when using gRPC"
Hi,

In GrpcService routes are dynamically generated from the gRPC definition. When I try to use this HTTP client the url has to be `/grpc.hello.HelloService/Hello` which is not very friendly. It would be great addition if I can provide custom routes, example `/Hello` would make it easy for any HTTP Client.

[2020-09-19 02:40] anuraaga commented on #3072
I had discussed this briefly with @kowshikn and just want to clarify, this is for supporting unframed gRPC together with normal  - normal gRPC naturally needs to be at it's normal paths for use from gRPC clients.

[2020-09-20 10:48] ghkim3221 opened #3074 "Suggestion: Support Kotlin DSL"
### Motivation

DSL is one of the most useful features in the Kotlin.
Kotlin users will be happy if can make an instance using DSL, not `*Builder`.

### Description

Support DSL as follows:

AS-IS:

[code]

TO-BE

[code]

I made very basic DSLs and some [examples](https://github.com/ghkim3221/armeria-playground/tree/master/dsl-examples). You can see in my [armeria-playground](https://github.com/gh

[2020-09-20 13:57] irtiger opened #3075 "Flaky test: `FileWatcherRegistryTest.runnableWithExceptionContinuesRun()`"
On MacOS 10.15.6:
[code]

Stacktrace:
[code]

[2020-09-20 13:58] irtiger opened #3076 "Test failure: `ServerTlsValidationTest.testPkcs12KeyStoreWithNullPassword()`"
On MacOS 10.15.6:
[code]

Stacktrace:
[code]

[2020-09-20 14:14] #3027 closed

[2020-09-20 14:25] trustin opened #3077 "Test failure: com.linecorp.armeria.spring.ArmeriaAutoConfigurationWithoutMeterTest"
Probably a flaky one:

[code]

[2020-09-20 16:35] irtiger commented on #3075
Interesting.

It's not 100% sure for now, but seems like it might be a flaky test, or my build environment was especially odd at the time. I did several more tests run and it all passed so far.

[2020-09-21 04:05] minwoox opened #3078 "Test failure: ThriftServiceLogNameTest. defaultNamesInAccessLog()"
[code]

[2020-09-22 02:58] davidk81 commented on #2738
@anuraaga @trustin Hi i'm back, i've encountered another performance related issue, although not the same as the original post; pls let me know if I should post a new issue or if theres any tips to troubleshoot.

we are using armeria 0.99.2

The issue I am now facing is something I have coined "streaming throughput coupling".
The symptom is when multiple GRPC streams are transferring data from sam

[2020-09-22 03:11] #2722 closed

[2020-09-22 03:24] anuraaga commented on #2738
Could you provide more detail about the network topology?

- HTTP load balancer vs TCP load balancer
- Server is directly serving traffic from clients or any other servers in between doing internal RPC?

Could be good to verify the metrics for armeria's active connections (beware of health check) - it would be extremely strange behavior if two connections but presumably some hop along the way is m

[2020-09-22 04:00] tumile commented on #3046
I think we can provide the current state of Scheduler in `TimeoutTask#run` and the implementation can decide which exception to abort with accordingly. How about this?
[code]

[2020-09-22 04:10] davidk81 commented on #2738
Thanks for the prompt reply @anuraaga

GCP TCP loadbalancer is used for this test (I have yet to test this using HTTP LB endpoint), TLS terminated at our "api" service pod which is a passthrough to the "streamer-server". Both pods are fixed to run the the same dedicated GKE Node. No other services are running on the Node except for daemonsets (but does include our standard monitoring services; flu

[2020-09-22 11:47] irtiger commented on #3076
J.F.Y.I. It seems like doesn't fail with openjdk 13 and 14.

[2020-09-23 10:31] trustin commented on #3072
Hi, @kowshikn and @anuraaga. Thanks for the feature request. Would it be enough to allow specifying a custom `path` for each gRPC service? e.g.

[code]

[2020-09-23 10:52] anuraaga commented on #3072
Yeah I think that's reasonable :) Another idea I had was setting a mapping of path to `MethodDescriptor` in `GrpcService`. Since we convert from mapped path to method descriptor based on the DSL right now might be simpler to just allow adding a way to do a custom mapping at that point.

[2020-09-24 07:05] trustin commented on #3076
Apparently our developer guide says OpenJDK 13+ is required. Sorry I told you to try 12 by mistake. :bow:

[2020-09-24 07:08] irtiger commented on #3076
Never mind~! Thank you for the clarification.
How about closing here?

[2020-09-24 07:24] trustin commented on #3076
Yep. Closing.

[2020-09-24 07:24] #3076 closed

[2020-09-24 08:12] trustin opened #3082 "Contribute an Armeria example to Okta Java REST Comparison repository"
Blog: https://developer.okta.com/blog/2020/01/09/java-rest-api-showdown
Repository: https://github.com/oktadeveloper/okta-java-rest-api-comparison-example

/cc @mraible

[2020-09-24 08:14] trustin commented on #3082
Perhaps after #2840 by @max904-github is merged.

[2020-09-24 08:38] trustin commented on #3075
I see. Let me leave this open a while more, though, just in case it happens again.

[2020-09-25 08:15] aio64 commented on #3041
This feature would be incredibly useful for environments in which new virtual hosts need to be added on an ad-hoc basis.  This feature, coupled with FileService, TLS support and Armeria's proxy capabilities would allow us to create extremely robust edge routing servers.

Traefik has such facility exposed through a plugin style solution allowing for a whole span of integrations to providers such as

[2020-09-25 08:35] trustin commented on #3041
@aio64, it's awesome to find someone who shares the same vision for this feature! It'll be a great addition to Armeria. The icing on the cake is that this can be fulfilled without making a breaking change. (or at least I don't see it coming 😆)

[2020-09-28 01:05] jrhee17 opened #3085 "Grpc doc service failure when using `lite` compiled proto files"
Steps to reproduce

1. Compile a `.proto` file using the lite option
2. Add the stub to a service and run a server

[code]

[2020-09-28 04:25] anuraaga commented on #3085
If I remember correctly, proto lite removes support for reflection and doesn't include the descriptor in the protos, which are what we use to power the docs service. I think this is similar for gRPC reflection service, which supports some functionality, but nothing that requires the proto definitions, for proto lite.

Since proto lite is mostly for Android users by having the smaller code size, I'

[2020-09-28 04:27] trustin commented on #3085
At least we should not raise an exception 😆

[2020-09-28 04:34] jrhee17 commented on #3085
Actually ran into this issue due to a wrong dependency issue 😅  (which generated lite when I wasn't intending to do so)

Like trustin said, the hope is 1) leave a trace so that others can find this issue and diagnose what's going on quickly 2) maybe ignore such services and render `DosService`

[2020-09-28 05:13] okue opened #3086 "Support prefix option for Logback integration"
Support prefix option `<exportPrefix>` for [Logback integration](https://armeria.dev/docs/advanced-logging) to specify the prefix of exported MDC properties.

For example, if this xml is loaded

[code]

then `RequestContextExportingAppender` exports `armeria.req.path`, `armeria.req.service_name`, `armeria.res.status_code`, etc.

[2020-09-28 11:23] okue commented on #3086
Or support `prefix` attribute like `<export prefix="armeria"> ... </export>` and `<exports prefix="armeria"> ... </exports>`.

In this case, we can write the following,

[code]

and `RequestContextExportingAppender` exports `armeria.req.*`, `armeria.req.*`, and `some_value`.
Note that no prefix is appended to `some_value` property.

[2020-09-29 05:48] anuraaga commented on #2738
@trustin @minwoox @ikhoon any pointers on how to debug this? I imagine it must be an issue with two streams on one connection, maybe if there are ideas on where we can add more logging or metrics to understand this. Would be cool if Armeria can handle these hundred mbps streams :)

[2020-09-29 06:45] ikhoon opened #3088 "Add Protocol Buffers codec for annoated service"
When a Protocol Buffers object is returned in an annotated service, Jackson serializer will throw the following exception because Jackson does not know how to serialize Protocol Buffers.
[code]

If a `ResponseConverterFunction` for Protocol Buffers is provided with `armeria-grpc`, users could easily build HTTP proxy server in front of gRPC server. For example:
[code]
https://line-armeria.slack.com

[2020-09-29 12:02] okue commented on #3086
I cannot find how to give an attribute to custom Logback appender in [the document](1) and [baeldung blog][2].

So, it may be impossible to support `<exports prefix="armeria">...</exports>`.

[1]: http://logback.qos.ch/manual/appenders.html#WriteYourOwnAppender
[2]: https://www.baeldung.com/custom-logback-appender

[2020-09-29 12:25] minwoox commented on #2738
I have no idea yet. 🤣
So the client ack is implemented using bidi streaming and it took 20 seconds to from the client to the server?

[2020-09-29 23:43] trustin commented on #3086
How about allowing an empty value for `exportPrefix`? e.g.

[code]

This basically assumes that the tags are translated into sequential calls to `RequestContextExporterBuilder`, but I think this assumption will not fail.

[2020-09-30 00:10] trustin commented on #2738
I have no idea, but perhaps we can replicate the problem locally by using some bandwidth-limiting middleman?

@davidk81 Did you increase the HTTP/2 connection window size as well for Armeria clients and servers? If not, what happens if you increase the connection window to a larger value? You can do that programmatically by calling `http2InitialConnectionWindowSize()` in `ClientFactoryBuilder` and

[2020-09-30 02:29] okue commented on #3086
If we can assume that the tags are translated sequentially from top to bottom,
supporting only `<exportPrefix>` (allowing an empty string) is sufficient!

[2020-09-30 02:38] davidk81 commented on #2738
@anuraaga regarding your comment "two streams on one connection" - is it possible for this to happen even though the two streams originate from different GCP VMs? I can confirm the streams are from 2 different TCP connections from client's perspective, but maybe you are talking about different connection concept here (within Armeria?).

@minwoox correct, client ack was implemented using bidi strea

[2020-09-30 03:38] anuraaga commented on #2738
@davidk81

Yeah was referring to TCP connection. From what I can tell, even with two connections to the API server, it can be just one connection between the API server and the streamer server right? It'd be nice to confirm if this is happening maybe by looking at Armeria's active request metrics. If two TCP connections can produce coupling behavior that's extremely surprising. But if multiplexed

[2020-09-30 04:10] davidk81 commented on #2738
@anuraaga I wasn't aware of this possibility, thanks for mentioning it and i'll try to see if this is happening.

[2020-09-30 04:52] trustin commented on #2738
It's not shared between connections. Each connection has its own connection window size.

I'm not 100% sure, but thought it may be worth trying.

+1

[2020-09-30 07:04] davidk81 commented on #2738
@anuraaga studying the metrics it seems both "data consumer" GRPC streams do indeed share the same backend TCP connection via the API service which is something I was not aware of before; thanks for the insight. This would explain some degree of throughput and disconnect coupling we are experiencing.

eg:
grpc-client-1    ---+---  API ---  Data Streamer
grpc-client-2    ---/

interesting regarding

[2020-09-30 07:19] trustin commented on #2738
Two different connections (grpc-client-1 and grpc-client-2) should never be affected by each other in my opinion. Is the 'API server' an Armeria server as well? Which is initiating the disconnection from grpc-client-2, 'API server' or 'Data streamer server'?

[2020-09-30 07:35] okue commented on #3086
If supporting `<exportPrefix>` tag is accepted, I'll send a PR ^ ^

[2020-09-30 07:43] davidk81 commented on #2738
@trustin the API is also Armeria service, I'm not too familiar with it yet on how the two streams are multiplexed - i'll look into this as well.

also, i'm not sure how to determine which service initiated the disconnect. here is log from the "Streamer Server" but note the timestamp may not be indicative of sequence of events (pods on different GKE nodes at the moment). I'll try to do some  testin

[2020-09-30 07:50] trustin opened #3089 "`HttpResponse.of(ResponseHeaders,Publisher<HttpData>)`"
.. which will make is much easier for a user to build an `HttpResponse` from an existing stream.

[2020-09-30 08:25] ikhoon commented on #3086
`<exportPrefix />` looks nice!

Thanks in advance. 😉

[2020-09-30 10:47] minwoox commented on #3086
How about something like:
[code]

[2020-09-30 11:51] anuraaga commented on #2738
@trustin By the way this might or might not be a hint, but I guess the gateway is using our standard "one line proxy" approach of passing the incoming `HttpRequest` to the call to the backend `WebClient.execute`. Is it possible that when the client closes the connection with the gateway, that also ends up with closing the connection to the backend, instead of only the HTTP/2 stream, since it someh

[2020-09-30 12:03] anuraaga commented on #2738
@davidk81 Also, while there does seem to be something wrong going on here that we should get to the bottom of, if you need a quick workaround, I think increasing the number of event loops per endpoints can help

https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/ClientFactoryBuilder.java#L160

For HTTP/2, we usually use just one since multiplexing has less o

[2020-10-01 02:09] okue commented on #3086
I don't know if we can give this xml to custom logback appender.

[code]

[2020-10-01 13:07] jrhee17 opened #3090 "Q. Does armeria + grpc-reactor require the response be written from armeria's event loop?"
I have an armeria server serving requests using grpc-reactor and have to say it's looking pretty good so far 👍

All seemed to work well, except I found that some responses were disappearing without any indications in logging.

After looking at armeria+grpc-reactor examples, I am guessing the response should be written via armeria's event loop.

https://github.com/line/armeria/blob/464521caef452c0d

[2020-10-01 13:21] ikhoon commented on #3090
There is no constraint on implementing gRPC stub. The given example publishes elements via event loop for context propagation.

The stream messages seem to be completed before delivering to downstream. 🤔

[2020-10-01 13:23] jrhee17 commented on #3090
Huh.. seems to be a regression then. Removing that line fails the test

[2020-10-01 13:43] trustin commented on #3090
Yup, streaming from any threads (including non-event-loop ones) should not fail. It sounds like a bug.

[2020-10-01 13:59] trustin commented on #3055
@jrhee17 Would you mind elaborating on this:

Is this problem triggered by a ill-behaving load balancer that sends a response event before receiving a request or ..?

[2020-10-01 14:04] #2167 closed

[2020-10-01 14:06] jrhee17 commented on #3055
I guess some load balancers close a open connection without a request for a certain period of time.
I don't know if I would call it ill-behaving since I was able to reproduce this with a local haproxy with configurations similar to the link below (it's been a while, so I have to dig for the actual cfg file)
https://www.haproxy.com/blog/haproxy-and-http-errors-408-in-chrome/

[2020-10-01 15:24] trustin commented on #3055
I see. I guess what we can do possibly are one of the following:

- Close the connection when it was returned to the pool without making any requests.
- Just warn the protocol violation and close the connection.
  - We could log at debug level if status code is 408.

[2020-10-01 15:27] trustin commented on #2167
Thanks again @linna-li for reporting this issue and @kojilin for fixing it the right way.

[2020-10-01 15:29] minwoox commented on #3086
Logback uses Javabeans introspection so I thought it's possible but I'm not sure because I never tried that. 😄
Let me try first and then I will tell you if we can do that or not.

[2020-10-01 15:41] trustin commented on #2738
@anuraaga An aborted stream only aborts a stream in HTTP/2. Armeria client never closes a connection except when it's idle or its `ClientFactory` is closed. I would be very surprised if an aborted stream closes a connection.

[2020-10-02 03:12] okue commented on #3086
Thanks 😭

[2020-10-02 05:18] davidk81 commented on #2738
thanks everyone for the input; i have done more testing based on additional insights.

**1. regarding coupled disconnect**
this could be caused by our in-house code due to inadequate blocking on event-loop

using same test as before:
grpc-client-1 ---+--- API Server (event-loop-1) --- Data Streamer Server (event-loop-2)
grpc-client-2 ---/

After **grpc-client-1** disconnects, it appear to cause **

[2020-10-02 08:35] trustin opened #3092 "Provide a way to adapt `StreamMessage` into `InputStream` or `OutputStream`"
e.g.

[code]

[code]

[2020-10-02 08:49] tobias- commented on #3092
Get inspiration/copy everything from here.
https://gist.github.com/tobias-/b4841f021374e7cb90b9484f49b49bec

Use and abuse the code linked as you like, I don't consider myself the author of this small chunk of code more than a plumber is the author of laying pipes at certain angles.

Caveat, the code works (at least in it's kotlin form), but there are possible issues with thread-pools, as I know n

[2020-10-02 08:55] anuraaga commented on #3092
I've written something similar here too in case it helps :) https://github.com/burrunan/gradle-s3-build-cache/pull/6/commits/fb99b928e64f6f4d2101f68b01980c794af36dc5

[2020-10-03 12:55] minwoox commented on #3086
What I found out so far is that we can do:
[code]
I couldn't find a way to do this:
[code]
because it seems like Logback does not support adding the attributes of the nested property.
The `exportPrefix` class is created here:
https://github.com/qos-ch/logback/blob/v_1.2.3/logback-core/src/main/java/ch/qos/logback/core/joran/action/NestedComplexPropertyIA.java#L121
and just uses the methods to set

[2020-10-03 14:58] trustin commented on #3086
How about `<exportGroup>` ?

[code]

One thing to think about is whether we need to allow an empty prefix, i.e. `<prefix />`. It looks somewhat confusing, so it's probably better throwing an exception? Users can still achieve what they want with proper grouping of exports:

[code]

We might also want to an additional tag that excludes some exports:

[code]

Makes sense?

[2020-10-03 15:01] trustin commented on #3086
I'm also curious if a user will ever want to export one property into multiple MDC properties, e.g. `req.foo` to `a.req.foo` and `b.req.foo`:

[code]

IIRC we do not support this use case, or do we?

[2020-10-03 23:25] tumile commented on #2390
I'd love to take a stab. An idea on how the `HttpRequestBuilder` may look like
[code]
There may also be `queryParam` or `cookie` (singular) to add a single value. Then we can delegate all `HttpRequest.of` to builder. I think we can even deprecate the more [complex ones](https://github.com/line/armeria/blob/9d4d5864d979bfb888131ce88aa64ec4c75965f5/core/src/main/java/com/linecorp/armeria/common/Http

[2020-10-04 01:48] minwoox commented on #3086
That looks good. 😄

+1

Shouldn't we also raise an exception because it doesn't mean anything?

[2020-10-04 03:08] trustin commented on #3086
How about just warning?

[2020-10-04 03:30] minwoox commented on #3086
That also sounds good.
@okue So we are going to need the class for nesting:
[code]
And add the setter:
[code]

[2020-10-04 04:52] anuraaga opened #3096 "Make sure all defaults have flags"
I found this default value that doesn't have a flag in `Flags.java`

https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/DefaultEventLoopScheduler.java#L59

There are probably a few more like that. It'd be good to have flags for any default value that can be configured in code - there's some risk of a sea of flags, but it's probably worth it especially since

[2020-10-04 07:34] trustin opened #3097 "Transformation/Peek operators in `StreamMessage`"
Related StackOverflow question: https://stackoverflow.com/questions/64188193/using-response-interceptor-to-access-returned-headers

We could add some additional operators to `StreamMessage` so that a user can easily transform or peek the stream:

[code]

We might want to benchmark other reactive frameworks such as Reactor and Mutiny or even implement their API.

[2020-10-05 02:47] ikhoon commented on #1838
Other related works
- https://projectreactor.io/docs/core/release/reference/#debug-activate
- https://typelevel.org/cats-effect/tracing/
-

[2020-10-05 05:16] okue commented on #3086
Thank you very mush for surveying how to implement, @minwoox!

`<exportGroup>` looks good 😄

[code]

BTW, Default export group (`<prefix>` which isn't surrounded by `<exportGroup>`) is needed?

[2020-10-05 05:24] trustin commented on #3086
I think we need it for backward compatibility. 😅

[2020-10-05 06:26] okue commented on #3086
Aa, let me rephrase that.
Supporting `<prefix>` for default export group is needed?
Is it bad if the prefix is always empty?

[2020-10-05 08:36] trustin commented on #3086
Yes, I guess, because a user may want to add a prefix to all exported properties? It would be somewhat inconvenient to use `<exportGroup>` just because of that.

[2020-10-05 14:16] ikhoon commented on #3086
Just out of courisity, at first I thought [JoranConfigurator](http://logback.qos.ch/manual/onJoran.html) seemed like to work for getting attributes. [Spring Boot](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot/src/main/java/org/springframework/boot/logging/logback/SpringBootJoranConfigurator.java) extends it for `<springProfile name="..." />`. https://ho

[2020-10-06 02:32] minwoox commented on #3086
Yes, if the attributes are defined at the top level like Spring does,
Logback stores it here:
https://github.com/qos-ch/logback/blob/master/logback-core/src/main/java/ch/qos/logback/core/joran/spi/InterpretationContext.java#L46

But for the nested property I couldn't find how to get it easily, and we might need a hack or request the feature.

[2020-10-06 02:36] ikhoon commented on #3086
JFYI. When I tested, nested properties were selected by "*/foobar".

[2020-10-06 03:10] minwoox commented on #3086
Oh, I never knew that. 😄
If we have more options, then shouldn't we reconsider the XML file?

[2020-10-06 03:24] trustin commented on #3086
Another thing to consider is that we might add support for other logging frameworks in the future, e.g. log4j2. We might want to keep the same set of XML tags if possible for consistent user experience.

[2020-10-06 04:06] minwoox commented on #3086
Had a chat with @trustin and @ikhoon, and we want to go with https://github.com/line/armeria/issues/3086#issuecomment-703116476
because it's simple and easy to implement. 😄

[2020-10-06 04:08] okue commented on #3086
Sounds good 😄

[2020-10-07 02:00] ikhoon commented on #3090
@jrhee17 Are you looking into this issue? If not, I will take a shot. :-)

[2020-10-07 02:21] jrhee17 commented on #3090
Feel free to take 😃

[2020-10-08 13:23] heowc commented on #3056
How about adding `@ConditionalOnNotWebApplication` to `ArmeriaAutoConfiguration`? 🤔

[2020-10-08 14:37] trustin commented on #3056
Will this help when a user wants to run a Spring MVC app on top of Armeria's Tomcat?

[2020-10-08 16:25] heowc commented on #3056
Oops... I was mistaken. I thought I could put options like `ConditionalOnWebApplication`. 😅

In another opinion, for example Spring Boot can have two dependencies, mvc and webflux, and mvc is automatically chosen first if you don't specify a specific type. To do this in Armeria as well, we need to increase the priority for `ArmeriaAutoConfiguration` and conditionally check the Armeria Server Bean

[2020-10-09 00:59] trustin opened #3100 "NumberFormatException while reading an HTTP chunk"
In a certain situation we do not know exactly yet, a `NumberFormatException` is triggered while reading HTTP request body:

[code]

A workaround is to switch to HTTP/2, which never uses chunked encoding.

So far we could not reproduce it or observe it in production at all. I'd be nice if we have a standalone reproducer for this issue.

[2020-10-09 01:01] trustin commented on #3100
From Premraj Motling:

[2020-10-09 01:36] trustin commented on #3056
@heowc That sounds good to me. Are you going to work on it?

[2020-10-09 08:58] heowc commented on #3056
Yes. I'll work on it. 👌

[2020-10-09 12:29] kev1n11 opened #3101 "[Feature Request] Support `MeterRegistry` Bean for Client in Spring integration"
Currently, the static global `MeterRegistry` is used for client metrics as per https://github.com/line/armeria/blob/3d30b065ee1a1542f54ffe3a03dea6b4cc36c959/core/src/main/java/com/linecorp/armeria/client/ClientFactoryOptions.java#L179

[code]

It would be nice if this uses a `MeterRegistry` bean like that of the server version

[2020-10-09 14:07] trustin commented on #3101
Hey @kev1n11! Thanks for your feedback. The problem is we never had any Spring Boot integration for Armeria clients. We could probably expose a `ClientFactory` bean that's configured properly, e.g. `MeterRegistry`, so that a user can get it injected:

[code]

However, it's probably not easy to provide the same level of customizability for `ClientFactory.ofDefault()`. What do you think?

[2020-10-09 14:07] trustin commented on #3101
/cc @heowc

[2020-10-09 14:12] trustin commented on #3056
Awesome. Thanks as always, @heowc :bow:

[2020-10-10 04:55] delegacy opened #3103 "ArmeriaReactiveWebServerFactory's lamda in access log"
[code]

[code]

When you run a Spring Webflux application with `armeria-spring-boot2-webflux-starter`, you can see those requests which are caught by [this catch-all service](https://github.com/line/armeria/blob/e5c4e81419dc1aaaf89208d4cc141b62ccbcfea9/spring/boot2-webflux-autoconfigure/src/main/java/com/linecorp/armeria/spring/web/reactive/ArmeriaReactiveWebServerFactory.java#L241) are logged lik

[2020-10-10 05:12] delegacy commented on #3103
There could be various ways to address this issue, but I'm not sure which is better.

Basically, I don't know well about motivation on logging `serviceName` for non-RPC requests.

[2020-10-10 05:50] heowc commented on #3101
I think creating an `ArmeriaClientConfigurator` is a good idea. 👍

In addition, what do you think of creating an auto-configuration class for Armeria client and making `WebClientBuilder` with bean?

I referenced [`spring-boot/RestaTemplateAutoConfiguration`](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/bo

[2020-10-11 04:33] heowc commented on #2737
What did you think about the conditions (Any, All, None) decorator?

[2020-10-11 08:24] heowc commented on #1642
I also agree. 👌

[2020-10-12 01:49] amitvc commented on #2976
@jrhee17  @trustin if no one has picked up this issue I can start work on it.

[2020-10-12 02:17] ikhoon commented on #2737
Does that mean the condition decorator filters a request in front of a normal decorator such as `LoggingClient`?

I've thought of the following design for building complex conditions.
[code]

[2020-10-12 03:19] jrhee17 commented on #2976
Sure, go for it 👍

[2020-10-12 08:22] trustin commented on #3103
We should probably specify a better default name for webflux applications, e.g. `SpringWebFlux`

[2020-10-12 10:50] delegacy commented on #3103
FYI)

From armeria-examples/spring-boot-tomcat
[code]

From armeria-examples/spring-boot-minimal
[code]

[2020-10-13 00:12] kojilin commented on #3051
Finally, catch up on all threads. I think doing at the subscribing phase sounds reasonable to me. But doing at publisher creation also working well for us now is because we usally create publisher at  ctx thread.

I'm checking the Armeria-RxJava and it's also using the ctx when publishers are created. Wanna check If there is more nice references. I'm not sure if just doing at subscribing phase can

[2020-10-13 06:21] #3077 closed

[2020-10-13 07:14] heowc commented on #2737
I thought of behaving like the `DocServiceFilter` in Armeria. 🤔

[2020-10-13 09:55] trustin opened #3109 "Check if we accept 0ms when 1+ms is allowed when sub-ms duration is given."
For example, let's say we have the following validation logic:

[code]

The assertion at the last line can fail if a user specifies a duration which is less than 1ms yet greater than 0ms. We should check/consolidate our validation logic for this case.

[2020-10-13 12:22] trustin commented on #2737
I was rather thinking of providing a way to exclude a `Route` from another `Route`. The following example enables logging for all paths under `/home` except `/home/trustin` and enables metric collection for all paths under `/home` except `/home/ikhoon`:

[code]

You could also use `Route` API to achieve the same thing, as shown in your example:

[code]

However, I'm not sure how difficult it will

[2020-10-13 13:12] #3072 closed

[2020-10-14 02:12] amitvc commented on #2976
@trustin Looks like netty uses this option when epoll and keepalive is enabled. See details here
https://github.com/grpc/grpc-java/pull/5599

Can you please point me to classes where we use TCP/IP sockets? Do we use nio based SocketChannels or we use netty's SocketChannels?

[2020-10-14 04:10] trustin commented on #2976
@amitvc We use Netty `SocketChannel`s.

We specify `ChannelOption`s for `ServerSocketChannel`s and `SocketChannel`s here on the server side: https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/Server.java#L451-L462

For the client side, check this out: https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/HttpClientFactory

[2020-10-14 11:53] trustin commented on #3101
You mean exposing `WebClient` without a base URL as a bean? That sounds fine to me.

[2020-10-15 20:39] JLLeitschuh opened #3113 "GHSA-35fr-h7jr-hh86 Credit Assignment"
Hey Armeria Team,

GitHub recently rolled out a credit assignment system to GitHub.

Would you be willing to assign credit to me for disclosing this vulnerability to your team?
https://github.com/line/armeria/security/advisories/GHSA-35fr-h7jr-hh86

Thank you so much!

Cheers,
Jonathan Leitschuh

[2020-10-16 02:04] minwoox opened #3114 "Provide a way to prohibit certain HTTP method"
Certain HTTP method such as `TRACE` is not allowed to use in some company.
In order to disable it, a user needs to do:
[code]
which is a little verbose.

[2020-10-16 02:50] trustin commented on #3114
How about making path-related properties optional for route? i.e.

[code]

Still a little bit verbose, though. What else do you have in mind, adding a dedicated shortcut build method like `disableMethods(...)` ?

[2020-10-16 02:56] minwoox commented on #3114
Yeah, I was sort of thinking that but I'm also afraid that `ServerBuilder` is getting bigger.

[2020-10-16 06:37] #3056 closed

[2020-10-16 07:20] #3090 closed

[2020-10-16 07:23] #3044 closed

[2020-10-16 07:45] #3046 closed

[2020-10-16 09:46] trustin commented on #3113
Hi @JLLeitschuh, we'd be happy to assign credit to you, but I don't know how to do so. Would you mind explaining a little bit on how to assign credit to someone in GitHub's vulnerability page? I don't see anything noticeable in the vulnerability page. Maybe it's not rolled out to all repositories? 🤔

[2020-10-16 10:42] jorgheymans commented on #3114
I agree it's little verbose but the syntax is very clear to me.

A shortcut method would indeed be nice, maybe something like `disableMethods(HttpMethod[] methods, HttpStatus status)` so that we get to pick the status code to associate ? `405` could be default.

[2020-10-16 13:55] JLLeitschuh commented on #3113
Hey @trustin

If you click 'edit' on the advisory (top right), then you go to the bottom you should see 'add a user', type my username 'JLLeitschuh' and click the '+' button.

![Screen Shot 2020-10-16 at 9 54 22 AM](https://user-images.githubusercontent.com/1323708/96267249-94726200-0f95-11eb-8f61-df321c295f9d.png)

[2020-10-17 06:27] heowc commented on #3101
We may need more settings, but for now I think this is enough.

[code]

[2020-10-17 07:58] heowc commented on #3103
It's a completely different issue, but we have the same problem with other features. 🤔

<img width="583" alt="스크린샷 2020-10-17 오후 4 55 48" src="https://user-images.githubusercontent.com/22594101/96331612-9de4f280-1099-11eb-8174-887744f6eebf.png">

[2020-10-19 01:19] minwoox opened #3117 "Should call close when the client receives response before sending request fully?"
Currently, we call `HttpRequest.abort()` if the client receives the response before it sends the `HttpRequest` fully. https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/HttpResponseDecoder.java#L299

Unlike the server-side (which there's a chance that the request is not subscribed to, so we should abort the request), the `HttpRequest` from the client is alwa

[2020-10-19 01:47] adriancole commented on #3117
I like this as it doesn't use exceptions on a success path.

[2020-10-19 02:12] trustin commented on #3113
Unfortunately, GitHub doesn't let me edit the advisory saying 'This advisory is being reviewed by GitHub and can no longer be edited.' 🤔

[2020-10-19 04:53] minwoox opened #3119 "Add a document for streaming request using backpressure"
https://github.com/openzipkin/zipkin/pull/3236#discussion_r507453764

[2020-10-20 17:37] JLLeitschuh commented on #3113
I've reached out to someone on GitHub staff to help out here.

[2020-10-21 02:40] rickyrattlesnake opened #3122 "Spring boot actuator health configurations do not work when armeria-spring-boot2-actuator-starter is included"
When `armeria-spring-boot2-actuator-starter` is added to the project which already has `org.springframework.boot:spring-boot-starter-actuator`

`armeria-spring-boot2-actuator` seems to overrides the behavior of the spring-boot actuator `actuator/health` endpoint.

Applying spring boot specific configurations (https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-features.

[2020-10-21 03:18] ikhoon commented on #914
Closed via #3059

[2020-10-21 03:18] #914 closed

[2020-10-21 05:36] cha7713 opened #3123 "Can I apply armeria retrofit to the Android?"
error-------------------------------------------------------------------------
Execution failed for task ':app:kaptGenerateStubsDebugKotlin'.

-----------------------------------------------------------------------------

Is the usage wrong even though I entered it as below in build.gradle?

implementation platform('com.linecorp.armeria:armeria-bom:1.1.0')
implementation 'com.linecorp.armeria:arme

[2020-10-21 05:44] ikhoon commented on #3123
Hi! @cha7713 We've not tried Amreria with Android yet.
Could you share a reproducible code or a full stacktrace?

[2020-10-21 05:52] cha7713 commented on #3123
I've made a sample project, so there's nothing much to it.
Thank you for your answer.

[2020-10-21 05:52] #3123 closed

[2020-10-23 01:51] minwoox opened #3127 "Message is sent before header is sent?"
[code]
It happened in Armeria 1.1.0

[2020-10-23 01:56] m50d commented on #3127
I suspect that the `sendMessage` call is coming from grpc-stub 1.32.1 `ServerCallStreamObserverImpl#onNext`. There is logic in that class to ensure that `sendHeaders` is always called. Since both `sendHeaders` and `sendMessage` create async tasks to be run by the event loop, I wonder if somehow these tasks were executed in the wrong order?

[2020-10-23 02:16] haithamgabr opened #3128 "Provide a different retry perAttemptTimeout and maxAttempts for each grpc method"
When building a grpc client, and decorating with

[code]

Through the retry rule, It is possible to control the backoff strategy (wait, multiplier) based on the grpc method (from context). The same does not apply to maxAttempts and perAttemptTimeout which are properties of the retrying client not the rule. Can we provide a way to vary them based on the grpc method too, possibly through the retry r

[2020-10-23 02:39] ikhoon commented on #3127
Another stack trace shared from @m50d
[code]

Based the stack trace, the headers failed to be sent is the call is closed already.
It was checked by
https://github.com/line/armeria/blob/6e24e7817f8be94ab21ddba7879e9f84ca840229/grpc/src/main/java/com/linecorp/armeria/server/grpc/ArmeriaServerCall.java#L205

[2020-10-23 02:45] adriancole opened #3129 "Slim the main jar (or provide for it)"
The armeria jar is quite huge (>8M) and a large percentage of Zipkin.

Currently, doc service accounts for 1.6M of the main jar contents, and repackaged bouncy castle 4.4M.

These are the easiest things to address I would guess.

Is it possible to isolate the features of these so that one can use a dependency instead of shading, or possibly use JDK features instead of bouncy castle? I suspect ther

[2020-10-23 05:15] ikhoon opened #3130 "Provide a way to configure `HealthCheckService` in the Armeria Spring integration"
When users use `HealthCheckService` with Spring Boot, they can only set the path of health check like the following.
[code]

If users want to customize the `HealthCheckService`, they have to disable the path and add `HealthCheckService` manually.
By adding `HealthCheckServiceConfigurator` bean, users can customize it using `@Bean` method style.
[code]

[2020-10-23 05:15] wickedev opened #3131 "AbstractServerHttpRequest constructor signature change on spring 5.3"
As the maintainers know, `AbstractServerHttpRequest` constructor signature change as below on spring 5.3 that version hit the release candidate 2. It means official release version coming soon. Pre-emptive Thanks

https://spring.io/blog/2020/10/13/spring-framework-5-3-0-rc2-available-now

https://github.com/spring-projects/spring-framework/commit/3276f818519f9bde187c4ccb83653c21c2e0e7fb#diff-80d00

[2020-10-23 05:19] ghkim3221 commented on #3130
Let me try 😄

[2020-10-23 05:20] ikhoon commented on #3130
Thanks, @ghkim3221 . It is all yours!

[2020-10-23 06:59] ikhoon commented on #3131
Thanks for letting us know the changes. That sounds like ABI incompatibility.
We will check it more when releasing Armeria with Spring 5.3.

[2020-10-23 15:58] haithamgabr opened #3134 "Provide a new CircuitBreakerMapping key by request path"
Currently the available keys for the client to map different circuit breaker behavior are: host, method, host_and_method.

It would greatly help, especially for grpc clients, if a key is provided for path, which represents the grpc method in case of grpc, and will still also help http clients vary behavior by request path.

[2020-10-27 07:48] minwoox opened #3136 "NPE in TomcatService when the Server stops"
[code]

[2020-10-27 11:27] ikhoon opened #3137 "Provide a way to set decoration order"
The order of decoration depends on the order of insertion.
https://armeria.dev/docs/client-decorator#the-order-of-decoration
A decorator inserted later has a higher priority for the client-side.
In contrast, a routing decorator inserted earlier has a higher priority for the server-side.

If a decorator has an explicit order, it would be useful for designing a complex decorating chain.
For example:

[2020-10-27 13:02] trustin commented on #2574
We could do two things:

- Allow a user specify value converters. It's currently hard-coded: https://github.com/line/armeria/blob/7f263ac107544d3f010a82e9f182df4d875bfcc1/core/src/main/java/com/linecorp/armeria/internal/server/annotation/AnnotatedServiceTypeUtil.java#L40-L75
- Add a built-in fallback converter that tries the static factory methods named `of(String)`, `valueOf(String)` and `fromStr

[2020-10-27 13:26] trustin opened #3138 "ClassLoader leak in AnnotatedValueResolver"
See: https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/internal/server/annotation/AnnotatedValueResolver.java#L709

The key of the static map is a `Class`, which means the map should use weak keys.

[2020-10-27 13:27] trustin commented on #3138
/cc @tobias-

[2020-10-27 13:31] person2713 opened #3139 "java.lang.IllegalArgumentException: URI with unknown scheme:"
Hello everyone, i tried to use your project, but I cannot pass test phase, I always get
`Constructor threw exception; nested exception is java.lang.IllegalArgumentException: URI with unknown scheme: http://127.0.0.1:8080/hello
`
but I took example from here https://armeria.dev/docs/client-thrift and it didn't work, it even cannot parse the url that you showed in example.

[2020-10-27 13:32] trustin opened #3140 "ParamConverterFunction?"
We could provide a way to specify a custom converter for a query parameter, like we do for request and response objects using `RequestConverterFunction` and `ResponseConverterFunction`.

Action items:

- Add `ParamConverterFunction`
- Add `@ParamConverter`
- Implement SPI for the built-in `ParamConverterFunction`s.

Related issue: #2524

/cc @tobias-

[2020-10-27 13:33] tobias- commented on #2574
Having a "web-converter" from Enum-classes comes to mind, but like I said, their reasons are not known to me.

[2020-10-27 13:59] trustin commented on #2574
I think this issue can be done in two steps.

1. Write the conversion code that looks up and invokes the static factory methods such as `fromString(String)` or the constructor with a single `String` parameter. Add it into `supportedElementTypes`.
   - At this point, we can close #2574 (this issue).
2. Introduce `ParamConverterFunction` to make parameter conversion extensible. (#3140)
   - At this

[2020-10-28 02:27] heowc commented on #3137
Can I work on it?

[2020-10-28 03:00] minwoox opened #3141 "Provide a way to turn off warning log in BraveClient"
A user who is using Armeria client only, does not have `RequestContext` when `BraveClient` is applied.
This leaves a warning log that bothers a user a bit.
[code]
It will be nice if we provide an option to turn off that.

[2020-10-28 03:02] ikhoon commented on #3137
Sure!
These are some points you need to consider:
- There are many places that decorators can be injected. Please check those points before implementing this feature.
- If unorderd decorators are mixed with ordered decorators, maybe we can give them the lowest order.
- RoutingDecorators are assembled dynamically when a request is received.
  https://github.com/line/armeria/blob/2e792f9c0bac03b5977

[2020-10-28 03:39] ikhoon opened #3142 "Local NPM registery for CI build"
Recently, CI tests on appveyor have been failed a lot.
https://ci.appveyor.com/project/line/armeria/builds/35984128/job/036thuesfcoyiiio
[code]

I think the problem could be solved by installing a local proxy NPM registry.
Verdaccio seems to have good options for proxy and cache.
https://verdaccio.org/docs/en/uplinks#configuration

[2020-10-28 04:01] anuraaga commented on #3142
Do you know if it could be an improvement over NPM's normal cache which presumably is supposed to be working? Is it just a better implementation?

[2020-10-28 05:39] ikhoon commented on #3142
Every PR seems to have its own local cache.
[code]
If a new PR is created, I guess `npm ci` command download node_modules from the remote NPM registry.
So if we have a local NPM registry, we can remove additional network costs and remove unexpected errors.

Or is it better toto share a local cache between the PRs?

[2020-10-28 08:16] anuraaga commented on #3142
Is it not copied from a shared cache? If every PR is downloading from remote registry, then that means the local cache is currently not really caching anything, which I wouldn't expect.

[2020-10-28 10:31] heowc commented on #3137
I have a question.

In [`Decorator`](https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/annotation/Decorator.java) used by annotated service There is already order related logic.

I think this should also be ordered, but it seems a bit vague. 🤔

[2020-10-28 11:48] ikhoon commented on #3137
That's a good question.
The annotated decorators are strongly bound to a class or method of annotated service. I think we can give them the lowest priority.

Let's say we have the following service which uses decorators in various places.
[code]

If the server receives a request on "/foo" path, the request will be passed through:
[code]
And in the decorated MyAnnotatedService:
[code]
The overall d

[2020-10-28 11:54] ikhoon commented on #3142
I'm not sure 100%. 😅
@trustin Is an npm cache shareable between PRs?

[2020-10-28 14:28] heowc commented on #3137
Wow! Thank you for the detailed description.
This will really help me a lot. 😎

[2020-10-30 01:54] m50d commented on #3127
Could we include more details about the request in that `checkState` error message? At the moment it's hard to even tell what request the exception comes from (although that may not help if we can't tell what might have closed it).

[2020-10-30 02:53] anuraaga opened #3146 "Check user-friendlyness of adding gRPC health check to Armeria server"
gRPC has a health check that follows the gRPC protocol

https://github.com/grpc/grpc-java/blob/master/services/src/generated/main/grpc/io/grpc/health/v1/HealthGrpc.java

While it's actually not that common for it to be supported, e.g., in k8s, some load balancers like AWS do support it so it'd be good to make sure it can be enabled fairly simply. Not sure if it's just adding the service or needs s

[2020-10-30 06:04] heowc opened #3147 "Tests related to metric export fail when changing to Spring Boot 2.4"
In Spring Boot 2.4 there are changes to the [Metrics export in integration test](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.4-Release-Notes#metrics-export-in-integration-tests).

We use the in-memory MeterRegistry unless `@AutoConfigureMetrics` is specified when writing tests. But we can't use it because we can't use it for `boot1-autoconfigure`.

Therefore, I think you need

[2020-10-30 08:11] ikhoon opened #3148 "Export the target Rpc method for metric even when a HTTP decorator serves a request."
Let say we have the following a Thrift service and an HTTP decorator.
[code]

If a request does not have a proper authorization header, the request will be failed with FORBIDDEN staus.
Even though the request body has a target method name information with a certain format such as tbinary, the method tag of exported metrics does not have correct method name. It will have `POST`(http level method na

[2020-10-30 08:19] ikhoon commented on #3148
/cc @KarboniteKream You(who recently worked on log names) might be interested in this issue. 🥰

[2020-10-30 11:09] #3130 closed

[2020-10-30 18:58] trustin commented on #3146
Sounds like a good idea. Adding a service sounds better to me since a user needs to inject HealthCheckers.

[2020-11-01 06:31] trustin commented on #3086
Closed via #3112

[2020-11-01 06:31] #3086 closed

[2020-11-02 02:27] trustin commented on #3142
I think it's not copied. It preserves everything under the user's home directory, but that cache directory is not under the home directory.

[2020-11-02 02:29] trustin commented on #3139
Hi! Could you share the repository that reproduces the problem? It sounds like some packaging problem.

[2020-11-02 02:31] trustin commented on #3101
Sounds good to me, @heowc. Are you working on this already? 😄

[2020-11-02 02:47] heowc commented on #3101
No, I'm currently working on [a different issue](https://github.com/line/armeria/issues/3137).

If this feature doesn't need to be added right now, I'll add it after the spring boot dependency is updated to 2.4. We may have to do some unnecessary work to add that feature right now.
- See https://github.com/line/armeria/issues/3147

Also, I'm not sure if something else other than `MeterRegistry` sh

[2020-11-03 09:00] #2574 closed

[2020-11-03 09:13] trustin commented on #3101
That's fine. You have every right to prioritize your contribution. 😉

Would it make sense to add an interface like `ClientFactoryConfigurator` and use it for configuring the `ClientFactory` generated by our Spring Boot integration? (of course unless a user did not create his/her own `ClientFactory`.)

[2020-11-03 09:17] trustin commented on #3147
Sounds good to me. Does this relate to #3101 ? (I guess not)

[2020-11-03 09:36] ikhoon commented on #3127
We got a report that is similar to this error from [Armeria slack channel](https://line-armeria.slack.com/archives/C1NGPBUH2/p1604070308229600). I'm sure this is the same case or not yet.
Let me investigate on the reported issue.
On the otherhand, we can sample the original stacktrace that called `ArmeriaServerCall.close()` with `-Dcom.linecorp.armeria.verboseExceptions=...`  if `-Dcom.linecorp.ar

[2020-11-03 11:01] trustin commented on #2390
Yeah, having a class like WebClientRequestBuilder would be nice. We could extract the common methods in HttpRequestBuilder into some common interface or abstract class. What do you think, @tumile ?

[2020-11-03 15:23] heowc commented on #3147
Not relevant. This is simply a problem when changed to 2.4. The reason I mentioned this in #3101 is that I thought it would be more efficient to work after #3101.

Here's the situation I'm thinking of:
If I work before #3101, I can inject it into the metricRegistry bean I want to create a test after finding all the metric related auto configurations and disabling them. And after #3101, this code i

[2020-11-03 15:35] heowc commented on #3101
If what I understood is correct, Spring Boot made `ClientFactory` integrates only simple things (eg, metricRestry), and if this requires more functions, it is better to guide users to create and use `ClientFactory` themselves. What did you think?

[2020-11-04 06:03] ikhoon commented on #3127
@m50d In my opinion #3153 PR might resolve the issue too. If a call is closed by a remote peer, you no longer see `sendHeaders has not been called` error message.

[2020-11-05 06:50] ikhoon opened #3155 "Unify gRPC timeout scheduler?"
When a gRPC client is sent requests to a gRPC server, the client also sends a remaining timeout to a server. The client and server schedule for the same timeout simultaneously. These could be a race condition. And users will get different errors based on their CPU scheduling.

- When the server schedules the timeout, a network latency is not considered. As a result, in most cases, the client will

[2020-11-06 00:46] #3134 closed

[2020-11-06 02:22] ikhoon commented on #2390
https://www.mocklab.io/blog/which-java-http-client-should-i-use-in-2020/

[2020-11-06 03:49] minwoox opened #3156 "Support client-side caching"
https://tools.ietf.org/html/rfc7234
https://developer.mozilla.org/en-US/docs/Web/HTTP/Caching

[2020-11-06 04:24] techno opened #3157 "Armeria client can't connect to the server which doesn't support modern cipher suites"
It seems Armeria client doesn’t have the way to connect servers which only supports ciphers in `HTTP2_BLACKLISTED_CIPHERS` even if on HTTP/1.1 connection.
https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/internal/common/util/SslContextUtil.java#L187

I want to add acceptable cipher suites on client using `ClientFactory.builder().tlsCustomizer()`, because some ASP

[2020-11-06 04:51] techno commented on #3157
Also the exception by
`webClient.get("https://<no modern cipher suites server>/").aggregate().get().status()`
is `com.linecorp.armeria.common.ClosedSessionException`.
Should it be `javax.net.ssl.SSLHandshakeException`?

[2020-11-06 10:16] windmeup opened #3158 "IPV6 with scope id"
Endpoint accepts the ipv6 address with scope id, like xxxxxxxxxxxxxxxxxxxxx%2, but downstream calls use the Endpoint's host without scope id:

io.netty.channel.AbstractChannel$AnnotatedConnectException: connect(..) failed: Invalid argument: xxxxxxxxxxxxxxxxxxxxxx%2

[2020-11-07 10:59] heowc opened #3159 "Change `blocklist` instead `blacklist`, `allowlist` instead `whitelist`"
For us, changing this can be the correct direction.

See https://gitlab.com/gitlab-org/gitlab/-/issues/7554
See https://github.com/mochajs/mocha/pull/4355

[2020-11-07 11:20] heowc commented on #3137
Here's a bit more discussion of the route decorator on this issue:
- Sort priorities only for the same path.
- Currently, there is a bug in which the last added route decorator is evaluated last. To go in a consistent direction, this must be the first to be evaluated. This must be corrected first 🤔

[2020-11-07 12:45] trustin commented on #3158
That sounds like a bug. Thanks for reporting.

[2020-11-07 13:01] trustin opened #3160 "Incorrect route decorator evaluation order"
Route decorators are currently evaluated in incorrect order.

For example, the decorators in the following two examples should be evaluated in different orders:

[code]

`decorator2` and `decorator4` must be evaluated before `decorator1` and `decorator3`, but it's `decorator1` and `decorator4` that are evaluated first.

To fix this issue, we need to change how we choose route decorators, e.g. do n

[2020-11-07 13:02] trustin commented on #3137
Created a new issue for evaluation order - #3160

[2020-11-07 13:03] trustin commented on #3159
We fortunately do not have them in our API, but only in some private field names and comments.

[2020-11-08 07:17] anuraaga opened #3162 "Replace jakarta.annotation with javax.annotation"
jakarta.annotation released 2.0 which moves all the packages to `jakarta.` from `javax.`. I don't know why they even made releases with the old names if they were going to do this, but we can expect dependency problems in the future if libraries start targeting 2.0. So we should probably switch to the classical artifact https://search.maven.org/artifact/javax.annotation/javax.annotation-api/1.3.2/

[2020-11-09 03:08] trustin commented on #3162
Sounds good to me.

[2020-11-09 05:01] ikhoon commented on #3157
Had chat with @minwoox and @trustin and we decided to keep the original policy and add an option such as `.tlsAllowUnsafeCiphers()` for compatibility.

That makes sence. I think `SSLHandshakeException` could be a cause of the `ClosedSessionException`.

[2020-11-09 06:52] mauhiz commented on #3036
This happened again today (still on Armeria 1.1.0)

[2020-11-09 10:32] #2970 closed

[2020-11-09 12:30] ikhoon commented on #3131
Spring 5.3 has been released. https://github.com/spring-projects/spring-framework/releases/tag/v5.3.0

[2020-11-10 11:35] trustin opened #3168 "Allow a user to handle CONNECT method requests"
Question asked at: https://stackoverflow.com/questions/64755992/http-to-https-proxy-connect-handling-porting-code-from-netty-to-armeria

It'd be nice if an `HttpService` can handle a `CONNECT` method request.

[2020-11-11 01:15] minwoox commented on #3036
@mauhiz I didn't have a clue yet. 😅
I think NPE can be raised in two situations:
- if `IntObjectHashMap` has a bug
  - There are not so many chances that this can be true because it's used everywhere.
- if two threads access the `IntObjectHashMap`
  - I suspect this case but I couldn't find it yet. Perhaps we need to add more conditions to check. 🤔

[2020-11-11 09:41] Zeymo opened #3170 "How to support non-HTTP RPC protocol in single port with gRPC"
Now we do some protocol migration from Customer-RPC-Protocol to gRPC, we want legacy protocol and gRPC shared logic and run in single port.

AFAIK Armeria is HTTP-based framework, our Customer-RPC-Protocol something like HTTP/1 (PlainText) and have magic code distinguish itself from other protocols

How can I inject  this protocol  into Armeria?

[2020-11-11 09:44] trustin commented on #3170
Hey @Zeymo, thanks for asking. If I understood correctly, your legacy protocol is HTTP-like but it's not HTTP. How much does it differ from HTTP/1? Could you give us some example? If it's just about introducing a new method name, it might not be extremely hard to support that, but otherwise it's currently not possible, although we want to add an extension point to support non-HTTP protocols as wel

[2020-11-11 09:57] Zeymo commented on #3170
@trustin thx for ur time

Request
`
MagicCode <Path>
header1:value1
header2:value2
`

Response
`
<statusCode>
header1:value1
header2:value2
`

body use Customer-Serialize, ProtoBuf,JSON,MessagePack etc.

It's almost like http besides MAGIC CODE

[2020-11-11 23:55] trustin commented on #3170
I see. Although very similar to HTTP, I think it cannot be handled by our HTTP stack because the headers have semantics incompatible to HTTP. However, please stay tuned - we'd like to add support for non-HTTP protocol sooner or later.

[2020-11-12 01:10] #3170 closed

[2020-11-12 01:25] imasahiro opened #3173 "HealthcheckEndpointGroup return empty endpoints if backend EndpointGroup refresh with different endpoints"
I'm using 2 types of EndpointGroups (a DynamicEndpointGroup, [CentralDogmaEndpointGroup](https://github.com/line/centraldogma/blob/master/client/java-armeria/src/main/java/com/linecorp/centraldogma/client/armeria/CentralDogmaEndpointGroup.java) and static EndpointGroup) and combine them using OrElseEndpointGroup, and then wrap with HealthCheckedEndpointGroup.

[code]

This HealthCheckedEndpointGro

[2020-11-13 03:09] wickedev commented on #3131
Spring Boot 2.4 that depends on spring 5.3 has been released. https://github.com/spring-projects/spring-boot/releases/tag/v2.4.0

[2020-11-13 03:22] minwoox commented on #3173
Yeah, changing to the `orElseEndpointGroup` after the first health check is done seems nice.
@imasahiro Are you going to handle this?

[2020-11-13 06:23] imasahiro commented on #3173
@minwoox please feel free to handle it, if you want. I don't have enough time to handle this, at this week and next week..

[2020-11-16 02:13] ikhoon opened #3175 "Add search form to armeria.dev"
Currently, the official documentation site(https://armeria.dev) does not provide a search form.
There are some plugins integrating to Gatsby https://www.gatsbyjs.com/docs/adding-search/

[2020-11-16 02:15] #3162 closed

[2020-11-16 02:29] trustin commented on #3175
It'd be also nice if we can include the class/method list in the search autocompletion form.

[2020-11-16 06:31] rolandblain opened #3176 "Could not generate marshaller"
The following message occurs when the spring is started and the application is terminated
[code]

### dependencies
- spring-boot 2.3.5
- spring-webflux 5.2.10
- jdk 1.8, 11 both
- kotlin 1.4

#### build.gradle

[code]

#### proto

[code]

#### configuration
[code]

[2020-11-16 08:09] #3159 closed

[2020-11-16 09:59] trustin commented on #3176
/cc @anuraaga I guess you've seen this report via curioswitch/curiostack#601 but just in case 😉

[2020-11-16 10:01] trustin commented on #3176
@anuraaga It'd be nice if the exception message includes 'what message type' triggered the failure by the way.

[2020-11-16 11:32] tobias- opened #3179 "Parsing of Accept-Language header and best matching Locale"
The `Accept-Language` header is used to tell the server which languages the user can understand and the preference (weight) of each. It's well described from the client perspective here: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language.

The suggestion is to add parsing of that header and selecting the best matching `Locale` (from the ones that the server implementation su

[2020-11-16 11:33] tobias- opened #3180 "Routing with Accept-Language"
Routing today can switch on e.g. MediaType and raw header value via .matchesHeader(). The suggestion is that it can be useful to add routing on Locale as well.

This can be done in two parts:
1. Adding parsing of the header to `java.util.Locale.LanguageRange` and select based on supported languages. This is tracked in #3179 .
2. Add routing based on that value.

[2020-11-17 05:15] rolandblain commented on #3176
After remove the dependency "org.springframework.boot:spring-boot-devtools", it worked perfectly. Thanks to @probepark

[2020-11-17 05:15] #3176 closed

[2020-11-17 05:51] ikhoon commented on #3036
I got a report from LINE internal slack channel

When setting the application to unhealthy before restart, `com.linecorp.armeria.common.ClosedSessionException` seems not to be thrown.
(in my case)

[2020-11-17 06:00] anuraaga commented on #3176
Thanks for the pointer - looks like the error message could be improved. Does anyone know why spring-boot-devtools affects this codepath?

[2020-11-17 07:23] probepark commented on #3176
It seems to be a problem due to the different class loader.

[code]

[2020-11-18 02:07] probepark commented on #3176
If you work on a multi-module project
Try this out
[code]

Thank you @minwoox

[2020-11-19 03:26] rolandblain opened #3184 "unresolved reference "GrpcHeaderNames" from document code"
hi

from https://armeria.dev/docs/server-grpc#grpc-web

[code]

It's marked as a unresolved reference.

build.gradle :

[code]

maybe the document update needed.

thanks.

[2020-11-19 03:30] minwoox commented on #3184
Thanks for the report. Let us update the document. 🙇

[2020-11-19 03:37] minwoox commented on #3184
Fixed by https://github.com/line/armeria/commit/353634acf1347390e7c82336ccbe4f34f419b561

[2020-11-19 03:37] #3184 closed

[2020-11-19 03:49] minwoox commented on #3184
https://armeria.dev/docs/server-grpc#grpc-web
It's now fixed. 😄

[2020-11-19 06:45] #3158 closed

[2020-11-19 07:09] #3128 closed

[2020-11-19 08:48] #3157 closed

[2020-11-19 13:07] trustin opened #3186 "Test failure: `DefaultSplitHttpResponseTest.cancelResponse()`"
[code]

[2020-11-19 13:08] ikhoon commented on #3186
Oops... let me take a look.

[2020-11-19 13:08] trustin commented on #3186
Test reports: https://file.io/0y81vDZ10wci

[2020-11-19 22:14] #3186 closed

[2020-11-20 04:33] #3088 closed

[2020-11-23 12:54] trustin opened #3190 "Implement backup requests"
'Backup requests' is a technique for reducing the request latency by sending a 'backup request' after a certain period of time (e.g. 2ms) and cancelling the late one. See the page 39- of [this slide deck](https://static.googleusercontent.com/media/research.google.com/en//pubs/archive/44875.pdf) ([YouTube](https://www.youtube.com/watch?reload=9&v=1-3Ahy7Fxsc)). Looks like a distributed version of w

[2020-11-24 07:27] ikhoon opened #3191 "Provide a way to register a custom gRPC status mapping rule"
An exception is converted to gRPC status automatically by using `GrpcStatus.fromThrowable`.
https://github.com/line/armeria/blob/0605acd3eb9aa410c929c3c9b837fc7d9c2efb67/grpc/src/main/java/com/linecorp/armeria/internal/common/grpc/GrpcStatus.java#L80

This is hard-coded and used only for internal implementation. If users want to map an exception to a gRPC status, they need to handle the exception

[2020-11-24 14:55] minwoox commented on #3147
Sloved with
[code]

[2020-11-24 14:55] #3147 closed

[2020-11-24 15:01] minwoox commented on #3131
Spring `HttpHeaders` implements `MultiValueMap<String, String>` so it should be fine I guess. 🤔

[2020-11-24 16:06] ikhoon commented on #3131
Widen type does not seem to guarantee binary compatibility.
https://stackoverflow.com/questions/1365409/refactored-methods-and-binary-compatibility-in-java

[2020-11-25 00:46] minwoox commented on #3131
No, it doesn't guarantee.
However, it happens when a user uses Armeria 1.2.0(or older versions) with Spring 5.3.x
because Armeria 1.2.0 is compiled with Spring 5.2.9.
If a user uses Armeria 1.3.0 with Spring 5.3.X(perhaps 5.2.X as well, not 100% sure), then there are no compatibility issues.

[2020-11-25 01:05] ikhoon commented on #3131
I think so too. If Armeria recompiles with Spring 5.3, it may go well with Spring 5.2.

[2020-11-25 03:06] ikhoon commented on #3131
Let me check the compatibility. 😉

[2020-11-25 03:31] ikhoon commented on #3131
Unfortunately, I confirmed that the new Armeria version that compiles with Spring 5.3.x cannot run with Spring 5.2.x
The error produced at the same point.
[code]

[2020-11-25 04:20] ikhoon commented on #3131
I filed an issue on spring framework https://github.com/spring-projects/spring-framework/issues/26151
and add a workaround to the upgrade PR(https://github.com/line/armeria/pull/3193/commits/ef177cb7fd0b20fc851a42f662fd81d0d4f63712)

[2020-11-25 05:14] minwoox commented on #3131
Oops, thanks a lot, @ikhoon 🙇

[2020-11-25 07:59] #3160 closed

[2020-11-25 08:45] #3061 closed

[2020-11-26 10:31] ildartuykin opened #3196 "Provide an option to Armeria client to keep the original header key"
We need a possibility to Armeria client not to convert headers to lowercase for HTTP/1, because some servers violate case insensitive HTTP/1 requirements.

[2020-11-26 12:06] trustin commented on #3196
Our `HttpHeaders` implementation currently stores all header names in lower-case for consistency and performance.
Would it solve your problem if we provide a way for a user to specify header name conversion policy for HTTP/1? e.g.

[code]

[2020-11-26 13:35] ildartuykin commented on #3196
Both variants looks good.

[2020-11-27 01:44] alex-lx opened #3198 "Why armeria prefer @Nullable to Optional?"
It's not an issue but a question, so feel free to close it if it not fit your issue policy :P.

1.  Armeria used Optional long long ago, and then change it to `xxxOrNull` style API. why you prefer this?
2. There're many @nullable variant in different library, like jsr305, jetbrains-annotations, could you, skillful developers, share your practice which and why to use one rather than another?

Big t

[2020-11-27 03:56] ikhoon commented on #3198
Armeria removed `Optional` from the public API.
Please refer to the previous discussion and reason #2362 #2371

One of the reasons is that Armeria supports JDK languages well. Java is the main target language of Armeria. However, we don't want to limit the scope to Java.

Kotlin supports an awesome null-safety using `?`. It does not go well with `Optional`. Kotlin understands nullable annotations

[2020-11-27 03:59] ikhoon commented on #3198
We are also considering to adopt `jetbrains-annotations`. #2793 You can leave your opinion on that thread. 😀

[2020-11-27 08:19] #1887 closed

[2020-11-27 15:09] minwoox commented on #3131
Closed by #3193

[2020-11-27 15:09] #3131 closed

[2020-11-29 10:57] alex-lx commented on #3198
Thanks for your reply. It makes sense. How about dealing with pure Java code?

[2020-11-30 02:22] alex-lx commented on #2362
Hi, @trustin, I'm a Armeria's fan and we're doing something like code style in our team, but we meet a problem that when to use Optional or Nullable. could you mind to share more details about how you make this decision?

AFAIK, `Optional` could be used as return type of a method, then it can be used in a fluent style, using `map` to simulate `?.` and `orElse` to simulate `?:` in some other langua

[2020-11-30 03:27] #3138 closed

[2020-11-30 04:13] trustin commented on #2362
Hi @alex-lx! Value types are 'inline classes':

- https://www.infoq.com/articles/inline-classes-java/
- https://dzone.com/articles/project-valhalla-fast-and-furious-java

`Optional` is not an inline class and I guess it will never be so due to backward compatibility reasons.

A user who prefers method chaining with `Optional` could wrap the return value with `Optional.ofNullable(...)`, although it

[2020-11-30 05:37] #3179 closed

[2020-11-30 05:56] alex-lx commented on #2362
Thanks, @trustin! I agree sometimes it's really verbose and hard to read that using `Optional`.

[2020-11-30 12:19] #3191 closed

[2020-11-30 13:15] ikhoon opened #3208 "Consider `Http2Exception: Stream x does not exist` as an expected exception after GOAWAY is sent"
When a server receives a stream after a GOAWAY frame is sent to a client, the server warns the received stream like the following:
[code]

I think it is worth to consider `Stream x does not exist` as an expected exception after a GOAWAY is sent.

[2020-12-01 00:54] #3198 closed

[2020-12-01 08:06] policeman-kh opened #3209 "Return custom eror page when the execution time is long then armeria sends a response with 503"
Our service, https://store.line.me using armeria and embedding tomcat service.
ref: https://armeria.dev/docs/server-servlet

When tomcat execution is long then ameria got timeout error, "503 Service Unavailable" message appears in browser.
We would like to response custom error page to users instead of "503 Service Unavailable" message.

As-Is:
Just  "503 Service Unavailable" message. It's not use

[2020-12-04 10:59] ikhoon opened #3212 "`Subscriber.onNext(null)` MUST throw `NullPointerException`"
`Subscriber.onNext(null)` MUST throw `NullPointerException` as per Reactive Streams 2.13.
https://github.com/reactive-streams/reactive-streams-jvm#2.13
Some subscribers do not check the nullness. If `onSubscriber(null)`, `onNext(null)` and `onError(null)` throw NPE, we might need to adjust our warn messages in Subscriber. e.g.:
https://github.com/line/armeria/blob/6c7c7d65ef8f6cb231e9d42ce6ea1d84c

[2020-12-07 06:52] ikhoon opened #3214 "Provide a way to create non-official gRPC client stub"
Currently, Armeria gRPC client factory use reflections to find a stub factory method or constructor from the specified client type.
Armeria supports well-known client types already such as gRPC-Java, Reactive-gRPC, gRPC-Kotlin, and so on.

When users want to use a new gRPC client stub with Armeria gRPC client, we need to add a new reflection code to find `ServiceDescriptor` and a stub factory. I t

[2020-12-07 07:55] trustin commented on #3214
How about generalizing a little bit more and using SPI?

[code]

We could go through all `GrpcClientStubFactory`s for a given `clientType` in `GrpcClientFactory.newClient()`.

[2020-12-07 08:15] ikhoon commented on #3214
That is a good suggestion.

The original situation was that I tried to integrate Armeria gRPC server and client with community-driven gRPC stubs such as https://github.com/fiadliel/fs2-grpc.

The generated stub looks like:
[code]

If we use SPI, users could use the following:
[code]

[2020-12-07 12:14] trustin commented on #3214
Could be simplified into `.getClass().getName().endsWith("Fs2Grpc")` and some reflection?

[2020-12-07 15:17] ikhoon commented on #3214
I intented to offer a type-safer way so that users are easily to add by themself.
However, a generalized `GrpcClientStubFactory` via SPI also looks good to me. The reflection won't be that complicated.

[2020-12-08 06:45] ikhoon commented on #2952
Fixed by #2981

[2020-12-08 06:45] #2952 closed

[2020-12-08 06:46] ikhoon commented on #2637
Fixed by #3118

[2020-12-08 06:46] #2637 closed

[2020-12-08 06:48] ikhoon commented on #2148
Fixed by #3110

[2020-12-08 06:48] #2148 closed

[2020-12-08 08:28] ikhoon commented on #2044
An exception raised while serving a gRPC service could be handled by `GrpcServiceBuilder.addExceptionMapping()` and `GrpcServiceBuilder.exceptionMapping`.
The new features are released with Armeria 1.3.0.
https://armeria.dev/release-notes/1.3.0

[code]

[2020-12-08 08:28] #2044 closed

[2020-12-09 09:27] ikhoon commented on #3103
If users want to format the access log dynamically, do we add an AccessLogWriterBuilder and build a format programmatically?
For example:
[code]

[2020-12-09 16:39] amitvc commented on #3041
@trustin I want to work on this issue. I have started reading about the relevant classes that will require some changes for this.

[2020-12-11 00:58] m50d commented on #3127
Sadly that PR doesn't seem to have resolved things - we've deployed armeria 1.3.0 but have still seen this error happen occasionally.

[2020-12-11 02:23] ikhoon commented on #3127
Hmm.. Are the error stacks exactly the same?
Let me check possible cases.

[2020-12-11 04:34] m50d commented on #3127
Line numbers have changed, but other than that it looks exactly the same:

[code]

[2020-12-11 04:48] ikhoon commented on #3127
The logs havean error message like `java.lang.IllegalStateException: call is closed` before warning the `java.lang.IllegalStateException: sendHeaders has not been called`?

[2020-12-11 04:54] m50d commented on #3127
Ah yes, sorry. The exceptions always come in pairs, with the first one being:

[code]

[2020-12-11 05:01] ikhoon commented on #3127
Thanks! That is good information. 🙇‍♂️

[2020-12-13 00:01] adriancole commented on #2632
PS in trying to diagnose something in an elasticsearch upgrade, I ran into this again. It is really hard to read especially as there is so much metadata introduced near the request line and special formatting in the default loggers. It would be immensely helpful to have straight-forward HTTP logging. Sorry I don't have time to work on this, but I felt it important to re-ping.

[2020-12-13 00:02] adriancole commented on #2632
also, the setup is a lot more difficult, though maybe there are ways to improve how I'm doing this. I'm often confused about what should be in builder vs options builder.

[code]

[2020-12-13 00:04] adriancole commented on #2632
Here's an example, which even after stripping the normal logger off the format still is quite difficult to read. I would love to be able to have a logging extension weed all this out, as especially in serial tests it isn't required to have so much metadata and it actually gets in the way vs normal formatting.

[code]

[2020-12-14 05:29] #3212 closed

[2020-12-14 05:35] #194 closed

[2020-12-14 05:39] trustin opened #3224 "etcd-based service discovery"
We could implement:

- a `ServerListener` that registers/deregisters a `Server` to/from etcd; and
- an `EndpointGroup` that retrieves an `Endpoint` list from etcd

Related issues: #194 #2791 #3002

[2020-12-14 05:40] trustin commented on #194
Let me close this issue since we implemented most protocols now. I created #3224 for etcd, which is the last protocol standing.

[2020-12-14 06:42] anuraaga commented on #3155
Randomly found this issue while cleaning inbox. I think I originally intentionally didn't follow the spec strictly where client timeout always controls timeout because it seems very dangerous - an RPC boundary is often a boundary of trust (different teams, or even internal/external users) so giving timeout control to a client can result in the death of a server. I would generally not ignore the se

[2020-12-14 07:37] trustin commented on #2632
Agreed. Just didn't have spare cycles for doing this..

[2020-12-14 13:21] ikhoon commented on #3155
I didn't mean that a server does not control a timeout. A server could wait for a client to close a call within a deadline + some buffer time. As a result, mostly the timeout is controlled by the client.

JFYI, the original discussion had in https://github.com/line/armeria/pull/3153#discussion_r517138253.

[2020-12-15 03:53] anuraaga commented on #3155
Ah sorry I misread this - but grpc-timeout header does exist to allow propagating timeout to server from client so nice to not ignore it. I guess since client may have better idea of when it's possible to use a shorter timeout. I think the behavior of using min(server, client) timeout in the server is a reasonable one, maybe it would make the error code more predictable.

[2020-12-15 06:40] #3136 closed

[2020-12-15 14:34] amitvc commented on #3041
Current status - Doing some reading on existing classes and trying to understand what needs to be done.

[2020-12-16 05:23] minwoox opened #3227 "Add documentation for `ClientFactoryBuilder`"
So that a user knows about `tlsCustomizer`, `maxNumEventLoopsPerEndpoint`, and so on.

[2020-12-16 08:14] minwoox opened #3229 "Buffer leak in DNS resolver"
[code]

[2020-12-16 08:22] minwoox opened #3230 "`EndpointGroup` should be able to contain duplicate `Endpoints`?"
[code]
This is perfectly valid at the moment.
Shouldn't we prohibit the duplicate `Endpoints` in `EndpointGroup`?

[2020-12-17 01:22] minwoox opened #3231 "Flaky test in ConsulEndpointGroupTest"
[code]

[2020-12-17 02:32] ikhoon commented on #3155
Does that mean a server takes a shorter timeout between server and client even though `useClientTimeoutHeader` is set? That sounds nice. It will make the server control the timeout more sophisticated.

[2020-12-17 05:40] heowc commented on #3231
Some of [the CI logs](https://ci.appveyor.com/project/line/armeria/builds/36862242/job/mdiaijwsytb953l2#L2038) for my PR have something like this: Do you have anything to do with this?

[code]

[2020-12-17 06:13] anuraaga commented on #3230
I guess if a dynamic endpoint group, like DNS or zookeeper, happened to return multiple of the same endpoints (maybe a way of doing weighting without actual weights) it's best to respect it.

[2020-12-17 06:23] ikhoon commented on #3231
Hmm... 🤔

[2020-12-17 06:32] minwoox commented on #3230
Thanks! I guess I have to change to respect the duplicate endpoints then. 😄

[2020-12-17 07:21] ikhoon opened #3232 "Provide a way to customize default `serviceName` in RequestLog"
The default `serviceName` of a service is an FQCN of the innermost class.
And a `serviceName` could get overridden by `ctx.logBuilder().name(serviceName, methodName)`.
Sometimes, users want to globally change the `serviceName` convention to a simple name of the innermost class.

We might provide an option to `ServerBuilder` such as:
[code]

And we can also provide a built-in abbreviation algorithm

[2020-12-17 07:46] hexoul commented on #3232
For me, it should be useful for sure. Not only abbreviation algorithm but also other rules seems good to be flags. For example,
1. `ServiceNamingRule.dot.last(2)` to pick last two concatenation separated by dot.
2. `ServiceNamingRule.simple` to pick just class name.
2. `ServiceNamingRule.shorten(15)`

[2020-12-17 07:49] ikhoon commented on #3232
That's a nice suggestion. Are you interested in sending a PR? 😉

[2020-12-17 09:03] ptrthomas opened #3234 "heads up: possible that ssl on linux is broken on ubuntu 20201210.0"
we just observed that our CI broke on GitHub actions, the thread is here: https://github.com/intuit/karate/pull/1403#issuecomment-747302016

the tests that broke involved SSL

and this was when the ubuntu 18.04.5 version was auto upgraded from 20201129.1 to 20201210.0

when the os was forced to ubuntu 20.04 things are working again

sorry I don't have more details or a way to replicate, but wanted

[2020-12-17 13:30] hexoul commented on #3232
I hope so. 🤣 I am curious about the preference for this of you. If the user invokes `ServerBuilder#serviceNaming` and injects `MeterIdPrefixFunction`, should it be combinable? how can we deal with?

https://github.com/line/armeria/blob/master/spring/boot2-autoconfigure/src/main/java/com/linecorp/armeria/spring/AbstractArmeriaAutoConfiguration.java#L74-L76

[2020-12-17 13:37] ikhoon commented on #3232
I think `ServerBuilder.serviceNaming` could be applied to `RequestLog.serviceName` if a user does not specify `serviceName` explicitly.
`MeterIdPrefixFunction` will use `RequestLog.serviceName` itself without any modifications.

[2020-12-17 13:49] ikhoon commented on #3232
The `ServerBuilder#serviceNaming` will customize the populated `newServiceName` in the following code.
https://github.com/line/armeria/blob/8689584b4288fe224385f284ec88049afa96e590/core/src/main/java/com/linecorp/armeria/common/logging/DefaultRequestLog.java#L1050-L1068

[2020-12-18 03:57] ikhoon commented on #3127
@m50d Are you using blocking task executors for your gRPC service?

[2020-12-18 09:31] minwoox commented on #3231
Thank, will look into that when I got some time. 😄

[2020-12-19 04:26] delegacy commented on #2223
Sorry for a really long consideration, but... 😅

 I'm thinking this does not introduce any advantage because normally users must implement `AsyncIface` in an asynchronous way. I feel like this feature just allows users to make mistakes. (blocking implementation in AsyncIface)

Any thought?

[2020-12-19 07:47] anuraaga commented on #2223
Agree that unlike gRPC thrift doesn't really need it since there are two types of interface classes.

[2020-12-19 22:14] hunainhafeez2016 commented on #3234
Thanks for sharing such a beautiful information with us.

<a href="https://gulfjobsvisas.com/jobs/fia-jobs">FIA jobs</a>

[2020-12-22 05:24] amitvc commented on #3041
@trustin I am trying to envision how this feature will work. Lets take a simple scenario -

[code]

The someEvent method gets called on some event in the system. On occurrence of this event the user wants to register a new service onto the server.

I wonder if there is a simpler solution --
The user builds all routes and services the way they do it now. For some routes they register  callbacks. Th

[2020-12-22 09:11] trustin commented on #3041
How about providing a way to replace the entire routes? e.g.

[code]

[2020-12-22 11:10] progresivoJS opened #3241 "Add additional withTags APIs to MeterIdPrefixFunction"
In MeterIdPrefixFunction, there are 2 APIs named `withTags`.

[code]

How about adding following API? I feel this API is somewhat straightforward to me.
[code]

[2020-12-22 11:22] minwoox commented on #3241
Thanks, I like the idea. Would you mind sending a PR for that? 😄

[2020-12-22 11:26] progresivoJS commented on #3241
OK.  I will send a PR soon. 😎

[2020-12-22 14:01] amitvc commented on #3041
I like this ^^^ approach better than what I had in mind 😄 . I will start work on this

[2020-12-24 04:39] #3208 closed

[2020-12-24 07:41] #3103 closed

[2020-12-24 07:53] trustin commented on #2223
Let me close this issue, then. Please feel free to create a new issue if the situation has changed.

[2020-12-24 07:53] #2223 closed

[2020-12-24 07:56] trustin commented on #3230
I'm not sure which is better. Slightly leaning toward to respecting it.

[2020-12-25 08:46] trustin opened #3243 "Allow running without `netty-incubator-transport-native-io_uring` in the class path."
Given that Netty's io_uring transport is not production-ready, it'd be nice if we can make it an optional dependency. Currently, it fails in runtime when it doesn't exist in the classpath:

[code]

[2020-12-28 03:19] #3241 closed

[2020-12-28 03:23] trustin opened #3247 "Test failure: `TomcatServiceDestroyedConnectorTest.serviceUnavailableAfterConnectorIsDestroyed()`"
[code]

[2020-12-28 04:09] m50d opened #3248 "NPE when retrying RPC requests with armeria-client (suspect race condition around `NonWrappingRequestContext#rpcReq`)"
Hi,

We're seeing exceptions like:

[code]

`RetryingClient#doExecute0` passes `ctx.rpcRequest()` to `newDerivedContext`, so I think this can only happen if `ctx.rpcReq` is `null` on this line but then becomes non-null when the constructor of `DefaultClientRequestContext` is executed. However that does seem entirely possible: `rpcReq` is `volatile` and `DefaultRequestLog#requestContent` calls `ctx

[2020-12-28 07:29] ikhoon commented on #3248
`ctx.updateRpcRequest` seems to be executed in a non-event loop thread. 🧐

[2020-12-28 07:34] m50d commented on #3248
Is there an invariant that that should never happen? It looks like `DefaultRequestLog#requestContent` gets called from various future callbacks; I didn't trace any further than that.

[2020-12-30 08:06] kojilin commented on #3051
Using RxJava as an example. Like this? https://github.com/line/armeria/compare/master...kojilin:rxjava2-subscribe?expand=1
But found the hook feature may have trouble like if we have `cache` and share with multiple contexts. Due to auto hook, if there are multiple requests request concurrently, the cache operator will trigger by the first context and have `IllegalStateException` to other waiting c

[2020-12-30 10:47] kojilin commented on #3051
Curious if the hook at `subscription` can handle like `cache`. If we have shared instance for multiple contexts. If there are multiple contexts calling subscribe concurrently, the 1st onNext will be 1st context and others will be failed by a strict context check rule(already a different root context in the scope)?

I put the below code in `contextpropagation example` and the 2nd concurrent request

[2020-12-31 04:59] trustin opened #3258 "Automatically convert `HttpFile` in annotated services"
A user can easily serve a static file in an annotated service as follows:

[code]

However, it'd be even nicer if a user can do this:

[code]

[2021-01-04 04:18] minwoox commented on #3230
Let's allow the duplicate endpoints. Thanks all!

[2021-01-04 04:18] #3230 closed

[2021-01-04 04:19] minwoox commented on #3229
The user uses another Netty client. So the leak could be from the client.

[2021-01-04 04:24] #3243 closed

[2021-01-04 04:30] anuraaga commented on #3051
@kojilin I'm not too sure how Flux cache works, but I guess it caches values - shouldn't the subscribers each get the value, but their callback is run in the correct context without any other mounted? Actually this feels like a reason that subscriber controlling context should work better than publisher. I'm trying to compare to a cache of `CompletableFuture` - I guess it would have the same probl

[2021-01-04 07:21] eisig opened #3263 "Add metadata to Endpoint"
The eureka (or consul) endpoint, does not keep the meata data of the service instance.
Sometime we need to filter endpoints by tags, or prefer  endpoint whith tags.

[2021-01-04 11:04] ikhoon commented on #3142
The CI failure on NPM installation was fixed by #3204

[2021-01-04 11:04] #3142 closed

[2021-01-04 11:41] trustin commented on #3263
Sounds like a good idea. We currently use `AttributeKey` for such purposes, most notably in `RequestContext`. Do you think it will work for `Endpoint` as well?

[2021-01-05 04:40] eisig commented on #3263
I seems ok. But it seems that there is no  AttributeMap implement in armeria for general usage. the `com.linecorp.armeria.common.DefaultAttributeMap` is designed to work with RequestContext.

[2021-01-05 04:54] minwoox commented on #3263
Thanks a lot for your work on Eureka @eisig. 🙇‍♂️

Yeah, you are right. We need to introduce a new mechanism to store the metadata in the Eureka endpoint.

Sometime we need to filter endpoints by tags, or prefer endpoint whith tags.

I didn't know about this. 😅  Could you give me a specific example of this, please?

[2021-01-05 05:16] trustin commented on #3263
We could generalize it a little bit or introduce a simplified version of it, as well as a public interface?

[2021-01-05 05:26] minwoox commented on #3263
Yeah, that's what I meant. 😄  We are using the map for `RequestContext` which is for just a request. So we need to use the generalized map for `EurekaEndpointGroup`.

[2021-01-05 07:07] eisig commented on #3263
1. Common  Tags "region", "zone"
2. custom tags "group",  "version"..

With metadata, we can implement custom EndpointSelectionStrategy to:
Prefer instance in the same  zone or group.
choose to route traffics to special goup for debug or load test.
Or maybe implement canary release.

[2021-01-05 07:44] #3248 closed

[2021-01-05 07:44] minwoox commented on #3263
Thanks for the detail. 😄

[2021-01-05 07:51] minwoox commented on #1834
We can start this by making `AbstractArmeriaAutoConfiguration` (with a different name) to extend `AbstractConfigurableWebServerFactory`.
Currently, it's not possible because `AbstractArmeriaAutoConfiguration` is used for boot1 and boot2.
We need to extract the common logic to a utility class and use them together in boot1 and boot2.

[2021-01-05 08:27] trustin commented on #3229
Is this the only record recorded? Did the user enable advanced leak reporting?

[2021-01-05 08:31] minwoox commented on #3229
I have asked the user to align the Netty version first and then let us know if the leak still happens.
Haven't heard any news so far. 😄

[2021-01-05 09:57] #3247 closed

[2021-01-05 10:33] heowc commented on #3231
Happened again... 🤔
https://ci.appveyor.com/project/line/armeria/builds/37114161/job/rqniwqf16h7d5ufk#L1449

[2021-01-05 10:59] ioggstream opened #3264 "New I-D ratelimit ref"
## Note

in https://github.com/ioggstream/armeria/blob/master/bucket4j/src/main/java/com/linecorp/armeria/common/throttling/ThrottlingHeaders.java#L30

you can reference the new I-D which is now under the IETF

     * <a href="https://tools.ietf.org/id/draft-ietf-httpapi-ratelimit-headers-00.html">RateLimit Header Scheme for HTTP</a>.

[2021-01-05 13:07] trustin commented on #3264
Related: #3255

[2021-01-05 13:08] trustin commented on #3264
We also might want to check all other draft links (if any) and update accordingly.

[2021-01-06 09:33] #3196 closed

[2021-01-06 09:34] trustin commented on #3196
@ildartuykin Let us know if #3259 would solve this problem. :bow:

[2021-01-07 04:57] amitvc commented on #3041
@trustin Couple of question on this -

- The Server class has a ServerConfig that List of ServiceConfig that get's built during ServerBuilder::build.
The ServerBuilder::virtualHostTemplate maintains a  list of ServiceConfigBuilder that are then used to construct the List<ServiceConfig> indirectly maintained by Server class. If we do the server.reconfigure and add new routes and Services to do we c

[2021-01-07 06:14] trustin commented on #3041
Great questions, @amitvc.

Yes.

We could treat this like updating a copy-on-write list. The requests being handled with the old configurations could be handled until they are finished. All other requests handled after the reconfiguration could be handled with the new configuration, which means two configurations can be in action during the transition. In the future, we may want to introduce some

[2021-01-07 14:06] minwoox commented on #3051
Thanks for raising the issue with the context-aware future. Yeah, I want to deprecate it. Besides you mentioned, it's not easy to follow the flow when an exception is raised during the chain, and I think it's better to use `future.xxxAsync` with the `ctx.eventLoop()` in most cases.

[2021-01-07 14:08] minwoox commented on #3051
Yeah, I agree with you. I couldn't think of the `IllegalStateException` until @kojilin gave the example. If we do that, the `IllegalStateException` will be gone.

[2021-01-08 03:02] amitvc commented on #3041
Thanks for the feedback @trustin. Won't we have to create a new ServerBootStrap with the reconfigured ServerConfig? If we don't do that the existing netty ChannelHandlers will continue to function. See https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/Server.java#L473.

[2021-01-08 04:50] anuraaga commented on #3051
@minwoox @kojilin Oh I got confused and thought the example was a problem with the proposed change, not the current state XD

[2021-01-08 05:02] kojilin commented on #3051
I will try at weekend, but at RxJava maybe we can provide non-hookable transform with thread jumping(observeOn) and clear the context.

[2021-01-08 17:01] richieyan opened #3269 "Thrift Bug: cannot determine the declared method with camel name"
## reason

We can use maven plugin to generate camel style method, but the `ThriftFunction` not check this style, and cause the camel method could not find.

## way to reproduction
### proto file
hello.thrift
[code]
### maven thrift plugin use `java:fullcamel` generator
[code]

will generate `sayHi` in `Iface`
[code]

### handler
[code]

### main server
[code]

### error stack
[code]

[2021-01-11 04:52] wickedev opened #3273 "Support proto version 2"
When using proto version 2 with required field in Armeria, try to support `gjson` or `gjson-web`, an error occurred when initializing `FramedGrpcService` and cannot be executed as below

[code]

[2021-01-11 07:42] wickedev commented on #3273
https://github.com/curioswitch/curiostack/pull/604 merged. When new version of protobuf-jackson released is released, could bump up dependency.

[2021-01-11 10:47] heowc commented on #3101
I can afford to see this now. 😎

Can I work on it?

[2021-01-11 10:48] ikhoon commented on #3101
Sure, it is all yours. :-)

[2021-01-11 11:18] ikhoon commented on #3137
Decorators are always executed in the reverse order of the insertion.
Some implementations did not flow the rule such as the routing decorator. It also gives confusion to users.
Had chat this feature, which sets a decorator with an order, with other maintainers and we reached that this API can cause another confusion.
Please file an issue or leave a comment on this thread if an explicit order of d

[2021-01-11 11:18] #3137 closed

[2021-01-12 03:32] TheWeaVer opened #3276 "Add log on HttpDecoder"
There are [Http1RequestDecoder.fail()](https://github.com/line/armeria/blob/d321dda1879ff4e24df4a3a55d620c1d86773146/core/src/main/java/com/linecorp/armeria/server/Http1RequestDecoder.java#L299) and [Http2RequestDecoder.writeErrorResponse()](https://github.com/line/armeria/blob/d321dda1879ff4e24df4a3a55d620c1d86773146/core/src/main/java/com/linecorp/armeria/server/Http2RequestDecoder.java#L274)

I

[2021-01-12 08:16] anuraaga opened #3277 "Does this project use semantic versioning?"
I've been mentioning semantic versioning in some Slack threads, but then I realized the word semantic doesn't actually appear in this repo so technically it doesn't use it right now. If the intent is to follow semantic versioning, I guess it's supposed to be documented with guidelines on what to avoid in the contributing manual.

Changes to avoid on non-major versions
- API changes - require users

[2021-01-12 09:12] ikhoon opened #3278 "Add warmup lifecycle to Server"
Warmup lifecycle is useful if a server needs to populate caches and trigger JIT before starting serving requests.

The warmup lifecycle could be added to between `STARTING` and `STARTED`.
[code]

Related work: https://twitter.github.io/finatra/user-guide/http/warmup.html

[2021-01-12 09:22] ikhoon commented on #3127
I got feedback from @m50d. A blocking IO executed in an event loop. The problem was fixed by `useBlockingTaskExecutor` in `GrpcServiceBuilder`.

[2021-01-12 09:22] #3127 closed

[2021-01-13 05:51] heowc commented on #3231
I tried to reproduce this on my laptop.

First of all, when I use embedded_consul, it downloads `Consul` internally. But this process takes quite a while. Because of this, the above error occurs in the test. (Takes about 5 minutes)

Also, because `Consul` was not copied normally, it continues to occur in the next CI. Permissions on `Consul` I checked on my laptop.

[code]

[2021-01-15 01:59] minwoox opened #3283 "Default graceful shutdown is different between Armeria Server and Spring integration."
If a user starts a server manually(i.e. Server.start()),
the graceful shutdown is disabled.
https://github.com/line/armeria/blob/armeria-1.3.0/core/src/main/java/com/linecorp/armeria/server/ServerBuilder.java#L138
However, if the user uses Spring auto integration, the graceful shutdown is enabled.
https://github.com/line/armeria/blob/master/spring/boot2-autoconfigure/src/main/java/com/linecorp/arm

[2021-01-15 02:53] heowc commented on #3283
As you may know, it seems to have been added in [this PR](https://github.com/line/armeria/pull/494). However, it is not possible to know exactly because there is no content mentioned separately during this PR.

See https://github.com/line/armeria/pull/494

[2021-01-15 03:53] anuraaga commented on #3283
@minwoox I guess it's because we would generally expect spring autoconfigure to provide a best-practices out-of-box experience, while programatic configuration is generally expected to be more explicit.

[2021-01-15 05:09] minwoox commented on #3283
Yeah, that makes sense. It's the same context that Spring autoconfigure provides the health check service and metric collecting by default. Got it. Thanks!

[2021-01-15 05:56] ikhoon commented on #3283
I am not sure this is a sensible default. I prefer to give an appropriate graceful timeout.
When I was working on http4s-armeria, the graceful timeout for http4s is 30 seconds.
https://github.com/http4s/http4s/blob/main/server/src/main/scala/org/http4s/server/package.scala#L49-L50

[2021-01-15 06:00] anuraaga commented on #3283
@ikhoon Graceful shutdown can slow down non-production cases like unit tests in some cases. Maybe personal preference, but opting-in seems to make sense, especially given there's a lot of configuration needed for a production server.

https://armeria.dev/docs/advanced-production-checklist

I guess it would be nice to add graceful shutdown setting to that list though XD

[2021-01-15 07:56] ghkim3221 commented on #3278
I would happy if metrics are not collected during the warmup state.

[2021-01-15 08:38] ikhoon commented on #3283
I am also worried about that point. I thought the graceful timeout of `ServerExtension` and `ServerRule` could be disabled for testing.

👍 Yeah. Graceful shutdown is an optional but essential feature in production mode.

[2021-01-15 09:27] progresivoJS opened #3284 "Cookie header doesn't work when debugging with DocService"
## Problem

While I follows [annotated-http-service](https://github.com/line/armeria-examples/tree/master/annotated-http-service), I found that setting `Cookie` header doesn't work when debugging with `DocService`.

## How to test
I tested it with [`InjectionService.header()`](https://github.com/line/armeria-examples/blob/master/annotated-http-service/src/main/java/example/armeria/server/annotated

[2021-01-15 09:50] ikhoon commented on #3278
Could you elaborate a little bit on your needs? I guess some users may want to see metrics while warming up a server.

[2021-01-15 09:59] max904-github opened #3285 "Provide capability to run Jakarta RESTful Web Services (JAX-RS)"
Armeria does not currently provide compatibility with JAX-RS services. However, some projects may require to run JAX-RS compatible services. This could be achieved via integration with one of the popular JAX-RS open source frameworks like RESTEasy.

[2021-01-15 10:09] ikhoon commented on #3284
That sounds like a bug.

[2021-01-15 10:34] ghkim3221 commented on #3278
You right, some users may want 🤔.

Some metrics, for example duration in now, will be affected by warming up requests because they take long. It was pretty hard to see the initial correct metric. As you know, it would be better if the initial metrics were more accurate because it is dangerous to receive requests at the beginning of the server.

[2021-01-15 11:31] max904-github opened #3286 "Jetty JavaDoc broken link reported during build "configure" stage"
Armeria build constantly print following messages to the output:

[code]

Apparently `https://www.eclipse.org/jetty/javadoc/current/package-list` no longer exists.

[2021-01-15 15:12] minwoox commented on #3286
Thanks for the notice!
Yeah, I guess we can use `https://javadoc.io/doc/org.eclipse.jetty/jetty-server/latest/` instead.
They recently released version 11, so we will handle it at the next release. 😄

[2021-01-16 17:30] point1304 commented on #3258
Let me try! 🙂

[2021-01-19 01:12] minwoox commented on #3284
Thanks for the report, @progresivoJS!
Are you going to handle this? or we can take care of this. 😄

[2021-01-19 03:11] wickedev commented on #3273
protobuf-jackson new version released https://github.com/curioswitch/curiostack/releases/tag/protobuf-jackson-1.2.0

[2021-01-19 03:17] heowc commented on #3231
I think we can use docker and [testcontainer](https://github.com/testcontainers/testcontainers-java) without installing separate libraries. (Appveyor has docker installed.)

It can be useful if we do more various integration tests in the future. WDYT? 🤔

[2021-01-19 05:26] progresivoJS commented on #3284
@minwoox
Yes, I'd like to try to handle this issue, but it may takes some time to understand the mechanism of `DocService`.
Can I try it if it's not a very urgent issue right now?

[2021-01-19 05:38] minwoox commented on #3284
I guess it's not urgent so you can try it anytime. 😄
Because you probably debug TypeScript code, please feel free to let us know if you are not comfortable with it.
You might start how the headers are sent:
https://github.com/line/armeria/blob/master/docs-client/src/containers/MethodPage/DebugPage.tsx#L409
https://github.com/line/armeria/blob/master/docs-client/src/lib/transports/annotated-http.ts

[2021-01-19 05:44] progresivoJS commented on #3284
Thank you! 😄  I'll give it a try.

[2021-01-19 05:52] anuraaga commented on #3284
I suspect it's just not possible to override the cookie, since this is a browser. Properly reading / writing cookies is very important to browser security. The solution is probably to have a separate text box for cookie, transmit that in a separate header, and copy it back in the server. This may be tricky though since services are supposed to be agnostic to the use of doc service.

[2021-01-19 06:01] minwoox commented on #3284
Ah, I couldn't think of it. 😄 Maybe it's cross-domain issues? That's a good idea to use a separate text box, but I wonder if we could just handle without it. 🤔

[2021-01-19 06:16] ikhoon commented on #3273
Nice. We are going to upgrade `protobuf-jackson-1.2.0` before releasing the next version of Armeria.

[2021-01-19 06:17] anuraaga commented on #3284
@minwoox I'm not aware of anyway to override the behavior of what comes in with set-cookie is returned in cookie, it's not even really a cross-origin issue it's very much same-origin in nature. For dev servers it gets even more messed up with many different dev servers all setting cookies on `localhost` :) One of the reasons why Postman requires a native agent binary to support all features.

[2021-01-19 06:34] ikhoon commented on #3231
It is an alternative solution for reducing unexpected flakiness. However, I don't want to enforce users to install docker for testing Armeria in a local environment.
It would be nice it is only working in the CI environment.

[2021-01-19 07:21] minwoox commented on #3284
I just found and checked that we can override the cookie using
`document.cookie = 'a=c; path=/; domain=127.0.0.1';`
Not sure if it's a good idea, though.

[2021-01-19 08:02] anuraaga commented on #3284
Does it override all cookies sent, including httponly ones? I'm not too sure what the interaction with JS cookies and HTTP cookies is now-adays since most people don't manipulate cookie in JS anymore. But I'm guessing it'd be a combination of them, JS shouldn't be allowed to override http-only cookies no matter what it does, that's the security model.

[2021-01-19 08:53] minwoox commented on #3284
Yeah, I have checked that we cannot access the http-only cookies using `document.cookie`. Because of that, probable it's the best solution to handle cookies in a separate header as you mentioned, I guess. 🤔

[2021-01-19 09:19] heowc commented on #3231
I agree with that 🤣

[2021-01-20 09:07] trustin commented on #3231
Could we update our test case so it cleans up the bad directory before getting started with?

[2021-01-20 09:12] trustin commented on #3284
+1 for sending Cookies as a dedicated separate header such as `X-DocService-Cookies` and rewriting internally somehow? We probably need to write a proxy inside `DocService` to do that properly.

[2021-01-20 09:20] anuraaga commented on #3284
Requests are sent to APIs, not DocService, which makes it a bit tricky I think. But for such a specialized and well-contained use case, I could imagine even just `HttpRequestSubscriber` doing the translation to not introduce too many moving parts, another option that just seems like possibly too much complexity would be adding a decorator in front when detecting DocService is used.

[2021-01-20 09:31] trustin commented on #3284
I was rather thinking of updating the frontend to send all requests to DocService first and then let DocService dispatch it to the actual service.

[2021-01-20 09:33] techno opened #3293 "Handle error code `HTTP_1_1_REQUIRED` on `RST_STREAM` frame properly"
We faced errors from client `com.linecorp.armeria.common.stream.ClosedStreamException: received a RST_STREAM frame: HTTP_1_1_REQUIRED`.
However, Armeria will not downgrade its connection and can’t connect to this endpoint.

I’m not sure how `HTTP_1_1_REQUIRED` should be handled, but it should not be error.
HTTP/2 doesn’t have downgrade feature, so it should be reconnected with HTTP/1.1?
I know it’

[2021-01-20 09:36] trustin commented on #3293
That's a peculiar behavior but I agree that Armeria client has to reconnect like it does when it talks to HTTP/1-only servers.

[2021-01-20 09:41] trustin commented on #3293
One thing to consider is when we received the `RST_STREAM` frame. If Armeria ever subscribed to the request stream, there's no way for Armeria to send the request again, because an Armeria request stream is not repeatable.

[2021-01-20 11:58] ikhoon commented on #3214
A generic type parameter could not be properly handled by SPI. In the following code, the `IO` type could be changed to other types by users' choice.
[code]

Is it not good if we support both SPI and `GrpcClientOptions.CLIENT_STUB_FACTORY`?
gRPC-Java, gRPC-Kotlin, Reactive gRPC, and ScalaPB can be provided by SPI.

[2021-01-20 12:22] anuraaga commented on #3284
Requests getting sent to the APIs was always quite nice to reason about so I don't know if that would be better. On the topic of cookies, for example, I understand wanting to use a text box but I've always relied on real cookies (it's why I added the JS injection a long time ago). If they're path-based cookies than I think a proxy couldn't work no matter how hard we tried, and reproducing decorato

[2021-01-21 09:50] trustin commented on #3284
@anuraaga Agreed.

[2021-01-21 09:51] trustin commented on #3214
I think that's fine.

[2021-01-21 10:11] trustin commented on #3283
I agree with @anuraaga :-)

[2021-01-21 10:25] trustin commented on #3277
Agreed, @anuraaga. We should update somewhere in our docs.

[2021-01-21 10:27] trustin commented on #3276
I'm fine with adding DEBUG-level log messages as long as they don't duplicate with other log messages which is logged when a request/response fails.

[2021-01-21 10:36] trustin commented on #3041
Yes, but we can refactor things a little bit to swap an old ServerConfig with a new one. I didn't try it by myself, but should be doable as long as we don't change the server port.

[2021-01-21 10:39] trustin commented on #3051
So, what's the consensus here? How do we proceed with this?

[2021-01-21 13:53] kojilin commented on #3051
I'm not really sure which is the `better`.
About the `cache` operator problem, looks like we can provide some utility(or tell user do something similar when meeting this kind of situation) like

[code]

so cache code can be like below, we can clean up the ctx.

[code]

then maybe we don't need any subscribeOn & publishOn(observeOn)?

[2021-01-25 03:29] ikhoon opened #3303 "`@AdditionalHeader` and `@AdditionalTrailer` should respect the headers/trailers in HttpResponse"
`@StatusCode(...)` in an annotated service should not override a user-defined status code in HttpResponse.
However, `@AdditionalTrailer` and `@AdditionalHeader` always override the header/trailer in HttpResponse even though a user intentionally defines a header or trailer.

For example, a `x-custom-trailers` in the following service always returns `default-value` rather than `custom-value`.

[code

[2021-01-25 03:56] amitvc commented on #3041
@trustin Thank you. I think I will push an initial PR end of this week.

[2021-01-25 04:28] ikhoon opened #3304 "Flaky test `ZooKeeperRegistrationTest.curatorRegistrationSpec()`"
[code]

[2021-01-26 02:40] arhont375 commented on #3190
I find it interesting and potentially useful for us, is there some place where I can start?

[2021-01-26 03:07] minwoox commented on #3190
Glad that you're interested in this feature. 😄

I think you can start looking at how `RetryingClient` works.
They all need to be inserted at the decorator level and duplicate the request and sending the request again.

[2021-01-26 09:34] richieyan opened #3306 "`Thread.currentThread().getContextClassLoader()` is null"
# Way to reproduce
Just get ClassLoader in Handler
[code]

# Impact
Some third library required `Thread.currentThread().getContextClassLoader()` to get classloader, this will cause error in service.

# Reason
When create `Thread`, `contextClassLoader` will get from parent thread, but currently the parent thread is netty thread, there's no contextClassLoader.

[2021-01-26 13:43] trustin commented on #3306
Should we set service class's class loader to the current context class loader before calling the service method? 🤔

[2021-01-26 14:07] richieyan commented on #3306
Currently, for my project, set `ClassLoader.getSystemClassLoader()`  to the new Thread  is enough.

Modify `NonEventLoopThreadFactory.newThread` can achieve this.

[code]

[2021-01-26 14:15] trustin opened #3307 "Allow specifying `Metadata` with `GrpcServiceBuilder.addExceptionMapping()`"
Related StackOverflow question: https://stackoverflow.com/questions/65838522/is-there-any-way-to-use-rich-error-model-for-grpc-service-in-armeria

It is currently not possible for a user to specify a custom `Metadata` when an exception is translated into a `Status` via the exception mapping function built from what's specified with `GrpcServiceBuilder.addExceptionMapping()`. It may be useful if a

[2021-01-26 14:20] trustin commented on #3307
CC @anuraaga, another gRPC expert in the community 😉

[2021-01-26 14:39] richieyan commented on #3306
Netty set it to null, in `GlobalEventExecutor`
[code]

[2021-01-27 01:49] okue opened #3309 "Change distribution summary config with YAML [Spring Integration]"
It would be good if we can change this distribution summary config with YAML like
[code]

https://armeria.dev/docs/advanced-metrics#changing-the-default-distribution-summary-config

[2021-01-27 06:17] richieyan commented on #3306
I find this is not work in production. To my case, we use `orika mapper` to do bean converter.
Convert will failed, if i use SystemClasssLoader.
`Caused by: java.lang.ClassFormatError: ma/glasnost/orika/impl/GeneratedMapperBase`

[2021-01-27 06:19] richieyan commented on #3306
I find this is not work in production. We use `orika mapper` to do bean converter, and the convert will failed.

`Caused by: java.lang.ClassFormatError: ma/glasnost/orika/impl/GeneratedMapperBase`

[2021-01-27 09:08] trustin commented on #3303
I think some users actually wanted to override the headers and trailers of `HttpResponse` with `@Additional{Header,Trailer}` or `ctx.mutateAdditional{Request,Response}{Headers,Trailers}`.

[2021-01-27 09:40] trustin commented on #3306
As a workaround, you can do this:

[code]

Please let me know if this solves your problem.

[2021-01-27 09:51] #203 closed

[2021-01-27 09:55] #1757 closed

[2021-01-27 12:08] richieyan commented on #3306
Thanks. It works.

[2021-01-27 12:27] #3214 closed

[2021-01-27 23:29] eisig commented on #3309
Maybe add support in spring auto configuration ?

[2021-01-28 00:16] eisig commented on #3309
Sorry not notice the title already say “Spring Integration”😅

[2021-01-28 02:37] ikhoon commented on #3303
If a trailer and an additional trailer are separately handled and we give them different priorities, that makes sense.

Even though a header/trailer in `HttpResponse` get overriden by `@Additional{Header,Trailer}`,
users can override the annotated value with `ctx.mutateAdditional{Request,Response}{Headers,Trailers}`.

[2021-01-28 03:39] okue commented on #3309
Yes, I want `armeria-spring-boot-starter` to support this kind of feature.

[2021-01-28 05:47] eisig commented on #3309
@okue do your woking on it? If not, I may have a try.

[2021-01-28 06:16] okue commented on #3309
@eisig i do nothing yet. Thank you!

[2021-01-28 13:47] jongmin92 commented on #2611
Could I handle this issue?

[2021-01-28 13:48] ikhoon commented on #2611
Sure, please take a look! 🙇‍♂️

[2021-01-29 10:06] ikhoon opened #3312 "Provide a way to customize time unit for `Logging{Service,Client}`"
A nanosecond and microsecondare used a default time unit for `LoggingService` and `LoggingClient`.
[code]

Some users may want to use a millisecond or second unit for readabiliy. For example:
[code]

[2021-01-29 10:16] ikhoon opened #3313 "Add a document for collectected metrics"
Armeria collects various metrics though [Micrometer](https://micrometer.io/).
However there is no documentation which enumerates the entire list of metrics and explain what it means.

[2021-01-29 10:22] ikhoon opened #3314 "Support HTTP3"
The [HTTP3](https://quicwg.org/base-drafts/draft-ietf-quic-http.html) codec of Netty is still [experimental](https://github.com/netty/netty-incubator-codec-http3).
If the codec has been stablized, HTTP3 could be added to the supported protocols.

[2021-01-29 10:38] ikhoon opened #3315 "Programmatically create a blocking task executor with a custom thread size"
Currently, the number of threads of a blocking task executor could be configured only by `Flags.numCommonBlockingTaskThreads()`.
If a user who avoid using flags, he or she has to manually copy the factory code.

I think we can add a new builder method to `ServerBuilder` that takes the number of threads.

[code]

[2021-01-29 12:22] anuraaga commented on #3314
JNI+Rust implementation of quic? Ow :(

[2021-01-29 12:23] trustin commented on #3314
Haha, yeah. I guess that was the shortest path to implement QUIC and HTTP/3, but Netty team wants to go JNI-free in the long term, according to my last conversation with @normanmaurer.

[2021-01-29 12:25] trustin commented on #3313
Related issue: #1311

[2021-01-29 12:26] trustin commented on #3312
We may want to introduce a generic text formatter interface that replaces the static `TextFormatter`.

[2021-01-29 12:34] normanmaurer commented on #3314
While I still think that a pure QUIC implementation would be the ideal solution I also think this is a "massive" engineering effort . I did design the API in a way that quiche (the rust lib) and BoringSSL (the ssl lib) are just an implementation detail so if this ever happens it should be not affecting the end-user in anyway.

Also a side note... the SSL implementation in the JDK does not even sup

[2021-01-29 12:47] anuraaga commented on #3314
Sounds nice that the implementation is pluggable. To get to a pure-Java solution it sounds like Oracle needs to know about this caveat and resources need to be used to get something into Java 17? Netty working with pure Java across any platform is its coolest feature, and I think a JNI-focused approach has reasonable chance of damage to the ecosystem, e.g
, if modern protocols require native, why

[2021-01-29 12:51] normanmaurer commented on #3314
@anuraaga I guess it is what it is... That said if I can only have support on linux vs not have support anywhere I will take the former every day. Also I am sure they are aware of this as there were already people on the openjdk ml asking about QUIC but so far it is not a priority. As a side note just think about how long it took them to deliver TLS1.3 and HTTP/2. Or even ALPN support.

[2021-01-29 12:52] normanmaurer commented on #3314
Also please note that quiche and BoringSSL works on all "major" platforms.

[2021-01-30 05:28] ptrthomas commented on #3234
an update, looks like the same problem when Ubuntu switched from  20.04: 20201210.0 to 20210123.1

this is for netty 1.3.0 - error message includes this: `javax.net.ssl.SSLException: Unsupported or unrecognized SSL message`

[2021-01-30 08:56] trustin commented on #3234
@ptrthomas Sorry to hear that. Does this problem go away with #3310?

[2021-01-30 08:56] trustin commented on #3314
Awesome. Thanks for sharing the story, @normanmaurer.

[2021-01-30 09:18] trustin commented on #3258
Done via #3287

[2021-01-30 09:18] #3258 closed

[2021-01-30 09:54] ptrthomas commented on #3234
@trustin I'm relieved to report that this is not an issue with netty or native libraries. this really confused me for a while but it was a combination of things, when ubuntu + java versions changed, the ordering of junit execution changed and surfaced a problem in our ssl tests running in parallel with other tests. this took a while and was a huge pain to figure out

just FYI we are maven-shading

[2021-01-30 09:54] #3234 closed

[2021-01-30 12:02] trustin commented on #3234
Great to hear that it was not an Armeria/Netty problem after all. Please feel free to report any issues later!

[2021-01-31 06:28] #2611 closed

[2021-02-01 05:43] minwoox opened #3318 "Support GraphQL"
https://en.wikipedia.org/wiki/GraphQL
https://graphql.org/learn/serving-over-http/
https://www.graphql-java.com/documentation/master/

[2021-02-01 05:56] #3273 closed

[2021-02-01 05:56] #3286 closed

[2021-02-01 06:04] #3089 closed

[2021-02-01 08:52] okue commented on #3307
To let users write error handling easily,
it'd good if users can handle `Metadata` attached to response with `GrpcStatusFunction`.

[2021-02-01 09:19] trustin commented on #3307
@okue Agreed. That's why I said:

:wink:

[2021-02-01 09:20] trustin commented on #3307
@okue, or are you suggesting that just updating `GrpcStatusFunction` is enough? i.e. no need to add overloaded `addExceptionMapping()`?

[2021-02-01 10:23] okue commented on #3307
Ah, I don't mention `addExceptionMapping()`.

[2021-02-01 14:01] trustin opened #3320 "Implement async request processing in `JettyService`"
`JettyService` is currently incapable of running a Jetty handler which makes use of `Request.startAsync()`. It'd be great if we support it as well.

[2021-02-02 02:59] minwoox opened #3321 "Support GraalVM"
https://www.graalvm.org/
GraalVM is a high-performance runtime that provides significant improvements in application performance and efficiency which is ideal for microservices.

It probably works, but we haven't tried yet. 😅

[2021-02-02 06:03] minwoox commented on #3321
Is there anyone who has tried this before, please let us know. 😄

[2021-02-02 07:01] minwoox opened #3323 "Support project scaffolding"
Such as https://start.spring.io/, so a user can easily start building the application using Armeria.

[2021-02-02 07:13] heowc commented on #3323
I shared a related post last year. 😄

See https://github.com/line/armeria/issues/2426#issuecomment-591251023

[2021-02-02 07:15] minwoox commented on #3323
Ah, I missed that. Thanks. 😄

[2021-02-03 02:34] okue commented on #3307
Currently, I tried updating the signature of `GrpcStatusFunction`. https://github.com/okue/armeria/pull/6

After refactoring, writing test cases and examples, I'll send a pull request.

[2021-02-03 07:35] JunoJunho commented on #3315
I am looking at this issue.
While reviewing the code, it looks to generate`ScheduledExecutorService`, armeria supports one method that using `SchedueldThreadPoolExecutor` from `java.util.concurrent` package.

It turns out that `ThreadFactory` is used for spawning threads. One parameter 'threadNamePrefix' is required for this. Do you have any idea on it ?

Current usage is only for common pool (sta

[2021-02-03 09:08] ikhoon commented on #3315
How about `armeria-server-blocking-tasks`? Because it is only used for Armeria server.

[2021-02-03 10:55] trustin commented on #3315
One question I have is: do we really need a dedicated builder method in `ServerBuilder`? Would it be better providing a utility class for this purpose, like we did in `EventLoops`?

[2021-02-04 02:29] ikhoon commented on #3315
Maybe `ThreadFactories`? That sounds good.

The number of LINE internal standard blocking thread pool is 500. Many users copy and paste the following code since they want an explicit configuration than flags.
https://github.com/line/armeria/blob/964b7a5b7485d7d575f206dcd9a32117f56438f7/core/src/main/java/com/linecorp/armeria/common/CommonPools.java#L39-L45
I thought, if this pattern is frequently

[2021-02-04 04:17] JunoJunho commented on #3315
@trustin @ikhoon
[code]

This proof of concept is what you expected ?

[2021-02-04 06:53] Waynefn opened #3330 "`405 Method Not Allowed` if defines both exact path and param path"
I found a path parsing bug for Armeria:

`405 Method Not Allowed` will be responded if we defined the path like the following and request `DELETE /test`.

[code]

[2021-02-05 04:15] tumile commented on #3330
So I did a little digging and looks like the problem comes from `RoutingTrie.find` returns immediately after finding an exact match, which is too eager considering we do method matching _after_ path matching. Using `findAll` instead will include parameter match, however we'd then want to change the order of child evaluation in `findAllNodes` because we do want to prioritize exact match in case of

[2021-02-05 07:47] trustin opened #3332 "`IllegalStateException` when making a gRPC call to a non-ready `EndpointGroup`."
If a user makes a gRPC call to an `EndpointGroup` that's not ready yet, the user will get the following exception:

[code]

Instead, we should fail with an exception like `EmptyEndpointGroupException`.

Related Slack conversation: https://line-armeria.slack.com/archives/C1NGPBUH2/p1612507683054200

[2021-02-05 07:55] ikhoon opened #3333 "Add built-in decoder for `HttpDecoder`"
For better handling of a stream message of an HTTP request, we can provide some built-in decoders for well-known formats such as:
- JSON
- Server sent event
- [Avro](https://avro.apache.org/)
- Protobuf
- Thrift?

[2021-02-05 07:56] trustin commented on #3333
and gRPC frames? :laughing:

[2021-02-05 07:59] trustin commented on #3330
`findAll()` takes too much time, though. How could we consider HTTP methods as well in `find()`?

[2021-02-05 08:11] ikhoon opened #3334 "Add bidi stream examples for HTTP service and annotated service"
We only have bidi stream examples for gRPC services. 🙊

[2021-02-05 10:51] richieyan commented on #3306
Now, I fixed this by add a custom single thread executor as `startStopExecutor`

[code]

Maybe we could replace `GlobalEventExecutor` with a new implementation to avoid to custom a `startStopExecutor`.
Any idea?

@ikhoon @trustin

[2021-02-05 11:47] trustin opened #3335 "Log4J2 support for `RequestContextExportingAppender`"
StackOverflow question: https://stackoverflow.com/q/66059286/55808

We currently do not provide Log4J2 version of `RequestContextExportingAppender`, which could be useful for Log4J2 users if we had one.

[2021-02-07 09:47] okue commented on #3030
scalapb example, too.

[2021-02-08 08:25] ikhoon commented on #3315
`EventLoops` seems to mean `EventLoopGroups`
https://github.com/line/armeria/blob/4edffc8c11bd74665d652a1fd108d6a0307b6733/core/src/main/java/com/linecorp/armeria/common/util/EventLoopGroups.java#L44

[2021-02-08 08:46] ikhoon commented on #3306
The class leak seems to be fixed at Java 7. https://bugs.openjdk.java.net/browse/JDK-7008595
A minimum required Java is 8 for Armeria.
So I think we can implement a new default `EventExecutor` for `startStopExecutor`.

[2021-02-09 09:18] hexoul commented on #3232
Before PR, I would like to share the plan first. First of all, I consider to support `serviceNaming(Function)` without `ServiceNameRule` and improve later.

For me, the config is supposed to be delivered from `ServiceConfig` and used under `DefaultRequestLog` you referred.
In other words, I will propose
- `AbstractServiceBindingBuilder#serviceNaming`
- `ServiceBindingBuilder#serviceNaming`
- `Serv

[2021-02-10 02:46] ikhoon commented on #3232
As you know, users can customize the default `serviceName` using `ServiceBindingBuilder.defaultServiceName()`.
That means we don't need to serviceNaming rule at a service level.
Is it better to apply to a server level by adding `ServerBuilder.serviceNaming(Function<String, String>)`?

Then, this should be `ctx.config().server().config().serviceNaming().apply(...)`.

[2021-02-10 03:08] hexoul commented on #3232
I also thought the case that a user uses `serviceNaming` without using `defaultServiceName`. It was because I consider `serviceNaming` as a post processor. For example, even if users set a default service name to `blahblah` and the function which picks first two letters is given, the service name become `bl` finally. IMHO, it will be more useful with logback's shorten algorithm.

If we only apply

[2021-02-10 03:09] ikhoon commented on #3232
You don't have to implement all of these implementations at once. You might want to start by designing an API and add more implementations later.

[2021-02-10 03:24] ikhoon commented on #3232
A `serviceNaming` function could be applied to a `defaultServiceName`.
However, I am wondering if users need a `serviceNaming` rule for a specific service.
Because if a `defaulServiceName` is set, users already knows when serviceNaming(...) is configured.
[code]

Do you have cases that such sophisticated `serviceNaming` rules are required? Otherwise, I prefer `ServerBuilder.serviceNaming()` to giv

[2021-02-10 03:33] hexoul commented on #3232
I see. It seems that I unnecessarily worried layered `serviceNaming`. Agreed that the suggestion makes the problem simple and reduce confusion. Let me try in that way.

[2021-02-10 06:51] minwoox opened #3341 "Provide well defined Grafana dashboard template"
Related https://grafana.com/grafana/dashboards/4701
If we provide a well-defined default Grafana dashboard template,
our users do not have to spend much time figuring out which metric they need.

[2021-02-10 08:12] anuraaga commented on #3341
Is it a duplicate of #2973? This has been requested for a long time :)

[2021-02-10 08:14] minwoox commented on #3341
Ah, I missed that. Yes, it's duplicated. 😅

[2021-02-10 08:14] #3341 closed

[2021-02-10 08:17] #3320 closed

[2021-02-10 08:51] #3332 closed

[2021-02-15 00:55] michaelpearce-at opened #3346 "Making Spring WebClient calls causes RequestContext.current() to throw IllegalStateException"
We are running a Spring Boot WebFlux service written in Kotlin with coroutines. The Armeria Spring Boot starter has been used, with Armeria providing the `org.springframework.web.reactive.function.client.WebClient` implementation.

In any handler function, we're seeing that making any HTTP call with the Armeria `WebClient` causes any subsequent calls to `RequestContext.current()` throw `IllegalSta

[2021-02-15 01:22] minwoox commented on #3346
Hi @michaelpearce-at,
I think the request context is gone after `awaitExchange` is called so we should do the request scoping by ourselves.
Could you try that using the coroutin dispatcher?
https://github.com/line/armeria/blob/master/examples/context-propagation/kotlin/src/main/kotlin/example/armeria/contextpropagation/kotlin/MainService.kt#L43

[2021-02-15 02:15] ikhoon opened #3347 "Provide a way to configure a response timeout when building an `HttpRequest`"
If a user needs to dynamically change a response timeout, he/she has to use a context customizer.
For example:
[code]

The API mutates the response timeout of `ClientRequestContext` before executing. But the API is not user-friendly.
It would be nice if users can set a response timeout in a declarative way with a `HttpRequestBuilder`
[code]

[2021-02-15 02:57] ikhoon opened #3348 "Give more options to `DecodingClient`"
- A `DecodingClient` does nothing if an `Accept-Encoding` header is provided. The `DecodingClient` only works if an `Accept-Encoding` header is absent. It will send all possible accept encodings.
https://github.com/line/armeria/blob/e729261fc0357937edf52989988a1df2456e5977/core/src/main/java/com/linecorp/armeria/client/encoding/DecodingClient.java#L87-L90
Sometimes users may want to dynamically ch

[2021-02-15 03:31] michaelpearce-at commented on #3346
Hi @minwoox, thanks for the quick response!

I can confirm that when I explicitly use the coroutine dispatcher (by wrapping the handler code with `withContext`), I am then able to successfully access the root context before _and_ after making the WebClient call.
[code]

Is this expected behaviour? We don't see the same thing when making gRPC calls (using a `FutureStub` with `.await()`) - the origi

[2021-02-15 04:01] minwoox commented on #3346
Could you share your code, please?

I believe so. 😄 The coroutine does not have the request context after it's resumed from the suspended function so we should do the request scoping by ourselves. 😄

[2021-02-15 04:03] ikhoon commented on #3346
Yes, it is possible. If the current `CoroutineContext` is an `EmptyCoroutineContext`, a coroutine could be changed after executing a suspend function.

[2021-02-15 04:03] ikhoon commented on #3346
/cc @okue who is good at Armeria with Kotlin Coroutine 😀

[2021-02-15 04:41] michaelpearce-at commented on #3346
We have a grpc client generated with `io.grpc:protoc-gen-grpc-java`, and instantiated like, for example,
[code]

When I replace the `webClient.get().awaitExchange()` in the above sample code with a grpc call `grpcClient.someCall.await()` (here `await` is provided by `org.jetbrains.kotlinx:kotlinx-coroutines-guava` https://github.com/Kotlin/kotlinx.coroutines/blob/66fe1c8eb99ef1464248e291adfaa647e8

[2021-02-15 04:42] ikhoon commented on #3346
And if you are using Armeria’s annotated service with a suspend function, Armeria automatically injects RequestContext-aware CoroutineContext for you. https://armeria.dev/docs/server-annotated-service#kotlin-coroutines-support

[2021-02-15 05:59] michaelpearce-at commented on #3346
For background, we added Armeria as the underlying web server to an existing, established, Spring Webflux application built with functional routes, not annotations. While we could switch to Armeria annotations, it would be a larger refactor. If it turns out that is the most effective approach, we can tackle that work in the future.

Right now though, I'm just trying to understand the reason why th

[2021-02-15 06:09] minwoox commented on #3346
I think you don't have to. 😄 I guess @ikhoon is just telling an option.

Sorry, we need one. 😅  You might want to refer to a slide though. https://github.com/minwoox/deview2020-requestscoping/blob/master/DEVIEW2020_RequestScoping.pdf

[2021-02-15 06:42] minwoox opened #3349 "Provide a way to customize the exception in Thrift service."
In thrift services, when an exception is raised, a user might want to:
- Return a different exception
  - (e.g.) A user might want to convert an `IllegalArguementException` from Armeria or the 3rd party library to their own `BadRequestException`.
- Add some logic such as adding an HTTP header:
[code]
If we provide a way to customize an exception a user can achieve those easily:
[code]

[2021-02-15 07:01] minwoox opened #3350 "RetyringClient metric"
We don't provide the `RetyringClient` metric because the number of retrying counts is varying which yields a lot of tags. So a user has to calculate to see how many requests are retried using this formula:
- `total requests - (success requests + failure requests)` which is quite annoying.

If we provide some basic metrics such as when the retrying count is 1, 2, and N,
a user can easily see how ma

[2021-02-15 07:02] AmosDoan commented on #3350
👍 🍀

[2021-02-16 03:56] minwoox opened #3352 "Provide a way to send a customized response when timeout"
A user might want to send a different response when a request timed out.
For example, a user might want to send 200 status with an exception message when he/she uses a Thrift service.
It can be done using `ServiceRequestContext.whenRequestCancelling()`, but it's not easy to implement because he/she has to implement the subscriber considering backpressure.

[2021-02-16 04:49] ikhoon commented on #3352
Duplicate of #3209 ?

[2021-02-16 05:08] minwoox commented on #3352
Ah, yes. 😅

[2021-02-16 05:08] #3352 closed

[2021-02-17 18:10] rschultheis commented on #3113
👋  Hello from the Github CNA team.  @JLLeitschuh pinged me about this as  were discussing some unrelated stuff about advisory credits.

After taking a look, it seems this advisory was unfortunately stuck in a "locked" state due to a bug that has since been addressed.  Basically we changed our logic for locking/unlocking advisory editing and unfortunately it seems we neglected to migrate the data f

[2021-02-17 20:38] JLLeitschuh commented on #3113
@trustin, can you follow up here? Just let me know if you need anything on my end! 😄

Thanks @rschultheis!

[2021-02-18 02:06] ikhoon opened #3356 "Disable `Server` header by default?"
`Server` header in Armeria exposes the server version such as `Armeria/1.x.0`.
A `Server` header is a low severity. https://owasp.org/www-project-top-ten/2017/A6_2017-Security_Misconfiguration
Slack discussion: https://line-armeria.slack.com/archives/C1NGPBUH2/p1613588363169600

As a related work: Spring disables `Server` header by default. https://github.com/spring-projects/spring-boot/issues/473

[2021-02-18 02:31] trustin commented on #3356
Probably just remove it and provide a decorator for this? :laughing:

[2021-02-18 02:43] ikhoon commented on #3356
If most users don't want it, we don't need to add it as a default feature. A decorator looks nice.

[2021-02-18 16:28] trustin opened #3358 "Allow specifying a different timeout for session creation"
Currently, connect timeout is used for two cases:

- connection establishment
- session creation (TLS negotiation and protocol upgrade)

We could probably enable a user to specify a different timeout that connect timeout for session creation.

[2021-02-21 05:18] corona10 opened #3359 "Javadoc build failure on JDK 15"
When building javadoc of armeria `./gradlew javadoc:javadoc` on JDK15 environment,
I meet Javadoc build failure.

[code]

AFAIK, the Armeria project is now based on JDK 14, so this issue is not a high-priority issue.
But since JDK 14 is not an LTS version so in near future IMHO this issue is should be solved.
And also please note that sdkman does not provide adopt JDK14 version already.

[code]

R

[2021-02-21 05:19] corona10 commented on #3359
From 3cbdcdc081f1735cb2eb660fae6854dad75b818f Mon Sep 17 00:00:00 2001
From: donghee-na <donghee.na@linecorp.com>
Date: Sun, 21 Feb 2021 14:15:54 +0900
Subject: [PATCH] Update javadoc for JDK 15

---
 .../client/consul/ConsulEndpointGroupBuilder.java      |  2 +-
 .../server/consul/ConsulUpdatingListenerBuilder.java   |  2 +-
 .../armeria/common/ContentDispositionBuilder.java      |  2 +-
 .../lin

[2021-02-21 05:22] corona10 commented on #3359
The above patch file might solve this issue

[2021-02-22 07:11] JunoJunho commented on #3315
@ikhoon Oh,, I didn't know that.
Let me look at that and create another code snippet to sync common sense.

[2021-02-23 01:56] minwoox commented on #3359
Thanks for the diffs. 😄
I tried this before but the Proguard we are using for the build didn't support JDK 15.
I'm not sure if it supports JDK 15 right now but it might be worth trying.

Could you try with the current Proguard, please?

[2021-02-23 02:20] ikhoon commented on #3359
Or if Proguard is a blocker, it's time to use shadow's built-in [minimizing](https://imperceptiblethoughts.com/shadow/configuration/minimizing/) and [relocation](https://imperceptiblethoughts.com/shadow/configuration/relocation/)?

[2021-02-23 02:26] corona10 commented on #3359
@minwoox @ikhoon

Apparently, even if we fix the Javadoc issue, JDK 15 can't build the Armeria fully because of the Proguard issue.
We can discuss the Proguard issue separately or update the issue name into such as `Update Armeria project to support JDK15`

[2021-02-23 02:41] ikhoon commented on #3359
There are two problems with JDK 15. One is `h3` tags in Javadoc. Another one is Proguard.
We could focus on Javadoc with this issue and probably create a separate issue on `Proguard`?

[2021-02-23 03:46] corona10 commented on #3359
+1

[2021-02-23 03:56] corona10 commented on #3359
@ikhoon @minwoox
Is it okay to submit the PR based on the attached patch file to close this issue?

[2021-02-23 05:31] ikhoon commented on #3359
How about upgrading Progard or migrate to shadow first?
It would be a smooth upgrade if we apply this patch and JDK 15 together.

[2021-02-23 05:36] minwoox commented on #3359
https://github.com/Guardsquare/proguard/issues/64#issuecomment-755295941
Proguard will support JDK 15 soon.

I'm also fine using Shadow. BTW, what's the benefit?

[2021-02-23 05:46] ikhoon commented on #3359
Shadow is tightly integrated with Gradle. So we can remove our custom scripts and configurations in `java-shade.gradle`.

[2021-02-23 05:51] minwoox commented on #3359
That sounds good. 😄

[2021-02-24 03:45] trustin opened #3363 "`EventLoops.warmUp(EventLoopGroup)`"
Netty's event loop threads are spawned lazily, i.e. they are created on the first task is scheduled on. A user sometimes wants to ensure the event loop threads are started when the server starts up.

[2021-02-24 03:46] ikhoon opened #3364 "Visualize structured logs using dashboard"
Armeria provides [structured logs](https://armeria.dev/docs/advanced-structured-logging). However, we did not have UI for viewing the useful information.
https://github.com/kean/Pulse, which I got inspired, nicely draws structured logs.

![image](https://user-images.githubusercontent.com/1866157/108944557-4e917d00-769e-11eb-9f10-95a6b8faf822.png)

[2021-02-24 03:46] trustin opened #3365 "`Route.isFallback()`"
A user sometimes wants to know whether the current request is mapped into a fallback route. It'd be nice if we have something like this:

[code]

[2021-02-26 07:25] #3227 closed

[2021-02-26 07:34] #3307 closed

[2021-02-26 08:45] #3269 closed

[2021-02-26 10:42] heowc commented on #3318
I've written tests while writing simple prototyping code.

How about that skeleton? 🤔

[code]

[2021-02-28 07:59] minwoox commented on #3318
Thanks, @heowc!
Yeah, that looks good. 😄
Probably, we can just parse the request in `GraphQLService` and hand it to the corresponding data fetcher that is implemented using graphql-java. 😄
So are you going to handle this issue?

[2021-03-02 01:57] heowc commented on #3318
I will try on this issue. Please give me a lot of advice. 👍

[2021-03-02 11:24] ikhoon opened #3368 "Provide a way to disable the default DNS metrics"
Some users might not want to monitor DNS metrics because the metrics could contain various domains as metric keys if a client sends requests to unspecified domains such as webhook domains or redirect locations.

As a workaround, the metics could be filtered by [meter filters](https://armeria.dev/docs/advanced-metrics/#excluding-certain-meters-created-by-armeria).
However, it would be better to dis

[2021-03-03 04:52] heowc commented on #3318
We should refer to this.
For example, there is a roadmap to add a media type.

See  https://github.com/graphql/graphql-over-http

[2021-03-03 08:28] andrey-tpt opened #3369 "IllegalStateException: channel not registered to an event loop"
The exception is observed after streaming stub is created around rare moments (once a week) when this stub hangs for many minutes or even hours without any sign of the first message being delivered to the server side. Could you guys help to understand if this exception can be related to hanging clients or just a noise which can be ignored?

Environment:
Armeria - 1.3.0
Netty - 4.1.54.Final

[code]

[2021-03-03 15:46] selectAll opened #3370 "[Feature request] Support thrift v0.14.0"
Dear devs,
Are you planning to support thrift v0.14.0 ?

ref: https://github.com/apache/thrift/releases/tag/v0.14.0
ps: With thrift v0.13.0 there exists a CVE https://nvd.nist.gov/vuln/detail/CVE-2020-13949

[2021-03-03 15:59] ikhoon commented on #3370
Sure, why not! (Maybe) We will include supporting Thrift 0.14.0 in the next release(1.6.0).

[2021-03-07 04:41] JunoJunho commented on #3315
@ikhoon @trustin maybe this snippet could be your common sense ?

[code]

[2021-03-07 06:35] trustin commented on #3315
Sounds good to me all in all. How about introducing a builder API so we don't have to have too many overloaded methods?

[2021-03-07 22:48] chris-ryan-square commented on #1837
Any news on this?

For now, for my purposes, I've written a proxy server listening on the domain socket transferring everything to the Armeria port (based off the netty proxy server example: https://netty.io/4.1/xref/io/netty/example/proxy/package-summary.html).

Works, but obviously it's not ideal to have an extra step there.

[2021-03-08 14:17] #3347 closed

[2021-03-09 13:40] minwoox opened #3380 "Intermittent test failure: ZooKeeperRegistrationTest. curatorRegistrationSpec()"
[code]

[2021-03-09 13:42] minwoox opened #3381 "Intermittent test failure: LazyDynamicEndpointGroupTest.emptyEndpoint()"
[code]

[2021-03-09 13:44] minwoox commented on #3381
Let me close this issue because the exception is a `ClosedStreamException`. 😅

[2021-03-09 23:32] amitvc commented on #3368
@ikhoon Since I added logic for DNS metrics to armeria I can pick up this issue.

[2021-03-10 05:28] ikhoon commented on #3368
Thanks a lot! 🙇‍♂️

[2021-03-10 11:44] ikhoon opened #3384 "Remove a unary method which get overloaded by a varargs method"
Some APIs in Armeria provide both a unary method and a varargs method. (e.g. ServerListenerBuilder)
https://github.com/line/armeria/blob/e872d75a03de3bc384b7416d16c82dfd73187ccb/core/src/main/java/com/linecorp/armeria/server/ServerListenerBuilder.java#L171-L182

That is a good pattern to avoid creating an additional single-sized array for a single parameter. However, some JVM languages such as Sca

[2021-03-10 11:56] ikhoon commented on #3318
Helidon supports [GraphQL](https://helidon.io/docs/latest/#/se/graphql/01_introduction). That could be a good reference too.

[2021-03-11 15:14] max904-github commented on #3156
It would be nice to support ETag and Last-Modified in some convenient manner between the client and the server. The enterprise use cases I'm dealing with require server-side caching primarily, when the HTTP server checks the timestamp or the ETag prior to triggering complex server-side sequence. Another use case is to support lock-free concurrency, where the data sent by the client applied only if

[2021-03-12 03:08] ikhoon opened #3388 "Provide a way to conveniently add `Cookie`s using `{Request,Response}HeadersBuilder`"
Currently, users need to explicitly specify a cookie header name for setting a `Cookie` with `{Request,Response}HeadersBuilder`
[code]

It would be convenient if we provide shortcut methods for them.
[code]

[2021-03-12 05:58] heka1024 commented on #3388
I'll try to add this.

[2021-03-12 06:06] ikhoon commented on #3388
Thanks in advance! 🙏

[2021-03-14 13:14] trustin opened #3392 "Provide a way to implement a `HealthChecker` with peioric polling easily."
A user wants to implement a `HealthChecker` that updates its healthiness by polling an external source (e.g. database) periodically, so that `HealthChecker.isHealthy()` merely returns a cached value. This is mainly because:

- `HealthChecker.isHealthy()` that takes long time can make a server look unhealthy.
- Each health check request triggers `HealthChecker.isHealthy()`, and thus it is suboptima

[2021-03-14 14:09] trustin commented on #3392
Alternatively, we could keep the timestamp of last `healthChecker.get()` and return the cached result only when the recorded timestamp is old enough. This is simpler to manage because we don't have to schedule a periodic task using an event loop.

[2021-03-17 08:32] ikhoon opened #3398 "Provide a way to fluently build an `HttpResponse`"
`HttpResponse` only provides various factory methods. It would be convenient to add `HttpResponseBuilder` as like [`HttpRequestBuilder`](https://github.com/line/armeria/blob/461b0fad53e1515387ebbab56a09c4ec0ed20fe6/core/src/main/java/com/linecorp/armeria/common/HttpRequestBuilder.java#L29)
For example:
[code]

[2021-03-18 05:39] ikhoon opened #3400 "Fluently add expected exceptions to Logging{Service,Client}"
A stacktrace of an exception could be excluded from WARN messages and converted into INFO using `responseLogLevelMapper()`
[code]

It is possible to program with the existing APIs but a bit complex.
It would be nice if users easily add expected exceptions with a log level.
For example:
[code]

[2021-03-19 09:16] ikhoon opened #3404 "Allow to customize success status for request metrics"
HTTP statuses between `100 <= status < 400` are regarded as successful statuses.
However, some users don't see 404 Not Found as a failed status.
We can give an option to `MetricCollecting{Service,Client}`
[code]

[2021-03-19 12:17] tobias- opened #3405 "Create HTTP-client from Armeria-annotated interface"
Currently, there is no way to create a HTTP-client from the annotations used to create an `AnnotatedService`. It would be useful to be able to do that to create a client by simply feeding an interface to `Clients.newClient()`.

We would use them in tests, but also in tools talking to the production service. Usage would probably be very similar to `armeria-retrofit`, but as it would not use the ret

[2021-03-19 12:17] tobias- commented on #3405
https://app.slack.com/client/T1NH00FK9/C1NGPBUH2/thread/C1NGPBUH2-1616066728.020600

[2021-03-21 15:44] kojilin commented on #3036
Not sure if `IntObjectHashMap` handles well, when `HttpResponseDecoder#failUnfinishedResponses` is called, it uses iterator and it's body block's `res#close` will call `HttpResponseDecoder#removeResponse` and make iterator not aware the modification through `IntObjectHashMap` in `removeResponse`?

[2021-03-22 01:20] minwoox commented on #3036
Indeed, yeah I think there's a chance that can happen.

Yeah, I think we need that. Could you make the change, please? 😄

[2021-03-22 07:13] minwoox opened #3408 "Brave scope decorator is not applied when RequestContext is pushed"
Brave scope decorator is applied only once when the service is executed.
https://github.com/line/armeria/blob/master/brave/src/main/java/com/linecorp/armeria/server/brave/BraveService.java#L107-L109

If a user wants to use the scope decorator, he/she manually needs to wrap the executor using `Tracing.current().currentTraceContext().executor(…)` when executing callbacks.
It's verbose and has anothe

[2021-03-23 03:33] nirvanarsc commented on #3404
I will work on adding this 🙇

[2021-03-23 03:33] nirvanarsc commented on #3400
I will work on adding this 🙇

[2021-03-23 04:20] ikhoon commented on #3400
Wow, thanks!

[2021-03-23 19:32] agrawroh commented on #3392
@trustin Is it okay if I take a stab at this?

[2021-03-23 19:32] agrawroh commented on #3398
@trustin Is it okay if I take a stab at this?

[2021-03-24 03:47] ikhoon commented on #3398
Sure, it's all yours. Thanks for your interest! ❤️

[2021-03-24 07:28] #3348 closed

[2021-03-24 07:32] #3365 closed

[2021-03-24 07:37] #253 closed

[2021-03-24 11:45] douyux opened #3411 "how to write high performance http -> unary grpc proxy"
I want to write a gateway proxy, that can transfer http request to unary grpc reqeust for backend microservice
[code]
I wrote a demo with UnaryGrpcClient，but it's need aggregate both request and response in memory，how can i avoid aggregate?
[code]

[2021-03-24 11:49] #3036 closed

[2021-03-24 12:43] #3369 closed

[2021-03-26 02:17] ikhoon commented on #3411
- An aggregation for a request seems to be needed if you want to wrap a request payload with a unary gRPC message.
- If you don't want to aggregate the unary response, what you can do at the moment is forks our `UnaryGrpcClient`, removes the aggregation part, and return `HttpResponse` itself.
https://github.com/line/armeria/blob/3eef7032c7503c4525a73aa7c0148121859bab8b/grpc-protocol/src/main/java/

[2021-03-26 07:03] trustin commented on #3381
Saw this again at: https://ci.appveyor.com/project/line/armeria/builds/38375545/job/rvkjlg7l0dfp9b0t#L488

[2021-03-26 07:14] minwoox commented on #3381
Yeah, it shouldn't be `ClosedStreamException`.

[2021-03-26 11:33] trustin commented on #3264
Fixed via #3374

[2021-03-26 11:33] #3264 closed

[2021-03-26 11:37] #3349 closed

[2021-03-27 02:05] eonezhang commented on #3314
sounds like a long journey for http3 in java echo system.

[2021-03-27 05:30] douyux commented on #3411
@ikhoon thanks for the feedback，i agree with your point, that i can't avoid aggregate both request and response，because i want transfer data from one proto to difference proto.

[2021-03-27 05:30] #3411 closed

[2021-03-28 06:02] #3285 closed

[2021-03-28 08:46] trustin opened #3416 "Test failure: `Http2GoAwayTest.streamEndsAfterGoAway`"
[code]

[2021-03-29 07:16] minwoox opened #3421 "Provide a way to convert an exception to the response per service"
We can use the global exception handler to convert an exception to the response by #3413.
[code]
However, a user might want to specify the exception handler differently per service:
[code]

Also, a user might want to specify the exception handler differently per virtual host:
[code]

[2021-03-29 12:48] minwoox opened #3423 "Test failure: `PathStreamMessageTckTest.required_completionFutureMustCompleteOnTermination0`"
[code]

[2021-04-02 14:02] ikhoon commented on #3359
@corona10 This was fixed by #3426. You can now build Armeria with Java 15. 😀

[2021-04-02 14:02] #3359 closed

[2021-04-04 10:33] hexoul opened #3428 "Provide a way to customize default `serviceName` for clients"
F/U #3366

Even if `ServiceNaming` is introduced, it is only able to customize server-side service names.
[code]

There is a need to design `ServiceNaming` for client-side service names like:
[code]

[2021-04-04 11:14] ks-yim opened #3429 "Make built-in MDC key `req.id` give `requestId` of root `ServiceRequestContext`"
Currently, MDC key, `req.id`, evaluates to `requestId` of `ClientRequestContext` even if it has `ServiceRequestContext` as its root. This undermines the benefit of using MDC as the logs within `ClientRequestContext` don't leave any contextual information of which service request they are scoped to.

I wonder if this is an intended behavior and I should introduce a custom MDC key to trace client lo

[2021-04-05 03:03] ikhoon commented on #3429
A request ID is designed to assign a unique key to every request. Therefore I don't think we can use a request ID as a trace ID.
If users need to group a set of requests which are created at the same scope of a `ServiceRequestContext`,
how about adding a new property such as `"req.traceId"` or `"req.rootId"`(need a better name) for that purpose?

[2021-04-05 03:50] minwoox commented on #3429
Yeah, we need a new property for the purpose.

Because of the `root()` of a `ClientRequestContext` could be `null`(the new property doesn't return `null` when the `root()` is `null`), I slightly prefer to use `req.trace_id`.
I'm worried about if there's someone who already uses the name though.

[2021-04-05 04:54] trustin commented on #3429
Request ID is not a trace ID to be precise, so `rootId` sounds better to me.

[2021-04-05 05:32] minwoox commented on #3429
Yeah, but `ClientRequestContext.root()` returns `null` if the ctx is created when there's no `ServiceRequestContext` in the thread local.
But the new property needs to return the id of the `ClientRequestContext` in such a case.
Isn't okay with that? Or should we change to return the `ClientRequestContext` when `ClientRequestContext.root()` returns `null`?

[2021-04-05 05:49] #3423 closed

[2021-04-05 05:51] #3330 closed

[2021-04-05 06:03] ks-yim commented on #3429
I think we should return `null` when `ServiceRequestContext` is `null` if we go with `req.rootId`.

[2021-04-05 06:11] trustin commented on #3429
Ah, yeah, that makes sense. Any better names?

[2021-04-05 06:13] trustin commented on #3429
`req.rootOrSelfId` ? :laughing:

[2021-04-05 06:26] ks-yim commented on #3429
`req.root_id` will be enough to serve my needs! Collecting only the ID of `ClientRequestContext` is of no use in our ordinary use cases. Can I work on adding the new built-in property?

[2021-04-05 08:27] trustin commented on #3429
@ks-yim Yeah, thanks a lot in advance!

[2021-04-05 08:33] minwoox commented on #3429
Just make sure that `req.root_id` return `null` if `ClientRequestContext.root()` returns `null`. Is that right?

[2021-04-05 08:39] ks-yim commented on #3429
Right, I will work in that way!

[2021-04-05 08:51] #3404 closed

[2021-04-05 08:52] trustin commented on #3209
Implemented via #3413

[2021-04-05 08:52] #3209 closed

[2021-04-05 09:41] #3370 closed

[2021-04-05 15:13] #3429 closed

[2021-04-05 15:16] trustin opened #3435 "Test failure: `PublisherBasedStreamMessageVerification`"
[code]

[2021-04-06 08:16] anuraaga opened #3438 "HttpHeaders.getLast to get last value of header"
I think it's pretty common for propagation mechanisms to overwrite in a way that last header wins. `HttpHeaders.getLast` could be convenient for that.

[2021-04-06 08:20] ikhoon opened #3439 "Make Spring webflux work with Spring security integration"
I got a report from @probepark that Armeria Spring Webflux integration does not work with Spring Security.
https://github.com/probepark/armeria-webflux is a reproducible repo. If the following credential is given,
[code]

A proper security context(`ReactiveSecurityContextHolder.getContext()`) is returned when http://localhost:8080/api/hello/mono is executed.
However, an empty context is returned w

[2021-04-06 08:27] trustin commented on #3438
Sounds good. We could get the last entry at O(1) like we can for the first entry, by making the linked list cyclic.

[2021-04-06 10:13] probepark commented on #3439
I tried like this it works
in ArmeriaServerHttpResponse.java

before
[code]
after
[code]
I think ChannelSendOperator and HttpResponseProcessor both similar class

It that is fixed it seems to work

@ikhoon

[2021-04-06 11:30] trustin opened #3440 "Use prettier-java or google-java-format for formatting code"
We currently use our own IntelliJ code style which is largely based on my personal taste. The resulting code looks fine, but it requires a contributor to configure the IDE properly first, because otherwise he or she will get a Checkstyle violation, which can be very annoying until getting used to our code style.

It's probably time to look for a solution to lower the contribution barrier and preve

[2021-04-06 14:34] anuraaga commented on #3440
Doesn't #2247 come before this? ;)

[2021-04-07 02:30] ks-yim opened #3442 "`IllegalStateException` when `RequestContextHooks.enable()` is used with `armeria-webflux`"
#### Problem:
* `RequestContextHooks.enable()` being used with armeria's webflux integration causes an `IllegalStateException` from the second request and on if `@RequestMapping` accepts no arguments.
[code]

#### Cause:
* Re-used `Mono`, which has already been converted to `ContextAwareMono`, tries to push an old `ServiceRequestContext` though the current `ServiceRequestContext` is already there.

[2021-04-07 02:35] ks-yim commented on #3442
Oh, this may be fixed with this PR https://github.com/line/armeria/pull/3441

[2021-04-07 03:16] ikhoon commented on #3442
Yes, the `EMPRY_ARG` was wrapped by ContextAwareMono. I didn't know that you opened a issue for that. I should've fixed it early or more lately to give you a chance to fix it. 🤣

[2021-04-07 04:05] ikhoon commented on #3439
Unfortunately, we cannot use `ChannelSendOperator` which caches an item that could be leaked if a stream is canceled. #1658
A `SecureContext` which is injected by a secure filter of Spring Security should be propagated to an upstream publisher. However, Armeria's WebFlux integration does not pass Reactor `Context`s to upstream.
This problem will be fixed by #3443

[2021-04-07 05:47] #3439 closed

[2021-04-07 06:30] trustin commented on #3440
Haha yeah, we need to take care of that as well!

[2021-04-07 06:32] #3442 closed

[2021-04-08 03:17] trustin opened #3445 "Duplicate `javax.annotation` classes in the classpath when using `armeria-grpc`."
It seems like `io.grpc` pulls in `jakarta.annotations` and `armeria-grpc` pulls in `javax.annotations`. They basically contains the same classes. We need to exclude `jakarta.annotations` or pull in `jakarta.annotations` in `armeria-grpc`.

[2021-04-08 04:10] anuraaga commented on #3445
Hmm - if gRPC is pulling it in transitively now (maybe it didn't back in the day hence why it's like it here), we may be able to change to `compileOnly `dependency on `javax.annotation` here same as all the other Armeria projects.

[2021-04-08 08:09] imasahiro commented on #3173
IIUC, this was already resolved by https://github.com/line/armeria/pull/3181, right? @minwoox

[2021-04-08 08:15] minwoox commented on #3173
Ah exactly. Thanks for reminding me. 😄

[2021-04-08 08:15] #3173 closed

[2021-04-09 02:25] ikhoon opened #3446 "Support JSON Lines encoder for a stream response"
[JSON Lines](https://jsonlines.org/) is another JSON serialization format that can send a stream of JSON data.
Currently, Armeria only supports [JSON Text sequences](https://datatracker.ietf.org/doc/rfc7464/) format using [JsonTextSequences](https://github.com/line/armeria/blob/67c25e242e8604331bdd8696a97d26604eb114af/core/src/main/java/com/linecorp/armeria/server/streaming/JsonTextSequences.java#

[2021-04-09 02:37] ikhoon commented on #3446
` application/x-ndjson` seems to be conventionally used for Mime type. https://stackoverflow.com/questions/51690624/json-lines-mime-type

[2021-04-09 13:27] amitvc commented on #3446
@ikhoon Can I please pick this issue ?

[2021-04-09 14:20] ikhoon commented on #3446
Sure. ❤️ I appreciate your enthusiastic contributions.

[2021-04-10 08:02] ghkim3221 opened #3447 "`TomcatService` doesn't work Spring Boot error handling"
Hi, Armeria team.

I migrated a synchronous Spring Boot application with embedded Tomcat to use Armeria server. As I can't migrate all synchronous code to asynchronous and reactive code, I used `TomcatService` to connect with Armeria and Tomcat. And I found that the TomcatService does not handle error handling describe in the [Spring Boot's document](https://docs.spring.io/spring-boot/docs/current

[2021-04-12 01:53] minwoox opened #3448 "Provide a way to limit HTTP/2 initial max concurrent streams by a client"
A client can make more streams than the server allows and send them before it gets the HTTP/2 settings frame from the server.
We need a way to limit the number:
[code]

[2021-04-12 01:57] minwoox commented on #3448
Speaking of max concurrent streams, I think the method name for setting the max current streams server-side can be mistakenly considered. (`Server.builder().http2MaxStreamsPerConnection`)
I hope we can change it to `http2MaxConcurrentStreams` when we reach 2.0.

[2021-04-12 01:57] trustin commented on #3448
Shouldn't we wait until HTTP/2 SETTINGS frame is received so we know the MAX_CONCURRENT_STREAMS value the server suggests?

[2021-04-12 01:59] trustin commented on #3448
This is not really necessary for our case because we can just obey the max concurrent streams the server advertises in the initial HTTP/2 SETTINGS frame the server sends. We just need to make sure we don't put the connection that didn't receive the SETTINGS frame into the pool.

[2021-04-12 02:03] minwoox commented on #3448
Yeah, probably we don't need that because the client might not know before it gets the settings frame.

I'm a bit worried that we are going to make too many connections (>= 100 in this case), if we let the client send the request before it gets the settings frame. 🤔

[2021-04-12 02:12] minwoox commented on #3448
If we need to wait for the settings frame from the server, there might be a little delay for the first request.
If the client creates connections for each request before it gets the settings frame, there might be a chance that a lot of connections created.
So I'm a bit worried about both options.

I guess adding `http2InitialMaxConcurrentStreams` will not solve the problem, but it can be just an o

[2021-04-12 02:50] anuraaga commented on #3448
Isn't it illegal in HTTP/2 spec to send any data before reading the settings frame from the server?

Client's connection preface comes after server's settings frame
https://tools.ietf.org/html/rfc7540#section-3.2

[2021-04-12 02:52] anuraaga commented on #3448
Might be missing something, but it sounds like connections do need to be in the pool while sending SETTINGS, but all the client streams (concretely, sending connection preface) should be delayed until it comes in.

[2021-04-12 02:57] trustin commented on #3448
Correct. We have to wait before sending anything.

We don't. We wait for the existing session establishment attempt in progress if there's one already. See `usePendingAcquisition`

[2021-04-12 03:01] minwoox commented on #3448
I guess it's not illegal.
https://tools.ietf.org/html/rfc7540#section-3.5
[code]

[2021-04-12 03:14] minwoox commented on #3448
I misunderstood what you meant. 😅
Yeah, that does not make an additional connection.
So the established channel is complete when it receives the settings frame from the server?

[2021-04-12 03:24] anuraaga commented on #3448
@minwoox - Ah, so the default behavior should definitely be to wait for the SETTINGS frame. Could add `.http2InitialMaxConcurrentStreams()` or just boolean `eagerlyStartClientStreams()` for users that know they won't cause problems by this eager behavior.

[2021-04-12 03:39] minwoox commented on #3448
Yeah, that's a good suggestion. 👍  A user can make a choice for the initial behavior.
If a user enables that option, then we need the setting for the max concurrent streams as well?
`... eagerlyStartClientStreams(int http2InitialMaxConcurrentStreams) {...}`

[2021-04-12 03:47] minwoox commented on #3448
Or probably `Http2Settings` instead of `http2InitialMaxConcurrentStreams`? 🤔

[2021-04-12 09:36] trustin commented on #3448
What would a user specify in `Http2Settings` besides the max number of concurrent streams?

[2021-04-12 13:59] trustin opened #3452 "`ClosedStreamException` triggered by `ArmeriaServerCall.doSendMessage()` not handled by Armeria"
We got the following exception report from a user at our Slack workspace:

[code]

According to the user, the exception is triggered when a server attempts to write something to the stream cancelled by a client. The stack trace shows that we did not catch the exception but just left it propagated to Netty. We should instead let it go to a `RequestLog` or discard it if that makes sense.

[2021-04-13 00:14] amitvc commented on #3446
@ikhoon I did some reading on the JSON lines encoding. [https://hackernoon.com/json-lines-format-76353b4e588d].
It seems to me the only difference between json lines and json text sequence is the RECORD_SEPARATOR character '0X1E'. I wonder if we should refactor and reuse the same code for both encoders with some changes to the RECORD_SEPARATOR?

[2021-04-13 01:55] minwoox commented on #3448
Not so much? 🤣
I thought there's a chance that a user wants to set the properties such as `maxFrameSize`, `initialWindowSize` and etc before the client gets the settings frame, but probably that's overkill.

[2021-04-13 09:21] ikhoon commented on #3446
(Had DM with @amitvc) The main difference between JSON Lines and JSON Text Sequences is
- An object in JSON Text Sequences can be written as multiline strings
[code]
- An object in JSON Lins must be written as a single line with `\n`.
[code]

We can 1) convert an object into a `JsonNode` as an intermediate representation and
2) serialize the `JsonNode` to a byte array using an internal `ObjectMapp

[2021-04-13 09:31] ikhoon commented on #3452
Slack thread: https://line-armeria.slack.com/archives/C1NGPBUH2/p1618229844143500

[2021-04-14 07:06] Waynefn opened #3454 "Duplicate injections when injecting value of parameters into a Kotlin data class object"
Suppose we define an annotated service method and data class like
[code]
[code]

A warning is printed when running the server
`Ignoring a duplicate injection target '@Param("name")' at 'public final foo.model.ExampleQueries foo.model.ExampleQueries.copy(java.lang.String,int)'`

However, the internal doc shows duplicated fields like:
![image](https://user-images.githubusercontent.com/31786852/11466

[2021-04-14 07:37] trustin commented on #3454
Thanks for reporting. We should fix this.

[2021-04-15 03:14] fclemonschool opened #3457 "'Failed to force-initialize 'io.netty.channel.unix.Socket' message while using the armeria webflux sample project."
Hello, I am inquiring with an error while using the armeria webflux sample project.

[https://github.com/line/armeria-examples/tree/master/spring-boot-webflux](https://github.com/line/armeria-examples/tree/master/spring-boot-webflux)

When this sample project is executed without modification, 'Failed to force-initialize 'io.netty.channel.unix.Socket' message is displayed.

![image](https://user-im

[2021-04-15 03:24] minwoox commented on #3457
Thanks for the report. Let us fix that. 😄

[2021-04-15 05:59] trustin commented on #3457
Meanwhile, it's totally fine to ignore it.

[2021-04-15 06:01] fclemonschool commented on #3457
Thank you! I'll ignore this message.

[2021-04-15 11:54] ikhoon commented on #2844
Related work: Another open-source written in Go that provides better design for API documentation: https://github.com/encoredev/encore#api-documentation

[2021-04-16 01:44] ikhoon commented on #3384
I saw a build error on another ambiguous reference:
[code]
with https://github.com/line/armeria/blob/2790d655f60c352ca47302c9b0d0fc8370e2d832/core/src/main/java/com/linecorp/armeria/server/ServerBuilder.java#L1021-L1037

[2021-04-19 10:31] trustin opened #3464 "Easily buildable client `TrustManager`"
In some cases, a user has to relax the verification of server certificates, e.g.

1. Accept a certificate regardless if it's valid or not.
2. Accept a certificate even if the certificate's CN does not match the server's host name as long as the certificate chain's signatures are valid.
3. Accept a certificate when its SHA-256 (or any digest algorithm) checksum matches.
4. Accept a certificate only

[2021-04-21 09:32] trustin opened #3469 "Generate social preview automatically"
We currently use a manually rendered static social preview image for our repository. We could make use of some 'social preview generator' to generate a nicer one, e.g.

![image](https://user-images.githubusercontent.com/173918/115531512-d3c89500-a2cf-11eb-8fc6-106d274dc913.png)

![image](https://user-images.githubusercontent.com/173918/115531543-dd51fd00-a2cf-11eb-8fc3-fa88d6f09791.png)

[2021-04-21 23:50] minwoox opened #3470 "Test failure: `HttpServerRequestTimeoutTest.setRequestTimeoutAfterNoTimeout`"
[code]

[2021-04-21 23:51] minwoox opened #3471 "Test failure: `HttpServerRequestTimeoutTest.setRequestTimeoutAfterNoTimeout`"
[code]

[2021-04-21 23:51] #3471 closed

[2021-04-21 23:52] minwoox opened #3472 "Test failure: MultipartEncoderTckTest"
[code]

[2021-04-21 23:53] minwoox opened #3473 "Test failure: PublisherBasedStreamMessageVerification"
[code]

[2021-04-22 14:30] minwoox opened #3474 "Test failure: PropertiesEndpointGroupTest"
[code]

[2021-04-22 16:24] hoangBach1993 opened #3475 "grpc or restful"
why we need grpc, why we donot use restful ?

[2021-04-22 18:33] haithamgabr opened #3476 "Possible LEAK"
I am running on 1.6.

Saw some occasional "LEAK" logs. Followed advice from @minwoox and ran with -Dio.netty.leakDetection.level=PARANOID, got a lot of LEAK records with armeria stacktraces. Attached three logs as examples.

Summary of my use case: Using armeria grpc client with RetryingClient (RetryRuleWithContent), CircuitBreakerClient (CircuitBreakerRuleWithContent) and other custom decorators,

[2021-04-23 02:59] minwoox commented on #3473
[code]

[2021-04-23 03:52] minwoox commented on #3473
[code]

[2021-04-23 06:22] trustin opened #3478 "Provide a way to enforce different concurrency for different endpoints in `ConcurrencyLimitingClient`."
A user sometimes wants to enforce a different concurrency level for a different endpoint.

The user might event want to share the concurrency stats between more than one `ConcurrencyLimitingClient`, e.g.

[code]

[2021-04-23 09:50] minwoox opened #3480 "Test failure: GracefulShutdownIntegrationTest"
[code]

[2021-04-24 09:00] hoangBach1993 opened #3481 "hello"
hello

[2021-04-26 07:24] #3454 closed

[2021-04-26 16:31] JLLeitschuh commented on #3113
Friendly ping @trustin 😄

[2021-04-27 08:10] #3457 closed

[2021-04-27 08:12] #3445 closed

[2021-04-27 08:23] #3470 closed

[2021-04-27 09:00] trustin commented on #3113
Sorry I'm late! Just added you to the Credits field. It seems like you need to accept it.

[2021-04-27 14:25] JLLeitschuh commented on #3113
Done! Thank you so much! 😄

It was a pleasure working with you on this issue.

[2021-04-27 14:25] #3113 closed

[2021-04-27 14:42] trustin commented on #3113
Thanks a lot for your patience on this. Looking forward to your reports in the future, although no vulnerability would be the best :wink:

[2021-04-28 07:12] #3452 closed

[2021-04-28 09:03] kojilin commented on #3447
For your example. The `/baz` will work well in the test if adding `SimpleControllerAdvice` to the `@SpringBootTest`'s classes attribute. It's already works if you do `bootRun` and using any client.

About the `/bar` 🤔 . Not sure why it doesn't work, maybe it register outside of connector(“global” error page)!? Maybe armeria user should do it by self using ExceptionHandlers.

[2021-04-28 15:41] jrhee17 commented on #3055
It's been a while since I took a look at this issue, so let me organize what I am thinking again.

---

I can still reproduce the warning logs - this can be done by copying the below code and running it
https://github.com/jrhee17/armeria/blob/a64d1e688f5c2378375e1f50fff29c4e43226f14/core/src/test/java/com/linecorp/armeria/client/HttpClientRequestTimeoutTest.java

**Explanation**

1. Create an arme

[2021-04-29 01:04] ikhoon opened #3491 "Test failure: `ArmeriaSpringActuatorAutoConfigurationSecureTest.normal()`"
[code]

[2021-04-29 02:20] trustin opened #3492 "Test hangs: `BraveIntegrationTest.testHttp2ClientTimesOut`"
Found that it's stuck here:

[code]

[2021-04-29 03:00] kojilin commented on #3491
Hard to reproduce at my local env, do we have failed test report or more context to check.

[2021-04-29 04:39] trustin opened #3493 "Export metrics about a connection pool"
It'd be nice if we export metrics about the connection pool, such as:

- the counter of open/closed connections
- the number of currently active/idle connections
- some timing stats about keep-alives (HTTP ping frames, etc)

We might want to implement this internally by:

- Adding more hooks to `ConnectionPoolListener`; and
- Adding a metric-collecting `ConnectionPoolListener`

.. so that our user

[2021-04-30 02:11] hoangBach1993 opened #3496 "connection pool problem"

[2021-04-30 02:12] #3496 closed

[2021-04-30 02:12] hoangBach1993 commented on #3496
close

[2021-04-30 02:16] ikhoon commented on #3496
This is a public space for Armeria devs and users. **MUST** keep [Code of Conduct](https://armeria.dev/community/code-of-conduct).

[2021-04-30 03:14] ikhoon commented on #3491
I found the failed test from GitHub Actions log. https://github.com/line/armeria/runs/2466066386?check_suite_focus=true#step:7:1647
We have encountered new flaky tests after using GitHub Actions. 😭

[2021-04-30 05:38] #3492 closed

[2021-04-30 10:14] trustin opened #3499 "Scala extension method that converts `Map[CharSequence, String]` to `Iterator<Entry<>>`"
It is currently quite inconvenient when a Scala user tries to put multiple headers into `HttpHeadersBuilder` from a `Map`:

[code]

It'd be nice if we add an extension method to `Iterable[(CharSequence, String)]` (and `Iterable[(String, String)]`?) so it's easier to convert it into an `Iterator[Map.Entry[CharSequence, String]]`:

[code]

[2021-04-30 11:11] hexoul opened #3501 "Provide a way to fluently build an `CircuitBreakerMapping` with path pattern"
`CircuitBreakerMapping` only provides `perHost()`, `perMethod()`, `perPath()`. If there is a need to 1) filter specific path or 2) apply various `CircuitBreaker`, some efforts will be taken as follows:
[code]

I guess, we are able to provide shortcuts as follows:
[code]

Specifically, for me, these needs come from our path pattern. Since there are endpoints including hash as path variable like `@G

[2021-04-30 11:16] ikhoon commented on #3499
Could we add a default method for `java.util.Map<String, String>` to `HettpHeadersBuilder` instead of adding a new extension method?
[code]

Users could use `scala.immutable.Map[String, String].asJava` with:
[code]

[2021-05-02 04:07] ikhoon commented on #3491
I finally found out that this is caused by my stupid mistake. 🙊
We have to build `docs-client` module first to test `DocService`. However I added `-PnoWeb` option while trying to improve CI build speed.

This will be fixed by https://github.com/line/armeria/pull/3498/commits/769209b4a28ab9eb9e10f48dbd65c928dfb309f4

[2021-05-03 04:22] trustin opened #3510 "Add `ContextAwareExecutionContext` for Scala"
We could add `ContextAwareExecutionContext` like we have `ContextAwareExecutorService` for our Scala users.

[2021-05-03 06:43] ikhoon opened #3511 "Test failure: `MainTest.testServerSentEvents()`"
https://github.com/line/armeria/pull/3498/checks?check_run_id=2489695335#step:7:2071
[code]

[2021-05-03 07:19] ikhoon opened #3512 "JVM Core dump with SIGEGV while CI build"
https://github.com/line/armeria/pull/3498/checks?check_run_id=2489966830#step:7:2169
[code]

[2021-05-03 07:58] ikhoon opened #3513 "Test failure: `GracefulShutdownIntegrationTest.waitsForRequestToComplete()`"
[code]

[2021-05-03 07:59] ikhoon opened #3514 "Test failure: `ConsulEndpointGroupTest`"
https://github.com/line/armeria/pull/3498/checks?check_run_id=2489966810#step:7:2262
[code]
[code]

[2021-05-03 08:05] #3491 closed

[2021-05-03 08:26] ikhoon commented on #3514
[code]

[2021-05-03 08:56] ikhoon commented on #3514
[code]

[2021-05-03 10:06] trustin opened #3516 "Add a way for a user to send a GOAWAY frame."
A user sometimes needs to send a GOAWAY frame manually when he or she wants to make a client establish a new connection explicitly. Armeria currently doesn't provide an API for this.

There are a few options:
- Translate a `Connection: close` header into a GOAWAY frame.
- Add a method to `ServiceRequestContext`, such as `scheduleGoAway()`.
  - This could be translated to a `Connection: close` head

[2021-05-03 10:23] ikhoon opened #3517 "Test failure: `GrpcServiceServerTest.reflectionService()`"
https://github.com/line/armeria/pull/3515/checks?check_run_id=2490899175#step:7:2075
[code]

[2021-05-03 11:51] ikhoon opened #3518 "Test failure: `HelloServiceTest.getLotsOfReplies()`"
https://github.com/line/armeria/pull/3515/checks?check_run_id=2491260395#step:7:1931
[code]

[2021-05-03 13:37] ghkim3221 commented on #3447
Thanks @kojilin !!

I confirmed `/baz` succeeded after adding `SimpleControllerAdvice`.

Me too 🤔 yet 😂

[2021-05-03 14:28] ikhoon opened #3519 "Test failure: `CuratorServiceDiscoveryCompatibilityTest.registeredInstancesAreSameWhenUsingServiceDiscoveryImplAndUpdatingListener()`"
[code]

[2021-05-03 23:38] trustin opened #3520 "Allow specifying current/max content length when creating `ContentTooLargeException`"
It could be useful if we provide the following properties in `ContentTooLargeException`:

- How many bytes we received so far.
- How many bytes the content will have, i.e. the value of `content-length` header, or `-1` for chunked encoding
- How many bytes are allowed at maximum, i.e. `maxRequestLength` or `maxResponseLength`

[2021-05-04 01:42] ikhoon opened #3521 "Test failure: `ZooKeeperRegistrationTest.curatorRegistrationSpec()`"
[code]

[2021-05-04 01:51] ikhoon opened #3522 "Test failure: `HttpServerRequestTimeoutTest > path=/extend-timeout-from-now`"
[code]

[2021-05-04 01:52] ikhoon opened #3523 "Test failure: `HelloApplicationIntegrationTest.success()`"
https://github.com/line/armeria/runs/2494176316?check_suite_focus=true#step:7:1985
[code]

[2021-05-04 06:49] #3513 closed

[2021-05-04 06:49] #3511 closed

[2021-05-04 07:36] ikhoon commented on #3519
This is also fixed by https://github.com/line/armeria/pull/3515/files#diff-99355a4c7f349dbf1c806998ba9928bca2d490e1283e544bedbc9c72d2cbd924

[2021-05-04 07:36] #3519 closed

[2021-05-06 02:25] ikhoon opened #3526 "Lint failure: `ktlintTestSourceSetCheck`"
I couldn't find a clue yet why it is occasionally broken.
https://github.com/line/armeria/pull/3525/checks?check_run_id=2514514367#step:7:498
[code]

[2021-05-06 02:53] ikhoon opened #3527 "Add `TYPE_USE` target to `@NonNullByDefault`"
Armeria's `@NonNullByDefault` covers only `METHOD`, `PARAMETER`, and `FIELD`
even though Armeria does not return a collection or array that contains a nullable value.

Kotlin 1.5 supports nullability annotations with the `TYPE_USE` target for:
- Arrays
- Varargs
- Fields
- Type parameters and their bounds
- Type arguments of base classes and interfaces

See https://kotlinlang.org/docs/whatsnew15.h

[2021-05-06 03:02] #3522 closed

[2021-05-06 03:02] #3521 closed

[2021-05-06 03:39] hexoul commented on #3232
Can we close this issue? @ikhoon

[2021-05-06 06:06] ikhoon commented on #3232
Nice catch! This was fixed by #3453.

[2021-05-06 06:06] #3232 closed

[2021-05-06 07:04] ikhoon opened #3528 "Infinity loop on cache miss in `RefreshingAddressResolver`"
I found a CI build that never terminates. https://github.com/line/armeria/runs/2514847200?check_suite_focus=true#step:9:2280
[code]

That is caused by recursive calls of `ConcurrentHashMap.computeXXX()`.
The bug was reported and patched in Java 9. https://bugs.openjdk.java.net/browse/JDK-8074374
As a result of the patch, the infinity loop is removed, but it still raises `IllegalStateException: Rec

[2021-05-06 07:32] ikhoon opened #3529 "Test failure: `KeepAliveHandlerTest.testMaxConnectionAge`"
https://github.com/line/armeria/pull/3483/checks?check_run_id=2514877061#step:7:1122
[code]

[2021-05-06 11:49] syleeeee commented on #3469
So will it be automatically generated when we remove the social preview image?
I tried with Central Dogma(without social preview settings) and it looks like this.
![image](https://user-images.githubusercontent.com/6274210/117293528-737b4b00-aeac-11eb-86b9-8061cf192c33.png)

[2021-05-06 14:23] amitvc commented on #3464
@trustin  I will start work on this tonight. I have 2 other PR's in review so I can take this one.

[2021-05-07 01:45] amitvc commented on #3464
@trustin I see ClientTrustManagers:: noVerify can be implemented using InsecureTrustManagerFactory.INSTANCE.
I want to know if we currently verifySignaturesOnly and verifyFingerprintsOnly currently using tlsCustomizer?
Also, I do not quite get the need for ClientTrustManagerAction interface.

[2021-05-07 09:22] ikhoon commented on #3368
@amitvc Gentle ping. Are you working on this? Otherwise, let me address this. Some LINE internal users wish to use this feature. 😆

[2021-05-10 02:57] trustin commented on #3464
@amitvc Here we're gonna have to implement a `X509ExtendedTrustManager` that delegate the check to `ClientTrustManagerAction.checkServerTrusted()` for a given domain name. We need to implement various `ClientTrustManagerAction`s as defined in its static factory methods, then we could implement the methods in `ClientTrustManagerBuilder` like this:

[code]

[2021-05-10 03:08] trustin commented on #3464
We may want to reuse the existing `TrustManager` implementations like `InsecureTrustManagerFactory` or `FingerprintTrustManagerFactory` as you mentioned, by delegating the check to them in our action implementations.

[2021-05-10 05:47] trustin commented on #3529
This occurred recently at: https://github.com/line/armeria/pull/3533/checks?check_run_id=2540487123

[2021-05-10 07:46] trustin commented on #3469
Yeah, it seems so. It'd be nice if we can set the logo at the project level instead of using the LINE logo.

[2021-05-10 11:01] syleeeee commented on #3469
Well, I searched it but I think we can't set the logo at the project level so far.

So how about now? Is this better?
![image](https://user-images.githubusercontent.com/6274210/117649483-894d8080-b1ca-11eb-81d2-a2fb01aa93f2.png)

[2021-05-11 01:54] ikhoon opened #3542 "Trie router optimization for a small set of routes"
Even though a routing result is cached, it still consumes many CPU cycles.
![image](https://user-images.githubusercontent.com/1866157/117745854-4df09780-b246-11eb-9331-843c76f59485.png)
I think we can investigate it and find room for optimizing it.
https://github.com/line/armeria/blob/c5d378b7535d5e3ee42b92f004ec1e27d737cb1f/core/src/main/java/com/linecorp/armeria/server/RouteCache.java#L120-L128

[2021-05-11 07:17] trustin opened #3544 "Add Brotli support to `{Encoding,Decoding}{Client,Service}`"
Brotli support is coming to Netty: https://github.com/netty/netty/pull/10960 We should add it to the following services and clients:

- `EncodingService`
- `DecodingClient`
- `DecodingService`

[2021-05-11 07:21] trustin commented on #1521
Seems like this has been fixed already in #3087, right? Please feel free to reopen if it's not the case.

[2021-05-11 07:21] #1521 closed, assigned to nobody

[2021-05-11 12:36] max904-github opened #3546 "public_suffixes.txt gets modified during the build"
Following file gets modified content every time during the build:
core/src/main/resources/com/linecorp/armeria/public_suffixes.txt

[2021-05-11 13:02] ikhoon opened #3547 "Use `AsyncCache` for `RefreshingAddressResolver`"
`RefreshingAddressResolver` caches a DNS result with `CompletableFuture`. The result is expired by a custom scheduler.
The implementation of async resolving and expiration in `RefreshingAddressResolver` is pretty complex.
https://github.com/line/armeria/blob/38c9f569ea8ef9995b54274e5743d44a5e1fa1b0/core/src/main/java/com/linecorp/armeria/client/RefreshingAddressResolver.java#L305-L310
It'd better

[2021-05-11 13:25] trustin commented on #3546
Yes, it is. It's currently updated automatically during the build process. I agree it can be annoying since it shouldn't really be part of a pull request. Perhaps we could automate this change by using GitHub Actions rather than relying on a contributor's build.

[2021-05-11 14:39] heowc commented on #3447
I am interested in this issue and have tried debugging it. :sunglasses:

As a result of doing this, the problematic parts are as follows. Each module in the example produces different results here.

https://github.com/apache/tomcat/blob/9747a3a6334369deb9b5bef1b17b1fe0ce774cdf/java/org/apache/catalina/core/StandardHostValve.java#L157-L165

https://github.com/apache/tomcat/blob/9747a3a6334369deb9b5

[2021-05-12 06:05] ikhoon opened #3551 "Should not swallow errors of `TransientService`"
I got a report that `PrometheusExpositionService` is not working without any error logs.
I investigated the reason by debugging the code with some break points.
There was a dependency mismatch and the following line raised `NosuchMethodException`.
https://github.com/line/armeria/blob/198c247f2e9092601e920f900412f3cd1c70d7e0/core/src/main/java/com/linecorp/armeria/server/metric/PrometheusExposition

[2021-05-12 06:07] trustin commented on #3551
:+1:

[2021-05-12 06:08] minwoox commented on #3551
👍 👍

[2021-05-12 06:10] hexoul commented on #3551
👍

[2021-05-12 06:16] ikhoon commented on #3551
@hexoul Are you interested in sending a PR. 😆

[2021-05-12 07:23] ikhoon opened #3553 "Test failure: `ManagementServiceTest.heapDump()`"
https://github.com/line/armeria/pull/3502/checks?check_run_id=2555726909#step:7:1069
[code]

[2021-05-12 07:28] ikhoon commented on #3480
This may be fixed. #3513 #3515
Feel free to reopen this reproduce.

[2021-05-12 07:28] #3480 closed

[2021-05-12 07:37] ikhoon opened #3554 "Test failure: `GracefulShutdownIntegrationTest.testBaseline()`"
GracefulShutdownIntegrationTest > testBaseline() FAILED
    java.lang.AssertionError:
    Expecting:
     <4152826200L>
    to be between:
     [2682290400L, 3482290400L]
        at com.linecorp.armeria.it.server.GracefulShutdownIntegrationTest.testBaseline(GracefulShutdownIntegrationTest.java:156)

[2021-05-12 08:30] hexoul commented on #3551
Oh I am interested in. 🤣  By the way, I would like to get a confirmation. In case of 5xx, should we log regardless of `TransientServiceOption.WITH_SERVICE_LOGGING` and `sample`? Or ignore [sampling](https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/logging/LoggingService.java#L126) just?

[2021-05-12 09:09] #3392 closed

[2021-05-12 09:13] trustin opened #3556 "Test failure: `ServiceRequestCancellationTest`"
From https://github.com/line/armeria/pull/3539/checks?check_run_id=2563851748#step:7:2310
[code]

[2021-05-12 09:36] ikhoon commented on #3551
We should respect the result of `sample` regardless of status.

[2021-05-12 09:45] trustin commented on #3447
Thanks for looking into this issue. Sounds like it's more complicated than initially thought. :sweat_smile: Maybe we need to:

- build some fake `AbstractProcessor` implementation and invoke it; or
- copy the error handling logic somehow from `AbstractProcessor`?

[2021-05-12 09:53] trustin commented on #3469
Hard to say :laughing: How about re-designing our social image so it contains some information in addition to the logo? It looks somewhat vague at the moment.

[2021-05-12 09:54] #3528 closed

[2021-05-12 09:56] trustin commented on #3527
Sounds good to me. Please send out a PR :pray:

[2021-05-12 09:57] trustin commented on #3526
I encountered this problem as well. Maybe some build cache problem? I wonder if it's possible to clear the build cache partially, only for a specific plugin like this.

[2021-05-12 09:58] ikhoon commented on #3527
I'd be happy to. 😀

[2021-05-12 10:05] trustin opened #3557 "Test failure: `HttpServerRequestTimeoutTest.setRequestTimeoutAfterNoTimeout()`"
From https://github.com/line/armeria/runs/2564682267?check_suite_focus=true#step:7:1444

[code]

[2021-05-12 14:20] jrhee17 commented on #2976
Interesting article by cloudfare

Basically they recommend to:
1) enable `SO_KEEPALIVE`
2) set `TCP_USER_TIMEOUT = TCP_KEEPIDLE + TCP_KEEPINTVL * TCP_KEEPCNT`

Ref: https://blog.cloudflare.com/when-tcp-sockets-refuse-to-die/#keepaliveswithtcp_user_timeoutareconfusing

[2021-05-13 01:30] ikhoon opened #3560 "Test failure: `KeepAliveHandlerTest`"
[code]

[2021-05-13 03:46] ikhoon commented on #3554
[code]

[2021-05-13 11:37] heka1024 commented on #3544
I'll try this.

[2021-05-14 00:01] #3446 closed

[2021-05-14 00:09] #3499 closed

[2021-05-14 00:14] #3368 closed

[2021-05-14 00:27] trustin commented on #3544
Thanks, @heka1024! It's all yours :rocket:

[2021-05-14 01:37] syleeeee commented on #3469
🤣  Agreed, but the default social image shows some real-time numbers such as the number of contributors or stars.
Well, I'll let the image empty and think about it.

[2021-05-14 02:18] ikhoon commented on #3055
Fixed by #3060

[2021-05-14 02:18] #3055 closed

[2021-05-14 04:43] #3527 closed

[2021-05-14 06:16] heowc commented on #3447
How about doing it in a different way?

As mentioned above, we can register an excption handler using Armeria. (Is it necessary to handle the white label as well..? 🤔)
Alternatively, webflux can use `WebExceptionHandler` ([`DefaultErrorWebExceptionHandler`](https://github.com/spring-projects/spring-boot/blob/main/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/

[2021-05-14 08:25] #3551 closed

[2021-05-15 07:10] kojilin commented on #3547
There are 2 concerns?
1. Current implementation re-query even there is no request. If we want to preserve this behavior, we may need to wait https://github.com/ben-manes/caffeine/issues/504 implemented. Or we can change behavior to evict the entry which is no queried during cache time.
2. Current implementation support caffeine spec freely, if we want to implement using AsyncCache, I think we will

[2021-05-15 07:23] ben-manes commented on #3547
Thanks for the insight @kojilin. I figured there had to be a good reason when mentioning `AsyncCache` on #3530, but it was unclear (and I am unfamiliar with the code). I think maybe this issue should change the resolver to include a small doc comment about the design intent. Right now it reads as if the code was migrated from Guava's cache and didn't realize there was a simpler async option to fur

[2021-05-15 07:53] kojilin commented on #3547
Ah ^^; I'm also willing to use AsyncCache and make the logic simpler. But just have concern if there is some latency increase in less frequent use of host. So if it's tolerable I may try :D.

The original design looks like cache as much as possible & try to refresh automatically even there is no usage. And if we have Expiry with variable refresh, we won't have such impact for frequently used host

[2021-05-15 14:02] kojilin commented on #3474
Is it possible that event comes too fast and read file not reflect the latest change?

[2021-05-16 05:37] kojilin opened #3569 "Test failure: WebClientRequestPreparationTest"
From https://github.com/line/armeria/actions/runs/846148215
[code]

If execute response comes back quickly, then test fails.

[2021-05-16 06:55] kojilin commented on #3569
I can add code like
[code]
in the test to avoid the request starts. But I'm curious about the
https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/internal/common/CancellationScheduler.java#L267-L288

Why we subtract the start time and then plus back in pending task.
[code]

And one more question, is condition in below code is timeoutNanos instead of timeoutNanos
[co