[2021-05-16 08:14] jrhee17 commented on #2976
Note: Won't think about server-side for this iteration since `TCP_USER_TIMEOUT` (and other timeout related options) only apply to client-side.

### Application layer
- `maxConnectionAgeMillis`: terminates the connection if a specified time passes
- `idleTimeoutMillis`: terminates the connection if a specified time passes since a connection is idle (and there are no in-flight request/responses)
- `

[2021-05-16 09:27] ks-yim opened #3571 "Remove locks from `OAuth2Client`"
`OAuth2Client` uses ~a dedicated thread pool~ locks and optionally requires a dedicated thread pool(ref. [SerialFuture.java](https://github.com/line/armeria/blob/27f1d605bea0874bf0bd68962f5e405812ba55fd/oauth2/src/main/java/com/linecorp/armeria/internal/common/auth/oauth2/SerialFuture.java)) to solve the concurrency issue related to access token refresh where multiple requests try to update the sa

[2021-05-17 02:01] mauhiz opened #3572 "TransportTypeProvider false positive when another shaded version of netty is in classpath"
As Netty, like Guava, likes breaking binary compatibility every now and then, libraries that depend on Netty but have a slower release cycle have the habit of including a shaded version of it.
However, depending on the shading process, while the packages are renamed, `io.netty.versions.properties` may be included as-is.
So `TransportTypeProvider` would find several that file in the library with th

[2021-05-17 08:44] max904-github commented on #3571
This is not a defect.
`SerialFuture` **optionally** accept the `Executor`, but **does not require** it.
See:
[code]
`SerialFuture` is only an internal implementation. Another class to check is `TokenLifecycleManager`. The actual executor may be supplied via corresponding `OAuth2AuthorizationGrantBuilder`. See `AbstractOAuth2AuthorizationGrantBuilder`:
[code]
Nowhere it says or implies that the `Ex

[2021-05-17 09:19] ks-yim commented on #3571
@max904-github I've made a suggestion for improvement in your awesome PR though it was quite late.
You may find it in [this comment](https://github.com/line/armeria/pull/2840#issuecomment-835514231).

Following code contains the gist though I'd replace `AtomicBoolean` flag with `AtomicIntegerFieldUpdater` as suggested in the thread.
[code]

[2021-05-17 09:45] ikhoon commented on #3569
Fixed by https://github.com/line/armeria/pull/3567/commits/5d54d3f5b166736615ea2efa8505b921dae129fb

[2021-05-17 19:54] max904-github commented on #3571
Which class this code snippet relates to exactly? Could you provide a complete class/code sample (with all required dimensions)?
Not sure what you are trying to achieve by replacing locks with timers. Scheduling timers will still require some locks. Then you require extra CPU to service wakeups (and consequent context switching). Then, there will be an extra delay introduced to all blocked threads

[2021-05-18 07:14] #3569 closed

[2021-05-18 07:38] hexoul opened #3575 "Test failure: `HealthCheckServiceTest`"
https://github.com/line/armeria/pull/3505/checks?check_run_id=2607877656#step:7:2536

[code]

[2021-05-18 07:50] #3575 closed

[2021-05-18 08:21] hexoul opened #3576 "Test failure: `LazyDynamicEndpointGroupTest.emptyEndpoint()`"
https://github.com/line/armeria/pull/3505/checks?check_run_id=2608236536#step:7:2368
[code]

[2021-05-18 10:14] ks-yim commented on #3571
Thanks for the feedback, @max904-github.

First off, I am aware of the concurrency issue regarding token refresh and how the concurrent requests should be managed as you've just summerized in...:

### Problem that I wanted to solve:
Imagine the case where your server application needs to manage a massive amount of user sessions and access/refresh tokens for each of them (ref. [Google OAuth2.0 Scen

[2021-05-18 15:10] max904-github commented on #3571
I think this (the possibility of an overload or resource exhaustion) requires some proof. Please explain how current solution will spin-up a thread for each token refresh request or block the event loop.

As I explained earlier, if an Executor configured, it will occupy exactly one thread to trigger token renewal (which is also async). No other thread will be blocked. If no Executor configured, on

[2021-05-18 20:11] ks-yim commented on #3571
I realized that I got it completely wrong about what `SerialFuture` does after having another look at the code.
I am sorry that I confused you.

The points that I've made above are wrong in that:
* SerialFuture doesn't block the event loop even without a dedicated `Executor`.

Well, I still have to answer your questions though the discussion has started from my misunderstanding. 😅
* Scheduling a b

[2021-05-19 00:57] KarboniteKream opened #3577 "Converting form encoded parameters to an object"
I was working on an annotated service method to handle `POST application/x-www-form-urlencoded`, which means the body of the request looks like `foo=1&bar=2`.

My initial idea was to define a request object and annotated method like this:
[code]

But it looks like Armeria only deserializes the request like this if the specified content type is JSON, so the solution was to use `QueryParams` or anno

[2021-05-19 02:47] ikhoon opened #3578 "Multipart for annoated services"
[Multipart] was added to Armeria in [1.6.0](https://armeria.dev/release-notes/1.6.0) and it is programmatically used.
However, we did not implement multipart part messages in annotated services.
It would be useful to inject multipart data directly to the parameters of an annotated service.

I assume the following annotations are working when a content type is `multipart/form-data`.
[code]

[2021-05-19 03:33] kojilin commented on #3578
`@Param File file1` is preserve in temp folder and let user read from it?

And curious if its good to support single `MultiPart` method?(If we want Multipart, it means we can't use with aggregated result at same time?)

[2021-05-19 03:51] ikhoon commented on #3578
Yeah, that's what I thought. Otherwise, we can add an option to ServerBuilder and a flag to set a folder for the temporary folder.

I think so. It should be good to support single `Multipart` and `AggregatedMultipart`.

Does This mean to use `@Param File file1` and `Mutlipart` together like?:
[code]
A `Multipart` could be subscribed only once. If want to see both the parsed result and multipart me

[2021-05-19 04:22] kojilin commented on #3578
Yes, so to avoid user figure out what combination works, maybe armeria doesn't provide this combination, or make document clear enough.

[2021-05-19 06:22] trustin commented on #3571
Thanks for the discussion. I'll check this PR this week. A general rule of thumb is to reuse the current or given event loop thread instead of allocating a dedicated thread pool, preferably without acquiring any lock. As a framework, it's desirable to provide a way to do something in a more efficient way as long as it doesn't degrade developer experience, even if the gain is not very large, becaus

[2021-05-19 06:24] trustin commented on #3571
Ah, this is not a PR. Sorry! So my opinion is that:

- Let's optimize it further if possible.
- Let's use Armeria's event loop threads instead of others if possible, because it's what users expect in Armeria.
- Let's drop the usage of locks if possible.

[2021-05-19 07:19] ks-yim commented on #3571
Thanks for chiming in, trustin. It would be good if we put discussion label on this.
And I should change the title as it is misleading as max stated.

[2021-05-20 02:03] kojilin opened #3579 "LoggingClient only log the first headers without additional headers"
Currently the LoggingClient only logs the header that armeira set. If we use additional header like what document said in https://armeria.dev/docs/client-custom-http-headers . The logging result won't contain it.

https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/HttpRequestSubscriber.java#L203

should use merged instead of firstHeaders

[2021-05-20 03:08] amitvc commented on #3464
@trustin In the sample code here you have this.action(hostnamePattern, ClientTrustManagerActions.noVerify());
What is **action** here ? Is it a map<String, ClientTrustManagerAction> ?
Also each of the static method in ClientTrustManagerAction will return a corresponding implementation of a ClientTrustManagerAction that implements checkServerTrusted ?

[2021-05-24 02:04] minwoox opened #3586 "Test failure: HttpServerTest"
[code]
https://github.com/line/armeria/pull/3583/checks?check_run_id=2640909050#step:7:1080

[2021-05-25 07:09] minwoox commented on #2976
I missed this. 😅

[2021-05-26 06:11] ikhoon opened #3587 "Add a simple `StreamMessageAndWriter` for a dedicated event loop"
A `DefaultStreamMessage` is a thread-safe `StreamMessageAndWriter` for multiple producder.
Some technics are used for concurrency such as:
- `MpscChunkedArrayQueue`
  https://github.com/line/armeria/blob/f0252bd457cc5e4fd3e70382debfb8cbadd74bbb/core/src/main/java/com/linecorp/armeria/common/stream/DefaultStreamMessage.java#L106
- Some volatile fields
https://github.com/line/armeria/blob/f0252bd457

[2021-05-26 06:23] minwoox commented on #3587
We have tried to introduce the `StreamMessage` you described. Its name was `EventLoopStreamMessage`. https://github.com/line/armeria/pull/855#issuecomment-346567012.
However, IIRC, there's not so much gain from it so we removed that.
Let me find the benchmark. (Somehow, I couldn't find it, so if there's anyone who knows about it, please let us know. 😄 )

[2021-05-26 10:23] ikhoon commented on #3587
`EventLoopStreamMessage` forcibly executes all operations in an event loop.
What I meant was a `StreamMessage` that executes on a current thread(maybe an event loop) without concurrency control.
The caller has to control the serialized access like `HashMap`.

[2021-05-26 12:07] minwoox commented on #3514
https://github.com/line/armeria/issues/3514#issuecomment-831123029 this case is not fixed yet.
https://github.com/line/armeria/pull/3588/checks?check_run_id=2673445503#step:7:1003

[2021-05-27 01:31] jrhee17 commented on #3587
Yes, let me take a look soon 👀

[2021-05-27 07:34] #3556 closed

[2021-05-27 07:37] #3579 closed

[2021-05-27 07:44] #3438 closed

[2021-05-27 09:03] minwoox commented on #3554
[code]
https://github.com/line/armeria/runs/2682355027?check_suite_focus=true#step:7:1457
Found a similar failure in another test

[2021-05-27 09:07] trustin commented on #2976
Thanks for the detailed idea. That is very useful!

I thought `TCP_USER_TIMEOUT` is applicable to server-side as well? Can't you set it by using `ServerBootstrap.childOption()`?

- `maxConnectionAgeMillis` is often a very large value. Shouldn't it just be `TCP_USER_TIMEOUT = idleTimeoutMillis`?
- `KEEPALIVE` settings sounds reasonable.

[2021-05-27 09:09] trustin commented on #3571
I'd like to encourage you to send out a draft PR that shows your proposal so we can compare the old and new implementations. :rocket:

[2021-05-27 09:33] trustin commented on #3464
Sorry for a late reply, @amitvc. `this.action(String hostnamePattern, ClientTrustManagerAction action)` is a method that allows a user to register any action for a given hostname pattern (`*.armeria.dev`).  Internally, you will want to keep the pairs of `hostnamePattern` and `ClientTrustManagerAction` in a `Map` or trie for faster lookups and/or matches, e.g. `*.foo.com` will match `a.foo.com` and

[2021-05-28 01:36] minwoox opened #3591 "Provide a way to set the root context path"
If a user wants to add a context path for all endpoints,
he/she has to add the prefix string to all service setters which is tedious.
If we provide a way to set the context path, it will be much easier:
[code]

[2021-05-28 13:22] ks-yim commented on #3571
Thanks, @trustin. I will send a PR next week!

[2021-05-28 13:46] ikhoon commented on #3587
That is true for HTTP protocol and REST. A HttpRequest and Response is directly exposed to users with `HttpService` and `WebClient`. Users can subscribe to the `Publisher` with their own `Subscriber`. Some thread safety is required for the `Publisher`.

However, We don’t expose our `HttpRequest` to users for gRPC services.
- `ArmeriaServerCall` subscribes to `HttpRequest` with `ctx.eventLoop()` fo

[2021-05-28 15:01] jrhee17 commented on #3587
Agreed, let me try this idea out

Ran another iteration with `SpscChunkedArrayQueue`, I think results look promising

[code]

[2021-05-28 16:27] AngerM-DD commented on #3591
Would it make sense to allow building 'sub routers'? It may end up just being some syntactical sugar but it would be great to have something like:
[code]
etc.

[2021-05-29 09:09] jrhee17 commented on #3587
Let me just think about server-side only first since I'm still trying to process everything.

So for grpc I think the flow is as follows:

[code]

For `DecodedHttpStreamMessage`, I think making this thread-unsafe is no problem.

For `DecodedHttpRequest`, I think I need to understand your comment first

Currently, I'm thinking of two points:
1) The current code currently doesn't know whether a requ

[2021-05-29 10:21] ikhoon commented on #3587
- Prepration: Extract the media type defined in `GrpcSerializationProvider` to `MediaType` such as `MediaType.GRPC`, `MediaType.GRPC_JSON` and so on.
              It is also convenient to add a utility for gRPC media type - `mediaType.isGrpc()`.
https://github.com/line/armeria/blob/9e601afd504a4cb31f6e811cb66b9c535dd026d3/grpc/src/main/java/com/linecorp/armeria/internal/common/grpc/GrpcSerializat

[2021-06-01 01:32] ikhoon opened #3594 "Provide a way to register Jackson `Module`s to the default `ObjectMapper`"
If users want to register a new Jackson Module with annotated services, they have to create a custom `Jackson{Request,Response}ConverterFunction`.
It is not convenient to create a new converter function only for adding a new Jackson Module.

We could provide ways to register Jackson `Module`s to the default `ObjectMapper`.
- Using SPI
[code]
- Programmatic way
[code]

[2021-06-01 14:24] jrhee17 commented on #3587
I'm thinking the client may set `content-type: application/grpc`, but the path mapping might not be to an actual grpc service (I guess this case is rare though)

I understood this comment to mean: "users should not call `subscribe()` on a grpc `DecodedHttpRequest` directly when the request is destined for a grpc service".

---

I guess I think I understand the requirements for this issue more clea

[2021-06-01 23:00] trustin opened #3596 "Add `ClientFactory.numConnections()`"
.. like `Server` has `numConnections()`, so that a user can easily figure out how many connections it is managing.

[2021-06-03 07:54] trustin opened #3597 "Add the shortcut methods that creates event loops and blocking task executor thread pool"
It may be useful if a user can create a new event loop or blocking task executor that has the same life cycle with a `ClientFactory` or `Server`:

[code]

[2021-06-03 08:05] trustin opened #3598 "Reconsider the restartability of `Server`"
Currently, a user is allowed to stop a `Server` and then restart it as long as the user didn't call `close()` or `closeAsync()`. This can be useful, but I find it has a complication with the `shutdownOnStop` option, because `stop()` doesn't really make sense when a user specified an event loop group using `ServerBuilder.workerGroup(eventLoopGroup, true)`; the event loop group will not work when th

[2021-06-03 08:14] trustin opened #3599 "Add `ServerBuilder.loopbackPort(int)`"
A user often binds on a loopback port to serve internal use only requests. It is currently done with `port()` method:

[code]

It could be useful to have a shortcut method `loopbackPort(int)`:

[code]

[2021-06-03 08:21] trustin commented on #3598
Another idea I started to like more is to deprecate the method that accepts `shutdownOnStop` flag and add two methods:

- `workerGroup(EventLoopGroup)` which never shuts down the event loops; and
- `workerGroup(Supplier<? extends EventLoopGroup>)` which creates a new event loop group at `start()` and always shuts it down at `stop()`.

[2021-06-03 08:24] trustin commented on #3598
@anuraaga You might have an opinion on this - I remember that we had some discussion when introducing the `shutdownOnStop` flag.

[2021-06-03 09:17] anuraaga commented on #3598
I can't remember that flag at all. But the proposal seems reasonable.

[2021-06-03 12:42] kezhenxu94 commented on #3363
@trustin do you think it's a good idea to schedule a noop task to warm up the event loop group?

[2021-06-04 02:05] trustin opened #3605 "Create 'adopters' page in the web site"
.. at `/community/adopters` so people:

- knows we have quite a few customers in real life from our web site; and
- sends a PR to add themselves to the page.

We could store the adopter list in JSON and render it, like we do for community articles.

[2021-06-04 03:54] ikhoon opened #3606 "Provide a way to transform an `HttpHeaders` and `HttpData` in `Http{Request,Response}`"
Currently, we proivde `FilteredHttpRequest` and `FilteredHttpResponse` for tranforming a headers or data.
But it is a bit difficult to implement `FilteredHttp*` because users have to check the type of `HttpObject`.
Most users might not know the hierarchical relation between `HttpOject`, `HttpHeaders`, `ResponseHeaders` and `HttpData`
[code]

It would be convenient to provide dedicated transforming

[2021-06-04 04:56] anuraaga commented on #3599
Out of curiosity what if there was `port(String, int)`? `port("127.0.0.1", 8080)` doesn't seem like many much more typing than `loopbackPort(8080)` but is flexible in any IP and doesn't require knowing what loopback means.

[2021-06-04 09:51] serajin00 opened #3608 "spring-webflux `LEAK: ByteBuf.release()` when "server.compression.enabled=true""
Using armeria-spring-boot2-webflux-starter,
`LEAK: ByteBuf.release()` occurs when gzip encoding is enabled.
( application property "server.compression.enabled=true" )

Tested armeria versions:
- 1.4.0
- 1.5.0
- 1.8.0

Prometheus graph for `jvm_buffer_memory_used_bytes{id="direct"}`:
( after setting "server.compression.enabled=false", the leak disappeared. )

<img width="1551" alt="image" src="http

[2021-06-04 11:50] minwoox commented on #3608
Thanks for the report and log. Let us take a look at it. 🙇

[2021-06-04 14:19] minwoox commented on #3608
Found the bug, let me send the PR next Monday. 😄

[2021-06-04 15:24] tobias- commented on #3606
I believe all the classes extending `FilteredHttpResponse` in Armeria would benefit from being rewritten using those methods (or even being replaced outright).

[2021-06-05 06:00] trustin commented on #3599
Hmmm, I wonder if "127.0.0.1" is always a good choice. Will there be a case where a user has to specify `"::1"` instead of `"127.0.0.1"` for IPv6 enabled systems? How about `localPort()` if `loopback` sounds too nerdy? :laughing:

[2021-06-05 06:29] trustin commented on #3363
For now that's the only way to warm up an event loop group. Do you have a better idea?

[2021-06-05 06:41] kezhenxu94 commented on #3363
That's also the only way I can come out with.

[2021-06-05 06:51] trustin commented on #3363
Yeah, we could just iterate over all event loops in an event loop group (using `iterator()`) and just submit a no-op task for each of them.

[2021-06-05 07:11] trustin opened #3609 "Test failure: `ScheduledHealthCheckerTest.stopSchedulingAfterStop()`"
[code]

[2021-06-05 08:17] #3315 closed

[2021-06-05 08:22] #3546 closed

[2021-06-05 08:47] trustin commented on #3577
I agree with you but we need to define something that's not confusing to our users. What do you think about introducing an annotation which adds a `RequestConverterFunction`? e.g.

[code]

How do we map the query parameters into MyRequest? I think it'd be awesome if we can use Jackson for this. For example, it'd be nice if we can tell Jackson to create `MyRequest, just like it received a JSON obje

[2021-06-05 08:55] trustin commented on #3572
Hey, thanks for creating this issue. So they shaded Netty JARs but they didn't rename `io.netty.versions.properties` files, right? That's a valid concern. I guess it's hard to know if a `io.netty.versions.properties` is part of a shaded JAR unfortunately given the variety of shade implementations.

How about adding a flag for this in `Flags.java` and explaining how to disable this warning in the W

[2021-06-05 09:00] trustin commented on #3447
Two questions:

- Who registers the exception handler using Armeria? `TomcatService` or a user?
- What is 'white label'?

[2021-06-05 10:06] trustin opened #3612 "Test failure: `MultipartDecoderTckTest.required_completionFutureMustCompleteOnTermination0()`"
[code]

[2021-06-05 13:17] #3609 closed

[2021-06-05 15:34] kezhenxu94 commented on #2119
Years passed, I think @jatinAroraGit is not working on this anymore? Let me take over this

[2021-06-05 15:36] ikhoon commented on #2119
Sure, thanks in advance!

[2021-06-06 01:46] heowc commented on #3447
user? 🤔

It is [one of the features](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#features.developing-web-applications.spring-mvc.error-handling) provided by spring boot.

[2021-06-06 04:14] ikhoon opened #3614 "Support for Scala 3"
Finally, [Scala 3](https://dotty.epfl.ch/) has been released.
ScalaPB already supports Scala 3. https://github.com/scalapb/ScalaPB/pull/1144
However, Jackson-scala, Gradle does not support Scala 3 yet.
- https://github.com/FasterXML/jackson-module-scala/issues/479
- https://github.com/gradle/gradle/issues/16527

We will be able to support Scala 3 in Armeria if the two issues are resolved.

[2021-06-07 01:06] minwoox commented on #2428
[code]

[2021-06-07 05:38] trustin opened #3619 "[Poll] Should we relax how we parse a boolean parameter in annotated services?"
Armeria currently allows only the following value as a valid input for a boolean query parameter:

- `true` and `false`
- `0` and `1`

We'd like to know if our validation is too strict for real world use cases. Please vote by adding *one or more* reactions to this issue to let us know what you think:

- :-1: - Don't change anything. It's good as it is.
- :laughing: - Treat non-zero integers, such

[2021-06-07 06:23] tobias- opened #3620 "Lint for site documentation (*.mdx)"
There's at least one lint rule that isn't enforced, max line length of 112 characters, but there might be more.

ikhoon suggested that eslint could be co-opted to check the `.mdx` as well. https://github.com/line/armeria/blob/b07cc7c9054d70b7debb1e4e1d29d994198bcd3c/site/package.json#L16

As I'm not a primary contributor, I'm unsure of if there are any other lint rules that should be enforced.

[2021-06-07 08:21] kezhenxu94 opened #3621 "Cancel duplicated GitHub Action workflows"
It's quite normal the author of a pull request will push multiple commits in a short time, for example, me 🤣 , and the workflows for previous commits make no sense exception for the latest commit, like below, let's cancel the old workflows when new commits are pushed

<img width="990" alt="Screen Shot 2021-06-07 at 16 19 13" src="https://user-images.githubusercontent.com/15965696/120983259-1e34a10

[2021-06-07 14:27] AngerM-DD commented on #3619
Are the string matches case insensitive?

[2021-06-07 14:49] jrhee17 opened #3623 "Which event loop should late subscriber signals be run on"
Not sure if this is intentional behavior, so wanted to ask.

Currently, it seems like for a late subscriber, the current subscription's executor is used to signal events.
From the code level, it seemed like `AbstractStreamMessage` makes a deliberate effort to ensure the currently subscribed executor is always used.
https://github.com/line/armeria/blob/4256dec753213d091d98fe160fefe8385787e0eb/core/

[2021-06-07 23:50] trustin commented on #3619
Yes, they are.

[2021-06-08 01:52] minwoox commented on #3623
Yeah, I think we should do that.
The current implementation seems like a bug. (I think I'm the one who has done it. 🤣 )

[2021-06-08 02:49] ikhoon commented on #3606
By the way, it would be nice to handle this issue myself. Let me remove `good-first-issue` label from this.

[2021-06-09 01:50] ikhoon commented on #3620
Probably, we can use https://github.com/mdx-js/eslint-mdx for `mdx` files.

[2021-06-09 02:58] #3621 closed

[2021-06-10 05:50] minwoox opened #3630 "Provide a way to insert `audience` parameter for OAuth2 access token request"
[code]

https://datatracker.ietf.org/doc/html/draft-tschofenig-oauth-audience-00#section-3

[2021-06-11 14:21] raidancampbell commented on #1636
Adding my 2 cents here:  We're running code in a restricted environment that kills long-lived TCP connections after a while to prevent resource leakage.  The result is that the clients will try to use a TCP connection that was killed by some layer 4 infrastructure, and will fail.

Without this configuration, the client needs to implement retry logic: if this configuration were exposed, we could in

[2021-06-11 14:39] ikhoon commented on #1636
I didn’t know we have this issue.
I believe we have already been added this feature to Armeria since 0.99.7. #2747
https://javadoc.io/static/com.linecorp.armeria/armeria-javadoc/1.8.0/com/linecorp/armeria/server/ServerBuilder.html#maxConnectionAge(java.time.Duration)

[2021-06-11 15:10] raidancampbell commented on #1636
Ah, I was looking in the wrong section of the docs.  I'll have to give it a try and see if it helps

[2021-06-11 15:13] ikhoon commented on #1636
Feel free to comment on this issue if it is not working as expected. 😀

[2021-06-11 15:13] #1636 closed

[2021-06-14 04:55] mauhiz opened #3633 "[actuator] Uncaught exception in WebOperationService.invoke"
When the actuator operation is blocking and `operation.invoke` fails e.g. due to `MissingParametersException`, nobody knows about it, and the response eventually silently times out.
The resulting error 503 is quite hard to debug.

- fix error handling
- add logs

[2021-06-14 05:24] minwoox commented on #3633
Thanks for the report. Indeed, we need to catch the exception and handle it properly.
https://github.com/line/armeria/blob/master/spring/boot2-actuator-autoconfigure/src/main/java/com/linecorp/armeria/spring/actuate/WebOperationService.java#L143
Are you sending a PR? 😄

[2021-06-14 09:53] mauhiz opened #3634 "On Springboot 2.5, the requests to /actuator/prometheus timeout with error 503"
[code]

The actual error might be different once #3633 is fixed..

It seems the underlying cause is that SpringBoot 2.5+ requires an Accept header from Prometheus scraper, which is not forwarded as expected by `WebOperationService.getArguments`

[2021-06-14 12:55] mauhiz commented on #3634
It looks hard to fix without adding a compatibility layer for SpringBoot 2.5. They have added a `ProducibleOperationArgumentResolver` (implements `OperationArgumentResolver`) that just reads the `Accept` header for this purpose.

[2021-06-14 13:02] minwoox commented on #3634
If so, can we just read the `Accept` header from the `AggregatedHttpRequest` and add it to the `arguments`? https://github.com/line/armeria/blob/master/spring/boot2-actuator-autoconfigure/src/main/java/com/linecorp/armeria/spring/actuate/WebOperationService.java#L142

Is there anything else exception `Accept` header that we need to extract from the request? 🤔

[2021-06-14 13:18] mauhiz commented on #3634
Not that I know of, but there's no guarantee they won't add more...

It's not very important actually since Armeria has its own `PrometheusExpositionService` and only Prometheus endpoint is affected so far, so maybe it can wait until you support SpringBoot 2.5 officially

[2021-06-14 13:27] #3623 closed

[2021-06-14 13:29] minwoox commented on #3634
I guess so too. 😅
Yeah, we will upgrade to SpringBoot 2.5 soon. Thanks for the report. 😄

[2021-06-14 14:10] #3608 closed

[2021-06-14 14:17] #3596 closed

[2021-06-14 14:52] trustin commented on #3619
Let me close this issue. Rest assured. Nothing's gonna change. :sweat_smile:

[2021-06-14 14:52] #3619 closed

[2021-06-14 15:07] #3594 closed

[2021-06-15 12:00] ikhoon commented on #3576
Duplicate of #3381

[2021-06-15 12:00] #3576 closed

[2021-06-16 09:40] trustin opened #3638 "Add support for gproto-web(-text) to `AbstractUnaryGrpcService` and `UnaryGrpcClient`"
`AbstractUnaryGrpcService` and `UnaryGrpcClient` support only `gproto` currently. We could support `gproto-web` and `gproto-web-text` as well for better compatibility with frontends.

[2021-06-17 03:28] #3633 closed

[2021-06-17 08:34] #3606 closed

[2021-06-18 05:41] #3381 closed

[2021-06-18 08:27] max904-github commented on #3630
Let me take a look at it

[2021-06-18 08:48] ikhoon commented on #3630
Thanks! @max904-github 🙏

[2021-06-18 13:40] aio64 opened #3643 "CorsService cannot be subclassed nor are useful utility methods accessible"
We have certain edge routing use-cases where the current implementation of CorsService is not sufficient: where origins to host mappings are dynamically resolved.

Despite CorsService being relatively simple to copy-and-paste and implement the necessary mapping rules, it seems reasonable that a lot of the private methods and private static could be made accessible to subclasses or factored into an

[2021-06-18 15:33] trustin commented on #3643
Thanks a lot for sharing your use case. It's indeed not something we thought at design time. Could this problem solved by allowing to specify a predicate? e.g.

[code]

[2021-06-18 15:36] trustin commented on #3643
At second thought, I feel like this might not be what you're looking for. Please feel free to correct me and show me an imaginary API that fits your use case.

[2021-06-18 22:52] trustin opened #3644 "Provide a way to record `ServiceRequestContext`s easily"
When writing a test case with `ServerRule` or `ServerExtension`, a user sometimes wants to capture the `ServiceRequestContext`s:

[code]

It'd be nice if we can do one of the following:

- Provide a decorator implementation that helps capturing `ServiceRequestContext`s, e.g.
[code]
- Modify `ServerExtension` so they are capable of collecting `ServiceRequestContext`s.
  - They could automatically c

[2021-06-21 07:10] #3612 closed

[2021-06-21 08:14] #3599 closed

[2021-06-21 08:15] #2119 closed

[2021-06-21 08:17] aio64 commented on #3643
Upon reviewing the sub-classing suggestion, it seems the the weaker than your suggestion to extend the builder to include a predicate.  The following illustrates our use-case - note that all mappings are business decisions

[code]

Additionally, as indicated in the initial report, that the host is not known at compile time - as they too are business decisions - as they are (currently) dynamically

[2021-06-21 12:40] trustin commented on #3041
@amitvc's PR has been merged. This means, you can update the service bindings without restarting a server, with some limitations:

- TLS settings cannot be changes without restarting a server yet; and
- the services being removed will not be notified of removal, which may cause a problem for a service performs an action when the server stops, such as `TomcatService` and `JettyService`.

The next s

[2021-06-21 12:45] #3597 closed

[2021-06-21 13:19] trustin opened #3647 "Collect timings related with TLS handshake and protocol upgrade"
We should collect the timings related with TLS handshake - at least how long it took to finish TLS handshake. If a request was the first in a connection, we could also provide it in a `RequestLog` to tell a user that the request timing has been affected by TLS handshake.

On top of this, we could also collect timings related with protocol upgrade:
- If upgraded with a connection preface or ALPN, i

[2021-06-21 15:35] aio64 commented on #3041
Magic thanks, will pull, integrate and explore the TLS caveat and report anything that may be noteworthy.

[2021-06-22 01:58] ikhoon opened #3649 "Split streaming API from `WebClient`"
If a user receives a fully aggregated HTTP response, he or she should call `aggregate()`:
[code]
It could be boilerplate to call `aggregate()` every time because most REST API returns
a unary HTTP response. I think we can improve this API design by splitting `WebClient`
and `StreamWebClient`. The original idea was suggested by @trustin.
[code]

Furthermore, we can also provide a blocking `WebClien

[2021-06-22 03:22] heowc commented on #1957
Using `AbstractHttpService` may expose unintended APIs to `DocService`.
For example, `FileService`, `FramedGrpcService`, `UnframedGrpcService`, etc.
Wouldn't we need a separate interface to handle this? 🤔

[2021-06-22 03:32] anuraaga commented on #3649
Sounds very familiar :P #2364

Don't think it needs to wait for 2.0.0, can leave `WebClient` as is and convert it to the wrappers as per @trustin's suggestion

[2021-06-22 04:27] ikhoon commented on #3649
Oops... it is.

But isn't it more convenient to provide `CompletableFuture<AggregatedHttpResponse>` as a default?
I thought we can wait for 2.0.0 because 2.0.0 might not be so far. 🤣

[2021-06-22 07:53] #2268 closed

[2021-06-22 08:36] trustin commented on #2268
Thanks for closing, @iamazy. Did you have a chance to play with `armeria-oauth2`?

[2021-06-22 08:41] anuraaga commented on #3649
It provides some discoverably, but converting a `WebClient` with one method call isn't particularly less convenient I guess.

This is a scary statement, a year seems like still a small amount of time for Armeria users to end up with breakages. But while a 2.0.0 with some minor cleanups could be ok, I'd say you should wait 2-3 years completely breaking a fundemantal API like `WebClient` - 99% of us

[2021-06-22 08:50] trustin commented on #3649
We could probably maintain for another one or two years while working on 2.0? So far we only have a small set of ideas which didn't come true in any concrete form, so I'd expect it will not come any time soon, probably with many alphas and betas at least I guess.

[2021-06-22 08:57] anuraaga commented on #3649
Another one or two years sounds better :-) It is also a good reason to go with your proposed approach from #2364 I think as it does sound reasonable far off then (good thing).

[2021-06-22 10:11] trustin commented on #1957
We will probably need to introduce some sort of priority between `DocServicePlugin`, so that if a service is taken by the `DocServicePlugin` with higher priority, other plugins could skip it. What do you think?

[2021-06-22 10:13] #2976 closed

[2021-06-22 12:34] #3318 closed

[2021-06-22 12:35] trustin commented on #3318
We might want to add client-side support as well in the future.

[2021-06-22 13:13] trustin commented on #3643
I see. That makes sense. Are you interested in sending a PR for this? I'm a tad bit short of bandwidth right now unfortunately..

[2021-06-23 02:25] #3634 closed

[2021-06-23 06:36] heowc commented on #1957
That's a good idea. 😎

[2021-06-23 08:37] iamazy commented on #2268
Yes, I'm willing to try it

[2021-06-23 09:11] ikhoon opened #3654 "Test failure: `ProxyClientIntegrationTest.testProxy_connectionFailure_throwsException()`"
https://github.com/line/armeria/runs/2890783324?check_suite_focus=true
[code]

[2021-06-23 10:23] trustin commented on #2268
@iamazy Looking forward to your feed back, then. :crossed_fingers:

[2021-06-23 10:26] #3520 closed

[2021-06-23 11:12] aio64 commented on #3643
Apologies for close/open.

[2021-06-24 02:53] heowc commented on #1957
![image](https://user-images.githubusercontent.com/22594101/123195115-91dfe900-d4e2-11eb-92c5-931709d3be68.png)

I've tried this.

[2021-06-24 09:57] minwoox commented on #3586
[code]

[2021-06-24 09:59] minwoox commented on #3026
[code]

[2021-06-24 23:20] amitvc commented on #3464
@trustin Are there any existing unit tests that I can use to test the new functionality? I understand that I might have to modify them to use the new api but I wonder if there any unit tests I can leverage ?

[2021-06-27 19:36] anandkulkarni428 commented on #3139
Hi! I am also facing the same issue in my project.
Did the issue got resolved?
if yes let me know how you did it!
Thanks in advance!

[2021-06-28 01:12] minwoox commented on #3557
It's not fixed yet. 😅
https://github.com/line/armeria/pull/3660/checks?check_run_id=2910454761#step:7:1357

[2021-06-28 13:43] minwoox opened #3664 "Test failure: ReactiveWebServerCompressionLeakTest"
[code]

[2021-06-29 01:54] minwoox opened #3666 "Log all failure responses regardless of the sampler"
Currently, `LoggingService` uses the same sampling rate for the success and failure responses.
https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/logging/LoggingService.java#L124
It will be nice if we sample all failure responses and just samples for the success responses.

[2021-06-29 02:02] trustin commented on #3666
or we could keep two different samplers where the default sampler for the failed requests is `always`.

[2021-06-29 02:11] minwoox commented on #3666
That also works. 👍

[2021-06-29 08:52] ikhoon opened #3667 "Add GraphQL example for Kotlin"
I guess we can bind https://github.com/ExpediaGroup/graphql-kotlin with `GraphqlService` because it is built on the top of graphql-java.
It should be nice to add an example for graphql-kotlin.

[2021-06-30 01:41] ikhoon commented on #1957
I think we need to evolve `Route` API to could contain more useful information as much as annotated service for building documentation services.
`Route` API could specify the following property in a structured way:
- A request and response body type. This will be really useful JSON-based RESTful API.
- An optional query parameter and header.
- Query and header parameter types such as `Integer`, `S

[2021-07-01 05:52] heowc commented on #1957
If so, do we need a method like this?

[code]

[2021-07-02 08:51] anuraaga opened #3673 "Cannot use SelfSignedCertificateExtension on Java 16"
Trying to run a build's tests against Java 16, I get this stack trace

[code]

Bouncycastle seems to indicate support is only up to 1.5-1.15. Not sure what they intend for 1.16, but is there a way to skip bouncycastle on Java 16 here for something that works best-effort?

[2021-07-02 19:02] dylmeadows commented on #2291
Not sure if this would be the best issue for adding other patterns but it would be helpful to support `/**/*` to funnel all incoming requests through a single entrypoint.

[2021-07-05 02:27] anuraaga commented on #3673
Found Netty issue https://github.com/netty/netty/issues/10317 which was closed. If there's no way to get it to work with modern vanilla JDK than it's too bad, but it seems a bit surprising for just generating a self signed certificate, I'd be surprised if the ability to do that with the Sun provider was just completely removed...

[2021-07-05 03:09] anuraaga commented on #3673
I suppose one option is to vendor in the SelfSignedCertificate code to access from the SelfSignedCertificateExtension using Armeria's shaded bouncycastle

[2021-07-06 06:07] ikhoon commented on #3428
@hexoul Gentle ping. 😉

[2021-07-06 08:31] ikhoon commented on #2291
You can use `prefix:/` for that case. https://armeria.dev/docs/server-basics#path-patterns

[2021-07-07 07:05] hexoul commented on #3428
I am still interested in, but have no time now. 😭  Anyone can take.

[2021-07-07 14:30] amitvc commented on #3041
@trustin Should I open issues for the above mentioned limitations for TLS settings and notification ?

[2021-07-08 05:27] heowc commented on #1957
But I'm concerned that `Route` API seems to be doing too much. 🤔

[2021-07-08 13:07] trustin opened #3679 "Add Brotli support to `EncodingService` and `DecodingService`"
@hyperprox published an awesome Java library that provides Brotli encoding/decoding - https://github.com/hyperxpro/Brotli4j We could make use of it to add content encoding and decoding to Armeria.

We could update `HttpEncodedResponse`, `HttpDecodedRequest` and `HttpDecodedResponse` to add Brotli support to `EncodingService`, `DecodingService` and `DecodingClient`.

[2021-07-08 13:08] trustin commented on #3679
Related issue: #2510

[2021-07-08 13:25] trustin commented on #3673
Oh, that's too bad. Yeah, using the shaded BouncyCastle sounds like a good idea to me.

[2021-07-08 13:36] trustin opened #3680 "Add `MediaType` constants for Brotli and Zstd"
We could add `MediaType.BROTLI` and `MediaType.ZSTD` which are the compression format gaining popularity these days.

[2021-07-08 18:14] rbrishabh commented on #3680
I can help with this!

[2021-07-09 03:06] ikhoon opened #3683 "Allow overriding the default gRPC status to HTTP status rules for an unframed gRPC response"
An unframed gRPC service statically maps gRPC status to HTTP status based on https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto.
I got a question from Armera slack channel. https://line-armeria.slack.com/archives/C1NGPBUH2/p1625735446194500

Unfortunately, the answer is no. We don't provide a way to customize the default mapping rules at the moment.
It would be nice to take

[2021-07-09 07:10] trustin opened #3684 "Test failure: `ThriftOverHttpClientTest.testHelloServiceSync` and `testMessageLogsForException`"
[code]

[2021-07-09 07:49] trustin commented on #1957
+1 to @ikhoon's idea. We should eventually provide the same level of features with annotated services, so that all annotated service methods and their properties are translated into a `Route` (plus a service and decorators of course) and vice versa.

[2021-07-09 07:59] trustin commented on #3041
That's be awesome, @amitvc !

[2021-07-09 07:59] trustin commented on #3041
And we could make it a subtask of this issue.

[2021-07-09 10:33] ikhoon opened #3685 "Add an optional property of management port for Spring actuator module"
I got reported the following message from the internal channel.

That sounds like both `spring-boot-web` and `armeria-spring-boot-actuator` read `management.server.port` and try to start each server.
I think we can avoid this problem by adding an additional property such `armeria.management.server.port` which will be used only for `armeria-spring-boot-actuator`.

[code]

[2021-07-09 10:34] ikhoon commented on #3685
/cc @ghkim3221 (who reported this issue).

[2021-07-10 04:25] trustin opened #3687 "Test failure: `OAuth2ClientCredentialsGrantTest.testConcurrent()`"
[code]

[2021-07-10 16:25] ks-yim opened #3690 "Cancellation is not propagated to upstream future or publisher in a few cases"
`HttpResponse` gets aborted in the following cases:
* `RequestTimeoutException`
* `ClosedSessionException`

Usually, a cancellation signal gets propagated once `HttpResponse` is aborted but that's not true in a few cases.
Following code summarizes when it does and doesn't...:

It would be nice to know if this behavior is something that requires a fix.
[code]
[code]

[2021-07-11 05:07] ikhoon commented on #3690
First off, thanks for the kind examples. Do you want to make a PR for this issue? Otherwise, I will send a PR next week.

[2021-07-11 07:48] ikhoon commented on #3690
By the way, I think the returned future should be completed exceptionally with `CancelledSubscriptionException` rather than `CancellationException`.

[2021-07-11 08:08] ks-yim commented on #3690
You mean we should do `future.completeExceptionally(CancelledSubscriptionException.get())` instead of doing `future.cancel(true)`?

I've already made a draft commit to analyze the issue. I'd be glad if you spare some time to review this.

[2021-07-12 02:10] ikhoon commented on #3690
In most cases, we should use `CancelledSubscriptionException` for consistency.
However, `HttpResponse.from(mono.toFuture())` is a bit different. Because we can not propagate a cancellation to upstream using `future.completeExceptionally(CancelledSubscriptionException.get())`.
https://github.com/reactor/reactor-core/blob/main/reactor-core/src/main/java/reactor/core/publisher/MonoToCompletableFuture

[2021-07-12 02:59] ks-yim commented on #3690
Okay, I will try to work on that.

The other case we should have in mind is `AnnotatedService` returning `CompletionStage`.
If a user want to add a callback for cancellation, they will do...:
[code]
But `future.isCancelled()` will evaluate to `false` if the future complete exceptionally with `CancelledSubscriptionException`.
Maybe it's an overkill, though 😅.

[2021-07-12 03:16] ikhoon opened #3692 "Change `GrpcStatusFunction` to take `RequestContext` as an argument"
`GrpcStatusFunction` neither take a `RequestContext` as a parameter nor use `RequestContext.current()`.
https://github.com/line/armeria/blob/480321970111ac6249775199fedadcc71b862e84/grpc/src/main/java/com/linecorp/armeria/common/grpc/GrpcStatusFunction.java#L35-L42

It would be better to take a `RequestContext` as an argument though it causes a breaking change.
We can do this in 1.10.0 because it

[2021-07-12 03:32] #3684 closed

[2021-07-13 00:37] ikhoon opened #3694 "Add `GrpcServiceBuilder.intercept()`"
`io.grpc.ServerInterceptor` can not directly be injected to `GrpcServiceBuilder`.
Users have to wrap a gRPC service using `ServerInterceptors.intercept()` when adding the service.
[code]

However, some users don't know the existence of `ServerInterceptors` because
the upstream gRPC-Java provides a way to add interceptors using their gRPC server builder.

It would be useful that `GrpcServiceBuilder

[2021-07-13 01:05] ikhoon commented on #3428
I think it is not an urgent issue. You can take your time.

[2021-07-13 07:52] #3673 closed

[2021-07-14 02:26] trustin opened #3697 "`EventLoop` or `ScheduledExecutorService` alternatives that return a `CompletableFuture`."
We currently use Netty's `EventLoop` API and JDK's `ScheduledExecutorService` in our API as they are. They return its own future implementation or `java.util.concurrent.Future` which doesn't support true asynchronous programming. It'd be really nice if we define a new API that returns a `CompletableFuture`, which will allow writing much less verbose code like the following:

[code]

vs.

[code]

[2021-07-14 02:32] trustin opened #3698 "Utility for scheduling a task and retrieving its `CompletableFuture`"
It is currently way too verbose to schedule a task with an `EventLoop` or `ScheduledExecutorService` and getting its `CompletableFuture`:

[code]

#3697 proposes an API change that simplifies it fundamentally in 2.0, but we could still add similar functionality by adding a utility class like this:

[code]

Hence the simplified version of the above example:

[code]

[2021-07-14 02:49] ikhoon commented on #3698
`DelayedTasks` itself seems useful. By the way, could we implement the example you provided by adding new overload methods of `HttpResponse.delayed()`?
[code]

[2021-07-14 03:30] heowc opened #3699 "`noLint` option is not applied to `ktlintCheck` task"
`ktlintCheck` is the task ktlint runs. I think github-action should ignore this task, but it doesn't work that way.

- https://github.com/line/armeria/runs/3056219351#step:6:405

Also, `ktlintCheck` is not running in lint jobs.

- https://github.com/line/armeria/runs/3056218928

What do you think?

[2021-07-15 01:51] ikhoon commented on #3699
That sounds like a bug. It should run only in the lint jobs.

[2021-07-15 07:38] trustin commented on #3698
@ikhoon Yeah, that'd be a nice addition to `HttpResponse`.

[2021-07-15 09:11] trustin opened #3700 "Should `Endpoint` have optional 'SessionProtocol` and `SerializationFormat`?"
I recently had a discussion with @davidhod-db, one of my colleagues about the gradual endpoint upgrade situation where one endpoint uses HTTP and the other uses HTTPS. It is currently not possible in Armeria to create a client with an `EndpointGroup` that contains two different session protocols.

What if we allow a user to override the `SessionProtocol` and/or `SerializationFormat` of an `Endpoin

[2021-07-15 14:29] ikhoon opened #3701 "Provide a way to attatch a resource when a RequestContext is pushed"
Let's say there is a resource that wants to be created when a `RequestContext` is pushed and
the resource should be closed when the `RequestContext` is popped. Because the resource should
only exist when the request context is active. We can manage the lifecycle of the resource.
by implementing a custom `RequestContextStorage`.

[code]
In this case, we can not set the `Scope` to the attributes of

[2021-07-15 14:35] ikhoon commented on #3701
I removed this from 2.0.0 milestone because it is still `@UnstableApi`.

[2021-07-16 07:53] karellen-kim opened #3703 "Support Sangria"
I'm planning to start a project using the Armeria with Scala.
Armeria-graphql looks awesome. However, honestly, it was difficult to bind GraphQL-Java with Scala.
Does Armeria have any plan to support [Sangria](https://sangria-graphql.github.io/) for better integrating Scala with GraphQL?

[2021-07-16 08:04] ikhoon commented on #3703
Yeah, Scala has its own world. It would be better to use Sangria than Graphql-Java for Scala.
We can add an integration module that binds Sangria GraphQL interpreter to Armeria HTTP server.

[2021-07-16 22:34] davidhoa-db commented on #3700
to add to this, would it be possible to hide the SessionProtocol entirely from the end user, and have the default automatically chosen by configuration? ie I (as an end user) want to talk to target service B, and armeria discovers (or has a plugin to discover) the endpoint groupings, and sends the request to the configured (or overridden) grouping.

[2021-07-19 02:24] minwoox commented on #3700
We have decided not to do that because it's not safe to send the requests where the endpoints are a mix of secure TLS and insecure.
https://github.com/line/armeria/issues/1908

However, the gradual endpoint upgrade situation might be a good example that we provide a way to set different session protocols.
I'm a bit reluctant to add the API setting the serialization format to `Endpoint` because I t

[2021-07-19 02:38] minwoox commented on #3701
Could you add some examples how `push` and `pop` are called with the `Attachment`?

[2021-07-19 02:52] minwoox opened #3705 "Add more parameters to `ArmeriaSettings`"
Currently, `AmreriaSettings` has only limited configuration parameters.
If users want to set a parameter(e.g. `maxRequestLength`), they need to implement a bean:
[code]
It would be nice if we provide more parameter setters to `ArmeriaSettings` from the `ServerBuilder`.

[2021-07-19 03:02] ikhoon opened #3706 "Serve GraphQL IDE by Documentation service"
[GraphQL playground](https://github.com/graphql/graphql-playground) and [GraphiQL](https://github.com/graphql/graphiql) provide awesome features for GraphQL such as:
- Autocompletion
- Error highlighting
- Browsing GraphQL document

Armeria's documentation service leverages GraphQL IDE to support browsing and invoking services.
If a `GraphqlService` is bound to a server, a `DocService` could rende

[2021-07-19 03:05] ikhoon commented on #3706
@cnabro Any thoughts on this? I heard that you are actively using GraphQL with Armeria. 😄

[2021-07-19 03:08] heowc commented on #3706
I've been thinking about this too, but I couldn't come up with a suitable way.
And I've included GraphiQL in `DocService`, but UI is broken a lot. 😅

[2021-07-19 03:13] ikhoon commented on #3706
Oh, I didn't know you've already tried it. I think it should be nice to add though it is not much beautiful.
Can you open a draft PR and let's improve it together. 😆

[2021-07-19 03:26] heowc commented on #3706
I'm a little worried because I rarely use react. 🤔

Anyway, when I tried, there were quite a lot of conflicts between the CSS we use and the CSS we use in GraphiQL.

If I have time, I'll give it a try. (I don't know if I can do it well...) But it's always okay for someone else to try.

[2021-07-19 03:33] ikhoon opened #3707 "Provide a way to send a JSON object with `WebClient`"
JSON is the dominant exchange format for REST API.
However, Armeria does not provide any JSON-specific APIs.
I believe it should be useful additions if we provide:

[code]

[2021-07-19 03:44] cnabro commented on #3706
@ikhoon I'm looking forward to this feature 👍 , and I currently used and tried this way to request using `DocService`.
![image](https://user-images.githubusercontent.com/6916639/126098665-06568e8d-2477-41c6-b08e-d7c5dd9151be.png)
![image](https://user-images.githubusercontent.com/6916639/126098675-b3aacb85-c80f-4525-bd22-f1c62704cdaf.png)

But it's hard to use request something using json request

[2021-07-19 03:48] ikhoon commented on #3706
@cnabro As a workaround, we can add GraphQL playground manually at the moment.
https://github.com/line/armeria/pull/3704/files#diff-70e3975d79921104c007396435d88be16b5a01a7d32ef61641d3d6d8537b60b5R45-R46

[2021-07-19 03:55] cnabro commented on #3706
@ikhoon thanks, I'll apply it. 🙇

[2021-07-19 03:55] ikhoon commented on #3706
Take your time. 😀 If you felt pressured, it wasn't meant to be.

[2021-07-19 06:35] ghkim3221 commented on #3707
Additionally, how do you think similar feature, `HttpRequest.ofJson`?

[2021-07-19 07:53] trustin commented on #3707
+1 to having `HttpRequest.ofJson()` as well.

[2021-07-19 08:02] heowc opened #3708 "Add useful methods to `GraphqlService`"
For example, we do not provide these methods.

[code]

_Originally posted by @heowc in https://github.com/line/armeria/pull/3696#discussion_r672015601_

---

If there are other useful methods, he/she can try adding them.

[2021-07-19 08:32] trustin commented on #3701
A few questions:

- So, the attachment is something that is bound to the current `push` and `pop` pair unlike `ctx.attrs`, right?
- One concern I have is the allocation cost of `Attachment`. How would this be implemented internally?
- Should we use `Attribute`s just like a user can attach an object to a `RequestContext`? We could extract the common methods into our own `AttributeMap` (not Netty's

[2021-07-19 08:43] trustin commented on #3700
Thanks for reminding the previous discussion, @minwoox.

@minwoox wrote:

I agree that this can be deceiving to users. How about requiring all `Endpoint`s to have a `Scheme` specified when a client is created with only `EndpointGroup`? That way, a user who specifies `Scheme` manually can always assume the desired protocol is used and only those who didn't specify `Scheme` can get the proposed beha

[2021-07-19 12:32] #3699 closed

[2021-07-19 12:38] #3571 closed

[2021-07-19 15:48] ikhoon commented on #3701
Yes, exactly.

On second thought, attachment is not actually what I wanted. I just wanted to close a resource.
This is another proposal that listens to a push event and returns a `SafeCloseable`.
[code]

If this proposal is acceptable, I can close this issue and take `RequestContextStorageListener`.

[2021-07-20 01:40] amitvc opened #3709 "Add ability to change TLS settings with dynamic reconfiguration of service"
With #3362 we introduced functionality to dynamically reconfigure the server without restarting it. This is a continuation of that feature. We would like to also like to be able to change TLS settings while dynamically reconfiguring the server. Currently, we are able to reconfigure a server endpoint by adding new routes. But these new routes take the existing TLS setting. A user might be intereste

[2021-07-20 06:28] ikhoon commented on #3707
It would also be nice to have APIs that automatically convert a response to an object.

- Content-Type
  - The following unmarshalling could work for well-known media types such as:
    - "application/json"
    - "application/protobuf" (We can add it later cause Protobuf is not a popular format for REST.)
  - An `UnsupportedMediaTypeException` could complete the returned future for unknown media t

[2021-07-20 07:39] ghkim3221 opened #3710 "micrometer doesn't support `ExecutorServiceMetrics` for `DefaultBlockingTaskExecutor`"
From #3389, the `DefaultBlockingTaskExecutor` is introduced as default blocking task executor. Unfortunately, because micrometer's [ExecutorServiceMetrics](https://github.com/micrometer-metrics/micrometer/blob/main/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/ExecutorServiceMetrics.java#L291) binds `ExecutorService` using class name, the `DefaultBlockingTaskExecutor` is n

[2021-07-20 10:30] ikhoon opened #3711 "Improve `HttpHeaders` intenral container implementation to contain various types"
Currently, `HttpHeaders` internally holds headers as string values.
It stringifies an object into a string before adding the value to the internal container.
https://github.com/line/armeria/blob/e66c339c75de9884ecca734f74bc4420b663dccd/core/src/main/java/com/linecorp/armeria/common/StringMultimap.java#L699-L718
This implementation has a weakness when a non-string value is set to `HttpHeaders` and

[2021-07-20 11:56] karellen-kim commented on #3707
I'm interested in this!

[2021-07-20 11:57] ikhoon commented on #3707
Thanks! It's all yours.

[2021-07-20 12:06] trustin commented on #3711
For the specific case of `header.status()`, we could make sure `ResponseHeaders.builder(HttpStatus)` cache the `HttpStatus`. We currently use `.add(HttpHeaderNames.STATUS, ...)` which can't cache the status.

[2021-07-20 12:13] ikhoon commented on #3711
Nice idea. Let me apply the idea. :-)

[2021-07-20 12:38] trustin commented on #3711
We could do the same for some other fields that are already being cached via certain setters.

[2021-07-20 14:04] minwoox commented on #3710
Thanks for the report, @ghkim3221! I never expected that this could be a problem. 😅
Yeah, I guess unwrapping the `DefaultBlockingTaskExecutor` in the `ServerConfig` and calling `ExecutorServiceMetrics.monitor()` with the `delegate` is the best we can do for now.

We might also leave a warning log when the `blockingTaskExecutor` is not an instance of `ThreadPoolExecutor` or `ForkJoinPool` in the `S

[2021-07-20 14:05] minwoox commented on #3710
Or we could probably ask Micrometer team to add an interface such as `DelegatingScheduledExecutorService` and make `DefaultBlockingTaskExecutor` implement it.

[2021-07-21 01:55] ikhoon commented on #3710
+1

Or `MonitorableExecutorService` 🤣

[2021-07-21 05:39] ghkim3221 commented on #3710
+1 too.

[2021-07-22 13:59] ghkim3221 opened #3719 "`RequestLog` with `ContentPreviewingService` is not ended when `HttpStatusException` is thrown"
When `ContentPreviewingService` is used, request is not ended if the request fails while routing. `LoggingClient` logs only request and `armeria.server.active.requests` meter increase.

With a little digging, I found that the problem occurred when `service.serve` in `HttpServerHandler` fails with `HttpStatusException`. Because `HttpStatusException` is not set to the `raisedException` not to log as

[2021-07-22 14:38] ikhoon commented on #3719
This code has been changed a lot except for `DefaultRequestLog`.
https://github.com/line/armeria/blob/efb89d6e2a908a98d840ec511e457001ec0fc3cd/core/src/main/java/com/linecorp/armeria/server/HttpServerHandler.java#L391-L413
Maybe not a good idea to fix this in the master branch. Let me fix this issue in #3674 together.
Will you review the changes when I am ready?

[2021-07-22 14:48] ghkim3221 commented on #3719
Thanks @ikhoon. Please fix it 🙇‍♂️

I will do my best to review.

[2021-07-23 06:46] ghkim3221 commented on #3705
I need it. Let me work ✋

[2021-07-23 07:04] minwoox commented on #3705
It's all yours. ❤️

[2021-07-23 08:52] ghkim3221 commented on #3705
I picked following properties likely to be used:

 - `workerGroup`
 - `blockingTaskExecutor`
 - `maxNumConnections`
 - `maxNumRequestsPerConnection`
 - `maxRequestLength`
 - `requestTimeoutMillis`
 - `enableServerHeader`
 - `enableDateHeader`
 - `verboseResponses`
 - `http2InitialConnectionWindowSize`
 - `http2InitialStreamWindowSize`
 - `http2MaxStreamsPerConnection`
 - `http2MaxFrameSize`
 - `ht

[2021-07-23 08:59] trustin commented on #3705
I like the organization, but I'm somewhat concerned that the properties are not be mapped exactly as they are presented in `ServerBuilder`. Does un-grouping really make things look bad?

[2021-07-23 09:14] heowc commented on #3705
I'm a bit worried that this will lead to missing synchronization between properties and methods like [registration beans](https://github.com/line/armeria/pull/2838) before 1.x in the past.

[2021-07-23 09:34] ikhoon commented on #3705
I prefer to use the builder method name itself so that we can easily check the synchronization between `ArmeriaSettings` and `ServerBuilder` using reflections.

[2021-07-23 09:36] ghkim3221 commented on #3705
I grouped for consistency since many spring-boot properties are grouped. However @ikhoon's comment look reasonable to ungroup 👍

[2021-07-23 14:03] minwoox commented on #3705
Thanks a lot for making the list!
How about also adding:
`accessLogFormat`
`idleTimeoutMillis`
`maxConnectionAgeMillis`
`pingIntervalMillis`

[2021-07-24 07:01] ikhoon opened #3721 "Add `CircuitBreakerService`"
Sometimes, if a service is unhealthy, users might want to automatically stop receiving new incoming requests from the client
and open a circuit for the service URL. This could be useful to prevent an outage of a server making a server unhealthy.
Because many services could share common resources such as a blocking task executor.

So if we provide a `CircuitBreakerService`, I think it makes a serve

[2021-07-24 17:36] ikhoon opened #3722 "Add `ConnectionPoolListener` on the server-side"
A lifespan of a connection could be configurable with `ServerBuilder.maxConnectionAge()` and `ServerBuilder.maxNumRequestsPerConnection()`.
However, we don't provide a way to sophisticatedly manage a connection's lifestyle.
Users might want to limit connections from foo.com to 10 minutes and bar.com to 10000 requests.
It would be useful to add `ConnectionPoolListener` that lets users know some met

[2021-07-26 01:35] ikhoon commented on #3719
The bug has been fixed in https://github.com/ikhoon/armeria/commit/cbb9accc5dba923a694edf2739ecc4f6ce655dbf

[2021-07-26 04:59] ikhoon opened #3723 "Pipeline only idempotent methods though `useHttp1Pipelining()` is enabled"
While reading [the specification](https://developer.mozilla.org/en-US/docs/Web/HTTP/Connection_management_in_HTTP_1.x#http_pipelining) of HTTP/1.1 pipelining,
I know that it is recommended to use pipelining only idempotent methods.

However, the current Armeria client pipelines all HTTP/1.1 requests if it is enabled.
https://github.com/line/armeria/blob/ca795928079dbea9b283ff1389cc6cadb0c9338e/cor

[2021-07-26 08:18] trustin commented on #3723
Perhaps we could introduce some predicate option?

[2021-07-26 08:39] ikhoon commented on #3723
We also need to fix the acquisition of a `PooledChannel` for non-idempotent methods.
A GET request is sent to a connection with HTTP/1.1 pipelining.
The connection is released to the pool when a request is fully sent.
Another GET request could use the returned connection and take advantage of the pipeline.
However, a non-idempotent method should not use the released connection cause it has a pendi

[2021-07-26 09:30] trustin commented on #3722
We're gonna have to shape the API further but I agree with you that we need something like that.

[2021-07-26 09:32] trustin commented on #3721
Just a though - We may want to take advantage of this chance to see if we can make sure of resilience4j.

[2021-07-26 09:34] #3719 closed

[2021-07-27 01:28] alexc-db opened #3724 "Add trailers to the RequestContext in AbstractUnsafeUnaryGrpcService"
See discussion in https://github.com/line/armeria/pull/3716#discussion_r676405645.

Trailers can be added to the `RequestContext` similarly to how it's done in [ArmeriaServerCall](https://github.com/line/armeria/blob/master/grpc/src/main/java/com/linecorp/armeria/server/grpc/ArmeriaServerCall.java#L383), so that [MeterIdPrefixFunction](https://github.com/line/armeria/blob/master/grpc/src/main/java

[2021-07-27 04:05] ikhoon commented on #3721
That is a nice idea.

[2021-07-27 04:48] ikhoon commented on #3384
[code]
with https://github.com/line/armeria/blob/f52f9d054c5949a4a9e3ef006c4f9501d005efd4/core/src/main/java/com/linecorp/armeria/server/ServerBuilder.java#L1070-L1074

[2021-07-27 05:47] trustin opened #3725 "`ServerBuilder.localPort()` should bind at both `127.0.0.1` and `::1`."
`ServerBuilder.localPort()` currently binds at one of `127.0.0.` and `::1` depending on the preferred IP stack. Instead, `localPort()` should bind at both `127.0.0.1` and `::1`, if both IPv6 and IPv4 are enabled.

One edge case to handle is:

[code]

where two server sockets are expected to be bound at the same port, rather than two ephemeral ports.

[2021-07-28 07:43] #3692 closed

[2021-07-28 08:10] #3667 closed

[2021-07-29 02:16] ikhoon opened #3729 "`NullPointerException` in `client.HttpResponseDecoder`"
I got reported a NPE issue from [a Armeria Slack thread](https://line-armeria.slack.com/archives/C1NGPBUH2/p1627494312253700?thread_ts=1626604451.208400&cid=C1NGPBUH2).
[code]

[2021-07-29 02:34] ikhoon opened #3730 "Intermittently `CancelledSubscriptionException` triggered earlier than the upstream exception when using Spring Webflux integration"
Let's say a user tries to convert a JSON body into an object using `WebClient` of WebFlux.
[code]
If `text/plain;charset=utf-8` for `Content-Type` is received, the `UnsupportedMediaTypeException` is raised as expected.

[code]

However, intermittenly `c.l.a.c.stream.CancelledSubscriptionException` is raised and users don't see the exect cause of the failure.
[code]

[2021-07-29 02:39] ikhoon commented on #3730
/cc @joonhaeng

[2021-07-31 07:29] #3725 closed

[2021-07-31 07:30] #3644 closed

[2021-07-31 07:31] #3544 closed

[2021-07-31 08:24] #3638 closed

[2021-07-31 13:08] trustin opened #3733 "Potential buffer leak in `UnaryGrpcClient`"
Found this leak at https://github.com/line/armeria/runs/3208178703#step:6:2887 while building fcd2d72a73218a3dda4c2c89f4908ec1ad12d810:

@alexc-db Could you take a look? You probably will be able to reproduce by building with `-Pleak` option, which enables expensive leak tracking.

[code]

[2021-07-31 17:10] trustin opened #3734 "Test failure: `RefreshingAddressResolverTest.negativeTtl()`"
[code]

[2021-08-02 01:20] trustin commented on #3557
Updated the milestone since it's not fixed yet.

[2021-08-02 02:06] #3711 closed

[2021-08-02 04:41] heowc opened #3737 "Asynchronous processing does not work when `TomcatService` and `Spring` are combined."
While solving the following issue, I found another issue. (Or maybe it's not an issue 😅)

[According to the Spring documentation](https://docs.spring.io/spring-framework/docs/current/reference/html/web.html#mvc-ann-async), asynchronous processing can be performed by returning a specific type from the method of the Controller. However, when I test with armeria + tomcat + spring combination, I get a

[2021-08-02 05:19] minwoox commented on #3737
Did you use `TomcatService`? IIRC, we didn't implement async support in `TomcatService` unlike `JettyService`.

[2021-08-02 05:56] heowc commented on #3737
Yes, that's right.

Aha... Then I will close the issue 😅

[2021-08-02 05:56] #3737 closed

[2021-08-02 23:43] trustin commented on #3737
It's a known issue that needs a fix - #116

[2021-08-03 02:03] #3408 closed

[2021-08-03 04:09] #3703 closed

[2021-08-03 05:43] trustin opened #3740 "Allow specifying different `blockingTaskExecutor` per route"
`blockingTaskExecutor` is currently a server-level property. We could make it per-route:

[code]

We may also want to adding a value to the `@Blocking` annotation.

[2021-08-03 05:59] trustin commented on #3709
Looking forward to this feature to be implemented!

[2021-08-03 06:01] trustin commented on #3701
Sounds reasonable to me.

[2021-08-03 06:06] trustin commented on #3139
My guess is that a user is shading the dependencies incorrectly so that the files under `META-INF` are lost during the packaging process. If that was not the case, please feel free to reopen this question or open a new one (given this question is fairly old now.)

[2021-08-03 06:06] #3139 closed

[2021-08-03 06:07] ikhoon commented on #3701
Unfortunately, it didn't help solve my problem. 😅 You used a `hook()` style implementation that is bound to a request context scope.
Do you think `RequestContextStorageListener` is worth it? Otherwise, let me close this issue and reopen this when really need it.

[2021-08-03 06:09] trustin commented on #3464
@amitvc I guess there are no unit tests related with this functionality yet. You could just add `ClientTrustManagerTest` and put your tests there.

[2021-08-03 06:11] trustin commented on #3701
Sure. Let's close it for now, then. We can revisit this whenever we need it.

[2021-08-03 07:04] #3516 closed

[2021-08-03 12:46] npathak05 opened #3741 "OPENSSL_internal:SSLV3_ALERT_CERTIFICATE_UNKNOWN - TLS handshake failed:"
Using this command - java -jar zipkin.jar --armeria.ssl.key-store=xyx.p12 --armeria.ssl.key-store-type=PKCS12 --armeria.ssl.key-store-password=12345 --armeria.ssl.key-alias=mysite1  --armeria.ssl.enabled=true --armeria.ports[0].port=9411 --armeria.ports[0].protocols[0]=https

Following error on console

] TLS handshake failed:

javax.net.ssl.SSLHandshakeException: error:10000416:SSL routines:OPENS

[2021-08-03 12:50] #3724 closed

[2021-08-03 13:27] hyperxpro commented on #3741
You're receiving this Exception because the client couldn't verify the server certificate. You should either use a valid certificate or disable certificate checking in your client.

[2021-08-03 23:19] #3733 closed

[2021-08-03 23:36] trustin opened #3742 "'Expiring Daemon because JVM heap space is exhausted' error in flaky-tests"
See: https://github.com/line/armeria/runs/3236075032#step:4:2208

[2021-08-03 23:43] trustin opened #3743 "Test failure: `ArmeriaReactiveWebServerFactoryTest.shouldConfigureTlsWithSelfSignedCertificate()`"
[code]

[2021-08-04 03:09] ikhoon commented on #2793
After `ElementType.TYPE_USE` was applied to `@NonNullByDefault` #3558,
Kotlin disallows to return `null` by a `BiFunction<A,B,C>` by default.
![image](https://user-images.githubusercontent.com/1866157/128114710-8a9ba1ec-10a6-42a0-bfd8-4df8f55563cf.png)
Slack thread: https://line-armeria.slack.com/archives/C1NGPBUH2/p1628020149026800

Unfortunately, we can not apply `javax.annotation.Nullable` to a

[2021-08-04 04:35] ikhoon commented on #3701
I realized that the signature of `RequestContextStorageListener` is similar to `AbstractCoroutineContextElement`.
https://github.com/line/armeria/blob/833077b818140669d5b6c051e1d0a544c5bdcf05/examples/annotated-http-service-kotlin/src/main/kotlin/example/armeria/server/annotated/kotlin/ArmeriaRequestContext.kt#L14-L24

Let me reopen this and have a random discuss this topic. 😆

[2021-08-04 05:31] ikhoon opened #3745 "Automatically inject `RequestContext` as a Kotlin Coroutines context element"
Annotated service supports Kotlin suspend functions and the suspend functions will be invoked top of Armeria's event loops.
https://github.com/line/armeria/blob/61b80b39d4c0ed7599330606862ee4a1a9450c49/kotlin/src/main/kotlin/com/linecorp/armeria/internal/common/kotlin/ArmeriaCoroutineUtil.kt#L46
As it does not provide `RequestContext` as a `CoroutineContext`, when some logic is executed in the dif

[2021-08-04 05:35] ikhoon commented on #3745
@okue Are you interested in sending a PR. 😉

[2021-08-04 05:47] #3742 closed

[2021-08-04 05:53] trustin opened #3746 "The future returned by `Server.stop/close()` is sometimes never completed"
Our builds started to timeout since recently. Full thread dump reveals that the test processes are stuck waiting for the future returned by `Server.stop()` or `.close()`:

[code]

[code]

[2021-08-04 06:28] ikhoon commented on #3729
`HttpResponseDecoder` MUST be executed in an event loop. The NPE might be caused by recursive calls of `failUnfinishedResponses()`.
Even though we use `Iterator`, a null reference could be returned.
[code]

[2021-08-04 06:28] ikhoon commented on #3729
/cc @kojilin

[2021-08-04 07:13] okue commented on #3745
Let me send PR 😄

[2021-08-04 07:41] ikhoon commented on #3710
Fixed by #3718

[2021-08-04 07:41] #3710 closed

[2021-08-04 08:25] kojilin commented on #3729
Just curious there is a possibility that calling `failUnfinishedResponses` recursively?

[2021-08-04 11:25] #3746 closed

[2021-08-04 11:37] trustin commented on #2793
@ikhoon Sounds good to me. We might want to introduce a new annotation that hides the direct reference to JetBrains' `@Nullable` annotation, though:

[code]

[2021-08-04 14:32] trustin commented on #2991
Saw this one as well in `RetryingClientTest`:

[code]

[2021-08-05 01:47] ikhoon commented on #3729
My words were wrong. `failUnfinishedResponses` will not be recursively called. However, the problem is still reproduced if `Map.remove()` is invoked while iterating a `Map`.
[code]

[2021-08-05 06:29] ikhoon commented on #2793
I was mistaken for '@org.jetbrains.annotations.Nullable' and wildcard(`?`) types to work because of the compilation cache.
![image](https://user-images.githubusercontent.com/1866157/128300596-30302659-31f8-4c72-b96c-d4ccbd9e00ca.png)
`Nullable` annotation is not applicable to wildcard types and compilation also fails.

Additionally, AFAIK, JetBrains Java annotations do not work with `@TypeQualifie

[2021-08-05 07:29] anuraaga commented on #2793
@ikhoon Did you check if you can use checkerframework's Nullable? I think it should support type use.

[2021-08-05 07:33] ikhoon commented on #2793
I haven't tried it yet. That sounds nice. Let me check whether it works with Kotlin and IntelliJ static analysis.

[2021-08-05 09:55] ikhoon commented on #2793
Kotlin understands checkerframework's `Nullable`, however, Kotlin compiler does not produce an error message.
It only helps remove platform-types. https://kotlinlang.org/docs/java-interop.html#notation-for-platform-types
JSR-305 is the only annotation that can produce a compilation level error message with `-Xjsr305=strict`.
https://kotlinlang.org/docs/java-interop.html#compiler-configuration

For

[2021-08-07 03:43] amitvc commented on #3464
@trustin  Ok will add new tests for this. I will get sometime this weekend to work on it.

[2021-08-07 15:58] kezhenxu94 commented on #3740
Let me try this 😄

[2021-08-07 16:04] kezhenxu94 commented on #3740
@trustin I'm not sure what the type of `value` in `@Blocking` annotation should be, and how it can be used?

[2021-08-08 04:21] kezhenxu94 commented on #3694
Let me do this

[2021-08-09 06:52] trustin commented on #3740
@kezhenxu94 wrote:

It could be a class which represents a subtype of a certain interface, like `@ResponseConverter` annotation. We could use `Class<? extends ScheduledExecutorService>` for example.

[2021-08-09 06:55] trustin commented on #3464
Thanks, @amitvc!

[2021-08-09 07:06] trustin commented on #3745
Looking forward to this :heart:

[2021-08-09 07:09] trustin commented on #3741
Let me close this question. Please reopen or file a new one if you think @hyperxpro's answer was not the case.

[2021-08-09 07:09] #3741 closed

[2021-08-09 07:10] trustin commented on #3741
And thank you for your answer, @hyperxpro! :bow:

[2021-08-09 08:45] ikhoon opened #3756 "Add a `ResponseConverterFunction` for `Flow` of Kotlin Coroutines"
[Flow](https://kotlinlang.org/docs/flow.html#flows) is a kind of stream that can asynchronously emit elements.
It would be useful to add `FlowResponseConverterFunction` to `kotlin` module for better supporting Kotlin and Coroutines.

[2021-08-09 08:47] ikhoon commented on #3756
https://github.com/line/armeria/blob/ed021f3d0fcb8160032a89f6a625bd2fbb0ae542/rxjava3/src/main/java/com/linecorp/armeria/server/rxjava3/ObservableResponseConverterFunction.java#L44 could be a reference to implement `FlowResponseConverterFunction`.

[2021-08-09 09:41] ks-yim commented on #3756
Let me send a PR 😄.

[2021-08-10 01:43] TheWeaVer commented on #3698
Let me try it 🙂

[2021-08-10 07:22] ikhoon opened #3759 "Use `ArmeriaServerGracefulShutdownLifecycle` to start `Server` with Spring integration"
Armeria `Server` is started before Spring Application contexts are fully initialized when using the Spring integration module.
https://github.com/line/armeria/blob/be2bf5176dc20cc868011e9239510f2feac87328/spring/boot2-autoconfigure/src/main/java/com/linecorp/armeria/spring/AbstractArmeriaAutoConfiguration.java#L104-L110
If a `Server` early binds to a port before the application is ready, many pend

[2021-08-10 07:23] ikhoon commented on #3759
@kojilin Any thought on this?

[2021-08-10 07:29] heowc commented on #3759
[I've talked lightly before](https://github.com/line/armeria/pull/3226#discussion_r549259148), I think the changes should be similar to [this commit](https://github.com/heowc/armeria/commit/f34914d94d4bf6e208ab075925cdd427edffe603).

[2021-08-10 08:02] ikhoon commented on #3759
Yes, indeed! There is any regression if we enable `autoStartup`?

[2021-08-10 09:14] kojilin commented on #3759
LGTM, I checked the PR in the above comment, just need to double confirm the case in the comment that heowc also answered^^

[2021-08-10 10:03] anuraaga opened #3761 "ServerExtension.httpClient() that makes requests to a test server"
I think it can be convenient for `ServerExtension` to have a method that returns a client (guess it would need both http and https versions) pointing at the test server to avoid fiddling with. This is particularly nice for requesting from a service to itself - during `configure`, `httpUri` doesn't resolve but just accessing `server.httpClient()` directly from a service would work.

[2021-08-10 10:54] minwoox commented on #3761
That's a good idea.
Currently, Central Dogma provides it. https://github.com/line/centraldogma/blob/master/testing/junit/src/main/java/com/linecorp/centraldogma/testing/junit/CentralDogmaExtension.java#L207

[2021-08-10 12:01] ikhoon commented on #3759
@heowc Are you sending a PR for this?

[2021-08-11 02:15] heowc commented on #3759
I'll check a little more and send a PR :smile:

[2021-08-11 06:50] mauhiz commented on #3684
Just to report that this error happens in the wild with 1.9.2

[2021-08-11 06:51] mauhiz commented on #3572
Okay, a flag sounds good to me.

[2021-08-11 06:52] ikhoon commented on #3684
Sorry about that. 😭 I am preparing to release a new version.

[2021-08-12 02:26] heowc commented on #3708
I'm attaching a message that may not be related, but it would be nice if it could be solved together.

/cc @tobias-

See https://line-armeria.slack.com/archives/C1NGPBUH2/p1628091266038400
See https://github.com/tobias-/armeria/pull/3

[2021-08-12 05:25] heowc commented on #3706
It's not perfect, but I tried adding graphiql to the doc-client.
Because the themes specified in [the document](https://github.com/graphql/graphiql/tree/main/packages/graphiql#applying-an-editor-theme) could not solve the css broken, I temporarily applied external css.

https://github.com/SaraVieira/graphiql-material-theme

<img width="1676" alt="스크린샷 2021-08-12 오후 1 55 33" src="https://us

[2021-08-12 05:46] mauhiz commented on #3687
Reproduced in the wild :)

[2021-08-12 05:49] ikhoon commented on #3687
This was fixed by #3676.

[2021-08-12 05:49] #3687 closed

[2021-08-12 07:07] heowc commented on #3706
Perhaps it is possible to add a separate feature. 😆

[2021-08-12 12:58] amirhadadi opened #3767 "InternetDomainName validation is expensive"
While using async profiler to profile a service that uses Armeria http client, I noticed that `Endpoint.create` involves a call to `InternetDomainName.from(host).toString()` which uses roughly 7% of all the cpu time Armeria code paths are using.
I suggest caching this call.

[2021-08-13 02:18] heowc commented on #3706
I've been trying to embed GraphiQL, but I think other alternatives can work around this as well. 🤔

- iframe?
- another page?

[2021-08-13 03:42] #3730 closed

[2021-08-13 03:59] anuraaga commented on #3767
@amirhadadi Just curious what your code setup is that executes `Endpoint.create` so much that it takes up significant CPU. Do you have a dynamic endpoint group that is updated very very frequently? I think we usually expect `Endpoint.create` to not be called that much, it's probably the correct "thing to cache", not the `InternetDomainName` check usually. Perhaps we have a code path that is creati

[2021-08-13 04:51] amirhadadi commented on #3767
@anuraaga here's the relevant part of the flame graph:

<img width="1660" alt="Screen Shot 2021-08-13 at 7 36 04" src="https://user-images.githubusercontent.com/2148876/129305499-d55ca3b8-c6aa-42e3-97d8-aa3d829c9588.png">

And this is the setup:

[code]

[2021-08-13 05:04] anuraaga commented on #3767
Thanks @amirhadadi! It seems like it could be worth caching Endpoint in `HttpClientDelegate`, it would cache a bit more than doing so only for internetdomainname.

[2021-08-13 05:12] anuraaga commented on #3767
In fact since there's already a `endpointWithPort`, yeah we're sure it doesn't need to be validated. So I guess there should be an approach to optimize without any cache here.

[2021-08-13 08:57] jrhee17 opened #3769 "Allow `RequestContextExporter`s to have independent states"
Sometimes, users (or maybe just me 😄 ) may want to leave logs with certain mdc properties for specific logs only.

Examples:
1) Record a single log with specific mdc's per request for KPI aggregation
2) MDC properties may become quite large, and users may not want to record all mdc values for every debug log.

I wonder if we could specify an option in `RequestContextExporter` which creates a clean

[2021-08-13 10:26] #3694 closed

[2021-08-13 10:31] #3572 closed

[2021-08-16 07:00] kojilin opened #3774 "Make BodyPart can be requested on demand without loading whole bodypart into queue"
In https://gist.github.com/kojilin/575fdeb752a22e6d6a328c5ce545d4a1, it doesn’t work, because https://gist.github.com/kojilin/575fdeb752a22e6d6a328c5ce545d4a1#file-multipartcollector-java-L45 trigger the first bodypart. And DecodedHttpStreamMessage will stop request upstream HttpData, because it thinks the downstream just need 1 bodypart. So it will stop without request/onNext anymore.

So even I

[2021-08-16 07:33] ikhoon commented on #3774
That sounds like a bug. We need to deliver a request of `BodyPart.content()` to the upstream `StreamMessage` that contains raw multipart data.

1. `DecodedHttpStreamMessage` seems to need a new API that can directly request elements to upstream such as:
[code]

2. `DefaultStreamMessage` has a callback that can listen to a request.
https://github.com/line/armeria/blob/207e1d0597cce8548793f40bd7696e

[2021-08-18 05:37] heowc commented on #3706
It looks good to use `codemirror-graphql`. 🤔

![image](https://user-images.githubusercontent.com/22594101/129843117-a3a41baa-787d-4e09-8e43-d706b81f9dd2.png)

[2021-08-18 05:44] ikhoon commented on #3706
Oh! 👍 It looks good. By the way, does it support browsing documentation?

[2021-08-18 06:01] heowc commented on #3706
It's probably not supported. 🤔

`codemirror-graphql` only supports autocomplete using schema, hints, and syntax checking.

[2021-08-18 06:23] ikhoon opened #3776 "`NoSuchElementException` raised by `RampingUpEndpointWeightSelector`"
[code]

I got a report from @m50d

[2021-08-18 06:34] heowc commented on #3706
As of graphiql 2.x, it seems you want to use `monaco` rather than `codemirror`.

- https://github.com/graphql/graphiql#proposed-ecosystem
- https://github.com/graphql/graphiql/tree/main/examples/monaco-graphql-webpack
- https://microsoft.github.io/monaco-editor/

[2021-08-18 09:16] ikhoon opened #3777 "Use an `Content-type` header to encode an error mesasge in `UnframedGrpcService`"
Currently, `UnframedGrpcService` returns an error message as plain text.
https://github.com/line/armeria/blob/54b70906bcd813f0b9b2c6715ad4086160ac49b2/grpc/src/main/java/com/linecorp/armeria/server/grpc/UnframedGrpcService.java#L255-L272
It would be nice to return a JSON object if the content type is JSON compatible.
[code]

[2021-08-18 14:11] #3690 closed

[2021-08-18 14:17] #3759 closed

[2021-08-18 14:21] #3447 closed

[2021-08-18 16:39] trustin commented on #3777
A sensible response format sounds good to me, but it'd be even better if a user can send a custom response, too, probably by calling a builder method.

[2021-08-19 02:00] ikhoon commented on #3777
+1 That is also a good idea.

[2021-08-19 17:51] JunoJunho commented on #3777
Let me try this!

[2021-08-20 02:08] #2489 closed

[2021-08-20 05:47] ikhoon commented on #3777
@vivekkothari who suggested this idea showed that he wanted to try this issue early in the Slack channel.
https://line-armeria.slack.com/archives/C1NGPBUH2/p1629357253096700?thread_ts=1629275842.094200&cid=C1NGPBUH2
I missed updating his thought.

[2021-08-20 13:17] ikhoon opened #3780 "Properly encode an absolute path with percent encoding in `WebClient`"
If a relative path is sent, `PathAndQuery.parse()` correctly encode the path.
[code]
However, an absolute path containing a whitespace is sent, `URI.create()` will raise
an `URISyntaxException`.
[code]

[2021-08-20 13:48] ikhoon commented on #3780
Another problem is that the encoded path(`/abc/1%202/def`) is not updated to `RequestHeaders`.
The following example was reported by @kezhenxu94. https://line-armeria.slack.com/archives/C1NGPBUH2/p1629466435104000?thread_ts=1629462093.100100&cid=C1NGPBUH2
[code]
[code]
:point_up_2: doesn't work, 400 bad request
:point_down: works, 200 OK
[code]

[2021-08-20 16:50] haithamgabr commented on #3740
This is a very interesting use case. We'd love to use it.
We're wondering how this would also reflect on the grpc side of things. Would we be able to assign different executors for different services/methods?

[2021-08-21 08:37] heowc commented on #3706
Looking a little more, it seems that graphiql has added quite [a lot of features](https://github.com/graphql/graphiql/blob/main/packages/graphiql/src/components/QueryEditor.tsx).

- We can take this and fix it or
- Just use GraphiQL as-is.

[2021-08-23 07:52] ikhoon opened #3785 "Add `armeria-graphql-kotlin` module"
Users can serve a [graphql-kotlin](https://opensource.expediagroup.com/graphql-kotlin/docs/) service with `armeria-graphql` module.
Because `grpahql-kotlin` is made on top of graphql-java. `graphql-kotiln` configurations could be converted into a `GraphQLSchema` of graphql-java.
https://github.com/line/armeria/blob/433c2ad91f008cfa90b164d893d2c2548632dd44/examples/graphql-kotlin/src/main/kotlin/ex

[2021-08-23 18:08] tobias- commented on #3785
I think it'd also be nice to re-use the Armeria executor that can be set in `GraphqlService.builder().useBlockingTaskExecutor(boolean)` instead of the default `GlobalScope`.

[2021-08-24 01:28] ikhoon commented on #3785
As the GraphQL Kotlin relies on GraphQL Java built on top of  `CompletableFuture`, it seems impossible to propagate a context to child fetcher at the moment.
- https://github.com/ExpediaGroup/graphql-kotlin/issues/934
- https://github.com/ExpediaGroup/graphql-kotlin/pull/879

[2021-08-24 02:48] ikhoon commented on #3780
There is an encoding mismatch on the server-side.
https://github.com/line/armeria/blob/5b384fbe27e7e6f9225d6db91cbb684d09dfbb5e/core/src/test/java/com/linecorp/armeria/client/HttpClientIntegrationTest.java#L319-L325
It should decode percent encoding in both `ServiceRequestContext.path()` and `HttpRequest.headers().path()`

[2021-08-24 05:53] minwoox commented on #3740
I guess you already know about `GrpcServiceBuilder.useBlockingTaskExecutor(true)` which uses Armeria's default [blocking task executor](https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/common/CommonPools.java#L43) for gRPC services.

Yeah, I think per service. Do you need to configure different executors for different methods as well?

[2021-08-24 05:56] trustin commented on #3740
The same blocking task executor will be used for all gRPC services added to the same `GrpcService` though.

[2021-08-24 09:57] anuraaga opened #3788 "Deprecate Cookie.builder() and introduce a method secure defaults."
Just a suggestion.

I feel like Armeria's CookieBuilder makes it too easy to create an insecure service. Default of secure, http only, same site cookies and requiring a user to explicitly opt out would help prevent accidental cookie leaks without a real UX penalty when the use case does need something more lax.

[2021-08-24 09:59] anuraaga commented on #3788
An alternative to deprecating the method is to change the behavior with a flag to restore insecure defaults. It's technically breaking but doesn't need code change to work around and could be appropriate for enhancing security.

[2021-08-24 10:23] trustin commented on #3788
How about deprecating `.builder()` and adding `.secureBuilder()` until we have 2.0?

[2021-08-24 10:28] ghkim3221 opened #3789 "Allow to aggregate a request more than once"
Sometimes, users may want to aggregate a request which is already aggregated. For example, in `TomcatService` or `GraphqlService`.

In my case, the `TomcatService`, I want to send a request which is as same as the requested to an upstream. However, it's impossible to access content data (to proxy via `WebClient` without building another `HttpRequest`) since the request is aggregated in the `Tomcat

[2021-08-24 12:00] ikhoon opened #3791 "Provide a way to sanitize the preview of a request or a response"
Some users want to remove certain data from the preview of a request or a response.
Currently, `LoggingClient` and `LoggingService` have sanitizers for content but not a preview.
In addition to `{request,response}PreviewSanitizer` in `Logging{Service,Client}`,
it would be useful to add a preview sanitizer to `ContentPreviewerFactoryBuilder` so that the sanitized `RequestLog.*ContentPreview()` coul

[2021-08-24 12:46] tobias- commented on #2793
TL;DR: The `responseCauseSanitizer { _, _ -> null }` chunk above doesn't build in Gradle anymore since 1.10.0.

It used to be that IntelliJ error'ed, but as long as it was set to build with Gradle, it would still build and be able to run. Now it cannot build the code even in CI, turning it from nuisance into something worse.

[2021-08-24 15:05] haithamgabr commented on #3740
Yes for us it would be great if we are able to configure different executors on the grpc method level, not just the service level.

I understand that the API would be more uniform if the builder would just have a new method `.blockingTaskExecutor()` that applies to the whole service being added. It would be awesome if maybe that method has an overload that also accepts a map of method name to exec

[2021-08-25 11:56] heowc commented on #3706
I have included [QueryEditor](https://github.com/graphql/graphiql/blob/main/packages/graphiql/src/components/QueryEditor.tsx) component of GraphiQL in DocService. 😎

https://user-images.githubusercontent.com/22594101/130785067-4907bfee-90db-43ec-a58d-c28a82ff9fb9.mov

But I have one problem.

Schema information must be fetched from the server for autocomplete and highlighting, but it cannot be fet

[2021-08-27 03:34] ikhoon opened #3798 "Provide a way to hide internal / managed paths from normal ports"
Spring Actuator integration automatically hides internal directories from normal service ports by configuring `management.server.port`.
https://github.com/line/armeria/blob/5b384fbe27e7e6f9225d6db91cbb684d09dfbb5e/spring/boot2-actuator-autoconfigure/src/main/java/com/linecorp/armeria/spring/actuate/ArmeriaSpringActuatorAutoConfiguration.java#L209-L223

Some users who do not use Actuator or String

[2021-08-28 05:24] ikhoon opened #3799 "Double report any non-OK status with CANCELLED with gRPC Coroutines stub"
From the slack thread:

https://line-armeria.slack.com/archives/C1NGPBUH2/p1630104838018400

[2021-08-28 05:58] ikhoon commented on #3799
`ClientCalls` calls `clientCall.cancel()` after a call is exceptionally completed.
A guard seems to be required to prevent the double `close`
https://github.com/grpc/grpc-kotlin/blob/b7d06483bf597cd4a10e3ed2ef52b21ca95c80ad/stub/src/main/java/io/grpc/kotlin/ClientCalls.kt#L318-L327

[2021-08-30 06:49] corona10 opened #3802 "Consider using re2j instead of Java standard regex package."
https://github.com/google/re2j

Since re2j provides easy drop-in-replace for the Java standard regex package and provides linear time complexity.
it might be useful if it can improve performance enhancement.

I locally tested that most of the tests are passed with the replacement and some tests might need to be updated to follow behavior change.

Here is my **unreliable** local JMH test with a sim

[2021-08-30 06:50] ikhoon commented on #3798
Additionally, users might want to hide their internal service from the public ports using configuration for Spring integration.
[code]

[2021-08-30 07:05] ikhoon commented on #3802
The benchmark numbers look attractive. 🏎

[2021-08-30 07:26] anuraaga commented on #3802
For reference since I don't think it's so commonly known, Java 9 made significant improvements to the builtin regex and does not have the possibility of exponential performance for patterns without backrefs

https://openjdk.java.net/jeps/8260688
https://bugs.openjdk.java.net/browse/JDK-8260688

It uses an NFA for these patterns, which isn't fundamentally different from approaches like re2 FWIU.

E

[2021-08-30 07:54] corona10 commented on #3802
@anuraaga @ikhoon

Yeah, it can be, I reran the benchmark in a more clear environment.
Benchmark itself can be noise :(

[code]

[2021-08-31 04:54] heowc commented on #3706
Due to `codemirror` (about 200KB) and `graphql` (about 200KB), the bundled JavaScript files are large. 😱

as-is: **564KB**
to-be: **1020KB**

Already `armeria-core` (as of 1.11.0, 8.83MB) is quite large, so I have to reduce it.

[2021-08-31 08:06] ikhoon commented on #3706
400KB seems acceptable to me.
By the way, I was thinking of an idea that compresses the bundled js file with gzip when packaging the jar.
The compressed file will be used itself if a client supports gzip. Actually, there is no modern web browser that does not support gzip.
I could decompress and cache the unzipped result for a while when a client does not support gzip decompression.

[2021-08-31 08:12] heowc commented on #3706
good idea! 😎

We will be able to reduce the size considerably by using gzip.

[2021-08-31 15:38] jrhee17 opened #3803 "When grpc streams requests over `maxRequestLength`, the request may not be handled"
Found this issue while trying to run benchmarks for the `EventLoopStreamMessage` issue

**Background**

This issue tries to address the following comment in benchmarks

https://github.com/line/armeria/blob/3e2185083fdd7ad45b9b7a71cf5b573cbd8791d2/benchmarks/src/jmh/java/com/linecorp/armeria/grpc/downstream/LargePayloadBenchmark.java#L121

I found that increasing `maxRequestLength`, `maxResponseLen

[2021-08-31 16:18] heowc commented on #3706
I tried applying compression to `DocService` and `doc-client`. Due to this, it was confirmed that it was reduced to **about 300KB**.

See https://github.com/heowc/armeria/commit/7afddf042dce167cd0eaef3b840eecefb28bd7e9

[2021-09-01 01:35] ikhoon commented on #3706
I didn't know that we already had `serveCompressedFiles` option. 😆
By the way, it does not support automatic decompression at the moment.

[2021-09-01 01:49] ikhoon opened #3804 "Dynamically decompress compressed files with `FileService`"
Currently, `FileService` can serve compressed files with:
https://github.com/line/armeria/blob/5b384fbe27e7e6f9225d6db91cbb684d09dfbb5e/core/src/main/java/com/linecorp/armeria/server/file/FileServiceBuilder.java#L113
However, it serves the compressed file itself and does not decompress the compressed file if a client does not accept a compressed file.

If a user packages both compressed and decomp

[2021-09-01 01:50] ikhoon commented on #3706
Filed an issue for automatic decompression. #3804

[2021-09-01 06:23] heowc commented on #3706
If so, I will not apply `CompressionWebpackPlugin` until the mentioned feature is released.

[2021-09-01 12:50] ikhoon commented on #3706
Okay, let's apply `CompressionWebpackPlugin` once #3804 is implemented.

[2021-09-02 01:34] heowc commented on #3708
Users may need this feature more than they think.

[code]

See https://cheatsheetseries.owasp.org/cheatsheets/GraphQL_Cheat_Sheet.html#secure-configurations

[2021-09-03 08:26] ikhoon commented on #3745
Gentle ping. @okue
If you are busy, feel free to let us know. 😉

[2021-09-03 08:35] ikhoon commented on #3802
If there is no difference, let's keep `java.regex.Pattern`. Thanks to @corona10 for raising this issue.
Please reopen this issue or file a new issue if you have any random ideas you want to discuss. 🙇‍♂️

[2021-09-03 08:35] #3802 closed

[2021-09-05 11:25] azzahrah opened #3812 "Authentication and Authorization"
howto build Authentication and Authorization?

[2021-09-07 13:20] ghkim3221 opened #3816 "Request content preview isn't produced if decorated with `ThrottlingService`"
I found that `RequestLog#requestContentPreview` returns null when I decorate `ContentPreviewingService` and `ThrottlingService`.

You can reproduce using `ContentPreviewingServiceTest`.

`ServerExtension`:
[code]

[code]

What I found is that
https://github.com/line/armeria/blob/dbc7d4d3a324aac525acbdce134fe56c34186a4f/core/src/main/java/com/linecorp/armeria/internal/logging/ContentPreviewingUtil.

[2021-09-08 06:16] antongocode commented on #2353
Apologies for commenting on a fairly old ticket, but where can I find the HTTP reverse proxy examples for armeria? This ticket is the top search result.

[2021-09-08 13:33] ikhoon commented on #2353
@antongocode You might want to see https://github.com/line/armeria-examples/blob/master/proxy-server/src/main/java/example/armeria/proxy/ProxyService.java

[2021-09-09 02:21] trustin opened #3820 "nullable or exception-throwing getter methods in `Request/ResponseHeaders`"
The getter methods of some mandatory headers such as:

- `:status`
- `:method`
- `:scheme`
- `:authority`

are either nullable or exception-throwing according to the Javadoc.

This can be confusing to a user because they must be always available according to HTTP specification.

The original reasons why they are nullable or exception-throwing are:

- A user should be able to build without specifyi

[2021-09-09 02:49] ikhoon commented on #3816
It seems like the `req.whenComplete()` was completed before `filteredHttpRequest.whenComplete()`.
The following callback is used to detect the abortion of the upstream.
https://github.com/line/armeria/blob/5b384fbe27e7e6f9225d6db91cbb684d09dfbb5e/core/src/main/java/com/linecorp/armeria/internal/logging/ContentPreviewingUtil.java#L59
I think we can safely change ` req.whenComplete().handle()` to `r

[2021-09-09 03:00] ikhoon commented on #3816
On second thought, it might be better to fix `FilterStreamMessage` to be completed when the upstream is exceptionally completed.
[code]
, and could remove `req.whenComplete().handle()` block in `ContentPreviewingUtil`.

[2021-09-09 08:47] notxcain opened #3821 "NullPointerException in CancellationScheduler"
Hey! Sometimes we're getting this `WARN` level log entries while serving gRPC.

Armeria version: 1.7.2
[code]

[2021-09-09 08:59] ghkim3221 commented on #3816
Thanks @ikhoon!

Second idea looks good. Let me prepare PR.

I have a question. I found that when a `HttpResponse` is deferred, `handleCloseEvent` can be called before delegated service is served in HTTP/1. Maybe is it intended?

[2021-09-09 09:21] ikhoon commented on #3816
When I locally tested it, `handleCloseEvent` seems to be called by `req.aggregate()` in service.
It should be a bug if `handleCloseEvent` is called before subscription.

[2021-09-09 09:25] ikhoon commented on #3821
Hi @notxcain. The bug has been fixed in [1.8.0](https://armeria.dev/release-notes/1.8.0#%EF%B8%8F-bug-fixes).
See #3564
Please reopen this issue if the problem is not fixed in 1.8.0 or later. 😉

[2021-09-09 09:25] #3821 closed

[2021-09-09 09:31] ikhoon commented on #3821
By the way, I used to use your event sourcing library https://github.com/notxcain/aecor. I am glad that you are using Armeria. 🤩

[2021-09-09 09:42] notxcain commented on #3821
@ikhoon awesome, thank you :)

Glad to hear about Aecor, we use Armeria at @whisklabs to run our gRPC services.

[2021-09-09 17:41] alexc-db commented on #3820
To name a few examples that should not throw or be `null` on the server side:

- `ctx.request().uri()` should be always valid and should not throw
- `ctx.request().uri().toURL()` should never throw because `ctx.request().uri()` should be absolute and well-formed
- `ctx.remoteAddress[InetSocketAddress]().getAddress()` should not be null because `InetAddress` should be always resolved
- `ctx.request

[2021-09-10 03:25] ghkim3221 commented on #3816
I think I was confused. Please ignore 😅

[2021-09-14 13:19] trustin opened #3822 "Allow a user customize decoder-level failures"
There's currently no way to customize the error responses sent by `Http{1,2}RequestDecoder` in Armeria. For example, a user might want to customize the `413 Request Entity Too Large` response so the server sends a different status code or JSON response body.

The `ExceptionHandler` specified with `ServerBuilder.exceptionHandler()` will never be evaluated when the error occurs at the decoder level.

[2021-09-14 13:44] trustin commented on #3822
The option 3: Merge `ProtocolViolationHandler` in the option 2 into `ExceptionHandler`, which could be better than the option 2 because it will be easier to share the common error response generation logic between them.

[2021-09-14 14:11] ikhoon commented on #3822
Option 3 also sounds good to me. If we provide default `ProtocolViolationHandler` methods, users selectively override the handlers.
I can't imagine yet how to compose two `ExceptionHandler` using `orElse` if we add additional methods to `ExceptionHandler`.

Our APIs which pass `ServiceRequestContext` as an argument are not null type. If we go option 1, I prefer dummy ctx.

[2021-09-16 06:07] trustin commented on #3822
Let me try to go with the option 3.

[2021-09-18 01:38] eisig opened #3824 "Allow AbstractHttpRequestBuilder to set path with empty string."
We are migrating some http clients to WebClient.
And we have may urls in config files(or database) with path prefx, such as:
[code]
  We can not send a request without modify the url .
[code]
We may write a helper to split the url to host and path. but we also need to send reuqest to sub path. It would make the code a little complicated.

So we use a  very hacking way to bypass the check at the mo

[2021-09-22 06:32] #3791 closed

[2021-09-22 06:57] #3769 closed

[2021-09-22 06:58] #3740 closed

[2021-09-22 07:00] #3799 closed

[2021-09-23 03:52] chenqi0805 commented on #2694
@renaudb Referred to this issue from slack channel discussion, I am interested to know with your hack workaround of using ThreadPoolExecutor with bounded size queue, what will be the default response (say http response) status code if the bounded queue is full? Is there a way to return 429 TOO MANY REQUESTS? The only mechanism I know to customize this is through ThrottlingRejectHandler, but it is

[2021-09-23 06:08] ikhoon opened #3828 "Possible buffer leak in Spring WebFlux integration"
https://github.com/line/armeria/runs/3683191870?check_suite_focus=true
[code]

[2021-09-23 07:25] ikhoon opened #3829 "Provides a throttling strategy based on the number of pending blocking tasks."
If all threads of a `BlockingTaskExecutor` are busy, a new incoming request is enqueued and will wait until its turn comes.
It will cause GC pressure and a response will be sent when the request is timed out.
Even though the request was timed out, the blocking task executor will execute regardless of the state of the request.

It would be useful to throttle incoming requests based on the queue siz

[2021-09-23 07:44] ikhoon opened #3830 "Provide a way to check a request is timed out before executing a blocking task"
Some users want to reject to run a blocking task after a request was timed out.
It seems useful to add an option that fails fast when a request was timed out when building a `Server`
[code]

[2021-09-23 13:49] renaudb commented on #2694
@chenqi0805 I don't have access to this code anymore, so I'm going by memory. When your work queue is full, by default `ThreadPoolExecutor` will throw a `RejectedExecutionException`. You can catch those near your server entry point and return `429 TOO MANY REQUEST` or `RESOURCE_EXHAUSTED` if using gRPC. You could potentially create a service decorator to encapsulate this logic and simply decorate

[2021-09-23 14:16] chenqi0805 commented on #2694
@renaudb I am using HTTP. Capturing RejectedExecutionException at the decorating service level is not obvious from the documentation. I might need to do more deep diving.

[2021-09-23 14:46] renaudb commented on #2694
I haven't tried running this code, but it shouldn't be much more complex than this.

[code]

And then attaching the decorator to your endpoint.

[code]

[2021-09-24 08:14] eisig opened #3831 "@LocalArmeriaPort not working after upgrade to 1.11.0"
@LocalArmeriaPort not working after upgrade to 1.11.0 (from 1.9.2)
seems relative to https://github.com/line/armeria/pull/3762

[code]
[code]

[2021-09-24 08:31] heowc commented on #3831
Hmm... Can you give us some code to reproduce?🤔

We are using the annotation in our test code, but no problem was found.

[2021-09-24 23:00] chenqi0805 commented on #2694
@renaudb I played around a little with your `MyBlockingTaskExecutor`(ThreadPoolExecutor) above and RejectedExecutionHandler by injecting the work queue as well as an AtomicInteger counter and massaging their values into the HttpService response. I set the thread count and work queue capacity to be 1(minimum). Looks like the RejectedExecutionHandler never gets invoked and the work queue size remain

[2021-09-24 23:23] eisig commented on #3831
@heowc https://github.com/eisig/armeria-localport-issue
This is simple demo.

[2021-09-25 00:20] heowc commented on #3831
It seems to be related to [this comment](https://github.com/line/armeria/pull/3226#discussion_r549201175).

See https://github.com/line/armeria/pull/3226, https://github.com/line/armeria/pull/3245

[2021-09-25 01:35] kezhenxu94 opened #3832 "Upgrade Netty to 4.1.68"
Hi @trustin @ikhoon @minwoox , a CVE (cve-2021-37136) was reported and I wanted to upgrade the Netty version to 4.1.68, but it failed with the following error, I think we might need some changes in Armeria side?

[code]

[2021-09-25 06:16] ikhoon commented on #3832
There was a regression in Netty 4.1.68. https://github.com/netty/netty/issues/11591
We can upgrade Netty version once 4.1.69 version is released.

[2021-09-25 08:06] kezhenxu94 commented on #3832
@ikhoon thanks!! it works

[2021-09-25 08:06] #3832 closed

[2021-09-26 02:52] eisig commented on #3831
@heowc Thanks.
If not use in beans, it works find.

[2021-09-26 05:30] #3831 closed

[2021-09-27 13:43] renaudb commented on #2694
By default, Armenia services do not use the `blockingTaskExecutor` to
process requests. Can you make sure you are actually making use of it? See:
https://armeria.dev/docs/server-grpc/#blocking-service-implementation

On Fri, Sep 24, 2021, 19:00 Qi Chen ***@***.***> wrote:

[2021-09-27 15:57] chenqi0805 commented on #2694
@renaudb Thanks for pointing that out! Really helps. Looks like your `BoundedService` solution is mostly correct except that the cause when the work queue is full turns out to be `RequestTimeoutException` instead of `RejectedExecutionException`, which is probably not ideal. And the RejectedExecutionHandler does get invoked.

[2021-09-28 02:07] ikhoon opened #3834 "Provide a easier way to create `HttpResposne` from a specific executor"
If a user performs a blocking task in decorator chains or services, they have to 1) submit a task to a blocking task executor,
2) pass the result to a `CompletableFuture` and 3) wrap the `CompletableFuture` with `HttpResponse.from()`.

[code]

It should be nice to add a shortcut for these complex steps.
[code]

[2021-09-28 06:07] TheWeaVer commented on #3834
Let me try it! 😆

[2021-09-28 07:09] ikhoon commented on #3745
@okue Please let me take over this. 🙂

[2021-09-28 08:23] #3777 closed

[2021-09-28 08:24] #3756 closed

[2021-09-28 08:26] #3705 closed

[2021-09-28 08:27] #3708 closed

[2021-09-28 10:42] #3698 closed

[2021-09-29 02:01] ghkim3221 opened #3839 "CorsService's `Access-Control-Allow-Headers` wildcard compatibility"
Users may configure `Access-Control-Allow-Headers` using `CorsServiceBuilder#allowRequestHeaders` and set `allowRequestHeaders` as wildcard (`*`) to allow all headers.

However, it has compatibility issue because [Internet Explorer, Safari and Firefox for Android don't support](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers#browser_compatibility):
![image](h

[2021-09-29 02:43] ks-yim commented on #3839
Other server frameworks(e.g. Spring, Express) allow all headers by default if allowed headers are not explicitly specified.
Wouldn't this also be a fine default for armeria too?

[2021-09-29 05:27] ikhoon commented on #3839
It could be a breaking change. We can consider the sensible default in Armeria 2.0.
I prefer to add `allowAllRequestHeaders()` at the moment.

[2021-09-29 06:33] minwoox commented on #3839
Had a chat with @ikhoon and we thought specifying the headers in [safelisted request headers](https://developer.mozilla.org/en-US/docs/Glossary/CORS-safelisted_request_header) could be a sensible default when `allowRequestHeaders` is not set.
What do you think about it? @ks-yim

[2021-09-29 06:48] minwoox commented on #2833
https://github.com/line/armeria/runs/3740642079
[code]

[2021-09-29 06:56] ks-yim commented on #3839
Sounds good to me, WDYT @ghkim3221?

[2021-09-29 07:22] minwoox opened #3842 "Provide a way to dynamically change `maxConcurrency` in `ConcurrencyLimitingClient`"
So that users change the value depending on the response from the backend.

[2021-09-29 08:23] ghkim3221 commented on #3839
You want to set `Access-Control-Allow-Headers` safelisted request headers in the given `Access-Control-Request-Headers` even `allowRequestHeaders` is not set, right?

[2021-09-29 09:39] minwoox commented on #3839
Oops, I missed that. Then, we don't have to specify the headers in the list. 😄

[2021-09-29 09:42] ks-yim commented on #3839
I thought you wanted to override additional restrictions 😄.
Even `application/json` is not allowed if `Content-Type` is not specified in the allowed header.

Either way is fine for me, though.

[2021-09-29 09:59] minwoox commented on #3839
That's not what I wanted. I just didn't know about those headers could be ommited.

That's true. In this case, the browser will set the `Content-Type` to `Access-Control-Request-Headers` and the response should contain `Content-Type` in `Access-Control-Allow-Headers` which means `Content-Type` needs to be set via `CorsServiceBuilder#allowRequestHeaders`.

[2021-09-29 22:51] berry120 commented on #3680
Hey, I'd like to take this one please 👍

[2021-09-30 07:07] ikhoon opened #3845 "Provide an option to return case sensitive header names by servers"
`Http1HeaderNaming` was applied to the client-side. #3259
For compatibility with legacy clients that only accept case-sensitive header names,
it would be nice to implement `Http1HeaderNaming` on the server-side.
[code]

[2021-10-01 15:03] #2833 closed

[2021-10-05 04:17] #3804 closed

[2021-10-05 05:59] jrhee17 opened #3858 "Received a `Maximum active streams violated for this endpoint.` from client side"
armeria version: 1.8.0
verified client-side isn't changing `MAX_CONCURRENT_STREAMS`

[code]

[2021-10-05 06:00] jrhee17 commented on #3858
Reported by @techno 🙇‍♂️

[2021-10-05 07:07] ikhoon opened #3859 "Implement a stream-oriented `HttpServerUpgradeHandler`"
Netty's `HttpServerUpgradeHandler` fully aggregates a request to handle an upgrade request.
Armeria limits the maximum allowed request length with a hardcoded value to prevent high memory pressure.
https://github.com/line/armeria/blob/fd3b9970d7b0a308aeedca1d12deff97efee1071/core/src/main/java/com/linecorp/armeria/server/HttpServerPipelineConfigurator.java#L574
JDK's `HttpClient` sends the first H

[2021-10-05 07:24] #3680 closed

[2021-10-05 07:37] #3798 closed

[2021-10-05 09:21] #3839 closed

[2021-10-05 15:04] #3745 closed

[2021-10-06 01:44] #3478 closed

[2021-10-07 06:33] ikhoon opened #3861 "Test failure: `FlowCollectingPublisherTest.test_backPressureOnFlow`"
[code]

/cc @ks-yim

[2021-10-08 01:40] trustin opened #3863 "Update the web site and documentation front page"
We added quite a few interesting features that are worth mentioning in our front page, including:

- HTTP/JSON to gRPC transcoding
- GraphQL support
- Better Kotlin integration
- ...

We should update our web site to reflect them.
We could also collect a few more testimonials and use carousel to display them.

[2021-10-11 05:23] mauhiz opened #3867 "NPE in DefaultClientFactory.newClient"
Version : 1.11

[code]

I'm seeing this NPE trying to connect to the scheme `gproto+h2c`. It works locally and fails only on a uber jar.
Definitely something is missing or mis-configured, but the error is just too cryptic...

### Investigation results

The actual factory is a `UnaryGrpcClientFactory` (added in #3773) and its condition to accept a `clientType` is `clientType == UnaryGrpcClient.clas

[2021-10-11 20:53] octo47 opened #3869 "Adding more then one GrpcService causing warnings for each endpoint"
[code]

This simple code triggers warnings
[code]

I believe this was introduced by this change: https://github.com/line/armeria/pull/3786

Service are working but now Armenia is a bit noisy and misleading.

[2021-10-12 01:30] minwoox commented on #3869
I think he didn't use `serviceUnder("/", ...)`. 😅
Yeah, we should fix the bug. 😅

[2021-10-12 12:32] ikhoon opened #3870 "Provide a utility that converts `StreamMessage<HttpData>` into a file"
See the title.

[2021-10-14 05:57] ghkim3221 opened #3875 "`RetryRule` shortcuts that accept `Backoff`"
Shortcuts in `RetryRule` are very convenient to use and make code shorter. However, since the shortcuts always use the default `Backoff`, we have to build `RetryRule` via `RetryRuleBuilder` if want to customize `Backoff`.
Instead, it would be nice to provide more shortcuts that accept custom `Backoff`:
[code]

[2021-10-14 11:28] #3867 closed, assigned to nobody

[2021-10-14 12:14] #3869 closed

[2021-10-15 02:30] jrhee17 opened #3879 "(Flaky test) `HttpServerKeepAliveHandlerTest > shouldCloseConnectionWheNoActiveRequests`"
https://github.com/line/armeria/runs/3893974638

[code]

[2021-10-15 02:32] jrhee17 opened #3880 "Test failure: `ClientMaxConnectionAgeTest > maxConnectionAge`"
https://github.com/line/armeria/runs/3894471200

[code]

[2021-10-15 02:34] jrhee17 opened #3881 "Test failure: `ArmeriaReactiveWebServerFactoryTest > shouldReturnEchoResponse()`"
https://github.com/line/armeria/runs/3894471200

[code]

[2021-10-15 04:09] #3834 closed

[2021-10-16 06:11] heowc opened #3882 "Supports `GraphqlWebClient`"
Recently armeria supports `GraphqlService` as graphql for server side.
armeria can also provide graphql for client side. (e.g. `GraphqlWebClient`)

[2021-10-16 06:12] heowc commented on #3882
I'm waiting for #3757 to be resolved proactively.

[2021-10-17 06:08] jrhee17 commented on #3858
It seems like this was fixed with https://github.com/netty/netty/pull/11644 and included in `4.1.68.FINAL`. If this version is applied, at least we can verify if the server-side is actually changing the `maxConcurrentStreams` value.

[2021-10-17 07:33] jrhee17 commented on #3858
Additional note: Rather than trying to fix the issue for users, maybe we can start with providing metrics s.t. users can understand why they are incurring this problem.

Possibly we may be able to record metrics on `numActiveStreams`, `maxActiveStreams` for each endpoint (note that each connection may be configured differently, so we should think of how to provide such metrics).

Another alternati

[2021-10-19 08:54] richieyan opened #3885 "GrpcClientFactory missing rpcDecorate to set rpcDecorators"
[code]
This code is not work for grpc client, because rpcDecorator is not set in `GrpcClientFactory`.

In `THttpClientFactory`
[code]

`GrpcClientFactory` not set rpc decorators
[code]

[2021-10-19 10:59] richieyan commented on #3885
Thanks a lots.

[2021-10-19 10:59] #3885 closed, assigned to nobody

[2021-10-20 03:41] TheWeaVer commented on #3829
I have a question. It there any reason not to abort when pushing request in the full queue?

[2021-10-20 03:49] minwoox commented on #3829
That's a good question.
It's because `ThrottlingStrategy` is not responsible for aborting the request. It just returns true or false with the future in order to accept the request or not.
The rejection handler in `ThrottlingService` is in charge of aborting a request when this `ThrottlingStrategy` returns false.
But the default implementation doesn't do that because the request is aborted anyway w

[2021-10-20 12:45] TheWeaVer commented on #3829
Thank you, can I try it? 🙂

[2021-10-21 02:34] minwoox commented on #3829
@TheWeaVer Of course, you can. 😉
One thing to note is that the size of the queue can grow bigger than the threshold because checking the size and inserting a request are not executed atomically.

Rather than performing the operation atomically, which is almost impossible, we can explain in detail in the Javadoc. 😉

[2021-10-21 04:00] vivekkothari commented on #3591
Is this getting prioritised anytime soon?

[2021-10-21 05:24] minwoox commented on #3591
@AngerM-DD Oops, I missed your comment. 😅
Yeah, I think that will be very useful to have the sub router.

@vivekkothari I think nobody is working on this. Are you interested in sending a PR for this? 😆

[2021-10-21 06:11] TheWeaVer commented on #3829
@minwoox , thank you for the advice 😆

[2021-10-21 08:20] person2713 opened #3889 "Is there a way to handle exceptions that were issued?"
Hello, i have a problem with the armeria library. I have a starter with armeria and in this starter I am trying to add an exception handler (in my company we have library that autoconfigure exceptionHandler and lets you inject bean). I have tried two variants for solving this problem:
1. use decorator
2. use serverErrorHandler
here is the code of  ArmeriaServerConfigurator:

[code]

   According f

[2021-10-21 13:51] #3889 closed

[2021-10-21 19:26] person2713 commented on #3889
I have a last question. Does exceptionHandler is called on the decorator that should executed last? Because I found this
[code]
and according this, it should be executed on the last decorator, but in real example I got the log between logs of an HttpDecorator and it seems weird
![image](https://user-images.githubusercontent.com/23407273/138341907-4d8698df-012f-4094-9e80-cc8c396b75df.png)
Maybe I m

[2021-10-22 07:53] wasifaleemdd opened #3891 "REST HTTP JSON transcoding doesn't work with imported types"
Using `google.protobuf.Timestamp` in a proto file and enabling transcoding via `.enableHttpJsonTranscoding(true)` prevents the server from starting. I believe [HttpJsonTranscodingService.java#L289](https://github.com/line/armeria/blob/master/grpc/src/main/java/com/linecorp/armeria/server/grpc/HttpJsonTranscodingService.java#L289) is the condition that fails with trace.

[code]

Example proto file

[2021-10-25 09:13] #3891 closed, assigned to nobody

[2021-10-27 12:13] minwoox opened #3901 "Intermittent test failure: FlowAnnotatedServiceTest"
[code]
https://github.com/line/armeria/runs/4016595918?check_suite_focus=true#step:6:1245

[2021-10-30 09:48] jrhee17 opened #3907 "Provide a way to limit traffic for client side"
**Motivation**

Externally, users may want to limit the amount of ingress/egress traffic in bytes.

Internally, `armeria` developers have no real way to test/simulate edge cases when we have slow connections.
For instance, there is no integration test to check `WriteTimeoutException` behavior in our code base.

I propose that we provide an option where `ChannelTrafficShapingHandler` is added to th

[2021-11-03 01:13] minwoox opened #3911 "Intermittent test failure: HealthCheckedEndpointGroupLongPollingTest"
[code]

[2021-11-03 20:24] octo47 commented on #2607
I would interested in some solution as well.
My case is I need async ServerInterceptor. Unfortunately ServerInterceptor is a synchronous and to make it async some significant effort required (seen various solutions around keeping queue of incoming requests and only pass them once auth is compete). Such solution is quite brittle.

On the other hand Armeria has a brilliant async infrastructure with

[2021-11-05 02:19] ikhoon opened #3915 "Provide a way to send query strings using `QueryParams` with `WebClient`"
When sending query strings in a path using `WebClient`, users have to manually concatenate query params. For example:
[code]
It would be convenient to automatically append the query parameters to the path.
[code]

[2021-11-05 02:32] ikhoon opened #3916 "Add `StreamMessage.mapAsync()`"
Currently, `StreamMessage` provides limited operations such as `map`, `filter`.
Those operations are synchronous and can not handle asynchronous tasks.
`mapAsync` would be useful to transform data with extra information that is in external services.
[code]

[2021-11-05 03:15] ikhoon opened #3918 "Allow constomizing the log format produced by `Logging{Service,Client}`"
The logs produced by `LoggingService` and `LoggingClient` are human-readable.
However, this non-structured text is not good when users want to store the log file to Elastic Search or other key-value storage.
We can give an extension API to users to customize the output format. For example:
[code]

[2021-11-05 06:27] aserputov commented on #3918
Hey, @ikhoon , I would like to work on this issue. Could you please assign me?

[2021-11-05 06:28] ikhoon commented on #3918
Sure! Thanks in advance. 😀

[2021-11-05 09:05] ikhoon opened #3919 "Expose Actuator `WebOperation` to a port of internal services"
Actuator integration module only exposes `WebOperationService` to [`management.server.port`](https://docs.spring.io/spring-boot/docs/2.1.17.RELEASE/reference/html/production-ready-monitoring.html#production-ready-customizing-management-server-port).
https://github.com/line/armeria/blob/7626562204bd4311a1205df9d733203324355a96/spring/boot2-actuator-autoconfigure/src/main/java/com/linecorp/armeria/s

[2021-11-05 12:26] nvidyala commented on #3915
Hey @ikhoon, new contributor here! Could I take a stab at this?

[2021-11-05 17:08] ikhoon commented on #3915
Sure! 😄

[2021-11-06 07:59] nvidyala commented on #3915
@ikhoon Could you please assign this issue to me and provide me with access to push my local branch? Thanks in advance!

[2021-11-06 10:06] aserputov commented on #3918
Hey, @ikhoon. I started working on this issue, and I am not sure if I understood it correctly. Could you please provide an example or give a little more information, Thank you very much in advance.

[2021-11-07 05:43] jrhee17 commented on #3915
Maybe unrelated, but just leaving for reference.

On the opposite end (server-side), we don't have a easy way to parse query params unless we use `AnnotatedService`.
Linking the issue for reference: #1862

[2021-11-07 07:31] ikhoon commented on #3915
You may want to fork our repository to your account and send a pull request.

[2021-11-07 07:35] ikhoon commented on #3915
👍 Probably, we can add `QueryParams ServiceRequestContext.queryParams()`.

[2021-11-08 05:55] ikhoon opened #3923 "Implement client-side upgrade handler without aggregating the entire HTTP objects."
`HttpObjectAggregator` has been removed from the server-side HTTP/2 upgrader handler with #3913.
We can also apply the same approach to the client-side upgrade handler so that clients receive upgrade responses larger than 16384.
https://github.com/line/armeria/blob/755dc71b27099152be8efa352a4b5be4b35c768e/core/src/main/java/com/linecorp/armeria/client/HttpClientPipelineConfigurator.java#L323-L326

[2021-11-08 06:38] trustin commented on #2607
Thanks, @octo47 for your feed back. I didn't know `ServerInterceptor` is synchronous 😱 (Just double checking, is it true, @anuraaga ?) If that's the case, it sounds like it makes a good sense to implement what's been proposed in the issue description.

[2021-11-08 15:30] minwoox opened #3924 "Add HttpRequest.split()"
So that we don't have to check if the instance is an `HttpData` or `HttpHeaders`(trailers) in the subscriber.
Currently, we only have `HttpResponse.split()`.

[2021-11-09 10:16] ks-yim commented on #3858
Got the same error in a seemingly different scenario.

This happened when a `WebClient` has a decorator which makes a request to the `same host` as the client it is decorating.
Diagram to better describe the scenario..:
![image](https://user-images.githubusercontent.com/35995647/140905463-4e5b61c2-4ade-4585-a06a-aefcb788d7ee.png)

[code]

[2021-11-09 13:59] ks-yim commented on #3858
Demonstration..:
https://github.com/ks-yim/max-stream-violated/blob/main/src/test/java/MaxStreamViolatedTest.java

It turns out that I was wrong about the cause in the above comment. It's not related to decorator or 2 different clients with the same host.

The exception occurs when requests are made in a callback of another request like...:
[code]

More on this in the demo code.

[2021-11-09 15:40] jrhee17 commented on #3858
Thanks for the detailed analysis!

I think I understand why the exception occurs for the first case consistently.

The callback in `thenRun()` is run from the eventloop where the response is closed. At this point, `unfinishedResponses` has been decremented, but netty's `numActiveStreams` hasn't been decremented yet.

So I believe the flow is as follows:

1. The first request succeeds and `unfinish

[2021-11-09 23:02] ks-yim commented on #3858
Good to hear that, thanks for the nice work!!

Just 1 more question..:
* Would it be a reliable workaround to use `...Async` callback like in the 2nd case? I am asking this since the `AuthDecorator` that I mentioned in the first place should work with `armeria <= 1.14.0`.

[2021-11-10 01:18] minwoox opened #3925 "Intermittent test failure: JettyServiceMutualTlsTest"
[code]

[2021-11-10 10:57] jrhee17 commented on #3858
If this bug is blocking development, then I think the above workaround is fine (assuming that the additional cost for rescheduling the task via `thenRunAsync` is acceptable)

I would also like to note though that the `Maximum active streams..` exception can't be 100% avoided since there are other edge cases where the exception can be thrown until the fix is merged. (although I also think the bug s

[2021-11-11 03:33] AngerM opened #3926 "PrometheusExpositionService doesn't support OpenMetrics Format"
The current exporter doesn't support OpenMetrics format. It's fairly simple and most of this is actually handled directly by the prometheus library itself via the TextFormat class. See: https://github.com/AngerM/ag_server/blob/main/base/src/main/kotlin/dev/angerm/ag_server/http/PrometheusHandler.kt
Which I based off of https://github.com/prometheus/client_java/blob/master/simpleclient_httpserver/s

[2021-11-11 05:18] ks-yim commented on #3858
Thanks again.
I've consulted with ikhoon and got almost the same answer. (can't be avoided in some edge cases though I use async callback).

I am thinking about giving a different `ClientFactory` to the `WebClient` used within the decorator rather than using the default.

[2021-11-11 09:23] ikhoon commented on #3926
We can easily support OpenMetrics format using `TextFormat.writeOpenMetrics100()` when a client want to accept `application/openmetrics-text;`.
https://github.com/line/armeria/blob/198c247f2e9092601e920f900412f3cd1c70d7e0/core/src/main/java/com/linecorp/armeria/server/metric/PrometheusExpositionService.java#L89-L92
Are you interested in sending a PR? 😆

[2021-11-12 08:33] ikhoon commented on #3918
If you add `LoggingService` to a server or `LoggingClient` to a client, we can see human-readable logs produced by slf4j.
Let's you've configured server and client like the follow.
[code]
If execute the test, you can see request and response logs.
[code]
The logs are easy to read but the format of logs is hard-coded and has no extension points.
The aim of this issue is to provide an extension poin

[2021-11-13 04:41] ks-yim commented on #3901
Let me handle this. Seems like a short timeout to test the cancellation behavior may have resulted in this error.

[2021-11-13 07:53] aserputov commented on #3918
@ikhoon Thanks.

[2021-11-15 15:47] ohadgur opened #3932 "HttpRequestBuilder.add(name, value) behaves differently from Request.header(name, value)"
In case more than one value for headers is needed (for example, with `accept-encoding`), the 2 methods have different behaviors.

[code]
IMO, they should behave the same (like `request2`)

In this particular case (duplicated gzip), this can cause issues in `DecodingClient` for example, since it expects the values of `accept-encoding` to be unique - if needed, I'll open a different issue for that.

[2021-11-16 01:53] ikhoon commented on #3918
Duplicate of #3040

[2021-11-16 01:59] ikhoon commented on #2656
The problem has been fixed by #3674

[2021-11-16 01:59] #2656 closed

[2021-11-16 13:07] ikhoon commented on #3932
As a workaround, we might want to use:
https://github.com/line/armeria/blob/5b384fbe27e7e6f9225d6db91cbb684d09dfbb5e/core/src/main/java/com/linecorp/armeria/common/AbstractHttpRequestBuilder.java#L222-L237

[2021-11-16 13:29] ikhoon commented on #3918
I realized that we need two kinds of API for `LogFormat`.
[code]

[2021-11-16 23:35] packleader commented on #1984
I'm experiencing a similar issue using Armeria 1.13.2 with Java 1.8.0_144.  Netty is throwing an exception as shown below.  This exception appears to be related to ciphers rather than protocols.  Should I open a new issue?  Or is there a configuration change I need to make?
[code]

[2021-11-17 01:48] jrhee17 opened #3935 "`Server` should abort startup if `ServerListener.serverStarting` throws an exception"
Currently, `Server` starts up regardless of whether any `ServerListener` callbacks throw an exception.

https://github.com/line/armeria/blob/43bd08248ba86ab5942f781da33b11a42fe3b1a5/core/src/main/java/com/linecorp/armeria/common/util/StartStopSupport.java#L368-L387

However, our javadoc specifies that `Server` startup should abort on exception

https://github.com/line/armeria/blob/43bd08248ba86ab5

[2021-11-17 03:33] ikhoon commented on #1984
You can configure ciphers using [ServerBuilder.tlsCustomizer()](https://javadoc.io/static/com.linecorp.armeria/armeria-javadoc/1.13.2/com/linecorp/armeria/server/ServerBuilder.html#tlsCustomizer(java.util.function.Consumer)). For example:
[code]

[2021-11-17 08:30] icepeppermint commented on #3924
May I try on this issue???

[2021-11-17 08:33] ikhoon commented on #3924
Sure, it's all yours. :-)

[2021-11-18 06:46] jupiny commented on #3830
Let me try it 😄  @ikhoon nim.

[2021-11-18 08:11] sleeplesslord commented on #3916
I'd like to work on this issue

[2021-11-18 09:21] minwoox commented on #542
Thanks, @KarboniteKream! Yes, we can close this issue. 😄

[2021-11-18 09:21] #542 closed

[2021-11-18 09:22] ikhoon commented on #3916
Thanks in advance!

[2021-11-18 09:24] minwoox commented on #1934
I'm not sure which PR fixed this issue. But I don't see this exception anymore so let me close this issue.

[2021-11-18 09:24] #1934 closed

[2021-11-18 09:41] ikhoon commented on #3830
Had a chat with @minwoox and he was concerned that a resource could be leaked if a close() method that would be called is not executed in the task job when `taskFunction` is used.
Alternately, we can wrap a blocking task executor with a decorator.
[code]

But I wasn't sure that this is a good first issue. Because we need to check overall implementations that use `BlockingTaskExecutor` in Armeria.

[2021-11-18 10:45] minwoox opened #3937 "Add `StreamMessage.of(inputStream, bufferSize)`"
It would be nice if we provide a way to convert an `InputStream` to a `StreamMessage<HttpData>` that splits the binary by the `bufferSize`.
[code]

[2021-11-18 10:45] minwoox commented on #3937
/cc @ghkim3221  😄

[2021-11-18 12:20] ikhoon commented on #3937
We might need to take a dedicated blocking executor to read `InputStream`.

[2021-11-19 02:26] injae-kim commented on #3097
@trustin , @ikhoon nim, can I try this issue? 😄

[2021-11-19 02:39] ikhoon commented on #3097
Yes. Please go ahead.

[2021-11-19 02:44] ikhoon commented on #3097
JFYI, `map` operation was implemented at #3624
[code]

[2021-11-19 02:51] injae-kim commented on #3097
Thanks! I'll take this issue.

First PR creation target date is `2021-11-24 (Next Wed)` !

[2021-11-19 06:32] 4Jessie commented on #3173
I also got the same issue recently. In our code, we are combining CentralDogmaEndpointGroup
 and DnsAddressEndpointGroup in a OrElseEndpointGroup. Looking forward the resolution of the issue.  Thank you~

[2021-11-19 09:44] ta7uw commented on #3398
As this issue has not been handled for a long time after being commented on, I'm working on this issue.

[2021-11-19 09:44] ta7uw commented on #3146
May I try on this issue?

[2021-11-19 11:30] aserputov commented on #3918
@ikhoon, I started working on this issue and read through all of the comments. What exactly are your ideas to do that? Something like that https://github.com/line/armeria/issues/3040#issuecomment-685042991? Also, I feel like we need to add an "Enhancement" label 🙂

[2021-11-20 00:03] AngerM opened #3938 "Armeria does not set a negativeTtl or allow a negativeTtl to be configured for the client"
The Netty DNS resolvers do not cache negative responses by default, which can cause typos (or other dns related outages/mishaps) to make armeria overwhelm DNS infrastructure by flooding it with requests to which it gets a negative response.

negativeTtl is a config you can pass to the netty DnsNameResolverBuilder:
https://netty.io/4.1/api/io/netty/resolver/dns/DnsNameResolverBuilder.html#negativeT

[2021-11-20 06:50] nvidyala commented on #3937
@minwoox Could I try my hand at this?

[2021-11-21 08:20] jupiny commented on #3830
Aha, I see. Let me take another issue.
Anyway, just curiosity, how your alternative implementation code above can resolve the resource leak issue?

[2021-11-21 08:29] jupiny commented on #3830
Oh, seems all issues are assigned..? https://github.com/line/armeria/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2021-11-21 08:30] ikhoon commented on #3918
Requests and responses are formatted with the following methods.
https://github.com/line/armeria/blob/e08b6eabcf9f8ddf231b8744026dd5dbd6342271/core/src/main/java/com/linecorp/armeria/common/logging/DefaultRequestLog.java#L1414
https://github.com/line/armeria/blob/e08b6eabcf9f8ddf231b8744026dd5dbd6342271/core/src/main/java/com/linecorp/armeria/common/logging/DefaultRequestLog.java#L1530

Armeria pr

[2021-11-21 08:47] ikhoon commented on #2595
This was fixed by #3562 and #3081

[2021-11-21 08:47] #2595 closed

[2021-11-21 08:54] ikhoon commented on #2046
This issue has been fixed by various improvements.
- Thrift: #3383
- gRPC: #3197
- HTTP: #3853

[2021-11-21 08:54] #2046 closed

[2021-11-21 09:05] ikhoon commented on #1346
Fixed by #3715

[2021-11-21 09:05] #1346 closed

[2021-11-21 09:31] ikhoon commented on #3830
How about #3683? It could be another good first issue. 😉 Let me update some descriptions in #3683 for the initial direction.

[2021-11-21 10:02] ikhoon commented on #3683
We can introduce an interface to let users override the mapping from gRPC status to HTTP status for unframed gRPC requests.
[code]

The `UnframedGrpcStatusFunction` set via `GrpcServiceBuilder` could be used in `UnframedGrpcErrorHandler` with a breaking change.
As `UnframedGrpcErrorHandler` is an unstable API, we can add `UnframedGrpcStatusFunction` as the 4th parameter.
https://github.com/line/ar

[2021-11-21 10:36] jupiny commented on #3830
Thanks! Let me take a look.

[2021-11-21 10:41] jupiny commented on #3683
Thanks for the detailed guide. Let me take this issue 😄

[2021-11-21 10:49] jupiny commented on #3683
One question, could you explain about this part? 😭
Currently, `unframedGrpcErrorHandler` can be set in `GrpcServiceBuilder`, can't it?

[2021-11-21 11:00] ikhoon commented on #3683
Yes, it is. Currently, the status mapping is hard-coded.
https://github.com/line/armeria/blob/ef93d4cbe1657c339875b1dbc970b2f8ef848087/grpc/src/main/java/com/linecorp/armeria/server/grpc/UnframedGrpcErrorHandler.java#L92
We need to pass `UnframedGrpcStatusFunction` to `UnframedGrpcErrorHandler` so that `UnframedGrpcErrorHandler` uses `UnframedGrpcStatusFunction` when building `HttpResponse`.
[code

[2021-11-21 11:23] jupiny commented on #3683
Ah, sorry for the misunderstanding the meaning of `UnstableApi`;
I checked a description about `UnstableApi`.

[code]

 So you said I could add the breaking change simply. Thank you for answer 🙇

[2021-11-21 12:56] minwoox commented on #3937
It's all yours 😆

[2021-11-22 03:13] ikhoon commented on #3938
Did you mean that https://javadoc.io/static/com.linecorp.armeria/armeria-javadoc/1.13.2/com/linecorp/armeria/client/DnsResolverGroupBuilder.html#negativeTtl(int) did not work as you exacted?
FWIW, negative TTL is disabled by default and you can enable the option with:
[code]

[2021-11-22 08:47] ikhoon opened #3940 "Move up service routing to `Http{1,2}RequestDecoder`"
If a service does not support a streaming request, we don't need to create a stream request using `DefaultStreamMessage` is more expensive than a fixed size request using `FixedStreamMessage`. We need more information on the service to create an optimized HTTP request. We don't know the service when initiating the request. Currently, we only utilize HTTP headers which only tells whether a request

[2021-11-23 07:20] #3858 closed

[2021-11-23 07:27] policeman-kh opened #3944 "Internal service exposed even if it's not included in armeria setting"
I found an issue that might be a bug.
The setting of Armeria internal services only include “metrics” like
[code]
However, internal service `healthcheck` which is not included in the setting still exposes with `18080` port.
I checked the behavior with `master` branch.

- to be: The internal service `healthcheck` does not expose with `18080` port.

And I found [a test case](https://github.com/line/

[2021-11-23 08:08] ikhoon commented on #3944
If a health check path is specified, a `HealthCheckService` will be bound to either 1) an internal port or 2) all ports of the default virtual host.
https://github.com/line/armeria/blob/7626562204bd4311a1205df9d733203324355a96/spring/boot2-autoconfigure/src/main/java/com/linecorp/armeria/spring/ArmeriaSettings.java#L389
If `healthcheck` is not included in `internal-services.include`, it will be bo

[2021-11-23 09:30] ikhoon commented on #3932
We still need to fix the behavior of `AbstractHttpRequestBuilder.header()`.

[2021-11-23 10:08] policeman-kh commented on #3944
Thanks for answering.
I understood the current spec.

If `xxx` is included in `internal-services.include`, it will be exposed to only the internal port.
If `xxx` is not included in `internal-services.include`, it will be exposed to all ports.

It looks ok to me. Let me close the issue.

[2021-11-23 10:08] #3944 closed

[2021-11-23 10:17] minwoox commented on #3824
closed by #3942

[2021-11-23 10:17] #3824 closed

[2021-11-23 10:41] doppany commented on #3923
@ikhoon I have checked the comment above and #3913 codes and I have a question.
I wonder what the correlation between removing `UPGRADE_RESPONSE_MAX_LENGTH` & using `maxResponseLength` and upgrading the http2 protocol is. 🙏

[2021-11-23 11:25] minwoox commented on #3923
I guess we can set the value that is greater than  16384  to `ClientBuilder.maxResponseLength(...)`  so we can safely send an upgrade response whose length is greater than 16384. 🤔

[2021-11-23 11:34] minwoox commented on #3560
[code]

[2021-11-23 22:47] smax48 opened #3945 "Fatal error in gRPC coroutines stack caused by "An error occurred while pushing a context""
Today we had a very strange fatal crash in one of our server instances (hosted in ECS/Fargate).
We had to restart the instance, otherwise it kept crashing...

Our stack is Armeria 1.13.1 / kotlin 1.5.31; kotlin coroutines 1.5.2; gRPC kotlin 1.2.0; gRPC java 1.41.0;.
The gRPC service is based on kotlin coroutines with armeria blocking task executor.

Seems that the initial exception that was record

[2021-11-24 01:19] minwoox commented on #3945
The exception is raised when a thread tries to push a `ReqeustContext` to its thread-local while it has another `RequestContext` in its thread-local.
The `RequestContext` in thread-local should be popped out before another `RequestContext` is pushed but I guess it's not.
Could you provide a simple reproducible example so I can find out the cause, please? 🤔

[2021-11-24 01:32] smax48 commented on #3945
I wish I could, but I have no idea how that happened. The service was running in production for a while before this :(.
We have multiple grpc endpoints for this service. After this issue happened, the only solution was to restart that crashing instance ... which is very bad.

I can only guess that there's a race condition somewhere, maybe related with operation/coroutines cancellation - some reque

[2021-11-24 01:34] minwoox commented on #3945
Then, let's have a private chat in Slack. Could you send me DM in Slack?

[2021-11-24 01:35] smax48 commented on #3945
sure!

[2021-11-24 15:35] nvidyala commented on #3937
@minwoox I've been reading up on Reactive Streams and just wanted to confirm my understanding of the problem statement before I start coding the wrong thing 😆.

The same way that we can pass in a file to generate a StreamMessage using:
`static StreamMessage<HttpData> of(Path path, ByteBufAllocator alloc, int bufferSize)`
this issue requires a similar overload of the `of` method (as described by yo

[2021-11-25 02:39] minwoox commented on #3937
Yes, exactly. 😄
You might want to take a look at https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/file/StreamingHttpFile.java
because it's implemented in that way.

[2021-11-25 05:18] minwoox opened #3950 "BlockingTaskExecutorBuilder.taskFunction(...) is not working as expected."
The Javadoc says:
[code]
However, the `taskFunction` is executed only once when a worker is created.
[code]
To solve it, we should
- provide setter for `beforeExecute(...)` and `afterExecute(...)`
  - However, this does not prevent executing `Runnable`:
[code]
- fork the `ThreadPoolExecutor` and use `taskFunction` before `task.run()` is executed.

[2021-11-25 08:29] ikhoon opened #3952 "Provide a way to disallow overriding endpoints with empty endpoints for `DynamicEndpointGroup`"
A `DynamicEndpointGroup` could be empty because of misconfigured DNS records or consecutive health-check failures.
I think we can provide an option that prevents the existing endpoints from empty endpoints.
For example,
[code]
If `allowEmptyEndpoints` is set to false, empty endpoints should not be updated by `setEndpoints`
https://github.com/line/armeria/blob/39e97e2686c76e8122f2c1ec6057abcd201a48

[2021-11-25 09:06] minwoox commented on #3919
What's the expected behavior if `ACTUATOR` is specified while the port is not specified?

[2021-11-25 16:13] icepeppermint commented on #3932
@ikhoon, I'm not sure if it's the correct code, but I tried to fix it simply. (#3954)

[2021-11-26 16:35] doppany commented on #3952
I will work on it 🤔 @ikhoon should I create a builder for `DynamicEndpointGroup`?

[2021-11-27 07:21] nvidyala commented on #3937
Alright, that sounds good! 😄
Could you please assign this issue to me?

[2021-11-28 01:25] minwoox commented on #3937
All yours. 😉

[2021-11-29 02:51] minwoox commented on #3919
Like other internal services, I guess we need to bind the actuator to the default virtual host.
We need to update the Javadoc of `InternalServices` to describe the behavior when the port is not specified. 😉

[2021-11-29 03:12] ikhoon opened #3955 "Add `queryParams()` to `ServiceRequestContext`"
It would be convenient to access query parameters from `ServiceRequestContext` like `pathParams`.
https://github.com/line/armeria/blob/bcb621e46c26f0ac84b4b820687383a99b509019/core/src/main/java/com/linecorp/armeria/server/ServiceRequestContext.java#L251-L259
[code]

[2021-11-29 03:31] injae-kim commented on #3955
can I try this issue? 😄
cc. `@ikhoon`

[2021-11-29 04:15] minwoox commented on #3122
@rickyrattlesnake Sorry about not responding to this issue for a long time.
I think it's been fixed and it should work now. Could you check this again, please?
/cc @policeman-kh

[2021-11-29 04:49] anuraaga opened #3957 "Single page view to release notes"
The Armeria release notes only show a single release per page - this makes the "find a behavior difference and go through releases to find the change" workflow quite tedious. GitHub is a little better by providing pagination with multiple releases per view, Armeria's docs page could possibly be even better using an infinite scroll view.

[2021-11-29 06:19] ikhoon commented on #3955
Please, go ahead. 🙇‍♂️

[2021-11-29 09:56] ikhoon commented on #3952
Commented on https://github.com/line/armeria/pull/3958#issuecomment-981418361
An abstract `DynamicEndpointGroup` builder could provide a consistent API for the subclasses of `DynamicEndpointGroup` builder.

[2021-11-29 12:58] minwoox opened #3959 "Add AppendingPublisher"
We have `PrependingPublisher` to publish `ResponseHeaders` and body in a `StreamMessage`.
Similarly, we can add `AppendingPublisher` to publish body and HTTP trailers more efficiently.
https://github.com/line/armeria/pull/3941/files#diff-49835ea697b34bf3e0ab8a3ff16c98d126fa25fc1068351a1320933ff307706fL399

[2021-11-30 15:02] tobias- opened #3961 "`Nothing` in Kotlin annotated rest method throws exception"
Having a rest method returning `Nothing` throws an Exception with during init with Armeria 1.13.3. It used to work fine with Armeria 1.9.2. The problem can easily be circumvented by returning `Unit` or `String`.

The method is used to assert that our exception mappers works correctly.

[code]

The whole stack:
[code]

[2021-12-01 05:54] ikhoon commented on #3961
@jupiny Are you interested in this?

[2021-12-01 05:57] ta7uw commented on #3959
I will work on this issue.

[2021-12-02 06:37] ikhoon opened #3964 "Provide a way to set a gRPC's `ClientInterceptor` using `GrpcClientOptions`"
The official client factory (`Clients`) can not take `ClientInterceptor`s from its builder method.
Users are able to add `ClientInterceptor`s using upstream gRPC's API after a client stub is created.
[code]
I think it would be convenient to fluently add `ClientInterceptor` using `GrpcClientOptions`.
For example:
[code]

[2021-12-02 06:52] ta7uw commented on #3964
I will work on it.

[2021-12-02 06:55] ikhoon opened #3965 "Split `AmeriaServerCall` into `UnaryAmeriaServerCall` and `StreamingAmeriaServerCall`"
[`ArmeriaServerCall`](https://github.com/line/armeria/blob/cb66bcc22de260b0a56144b1cec2219dc373227a/grpc/src/main/java/com/linecorp/armeria/server/grpc/ArmeriaServerCall.java) handles unary/streaming requests and responses for gRPC services.
If we implement a `ServerCall` only for a unary call:
- Remove meaningless fields and operations in unary calls that are used for backpressure.
https://github

[2021-12-02 07:49] sleeplesslord opened #3966 "Add `StreamMessage.flatMap()`"
`StreamMessage` has `map` which allows mapping the values in a stream with a function. It doesn't currently have `flatMap` so it's difficult to work with a function that itself returns a `StreamMessage`, for example when chaining multiple operations.
[code]

[2021-12-02 07:49] sleeplesslord commented on #3966
I'll work on this and make a PR when it's ready 😄

[2021-12-02 08:11] ikhoon commented on #3966
JFYI, there is a difference in subscription between [`concatMap`](https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Flux.html#concatMap-java.util.function.Function-) and [`flatMap`](https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Flux.html#flatMap-java.util.function.Function-).
[`ConcatArrayStreamMessage`](https://github.com/line/armeria/blob/5b384fbe27e

[2021-12-02 11:39] #3935 closed

[2021-12-03 01:53] jupiny commented on #3961
Let me take it!

[2021-12-03 02:25] injae-kim commented on #3092
I'll try this issue!

[2021-12-03 03:11] ikhoon opened #3967 "Provide a way to decorate gRPC services and methods via annotation"
Armeria has a mechanism to add decorators via [`@Decorator`](https://github.com/line/armeria/blob/f03b400cff136a710dbdbeb75e0e4f741387d296/core/src/main/java/com/linecorp/armeria/server/annotation/Decorator.java#L35).
However, it only works for annotated services at the moment. https://armeria.dev/docs/server-annotated-service#decorating-an-annotated-service
If `@Decorator` is supported for gRPC s

[2021-12-03 06:15] policeman-kh opened #3968 "`SameSite` attribute is missing from the return value of `ClientCookieDecoder.decode`"
I found an issue that might be a bug of [ClientCookieDecoder.decode](https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/common/ClientCookieDecoder.java).
I include `SameSite=Strict` in the second argument `header` of this method like
[code]
, but the value of `SameSite` attribute in the decoded cookie seems to be `null`.
[code]

to be: It should be `Strict` instead

[2021-12-03 07:40] 0x1306e6d opened #3969 "Response content preview isn't produced if handled by the `ServerErrorHandler`"
When a `HttpResponse` is recovered by the `ServerErrorHandler`, the `ContentPreviewingService` doesn't produce `responseContentPreview`. Here's a reproducible test:

[code]

This is because a `HttpResponse` returned from the `ServerErrorHandler` isn't decorated by the `ContentPreviewingService`.

[2021-12-03 08:40] ikhoon commented on #3614
Gradle 7.3.1 with Scala 3 support has been released.
https://docs.gradle.org/7.3.1/release-notes.html#scala
Time to support Scala 3. 🆙

[2021-12-03 11:45] vivekkothari commented on #3591
Hey, apologies but I am unable to find time to work on this. If anyone else want to pick this up, they can.

[2021-12-03 12:26] minwoox commented on #3591
Don't worry. 😉 Hope you can contribute next time. 😄

[2021-12-05 05:50] heowc opened #3971 "Support Multipart for `GraphqlService`"
I recently found out that there is a GraphQL Multipart spec.
We will be able to resolve this more easily once [the 3578 issue](https://github.com/line/armeria/issues/3578) is resolved.

See https://github.com/jaydenseric/graphql-multipart-request-spec

[2021-12-05 12:48] tobias- opened #3973 "Armeria http client: duplicate slashes are removed"
I'm trying to call a prerenderservice through Armeria. The one we use has a common and simple api: prefix the real url with the prerenderservice like this `https://service.prerender.cloud/https://google.com`.

Unfortunately the Armeria client removes all duplicate slashes in the path, making the path that is called become `/https:/google.com`.

This is probably fine or even desired on a web server

[2021-12-06 02:24] minwoox opened #3974 "Test failure: HealthCheckedEndpointGroupIntegrationTest"
[code]

[2021-12-06 02:24] ikhoon commented on #3973
Duplicate slashes are intentionally normalized while parsing a path and query string.
https://github.com/line/armeria/blob/e2697a575e9df6692b423e02d731f293c1313284/core/src/main/java/com/linecorp/armeria/internal/common/PathAndQuery.java#L379-L385
`://` seems to be an exceptional rule.

[2021-12-06 02:26] ikhoon commented on #3974
Let me take a look.

[2021-12-06 07:45] ta7uw commented on #3967
I will work on it.

[2021-12-06 09:19] minwoox commented on #3974
I think this is the reason:
https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/endpoint/healthcheck/HealthCheckedEndpointGroupMetrics.java#L57-L58
[code]
`endpointGroup` can be set after `endpointGroup.endpoints()` is called and before `endpointGroup.addListener(listener);` is called.

[2021-12-07 05:29] minwoox opened #3977 "DocService does not show the service name"
We can set the name of a service via `defaultServiceNaming`
[code]
However, DocService does not show the service name but it displays the class name.

[2021-12-07 05:31] minwoox commented on #3977
/cc @hyangtack

[2021-12-07 06:25] #3955 closed

[2021-12-08 01:13] #3974 closed

[2021-12-08 07:25] ikhoon commented on #3967
Awesome! ❤️

[2021-12-08 07:41] ikhoon commented on #3388
Fixed by #3391

[2021-12-08 07:41] #3388 closed

[2021-12-08 08:01] di-seo commented on #3842
I try to handle this issue.
I think `ConcurrencyLimit` need a new interface as `ConcurrencyLimit#of(Supplier maxConcurrencyGetter, String cron)`

[2021-12-08 08:29] ikhoon opened #3981 "Add a dedicated gRPC client builder."
If users want to set gRPC specific options, they have to use `GrpcClientOptions` with `ClientBuilder`.
For example:
[code]
However, the `GrpcClientOptions` style has two disadvantages.
1. `GrpcClientOptions` is not strongly related to `ClientBuilder`. So users should check Javadoc or reference documentation.
   This could be a learning curve for beginners.
2. The API looks verbose. 🙈

It would be

[2021-12-08 18:52] AngerM commented on #3938
@ikhoon we use https://javadoc.io/doc/com.linecorp.armeria/armeria-javadoc/latest/com/linecorp/armeria/client/endpoint/dns/DnsAddressEndpointGroupBuilder.html
and it would be great to have negative TTL support on that

[2021-12-08 19:20] AngerM commented on #3938
Hmm yeah, was able to implement this, but the API is super unintuitive.
EX: this is what you have to do to enable a negative ttl
[code]
as opposed to the normal TTL settings that live on the DnsAddressEndpointGroup

[2021-12-09 01:30] minwoox commented on #3938
Oops, we can't set negative TTL for `DnsAddressEndpointGroup`. 😅
`domainNameResolverCustomizer` is for a `WebClient` not for a `DnsAddressEndpointGroup`.
We need to provide a setter for the builder or resolverConfigurator(`Consumer<DnsNameResolverBuilder>`).

[2021-12-09 01:59] minwoox opened #3982 "Test failure: InitiateConnectionShutdownTest"
[code]

[2021-12-09 06:41] #2899 closed

[2021-12-09 06:41] #3875 closed

[2021-12-09 06:45] #3964 closed

[2021-12-09 08:12] #3788 closed

[2021-12-09 09:20] #3926 closed

[2021-12-09 09:35] #3915 closed

[2021-12-09 13:44] policeman-kh commented on #3031
I checked if spring-boot-actuator `/actuator/health` with the latest Armeria (1.13.4) has "Liveness" and "Readiness" information on k8s.

For the global health endpoint `/actuator/health`, the response has `livenessState` and `readinessState` attribute without setting `management.health.probes.enabled=true` in the property. So it seems to work well.

But for endpoint `/actuator/health/liveness` an

[2021-12-09 19:49] AngerM commented on #3938
I will see if I have time to add it. We have some slowdown coming up with the holidays so hopefully I can take some time away to do it.

[2021-12-11 02:37] wasifaleem opened #3986 "HTTP JSON transcoding doesn't work with recursive types"
Using `google.protobuf.Struct` in a proto file and enabling transcoding via `.enableHttpJsonTranscoding(true)` prevents the server from starting. I believe HttpJsonTranscodingService#buildFields is being called infinitely overflowing the call stack.

[code]

[code]

[2021-12-11 05:04] hyangtack commented on #3986
@wasifaleem Thanks for reporting. I thought I missed considering Struct and Any. Let me try to fix it.

[2021-12-11 06:11] policeman-kh commented on #3031
It's additional information.
The [argument of InvocationContext](https://github.com/line/armeria/blob/master/spring/boot2-actuator-autoconfigure/src/main/java/com/linecorp/armeria/spring/actuate/WebOperationService.java#L184) seems be wrong.
When requesting to `"/actuator/health/liveness"`, the arrgument is `"*path" -> "liveness"`.
But the name `"*path"` should be `"path"`. So  `MissingParametersE

[2021-12-12 11:55] franz1981 commented on #2897
@trustin just noticed now after some time :)

Chunks are recycled so idle/empty memory usage depends by the number of chunks*chunks capacity

[2021-12-13 07:19] #3919 closed

[2021-12-13 13:53] minwoox commented on #2505
[code]

[2021-12-13 13:54] #3398 closed

[2021-12-14 06:48] ikhoon opened #3989 "Provide a way to stop and resume health checking in `HealthCheckedEndpointGroup`"
If a server goes under maintenance mode, users might want to temporarily stop sending new requests to endpoints.
`HealthCheckedEndpointGroup` schedules new health check requests regardless of the actual state of the server.
The current workaround is to close `HealthCheckedEndpointGroup` permanently.

It would be nice to provide a way to start and stop a `HealthCheckedEndpointGroup` like `Server.st

[2021-12-15 12:21] tobias- commented on #3973
When discussing this with @trustin, he thought it was only for server-side parsing the `//` was removed. The `://` exception would suffice for me though.

Just a probably unrelated FYI, for e.g. rabbitmq, the url is `amqps://example.com//`. This should however *NOT* be interpreted as that I think Armeria should support it server-side.

[2021-12-16 07:11] minwoox opened #3994 "Support new URI variable syntaxes that Spring 5.0 added"
So that users who use Armeria Spring integration can leverage the feature.
https://www.baeldung.com/spring-5-mvc-url-matching#new-url-pattern-matchers-in-spring-50

[2021-12-16 07:12] minwoox commented on #3994
@policeman-kh  is implementing one of the syntaxes which is `/{*foo}` for fixing #3031

[2021-12-17 00:19] #2617 closed

[2021-12-17 03:03] minwoox opened #3996 "RxJava hooks does not propagate exception raised while pushing"
For example: https://github.com/line/armeria/blob/master/rxjava2/src/main/java/com/linecorp/armeria/common/rxjava2/RequestContextSingleObserver.java#L42
We should do something like:
[code]

[2021-12-17 03:03] minwoox commented on #3996
/cc @jupiny

[2021-12-27 04:12] #3968 closed

[2021-12-28 03:05] minwoox commented on #3560
[code]

[2021-12-28 03:09] #3916 closed

[2021-12-28 07:23] minwoox opened #4001 "Provide a way to set media type for a file in FileService"
Users can serve a bunch of files using `FileService`:
[code]
When the file in the `/root/` directory is served(e.g. `/root/foo.webp`), the media type is determined by the `EXTENSION_TO_MEDIA_TYPE` in `MimeTypeUtil`: https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/file/MimeTypeUtil.java#L38
which means that users cannot set the media type for the files who

[2021-12-28 08:14] #3683 closed

[2021-12-28 15:56] DijonLee opened #4002 "Support Duplicate HTML Headers"
Assuming I send over a request with duplicate headers
[code]

Armeria will only track the last header as it is overwrites the previous headers.

[code]

Is there a way we can allow for Armeria to identify all headers as distinct regardless of their name?

As far as I know it is allowed by the HTTP spec to set more than one HTTP header with the same name.

[2021-12-29 00:59] jrhee17 commented on #4002
I'm assuming you would like to send a client request with multiple header values for a single header name.

Can you share a reproducer? (which armeria version/api you used when encountering this issue?)

Using `WebClient`, you can set multiple header values.

e.g.
[code]

output log
[code]

[2021-12-29 04:33] ikhoon opened #4003 "Document the lifecyle of `RequestContext` and false-positive cases"
A `ServiceRequestContext` cannot be overridden by other `ServiceRequestContext`s. An `IllegalStateException` will be raised in this case.
If a user does not close a `ServiceRequestContext`, the violation can inform that the context has been corrupted by other contexts.
https://github.com/line/armeria/blob/5b384fbe27e7e6f9225d6db91cbb684d09dfbb5e/core/src/main/java/com/linecorp/armeria/internal/com

[2021-12-30 06:47] minwoox opened #4006 "Provide a way to inject an instance for `@Decorator`"
Armeria provides `@Decorator` for adding the specified decorator to an API:
[code]
However, users only can specify the classes that do not have constructor parameters because there's no way to inject them:
[code]
It would be nice if we can provide a way to inject the constructor parameters.
We can also use it for other annotations that take a class.
e.g. `DecoratorFactory`, `ExceptionHandler`, `Re

[2021-12-30 06:48] minwoox commented on #4006
@trustin suggested adding `dependencyInjector` to `ServerBuilder`:
[code]

[2021-12-30 07:44] ghkim3221 opened #4007 "`AnnotatedService` can't use wildcard type for parameters"
When I use a wildcard type for parameter like as follows, `AnnotatedService` is failed to initialize due to `Unsupported or invalid parameter type: ?`:

[code]

It'd be ok for Java users since they may not use like the above. However, for Kotlin, it isn't when they use an interface as a generic type. IMHO, this is because Kotlin changes the type to the upper-bounded wildcard type. This is the repr

[2021-12-30 07:45] ghkim3221 commented on #4007
I guess we need to handle `WildcardType` at this point:
https://github.com/line/armeria/blob/4ac50f017f0599e4b6e10675c575e8daedc0a07a/core/src/main/java/com/linecorp/armeria/internal/server/annotation/AnnotatedValueResolver.java#L1246-L1255

But I'm not sure we need to consider both upper bound and lower.

[2021-12-30 08:13] ikhoon commented on #4007
I don't think we need to handle `super` because that is used for an input type of a function.
JFYI, https://stackoverflow.com/questions/2723397/what-is-pecs-producer-extends-consumer-super.
The type parameter for a collection type should be either a concrete type or upper bound with `extends`.

[2021-12-30 16:22] minwoox commented on #4007
I never expected that `List<? extends CustomizedType>` because we usually use collections of primitive types(which you don't need `? extends ...`) in annotated service. 😅
Yeah, we need to definitely handle `WildcardType` especially. 😅

[2021-12-31 06:19] ikhoon commented on #4007
Ah, it is a `@Param`. I thought he wanted to use a custom `RequestConverterFunction`.
@ghkim3221 Is there a use case that you need to use an interface for `@Param`?

[2021-12-31 09:23] klurpicolo commented on #4001
Hi @minwoox, I'd like to work on this feature. Could you please assign me?

[2021-12-31 12:00] minwoox commented on #4001
@klurpicolo It's all yours. 😄 Thanks for volunteering!

[2022-01-03 07:59] #3870 closed

[2022-01-03 08:29] #3842 closed

[2022-01-06 04:46] shubhamsinha commented on #3986
@hyangtack thanks for addressing this bug. Is there an ETA for when the fix will be released? Thanks

[2022-01-07 01:18] minwoox opened #4010 "Provide a way to change the state of a CircuitBreaker"
So that users can dynamically close/open the circuit breaker to initiate particular downstream behavior as @batmanIsIronMan suggested.
Also, it's useful when we are testing.
Reference: https://github.com/Netflix/Hystrix/wiki/Configuration#circuitBreaker.forceOpen

[2022-01-07 03:55] #3924 closed

[2022-01-07 08:08] batmanIsIronMan commented on #4010
thanks.
other great Reference: https://javadoc.io/static/io.github.resilience4j/resilience4j-circuitbreaker/1.7.1/io/github/resilience4j/circuitbreaker/CircuitBreaker.html#transitionToOpenState()

transitionToOpenState
transitionToClosedState
transitionToHalfOpenState

[2022-01-09 07:26] trustin opened #4011 "Test failure: `DecodedHttpStreamMessageTest.headerAwareData_HttpRequest()`"
[code]

[2022-01-09 10:20] TheWeaVer commented on #3829
I have another question. What about serving throttling strategy by the limiting size in mutable? It can be a `MAX_QUEUE_SIZE` or can less than `MAX_QUEUE_SIZE` depending on their situation.
Such as:
[code]

[2022-01-10 07:32] ikhoon opened #4013 "Make `ServerExtension.webClient()` trust the self-signed certification of the `Server` which the client belongs to"
`ClientFactory.insecure()` will be used by default for `ServerExtension.webClient()`.
https://github.com/line/armeria/pull/3890#discussion_r734362244
As a follow-up issue, it might be better only not to verify the self-signed certification
of the `ServerExtension` which the `WebClient` belongs to.

[2022-01-11 06:01] ikhoon commented on #3986
We are preparing for releasing a new version. After some ongoing reviews are done, it is expected to be released at the end of this week or early next week.
Please stay tuned. 🙇‍♂️

[2022-01-11 07:17] ikhoon opened #4015 "Automatically close a server or client when JVM is shutting down"
Users need a shutdown hook to close a server. The pattern is fairly often used in the Armeria examples.
https://github.com/line/armeria/blob/10f1d3c1e5d3cac6402bc7d1dc9f8d86a96e5857/examples/static-files/src/main/java/example/armeria/server/files/Main.java#L20-L23
We can add a shortcut method for automatically closing a server or a client.
[code]
https://github.com/line/armeria/pull/3987#discussio

[2022-01-11 07:23] injae-kim commented on #3092
**2022-01-11**
- (WIP) I'll create PR until 2022-01-13(Wed)!

[2022-01-11 07:47] #3859 closed

[2022-01-11 07:56] ikhoon opened #4016 "Send 400 Bad Request when HTTP2 cleartext ugprade contains an invalid `HTTP2-Settings`"
As a follow-up issue mentioned in https://github.com/line/armeria/pull/3913#discussion_r781810461
We should send 400 Bad Request if an upgrade request contains duplicate `HTTP2-Settings`s.
https://github.com/line/armeria/blob/98e7450ce83f7094fb32dc42de7d3251ca1ab962/core/src/main/java/com/linecorp/armeria/server/Http2ServerUpgradeCodec.java#L91-L95

[2022-01-11 08:54] #4007 closed

[2022-01-11 09:51] #3761 closed

[2022-01-11 10:16] #2264 closed

[2022-01-11 13:43] ikhoon opened #4019 "Disallow specific HTTP methods in `HttpService`"
`HttpService` accepts all HTTP methods by default. Users need to manually handle the HTTP method of incoming requests, or can use `AbstractHttpService`.
A service level handling might cause unexpected request aggregation if `ExchangeType.UNARY` or `ExchangeType.RESPONSE_STREAMING` is applied to `HttpService`.
Requests will be fully aggregated before `HttpService.servce()` is called. See #3956 for

[2022-01-12 05:40] chris-ryan-square opened #4020 "Server fails to start with a grpc service for a proto2 proto that contains an enum."
When starting, the server crashes with a **java.lang.NoSuchMethodException**

To replicate, use the **grpc** example in **[armeria-exemples](https://github.com/line/armeria-examples)** and modify the hello.proto to:

[code]

Run the application and you should get an error message like this:

[code]

The handling of enums seems to be incorrect.  There should be no error and the service should work.

[2022-01-12 06:38] jrhee17 commented on #4020
First off, I believe this is a regression and we probably want `armeria` to support both `proto2` and `proto3` if possible.

**Cause**
Analyzing the stacktrace, it seems like the server fails to start up when trying to initialize a json marshaller for the service.

https://github.com/line/armeria/blob/21be2a420ad5e12a16386ef178c4d7f278235d4c/grpc/src/main/java/com/linecorp/armeria/server/grpc/Fram

[2022-01-12 08:39] jrhee17 commented on #4020
https://github.com/curioswitch/protobuf-jackson/issues/8
Not sure how trivial the fix is, but created an issue.

Independent of above, we might want to find a way to conditionally ignore `proto2` for json marshalling so that server startup isn't blocked

[2022-01-12 15:35] trustin opened #4024 "Allow customizing `stringLengthLimit` and `containerLengthLimit` for `{TBinary,TCompact}Protocol.Factory`."
`TBinaryProtocol.Factory` and `TCompactProtocol.Factory` allows a user to enforce the length limit on Thrift messages' string fields and container fields, but Armeria currently do not make use of this feature. We should:

- Add a variant of `ThriftSerializationFormats.protocolFactory()` that accepts `stringLengthLimit` and `containerLengthLimit`;
- Update `THttpServiceBuilder` to add the setters f

[2022-01-13 16:54] #3981 closed

[2022-01-14 03:13] ikhoon opened #4027 "Handle ignorable localized IOException messages"
If a locale of JVM is not set to English, an `IOException` message could have a non-English message.

For example, the following conditions are set on Windows:
- `Socket.setSoLinger(true, 0)` is specified in a client
- Locale is set to `ko_KR` in a server
The server will warn the following message after a request was finished successfully on both sides.
[code]
This non-English error message can no

[2022-01-14 06:04] ikhoon commented on #2264
New snapshots are successfully updated up to https://oss.sonatype.org/content/repositories/snapshots/com/linecorp/armeria/armeria-bom/1.13.5-SNAPSHOT/.

[2022-01-14 06:44] trustin commented on #2264
Nice, @ikhoon! Should we also update [this page](https://armeria.dev/docs/setup) or add a new page for the users who wanna try the snapshot builds?

[2022-01-14 06:45] trustin commented on #4027
How many language and OS combinations should we support? Should we just stick to English-only and leave it as a known issue? :thinking:

[2022-01-14 07:08] #3031 closed

[2022-01-14 08:09] trustin opened #4029 "Add how to pull the snapshot JARs from oss.sonatype.org"
Now that we publish our snapshot JARs to oss.sonatype.org, it'd be nice if we provide an instruction on how to pull them into their build. Related issue: https://github.com/line/armeria/issues/2264

[2022-01-14 10:48] LiYing2010 opened #4030 "get `ClassCastException` error when call `HttpResponse.toDuplicator()`"
I created a service using armeria (latest version `1.13.4`)
and added a Decorating Service to dump HTTP Request/Response Log.

in this Decorating Service, I want to duplicate request/response so I can dump the request/response content to our log.

my code like this:

[code]

the `originalReq.toDuplicator()` part works just fine, but `originalRes.toDuplicator()` throws the following exception:
[cod

[2022-01-14 11:15] ikhoon commented on #4030
Thanks for the thorough analysis. Are you sending a PR? If you are busy, I can deal with it.

[2022-01-14 13:12] ikhoon commented on #4030
Send #4032 to fix this.

[2022-01-17 02:52] ks-yim commented on #3969
A naive workaround would be using `SETTING_CONTENT_PREVIEW` attribute and conditionally set `ctx.logBuilder().responseContentPreview(...)` with the `HttpResponse` recovered via `ServerErrorHandler`.

But, have no idea about how to retrieve configured `sanitizer` and `ContentPreviewFactory`.
[code]

[2022-01-17 06:37] ikhoon commented on #3829
Sounds good to me. I think we can take the style we did in https://github.com/line/armeria/pull/3985.

[2022-01-17 06:42] ikhoon commented on #3911
Reproduced: https://github.com/line/armeria/runs/4823823566?check_suite_focus=true#step:6:1170
[code]

[2022-01-17 06:47] ikhoon commented on #4027
I thought we stick to English and provide a customization point to let users append their own exception pattern to the default patterns.

[2022-01-17 06:52] TheWeaVer commented on #3829
Thank you 😄

[2022-01-18 06:35] ikhoon opened #4034 "`RoutingTrie` fails to navigate an `HttpService` mapped by a parameterized rest paths(`{*foo}`) pattern"
If a service is bound with a parameterized rest paths(`/foo/{*bar}`) pattern,
`RoutingTrie` fails to find the target service when traversing the tree.
[code]
I think the first path of `Route.paths()` has to return 1) `/foo/*` so that `RoutingTrie` correctly builds 2) the trie tree.

1) https://github.com/line/armeria/blob/510a57b213de5590649fe1634f8ee3274f545a38/core/src/main/java/com/linecorp/arm

[2022-01-18 06:36] ikhoon commented on #4034
@policeman-kh Are you interested in looking at this issue?

[2022-01-18 06:46] policeman-kh commented on #4034
@ikhoon san

Off course. Let me check this issue. 🙇

[2022-01-18 07:05] ikhoon commented on #3828
Found another leak report while testing the WebFlux module.
https://github.com/line/armeria/runs/4843457763?check_suite_focus=true#step:6:2835
[code]

[2022-01-18 07:06] ikhoon commented on #4034
Thanks, @policeman-kh. ❤️

[2022-01-19 08:01] #3986 closed

[2022-01-19 13:56] kojilin commented on #3977
Curious if this is possible? IIUC, ServiceNaming can be decided by ctx and it's also possible to give different name for different method in same class.

[2022-01-20 01:52] minwoox commented on #3977
That's correct. We can't use `defaultServiceNaming` to modify the service name. 😅
We might add a mapper that maps a class to the customized service name to `DocServiceBuilder` if there's a demand for that.
Let me close this for now. 😄

[2022-01-20 01:52] #3977 closed

[2022-01-20 03:16] ikhoon commented on #3977
I thought we can display service names specified by `@ServiceName("...")` but could not a general solution.

[2022-01-20 10:07] ikhoon commented on #3518
https://github.com/line/armeria/runs/4879715589?check_suite_focus=true#step:6:1493

A similar failure:
[code]

[2022-01-20 14:27] ks-yim opened #4038 "Add implicit request mapping to `@Head` when the service is mapped to `@Get`"
Many server frameworks(e.g. [Spring](https://docs.spring.io/spring-framework/docs/current/reference/html/web.html#mvc-ann-requestmapping-head-options), express) create an implicit request mapping to `HEAD` when there's a request handler for `GET`.

The feature can be useful as client sometimes just want to check the existence of resources without receiving the whole body and almost always the hand

[2022-01-21 00:14] dawidtomczyk commented on #3041
If I understand the solution correctly, I need to rebuild the whole config when I want to add or remove one service. It looks like a lot of unnecessary work (correct me if I'm wrong). Can't we add addService() and removeService() methods to Server class?

[2022-01-21 06:12] #4030 closed

[2022-01-21 07:34] heowc commented on #1907
I recently found out that the code style of an intellij idea can be extracted to `.editorconfig`

![Screen Shot 2022-01-21 at 16 30 52 PM](https://user-images.githubusercontent.com/22594101/150485348-a763aa86-9a0f-4fc6-84bd-fb163a39861b.png)

But this has some problems, but I think it might be useful.

See https://youtrack.jetbrains.com/issue/IDEA-223437

[2022-01-21 09:05] ikhoon commented on #3041
Ameria provides various ways to add services. I don't see we can directly add those APIs to` Server`.
But I think it is a good idea to allow mutating the existing server configuration with some restrictions.
For example:
[code]

[2022-01-21 11:06] #3097 closed

[2022-01-24 09:54] ikhoon commented on #3932
Fixed by #3941.

[2022-01-24 09:58] #3932 closed

[2022-01-25 06:13] #4034 closed

[2022-01-25 12:14] #3614 closed

[2022-01-26 00:24] trustin opened #4046 "Add metric for expired TLS certificates"
We could add a Micrometer gauge that becomes non-zero when the server's TLS certificates are expired, so that our users can monitor and fix it as soon as possible.

We could also add a gauge for 'time to expire' which becomes negative when the certificates are expired.

[2022-01-26 06:41] #4010 closed

[2022-01-26 12:16] ikhoon opened #4048 "Provide a general way to write an `StreamMessage` to a file"
@trustin suggested an awesome idea to write a `StreamMessage<T>` into a `File` or `Path`. https://github.com/line/armeria/pull/4044#discussion_r792374144
[code]

[2022-01-26 14:17] tobias- opened #4049 "FileService redirects without keeping query parameters"
When a directory is requested without trailing `/`, the FileService will redirect to that directory with a 307 ignoring all query parameters.

Supposing the following directory structure:
[code]
Going to `https://localhost/a?bar=1` will yield a response similar to the following:
[code]
Ie. the query parameters are stripped. This is a bug imo.

[2022-01-27 06:06] #4001 closed

[2022-01-27 06:08] #3961 closed

[2022-01-27 07:40] timothy-xflowpay opened #4052 "Support "response_body" option in grpc json transcoding"
The grpc json transcoding spec allows specifying `response_body` option, which is similar to `body` option for request: https://github.com/googleapis/googleapis/blob/42ee97c1b93a0e3759bbba3013da309f670a90ab/google/api/http.proto#L355-L361

[2022-01-27 08:21] #4049 closed

[2022-01-27 08:35] #3774 closed

[2022-01-27 08:54] trustin opened #4053 "Test failure: `KeepAliveHandlerTest.testKeepAliveWithIdleTimeout()`"
[code]

[2022-01-27 09:53] #4053 closed

[2022-01-27 20:24] tobias- opened #4056 "HttpResponse.mapHeaders doesn't work with FileService redirect"
The problem is that when using FileService and using `.mapHeaders` on the resulting `HttpResponse`, the headers will NOT be mapped if the response is a directory redirect. `.mapHeaders` works as intended if a normal `HttpResponse.ofRedirect()` is returned.

I've added a small test to try to show the problem: https://github.com/tobias-/armeria/pull/4

My example adds the header "foo: bar" to the ex

[2022-01-28 07:58] fageiguanbing opened #4057 "gRPC: How can I configure ServerConfig to avoid client http 413"
- scene：upload files, range (100mb ~ 10gb)
- I see the default value in `com/linecorp/armeria/armeria/1.11.0/armeria-1.11.0-sources.jar!/com/linecorp/armeria/server/Http2RequestDecoder.java:156`. But I can't find where to configure it.

![image](https://user-images.githubusercontent.com/33739792/151508745-444931b7-8c37-4458-b6bf-4152940e2515.png)

Server exception
[code]

client exception
[code]

[2022-01-28 08:01] ikhoon commented on #4056
You can use a failed `HttpResponse` with `mapHeaders`.
I recommend you use `.recover` to mutate headers in an `HttpResponseException`.
For example:
[code]

[2022-01-28 08:22] ikhoon commented on #4057
You can configure the maximum allowed length of a request with [ServerBuilder.maxRequestLength()](https://javadoc.io/static/com.linecorp.armeria/armeria-javadoc/1.14.0/com/linecorp/armeria/server/ServerBuilder.html#maxRequestLength(long)) option.

[2022-01-28 08:41] richieyan commented on #4057
Yes, the right way to set the limit is to set both limit to `ServerBuilder` and `GrpcServerBuilder`, snippet like this
[code]

[2022-01-28 08:48] fageiguanbing commented on #4057
thanks!

[2022-01-28 08:48] #4057 closed

[2022-02-02 03:24] jrhee17 opened #4062 "Invalid `json` requests for protobuf classes return `5-"

[2022-02-02 04:04] jrhee17 opened #4063 "Consider providing an option for case-insensitive param names"
We've received a question for whether armeria provides a way to accept case-insensitive param names.

Ref: https://line-armeria.slack.com/archives/C1NGPBUH2/p1643756335733629

We may need to find a way to add support for case-insensitive keys in `ServiceRequestContext#queryParams` and `ServiceRequestContext#pathParams`

[2022-02-02 04:53] trustin commented on #4063
We probably need to add an option for this to `ServiceConfig`.

[2022-02-03 06:23] minwoox commented on #3994
Duplicate #2291

[2022-02-03 06:23] #3994 closed

[2022-02-03 07:31] trustin commented on #3994
Added `duplicate` label to avoid confusion.

[2022-02-03 12:07] luqasn opened #4065 "Is there any reason why armeria-thrift0.12 is not published?"
We are using Thrift 0.12, and the repo contains a module for that, but it's not being published. Is this intentional?

https://github.com/line/armeria/blob/master/settings.gradle#L99

Thanks a lot for this great project!

[2022-02-03 12:27] trustin commented on #4065
It's because `amreria-thrift0.13` is compatible with Thrift 0.12, 0.11 and 0.10. You can just pull `armeria-thrift0.13` into your dependencies and override the transitive dependency. Please feel free to let us know if it doesn't work as expected.

[2022-02-03 23:44] anuraaga commented on #4065
Perhaps 0.12 tests could be migrated to a test suite to avoid confusion around its publishing

https://docs.gradle.org/current/userguide/jvm_test_suite_plugin.html

[2022-02-04 02:03] trustin commented on #4065
@anuraaga That's good to know. How did you come to know this stuff? :+1:

[2022-02-04 02:06] trustin opened #4066 "Use JVM test suite plugin for testing backward compatibility"
We currently use hand-made Gradle build to test the backward compatibility of a certain module, such as `armeria-thrift0.12` and `armeria-jetty9.3`. We could instead use Gradle's JVM test suite plugin for that, as suggested by @anuraaga: https://docs.gradle.org/current/userguide/jvm_test_suite_plugin.html

[2022-02-04 02:06] #4065 closed

[2022-02-04 02:14] trustin opened #4067 "SSO implementations for well known providers"
We could provide SSO (Single sign-on) implementations for well known providers, such as:
- [ ] Okta (OAuth2 and SAML)
- [ ] Apple
- [ ] Facebook
- [ ] GitHub
- [ ] Google
- [ ] Microsoft and Azure AD
- Regional services
  - [ ] Kakao
  - [ ] LINE
  - [ ] Naver
  - [ ] WeChat

[2022-02-04 21:14] tobias- opened #4068 "null GraphQL parameter causes NPE"
GraphQL, unlike Java, has three states for parameters sent through: undefined/missing, null and non-null. Armeria currently assumes all parameters are either undefined/missing or non-null. Null parameters causes the AbstractGraphqlService to return 500 Internal Server Error.

[code]

The problem seems to be the Guava `ImmutableMap`, which doesn't seem to allow null values.
[code]
--edit:
There are

[2022-02-08 02:07] amitvc commented on #3464
@trustin @ikhoon Working on this starting Feb 07.

[2022-02-08 13:11] amitvc commented on #3464
Working on implementing a trie data structure in order to search ClientTrustManagerAction based on the hostname url pattern. We will support the following patterns
 - Exact match (e.g hostname -> a.com)
 - partial match (e.g hostname -> a.*.com or abc.*) should match a.b.com or a.z.com or abc.com or abc.net

[2022-02-08 14:53] klurpicolo commented on #4046
Hi @trustin, I'd like to try this one👋.

Could you help guide me on how to get TLS certificates' expiration information? Thank you.

[2022-02-11 04:06] ikhoon opened #4075 "Add `ClientRequestContext` customizer using `ClientBuilder`"
Background:

Armeria server and client automatically propagates a trace context via `RequestContext.attr()`.
However, if the trace context could be instantiated by a non-Armeria server, Armeria's `BraveClient` can't read the context.
The trace context stored in thread-local storage needs to be manually propagated.
Users can use `Clients.withContextCustomizer(...)` to capture the trace context and

[2022-02-14 08:59] ikhoon commented on #2364
`BlocingWebClient` has been added in #4021.

[2022-02-15 08:02] minwoox opened #4087 "Provide a way to specify prefix for GrpcService"
As @trustin suggested:
[code]

[2022-02-16 02:20] minwoox commented on #4087
@ta7uw Oops, I'm adding a method to `ServerBuilder` which is
[code]
That probably will make this feature obsolete so let's do not implement this feature. 😅
Sorry about it. 😅

[2022-02-16 02:20] #4087 closed

[2022-02-16 05:27] ikhoon commented on #3685
`armeria.management.server.port` has been superseded by `armera.internal-services.port`.
For example:
[code]

[2022-02-16 05:27] #3685 closed

[2022-02-16 09:15] trustin commented on #4046
Hey, thanks a lot for your interest in this issue. I actually didn't look into the details on how this should be implemented, but I see a few options:

1. Create a new server-side `SSLEngine` from the `SslContext` and perform some test SSL handshake like we do in `VirtualHostBuilder.validateSslContext()`. On successful handshake, we retrieve the `SSLSession` object of the server-side `SSLEngine`.

[2022-02-16 10:43] ks-yim opened #4091 "Allow double dots(`..`) in query string"
Since `>= 1.13.4`, armeria doesn't allow double dots(`..`) in path and query string to fix path traversal attack vulnerability (https://github.com/line/armeria/security/advisories/GHSA-8fp4-rp6c-5gcv).

Not allowing `..` in path can be a sensible default to a web framework but applying the same validation to query string seems to be a too conservative policy because in many cases query parameters

[2022-02-16 12:07] ikhoon opened #4093 "Programmatically configure `Flags` via SPI"
The default value of some `Flags` could be changed by only JVM `-Dcom.linecorp.armeria.XXX` option such as `-Dcom.linecorp.armeria.verboseSocketExceptions=true`.
New options are constantly added to `Flags` according to various requirements and environments. Consequently, users find it difficult to override many options only via JVM options.
They may not want to frequently fix the options in their

[2022-02-17 11:20] #4068 closed

[2022-02-17 19:04] vti opened #4095 "Add a possibility to add custom protocol/scheme handlers"
At the moment Armeria provides a way to hook onto http endpoints and PROXY. It would be useful to be able to hook onto a custom protocol, not just http. This would allow creating microservices for a larger amount of applications, e.g. ISO8583 (payment industry) protocols.

Of course these protocol have to be transactional (request/response).

Something like:

[code]

Probably `MyTcpService` has to

[2022-02-18 03:48] ikhoon opened #4096 "Test failure: `ArmeriaSslConfigurationTest.http`"
https://github.com/line/armeria/runs/5212528552?check_suite_focus=true#step:6:2655
[code]

[2022-02-18 07:18] minwoox commented on #3911
[code]

[2022-02-18 08:52] trustin opened #4099 "Provide a way to run service code out of I/O event loops"
When service devs are not very familiar with asynchronous programming, it is very easy to drive Armeria's core event loops into havoc by blocking them.

Framework devs may want to make sure Armeria at least handle I/O and function normally for a certain set of core services, such as `PrometheusExpositionService` or `HealthCheckService`, by isolating other non-core services from the I/O event loops

[2022-02-18 08:54] trustin commented on #4046
Maybe useful for extracting CN from the certificates: https://stackoverflow.com/questions/2914521/how-to-extract-cn-from-x509certificate-in-java

[2022-02-18 15:10] minwoox opened #4100 "Provide a way to debug a context leak"
TL;DR
We can store stacktrace of a `RequestContext` when it's pushed via `RequestContext.push()` and use the information to debug a context leak.

We use the `RequestContext` to store and convey the information of a request.
If a `RequestContext` is pushed into thread-local and a thread executes lines of code with the context in its thread-local,
we call that the lines of code are request-scoped.

[2022-02-18 16:12] klurpicolo commented on #4046
@trustin Many thanks for useful information! Currently I'm working on it. By the way, I have questions that would like you to help.

- Is metric name "armeria.server.tls.expiration" good?
- Should I make it one value that be -1 if any certificate in chain is expired
[code]
  or separate for each certificate
[code]

[2022-02-21 02:23] minwoox opened #4103 "Test failure: HttpServerTlsCorruptionTest"
[code]

[2022-02-21 02:24] #4091 closed

[2022-02-21 09:33] tobias- opened #4104 "Graphql: Return 400 instead of 500 when client sends incorrect request in json"
Currently Armeria returns a 500 error when a client sends in either invalid json or invalid graphql request.

I agree with what @jrhee17 wrote in https://github.com/line/armeria/pull/4069#discussion_r801222068 , the server should return 400.

[2022-02-22 06:29] ikhoon commented on #4104
Thanks for reporting the bug. As a workaround, we can customize the response status using `ServerErrorHandler`.

[2022-02-22 07:21] ikhoon commented on #4046
Sounds good to me.

I prefer `certificate`, e.g., `armeria.server.certificate.expiration`

We can assume 1 is true and 0 is false. Therefore, `armeria.server.certificate.expiration 1.0` could mean a certificate is expired.

[2022-02-22 12:18] helanyao opened #4105 "How to call grpc server with https"
We are using latest GrpcClients.
[code]

The config.getHost() returns https://grpcserver:443, in this case, there will be error
[code]
If the config.getHost() returns http://grpcserver or http://grpcserver:8080, the error is
[code]
how shall i fix this issue?
Your help is much appreciated.

[2022-02-22 12:54] ikhoon commented on #4105
I have two questions.
- Is the problem produced after `GrpcClients` is used?
- Is gRPC-Java able to communicate with the server?

[2022-02-22 14:41] klurpicolo commented on #4046
@ikhoon Noted with thanks

[2022-02-22 22:00] helanyao commented on #4105
no

i mapped remote 443 to local port 8200 and used http://localhost:8200 and it worked.

I think this is a general question. Does there anyone have experience with this?

[2022-02-23 00:20] tokuhirom opened #4106 "build.gradle.kts compatible documentation"
https://armeria.dev/docs/client-retrofit/

Currently, armeria docs was written in this form.

[code]

It's a valid build.gradle groovy script.

But if the document is written in this form:

[code]

It's also compatible with build.gradle.kts(kotlin) script.
Recently, a lot of users are starting to use kotlin scripting.

I suggest to use this form(or display "Gradle", "Gradle(Kotlin)", "Maven" tabs

[2022-02-23 01:25] ikhoon commented on #4105
Technically, a client verifies the target domain using the certificate of the server.
'http://localhost:8200/' doesn't sound like a valid domain name unless the server uses a self-signed certificate.
I guess your client might work if `ClientFactory.insecure()` or `ClientFactoryBuilder.tlsNoVerify()` is applied.

[2022-02-23 01:35] helanyao commented on #4105
@ikhoon i used tlsNoVerify() and it worked. thx for your help.

[2022-02-23 01:35] #4105 closed

[2022-02-23 02:38] ikhoon commented on #4106
Nice suggestion! It should be helpful to add `Gradle(Kotlin)` tab to `RequiredDependencies` component.
https://github.com/line/armeria/blob/14078714659814a8d34cc9fbca15ee011524c4dc/site/src/components/required-dependencies.tsx#L95-L99
Are you interested in sending a PR? 😄

[2022-02-23 04:08] minwoox opened #4108 "Provide additional logs when RetryingClient doesn't retry"
It's not easy to know why the `RetryingClient` does not retry because there're several reasons:
- The sum of each request duration exceeds the total duration
- The server sends the `Retry-After` header which exceeds the timeout.
- The `RetryRule` doesn't match
- It exceeds `totalAttempts` (We might not want to log for this case)

[2022-02-23 07:02] wooseongshin commented on #4048
Hello @ikhoon 😀  I would like to handle this issue.  May I try it?

[2022-02-23 09:19] ikhoon commented on #4048
Sure! It is all yours. 😄

[2022-02-24 11:46] trustin opened #4113 "Test failure: `ReconfigurableServerTest.reconfigureShouldConfigureAtleastOneService()`"
[code]

[2022-02-24 12:13] ikhoon opened #4114 "Include a stacktrace in a response for unframed gRPC service when `verboseResponse` is enabled"
`UnframedGrpcErrorHandler` does not render a stack trace of `RequestLog.responseCause()` at all.
https://github.com/line/armeria/blob/daae15d426ffb2581fdff9f10f16ec69f90b7a36/grpc/src/main/java/com/linecorp/armeria/server/grpc/UnframedGrpcErrorHandler.java#L98-L117
It is different from the contract of `Flags.verboseResponses()`.
A stack trace should be appended into a response body if Flags.verbos

[2022-02-24 12:15] ikhoon commented on #4114
@jupiny You might be interested in this issue. 😉

[2022-02-24 15:28] lucasamoroso opened #4116 "MatchesParam - Add new "OR" like syntax"
Hi!

Given the following routes:

[code]

I'd like to call the `helloWithStatus` route in the following ways:
 - `curl http://localhost:8000/hello\?with_status\=true` // This works
 - `curl http://localhost:8000/hello\?with_status` // This doesn't work, returns a NOT_FOUND

The only way to make this work as expected is with the following code:

[code]

This seems to be because `@MatchesParam` is a

[2022-02-25 00:07] jupiny commented on #4114
Oh, thanks for the recommendation. Let me take it. 😄

[2022-02-25 00:47] trustin commented on #4116
Thanks a lot for the detailed description, @lucasamoroso. LGTM :+1:

[2022-02-25 15:33] trustin opened #4118 "Test failure: `ProxyClientIntegrationTest.testProxy_connectionTimeoutFailure_throwsException()`"
[code]

[2022-02-25 16:00] trustin commented on #4118
/cc @jrhee17

[2022-02-25 16:27] trustin opened #4120 "Use version catalogs for dependency management"
Version catalog is now a stable feature since Gradle 7.4. It's time to migrate from our in-house `dependencies.yaml`. See https://docs.gradle.org/7.4/userguide/platforms.html for more information.

[2022-02-27 21:07] Dogacel opened #4123 "Proto Documentation generation fails with duplicate keys"
My proto definition:
[code]

Error I am getting:
<details>

[code]
</details>

It seems like the documentation service doesn't spin up because the `option` section is breaking it.

[2022-02-28 16:25] minwoox opened #4129 "Provide a way to inject an object to `Decorator`"
Users can specify `@Decorator` to add a decorator to a method in an annotated service.
[code]
If so, Armeria server automatically creates the instance of `MyAuthDecorator` and the request is handled by the decorator before it's getting to the method.

To create the class that is specified in the `@Decorator` (i.e `MyAuthDecorator` in the example), the class should not have constructor parameters b

[2022-03-02 16:27] klurpicolo commented on #4093
Hi, I'm interesting in this issue, Can I work on this?

Currently, I have 2 options in my mind. I'd like to get opinion from you.

First approach
- Make `FlagsProvider(1)` interface that return all of value that current `Flags` class provides.
- Extract all default values from `Flags` and put them in new class `DefaultFlagsValue` and encorage users to extend `DefaultFlagsValue` when they want to p

[2022-03-03 06:31] jrhee17 opened #4131 "Provide a way for `WebClient` to send a hint to close http connections"
Some users may want to disable `keep-alive` explicitly.

Currently, armeria relies on server-side to send a `connection: close` when determining whether to close a connection upon request/response completion.

https://github.com/line/armeria/blob/73cc4ae1da00f5441be94f8ad8b5f989bba0acd8/core/src/main/java/com/linecorp/armeria/client/Http1ResponseDecoder.java#L165

However, `armeria` doesn't allow

[2022-03-03 06:40] jrhee17 commented on #4131
cc. @ghkim3221

[2022-03-03 06:47] mauhiz commented on #3776
Is it known whether the endpoint / endpoint group recovers from this?

[2022-03-03 08:46] ikhoon commented on #4093
I was thinking of the first approach in order to easily override the default options.
For example:
[code]

The API consistency between `Flag` and `ArmeriaOptions` can be ensured with a test using reflection.

[2022-03-04 05:55] ikhoon opened #4132 "Support for `response_body` option of gRPC-JSON transcoding"
A JSON body of a gRPC response should be extracted if `response_body` option is specified.
https://github.com/googleapis/googleapis/blob/master/google/api/http.proto#L354-L360
We can extract the content of the field specified in `response_body` before sending a response.
https://github.com/line/armeria/blob/daae15d426ffb2581fdff9f10f16ec69f90b7a36/grpc/src/main/java/com/linecorp/armeria/server/grp

[2022-03-04 06:41] natsumehu commented on #4132
@ikhoon  You can assign this to me

[2022-03-04 06:55] ikhoon commented on #4132
Thanks for volunteering for this issue!

[2022-03-04 07:49] heowc commented on #4129
Doesn't duplicate with this issue?

- https://github.com/line/armeria/issues/4006

[2022-03-05 03:20] natsumehu commented on #4132
https://github.com/line/armeria/blob/daae15d426ffb2581fdff9f10f16ec69f90b7a36/grpc/src/main/java/com/linecorp/armeria/server/grpc/AbstractUnframedGrpcService.java#L200-L202
In the Subscriber code, the spec is not in the context. Can I change the
https://github.com/line/armeria/blob/73cc4ae1da00f5441be94f8ad8b5f989bba0acd8/grpc/src/main/java/com/linecorp/armeria/server/grpc/HttpJsonTranscodingServi

[2022-03-06 15:44] klurpicolo commented on #4093
Hi 👋 @ikhoon,

Thanks for the idea 🙏. Currently, I'm working on this, and I have questions.

- I want to add [junit-pioneer](https://github.com/junit-pioneer/junit-pioneer) library to project for setting JVM options(I want to use @ClearSystemProperty and @SetSystemProperty to set and clear system properties). I'll add its license and update gradle.build/dependencies.yml, is that Okay?
- There are

[2022-03-08 04:36] ikhoon commented on #4093
As a system properties are loaded once when `Flags` is initialized. So `@ClearSystemProperty` and `@SetSystemProperty` do not effectively change the default values of `Flags`.
We can use a custom class loader to re-evaluate the system properties. https://github.com/line/armeria/blob/4edffc8c11bd74665d652a1fd108d6a0307b6733/core/src/test/java/com/linecorp/armeria/common/FlagsTest.java#L92

It is OK

[2022-03-10 01:54] kojilin commented on #3518
About this, shorten the helloservice interval or making the await time longer? And also show the message with sequence to help checking ?

[2022-03-10 05:50] nayeemzen commented on #3306
I ran into this issue while using the AWS S3 SDK, filed an [issue](https://github.com/awslabs/aws-crt-java/issues/451) in the corresponding repo as well.

While the following workaround works, is there any nuances we need to be aware of with multiple Kotlin coroutines operating on a single thread?

https://github.com/line/armeria/issues/3306#issuecomment-768162258

[2022-03-10 08:56] ikhoon commented on #4132
`convertToJson` is used to create a JSON request. We can't extract a `response_body` from it.

Good point. Actually, I thought we can pass a function to `frameAndServe`
such as `Function<HttpData, HttpData> responseBodyConverter`.
It is possible to implement but may hurt SRP. How about using `HttpResponse.mapData()` to convert the response body?
For example:
[code]

[2022-03-10 12:21] fageiguanbing opened #4134 "gRPC server streaming, client cannot receive any response"
It now looks like the server will return to the client after processing all the logic. And if a server streaming request is being executed, the server does not accept any other requests.

Has anyone had a similar problem?

[2022-03-10 15:01] nayeemzen commented on #3306
Come to think of it,  https://github.com/line/armeria/issues/3306#issuecomment-768162258 could cause an issue if there's multiple co-routines trying to set and unset the contextClassLoader 🤔 but we could likely get around by never unsetting - not sure if that will lead to an issue.

[2022-03-11 05:38] klurpicolo commented on #4093
I'm designing on how validation fallback logic should be but I can't decide 😅.

- if JVM option is invalid, Should it fallback to SPI interface (if user provides) or sensible default?
- Should value provided by SPI interface needed to be validated and if it fails then fallback sensible default too?

[2022-03-11 05:47] ikhoon commented on #4093
Your idea makes sense.
If an option is not valid, we should be able to leave the wrong option with the fallback value of SPI or the sensible default.
https://github.com/line/armeria/blob/55504bdf4f09b05adf07a16a076ec28e3fbfccf4/core/src/main/java/com/linecorp/armeria/common/Flags.java#L1460-L1475

[2022-03-11 05:55] ikhoon commented on #4134
Could you provide more information about that?
- What Armeria version are you using?
- Which gRPC stub is used such as gRPC-Java, gRPC-Kotlin, and so on.
- Is it possible to create a reproducible example? It is super helpful to find out the cause of the issue.

[2022-03-11 05:59] ikhoon commented on #4134
Related issue: #3099