[2019-09-11 09:14] trustin commented on #2008
Reproduced locally with the following stack trace:

[code]

[2019-09-11 10:24] trustin commented on #2008
It seems like the upstream client expects the server to respond with `CANCELLED` rather than `DEADLINE_EXCEEDED`: https://github.com/grpc/grpc-java/blob/39dc883b342f4ffab175195bb0a2e809f8bcd164/core/src/main/java/io/grpc/internal/ClientCallImpl.java#L654-L667

`deadlineExceeded()` does not fail anymore if I change `GrpcService` to close the stream with `CANCELLED` instead of `DEADLINE_EXCEEDED` he

[2019-09-11 10:42] trustin opened #2062 "Multi-release JAR"
We currently rely on `MethodHandle`s or `java.lang.reflect` to access the classes or methods available in Java 9+ because our minimum requirement is Java 8. We could simplify this a lot by using the multi-release JAR:

https://github.com/melix/mrjar-gradle

[2019-09-11 10:45] trustin commented on #2062
I'm not sure how easy it will be to generate a multi-release JAR in our project though, given that we have ProGuard in our build pipeline: https://sourceforge.net/p/proguard/bugs/671/

[2019-09-11 11:33] anuraaga opened #2064 "Make it clearer that HttpResponse construction should generally not block"
This is just food for thought, can close if we're happy already.

I find it's too easy for users to shoot themselves in the foot since the difference in "semantic meaning" of an `HttpResponse` (something that streams) and `AggregatedHttpResposne` (something that's collected) is very subtle.

https://github.com/jeqo/zipkin-storage-kafka/pull/38/commits/c5d6976fc0fcb18109bd1af445f83ffc02a7d96d

Just

[2019-09-11 13:24] anirudhr95 opened #2065 "Problem trying to parse response from gRPC endpoint"
Hello, I have a gRPC server, trying to serve a few things from an array blocking queue. That works fine (As far as I can tell).

My proto files -

[code]

In my client, I am creating a thread pool and I am hitting gRPC the endpoint continuously.

[code]

Like so.

The code for hitting the endpoint is -

[code]

log.info("Got response - {}", responseIterator.hasNext()); is actually commented.

When

[2019-09-11 14:08] anuraaga commented on #2065
Thanks for the report! This seems to be a bug in our client implementation which should be fixed in #2066.

As for `FutureStub`, that doesn't seem to support server streamed responses (probably since a future can only be completed once). For async streaming, you will want to use a normal streaming stub (i.e., `GetMessageFromQueueStub`.

[2019-09-11 14:13] anuraaga commented on #2008
I think the failure when changing to `CANCELLED` is because we haven't added full support for `CallOptions` yet including `withDeadline`. Now that our gRPC support has gone from best-effort to mostly-full support, I guess it's a good time to implement it.

I looked into it, and the first is adding something like `ClientRequestContext.setResponseTimeoutHandler`. However, when thinking about this, I

[2019-09-11 14:42] trustin commented on #2065
That was fast! Thanks, @anuraaga !

[2019-09-11 15:25] trustin commented on #2008
What do you think about adding `StreamMessage.abort(Throwable cause)`?

[2019-09-11 17:02] anuraaga commented on #2008
I'm not sure I understand - would the callback be passed the `DecodedHttpResponse`, though the signature would be `StreamMessage`? I think that could work.

[2019-09-11 17:19] anirudhr95 commented on #2065
Thanks for the quick response @anuraaga @trustin , This issue page has been really helpful in general for Armeria. Is there any workaround I can do temporarily to get this going? Without server-side streaming, I have a working version. Just wondering if I can get server-side streaming working. I can always pull the next version from maven if that PR gets merged :)

[2019-09-11 17:25] anuraaga commented on #2065
I would use a normal streaming stub and a latch or similar construct for blocking similar to this pattern

https://github.com/grpc/grpc-java/blob/master/testing/src/main/java/io/grpc/testing/StreamRecorder.java

Actually I would probably do this not just as a workaround but as the recommended pattern. The `Iterator` gives a very simple way to iterate on a response but otherwise lacks some importan

[2019-09-11 17:27] anirudhr95 commented on #2065
Alright, thanks! I'm closing this issue now. I saw the implementation with count-down latch (Armeria examples have the same I believe) but I did not think that was necessary in my case. I'll try this and see what happens :)

[2019-09-11 17:52] anirudhr95 commented on #2065
Also, IK this is not recommended, but I can technically copy over the changes from #2066 , Decompile existing JAR, build my JAR and use that in the classpath no? Like that should solve my problem right away without any code change? Again, this is a dirty dirty fix IK, but that should technically work right?

[2019-09-11 18:07] anuraaga commented on #2065
Sorry maybe the latch wasn't a good example for infinite streaming. In that case using a BlockingQueue should be fine - the stream observer adds any messages to it and your infinite loop in the main thread can take from the blocking queue.

[2019-09-11 21:50] trustin commented on #2008
I thought something like this:

[code]

[2019-09-12 03:43] trustin commented on #1078
I'd like to assign this issue to @ikhoon because he knows Scala knows well. :wink: It'd be nice to have Scala and Kotlin (and Clojure?) examples that demonstrates smooth integration.

[2019-09-12 06:12] anirudhr95 commented on #2065
I tried the fix from #2066 , still no luck @anuraaga  :(

My JAR actually contains the fix i.e but the responseIterator.hasNext() still returns false :(

[2019-09-12 06:27] anuraaga commented on #2008
Ah I see, the exception would replace the normal `AbortedStreamException`. That sounds good

[2019-09-13 02:38] adriancole opened #2071 "Signal to know if a composite endpoint group is dynamic"
In zipkin, we have this code which now looks at a deprecated type:

[code]

Later, we look at `DynamicEndpointGroup`, but it isn't precisely the opposite of static. For example, `CompositeEndpointGroup` can contain dynamic endpoint groups.

There's no clear signal I can tell if an endpoint group is fully comprised of IP addresses or not, at least not with relying on a deprecated type.

[2019-09-13 05:39] codefromthecrypt opened #2072 "Testing DnsEndpointGroup"
`DnsEndpointGroup.endpoints()` returns empty on unresolved addresses. This is a problem in testing because sometime you want to test code that blocks until DNS resolves. In Zipkin, this prevents a "first request" error users would otherwise see.

Lacking a `MockDnsServer`, we can only test usage of `DnsEndpointGroup` usage like this with resolvable hosts. However, in CI or offline laptops, this ca

[2019-09-13 07:37] adriancole commented on #2072
@anuraaga PS this might be up your alley. In general it is a missing piece when folks do "mock web servers" as DNS is always punted.

[2019-09-13 07:56] anuraaga commented on #2071
The new design is single endpoint, static endpoints, dynamic endpoints all have the same API. So you should be able to just call await on any endpoint group and not do any special casing. Do you think the isStatic is needed?

[2019-09-13 08:10] adriancole commented on #2071
hmm let me look. good point

[2019-09-13 08:11] adriancole commented on #2071
yep indeed. below base case looks super cheap. I will close this.

[code]

[2019-09-13 08:11] #2071 closed

[2019-09-13 08:30] trustin commented on #2003
There might be an ordering problem between the callbacks being invoked from non-eventloop threads if we execute the callbacks inline. For example:

1. At T+0 and thread B, future Y is completed.
2. At T+1 and thread B, future Y schedules a callback for event loop A.
3. At T+2 and event loop A, future X is completed.
4. At T+3 and event loop A, future X calls the callback immediately because the ca

[2019-09-13 09:46] adriancole opened #2075 "Fail HealthCheckedEndpointGroup.initialEndpointsFuture() when all hosts fail check"
Right now, if the delegate to HealthCheckedEndpointGroup succeeds, by producing endpoints, but all of them fail a check, the `HealthCheckedEndpointGroup.initialEndpointsFuture()` is left uncompleted.

This seems to do with state management around https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/endpoint/healthcheck/HealthCheckedEndpointGroup.java#L335

Bas

[2019-09-13 09:48] anuraaga commented on #2075
In #2074 I have it so the future is completed with empty endpoints. I think this makes more semantic sense than an exception - we've initialized our endpoints, they just happen to be empty. Users that want special behavior when the initial endpoints are empty can check `await().isEmpty()` and do something, or not if they'd prefer to continue and hope an endpoint comes back.

[2019-09-13 09:54] anuraaga commented on #2072
I've used Netty's test DNS server before - https://github.com/netty/netty/blob/4.1/resolver-dns/src/test/java/io/netty/resolver/dns/TestDnsServer.java

It's a lot of code, I'm hoping I can find a way that doesn't require copying all of that in ;)

[2019-09-13 09:56] adriancole commented on #2075
works for me!

[2019-09-13 10:29] anuraaga commented on #2003
The same Java could have 1, 3, 4, 2, 5 due to context switches can't it? Is it ever possible to guarantee ordering when using an event loop from multiple threads?

[2019-09-13 11:50] trustin commented on #2003
Step 1, 2, 3 and 4 can be serialized deterministically by a user with some synchronization e.g. latch. What a user then would expect the callback for X and Y are both scheduled via eventLoopA.execute() and thus will be invoked in order but it will not if direct invocation is involved.

[2019-09-13 11:58] trustin commented on #2003
Note that the step 1 and 2 are done in a single future.complete() call. (same for 3 and 4). If a user wait for the future Y (the future being completed from a non-event loop) before completing the future X (the future being completed from an event loop), he or she will always see the problem, although it's obviously not a good idea to wait for another future.

[2019-09-13 12:13] trustin commented on #2003
At second thought, I'm not sure if we have to provide such high guarantees to our users, given that a user can just add a callback that completes future X to future Y to express the dependency between two futures clearly.

So, +1 for this optimization unless there's a good counterexample that yields highly cobfusing behavior. (i.e. mine wasn't that great. :sweat_smile: )

[2019-09-16 03:40] #2065 closed

[2019-09-16 03:41] trustin commented on #2065
Please feel free to reopen if this is still an issue, @anirudhr95. It was automatically closed while I merge #2066.

[2019-09-16 05:46] anirudhr95 commented on #2065
So sorry about the delay in getting back to this @trustin , was trying out a few other approaches. (And it was a weekend :| ). I will get back to you when I have something solid :)

[2019-09-16 05:47] anirudhr95 commented on #2065
Also @trustin , if you merged to master, does that mean I can pull the latest version of Armeria from mvncentral and it will have the working version? (Is the JAR published i.e)

[2019-09-16 05:50] trustin commented on #2065
We release like every two weeks, so I guess a new release will be out this Thursday. Thanks a lot for your patience!

[2019-09-16 06:27] Ta2Rim commented on #1954
I think there's a lot of way to improve debug form
Here's my opinion for now

1. add JSON schema-based editor  ( supports code indenting, format validation check )

2. key-value style form
![image](https://user-images.githubusercontent.com/41318449/64937588-b9c60580-d895-11e9-8f8f-d6b9653efec7.png)

3. feature to allow users to change `content-type`
![image](https://user-images.githubusercontent.c

[2019-09-16 06:35] trustin commented on #1954
Sounds good to me, @Ta2Rim !

[2019-09-16 06:53] trustin commented on #2057
I think I like the current behavior of `ServerBuilder.decorator()` and `ServerBuilder.server()` and `ServerBuilder.route()` should yield the same behavior. For example, if a user added a service like this:

[code]

.. the default virtual host would have service bindings for `/` only and the virtual host `*.foo.com` would have service bindings for both `/foo` and `/`.

[2019-09-16 06:59] trustin commented on #2064
I'm looking into https://github.com/openzipkin-contrib/zipkin-storage-kafka/commit/c5d6976fc0fcb18109bd1af445f83ffc02a7d96d but I don't see why the previous version does not work. Could you elaborate? Internally, an `AggregatedHttpResponse` will be translated into an `HttpReaponse` anyway.

[2019-09-16 07:16] anuraaga commented on #2064
For an annotated service when returning an HttpResponse the logic is run on the event loop but when returning an aggregated one it's run on the blocking executor. This seems to make sense to me since one is streamable, but easy to accidentally use HttpResponse, make blocking calls, and deadlock.

[2019-09-16 07:22] trustin commented on #2064
Oh, I never knew returning an `AggregatedHttpResponse` makes the service method run on the blocking executor. I think it's a bug and they should both run in an event loop thread. Such behavioral difference is so subtle that I would like to avoid.

[2019-09-16 07:23] ikhoon commented on #2057
I agree with your opinion. I will try to bind the default virtual host service to a custom virtual host service in [Provide a way to decorate a service by `Route`](https://github.com/line/armeria/pull/2040).

But if it needs to change a lot of code, I will make another PR for this issue.

[2019-09-16 07:28] anuraaga commented on #2064
I guess we need an annotation then to control the executor :)

[2019-09-16 07:30] trustin commented on #2064
Yeah. Something like `@Blocking("taskType" or BlockingTaskType.XXX)` ?

[2019-09-16 07:35] anuraaga commented on #2064
Yeah seems good. But I think most code right now returns json and such, which also run on blocking (HttpResponse and CompletionStage run on event loop). Is it too huge of a behavior change?

[2019-09-16 07:43] trustin commented on #2064
I guess it's fine as long as we make it clear in our release note? :sweat_smile:

[2019-09-16 07:59] anuraaga commented on #2064
I guess so :) But we might consider adding a version that logs warnings that users need to add the annotation before changing - if it were just a class load exception or something it's still easy to debug if you missed the release notes, but if it's deadlocks people could get very confused.

[2019-09-16 08:05] trustin opened #2078 "Some annotated service methods are run from blocking task executors."
Related: #2064

For example, when the return type of a service method is `AggregatedHttpResponse` or response object conversion is involved, the service method is currently executed via the blocking task executor. By contrast, if a service method returns `HttpResponse`, it will be executed from a event loop thread. This behavioral difference is too subtle and confusing.

We need to:

- Make the se

[2019-09-16 08:06] trustin commented on #2064
Created: https://github.com/line/armeria/issues/2078

[2019-09-16 08:34] anuraaga commented on #2064
Thanks! I'll close this one then.

[2019-09-16 08:34] #2064 closed

[2019-09-16 21:53] azzahrah opened #2079 "Protect static resource and force login"
Howto protect static resource and force client login before access all resource, and save those login so for next request client no need login again until session clear by client?

[2019-09-17 02:02] socar-brad opened #2080 "Spring WebFlux client isn't working with body extraction methods"
5.1.3.RELEASE or later, Spring WebFlux's body handling logic has changed when response has an error.

See below
https://github.com/spring-projects/spring-framework/blob/c187cb2fa13af2a6ff6e92d588ba70b458707460/spring-webflux/src/main/java/org/springframework/web/reactive/function/client/DefaultWebClient.java#L443-L446

This changed logic handles body twice if status code of the response determines

[2019-09-17 02:07] minwoox commented on #2079
There are numerous ways for that but I recommend to use token-based authentication. We use that in our another [project](https://github.com/line/centraldogma).

[2019-09-17 06:30] imasahiro opened #2082 "RetryingClient does not have a child request if a root request is already done"
I'm pretty not sure how to reproduce it but here is the stacktrace from our service.

* OS: Linux
* Client: Armeria-0.91.0
* Server: Armeria-0.88.0

[code]

[2019-09-17 07:06] minwoox commented on #2082
Will investigate it soon. Thanks!

[2019-09-17 16:16] anirudhr95 opened #2084 "What is the channel object I'm supposed to pass to Stub class"
I had raised a few other issues, but I think this is related to none of them (I might be wrong of course). I am trying a few other ways to get this to work for now.

Starting with my proto files:

[code]

I tried hitting the endpoint with bloomRPC and it works great. Proof:
<img width="703" alt="Screenshot 2019-09-17 at 9 41 27 PM" src="https://user-images.githubusercontent.com/2638126/65059651-00

[2019-09-17 17:19] anuraaga commented on #2084
It's probably a good idea to read through our docs which also document how to create the stub.

http://line.github.io/armeria/client-grpc.html

Basically you just need to use either `Clients` or `ClientBuilder` and don't need to worry about channels.

[2019-09-18 01:53] #2030 closed

[2019-09-18 02:26] #1855 closed

[2019-09-18 03:21] #2082 closed

[2019-09-18 04:31] #1960 closed

[2019-09-18 05:07] #2084 closed

[2019-09-18 05:42] #1966 closed

[2019-09-18 09:24] anuraaga commented on #2075
#2074 should address the underlying concern so closing this out

[2019-09-18 09:24] #2075 closed

[2019-09-18 13:49] monorisk commented on #1953
I would like to solve this!

[2019-09-19 02:16] sivaalli commented on #2031
Hi, Is this something a first timer can work on? If yes, I'm more that happy to look at it

[2019-09-19 02:36] adriancole opened #2089 "Make it possible to decorate clients and servers at URL context"
Currently, the parts needed to resolve an http URL come from different objects at different availabilities, notably not yet accessible when constructing a decorating service. This makes it complicated, and difficult to do things such as request sampling.

For example, to get a client URL requires the following logic and availabilities:
* RequestLogAvailability.SCHEME
* RequestLogAvailability.REQUE

[2019-09-19 05:50] trustin commented on #2089
I think it's possible to get the request URI (as in Brave's `http.uri` tag) without much complexity. Let me try to send a PR for this soon.

[2019-09-19 06:37] adriancole opened #2090 "Make it easier to work with absent values"
One can imagine that it is not just less crufty, but more performant to be able to use data without sparkling guards around it. Notably, a large amount of code in brave parsers are defense around state conditions, sometimes checked multiple times, only to avoid throwing an exception.

My assumption is this an attempt to be like optional.get() in a lot of libraries which will make sure you die. It

[2019-09-19 07:11] minwoox commented on #2031
@sivaalli Thanks for your interest!
Yes, I think and I hope it's not that difficult. But I think we need to ask @heowc that he is going to deal with this or not before you take this. 😉

[2019-09-19 08:23] #2062 closed

[2019-09-19 09:35] #2080 closed

[2019-09-19 09:57] heowc commented on #2031
@sivaalli Thanks for your opinion!
I will another PRs in progress and someday I will proceed this.
but, If you need to this, I think it's not bad for you to deal with it. 👍

[2019-09-19 12:55] sivaalli commented on #2031
Thanks you @minwoox and @heowc for your thoughts. I will work on this. BTW excellent work creating armeria and open sourcing it.

[2019-09-20 05:53] #2047 closed

[2019-09-20 06:19] 4whomtbts commented on #1719
I'm working on this

[2019-09-20 07:02] #1686 closed

[2019-09-20 08:17] trustin opened #2096 "Streamline HTTP header/trailer validation and conversion"
Currently, user provided HTTP headers and trailers are consumed by `HttpRequestSubscriber` and `HttpResponseSubscriber`. The following is the basic header/trailer validation and conversion process:

1. `Http*Subscriber` merges the `Request/ResponseHeaders` and `ctx.additional*Headers()` while excluding some prohibited headers.
2. `Http*Subscriber` passs the merged headers to `HttpObjectEncoder`.
3

[2019-09-20 13:23] joongsoo commented on #1810
I doing this issue

[2019-09-20 22:38] eugene70 commented on #194
I am working on consul in this issue

[2019-09-21 09:03] jyblue commented on #1844
Hello, I will handle this issue :grinning:

[2019-09-21 12:24] jyblue commented on #1844
Hello, I will handle this issue. Thank you 😃

[2019-09-23 03:55] Untaek commented on #1887
Working in progress.

[2019-09-23 10:00] ctk03272 commented on #1934
I'll work on it

[2019-09-23 10:22] trustin opened #2105 "Add sampling to the exceptions without stack traces."
In production, it is currently recommended to run Armeria servers with the `verboseExceptions` flag disabled to reduce the overhead of `Throwable.fillInStackTrace()`. However, this makes it hard for users to determine the root cause of the exceptions such as `ResponseTimeoutException` or `AbortedStreamException`.

Instead of choosing between all or nothing, we could define some expression for defi

[2019-09-23 10:25] trustin commented on #2105
The sensible default would be like `rateLimited=10` which allows 10 `fillInStackTrace()` a second.

[2019-09-23 15:42] adriancole opened #2106 "Accidental strict dep on codahale metrics"
ArmeriaConfigurationUtil calls `meterRegistry instanceof DropwizardMeterRegistry` which results in `java.lang.ClassNotFoundException: com.codahale.metrics.json.MetricsModule` if you excluded codahale. I think we want to do Class.forName or similar to guard instead.

[2019-09-24 12:15] young891221 opened #2109 "Armeria can supports general SpringMVC and webflux mapping together"
One of the advantages of armeria is that it acts as a connector when used with spring. In this context, I think we have something to appeal.
I had a desire to use the usual SpringMVC and webFlux methods together. WebFlux handles redis calls asynchronously and SpringMVC handles RDB processing. In this case, Spring does not support it([Can I use SpringMvc and webflux together?](https://stackoverflow

[2019-09-24 12:48] trustin commented on #2109
I'm not really sure this is supported, because I never tried. Did you try it already? Please let us know if it ever works.

[2019-09-25 04:48] #2106 closed

[2019-09-25 07:33] #2031 closed

[2019-09-25 11:43] trustin commented on #2105
Closed via #2111

[2019-09-25 11:43] #2105 closed

[2019-09-26 07:58] imasahiro opened #2115 "Cannot use relocated test library at sub projects caused by NoClassDefFoundError"
I've realized we cannot use relocated test library at sub projects (e.g. retrofit2, spring, etc.).
[code]

[code]

[2019-09-26 08:01] imasahiro commented on #2115
Actually, it is not an armeria side issue. Should we open at https://github.com/line/gradle-scripts ?

[2019-09-26 08:10] trustin commented on #2115
Currently, only the libraries that are part of the module with `trim` tag can be shaded and trimmed correctly. In that case, you have to put `guava-testing` to the common dependencies in `/build.gradle` and set up relocation in `dependencies.yml`.

[2019-09-26 08:11] trustin commented on #2115
I guess the problem is that `guava-testing` shares the package namespace with `guava`. :sob:

[2019-09-26 09:07] imasahiro commented on #2115
I see. TBH, in my case, the original issue was happened at curator-framework (and curator-test). And since these curator packages share the package namespace, it happened same issue...

[2019-09-26 10:48] trustin opened #2116 "`prefix` path mapping is overly strict."
For example, if a user bound a service at `prefix:/docs`, the service
will get requests only when the request path starts with `/docs/`, which
means `/docs` will not be matched.

This is not a problem when there is no other mappings that match `/docs`
because Armeria will automatically redirect you to `/docs/`.

However, the following code will not work:

[code]

... because the `HttpFileService`

[2019-09-26 10:53] trustin opened #2117 "Version information in `DocService` index page is not sorted."
Could be sorted for aesthetics' sake:

![image](https://user-images.githubusercontent.com/173918/65683043-44c5ad80-e097-11e9-8d59-17283fa0703f.png)

[2019-09-27 01:31] young891221 commented on #2117
I'll work on it!

[2019-09-27 01:31] young891221 commented on #2116
I'll work on it!

[2019-09-27 01:32] young891221 commented on #2109
I'll share after testing.

[2019-09-27 02:57] sivaalli commented on #2041
Is it possible for me to take a look at this and possibly fix it by adding a log statement?

[2019-09-27 03:00] trustin commented on #2041
@sivaalli Sure! Thanks a lot for looking into it. :bow:

[2019-09-27 03:28] #1991 closed

[2019-09-27 03:38] trustin commented on #2116
@young891221 Thanks for your interest, but it seems like you showed your interest on another issue as well: https://github.com/line/armeria/issues/2117#issuecomment-535745866 It's be nice if you focus on one issue at the moment, so that other contributors have more choices. Which one would you choose?

[2019-09-27 04:12] young891221 commented on #2116
I'm not `Good-First-Issue` target, so I'll choose this issue.

[2019-09-27 10:33] trustin opened #2119 "Override new `CompletableFuture` methods in Java 12 for `ContextAwareFuture`"
.. if we need to.

[2019-09-27 11:52] ikhoon commented on #2119
The following four methods were introduced with Java 12.
Please refer [Add exception handling methods to CompletionStage and CompletableFuture](https://bugs.openjdk.java.net/browse/JDK-8211010) for detail information.

The API spec:
* [default CompletionStage<T> exceptionallyAsync​(Function<Throwable,​? extends T> fn)](https://docs.oracle.com/en/java/javase/12/docs/api/java.base/java/util/concurre

[2019-09-27 13:38] trustin opened #2122 "Naming of `Sampler.rateLimited(int)`"
I'm curious which is most natural:

- `Sampler.rateLimited(int samplesPerSecond)` (Current form)
- `Sampler.rateLimit(int samplesPerSecond)`
- `Sampler.rateLimiting(int samplesPerSecond)`

We also use `rate-limited` in specification strings, but I wonder which is most natural:

- `rate-limited=10` (Current form)
- `rate-limit=10`
- `rate-limiting=10`

I think the specification string should follow

[2019-09-28 00:12] sivaalli commented on #2041
Hi @trustin , while making a change I got a doubt and wanted to get it clarified. If a `ExceptionHandlerFunction` is declared and the conversion fails(at runtime), then the function will be able to catch exception and handle it. If we log it in `JacksonRequestConverterFunction` and the `ExceptionHandlerFunction` that the user provided also logs it, then log appears twice. What do you think about t

[2019-09-29 09:37] rcsalome commented on #2117
Hello. I have a quick fix for this. Will get a PR created. Thanks.

[2019-09-30 07:10] trustin commented on #2041
That is an excellent question, @sivaalli. IIRC, we have a fallback exception handler: `com.linecorp.armeria.internal.annotation.DefaultExceptionHandler`.

Because `JacksonRequestConverterFunction` wraps the Jackson exception with an `IllegalArgumentException`, it is automatically and silently translated into `400 Bad Request` by `DefaultExceptionHandler`.

What we could do in my opinion is to make

[2019-09-30 13:49] sivaalli commented on #2041
Thank you @trustin for your reply. Your plan sounds good to me. Currently `JacksonRequestConverterFunction` catches `JsonProcessingException`(a generic Jackson exception) and re-throws `IllegalArgumentException`. I will see if I can target subtype of `JsonProcessingException` that is thrown for JSON parse errors.

And since we already have a`DefaultExceptionHandler`, I will also add a log statemen

[2019-10-01 05:46] jatinAroraGit commented on #2119
Hey there,
I can work on this.

[2019-10-01 05:55] ikhoon commented on #2119
@jatinAroraGit Thanks for your interest! 😀
A related issue on Java 9 is working. https://github.com/line/armeria/pull/2127
It uses [Multi-Release JAR Files](https://openjdk.java.net/jeps/238), so I think it would be nice working on this issue after merge that issue.

[2019-10-01 06:42] trustin commented on #2119
#2127 has been merged. Please begin your adventure, @jatinAroraGit!

[2019-10-01 06:52] trustin commented on #2041
Yeah, I think it's good. If other users report about the increased warning logs, we could reconsider it.

[2019-10-01 08:17] trustin commented on #2057
Fixed via #2040

[2019-10-01 08:21] #2057 closed

[2019-10-01 08:30] #2089 closed

[2019-10-01 08:32] anuraaga commented on #2119
I think we also need to change the compile JDK to Java 12 to go with the mrjar approach. Do you think it's ok?

I was going to possibily change it after https://github.com/line/armeria/pull/2126 which lays the groundwork for Java 12 on Travis

[2019-10-01 08:40] trustin commented on #2119
+1 for waiting for #2126. We could open a PR for this issue before #2126 is merged, merge it after #2126 is merged.

[2019-10-01 10:55] ikhoon opened #2133 "Add `AbstractServerBuilder` for registering service and decorator"
A service and a decorator are registered to default [virtual host](https://line.github.io/armeria/server-basics.html?highlight=virtual#virtual-hosts) with ServerBuilder.
Also, they are registered to a custom virtual host with VirtualHostBuilder.

* ServerBuilder
https://github.com/line/armeria/blob/9783253388f1818f982c7b4efc93ec9e97ebf68c/core/src/main/java/com/linecorp/armeria/server/ServerBuilde

[2019-10-01 23:03] FultonBrowne commented on #2006
You could use the built in GitHub actions, I use that for all my projects and it works well.

[2019-10-02 00:49] trustin commented on #799
Oh, just found that we're in TechEmpower Benchmarks: https://www.techempower.com/benchmarks/#section=data-r18&hw=ph&test=plaintext Not the best numbers but I hope it will get much better once we start optimizing seriously.

[2019-10-02 05:00] anuraaga commented on #2006
@FultonBrowne Thanks for the suggestion! I've taken a look at GitHub actions and held off on it for now since it doesn't seem to support build caching yet which should come in a month or two.

https://github.community/t5/GitHub-Actions/Caching-files-between-GitHub-Action-executions/m-p/30974/highlight/true#M630

I think we could use some separate storage with manual operations, but probably better

[2019-10-02 06:14] heowc commented on #916
I'll work on it!

[2019-10-02 06:15] #2041 closed

[2019-10-02 06:43] trustin commented on #2006
On the other hand, AppVeyor introduced BYOC jobs which allows us to use our servers for running the builds: https://www.appveyor.com/blog/2019/10/01/self-hosted-jobs-on-your-computer-or-in-cloud-vms/

[2019-10-02 07:17] trustin opened #2136 "Use `MissingJavadoc*` checks for Checkstyle"
We should add the following checks:

- `MissingJavadocPackage`
- `MissingJavadocType`

And remove the `minLineCount` property from:

- `MissingJavadocMethod`

[2019-10-02 07:18] minwoox commented on #2136
https://checkstyle.sourceforge.io/config_javadoc.html

[2019-10-02 07:40] trustin opened #2137 "Add `Server` and `Date` header by default."
.. also with the options that remove them. (I wonder if `Date` header is mandatory though.)

We also would need to make sure that `ctx.additionalResponseHeaders()` can override the default headers.

[2019-10-02 07:46] trustin commented on #1718
Seems like people prefer `newDecorator()` according to my anecdotal survey from colleagues and customers.

[2019-10-02 07:47] #1718 closed

[2019-10-02 10:31] #2011 closed

[2019-10-02 10:32] #2000 closed

[2019-10-02 14:29] anuraaga opened #2141 "Raise build JDK requirement to Java 12"
We now have travis infrastructure for installing multiple JDKs, including ones not officially suported by travis. This opens up the possibility of raising our minimum JDK version to build Armeria to Java 12. This makes it simpler to work on supporting newer APIs like in #2119

Shall we raise the requirement?

[2019-10-02 14:34] trustin commented on #2141
Sure. Why not? I'm also fine with jumping up to 13.

[2019-10-02 14:35] anuraaga commented on #2141
Me too but not Gradle until 6.0 ;)

[2019-10-03 00:51] trustin opened #2143 "Wrong type parameter in `EndpointGroup.of(Iterable)`"
`Iterable<EndpointGroup>` -> `Iterable<? extends EndpointGroup>`

[2019-10-03 01:47] sivaalli commented on #2023
Hi @trustin @minwoox @ikhoon ,

I think what we could do is, add an annotation called `@Configuration` that has properties/fields that reflect all the settings that `Route` api supports. For example a user can declare `@Configuration(maxRequestLength = 1024, requestTimeoutMillis=5000)` like this on a service method. Instead of creating a new Annotation(in this example `@Configuration`), we can als

[2019-10-03 05:12] ikhoon opened #2147 "Add Hamcrest 2.0 to explicit depencency"
[JsonUnit](https://github.com/lukas-krecan/JsonUnit) 2.9 was released with [Hamcrest 2.1](https://github.com/lukas-krecan/JsonUnit/commit/54468dbcf8f4a7e8852d02df61d9ac7c3c84de00#diff-600376dffeb79835ede4a0b285078036). After upgrading JsonUnit 2.9, [travis build fails](https://travis-ci.com/line/armeria/builds/129986406#L1402) with:
[code]

By the official documentation migration guide - [Upgradin

[2019-10-03 05:30] ikhoon opened #2148 "Provide a fluent way to build http client request."
Armeria server supports a various way to build a service route like [`Route.builder()`](https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/Route.java#L37), [`ServiceBindingBuilder`](https://github.com/line/armeria/blob/9fb403e14f333ba08e2fb7347e698c09ed8b87bc/core/src/main/java/com/linecorp/armeria/server/ServiceBindingBuilder.java#L43), [`@PathPrefix`](http

[2019-10-03 06:12] trustin opened #2149 "Limit the cardinality of request metrics"
I heard that RestTemplate logs a warning about large cardinality of meter tags and refuses to record the metrics for the tag combinations generated after then. We could also implement something similar.

[2019-10-03 06:14] trustin commented on #2149
Related commit: https://github.com/spring-projects/spring-boot/commit/1a9c268b6baecaa44ffb770e736c40960c625cd3

[2019-10-03 06:21] trustin commented on #2149
In Armeria, we use `RequestMetricSupport` to create meters: https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/internal/metric/RequestMetricSupport.java

We need to:

- Allow a user specify max cardinality when creating `MetricCollecting{Client,Service}`.
- Modify `RequestMetricsSupport` to respect the max cardinality specified when creating `MetricCollecting{Clien

[2019-10-03 06:51] imasahiro opened #2150 "Consider to remove sorting at MeterIdPrefix"
Currently, we sort the micrometer tags at MeterIdPrefix to create Meter ID stably.
https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/common/metric/MeterIdPrefix.java#L95-L101

Since I saw this stacktrace from our service’s flamegraph, I would like to consider whether it is avoidable or not.  Since it doesn’t have many samples, we can be ignored but because it is n

[2019-10-04 01:43] #2143 closed

[2019-10-04 03:39] trustin commented on #2150
We can make use of the following characteristics:

- The number of tag names is very small (less than 10 usually)
- We always construct a new sorted tag list because `MeterIdPrefix` is immutable.
- When merging two tag lists:
  - the first tag list is always sorted.
  - the second tag list is also very small.

[2019-10-04 03:47] anuraaga commented on #2150
I don't think this would be an issue if we sorted during metric export instead of when recording metrics.

Do you think it's possible to move sorting to a different layer that only occurs during export?

[2019-10-04 03:54] trustin commented on #2150
That's a good point. We could:

- Sort only when creating a meter.
- Make `MeterIdPrefix.equals()` and `hashCode()` order-independent.

[2019-10-04 03:56] trustin commented on #2023
How about just adding `buildAnnotated(Object)` to `ServiceBindingBuilder`?

[2019-10-04 07:23] jaeyeonling opened #2155 "Slack workspace link is not active."
Slack invite link is no longer active.

I want to join!

[2019-10-04 07:38] trustin commented on #2155
Oh, that's weird. The invitation link should work up to 1000 people, but it seems to have been deactivated too early. I've just updated the invitation link. Please try again :-)

[2019-10-04 08:01] jaeyeonling commented on #2155
Thanks :)

[2019-10-04 08:01] #2155 closed

[2019-10-04 08:38] minwoox commented on #2023
Hello, @sivaalli! Thanks for the suggestion. However, I think adding more annotations is the last thing I want to do. 😄

Had a chat with @trustin and we thought adding a builder would be enough for this.
[code]

All the properties that a service might want to set separately are gathered in `AbstractServiceBindingBuilder` thanks to @ikhoon.
However, the builder for annotated service just cannot inh

[2019-10-04 11:12] #2141 closed

[2019-10-04 12:56] Stupremee commented on #2136
May I take care of the issue?

[2019-10-04 13:17] trustin commented on #2136
Sure. Why not? Just keep in mind that you might have to add missing Javadocs to make the build pass.

[2019-10-04 14:26] sivaalli commented on #2023
Hi @trustin and @minwoox, I think I may have misunderstood this issue. So just want to reiterate the idea. For example, if this is my service:

[code]
and annotated service is registered using

[code]

Then, we should provide ability for user to

1. Configure different http settings for `/hello/foo`(for ex: requestTimeoutMillis =1000) and `/hello/bar`(for ex: requestTimeoutMillis =5000)
2. Configu

[2019-10-04 14:33] minwoox commented on #2023
Yes, we are going to provide #2 because this is per-service configuration not per-method configuration. :-)

In this case, we are guiding like:
[code]

You are always welcome to ask us anything. :-)

[2019-10-04 14:37] sivaalli commented on #2023
Thank you @minwoox. I will start looking into this.

[2019-10-05 07:01] moonchanyong commented on #1951
I'm working on it

[2019-10-06 16:40] ikhoon opened #2160 "Buffer leak when `ResponseConversionUtil` fail to convert to `HttpData` with RxJava `Flowable`"
While I was testing about `JsonTextSequences`, `RxJava` `Flowable` didn't get notified on `cancel` signal when `ResponseConversionUtil` fail to covert an `Object` into `HttpData` in the following test case.
https://github.com/line/armeria/blob/d27fed6e49c12ebc7e4719af89e841f9ae24e857/core/src/test/java/com/linecorp/armeria/server/streaming/JsonTextSequencesTest.java#L62-L67

https://github.com/lin

[2019-10-07 02:44] #2160 closed

[2019-10-07 04:50] ikhoon commented on #2006
Now we are using AppVeyor BYOC https://github.com/line/armeria/pull/2157
Special thanks to @trustin 🙇‍♂️🙏

[2019-10-07 04:50] #2006 closed

[2019-10-07 05:22] trustin commented on #2006
It seems like we are still capped at 5 concurrent self-hosted Linux jobs and 2 concurrent AppVeyor-hosted Windows jobs. Let me contact to AppVeyor support to increase the cap for the self-hosted Linux jobs.

I don't expect them to cost us as much as they require for the AppVeyor-hosted jobs because most computation resources are provided by ourselves in self-hosted jobs. If it turns out to be stil

[2019-10-07 06:52] anuraaga commented on #2150
I played with this a little and found

- Micrometer sorts before creating a meter anyways, so we don't need to worry about it. Removing sorting still allows prometheus integration test to pass even though it adds tags out-of-order

- We need to do order-independent hashcode/equals for the memoizing that happens in MicrometerUtil.register. However, I don't know if it's possible to do this faster th

[2019-10-07 07:13] anuraaga commented on #2150
By the way, @imasahiro are you using default `MeterIdPrefixFunctionFactory.DEFAULT` or do you add your own tags with `MeterIdPrefixFunction.withTags`? If latter, how many tags?

[2019-10-07 07:20] imasahiro commented on #2150
@anuraaga Yes, basically, I'm using armeria-spring's default `MeterIdPrefixFunctionFactory.DEFAULT`.

[2019-10-07 08:04] trustin opened #2164 "Allow binding more than one Thrift service at the same path"
A user wants to write a Thrift proxy server that forwards the requests to their corresponding remote Thrift services where each Thrfit service has different IDLs, e.g.

[code]

If a client calls `foo()` then `FooService` would be invoked. `bar()` then `BarService`.

Currently, a user has to use `TMultiplexed` protocol and specify a service name explicitly.

Once this feature is implemented, a prox

[2019-10-07 08:06] trustin commented on #2164
For example, we could allow a user to build a `THttpService` from multiple Thrift `AsyncIface`/`Iface` implementations rather than just one. We could also accept an optional service name when adding an `AsyncIface`/`Iface` implementation to support `TMultiplexed` protocol as well.

[2019-10-07 08:09] trustin commented on #2164
Another food for thought: a user wants to specify different decorators for different Thrift service types. It is currently doable by writing a decorating `RpcService` which wraps other decorators, e.g.

[code]

Maybe we need to find a way to make this kind of diversion easier..

[2019-10-07 09:04] trustin commented on #2150
Wouldn't order-indepdendent `hashCode()` with memoization help a lot since it will make full comparison skip in many cases? i.e. order-independent `equals()` will be slower but `hashCode()` will cover the loss.

[2019-10-07 09:49] Cronnay opened #2165 "Implementing Armeria GRPC in Dropwizard?"
Hi there!

We have a project built in Dropwizard, and we are switching from using REST with Jersey to use GRPC instead. Dropwizard uses Jetty, so if I could attach GRPC would be great.

In Dropwizards `initialize`-method, I wrote like this:

[code]

It builds but I cannot make any requests towards it. Do I have to attach it with a handler, something like [this?](http://line.github.io/armeria/serve

[2019-10-07 10:11] trustin commented on #2165
Hi @Cronnay!

I'm not a Dropwizard expert, but I guess there are two options here:

- Does Dropwizard provide a way to get an existing Jetty `Server` instance? If so, you could create a `JettyService` using `JettyService.forServer(Server jettyServer)`.
- Does Dropwizard provide a way to start your service with an existing Jetty `Server` instance? If so, please let us know so we can add a `Server`-

[2019-10-07 10:17] trustin commented on #2165
For example,

[code]

or

[code]

[2019-10-07 10:22] trustin commented on #2165
Not sure this is what you want, but if you are fine with running Jetty and gRPC on different ports, you can just run them separately, i.e. Let Dropwizard run Jetty and Armeria run gRPC:

[code]

[2019-10-07 10:25] Cronnay commented on #2165
Thanks for your response, @trustin. I will try to see if I can implement this somehow.

We are currently using REST endpoints - and we are considering if we are able to take some parts of Armeria to complement what we already built. We are no longer in need of REST-server that Dropwizard provides, so we wish to use 1 port. However, if it is too much work to implement this, we might as well change

[2019-10-07 11:20] anuraaga commented on #2150
The benchmark in my PR does the prefix generation+register but I didn't see it cover the difference unfortunately. I guess it would require very slow sorting (adding largish number of tags in very random order) to see the difference so maybe we can live with it now since default function can be made to add the tags in order.

[2019-10-07 12:53] trustin opened #2167 "Allow a user choose a path when a Thrift/gRPC service has more than two paths."
For example, a user can bind the same Thrift service at two different paths with some minor differences (e.g. decorators):

[code]

In that case, currently, in `DocService` UI, a user cannot choose which path (`/a` or `/b`) a request should be sent to. We could show some drop-down list so that a user can choose among the available paths.

/cc @linna-li

[2019-10-07 13:01] trustin commented on #2165
Great! Please keep us posted about your progress here and let us know if there's anything we can help you. :bow:

[2019-10-08 02:23] imasahiro opened #2171 "Dedup request path parsing at HttpClient"
When we send a request using `HttpClient`, this http client parse a path name using `PathAndQuery.parse`.
[code]

And because parse result is not cached into PathAndQuery's CACHE, armeria client try to parse the path again at `HttpClientDelegate`.

[code]

It would be better to avoid duplicated parsing at `DefaultHttpClient`.

[2019-10-08 02:29] imasahiro commented on #2171
Note that, this is not happened at DefaultTHttpClient because it caches `PathAndQuery` result already.

[2019-10-08 06:58] Cronnay commented on #2165
Thank you for your help @trustin. it's working now, but I would like to polish it a bit.

I managed to retrieve the instance of Jetty with Dropwizards `environemnt` and their lifecycles. [https://www.dropwizard.io/en/stable/manual/internals.html](Scroll down to bottom for Lifecycles).

However, it seems to be using a new port anyway. This is my implementation:

[code]

When I start the server, it

[2019-10-08 08:00] trustin commented on #2165
When you are building Armeria `Server`, you have to specify the port number using `ServerBuilder.http(int)` or `ServerBuilder.https(int)`:

[code]

I didn't try it by myself, but I guess you'll have two ports open at this point - one that serves only Jetty requests and the other one that's serves both gRPC and Jetty requests. If that's the case, you might want to:

- Remove the Jetty connector add

[2019-10-08 13:26] trustin opened #2173 "`RequestContextAwareCompletableFuture` callback not invoked when context mismatches."
Let's say we have the following code:

[code]

It seems like everything is working as expected. The callback (`BiConsumer`) was not invoked because it was decorated by `ctx2.makeContextAware(BiConsumer)` and the callback is invoked only when `ctx2.pushIfAbsent()` succeeds ([see](https://github.com/line/armeria/blob/armeria-0.94.0/core/src/main/java/com/linecorp/armeria/common/AbstractRequestContex

[2019-10-08 13:43] trustin commented on #2173
How about logging at WARN level than raising an exception for the future callbacks? If a user wraps something explicitly via `ctx.makeContextAware()`, we could raise an `IllegalStateException` as before, though, i.e.

[code]

[2019-10-08 13:53] #1844 closed

[2019-10-10 03:26] jyblue commented on #2137
Hello,
I will handle this issue.

[2019-10-10 06:25] #916 closed

[2019-10-11 01:47] heowc commented on #1752
I will work on it!

I have two plans to solve this problem.

### one
- I will design an interface called `AnnotatedServiceConfigurator`. This class will be designed to modify and add existing `~~ConverterFunction`.
- And add a method to replace the existing `ServerBuilder.annotatedService(.., Object ... exceptionHandlersAndConverters)` part with `ServerBuilder.annotatedService(.., annotatedService

[2019-10-11 02:47] alex-lx opened #2181 "RequestContextCurrentTraceContext warns when using with `spring-data-redis-starter` and `spring-cloud-starter-zipkin`"
The Armeria using the shared `Tracing` instance created by the sleuth-starter. Is it encouraged or necessary to use two `Tracing` instance for each of them?
Here's the log
[code]

And the dependencies(part):
[code]
And some spring configuration:
[code]

[2019-10-11 04:29] anuraaga commented on #2181
It looks like this stacktrace is for a RMI fetch of the health of the server - Armeria traces usually start with the Armeria server, and that log message is to indicate if you accidentally did not propagate the context during the request.

We added https://line.github.io/armeria/apidocs/com/linecorp/armeria/common/brave/RequestContextCurrentTraceContext.html#setCurrentThreadNotRequestThread(boolea

[2019-10-11 06:05] alex-lx commented on #2181
No any other yet. And our service works fine AFAIK, just post this to look for any way to stop the noisy logging.

And as motioned in the issue description,  is it encouraged or necessary to use two Tracing instances, one for armeria request-threads and one for others?

[2019-10-11 07:43] anuraaga commented on #2181
Nah, it's discouraged to use two, you should only use one instance in your app. Otherwise, things initialized by spring (like this Redis client I think) will not be able to participate in server traces started from services hosted by Armeria.

[2019-10-11 11:17] #1949 closed

[2019-10-11 14:30] SooJungDev commented on #2149
I'll work on it

[2019-10-11 14:33] trustin commented on #2149
It's all yours, @SooJungDev!

[2019-10-11 23:05] beargummy commented on #2117
Should this issue be closed?

[2019-10-12 01:56] trustin commented on #2117
Yes, indeed. Thanks for the heads up!

[2019-10-12 01:56] #2117 closed

[2019-10-12 02:06] trustin opened #2185 "Allow customizing DocService when using Spring Boot integration"
I don't remember exactly where, but someone asked if it's possible to add an example via DocServiceBuilder when using Spring Boot integration.

It is currently not possible because ArmeriaAutoConfiguration currently builds a DocService by itself without exposing any customization point.

We could allow a user to inject a Consumer or Supplier of DocServiceBuilder so that the user can customize the

[2019-10-13 08:37] heowc commented on #2078
I will work on it!

[2019-10-15 08:54] trustin opened #2189 "Content preview and compressed stream"
When sending or receiving a compressed stream, `RequestLog.contentPreview()` will preview the compressed content, which is not very human friendly.

It would be nice if we can push the uncompressed content preview to `RequestLog`, with low overhead. Currently, a user can write a content previewer that performs decompression, but it means the content will be decompressed twice, once for previewing

[2019-10-15 09:08] trustin opened #2190 "`ClassCastException` while building a `Client` with additional headers"
[code]

[2019-10-15 09:08] trustin commented on #2190
/cc @yuinacor

[2019-10-15 09:55] trustin commented on #2190
Occurs when `ClientBuilder.build()` is called twice. :scream:

[2019-10-17 07:34] #2190 closed

[2019-10-17 10:18] Ta2Rim opened #2194 "Make DocService Debugging oriented"
While working on #1954
Finding a way to improve Debug form, I think that it would be great to refactor UX of Debug form before 1.0.0 release.
One of the ways is to make Debug form oriented Debugging feature
For example, I attached a screenshot of the GraphQL playground.

![image](https://user-images.githubusercontent.com/41318449/66998805-d7de8a00-f10f-11e9-83d8-4db1790cccaa.png)

To look #1670, s

[2019-10-18 02:00] minwoox opened #2195 "Provide a way to set example query string"
Currently, we can only set example headers and requests in `DocService` for annotated services. A user might want to set an example query or example path as well.

[2019-10-18 02:00] minwoox commented on #2195
/cc @matthew-bailey, @heowc

[2019-10-18 06:27] heowc commented on #2195
It seems to be a good idea. 👍
Could this be a replacement for a mock server?

[2019-10-18 07:13] #2137 closed

[2019-10-19 06:47] heowc opened #2198 "Can't make a request of a specific consume type in DocService"
If we change the consume type of annotated service to a specific type other than json, the request is not possible in DocService.

I wrote the following code:
[code]

And submitting in DocService will give you an error like the screenshot. No problem with other software like Postman.

![Uploading 스크린샷 2019-10-19 오후 3.30.06.png…]()

My guess is that the consume type of the endpoint also inc

[2019-10-21 02:41] minwoox commented on #2198
I think it's because it only supported the requests whose body is JSON at first. But, yes we should fix this. Are you interested in this? 😄

[2019-10-21 02:55] minwoox opened #2200 "The return type of annotated service does not show anything in DocService"
Currently, the return type of annotated service in `DocService` just shows the simple name of the type. If it shows what it contains in, people will get a better understanding.
There's one thing that we should consider. Some of the return types do not have anything meaningful such as `HttpResponse`, `CompletableFuture`, `Single` and so on, we should not show the fields of those classes.

[2019-10-21 02:56] minwoox commented on #2200
/cc @matthew-bailey

[2019-10-21 05:26] heowc commented on #2198
That's right. 😄

This seems to require modification of both `core` and `doc-client`.
Because [here](https://github.com/line/armeria/blob/f63df81dd346518f81e1441355efbeb6c3f712a5/docs-client/src/containers/MethodPage/index.tsx#L119) we are checking whether the debug form is exposed by [`content-type`](https://github.com/line/armeria/blob/f63df81dd346518f81e1441355efbeb6c3f712a5/docs-client/src/lib/

[2019-10-21 13:21] adriancole opened #2202 "investigate virtualhost.defaultHostname"
As far as poking around can tell, `SystemInfo.hostname()` is invoked only to satisfy when http2 is in use and a client or server didn't set the authority/hostname key. At the moment, this literally invokes a shell command, slowing server startup, by default.

Ex.
[code]

Somewhat similar to #2184, I wonder if this could be revisited, if it is pulling its weight, or if it could be safe to defer if

[2019-10-21 13:51] adriancole commented on #2202
unscientifically (setting the defaultHostname explicitly and banging restarts), this brings best ever time down up to 20ms or so of the 500-600ms in armeria related startup.

[code]

Total time in spring seems to be 1/3 (500-600ms) Armeria, and actually in our slim build we are not affected by #2184 as we hit a CNFE before it gets too expensive.

[2019-10-21 13:55] adriancole commented on #2202
PS "1/3 (500-600ms) Armeria" isn't to say it is spending too much time, almost all of our slim server is armeria. It is an interesting idea to see if zipkin slim could get to 1s, but in this case unless armeria can produce negative startup time, reducing here is not enough.

[2019-10-23 02:26] ylgrgyq opened #2204 "Typo of an example on line.github.io"
Hi folks,

Thanks for this great lib.

This is an issue about a typo on the web site: https://line.github.io/armeria. I scanned all the repositories [here](https://github.com/line) but failed to find the repository for https://line.github.io/armeria. So I leave this issue here. If this is an inappropriate place, please let me know and I will happily move this issue to the right place even taking a

[2019-10-23 02:31] minwoox commented on #2204
Yes, this is the right place. Thanks a lot, @ylgrgyq! Let me send a fix soon.!

[2019-10-23 07:37] minwoox commented on #2204
@ylgrgyq, I'm really sorry that I missed this comment. 😢
We really appreciate that you found this and hope to see your PR next time. 😅

[2019-10-23 07:52] #2181 closed

[2019-10-23 08:44] ylgrgyq commented on #2204
No worries my friend. It's good to see this fixed so soon.
Hope you have a good day! :grinning:

[2019-10-24 06:48] #2078 closed

[2019-10-25 02:56] #2204 closed

[2019-10-25 02:57] #2147 closed

[2019-10-25 07:56] minwoox commented on #1822
Closed by #1870

[2019-10-25 07:56] #1822 closed

[2019-10-25 16:12] heowc commented on #2198
I think each DocServicePlugin needs to create a specific field that knows the service type. In the current `doc-client`, it may be difficult to determine the specific service type with [`mimeType`](https://github.com/line/armeria/blob/master/docs-client/src/lib/transports/index.ts#L36...L46) alone.

[2019-10-26 05:30] cricket007 commented on #2165
Here's an archetype generator that starts a minimal project

https://github.com/dropwizard/dropwizard/blob/master/dropwizard-archetypes/README.md

[2019-10-28 16:28] cricket007 opened #2215 "Avro gPRC Handlers"
In addition to Thrift, any thoughts on supporting Avro?  - https://jira.apache.org/jira/browse/AVRO-2172

[2019-10-28 20:41] sivaalli commented on #2164
I can take a look at this. Is it fine?

[2019-10-28 21:21] JLLeitschuh opened #2216 "Please open a security advisory"
I'd like to report a security vulnerability. Please open a security advisory and add me to it:

https://github.com/line/armeria/security/advisories

[2019-10-29 01:33] trustin commented on #2216
Done. Let's cobtinue the discussion there.

[2019-10-29 13:04] #2216 closed

[2019-10-30 01:59] trustin opened #2218 "`HttpHealthCheckedEndpointGroupLongPollingTest.longPollingDisabledOnStop()` sometimes fails"
[code]

[2019-10-30 02:00] trustin commented on #2215
Sure. Why not? Are you interested in working on it?

[2019-10-30 02:00] trustin commented on #2164
@sivaalli Absolutely! Thanks a lot for looking into this. :heart:

[2019-10-30 02:05] cricket007 commented on #2215
It's on my mind. Not sure how one would handle the HTTP 1 pieces. I see THttpClient in Thrift, but not sure there's a direct equivalent in Avro

[2019-10-30 02:15] trustin commented on #2202
In Linux, `SystemInfo.hostname()` does not use the `hostname` command, so I think it will be OK in production? :sweat_smile: I tried to look for a way to get the current hostname reliably in OS X but it seems impossible without JNI. Let me know if you have a better idea on this.

[2019-10-30 02:26] adriancole commented on #2202
basically, I would suggest deferring this, so that unless an accurate hostname is required, no forks. Not sure how often accurate hostnames are needed anyway in os/x :P

[2019-10-30 05:33] trustin commented on #2202
Agreed. It is currently loaded when a new `Server` is built, but I guess we can defer it.

[2019-10-30 08:24] trustin opened #2219 "Accept URIs without `none+` and return URIs without `none+`"
I see usability issues with `none+` prefix in URI scheme:

- A user must specify a URL that starts with `none+` to create an `HttpClient` with a `ClientBuilder`.
  - We could assume `none+` exists when a user did not prepend it.
  - It becomes a little bit more ambiguous, I think it will not be that confusing. It's like removing 0 from 0.1 (= .1).
- `HttpClient.uri()` returns a URI that starts wit

[2019-10-30 08:28] trustin commented on #2219
/cc @anuraaga We had a discussion about this before and chose to make it always explicit but what do you think about reconsidering?

[2019-10-30 08:33] anuraaga commented on #2219
Can't remember the discussion ;) I think allowing URL without `none+` for `ClientBuilder` makes sense, but I'd suggest `uri()` returns what the user entered, so including `none+` if they had it themselves. Losing user information seems weird to me.

[2019-10-30 08:37] trustin commented on #2219
I'm not sure I like this idea because the caller of `uri()` might not always be who created the client and might expect a consistent return value for the both cases (with/without `none+`).

[2019-10-30 08:55] anuraaga commented on #2219
Hmm that's true - in that case how about we add  `serializationFormat()` and `sessionProtocol()` (less important) to `ClientBuilderParams` and change `uri()` to never return `*+` even for non-http clients? That allows the pieces of information to be easily available and is the most consistent, so `.uri().toURL()` will always work.

I'm also a littler concerned about the `ClientBuilder` API after t

[2019-10-30 09:18] trustin commented on #2219
What if a user wants a URL with serfmt? Should we add a method like fullUri()?

[2019-10-30 09:50] anuraaga commented on #2219
I guess that seems like overkill - it seems fine to me then for `uri()` to return a `+` or not based on serialization format as proposed.

[2019-10-30 09:52] anuraaga opened #2220 "Allow setting a slf4j logger for use by LoggingClient/Service"
Currently, we log to a static `Logger` for client and a deprecated request-specific one for server. We should keep this as the default but it would be nice to be able to set a `Logger` in the builder to allow writing unit tests for logs. This is especially important for testing sanitization logic.

[2019-10-31 11:28] trustin opened #2223 "Provide a way to invoke Thrift `*.AsyncIface` implementations via `blockingTaskExecutor`."
We need something similar to `GrpcServiceBuilder.useBlockingTaskExecutor()` in Thrift, e.g. `THttpService.builder().useBlockingTaskExecutor(...).build()`.

/cc @delegacy

[2019-10-31 11:29] delegacy commented on #2223
Will prepare a PR soon.

[2019-11-01 03:14] #2001 closed

[2019-11-01 03:37] trustin commented on #2001
We need to update:

- `RequestContext.newDerivedContext()` to accept a new UUID
- `RequestContext.toString()` to return a nicely formatted string which includes the last few digits of the UUID.

[2019-11-01 04:44] cricket007 commented on #2165
I made a working example at https://github.com/cricket007/dropwizard-armeria#usage

The code is still in the develop branch until I fix and cleanup a few things.

[2019-11-01 05:34] trustin commented on #2165
That is *awesome*, @cricket007! Would you be interested in sending a pull request here? We keep the examples under `/examples` and it would be a great addition.

[2019-11-01 05:35] trustin commented on #2165
.. and I guess there has to be an `armeria-dropwizard` module which provides the `ArmeriaBundle`.

[2019-11-01 13:38] cricket007 commented on #2165
Sure!

It's in the develop branch for now. I copied the module layout based on the GraphQL bundle

https://github.com/cricket007/dropwizard-armeria/blob/develop/armeria-core/src/main/java/cricket/jmoore/dropwizard/ArmeriaBundle.java

[2019-11-03 09:54] heowc commented on #2198
I have a question.

1. As mentioned above, it is necessary to classify transport by service type, not mime type. what do you think?

2. I think it's unnecessary to have a mime type fixed in doc-client. How about using `defaultMimeType` and `availableMimeTypes` given in the response?

3. In addition to 2, it is unnecessary to do `json` verification. How about relying on server responses? Or should

[2019-11-04 12:26] #2017 closed

[2019-11-04 12:57] trustin opened #2226 "Intermittent test failure: `GracefulShutdownSupportTest.activeBlockingTaskNotPassedQuietPeriod()`"
[code]

[2019-11-04 13:46] #2023 closed

[2019-11-05 06:21] anuraaga commented on #2202
While looking at Gradle release notes, I randomly found out that our hostname is the fastest possible hostname on Mac OS X apparently - did we know we were doing that? ;)

https://github.com/gradle/gradle/pull/11134/files

Also noticed that our hostname is already computed lazily (it's a singleton in an inner class) so users can set the `defaultHostName` which should prevent it from running at all

[2019-11-05 08:00] minwoox opened #2232 "When do we need to call ctx.push()?"
Found out that we are pushing context while notifying log listeners:
[code]
The listener can get the `ctx` from the method parameter `log` using `log.context()`.
Should we push the `ctx` in such a case in which the thread is able to get the `ctx` from the parameter?

[2019-11-05 08:03] minwoox commented on #2232
One thing I noticed recently was that some of our clients are using `ctx.onEnter()` and there is some heavy initialization logic called multiple times. However, after #2227 is merged, it shouldn't be a problem though.

[2019-11-05 08:48] trustin commented on #2165
Awesome! Looking forward to your pull request, then. :+1:

[2019-11-05 09:22] trustin commented on #2202
Nice finding! Let me close it then. :laughing:

[2019-11-05 09:22] #2202 closed

[2019-11-05 09:48] minwoox opened #2233 "Send a PR which includes DNS related features to Netty"
We recently implemented our own resolver which refreshes DNS caches automatically. #2017 #2217 #2231
However, this copies some of the code from the Netty and relies on non-deterministic behavior https://github.com/line/armeria/pull/2231#discussion_r342448290.
If we send a PR which includes this feature to the upstream, we can remove the duplicate code and be out of the burden to follow the changes

[2019-11-06 12:33] monorisk commented on #2220
I would like to solve this!

[2019-11-06 13:21] trustin commented on #2220
@monorisk It's all yours now. :bowing_man:

[2019-11-06 13:52] jyblue commented on #2096
Hello, I will challenge this issue :smile:

[2019-11-06 13:53] yanghun0070 commented on #2185
If there is no working person, I want to work.

[2019-11-07 10:58] liemle3893 opened #2238 "BraveService should be public non final"
Armeria version: 0.92.0

Problems:
- There're times we want to exclude some path. Eg: /healthz, /metrics, etc...
- I am new to Armeria so I don't know is there any thing like dynamic decorator (I guest not)

Work around:
- Create `com.linecorp.armeria.server.brave` inside my code and rewrite `BraveService`

Solution:
- Open `BraveService` to `public`
- Has some kind of optional filter/predicate fo

[2019-11-07 11:17] trustin commented on #2238
That's a good point. As a workaround, you could define a decorator that wraps a `BraveService`:

[code]

However, I'm not sure if it's a good idea to open `BraveService`, because we prefer composition over inheritance in many cases. What do you think about providing a way to exclude a certain path pattern from a route instead? i.e. It'd be nice if we have an API like the following:

[code]

/cc @i

[2019-11-07 14:37] rmohta commented on #2219
@trustin Would like to work on this.
In your description you have mentioned,

Is it to be done only for `none` SerializationFormat, or for all?
And if it's only for `none`, I am assuming it does not matter if it's armeria defaulting to none or client provided URI has none in serialization format?

I am assuming, you would like as mentioned in below tests?
[code]

[2019-11-07 15:05] anuraaga commented on #2238
Being able to express negative path expressions seems useful (though a little concerned about performance). For this use case, though, I think it's better to use Brave's native functionality. You can customize the sampling policy of `HttpTracing` to ignore paths. Actually zipkin-server itself does just that

https://github.com/openzipkin/zipkin/blob/master/zipkin-server/src/main/java/zipkin2/serve

[2019-11-08 00:04] ikhoon commented on #2238
Excepting specific paths from decorating the path looks useful.👍 But in this case, I lean toward to the customizing `HttpTracing` suggested by @anuraaga 😀

I agree with your opinion. I prefer composition or configuration for extending or customizing a feature to inheritance.

[2019-11-08 00:29] ikhoon commented on #2219
@rmohta Thanks for your interest.

IIRC, We have decided to apply only for `none`.

That’s right! It would be a great.

By the way, our HTTP client don't accept URL.
https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/HttpClient.java#L229

 If we choose this policy, I guess creating an HTTP client from URL is more natural.

[code]

@trustin @minwoox WDYT?

[2019-11-08 02:06] liemle3893 commented on #2238
Thank you for your quick relies.

So, for the Zipkin/Tracing I think I better custom HttpTracing. Thank @anuraaga.
And other use cases, I may use composition pattern like @trustin just mention above.
Thank you.

[2019-11-08 02:06] #2238 closed

[2019-11-09 13:38] trustin opened #2243 "Domain name resolution failure in Windows"
Not sure if it affects all Windows machines, but got a report from at least one user. Full DNS trace:

[code]

[2019-11-09 13:39] trustin commented on #2243
What's interesting is that the resolver sends queries to `10.114.0.1` which is not listed in the system DNS server list.

[2019-11-10 10:25] trustin opened #2244 "Remove host-level fields in `ServerBuilder`"
Currently `ServerBuilder` keeps the following host-level settings:

[code]

`VirtualHostBuilder` has these properties already, and thus we could:

1. Remove the fields (not the public API) from `ServerBuilder`.
2. Use `defaultVirtualHostBuilder`'s properties as the `Server`-level default when building non-default `VirtualHost`s.
3. Delegate the host-level setter methods in `ServerBuilder` to `defa

[2019-11-11 03:26] ikhoon opened #2247 "Discussion: `final` modifier convention in method arguments"
`final` modifier is used in local variables or class fields when it could be immutable. However, conventionally, we didn't use the `final` modifier in method arguments. [CONTRIBUTING.md](https://github.com/line/armeria/blob/master/CONTRIBUTING.md) or [`checkstyle`](https://github.com/line/armeria/blob/master/settings/checkstyle/checkstyle.xml) doesn't mention or forces about it. Sometimes it confu

[2019-11-11 03:52] anuraaga commented on #2247
I would definitely vote for removing final from local declaration + assignment (still use final when assigning outside of declaration, usually as part of an if). final on all locals is noisy with low benefit IMO

Otherwise I would lean towards no final in method + checkstyle - similar reason as above, but for method signatures in particular, groking them easily is important so extra noise has a bi

[2019-11-11 04:45] rmohta commented on #2247
For this library, I agree with @anuraaga . I vote for _no final in method args/local + checkstyle_.

Some more thoughts, that I use in my work (not sure if this helps the conversation)
A slightly different opinion: Sometime final in method signature helps in writing pure functions, and pure functions help in Reactive chaining.
I understand it could be a bit more verbose, but it also helps in avoid

[2019-11-11 06:23] trustin commented on #2247
+1

IntelliJ automatically highlights a mutable variable/parameter, so I'm happy without `final` - https://intellij-support.jetbrains.com/hc/en-us/community/posts/360000395439/comments/360000082320

[2019-11-11 18:34] rmohta commented on #2243
We had similar problem in our framework using Vert.x (that uses Netty under the hood). Our temp solution was to disable Netty DNS Resolver when running on a Windows OS.

[2019-11-12 01:57] #2244 closed

[2019-11-12 02:32] trustin opened #2250 "Provide a way to adjust the request/response log level in `Logging{Client,Service}`"
In a certain case, a request or a response with a cause may not be a failure. It would be nice if a user can specify a `Function<? super RequestLog, LogLevel>`, e.g.

[code]

[2019-11-12 06:23] #2219 closed

[2019-11-12 06:56] minwoox commented on #2247
Didn't notice that. 🤣
Let get rid of `final` in method parameters and local.

[2019-11-12 08:15] trustin commented on #1625
Here's the proposal:

When a service throws an `HttpStatusException`, `HttpServerHandler` queries the router again with a `(GET|HEAD) /:render_status` request. Armeria's router will handle this by returning a special `HttpService` which calls a new interface `HttpStatusRenderer`:

[code]

404 errors are translated into `HttpStatusException.of(404)` and thus will be handled in the same way.

The fo

[2019-11-12 08:29] trustin commented on #1625
The proposal above has an issue where a request log does not contain the information about the original request. Let me think a little bit more about this.

[2019-11-12 08:31] trustin commented on #1625
Perhaps we could use `/:render_status` only for querying the `Router`, but not for creating a context.

[2019-11-12 08:32] anuraaga commented on #1625
Is the proposal to allow users to remap exceptions other than `404`? For `404` I think it works to call the fallback service without reissuing the request. I guess supporting rerendering of non-404 could be a different layer?

[2019-11-12 08:47] trustin commented on #1625
The proposal intends to provide a universal way to handle both 404 and `HttpStatusException`, but I found that 404 and `HttpStatusException` are different; If `HttpStatusException` is raised, it means the service has been invoked already, so issuing another request will create an extra request log.

So.. let me drop the proposal and just make the following changes:

- Modify `ServerBuilder` and `V

[2019-11-12 08:52] trustin commented on #1625
WRT custom status rendering, [here](https://github.com/line/armeria/blob/armeria-0.95.0/core/src/main/java/com/linecorp/armeria/server/HttpServerHandler.java#L380-L389), we could translate an `HttpStatusException` into an `HttpResponse` using a `Function<HttpStatusException, HttpResponse>`.

The 404-responding service could raise `HttpStatusException.of(404)` to take advantage of this feature.

[2019-11-12 15:20] jyblue commented on #2096
I found a question while working on this :thinking:

When we add additional response trailers to headers in `HttpResponseSubscriber`, we removes some prohibited headers(SCHEME, STATUS, METHOD, PATH) [here](https://github.com/line/armeria/blob/e21448a95b963cc0e6f349710f7ec1cf572b87af/core/src/main/java/com/linecorp/armeria/server/HttpResponseSubscriber.java#L203) and [here](https://github.com/line/

[2019-11-13 03:46] ikhoon opened #2256 "Violate MAX_CONCURRENT_STREAMS on client side"
After initializing HTTP2 session, Armeria client respect `MAX_CONCURRENT_STREAM`.  #1206 #1481
However, before fully initializing HTTP2 session, Armeria client defers acquiring connection until previous request of acquiring of connection is complete and multiplex the connection.

While the parallel requests more then `MAX_CONCURRENT_STREAMS` which is not received yet could be registered to the cal

[2019-11-13 07:59] #1625 closed

[2019-11-13 10:54] minwoox commented on #2096
No. I think it's a bug. 😅 All trailers should be treated in the same way. Please fix it as well. 😄

[2019-11-14 04:20] minwoox opened #2262 "Intermittent test failure in BraveClientIntegrationTest"
[code]

[2019-11-14 08:47] trustin opened #2264 "Upload snapshot builds to `oss.sonatype.org`"
Our users sometimes wishes to try the SNAPSHOT builds to preview the upcoming changes.

I need to figure out how to pass the `oss.sonatype.org` credencials safely, e.g. do *not* pass them when building a pull request and do *not* include them in build output such as console output and report files.

[2019-11-14 11:44] minwoox commented on #1524
While I'm working on a 1.0 issue which is "Make a `blockingTaskExecutor` a `SchedulerExecutorService`", I remembered this issue came to my mind.

[2019-11-14 11:56] minwoox commented on #1524
I think it's worth to provide `blockingTaskExecutor` which runs the tasks in order when the tasks are provided from the same `EventLoop`. WDYT?

[2019-11-14 12:05] trustin commented on #1524
Yeah, we could provide an alternative executor implementation with such a feature, although I'm not sure if it has to be the default behavior. How about leaving this issue as closed, opening a new one and referring to this issue there? The original problem has been fixed already.

[2019-11-14 12:05] #1524 closed

[2019-11-15 01:02] minwoox commented on #1524
Have thought about it and it was a bad idea that makes `blockingTaskExecutor` an `EventLoopGroup` because a user can specify his/her own executor and the thread pool never times out even when they are not used.
Thanks to @trustin, I can use `ScheduledThreadPoolExecutor` for "Make a `blockingTaskExecutor` a `SchedulerExecutorService`", so let me use that. 😄

[2019-11-15 01:43] snaiper80 commented on #2189
I also need this exactly. Currently, I implemented a simple content previewer that is naive approach using `ContentPreviewerFactory` to decompress the gzipped body stream. But this codes have been running in debug mode only due to performance problem as you're already said.

[2019-11-15 09:26] #1890 closed

[2019-11-15 10:07] trustin commented on #1926
Fixed via #2254

[2019-11-15 10:07] #1926 closed

[2019-11-15 10:08] trustin commented on #2250
Fixed via #2258. Thanks @snaiper80!

[2019-11-15 10:08] #2250 closed

[2019-11-16 07:20] iamazy opened #2268 "Support OAuth2"
Does armeria has any plan to support oauth2?

[2019-11-16 12:49] trustin commented on #2268
Hi @iamazy!

Why not? We want to implement the features useful to our users and there just wasn't a request for OAuth 2 support yet. Now we have one. :wink:

We might not have enough time for implement OAuth 2 by ourselves this year, but we're happy to accept any pull requests, if you are interested.

[2019-11-16 13:14] iamazy commented on #2268
I'll work on it

[2019-11-16 14:20] trustin commented on #2268
@iamazy Just in case, is it just about checking the access token in the `Authorization` header? If that's the case, we have that feature already. Please see:

- [`HttpAuthService`](https://line.github.io/armeria/apidocs/com/linecorp/armeria/server/auth/HttpAuthService.html)
  - Can decorate other service to add authentication.
  - Built using `HttpAuthServiceBuilder`
- [`HttpAuthServiceBuilder`](h

[2019-11-17 02:30] iamazy commented on #2268
It seems to meet my needs，thanks

[2019-11-17 03:15] iamazy commented on #2268
I tried the `HttpAuthService` and It works, But I don't think it can dynamic authenticate user who has authority to access the api according to given token，I need to extract authorities from token

[2019-11-17 03:20] iamazy commented on #2268
Does armaria has security framework like `spring security`?

[2019-11-18 04:20] RyouZhang opened #2270 "what happen in 0.96.0 ?"
update to 0.96.0, I got a execepion:

classMethod FAILED
    java.lang.NoSuchMethodError: com.linecorp.armeria.server.grpc.GrpcServiceBuilder.build()Lcom/linecorp/armeria/server/ServiceWithRoutes;

[2019-11-18 08:35] anuraaga commented on #2171
I missed this issue - for `Service` we can opt a generic HTTP service in with this method

https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/Service.java#L116

For `Client`, I think we can have a similar knob as a `ClientOption` - how does that sound? @imasahiro @trustin

[2019-11-18 23:46] trustin commented on #2270
Hi @RyouZhang. Sorry for the problem. We have some breaking changes in 0.96 which I will write write about in the release note soon.

[2019-11-19 01:03] sivaalli commented on #2164
Hi @trustin , I was able to look into this recently. I had a couple of questions and wanted to reach out to you before starting to write any code.

1. The idea here is to map a function name to a `ThriftFunction` right. For example: if we have 2 services such as (taken from above):
[code]
And when a server builder is created like this:
[code]
Any request with path `/` that has `TMessage.name` matc

[2019-11-19 02:14] #2270 closed

[2019-11-19 02:55] trustin opened #2271 "Add information from ClientConnectionTimings in BraveClient"
Armeria already provides detailed connection timing information such as DNS resolution time, but BraveClient currently does not take advantage of it yet.

[2019-11-19 03:03] trustin commented on #2164
@sivaalli Thanks for looking into this issue first of all. Yes, we should look for a function in the order as specified when building a THttpService. If FooService and BarService both have foo(), the FooService, which was specified first, will be chosen. Please also keep in mind that we also need to support TMultiplexed, which is supported via of(Map) factory method. Let me know if you are not fam

[2019-11-19 06:08] anuraaga opened #2272 "Request time does not take into account connection creation"
Reported in https://line-armeria.slack.com/archives/C1NGPBUH2/p1574122806097100

I believe this is a regression after moving `Endpoint` selection to the begging of the request. We call `startRequest` only when about to send the request, but not anymore. This is affecting spans, but I think it also affects our `totalDuration` metric equally.

[2019-11-19 07:48] anuraaga commented on #2272
To some extent, where we start and stop the request timing is up to us - but especially since we have the wire annotations now, it seems fine to me to have the total span duration match the invocation of the stub method (I guess basically `invoke() -> completionFuture()`). A good enough approximation I'm seeing is to just set the start time when a `ClientRequestContext` is constructed.

[2019-11-19 08:01] trustin commented on #2272
+1 for setting the start time when the context is constructed

[2019-11-19 08:19] anuraaga commented on #2272
It might be great timing to reconsider the `RequestLog` API - I find the `RequestLogAvailability` to be so fine-grained that it's fairly hard to understand, and it makes working with logs (e.g., adding a new logged metric) in Armeria very tedious. I wonder how many people need any availability other than `Complete` - I think log usually ends up being processed / stored into something after a reque

[2019-11-20 04:25] sivaalli commented on #2164
Thank you for quick response @trustin. I'm currently understanding/learning about how thrift works internally. I was able to understand that TMultiplexed is a way to bind multiple services to the same http path by assigning a service name.

And the service name is passed in client request to target a single thrift service. Is my understanding correct? Please correct me if it is not so.

[2019-11-20 05:03] trustin commented on #2164
@sivaalli That's correct! :+1: Ideally, it will be awesome if we have a builder API which allows mapping multiple services with and/or without multiplexing:

    THttpService.builder()
                 .addService(new FooService())
                 .addService(new BarService())
                 .addService("a", new AService())
                 .addService("a", new BService())
                 .bui

[2019-11-20 05:36] ikhoon opened #2274 "Add image for slack invitation link 💌"
I have seen some slack invitation images for the invitation link.
The invitation image would be better than plain text to new Armeria user to find slack link. 😉

For example:
![](https://user-images.githubusercontent.com/609349/63558739-f60a7e00-c502-11e9-8434-c8a95b03ce62.png)

[2019-11-20 12:25] sivaalli commented on #2164
This Builder API idea looks good. I will start working on this 😄

[2019-11-21 05:49] anuraaga opened #2278 "API inconsistency for creating request with new headers"
Currently, we have many factories in `HttpRequest` that take headers as the first parameter

[code]

However updating a request, it's with a second parameter

[code]

This seems inconsistent to me (error prone's default checks wouldn't allow this either I believe there might be an effective java entry about inconsistent overrides). However, much worse than that is that both methods compile for an

[2019-11-22 03:21] sivaalli commented on #2164
Hi @trustin, do you think that entire `THttpService` should support a default serialization format or each service(`FooService` and `BarService`) could specify a different default serialization format?

If each service can have a different default serialization format then we could potentially match the function that supports a specific serialization format from the request. Do you think this is n

[2019-11-22 04:19] trustin commented on #2164
@sivaalli That's a good question. I think we can add such an option later if requested by users. Meanwhile, let's stick to the current behavior - using the same default/available serialization formats.

[2019-11-22 07:08] anuraaga commented on #2243
@ikhoon had asked on the PR to get logs for my computer and CI for test DNS queries. It's a bit more annoying to do on CI, but for now, on my computer I get this.

[code]

[2019-11-22 07:10] anuraaga commented on #2243
My branch with the tests - https://github.com/anuraaga/armeria/tree/dns-test-windows

I noticed that at the top of my logs it lists the DNS servers that were recognized, but the original post is missing that log. It could be nice to get that log if available.

[2019-11-22 09:32] anuraaga commented on #2243
While looking for potential other approaches to finding DNS servers on Windows, I came across this

https://github.com/dnsjava/dnsjava/issues/8#issuecomment-493745283

So I suspect `10.114.0.1` is from an offline NIC. Either way, from @trustin's log it seems like `210.196.3.183` is working and the log actually looks like a successful DNS resolution to me (in the end it cancels AAAA query presumabl

[2019-11-22 09:51] anuraaga commented on #2243
For reference, result of my investigation - https://github.com/netty/netty/pull/9161#issuecomment-557466297

I think I know how to solve the root problem in principle but will take a while to understand how to do Windows SDK development 😅

[2019-11-23 12:02] trustin commented on #2270
The release note has been published. Please let me know if you have any issues while upgrading. :bowing_man: https://github.com/line/armeria/releases/tag/armeria-0.96.0

[2019-11-24 09:48] anuraaga commented on #2243
Went ahead and sent patch for OpenJDK, though we'd probably still need a solution for pre-Java 14 even if it gets accepted.

https://mail.openjdk.java.net/pipermail/net-dev/2019-November/013339.html

[2019-11-25 08:59] trustin commented on #2278
Hmm.. I'm not sure if removing this method help usability or if it's a good idea to disallow sending trailers. How about just renaming to `from()`?

+1

[2019-11-25 09:33] anuraaga commented on #2278
I don't know if renaming helps so much - even then if the second parameter is an `HttpRequest`, it doesn't really work right. So I find it's too hard to use the API correctly, and don't know if it satisfies any general use case.

[2019-11-25 09:37] trustin commented on #2278
It's currently being used in some places like converting `Flux<>` into `HttpRequest/Response`, so I guess we can't just remove it but move it somewhere. Any suggestions?

[2019-11-25 11:03] trustin commented on #1704
Let me close this issue and set 1.0.0 to milestone for the issues which will affect the API design.

[2019-11-25 11:03] #1704 closed

[2019-11-25 11:03] trustin commented on #1704
https://github.com/line/armeria/milestone/151

[2019-11-25 11:14] trustin commented on #2133
I guess we fixed this issue somehow. Let me close this for now, but please feel free to reopen it if you think there's something more left. @ikhoon

[2019-11-25 11:14] #2133 closed

[2019-11-25 11:15] trustin commented on #2122
Thoughts? @anuraaga, @ikhoon, @minwoox

[2019-11-25 11:16] trustin commented on #2109
@young891221 Gentle ping :-)

[2019-11-25 11:19] minwoox commented on #2122
+1 for `rateLimiting`

[2019-11-25 11:20] #2079 closed

[2019-11-25 11:23] trustin commented on #1981
@young891221 Gentle ping

[2019-11-25 11:26] trustin commented on #1946
I think this issue can be closed now that a user can get the actual authority via `ClientRequestContext.endpoint().authority()`. Please feel free to reopen if you think it's not fixed yet.

[2019-11-25 11:26] #1946 closed

[2019-11-25 11:31] trustin commented on #1997
I wonder if you had a chance to play with request/response content previewer:

[code]

[2019-11-25 11:39] trustin commented on #816
I think this issue can be closed thanks to the hard work by @minwoox. Please reopen if you think the issue is still there.

[2019-11-25 11:39] #816 closed

[2019-11-25 11:41] trustin commented on #1120
Seems to be gone long time ago.

[2019-11-25 11:41] #1120 closed

[2019-11-25 11:43] trustin commented on #1070
Let me close this.

[2019-11-25 11:43] #1070 closed

[2019-11-25 11:48] trustin commented on #379
Fixed. A user can get the actual `Endpoint` via `ClientRequestContext.endpoint()`.

[2019-11-25 11:48] #379 closed

[2019-11-25 11:49] trustin commented on #661
Now that we have per-service settings via the new fluent API, it'd be nice if a user can specify the properties such as:

- logger or logger name
- metric name
- service name (used for identifying a service easily, e.g. in distributed tracing)

Related: #1591 #1931

[2019-11-26 05:42] anuraaga commented on #2278
I couldn't find a usage with `HttpResponse` (at least not one that overrides headers like this one). The usage for `HttpRequest` literally filters to `HttpData` - perhaps the best evidence that it's appropriate to just change to `of(RequestHeaders, Publisher<? extends HttpData>`?

`return doCommit(execute(() -> HttpRequest.of(headers.build(), body.map(factoryWrapper::toHttpData))));`

[2019-11-26 05:46] trustin commented on #2278
I'm not sure it's a good idea to change the type parameter from `HttpObject` to `HttpData`. It just happens to work for WebFlux and it may not for some other integration cases.

How about just changing the parameter order of `of(HttpRequest, RequestHeaders)` to `of(RequestHeaders, HttpRequest)` and add some `instanceof` check to `of(RequestHeaders, Publisher)`?

[2019-11-26 05:49] trustin commented on #2278
i.e.

[code]

[2019-11-26 05:50] trustin commented on #2278
Once the deprecated `of()` is removed, the reported ambiguity would be gone.

[2019-11-26 05:56] trustin commented on #2278
On the other hand, I like the idea of replacing `of(HttpRequest request, RequestHeaders newHeaders)` with `HttpRequest.withHeaders()`, which would remove the necessity of `of(RequestHeaders newHeaders, HttpRequest request)`, but maybe it doesn't harm to keep it given it can be paired with `of(RequestHeaders, Publisher)`? :thinking:

[2019-11-26 05:58] trustin commented on #2278
It also makes me think we can deprecate/remove `HttpRequest.of(AggregatedHttpRequest)` and add `AggregatedHttpRequest.toHttpRequest()` (and same for `HttpResponse`). What do you think?

[2019-11-26 06:02] anuraaga commented on #2278
I like the idea of using `to**` like that.

I'm still not convinced about `Publisher` - I point out the Flux example since it seems to be the only way to reliably use the API right now. If the `Publisher` happened to publish request headers, it seems like it would be broken with very vague behavior. Should `PublisherBasedHttpRequest` be filtering the published outputs to filter out `RequestHeaders

[2019-11-26 06:04] anuraaga commented on #2122
`rateLimiting` seems good. A google search for "rate limited sampler" returns basically only results for "rate limiting sampler" :)

[2019-11-26 08:01] trustin commented on #2278
Sent #2283 to address this issue to some extent.

[2019-11-26 09:33] trustin commented on #1631
@ikhoon will work on this.

[2019-11-26 09:48] trustin commented on #2173
The problem described in #2282 is also related with this problem. I understand `pushIfAbsent()` provides some protection against unnecessarily nested contexts, but there are valid cases of nested contexts, such as:

- A service triggering a client request (described in this issue)
- A client triggering another client, i.e. `RetryingClient` (described in #2282)

Therefore, how about relaxing `pushI

[2019-11-26 09:59] anuraaga commented on #2173
I think these basically make sense but does it mean we need to make `AttributeMap` read from parents too? I don't know if it's ever good to completely overwrite the current context (it's what the `ifAbsent` check is protecting against), for example if a span is saved in the current context I think it still needs to be accessible after such a push.

[2019-11-26 11:12] trustin commented on #2173
That's a good question which leads us to #1083. Perhaps we should let a user specify whether an attribute value needs to be copied when a context is derived or nested? e.g.

[code]

We will have to fork/replace Netty `AttributeKey` to do this, though.

[2019-11-26 12:01] #2271 closed

[2019-11-27 07:04] #2278 closed

[2019-11-27 12:21] ikhoon commented on #2122
I googled too. 😀
https://en.m.wikipedia.org/wiki/Rate_limiting seems official expression like `Load Banlancing`.

[2019-11-27 14:57] ikhoon commented on #2133
Thank you for reminding me. I also think this issue has been resolved. 👍

[2019-11-28 10:34] minwoox commented on #2173
I think this should be:
pushing a context when it is one of the parent contexts of the current thread local context.

Yes, I think `RequestContext.parent()` is a good choice for that and also having the `AttirbuteKey` which a user can specify whether to copy or not looks good to me.

[2019-11-29 07:31] anuraaga commented on #2173
Do we have any examples where we wouldn't want to inherit attributes? I feel as if when a context is mounted, semantically it should always be mounted until popped - which is a little different than starting a thread which may or may not have a related lifecycle, so always inheriting seems reasonable. If it seems ok we wouldn't need to fork code keeping things simpler.

[2019-11-29 07:33] trustin commented on #2173
Yeah, we could default to 'always inherit' and then wait for a counter use case.

[2019-11-29 07:35] trustin commented on #2173
By the way, once we introduce `RequestContext.parent()` we might not need to copy the attributes. When not found, could just check the parent.

[2019-11-30 13:37] anuraaga commented on #2243
Based on my investigation, I think in practice this basically only affects Windows laptops that ever connect to a wired network where that network specified internal DNS servers. It's possible to workaround by specifying DNS servers manually for that adapter or enabling the flag we added. This corner case doesn't seem to be enough to enable the flag by default on Windows to me, so maybe we can clo

[2019-12-02 00:52] trustin opened #2287 "Run Corsy to scan CORS misconfiguration"
https://github.com/s0md3v/Corsy

It'd be nice if we can automate to make sure `CorsService` does not produce a bad configuration.

[2019-12-02 08:12] tobias- commented on #1078
I need to get some hours to check what happens with the changes in 0.96 to decorating and HttpService. It might be that the need for ugly-casting is gone.

[2019-12-02 08:49] ikhoon commented on #1078
I missed your mention. 😭 I like to handle issue before 1.0.0 release 🥰

[2019-12-02 11:49] trustin opened #2291 "Improved default path pattern"
We could borrow some neat syntax from Spring 5:

- `/foo/{*bar}` (repeated path component)
- `/foo/{bar:[a-z]+}` (regular expression in a path component)
- `/foo/{bar}_{baz}` (more than one path variable in a path component)
- ...

See https://www.baeldung.com/spring-5-mvc-url-matching for more information.

[2019-12-02 12:48] trustin commented on #1510
I may work on this issue this week.

[2019-12-03 00:28] ikhoon commented on #2243
@anuraaga I’ve learned a lot from your research. I understood why it does not work for Windows. 🙇

[2019-12-03 06:41] anuraaga commented on #2173
Ran into a somewhat related issue

https://github.com/openzipkin/zipkin/issues/2932#issuecomment-561021463

Just need to make sure that with what we do here, in the context of tracing, we don't end up with two client spans in a parent/child relationship. I don't think it's what we're planning here, but that discussion reminded me of this one :)

[2019-12-03 07:21] #2220 closed

[2019-12-03 08:34] #2122 closed

[2019-12-04 06:11] #2008 closed

[2019-12-04 06:38] anuraaga commented on #799
Mentioned it in #2295, but one aspect of having competitive gRPC performance will be to optimize as much of the functionality we have that is not used by RPC frameworks, for example routing.

One idea I haven't explored much is if it's possible to have an especially optimized code path when we no the server does not support complex routing. For example, it should be possible for this object to hav

[2019-12-04 06:49] trustin commented on #799
That's a good idea. For example, we might be able to optimize a lot when there are only simple routes.

[2019-12-04 07:02] ikhoon commented on #799
Oops, I click down(👎) by mistake. 😅

[2019-12-04 10:20] ikhoon commented on #1510
@trustin If you didn't start yet, I'd like to take a look. 😉

[2019-12-05 06:48] #2116 closed

[2019-12-05 07:34] #1631 closed

[2019-12-05 16:13] trustin opened #2299 "Investigate the JAR size increase between 0.94.0 and 0.95.0"
- 0.94.0 - 6780408 bytes
- 0.95.0 - 8322580 bytes

:thinking:

[2019-12-06 03:05] trustin commented on #2299
There are many many favicons at `/com/linecorp/armeria/server/docs/assets` in `armeria-0.95.0.jar`, which takes about 1.7 MiB in total. I guess it's an overkill? /cc @Ta2Rim

[2019-12-06 03:06] trustin commented on #2299
We might want to remove the font files as well and use web fonts from https://fonts.google.com/

[2019-12-06 06:31] #2299 closed

[2019-12-06 06:48] #2164 closed

[2019-12-06 08:22] trustin commented on #2299
0.97.0 will be around 6.2 MiB :tada: Thanks @anuraaga !

[2019-12-07 08:26] anuraaga commented on #1997
I remember now that this didn't work because we use gzip encoding. So possibly can be duplicate of #2189

[2019-12-08 02:08] trustin opened #2304 "Drop support for Tomcat 8.0"
Didn't see any Tomcat 8.0 releases for last several months while 8.5 had many micro bumps.

[2019-12-08 02:10] trustin commented on #1997
Yes. Closing in favor of #2189

[2019-12-08 02:10] #1997 closed

[2019-12-08 02:11] trustin commented on #2189
@anuraaga Any thoughts on this? I can't think of a way to handle this nicely..

[2019-12-08 08:49] anuraaga commented on #2189
@trustin I guess instead of being called in-band by `RequestLog`, the functionality can be moved to a decorator? Then a user gets to decide too whether they want to preview the encoded or decoded content. I think the main APIs are already there, `RequestContext.logBuilder().requestContentPreview(String)` so just need to move the logic to a decorator. It's similar to the decorator linked in #1997 e

[2019-12-08 08:59] anuraaga commented on #2304
Out of curiosity, does similar reasoning apply to the older thrift's?

[2019-12-08 09:12] anuraaga commented on #2272
So - any thoughts on the change to the logging API regards to availability setting? :) @trustin @minwoox @ikhoon

[2019-12-08 09:21] trustin commented on #2304
Unfortunately, Thrift 0.9.x is still widely in use at LINE, so I guess we'll have to wait longer...

[2019-12-08 09:22] trustin commented on #2272
Sorry, missed your comment. How about assuming `COMPLETE` when a user specified no availabilities? That would be less confusing I guess.

[2019-12-08 09:31] anuraaga commented on #2272
@trustin I find it more difficult to actually log things, since it involves figuring out or making a new availability (which are technically not infinite with the current implementation using a bitset). I think your suggestion is referring to consuming logs, but I'm more concerned about adding logs.

For this issue, right now, we have `REQUEST_START` which contains the start time, channel, and oth

[2019-12-08 09:48] trustin commented on #2272
I agree that having too fine-grained availability is bad, but I'm not sure about 'how fine-grained' we need go.  Just having `COMPLETE` doesn't sound like a good idea, either, because some will want to reduce the latency between the actual event and notification. Do you have some specific suggestions for simplification? I did a quick look and it seems to me that `SCHEME` maybe can be merged into `

[2019-12-08 10:07] anuraaga commented on #2272
Looking at the usage in the Armeria codebase, `COMPLETE` seems to be used the most. I do see a use case for `REQUEST_END` since there could be services that last a long time between getting a request and finishing, but really don't see much utility for e.g., splitting the notification for even headers / content, for example. We have some listeners that export to metrics but metrics are averaged an

[2019-12-08 10:36] trustin commented on #2272
Unless we're going to add more than 64 event types, that's basically hiding bit arithmetic into `EnumMap`. I think we will soon use int or long as an internal representation of listener's interest when we optimize things, i.e. bit arithmetic is inevitable, although we can simplify it.

I agree that having an enum value for each field and removing getter/setter flags will simplify our code a lot, w

[2019-12-08 12:41] minwoox commented on #2272
How about providing a new API like `onRequestLogComplete(...)` to `RequestContext` or `RequestLog`?

I really wanted to get rid of every `availability` when I saw this code from the user:
[code]
Of course, this works as expected, but he could just use `RequestLogAvailability.COMPLETE` without much worrying about what kinna availability he had to use.

However, there should be others who want to re

[2019-12-10 06:39] anuraaga commented on #2272
I think we agree there's some simplification we can do. If it's ok, let me play around with this by switching to field-level availability with some coarse-grained callbacks, and see how things turn out.

[2019-12-10 06:44] trustin commented on #2272
OK. Thanks for looking into this, @anuraaga!

[2019-12-10 07:39] ylgrgyq opened #2306 "Performance degradation when using JDK 11 and log4j2"
Hi folks,

Thanks for this great lib. I found an issue and would like to share it with you.

With JDK 11 and multi-release open, the `log4j2` lib will use the implementations with the Java9+ specific classes. This can cause a great performance degradation (roughly 30% in our service) because `Armeria` tries to [create a new `Logger`](https://github.com/line/armeria/blob/armeria-0.97.0/core/src/mai

[2019-12-10 07:39] imasahiro commented on #1396
As of armeria-0.97 and [h2spec v2.3.0](https://github.com/summerwind/h2spec/releases/tag/v2.3.0), there are some violations.

Note that, because armeria could not pass h2spec's `5.1.2.  Stream Concurrency`, test for 5.1.2 is disabled.

[code]

[2019-12-10 07:40] imasahiro commented on #1396
[code]

[2019-12-10 07:45] anuraaga commented on #2306
Thanks for the report this seems like a big issue.

`ServiceRequestContext.logger()` has been deprecated for almost forever - time to remove it? @trustin @minwoox @ikhoon

https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/ServiceRequestContext.java#L260

[2019-12-10 07:59] trustin commented on #2306
That is interesting. I agree that we can remove `ServiceRequestContext.logger()` and make sure `LoggingService` logs the current context explicitly. But why is Log4J2 walking stack when creating a new logger? It seems like a performance bug in Log4J2 after all.

[2019-12-10 11:51] ylgrgyq commented on #2306
I'm not sure. It seems that `log4j2` used to use `Reflection.getCallerClass()`. But this method was removed after Java9. So it use `Stackwalker` instead. This was addressed by `rgoers`, one of the committers of `log4j2`, [at here](https://stackoverflow.com/questions/53049346/is-log4j2-compatible-with-java-11). I think maybe they do not have a better plan for this job.

The specific `StackLocator`

[2019-12-10 12:43] trustin commented on #2306
Thanks for reporting and looking into. We'd like to get rid of `ServiceRequestContext.logger()` in the next release to mitigate this problem.

[2019-12-10 14:02] ylgrgyq commented on #2306
Thanks for reply. 👍 👍

[2019-12-11 07:41] ikhoon opened #2315 "Flaky test: DnsAddressEndpointGroupTest.backoff"
Found at: https://ci.appveyor.com/project/line/armeria/builds/29459636/job/laf55hgwbaktsfg2#L1168

[code]

[2019-12-11 15:40] tobias- commented on #1078
Ok, upgrade complete. Extending the api with HttpService accepting methods did help, but still a lot of weird casts/specification of interfaces. First instinct is to push this for the future and implement a kotlin extension lib with methods for decorating, getting coroutine support etc etc.

[2019-12-12 05:32] minwoox commented on #2173
Had a chat with @trustin about this.
In the example described in #2282, the order of the contexts in thread-local will be:
`ServiceRequestContext` -> `ClientRequestContext1` -> `ClientRequestContext2`
This will have the parent/child relationships between `ClientReqeustContext`s.

This will be not a problem if the `ClientReqeustContext1` and `ClientReqeustContext2` do not have any attribute and loo

[2019-12-12 06:21] anuraaga commented on #2173
So if I understand correctly, a client context will either read from itself, or an ancestor service context in the context chain. That seems fine to me.

[2019-12-12 06:22] minwoox commented on #2173
Exactly, let me work on it. 😉

[2019-12-12 09:36] trustin opened #2317 "Release JARs' `versions.properties` file has `repoStatus=dirty`."
For example, in `armeria-0.97.0.jar/META-INF/com.linecorp.armeria.versions.properties`:

[code]

[2019-12-12 09:40] trustin commented on #2317
Never mind. The repository was really dirty when I release 0.97.0. I had to add some properties to `gradle.properties` to work around the issues with `oss.sonatype.org` when I release 0.97.0. :sweat_smile:

[2019-12-12 09:40] #2317 closed

[2019-12-12 13:13] trustin opened #2318 "Update Apache Thrift to 0.13.0"
Seems like there are no breaking changes in the methods we're calling, which means it's basically:

- Download or build Thrift compiler binary for Windows, Linux and OS X and add them to `gradle-scripts`.
- Rename `/thrift0.11` to `/thrift0.12`.

[2019-12-12 16:09] andrey-tpt opened #2319 "Status.UNKNOWN in attempt to connect to a closed port"
Hi guys,

Found a small discrepancy (unless I'm doing something wrong), when I tested Armeria gRPC client (0.88). StatusRuntimeException/UNAVAILABLE is returned if I send a request to a closed port via pure gRPC client (1.21), however Armeria client in this case returns StatusRuntimeException/UNKNOWN.

This looks misleading - the service is clearly unavailable on the closed port.

Sincerely,
Andre

[2019-12-13 00:29] slyphon opened #2320 "How does one configure a PROXY to use for HTTP(S) clients?"
I'm sorry if this is covered in the documentation already, I've spent about an hour looking through the source and docs and can't figure out how to do this. There are examples for how to make a service that acts as a proxy, but not how to configure a client to use a proxy (as far as I can tell).

I'm using a library that's in turn using armeria to talk to google cloud services using gRPC. At my co

[2019-12-13 02:44] minwoox commented on #2320
Thank you for trying with Armeria!
I'm afraid to tell you that we don't support the proxy protocol on the client-side. We just made the server-side compatible with the proxy protocol.

I think it's not hard to implement it if we make it only work on HTTP protocol (not protocol-agnostic) but there was no demand for that. So we didn't implement it yet but we might work on this after we release 1.0.

[2019-12-13 03:08] ikhoon commented on #2319
Hi @andrey-tpt, Thanks for reporting this issue.
First I've checked the status decision logic, but there is no difference.
* Armeria
https://github.com/line/armeria/blob/85e7e386b7222655d9ae3cf577f0f5f77c5cae85/grpc/src/main/java/com/linecorp/armeria/internal/grpc/GrpcStatus.java#L184-L190
* gRPC-Java
https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/internal/GrpcUtil.java#L

[2019-12-13 03:21] ikhoon commented on #2319
@andrey-tpt Could you test it with the lastest version([0.97.0](https://github.com/line/armeria/releases/tag/armeria-0.97.0)) of Armeria for clarity?

[2019-12-13 03:56] slyphon commented on #2320
OK! That may be why i couldn't find it! Now I don't feel so dumb :)

[2019-12-13 03:56] #2320 closed

[2019-12-13 04:08] trustin opened #2321 "Client-side proxy support"
Related: #2320

We could add support for various proxy protocols to our clients:

- HTTP CONNECT method
- SOCKS
- HAProxy
- Different from the above 3, but usual HTTP proxies

[2019-12-13 04:08] trustin commented on #2320
Created an issue for you - https://github.com/line/armeria/issues/2321

[2019-12-13 04:10] slyphon commented on #2320
Cheers!

[2019-12-13 04:10] trustin commented on #2320
On, and *HI* from an ex-tweep! Happy to see an interest from there. :heart:

[2019-12-13 04:11] slyphon commented on #2320
Glad to see you're doing great things! :D

On Thu, Dec 12, 2019 at 11:10 PM Trustin Lee <notifications@github.com>
wrote:

[2019-12-13 04:29] anuraaga commented on #2319
This is for when the port is closed - so there's no http status to map. In `fromThrowable` above we need to map the exception we see for when unable to connect at all. I think I might have found that hard and left a comment like that ;)

[2019-12-13 05:23] ikhoon commented on #2319
I got `UNAVAILABLE` status when a request is sent to unavailable destination.

[code]

Could you put your full stacktrace log about `StatusRuntimeException/UNKNOWN`?

[2019-12-13 05:34] ikhoon commented on #2319
I think the following code covers the connection fail since it is wrapped with `UnprocessRequestExeption`. #1848
https://github.com/ikhoon/armeria/blob/85e7e386b7222655d9ae3cf577f0f5f77c5cae85/grpc/src/main/java/com/linecorp/armeria/internal/grpc/GrpcStatus.java#L103-L105

[2019-12-13 10:52] andrey-tpt commented on #2319
Thank you, guys. I can confirm that in my case with Armeria 0.97 expected status UNVAILABLE is returned from connection to a closed port. Now I need somehow to migrate from gRPC 1.21 to 1.25.

[2019-12-13 13:22] andrey-tpt opened #2324 "Cannot stop server with gRPC service in 0.97"
Hi guys,

Could be red herring but I was playing with Armeria 0.97 a bit (like it was recommended in https://github.com/line/armeria/issues/2319). It looks like that that I can't stop a server with single gRPC service, line (1) from the code below never returns.

[code]

The same code worked fine in 0.88.

Sincerely,
Andrey

PS. The test is executed from IntelliJ Idea 2019.2 on openjdk 12.0.2+10

[2019-12-13 13:39] ikhoon commented on #2324
@andrey-tpt It is weird... I have tested this in my local environment, and it stopped normally.
My test environments:
* Java: OpenJDK Runtime Environment AdoptOpenJDK (build 12.0.2+10)
* IntelliJ: 2019.2
* Armeria versions: 0.97.0 and current master branch

[2019-12-13 15:12] andrey-tpt commented on #2324
@ikhoon Absolutely. What else can I share?

[2019-12-13 15:17] ikhoon commented on #2324
I'm not sure, but...
* Test result from the clean build.
* Test result from the command line execution.
* Your Operating System.
* warn or error stack trace?

[2019-12-13 15:23] ikhoon commented on #2324
+ Could you share your code on GitHub to reproduce?

[2019-12-14 18:11] andrey-tpt commented on #2324
After some tests it looks like that minor version of Netty makes all the difference

- Armeria 0.88 works fine with both 4.1.42.Final and 4.1.43.Final.

- Armeria 0.97 works with 4.1.43.Final but for some reason I can't stop server on 4.1.42.Final. "Luckily" my
project is on 4.1.42.Final.

Can you try this?

[2019-12-15 04:22] ikhoon commented on #2324
Oh, thanks for the investigation! 🙇‍♂️ I think we need this discussion on how to handle the compatibility program.
Let us talk about next week.

[2019-12-16 10:04] andrey-tpt opened #2325 "SessionProtocolNegotiationException when HTTP/2 is enforced"
Hi guys,

I tried to run 4 cases on the same private key and certificate - just a basic ping request / response over TLS.  Test setup is also straightforward - create client and server and then call remote 'ping' method in the loop 10*1000 times.

1. Bare gRPC / Netty client and server takes ~ 1ms on average locally
2. Bare gRPC / Netty server with Armeria client (h2 protocol) also takes ~ 1ms on

[2019-12-16 10:22] trustin commented on #2325
No worries, @andrey-tpt! We appreciate your issue reports and hope to fix them on time. :smile:

SSL context needs to be configured properly to make it functional in HTTP/2. `ServerBuilder.tls(SslContext)` is actually an advanced-user-only method, but we forgot to mention that properly. `ServerBuilder` also currently lacks the methods like `tls(InputStream, InputStream)` as you noticed. Let us fix

[2019-12-16 11:54] andrey-tpt commented on #2325
Thank you very much, @trustin 🙇‍♂, this helped. Moreover the time to process ping requests is 1.5x lower compared to gRPC - this is very pleasant to see 👍

I think one part of the problem is my assumption that SslContext can be constructed in the same way as with gRPC via SslContextBuilder. On the other hand, there's no mention of SslContextUtil on the wesbite and in any test class outside of SslC

[2019-12-16 12:41] trustin commented on #2325
Nice! It's natural that `SslContextUtil` is not discoverable, because it's part of internal API. Let me try to fix this properly so you don't have to use it next time.

[2019-12-17 01:50] minwoox commented on #2315
[code]

[2019-12-17 10:34] minwoox commented on #2173
That sounds good. Let me work on this after #2322 is merged.

[2019-12-18 01:31] minwoox commented on #1739
Because any implementations of an `HttpResponse` can be returned using a decorator, I think there are two ways to solve this:
- Let the `HttpResponse` have the `ClientRequestContext` if it's in the thread-local when the response is created
- Wrap the returned `HttpResponse` somewhere (perhaps in `UserClient`?) if it does not have the `ClientRequestContext`
[code]

What do you think?

[2019-12-20 05:10] ikhoon commented on #740
I'd like to give it a shot.😄

[2019-12-20 05:40] #1567 closed

[2019-12-20 06:38] trustin commented on #2315
There's an inevitable race condition in this test because `A` and `AAAA` responses can't be sent in a single response in DNS. (There's `ANY` question, but we don't use it because of how DNS servers work - (UDP truncation, etc).)

[2019-12-20 07:41] trustin opened #2331 "Expose how long a request was blocked by `ConcurrencyLimiting*Client`"
There's currently no way for a user to know how long a request was blocked by `ConcurrencyLimiting*Client`. Like we did for `ClientConnectionTimings`, we could expose this information via `RequestLog`, `RequestMetricSupport` and `BraveClient`.

/cc @delegacy

[2019-12-20 08:49] #2315 closed

[2019-12-20 08:57] trustin opened #2334 "Improve the performance of cookie encoding/decoding"
We are currently using `BitSet` to determine if a cookie contains a bad character. Although `BitSet` is compact, accessing it requires fair amount of shift operations and range checks, yielding relatively large penalty. We could:

- Use `byte[]` instead of `BitSet`.
- Use `PlatformDependent.getByte()` to reduce range checks.

.. as we did in #2307 and #2333

[2019-12-20 09:02] trustin commented on #2334
@anuraaga Do you have any other places in mind?

[2019-12-20 09:03] trustin commented on #2334
Hexadecimal conversion is also a good candidate.

[2019-12-21 05:50] trustin commented on #2321
@jrhee17 What about this issue? You asked me about a client-side issue that would help you understand client-side internals and thus might be it.

[2019-12-21 05:53] trustin commented on #2256
@jrhee17 This might also be a good issue for you. Somewhat easier than #2321.

[2019-12-21 05:57] trustin commented on #2025
@jrhee17 and this one

[2019-12-21 17:06] monorisk opened #2339 "> How about setting null to partialHealthCheckStategyBuilder if maxEndpointRatio is equal to 1.0?"
How about this scenario?
`Sets maxEndpointCount after sets maxEndpointRatio 1.0`
We've designed it's mutually exclusive. Should it be mutually exclusive even this scenario?

_Originally posted by @monorisk in https://github.com/line/armeria/pull/2177/review_comment/create_

[2019-12-21 17:07] #2339 closed

[2019-12-22 11:17] trustin commented on #2272
@anuraaga Are you working on this? I'm thinking of adding `RequestLog.name` to resolve https://github.com/line/armeria/issues/1931, so I might need simplification.

[2019-12-22 11:20] anuraaga commented on #2272
Hi sorry - I have a WIP let me finish it up around tomorrow

[2019-12-22 11:25] trustin commented on #2272
I have been thinking about simplification this week and thought perhaps we can reduce the granularity to:

- `REQUEST_IDENTIFIED`
  - Basically when we can build a correct meter ID for metric collection, e.g. request name (or RPC method name) has been determined.
- `REQUEST_END`
- `RESPONSE_END`
- `COMPLETE`

.. because there has not been any use case reported so far.

[2019-12-22 11:33] trustin commented on #2272
No worries. Please take your time. I will look into other issues. :wink:

[2019-12-23 02:45] #1510 closed

[2019-12-23 02:47] trustin commented on #1510
The groundwork for adding support for Log4J2 is now done.

[2019-12-23 07:18] trustin commented on #1752
This isn't fully resolved yet. For example, a user cannot override the `ObjectMapper` used by some other services.

[2019-12-23 07:38] #2165 closed

[2019-12-23 07:42] trustin commented on #2165
@Cronnay You can now use Armeria with Dropwizard, thanks to @cricket007 's awesome work. :wink:

[2019-12-23 08:03] trustin commented on #2318
Fixed via #2337

[2019-12-23 08:03] #2318 closed

[2019-12-23 23:42] Cronnay commented on #2165
This is honestly amazing.

We decided to use something else, but it's great to see that you have implemented it! Will look out Armeria in future. Well done to both of you!

Happy holidays!

[2019-12-24 04:32] trustin commented on #2165
Thanks! Would you mind letting us know about which you chose and what made you made that decision, so we know more about our competitors?

[2019-12-24 07:00] trustin commented on #1719
The remaining builder classes that need migration:

- `ClientBuilder`
- `DefaultClientBuilderParams`
- `ServerListenerBuilder`
- `HttpAuthServiceBuilder`
- `SimpleCompositeServiceBuilder`
- `SimpleCompositeRpcServiceBuilder`
- `CorsPolicyBuilder`
- `CorsServiceBuilder`
- `DocServiceBuilder`
- `HttpFileBuilder`
- `HttpFileServiceBuilder`
- `LoggingServiceBuilder`
- `JettyServiceBuilder`
- `ArmeriaR

[2019-12-24 10:49] #2325 closed

[2019-12-24 11:11] trustin commented on #1910
I guess we can implement this behavior like the following:

1. Define a dedicated exception that signifies there are no endpoints available.
2. Implement the delayed response somewhere in the beginning of client request execution path where the exception defined at (1) is caught.

[2019-12-24 11:12] trustin commented on #1910
That being said, I guess it may not affect our current API, which means we may be able to move this to post-1.0. What do you think, @anuraaga?

[2019-12-24 11:35] anuraaga commented on #2243
@trustin @ikhoon Just to confirm if Java 14 has the fix and we're happy with having a JVM that works, would we be able to remove this flag post-1.0.0? I guess it's not a breaking change to ignore system properties (and JDK itself doesn't fear flag breakages).

[2019-12-24 11:36] anuraaga commented on #2189
@trustin Probably good to target this for 1.0.0

[2019-12-24 11:37] trustin commented on #2243
@anuraaga OK with removing it, but perhaps it doesn't harm because it's off by default? It may even be useful when JDK had a regression. :laughing:

[2019-12-24 11:42] trustin commented on #2189
Yeah, I wonder how it will impact our current service binding builder API. It would result in a surprise if a user specifies previewers there and forgets to add a previewing decorator. Any idea for preventing this? Just checking with `as()` ?

[2019-12-24 11:44] anuraaga commented on #1936
I guess we'll want to do the proposed splitting of safe and unsafe APIs before 1.0.0. I have something in mind so will play with it.

[2019-12-24 11:49] anuraaga commented on #970
@trustin Should we give this another look and close if it seems infeasible? I guess it would affect the API in a major way.

[2019-12-24 11:51] anuraaga commented on #253
@trustin Think we need to give this a think to see if it will require changing the API before 1.0

[2019-12-24 11:56] anuraaga commented on #1910
I agree this is just behavior change so can untarget 1.0

[2019-12-24 15:47] trustin commented on #970
I think we went too far already and our implementation has interesting features like `SubscriptionOption` which cannot be replaced easily with Reactor. I also tend to prefer shorter stack trace :wink:

[2019-12-24 15:47] #970 closed

[2019-12-24 15:58] trustin commented on #1936
Thanks, @anuraaga. I'm curious what changes will come. Since we added `SubscriptionOption`, the idea that came out of the discussion at https://github.com/line/armeria/pull/1938#pullrequestreview-268774847 might need some revision (or maybe not). Let me know once you have some prototype API.

[2019-12-24 18:32] 4whomtbts commented on #1719
It has been on progress since this monday. Apologize for for slow progress (__)

[2019-12-25 01:54] ikhoon commented on #2243
Java 14 is scheduled for a production release on March 17 2020. Maybe Armenia release 1.0.0 is faster than Java 14. I leaned forward to leaving the flag for troubleshooting with Window and ~Java13.

I think we need to confirm the JDK blocking dns resolution this does not cause a deadlock problem(@anuraaga said in https://github.com/line/armeria/pull/2261#issuecomment-55375840) to keep going with i

[2019-12-25 03:52] anuraaga commented on #2243
I mainly wanted to confirm we're ok with removing flags post-1.0.0. If so, we don't have to worry about it now.

We have three workarounds now, probably a record given the low chance of hitting the corner case ;)

- Enable this flag (potential minor performance issue with blocking event loop)
- Set DNS servers for both wireless and wired adapters explicitly (annoying but not terrible)
- Wait for J

[2019-12-26 06:04] ikhoon commented on #1719
@4whomtbts It's good to be back! I think you need to know some changes in #2335.
1) Please make sure your current branch is up to date from the master branch. Lots of class which have `HTTP` keyword have been deprecated.
2) `HttpAuthServiceBuilder` and `HttpFileServiceBuilder` have been done, you may want to skip them.
3) This issue is scheduled to apply before [release 1.0.0](https://github.com/l

[2019-12-26 09:01] trustin opened #2345 "Provide more than `Invocation` to `MeterIdPrefixFunction`"
`armeria-retrofit` provides `InvocationUtil` which allows a user retrieve Retrofit's `Invocation` object when writing `MeterIdPrefixFunction`, notably `RetrofitMeterIdPrefixFunction`. It'd be even nicer if we can provide more than that, such as:

- The route (path pattern) of the current request.
  - Requires some annotation scanning to retrieve the values of method annotations like `@GET(...)`.
-

[2019-12-26 10:15] 4whomtbts commented on #1719
Yes. My local branch is currently up-to-date.
Thank you for fill me in!

[2019-12-27 02:15] trustin opened #2346 "Migrate all tests in the examples to JUnit 5"
The `spring-boot-minimal-kotlin` example started using JUnit 5, but our example conversion script still uses JUnit 5. It'd be nice to migrate all examples to JUnit 5 for consistency.

[2019-12-27 02:22] heowc commented on #1880
https://github.com/line/armeria/pull/2335#issuecomment-569164808

[2019-12-27 10:10] minwoox opened #2347 "Automatic propagation of RequestContext"
One of the most complaints from the users is that they are struggling to propagate a `RequestContext`. Check out this snippet:
[code]

If we return a `RequestContextAwareCompletebleFuture` from `aggregate()` call, most of the situations are solved because `RequestContextAwareCompletebleFuture` keeps spwaning the future itself when adding callbacks.

Of course, we cannot propagate the `ReqeustConte

[2019-12-27 10:11] minwoox commented on #2347
@anuraaga I wanted to listen to your opinion before I go ahead because I feel you are reluctant Armeria to have this feature. 😄

[2019-12-27 10:36] anuraaga commented on #2347
I think you know my opinion ;)

If relying on context and writing an asynchronous server, knowing how context works is a requirement - I find bandaids to be worse since the context bug will inevitably appear, but later in the lifecycle of the codebase and has an even higher chance of affecting production vs development servers. Being confused in the beginning is better than later IMO.

Also, IMO w

[2019-12-27 11:50] #1083 closed

[2019-12-27 11:53] minwoox commented on #2347
Thanks for your opinion. I do agree with most of the problems you pointed out. 😄
Let me figure it out how we handle (or don't handle) this whole context propagation things so that users can use Armeria in a better way. 😃

[2019-12-28 10:12] heowc commented on #2346
Can I do it?

In addition, I thought that after creating `spring-boot-minimal-kotlin`, it would be fine to remove [the checkstyle configuration](https://github.com/line/armeria/blob/master/examples/spring-boot-minimal-kotlin/build.gradle.kts#L36...L43).

[2019-12-30 07:32] #2304 closed

[2019-12-30 15:41] trustin commented on #1719
Once #2352 is merged, these are probably the last:

- ClientBuilder
- DefaultClientBuilderParams
- new SimpleCompositeService(...)
- new SimpleCompositeRpcService(...)
- new DocService()
- new ArmeriaRetrofitBuilder(...)
- KeyStoreCredentialResolverBuilder

They are somewhat trickier than others, so let me handle them by myself.

[2019-12-30 15:49] trustin commented on #1719
Need to replace contants with factory methods as well:

- `EventCount.ZERO`
- `ClientCacheControl.*`
- `ServerCacheControl.*`
- `PrometheusMeterRegistries.defaultRegistry`
- `AuthTokenExtractors.*`
- `CorsConfig.DISABLED`

[2019-12-30 15:55] trustin opened #2353 "Add gRPC reverse proxy server example"
.. which is similar to our HTTP reverse proxy server example.

[2019-12-31 06:31] 4whomtbts commented on #1719
Ok.  I got it.

[2019-12-31 06:42] #2136 closed

[2019-12-31 07:11] #1739 closed

[2019-12-31 07:18] trustin commented on #2306
Fixed via #2341

[2019-12-31 07:18] #2306 closed

[2019-12-31 08:44] #2346 closed

[2019-12-31 14:18] #1207 closed

[2019-12-31 15:37] trustin commented on #2347
I prefer automatic context propagation. It will be bad if there's an inevitable pitfall that lets a user get a completely wrong context, but I guess we have fair amount of protection for that in @minwoox's recent work. :clap:

As @anuraaga pointed out, an unpropagated context can be a problem with automatic propagation because a user may have hard time finding out where the propagation stopped, bu

[2019-12-31 15:40] trustin commented on #2347
@imasahiro @kojilin @taicki @julnamoo @hktechno @renaudb What do you think? Which would you prefer, automatic or manual context propagation?

[2019-12-31 15:41] trustin commented on #2347
@imasahiro @kojilin @taicki @julnamoo @techno @renaudb What do you think? Which would you prefer, automatic or manual context propagation?

[2019-12-31 15:42] trustin commented on #2347
and @tobias- as well.

[2019-12-31 17:32] anuraaga commented on #2347
My point doesn't seem to have gone across - no one should explicitly propagate context. But for complex async apps, they should use something's like Kotlin, RxJava, or Dagger which have good tools for automatic propagation of context even for non-Armeria code. So understanding context is mostly just to the extent if using it properly with these tools. I think it's better for the Armeria team to fo

[2020-01-02 08:05] anuraaga opened #2360 "Check for over-exposed APIs"
We noticed in https://github.com/line/armeria/pull/2343 that there is a public interface for controlling timeout marked as internal-only in Javadoc. Generally, we should be able to avoid that by using the `internal` package, but we may have some APIs that are exposed that shouldn't be.

A couple I found are
- DefaultServiceRequestContext
- DefaultClientRequestContext

I think users are supposed to

[2020-01-02 08:17] minwoox commented on #2360
I agree. We can even make `DefaultServiceRequestContext` package-local.

[2020-01-02 08:24] trustin commented on #2360
+1

[2020-01-02 08:30] anuraaga commented on #2353
@trustin Could you define more what a gRPC reverse proxy is? Would it just be a normal service implementation that delegates to another stub? In general, I make reverse proxies for gRPC services by using a normal HTTP reverse proxy.

[2020-01-02 08:32] ikhoon commented on #2353
It was originally requested in https://line-armeria.slack.com/archives/C1NGPBUH2/p1577719334033400

[2020-01-02 08:38] anuraaga commented on #2353
Thanks for the link! It does look like the original request was just for a normal HTTP proxy so maybe we already have the example, or it could be extended with rule matching.

For reference, here's an Armeria reverse proxy that allows simple path-based routing (perfect for gRPC) - https://github.com/curioswitch/curiostack/tree/master/gateway/server

[2020-01-02 09:09] minwoox commented on #2173
Had a chat with @trustin and decided to leave warning logs multiple times to let the users know something is going wrong.
We will still throw an exception because otherwise some critical resources can be shared such ae access token, etc.

[2020-01-02 09:14] trustin opened #2362 "Reconsider the usage of `Optional<T>` in our API"
The early API such as `Scheme.tryParse()` and `Server.activePort()` returns an `Optional` while more recent APIs just return `null`.

Given that `Optional` tends to make user code verbose and JDK will nor make `Optional` a value type due to backward compatibility (which is a shame..), I think it's better just returning a nullable value.

This guarantees breaking changes, but migration should be as

[2020-01-02 09:16] minwoox commented on #2362
Let's get rid of all of'em!

[2020-01-02 10:08] anuraaga opened #2364 "Split WebClient into blocking / async versions?"
An idea came to mind (inspired by one @adriancole made about async vs not being global decisions rather than call-site ones), would it make sense to split `WebClient` into these three versions?

- `BlockingWebClient`, always returns `AggregatedHttpResponse`
- `AsyncWebClient`, always returns `CompletableFuture<AggregatedHttpResponse>`. `ClientOption`s to specify whether to pool or not, and whether

[2020-01-02 10:40] ikhoon commented on #2362
👍 I think this is also good for interop with Kotlin. #1078

[2020-01-02 12:07] trustin commented on #2347
I see where you're coming from now :smile:

But does automatic context propagation interfere with those technologies? It's still useful for simpler applications, so I think it'll be nice to have something easy to use in our sleeves for those who starts to play with Armeria.

[2020-01-02 12:58] trustin commented on #1084
I had a chance to think about this issue lately and realized that it is not possible to tie an `EndpointGroupRegistry` into a `ClientFactory` because a user might want to use a different `ClientFactory` for `EndpointGroup`s. For example, a user may want to use separate set of event loops for health checks or DNS queries.

However, it would be still nice if `EndpointGroup`s are closed automatically

[2020-01-02 13:03] trustin commented on #1084
How about integrating `EndpointSelectionStrategy` into `EndpointGroup`, e.g.

[code]

...? No need to overload more methods in `Clients` and things look cleaner.

[2020-01-02 13:32] trustin commented on #2364
Sounds good to me all in all.

`AsyncWebClient` doesn't sound nice to me though.. `AggregatingWebClient`? :thinking:

[2020-01-02 13:34] trustin commented on #2364
These new clients could be created via two ways - via `WebClient` or `Clients`:

[code]

[2020-01-02 15:03] renaudb commented on #2347
I don't feel strongly one way or another. We've been burned by it in the past when using static `CompletableFuture` methods such as `allOf` or `anyOf` which won't be automated with this proposal, so we're already more careful about it.

[2020-01-02 15:08] jrhee17 commented on #2256
starting work on this 😉

[2020-01-03 01:19] ikhoon commented on #2256
Making a test case to reproduce this defect would be a good starting point. 😉

[2020-01-03 01:21] sivaalli commented on #1738
Hi @trustin , this is to add a new method like `ServerBuilder.tlsSelfSigned(Consumer<? super SslContextBuilder> tlsCustomizer)` right? So that users do not have to do this:

[code]

[2020-01-03 02:05] sivaalli commented on #1263
Hi @trustin, Can I look into this? Or is it already implemented?

[2020-01-03 02:30] trustin commented on #1738
Actually, we do not need to resolve this issue anymore thanks to the new `tlsCustomizer()` method. Forgot to close this. :sweat_smile:

[2020-01-03 02:30] #1738 closed

[2020-01-03 02:31] trustin commented on #1263
Sure! Thanks for looking into it. It's not implemented yet.

[2020-01-03 02:31] sivaalli commented on #1282
@anuraaga @trustin I was just looking into this issue to see if I can contribute, and looks like this functionality(EC keys) is added at [netty](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslContext.java#L1142). Am I right?

[2020-01-03 02:34] trustin commented on #1282
I guess this issue may be a duplicate of #1985? It's not EC but PKCS12 that causes the problem IIUC.

[2020-01-03 02:35] #1719 closed

[2020-01-03 02:39] sivaalli commented on #1282
Oh yeah. My bad.

[2020-01-03 05:59] julnamoo commented on #2347
Thinking it is the point is understanding the context propagating rather than introducing the automatic propagation ☔️

[2020-01-03 10:19] minwoox commented on #760
Let me work on this.
As @anuraaga [suggested](https://github.com/line/armeria/pull/2311#issuecomment-564434584) I might add `SubscriptionOption` later to give the user a choice not to push the context if we need.

One thing I'm not sure is that we were arguing in #2311 that we need to push the context when invoking all of `onX` method.
My initial implementation was pushing context when calling `on

[2020-01-03 14:51] trustin opened #2368 "Client-side support for reactive-grpc"
It seems like our gRPC client implementation does not work well with the gRPC stubs generated with reactive-grpc, because we have hard-coded checks here:

https://github.com/line/armeria/blob/master/grpc/src/main/java/com/linecorp/armeria/client/grpc/GrpcClientFactory.java#L112-L114

Perhaps we could generalize it a little bit more so reactive-grpc is supported on the client side as well?

/cc @cb

[2020-01-03 17:11] cbornet commented on #2368
Would be great indeed ! It seems you just have to look for newRxStub and fallback to newReactorStub if it's not found, then to the standard stubs if still not found.

[2020-01-04 00:44] trustin commented on #1084
If there's no objection, I'll give it a shot next week after #2177 is merged. /cc @monorisk

[2020-01-04 00:46] trustin commented on #1913
Can't think of a good way to solve this. Should we close this now that it's relatively simple to use the same settings?

[code]

[2020-01-04 00:47] trustin commented on #253
@anuraaga I was rather thinking of adding an extra API for this after 1.0. What API changes do you expect?

[2020-01-04 03:44] anuraaga commented on #1913
The code is much better. I think we can leave the API at that.

It's still a bit unfortunate that it's easy to forget though. Do you think it's possible for a client to handle 4xx errors and if it is using a health checked endpoint group which doesn't have the same options, show a warning that the user may have missed this?

[2020-01-04 03:48] anuraaga commented on #253
Yeah that would be the needed check :) Just need to confirm it will all be separate API. One thought that comes to mind is supporting multiple objects in `AggregatedHttpRequest` though if it's a different class than we're good.

[2020-01-04 03:49] anuraaga commented on #1084
SGTM

[2020-01-04 07:49] minwoox commented on #1084
:+1:

[2020-01-04 10:46] #740 closed

[2020-01-04 16:29] trustin commented on #2360
For the classes that cannot be hidden, we could introduce annotations like `@UnstableApi` (similar to Guava's `@Beta`).

[2020-01-05 06:18] anuraaga commented on #2347
I worry what happens when the user starts to play, then adds in their DB call and get hurt. I'm also worried about a codebase that only uses context-awareness for non-Armeria, and the reduced reasonability of the code.

I found in #2363 that even for a very simple server, automatic propagation wouldn't work mainly due to @renaudb's good point of the static future methods not being intercepted.

Al

[2020-01-06 02:55] minwoox commented on #2347
Due to the limit that we cannot do it automatically in all cases, it seems like the cons heavily outweigh the pros. So let me close this and thanks all for the valuable opinions!

For the consistent APIs, let me revert the RpcResponse back to `DefaultRpcResponse`.

[2020-01-06 02:56] #2347 closed

[2020-01-06 03:45] trustin commented on #2347
Thanks a lot for valuable feed back, folks. :bowing_man:

[2020-01-06 08:05] trustin commented on #2025
Fixed via #2338

[2020-01-06 08:05] trustin commented on #2025
Thanks again, @jrhee17 !

[2020-01-06 08:05] #2025 closed

[2020-01-06 09:58] anuraaga opened #2378 "Add CompletableFuture converters to armeria-rxjava"
I wrote my first code using `armeria-rxjava` and I was surprised that despite us having official integration, I still needed another library, `future-converter` to actually use it with Armeria, which heavily uses `CompletableFuture`. Should we expose these converters in `armeria-rxjava` itself? We could probably just shade that library in, or reimplement since it's not a lot of code.

[2020-01-06 10:19] ikhoon opened #2379 "Flaky test: `DefaultServiceRequestContextTest.setRequestTimeoutAfter`"
[code]
https://ci.appveyor.com/project/line/armeria/builds/29916482/job/44afi912xdrarqk3#L1065

[2020-01-06 13:21] #2362 closed

[2020-01-07 05:06] #2173 closed

[2020-01-07 05:44] ikhoon commented on #2378
The `future-converter` is an interesting library. https://github.com/lukas-krecan/future-converter

[2020-01-07 07:37] #2379 closed

[2020-01-07 16:53] ibauersachs commented on #2243
How did you come to the conclusion that Java 14 fixes this?

[2020-01-08 03:50] anuraaga commented on #2243
I have a patch almost finished for openjdk (link to email thread is a few comments up) which should get in for it I think.

[2020-01-08 05:38] ikhoon commented on #2378
I'm working on this issue.

I tested [`FutureConverter.toSingle(cf)`](https://github.com/lukas-krecan/future-converter/blob/master/rxjava2-java8/src/main/java/net/javacrumbs/futureconverter/java8rx2/FutureConverter.java#L40) to reimplemente it in Armeria. It emits a `ProtocolViolationException` exception when I specify a `Scheduler` to `Single`.

[code]

The error messages:
[code]

[2020-01-08 07:24] ibauersachs commented on #2243
I saw that patch, but the only reaction was from an Apache developer in November and nothing since. You need to follow up on that or its going to rot there on the mailing list. JDK14 is already in the rampdown phase, so im almost certain your patch won't make it there.

[2020-01-08 08:29] trustin commented on #1953
Fixed via #2177. Thanks again, @monorisk

[2020-01-08 08:29] #1953 closed

[2020-01-08 08:56] anuraaga commented on #2243
It looks like the web UI doesn't thread across months, please check out the December and January archives too

https://mail.openjdk.java.net/pipermail/net-dev/2019-December/013360.html

I've been working with a couple Oracle devs to clean it up and have gotten positive responses all in all. You're right that with some year-end delays, I'm not sure if this will hit or be pushed to 15 but given ther

[2020-01-08 09:08] ibauersachs commented on #2243
I indeed missed that because of the threading, thanks for the pointer. And many thanks for keeping up and finally getting this 10+ years old bug fixed in the JDK!

[2020-01-08 10:00] tobias- commented on #2347
Sorry I didn't chip in before. I took an extended vacation during christmas/new years. For the record, my vote is with @anuraaga in that I prefer explicit propagation. The only problem with that is afaik grpc server methods, because they have a fixed signature, which afaik does not include access to any armeria-specific context. Since I write in Kotlin, I use coroutines(fibres?) extensively, but I

[2020-01-08 12:51] ikhoon commented on #2378
While implementing the `CompletableFuture` converter, I found the the RxJava3 plans to raise the base line to Java8. It has Java8 interop features. https://github.com/ReactiveX/RxJava/blob/3.x/src/main/java/io/reactivex/rxjava3/internal/jdk8/SingleFromCompletionStage.java

[2020-01-08 14:02] trustin opened #2384 "Make `ClientFactory` a part of `ClientOptions`."
When creating a new client derived from an existing client, a user can write the following code:

[code]

Perhaps we could make `ClientFactory` a part of `ClientOptions`, so that a user doesn't have to specify it manually?

I don't think we have do this for `path` though, because it's part of the endpoint URI.

[2020-01-08 18:57] max904-github opened #2385 "Using ClientFactoryOptions causes NPE during client connection"
`ClientFactoryOptions.DEFAULT` overrides the defaults set by `ClientFactoryBuilder` which causes NPE (at `HttpChannelPool` constructor) during client connection, which makes `ClientFactoryOptions` impossible to use.

**The code to reproduce the issue:**

[code]
**The exception thrown during client connect:**

[code]
**The code that throws NPE (`HttpChannelPool.<init>`):**

[code]

**Analysis:**

`

[2020-01-08 18:59] max904-github commented on #2385
It's latest 0.97.0 release

[2020-01-08 19:16] max904-github commented on #2268
FYI, I have integrated ScribeJava OAuth framework with Armeria client. You can find it at https://github.com/max904-github/scribejava .
As OAuth 2 becomes more and more common for the enterprises (e.g. 5G core network), it would be nice to have end-to-end token management integrated directly into Armeria. Communications to OAuth server could be delegated to a third-party like ScibeJava, or could b

[2020-01-08 23:59] ikhoon commented on #2274
@syleeeee Can we get the invitation image from the LINE’s internal designer👨‍🎨?  🙇

[2020-01-09 02:02] syleeeee commented on #2274
Sure! I'll talk to her and get back to you.

[2020-01-09 02:33] minwoox commented on #2347
It's not me. Thanks to @anuraaga. 😆

[2020-01-09 03:57] ikhoon commented on #2378
I think we don't need to add our own `SingleFromCompletionStage` now.
RxJava 3 will be released at the end of January 2020. The builtin `SingleFromCompletionStage` will be exposed to `armeria-rxjava` with RxJava 3.

These are useful links for RxJava 3:
* [RxJavaBridge - Bridge between RxJava 2 and RxJava 3](https://github.com/akarnokd/RxJavaBridge#features)
* [What's different in 3.0](https://gith

[2020-01-09 05:30] minwoox commented on #760
Thanks to @trustin, we can use context captor to get `ClientRequestContext` before subscribing which means that a user who wants to use the context in `onSubscribe` can use that.

So I think we can close this issue. 😄

[2020-01-09 05:30] #760 closed

[2020-01-09 05:42] minwoox commented on #2385
Thanks a lot @max904-github for the detailed information.
Could you send the fix for us? If you couldn't we can take this. Just let us know. 😄

[2020-01-09 06:28] trustin opened #2386 "Long-polling health check cannot detect unresponsive servers"
With long-polling health check, it is currently not possible to distinguish unresponsive servers who just accepts sockets doing nothing. `HealthCheckService` must send some informational headers periodically, such as `102 Processing`.

For compatibility with the old long-polling `HealthCheckedEndpointGroup`, we're gonna have to update the format of the `armeria-lphc` header value.

[2020-01-09 07:55] ikhoon commented on #2378
I think `armeria-rxjava` could rename to `armeria-rxjava2` and `armeria-rxjava` can support RxJava 3. Maybe it will happen before releasing Armeria 1.0.0.

[2020-01-09 08:54] max904-github commented on #2385
No, I don't have a fix for this. Currently, I'm using the workaround I've described.
There are several problems to solve here. Most importantly, the contradiction between ClientFactoryOptions and ClientFactoryBuilder defaults. It seems, ClientFactoryOptions should only carry some user defined options and possess no defaults.
It would make sense for someone with much better knowledge than me to fix

[2020-01-09 09:02] ikhoon commented on #2385
That's a good point even though the documentation said it is default options.
https://github.com/line/armeria/blob/bd28eb2499c9149613098de17bc1479919dc3fd7/core/src/main/java/com/linecorp/armeria/client/ClientFactoryOptions.java#L103-L108

Maybe we need `ofDefault()` or `empty()`. Let me fix this issue. :-)

[2020-01-09 09:36] max904-github commented on #2385
The issue is not just in `ClientFactoryOptions.of()` method. I used it to demonstrate the problem. Actually, I needed to use `ClientFactoryOptions.of(Iterable<ClientFactoryOptionValue<?>> options)` method and supply my custom options. The result was the same as all those `ClientFactoryOptions` methods populate the defaults. I ended up bypassing the `ClientFactoryOptions` due to this problem.

[2020-01-09 09:37] trustin commented on #2268
@max904-github That sounds awesome. It'd be really cool if we have `armeria-scribejava` in our repository. Are you interested in working on this?

[2020-01-09 09:39] trustin commented on #2268
No. We hope to provide modules that integrate with well established security frameworks, though. Spring Security could be one of them, if we can use it without pulling in too much transitive dependencies.

[2020-01-09 09:44] max904-github commented on #2268
@trustin Sure. I can contribute. Let me advance further on my OAuth related project and I will try to come up with some proposal for Armeria integration.

[2020-01-09 09:45] trustin commented on #2232
#2375 will remove `onEnter()` and `onExit()` by the way.

[2020-01-09 09:48] trustin commented on #2232
I agree that we need to avoid pushing a context unnecessarily, and thus we should not push a context when a callback is given a context as a parameter. Thoughts? /cc @ikhoon @imasahiro @kojilin @anuraaga

[2020-01-09 09:53] trustin commented on #1084
Thinking of allowing an `EndpointGroup` implementation to add a listener to a `ClientFactory` so that it can close itself when the `ClientFactory` is closed. What do you think?

[2020-01-09 09:54] trustin commented on #2268
Thanks a lot in advance, @max904-github. Please feel free to let us know if you encounter any issues while working on it. :bowing_man:

[2020-01-09 12:47] anuraaga commented on #2232
I agree with the general idea of not pushing when `ctx` is referencable by the user. There is one caveat in that sometimes features require the context to actually be in a thread local to work - if we didn't push context in the brave decorators tracing wouldn't work properly. So sometimes it's not only about finding a `ctx` variable in scope or not. This will be a very low minority of the cases th

[2020-01-09 13:21] minwoox commented on #2232
Oops, I forgot to leave a comment for this.
I think it's okay to push the context when we call `onRequestLog()`.
(Sorry I've changed my mind. 🙏)

The reason I filed this issue is that 1) we had a bug which was raising an exception when calling `ctx.makeContextAware` with a `ClientRequestContext` in the thread-local 2) I saw some really heavy initialization logic in `onEnter()`.
But now, we fixed t

[2020-01-09 13:56] trustin commented on #2232
Isn't pushing a context still some amount of overhead? The decorators like `Brave{Client,Service}` could push the context manually? I'm not strong on either options but I'm curious if it's possible to remove `ctx.push()` for lots of things - `Client.execute()`, `Service.serve()` and `RequestLogListener`.

[2020-01-09 14:22] anuraaga commented on #2232
@trustin Right, sorry what I meant is that the brave decorators would still need to push the context while we don't need to push it in many other cases we do now. Just that the decision to push is not as trivial as "is there a variable named ctx in scope", though I wish it was ;)

[2020-01-09 14:25] minwoox commented on #2232
I think it's not that much, but I think I should do the benchmark for that.

I think we need the `ctx` in the thread-local for Retrofit client, Thrift, gRPC client and services.
So I think it's a little bit awkward not to push the context only for the `WebClient` and `HttpService`. 🤔

[2020-01-09 14:36] anuraaga commented on #2232
To add a bit more context (yes I said it feel free to bring out the 🗡 ;)

- I am most concerned about the performance of automatically mounting the context in a `Subscriber`. I don't think `onNext` should be treated specially within a `Subscriber` since it's all part of the same interface, but in that case if we automatically mount in subscirbers,  we mount in `onNext` which can be fairly signific

[2020-01-09 14:53] minwoox commented on #2232
I thought we've already decided not to push the ctx. 😆

Yes, I agree with it. 😅 I should've given another example for that.
I think there's a chance that an `HttpService` which triggers to send a Thrift or gRPC requests to the other backend. The client has to know about `root` so that it can do (for example) tracing. 😄
Also because the `ClientRequestContext` knows about the `root` which invoked th

[2020-01-09 15:47] anuraaga commented on #2232
Thanks for the example! Indeed, we rely on the thread-local to manage the service root context - this does indicate that the server does need to always mount the context once. We could or could not mount the client context for symmetry, even though we don't have such a use case for it. I would lean towards not, since we already decided not to have `ClientRequestContext` as a root since there doesn

[2020-01-10 01:30] minwoox commented on #2232
Oops, I realized that the RxJava hook uses that too. https://github.com/line/armeria/blob/master/rxjava/src/main/java/com/linecorp/armeria/common/rxjava/RequestContextAssembly.java#L238

So if a user uses RxJava APIs in a client decorator, we should still push the context into the thread-local.

So I guess, we have only one left. `RequestLogListener`
Because we are revamping RequestLog APIs so the

[2020-01-10 02:37] minwoox opened #2389 "Log requestHeaders when it's failed to send the headers"
Currently, if the request is not sent and failed, we just log the request cause and dummy headers. But we can log the request headers so that a user can get more information from the exception logs.

[2020-01-10 02:52] heowc commented on #2149
@SooJungDev  @trustin  Gentle ping 😉

I'm interested in this. Can I try?
Or can you recommend another issue?

[2020-01-10 02:58] trustin opened #2390 "Improve the usability of `WebClient`"
From an internal feed back:

Using method chains like Spring WebClient is easy for me to write http request. Annotation pattern like Retrofit is also easy for me.I prefer the Spring WebClient way to annotation pattern.

Spring WebClient

Prepare a method which maps HttpResponse to Java Object, like `bodyToMono<T>`

[2020-01-10 02:59] trustin commented on #2390
Related: #2148

[2020-01-10 06:57] SooJungDev commented on #2149
yes, you can try!! thank you:wink:

[2020-01-10 07:48] syleeeee commented on #2274
@ikhoon
Thinking of the suitable image size, I realized that we haven't included any icons in the README.
It would be awkward if people's eyes are taken away to the image button, not the project itself when the button image is in the middle.

As an alternative, wouldn't the badges be simple and familiar instead of the invitation button? Also, we're already using the badges in [the main page](https

[2020-01-10 07:59] ikhoon commented on #2274
I agree that the image button is a little strong for our `READMD.md`. Badges are simple and used among lots of open source projects in GitHub.

Furthermore, if we use badges, users can easily check the Maven release version and build status. 👍

Let's use badges!

[2020-01-11 06:11] trustin commented on #1913
Done in #2386

[2020-01-13 08:22] #2385 closed

[2020-01-13 09:43] tobias- opened #2393 "Cache problem when reading more different files than entries in cache"
When configuring a low value for `maxCacheEntries` and having more than that different files being downloaded simultaneously, one (the oldest? the newest?) of the requests will throw an exception like this and return 500. I don't consider this to be an error, but a better error message would be nice.

in Armeria 0.95 when serving static files (still haven't upgraded that particular server).

[code

[2020-01-13 11:37] max904-github opened #2394 "Add advanced throttling mechanism based on Token-Bucket algorithm"
The [Token Bucket](https://en.wikipedia.org/wiki/Token_bucket) is an algorithm used in packet switched computer networks and telecommunications networks. It can be used to check that data transmissions, in the form of packets, conform to defined limits on bandwidth and burstiness (a measure of the unevenness or variations in the traffic flow).
I have developed a server-side throttling integration

[2020-01-14 03:25] #2386 closed

[2020-01-14 06:43] #2345 closed

[2020-01-14 07:11] heowc commented on #2149
@trustin

I've been analyzing the code for a few days, and I have some questions.

Does it mean to use `Meterfilter`? Or does it mean a similar implementation? It seems strange to integrate with spring boot if you mean to implement similarly.

Why should the user set max cardinality in `MetricCollecting {Client, Service}`? Isn't it a good idea to set it in the registry?

If I'm misunderstanding, p

[2020-01-14 15:41] trustin opened #2397 "Fix Kotlin plugin warning from Gradle"
Getting the following warning when building Armeria:

[code]

@heowc, would you mind taking a look?

[2020-01-14 20:30] abkura commented on #1711
@gquintana where you able to get SSL working with armeria?

[2020-01-15 01:27] heowc commented on #2397
Oops... I'll check.😂

[2020-01-15 02:16] minwoox commented on #1409
The duplicator has to enable a user to
- Abort it
  - All subscriptions are aborted and all elements are discarded
- Close it
  - Close, here, means that the duplicator is not subscribable and all elements are discarded after all subscriptions are done.
- Make it closed after one more subscription
  - Closed means the same status described above.

The `FixedStreamMessage` has to be a duplicator to

[2020-01-15 02:31] ikhoon commented on #1409
I guess "@trustin would say I don't like this name" 🤣

How about limiting the max subscription with a number than signal?

[code]

[2020-01-15 02:33] minwoox commented on #1409
In retrying client, we do not know how many times we have to subscribe.

[2020-01-15 02:53] anuraaga commented on #1409
I'm not sure why we need the subscription option or cloaeAfter type pattern. Can't we have a `close` method called after the last subscription?

[code]

[2020-01-15 03:28] minwoox commented on #1409
Anyway, it's probably good to provide those option to close the duplicator.

As you know, we introduce the duplicator to use in `RetryingClient`.
If a `Client.execute(...)` is called, the flow is:
[code]

In `RetryingClient`, we duplicate the `HttpRequest` as many as we have to until the retrying is done (so we don't know how many times it has to be duplicated).
Also, we duplicate the `DecodedHttp

[2020-01-15 03:31] minwoox commented on #1409
This one looks good even though there's not so much chance the parameter is other than 1.

[2020-01-15 04:24] anuraaga commented on #1409
I guess this is still ok since we can call `close` after the n number of retries finish

I guess we duplicate the response to be able to publish headers twice, once for checking the retry strategy and once to return to user. Is this a correct use of duplication? I feel as if examining an object to make a business logic decision can be a filtered message.

I'm finding the `closeAfter`, `maxSubscrib

[2020-01-15 05:37] minwoox commented on #1409
Yes, that's what I mean. 😄 We have to call `close` anyway.

Basically right, even though there's a chance that publishing body as well, if a user uses `RetryStategyWithContent`.

Do you mean using `FilteredStreamMessage`? The messages to be filtered, something has to subscribe to the publisher. Of course, user API can't do this because we don't know if we continue to retry or not.

Yes, I agree. P

[2020-01-15 05:44] minwoox commented on #1409
Let me describe the current duplicator:
[code]
One of the reasons that we added `dupcliateStream(lastStream)` is that it discards the elements which are already published to all subscribers.

[2020-01-15 05:52] ikhoon commented on #1409
Does it seem overkill? 😄 I'm not strong that. 😉

[2020-01-15 05:53] trustin commented on #1409
`dupcliateStream(lastStream)` sounds OK to me.

[2020-01-15 05:56] minwoox commented on #1409
So you think the old approach is the best?

[2020-01-15 05:58] trustin commented on #1409
Ah, no. I meant it's better than having to call close() later.

[2020-01-15 06:02] minwoox commented on #1409
Ah, thanks. I misunderstood. 😄

If we keep the old approach, all we have to do is just removing the public constructor and adding a method to `StreamMessage` before 1.0.
But I'm not sure this is the best API that we can have. 🤔

[2020-01-15 06:04] minwoox commented on #1409
One thing I didn't mention about `dupcliateStream(lastStream)` is that this is possible under current implementation:
[code]

[2020-01-15 06:04] trustin commented on #1409
All in all, I like the new API proposed by @minwoox.

Even if we provide this option, we need to allow a user to choose when to prevent further subscription dynamically (like shown in the `LAST_SUBSCRIPTION` option), too, because the number of duplicates are not always deterministic.

[2020-01-15 06:28] trustin commented on #1409
I think this is not an expected behavior. How about prohibiting further duplication after last duplication is made?

----

The main difference between the old and new API is that `RepeatableStreamMessage` is still a `StreamMessage` in the new API, while `StreamMessageDuplicator` is not a `StreamMessage`. I think it's a kind of double-edged sword. If a `RepeatableStreamMessage` is passed to some co

[2020-01-15 06:38] minwoox commented on #1409
Then, I should fix the duplicator. 🤔

If the current way for duplicating `streamMessage` (duplicateStream(), duplicateStream(true)) is fine because it's not going to be changed, then it's okay to me. 😄

[2020-01-15 06:39] trustin commented on #1409
Sounds good to me. Thanks, @minwoox!

[2020-01-15 06:54] anuraaga commented on #1409
Thanks for the clear explanation @trustin. Exactly, if it's kept in an interface separate from `StreamMessage` then it seems fine to me too.

[2020-01-15 07:02] minwoox commented on #1409
Let me work on this. Thank you all for the iead. 😄

[2020-01-15 17:56] cricket007 opened #2402 "Support for JSON:API"
While `DocService` seems useful, it might get more benefit from having a JSON-API spec.

https://jsonapi.org/

https://jsonapi.org/implementations/#client-libraries-java

[2020-01-16 03:04] abkura opened #2403 "OPENSSL_internal:NO_SHARED_CIPHER with TLSv1.2"
What does TLS handshake failed:","javax.net.ssl.SSLHandshakeException: error:100000b8:SSL routines:OPENSSL_internal:NO_SHARED_CIPHER"  exception really mean?

[2020-01-16 03:04] #2397 closed

[2020-01-16 03:29] trustin commented on #2403
Hi! It means there are no common cipher suites between the client and the server, which usually means one of them has an old or misconfigured SSL/TLS setup. HTTP/2 requires both clients and servers support a minimum set of cipher suites. Please make sure to enable those cipher suites.

[2020-01-16 03:30] trustin commented on #2403
Oh, and please let us know if both client and server are Armeria.

[2020-01-16 03:32] trustin commented on #2402
Do you suggest that 1) `DocService` API itself needs a JSON-API spec or 2) `DocService` needs to generate JSON-API specs for the user services?

[2020-01-16 03:48] minwoox opened #2404 "Schedulers.isInNonBlockingThread() should return true on EventLoop"
In #1665, we made our `EventLoop` implement `NonBlocking` interface so that a user who uses Project Reactor gets a warning log when he/she is using a blocking call on our `EventLoop`s.
We didn't use `NonBlocking` in Project Reactor, but added it under our own `reactor.core.scheduler` directory because we didn't want to add the Reactor dependency to the core.
However, it doesn't seem to work so we

[2020-01-16 04:14] abkura commented on #2403
Thanks @trustin for your answer. I'm trying to configure HTTPS for Zipkin Server which uses Armeria.

Below is the configuration:

[code]
Seeing any of the below error message however i keep the configuration

1)  TLS handshake failed:javax.net.ssl.SSLHandshakeException: error:10000416:SSL routines:OPENSSL_internal:SSLV3_ALERT_CERTIFICATE_UNKNOWN

2)TLS handshake failed:","javax.net.ssl.SSLHandsha

[2020-01-16 04:34] cricket007 commented on #2402
I'm not sure what (1) would provide since it's mostly documentation anyways while allowing you to invoke the services defined in the Server, right?

Therefore, leaning towards (2)

From one link

Therefore, I suppose it could be an external module, but outside of gRPC/Thrift, I think you've got some overlap with some features that OpenAPI or JSONAPI provide

[2020-01-16 06:02] trustin commented on #2402
OK. Sounds reasonable. Some additional questions:

- What service types would you expect Armeria to support? I guess not all services can produce JSON-API spec, but some may be possible? e.g. annotated services
  - Is is possible to generate practically useful spec from Armeria services? We previously tried that for OpenAPI and the result wasn't that great, because it wouldn't work without adding

[2020-01-16 06:11] cricket007 commented on #2402
Annotated services seems a good start to me, at least looking at the Crnk implementation.

If an offline client generator is possible like swagger-codegen, that would be nice, however, I feel that's out of scope for just the context of a server able to follow/implement the spec, so "when the server is running"

[2020-01-16 06:53] #1913 closed

[2020-01-16 06:53] #2384 closed

[2020-01-16 07:02] trustin commented on #2403
Does the server page load without a problem when browsed from a web browser? Then, I think you need to configure your client properly, not the server.

[2020-01-16 07:17] minwoox commented on #2402
Yes, I tried but couldn't finish it. 😅 You might want to check out the [code](https://github.com/minwoox/armeria/blob/create_openapi/core/src/main/java/com/linecorp/armeria/server/annotation/AnnotatedOpenApiReader.java).
We needed to add more annotations which are just for describing the service behavior.
The problem was that the description is not from the code but just a string, it tends to beco

[2020-01-16 11:17] anuraaga commented on #2404
This looks like it was a proguard issue up to 0.97.0. The `NonBlocking` interface is empty and wasn't used anywhere in our code so got stripped away as being a no-op. If you look at the published JAR, it doesn't have the `reactor` package and the bytecode for `EventLoopThread` does not reference `NonBlocking`.

But the issue should already be fixed at HEAD - now we use the `NonBlocking` interface

[2020-01-16 11:29] minwoox commented on #2404
Ah, I couldn't even imagine that. Thanks!

[2020-01-16 11:36] ikhoon commented on #2404
Thanks for the inspection! The mystery is solved. 🕵️‍♀️

[2020-01-16 11:40] ikhoon commented on #2404
Already Fixed by #2275

[2020-01-16 12:29] abkura commented on #2403
I get the message. Do you think the client should be looked at?

[code]

[2020-01-16 12:38] abkura commented on #2403
I believe the behavior i see and what this ticket line/armeria#1844 are same. I've followed the ticket but not able to get to a conclusion to what change is needed to make it work

[2020-01-16 14:12] trustin commented on #2403
Are you using a self-signed certificate?

[2020-01-16 14:15] abkura commented on #2403
Thats right.

[2020-01-16 14:56] trustin commented on #2403
In that case, I think you need to configure your client to accept invalid certificate. I guess there's an option for that in your client API. What client are you using?

[2020-01-16 15:08] abkura commented on #2403
ZipkinServer is included with Armeria and i'm trying to start ZipkinServer with Armeria serving on HTTPS. ZipkinServer starts up and when accessing the GUI of it i see exceptions coming out of netty.

For you question i would like ZipkinServer as Client API

Verified that i see same exceptions as of  #1844

[2020-01-16 15:52] trustin commented on #2403
I'm not familiar with how to configure the client you're using. How about asking at Zipkin community?

[2020-01-16 16:11] abkura commented on #2403
Sure will reach out to them. Can you point me a way to find allowed ciphers in OpenSSL/Armeria

[2020-01-16 17:04] trustin commented on #2403
I think cipher suite is not a problem. You have to configure your client to accept self-signed certificate, i.e. disable certificate chain validation, although it's obviously not safe.

Anyways, Armeria uses the default cipher suite specified in Netty:
https://github.com/netty/netty/blob/9fa974f6a5fa4d90fc13572c92d94e0681db4570/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2SecurityUt

[2020-01-16 19:05] abkura commented on #2403
Thanks a lot Trustin for your time

[2020-01-17 09:14] trustin opened #2408 "Allow specifying the port (or nic) for Spring Boot Actuator"
`WebOperationService` is currently always bound to `Server`'s all ports. It'd be nice if there's a way to limit/disable `WebOperationService` for other ports than a specific port/remoteAddr/NIC.

Armeria currently is not capable of binding a service to a specific port only, but we could simply respond with 404 if the request came from a wrong port. Internally this could be implemented as a generic

[2020-01-17 09:26] trustin commented on #2403
My pleasure, @abkura. Please feel free to reopen if this turns out to be an issue with Armeria.

[2020-01-17 09:26] #2403 closed

[2020-01-17 17:30] cricket007 commented on #1880
Link back #1078

[2020-01-17 17:32] cricket007 commented on #1951
Link back #801

[2020-01-17 17:33] cricket007 commented on #1955
[Jooby](https://jooby.io/) does this, but uses Asciidoc

[2020-01-17 17:35] cricket007 commented on #1959
If only there were "sjf4j". *Simple JSON Façade for Java* 😃

[2020-01-20 04:04] #2404 closed

[2020-01-20 07:03] minwoox commented on #1969
Superseded by #2272

[2020-01-20 07:03] #1969 closed

[2020-01-20 07:10] minwoox commented on #1645
I think this is solved by #2184

[2020-01-20 07:10] #1645 closed

[2020-01-20 07:11] trustin commented on #1645
Thanks, @minwoox

[2020-01-21 03:06] minwoox commented on #2189
That's a good idea. Let me work on this. I think we can add `ContentPreviewingService` and `ContentPreviewingClient` with their builders. Inside the decorator, we can use `FilteredStreamMessage` to subscribe once.

[2020-01-21 03:39] anuraaga commented on #2189
@trustin Sorry for not replying to your question. My idea was just to remove the current service binding content preview flags since the decorator itself could have all the configuration.

[2020-01-21 03:40] minwoox commented on #2189
Yes, we can completely move the logic to the decorators. 😉

[2020-01-22 09:35] ikhoon opened #2414 "Unexpected Exception when pushing`RequestContext`"
While testing gRPC server & client, I saw the following exception with `WARN` message.
[code]

The error can be reproduced by executing the `simpleNonBlocking` test with 20% chance.
https://github.com/line/armeria/blob/08afa31fbe512e65a2e38bfcd6a3315ed313c241/grpc/src/test/java/com/linecorp/armeria/it/grpc/DownstreamSimpleBenchmarkTest.java#L95-L113

[2020-01-22 10:04] minwoox commented on #2414
😱

[2020-01-22 11:22] minwoox commented on #2414
I fount the cause. Will send a PR soon.

[2020-01-23 01:10] minwoox commented on #1409
I will work on this after 1.0 because we changed the API which will not bring another breaking change while working on this.

[2020-01-23 01:13] minwoox commented on #2232
`onEnter` and `onExit` are now gone.
We don't have to worry about `RequestLogListener` because we use `CompletableFuture` and callbacks.
For `Client.execute()` and `Service.serve()`, we need to push because of RxJAva hooks and validation logic.
So I think it's okay to close this issue. 😄

[2020-01-23 01:13] #2232 closed

[2020-01-23 07:53] trustin opened #2416 "gRPC client and service without Protobuf"
Although solved partially with #1703, but it'd be nice if we can let our users use an alternative marshaller instead of Protobuf while still using gRPC-Java API, as demonstrated in this blog post by @carl-mastrangelo: https://grpc.io/blog/grpc-with-json/

@anuraaga told me it is already possible on the server side since we allow a user to mount any `BindableService`s, but client-side needs some mo

[2020-01-23 08:01] anuraaga commented on #2416
Just to clarify #1703 isn't really related. The server side should be done already since grpc-java can be used to create a bindable service for arbitrary method descriptors and our marshaller does fall back to non-proto

https://github.com/line/armeria/blob/master/grpc/src/main/java/com/linecorp/armeria/internal/grpc/GrpcMessageMarshaller.java#L94

Actually we had a prototype of the zipkin integra

[2020-01-23 11:09] #2414 closed

[2020-01-23 19:28] abkura opened #2417 "Dcom.linecorp.armeria.dumpOpenSslInfo=true flag throws server into infinite loop"
Version: Armeria 0.95

[code]

[2020-01-24 14:13] minwoox commented on #2417
Thanks a lot for the report. 🙇 #2418 will fix this. Thanks!

[2020-01-27 21:35] cricket007 opened #2419 "Kotlin / Lombok / Immutables to reduce getter/setters?"
There is a fair amount of getter/setters that could be removed with the following options

- Kotlin data classes
- [Lombok](https://projectlombok.org/)
- [Immutables](https://immutables.github.io/getstarted.html)

[2020-01-29 01:51] trustin opened #2421 "Provide `String` constants corresponding to `MediaType` constants"
From @tobias-

Sounds like a good suggestion, as long as we can add some test cases that ensure the strings and `MediaType`s are in sync.

[2020-01-29 11:36] #1931 closed

[2020-01-29 11:38] #2417 closed

[2020-01-29 11:47] trustin commented on #1931
A user can now set the current request's name via: `ctx.logBuilder().name("do-something")`. It can be set only once.

[2020-01-29 11:51] adriancole commented on #1931
ok thanks!

[2020-01-29 12:04] anuraaga commented on #2243
https://hg.openjdk.java.net/jdk/jdk/rev/559fcd53e782 has finally landed. But unfortunately it does look like it'll have to wait until Java 15 to finally fix this bug :)

[2020-01-29 12:38] minwoox commented on #2243
:scream:

[2020-01-30 04:02] trustin opened #2426 "Reorganize the web site"
I'd like to introduce a more user-friendly web site which hosts the following:

- The landing page
  - https://miragejs.com/
  - https://spring.io/
- Tutorials (perhaps post-1.0)
  - Maybe using Stepik? https://stepik.org/ See IDEA integration: https://www.vojtechruzicka.com/idea-edu-tools/
- Slides and Videos
- References (the current documentation)

Please feel free to let me know if you have an

[2020-01-30 04:04] #2319 closed

[2020-01-30 04:12] trustin commented on #2419
Do you have a specific class you have in mind? We've been refraining from using such code generation options because:

- it can confuse a user in his/her debugging session.
- the generated Javadoc might not be on par with hand-written ones.

[2020-01-30 04:21] ikhoon commented on #2324
I've tested Armeria 0.97.0 gRPC server with Netty 4.1.42.Final. It stopped normally. 🤔

[2020-01-30 04:22] anuraaga commented on #2426
The IDE integration of stepik is pretty cool but the website (actually it encouraged downloading an app...) seems too heavyweight for tutorials, it's really a courseware platform.

Recommend giving a look at codelabs, I find them pretty easy to create and use.

https://github.com/googlecodelabs/tools
https://developers.curioswitch.org/codelabs/writing-a-codelab/#0

[2020-01-30 05:42] JunoJunho commented on #2421
I want to handle this issue.

Is it okay just make pull request for this issue?

[2020-01-30 05:47] cricket007 commented on #2419
Mostly the low-hanging POJO classes. E.g. [I don't see any JavaDoc on this](https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/internal/PathAndQuery.java#L145-L185)

[2020-01-30 06:43] trustin commented on #2419
Ah, yeah. Internal classes could be candidates. But not the public classes.

[2020-01-30 06:52] trustin commented on #2421
Yes, please. Thanks a lot in advance, @JunoJunho!

[2020-01-30 06:54] trustin commented on #2421
Perhaps we could create a new constant class `MediaTypeNames` and put strings there.

[2020-01-30 07:31] ikhoon commented on #1410
Another thread dump, It is caused by GoAway frame
[code]

[2020-01-30 08:17] ikhoon commented on #1410
Based on the previous thread dump,
1) The server receives the `GOAWAY` frame.
2) Close all Active stream
https://github.com/line/armeria/blob/b29ea824f72b6c18a47ca55aef7f1902c958b043/core/src/main/java/com/linecorp/armeria/internal/AbstractHttp2ConnectionHandler.java#L120-L122
3) Flush `outboundBuffer` buffer
https://github.com/netty/netty/blob/0cde4d9cb4d19ddc0ecafc5be7c5f7c781a1f6e9/transport/sr

[2020-01-30 08:18] minwoox opened #2428 "Intermittent test failure in ZooKeeperRegistrationTest"
[code]

[2020-01-30 10:18] rstoyanchev opened #2431 "Implement new rawStatusCode methods on ServerHttpResponse"
The following change https://github.com/spring-projects/spring-framework/commit/547342b27d39efdb7ef6de068897b972e85c7b23 makes it possible to provide non-standard status codes as integer. However `ArmeriaServerHttpResponse` would need to implement the new methods in order to take advantage of this.

[2020-01-30 10:20] trustin commented on #2431
Thanks for pinging us. Are you interested in sending a pull request or shall we take care of it for you?

[2020-01-30 10:24] rstoyanchev commented on #2431
No, I won't have the time I'm afraid. Simple change but still.. Mainly I wanted to leave a ping since the default methods would otherwise hide it.

[2020-01-30 10:28] trustin commented on #2431
OK. I might want to ping you when the PR is ready. :bowing_man:

[2020-01-30 10:30] trustin commented on #2431
Seems like the commit was not released yet. Will revisit once 5.2.4 is released.

[2020-01-30 11:56] trustin commented on #2426
codelabs is also an option. I'd like to try both (or more) :-)

[2020-01-30 12:05] trustin commented on #2426
Another option would be just to run two Sphinx sites - one for tutorials and the other for references.

[2020-01-30 12:37] trustin commented on #2426
What's the difference between CodeLabs and other static site generators? If I understood correctly, a CodeLabs tutorial is basically a Markdown page statically generated by `claat`. I see there are nicer static site generators that do pretty much same job with more powerful plugins, e.g. [VuePress](https://vuepress.vuejs.org/), [Docusaurus](https://docusaurus.io/en/), Sphinx, ...

[2020-01-30 13:03] trustin commented on #2272
Let me try to take a look into this soon.

[2020-01-30 13:40] anuraaga commented on #2426
By the way I only meant for the tutorials.

It's similar to other tools in terms of generation but presents just a small amount of syntax as a tutorial. Some markdown headings get rendered as steps of a tutorial, including e.g., saving step progress in local storage. The lack of power is a feature :)

I looked at docasaurus too before and it looks nice but not for what I really needed, easy to wri

[2020-01-30 16:54] dylmeadows commented on #2368
I would love to take a stab at this. We are currently running into this issue using the reactor generated stubs.

[2020-01-30 17:24] dylmeadows commented on #2368
I actually just saw that it was fixed in #2376. Are there snapshot builds available that I can use until 0.98 is released?

[2020-01-30 18:55] cricket007 commented on #2419
Also - https://blog.scottlogic.com/2020/01/03/rethinking-the-java-dto.html

[2020-01-31 01:52] minwoox opened #2432 "Support Server-Sent Events broadcasting"
It will be nice if we provide Server-Sent Events broadcasting.
[Reference](https://eclipse-ee4j.github.io/jersey.github.io/documentation/latest/sse.html#d0e11436).

[2020-01-31 02:26] trustin commented on #2368
Yeah, it's been fixed already at master. Let me publish the snapshot build now to oss.sonatype.org

[2020-01-31 02:41] trustin commented on #2368
Upload complete. Should be available at https://oss.sonatype.org/content/repositories/snapshots/ with version number 0.97.1-SNAPSHOT.

[2020-01-31 02:42] #2368 closed

[2020-01-31 05:25] #1084 closed

[2020-01-31 08:04] anuraaga opened #2434 "Add HttpStatus.isSuccess"
As you know, I tend to be hesitant about shortcut methods, but this one does seem like it could help a lot since it's extremely common.

[code]

[2020-01-31 08:05] trustin commented on #2434
How about adding other `is*()` methods as well?

[2020-01-31 08:07] anuraaga commented on #2434
I think they're less common but guess `isRedirect` and `isError` would be good too. Not sure it's worth splitting client and server error for such shortcuts

[2020-01-31 12:32] #2189 closed

[2020-02-01 11:14] trustin commented on #2360
@anuraaga I found we expose protobuf-generated classes such as `Debug`, `StackElementProto` and `ThrowableProto` in `common.grpc`. Should we hide it from the public API?

[2020-02-01 11:22] anuraaga commented on #2360
I don't think we need to hide generated protos unless we actually hid protobuf itself too, which I guess isn't possible for gRPC.

In addition, for those classes I actually want us to commit to the protocol itself - Armeria transparently converts to domain objects but I think it's good if non-Java languages also can matshal those structs. For best UX I guess we would want to extract a module with

[2020-02-01 11:40] trustin commented on #2360
OK. I think the name `Debug` sounds somewhat vague. Do you have a better name? I also would like to make protoc generate some Javadoc for `Debug` class, which is left empty at the moment.

[2020-02-01 12:03] trustin commented on #2360
The classes that could be hidden or annotated with `@UnstableApi`:

- `DefaultClientRequestContext` and `DefaultServiceRequestContext`
- `*Provider`
- `DefaultRpcResponse...`
- `DefaultRequestLog`
- `DocServicePlugin` and its related classes such as `*Info`

The classes that could be removed completely due to their dubious value:

- Everything in `server.logging.structured{,.kafka}`

[2020-02-01 12:58] anuraaga commented on #2360
Are you referring to the `Debug` outer class generated by `debug.proto`? Indeed, a relic of proto generation is putting everything inside a single class but we use `java_multiple_files` to avoid this and I couldn't find a reference using that outer class. I believe we could strip out that outer class in packaging if we want to, or otherwise rename debug.proto to a mangled name.

Let me know if thi

[2020-02-01 13:18] trustin commented on #2360
Yeah, that's what I'm referring to. :smile:

[2020-02-01 13:23] trustin commented on #2360
Another question: Should we hide our Jackson `JsonSerializer` implementations from the public API? We annotate the eligible types with `@JsonSerialize` and `@JsonDeserialize` already.

[2020-02-01 13:29] trustin commented on #2360
@minwoox @ikhoon @anuraaga It's good time to go through the public API and add what you want to hide to this issue.

[2020-02-01 13:35] trustin commented on #2360
Note to self: Make sure most classes are `final` so that we have more freedom to add methods to them later.

[2020-02-01 14:21] monorisk commented on #2431
@trustin
May I try to solve this?
I would like to implement a `setStatusCode(Integer statusCode)` and then it will get non-standard `HttpStatus` by `HttpStatus.valueOf(statusCode)`.
If anyone has a good idea, please let me know. 🙇‍♂️

[2020-02-03 02:06] jrhee17 opened #2440 "Add a static constructor for FailFastException"
We would like to be able to create mock tests for cases when circuitbreaker is opened.
However, it seems like `FailFastException` is `final`, and doesn't have any public static constructors.
It would be great if `FailFastException` had a method like `ClosedSessionException.get`

[code]

Let me know if this is something you guys are open to considering 🙇

[2020-02-03 05:51] #2272 closed

[2020-02-03 06:18] trustin commented on #2440
Sounds good to me. I think it's just OK to make the constructor public, add Javadoc and add `requireNonNull()` on the parameter.

[2020-02-03 06:29] JunoJunho commented on #2440
Can I handle this issue?

[2020-02-03 07:12] JunoJunho commented on #2440
I just have a simple curiosity on the constructor's visibility.

Is there any reason to make the constructor as default?

[2020-02-03 09:22] syleeeee commented on #2426
What about the news?
https://spring.io/blog/category/news

It would be great if there's a page to show our recent tweet and upcoming events (+newsletters?).

[2020-02-03 15:31] trustin opened #2447 "Rename `ClosedPublisherException` to `ClosedStreamException`?"
`ClosedStreamException` sounds more aligned with HTTP's notion of 'stream' and our type `StreamMessage`. I think we can also make `ClosedSessionException` extend `ClosedStreamException`, because a closed session inherently means that the stream has been closed.

[2020-02-04 00:02] ikhoon commented on #2447
👍 That is a nice idea. The name of `ClosedStreamException` may explain the error situation in HTTP/2 stream better.

[2020-02-04 08:27] ikhoon opened #2451 "Flaky test: `GracefulShutdownIntegrationTest.testHardTimeout`"
[code]
https://ci.appveyor.com/project/line/armeria/builds/30555295/job/wdxcek5f253xxpen#L1511

[2020-02-04 08:56] #1410 closed

[2020-02-05 01:33] iceflower commented on #2432
Can we solve this issue with embedded hazelcast?

[2020-02-05 02:01] #2440 closed

[2020-02-05 11:04] ikhoon opened #2455 "Gradle task fail to download `BOM`"
After uploading Armeria artifacts by `./gradlew publish`, I couldn't download the BOM.

When upgrading Armeria version to `0.97.1-SNAPSHOT` in Central Dogma with updated Gradle script. It could not download the BOM.
~https://packages.atlassian.com/content/groups/public/com/linecorp/armeria/armeria-bom/0.97.1-SNAPSHOT/~ (improper proper link)

https://oss.sonatype.org/content/repositories/snapshots

[2020-02-05 11:04] ikhoon commented on #2455
/cc @anuraaga

[2020-02-05 21:47] 4whomtbts commented on #1854
When I was working on healthChecker for my project and I thought that It would be good If Armeria has those healthChecker implementations as default :) !

Could I work on this issue?

[2020-02-06 02:12] minwoox commented on #1923
Do we have a plan for this?

[2020-02-06 02:14] ikhoon commented on #1923
I thought we can utilize this as DSL. But I’m not sure this is a good change or not. 🧐

[2020-02-06 02:29] ikhoon commented on #1923
On second thought, I guess a separated layer for Kotlin DSL is needed, so we don’t need to change this. Let me close this issue. 🙏

[2020-02-06 02:29] #1923 closed

[2020-02-06 02:56] ikhoon commented on #2455
Sorry, this is my mistake. I didn't configure the snapshot repository. 😭

[2020-02-06 02:56] #2455 closed

[2020-02-06 08:02] 4whomtbts commented on #1854
@trustin
When I was working on healthChecker for my project and I thought that It would be good If Armeria has those healthChecker implementations as default :) !

Could I work on this issue?

[2020-02-06 08:04] trustin commented on #1854
Sure. Please tell us what kind of health checkers you'd like to implement first, though. :-)

[2020-02-06 08:36] 4whomtbts commented on #1854
@trustin
1. Memory based healthChecker
Q :
Do you want to the healthiness is determined by server's heap memory usage
or system's memory usage?
Either that or, provide both of them?

2. disk usage rate based healthChecker

Plus, what I want to suggest to implement is CPU based healthChecker that the healthiness is determined by average CPU usage which is a result of calculation of average during c

[2020-02-06 08:36] #2434 closed

[2020-02-06 09:45] anuraaga opened #2463 "Verify using IPv4 addresess when IPv6 isn't available logic for Armeria's DNS resolvers work"
I had a report that after upgrading Armeria, requests started to fail with for example `com.linecorp.armeria.client.UnprocessedRequestException: io.netty.channel.AbstractChannel$AnnotatedNoRouteToHostException: null: cloudtrace.googleapis.com/2404:6800:4004:80a:0:0:0:200a:443, scheme=gproto+https, headers=[:method=UNKNOWN, :path=?, :scheme=https, :authority=?], content=DefaultRpcRequest{serviceTyp

[2020-02-06 09:48] JunoJunho commented on #2421
This can be closed?

[2020-02-06 09:56] trustin commented on #2463
`RefreshingAddressResolverGroup` follows this logic: https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/RefreshingAddressResolverGroup.java#L66-L81

[2020-02-06 09:57] Waynefn commented on #1966
Cool. I found the improvement just recently when I using it!

[2020-02-06 10:04] trustin commented on #2421
Yes. :smile:

[2020-02-06 10:04] #2421 closed

[2020-02-06 10:15] danada commented on #2463
Thanks for this.

To add some background, the server is running on Google Cloud and the problems go away after adding `-Djava.net.preferIPv4Stack=true` to jvm args.

[2020-02-06 11:37] trustin commented on #2463
Can we get the `ip link` and `ip addr` output (with some values masked)?

[2020-02-06 12:45] minwoox commented on #2463
Oops, we don't have that condition here. https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/endpoint/dns/DnsAddressEndpointGroup.java#L108

[2020-02-06 14:20] anuraaga commented on #2463
@danada What are the before and after versions of Armeria where you see the issue?

[2020-02-06 14:23] minwoox commented on #2463
Ah, So This is happened after upgrading Armeria, right?

[2020-02-06 14:53] danada commented on #2463
We went from 0.95.0 to 0.97.0. I will try to get `ip link` and `ip addr` outputs tomorrow morning!

[2020-02-07 02:57] danada commented on #2463
Sorry for the delay, here's the output (don't mind the busybox aliases):

[code]

[code]

[2020-02-07 03:46] #2451 closed

[2020-02-07 03:56] anuraaga commented on #2463
The IPv6 starts with fe80 so it's link local and not a real address (similar to 169.blah on IPv4). Didn't look at the code yet but I suspect both our check in Netty and here are only checking if address is loopback, but not checking for link local / site local which aren't routable to the web

[2020-02-07 05:40] minwoox commented on #2463
Perhaps netty takes care of that but `RefreshingDnsResolver` doesn't? 😅
Let me take a look at the code if there's something I missed.

[2020-02-07 05:42] anuraaga commented on #2463
Also for reference, the client being referenced in that stack trace, `cloudtrace.googleapis.com` does not use an endpoint group, just a normal endpoint.

https://github.com/curioswitch/curiostack/blob/master/common/google-cloud/core/src/main/java/org/curioswitch/curiostack/gcloud/core/grpc/GrpcApiClientBuilder.java#L52

[2020-02-07 06:31] trustin commented on #2426
Nice example from yarn: https://yarnpkg.com/getting-started

[2020-02-07 07:16] minwoox commented on #2463
@danada Is this always happening? or It differs every time the application started? (e.g It keeps throwing exceptions and it does not throw an exception at all after reboot so on.)

[2020-02-07 07:32] danada commented on #2463
It throws exceptions when trying to write spans to cloudtrace when processing a request. If no requests are processed no errors are thrown. The application has been restarted several times and produced the exception every time.

[2020-02-07 07:39] minwoox commented on #2463
Thanks for the information. 😉

[2020-02-07 08:36] trustin commented on #2463
Hopefully fixed via #2464. Please reopen if the problem shows up again.

[2020-02-07 08:36] #2463 closed

[2020-02-07 09:07] #2447 closed

[2020-02-07 09:34] 4whomtbts commented on #1854
@trustin
1. Memory based healthChecker
Q :
Do you want to the healthiness is determined by server's heap memory usage
or system's memory usage?
Either that or, provide both of them?

2. disk usage rate based healthChecker

Plus, what I want to suggest to implement is CPU based healthChecker that the healthiness is determined by average CPU usage which is a result of calculation of average during c

[2020-02-07 16:40] ikhoon opened #2472 "Use only one `RoutingTrie` for service router"
Currently, Armeria produces multiple `RoutingTrie`s if a middle router's path type is not trie path.
https://github.com/line/armeria/blob/3bc7bbd9363fef1a3b6d42569222ee5a4d69679d/core/src/main/java/com/linecorp/armeria/server/Routers.java#L186-L197
Sometimes this causes unexpected routing results and routing performance is bad because of linear search.
[code]

I think if merge two TrieRouter into

[2020-02-10 08:02] trustin opened #2473 "Blocking operation warning in `FileService`"
[code]

[2020-02-10 09:40] kojilin commented on #2321
Curious about this issue, so we just need to add proxy option in ClientFactoyOption and add ProxyHandler here https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/HttpChannelPool.java#L102 ?

[2020-02-10 09:42] jrhee17 commented on #2321
btw feel free to work on this issue if you need to use it 😄 I think I will need at least a month to start this issue if I tackle it

[2020-02-10 10:01] trustin commented on #2321
@kojilin I guess so, although I didn't try it by myself. :smile:

[2020-02-10 10:06] trustin opened #2475 "Handle exceptions thrown by `Subscriber`"
An exception raised by a `Subscriber`'s `onNext()` or other handler methods can cause an unexpected connection drop. The following stack trace shows the case where an exception raised by `onNext()` is propagated to `Http2ResponseDecoder` which triggers an HTTP/2 connection error:

[code]

We must catch any exceptions raised by `Subscriber` and abort the `StreamMessage` with the caught exception.

[2020-02-10 11:30] trustin opened #2477 "Investigate a test failure: `DefaultTimeoutControllerTest.resetTimeout_withoutInit()`"
[code]

[2020-02-10 12:25] #2473 closed

[2020-02-12 02:34] minwoox commented on #692
The opposite could be possible by having `EncodingClient` and `DecodingService`. So we don't need `CompressedStreamMessage`.

[2020-02-12 02:34] #692 closed

[2020-02-12 05:52] anuraaga opened #2480 "Rename Rpc* to Thrift*"
Copying into here since I think discussion got lost in the middle of a meta-issue.

From @minwoox

Currently, we use RpcXX classes such as RpcRequest, RpcResponse, RpcService, RpcClient, etc. for Thrift only. Because the name includes Rpc, the users expect that the gRPC module uses the same classes which is not true and they usually end up with a surprise.

I wonder if we have to address this issu

[2020-02-12 05:53] anuraaga commented on #2480
I have had problems reasoning about these classes many times over the years. I think renaming to Thrift is a good solution since it's unclear these could apply well to other RPC frameworks with their own idioms.

[2020-02-12 06:48] minwoox commented on #2416
Just to make it sure that this does not bring another breaking change, right?

[2020-02-12 08:27] anuraaga commented on #2416
It shouldn't, we'd expose a new accessor using the gRPC interfaces without exposing classes.

[2020-02-12 08:53] trustin commented on #2480
I'm not sure renaming is a scalable approach. What happens if we add support for other RPC protocols, say JSON-RPC, Hessian, etc? Why not just make `RpcRequest/Response` a `StreamMessage` of `Object`s and make it capable of generalizing streaming RPC messages?

[2020-02-12 09:06] trustin commented on #2416
Eventually like this:

[code]

[2020-02-12 09:13] monorisk commented on #2287
May I try to solve this?

[2020-02-12 09:14] trustin commented on #2480
As a stopgap solution, how about checking if RPC decorators are present in pure HTTP clients and raising an exception?

[2020-02-12 09:19] minwoox commented on #2416
Thanks for the confirmation!

[2020-02-12 09:33] trustin commented on #2287
@monorisk Sure. It's all yours. :wink:

[2020-02-12 09:59] minwoox opened #2481 "Add more options to `ArmeriaRetrofitBuilder`"
To build Armeria Retrofit with a specified `ClientFactory`, a user should create a `WebClient` which is a little verbose:
[code]
Perhaps, we can provide more setters to build Armeria Retrofit more conveniently.

[2020-02-12 10:00] minwoox commented on #2481
/cc @yuinacor

[2020-02-12 10:03] trustin commented on #2481
We could make `ArmeriaRetrofitBuilder` extend `AbstractClientOptionsBuilder`. If a user created `ArmeriaRetrofitBuilder` with `WebClient`, we could merge two `ClientOptions` into one.

[2020-02-12 11:05] ikhoon commented on #2481
Let me take a look. 😀

[2020-02-12 14:04] anuraaga commented on #2480
gRPC wouldn't benefit from that though - it already has a domain specific layer that works well and I wouldn't recommend anyone to use an Armeria layer using `Object` as a scapegoat instead of the easier to use model. Converging `RpcResponse` to a streaming object might help other users but not gRPC users I think.

`RpcResponse` is IMO a response to the fact that thrift does not have a reasonable

[2020-02-12 14:28] max904-github opened #2482 "Throttling failure response status shall be configurable"
Currently `503 - Service Unavailable` failure response status hardcoded by com.linecorp.armeria.server.throttling.ThrottlingService. The response status should be driven by the configured strategy and it shall permit using `429 - Too Many Requests` as a more appropriate and more common throttling status.

[2020-02-12 21:49] anuraaga commented on #2480
Anyways realize this discussion is probably sort of too late to settle for 1.0 - stopgap sounds ok to me too

[2020-02-13 09:58] themnd opened #2486 "Keep documentation for older armeria versions"
Whenever a new armeria version is published the site is immediately updated with the new changes.
This means whoever has not upgraded yet (i.e. everyone...) will loose their "current" documentation.
If possible we should keep all the versions available, see for example https://docs.couchbase.com/java-sdk/3.0/hello-world/start-using-sdk.html

[2020-02-13 10:11] trustin commented on #2486
That's an invaluable feed back, @themnd. :+1: We are going to overhaul our web site and let us revive the old documentation there. #2426

[2020-02-13 10:14] trustin commented on #2482
Agreed, @max904-github. Any objections? /cc @minwoox @ikhoon @imasahiro @kojilin @anuraaga ?

[2020-02-13 10:15] imasahiro commented on #2482
no objection!

[2020-02-13 12:08] ikhoon commented on #2482
I agreed too. It looks nice!

[2020-02-13 16:49] dylmeadows opened #2487 "Gradle kotlinx-coroutines-bom error with armeria 0.98.x"
I'm attempting to use armeria 0.98.x with gradle and am receiving the following error:

[code]

This is what my gradle file looks like:

[code]

When I downgrade to 0.97.0, the issue goes away.

[2020-02-13 17:13] anuraaga commented on #2487
This is probably because upgrading our spring-boot dependency version also bumped a dependency on kotlin-coroutines which doesn't work correctly with older `spring-dependencies` plugin.

https://github.com/spring-gradle-plugins/dependency-management-plugin/issues/263#issuecomment-575547109

No clue why spring boot would even have a dependency on Kotlin...

But the issue seems to be fixed in the la

[2020-02-14 02:32] heowc commented on #2408
In spring boot actuator, the base path of the provided actuator is `/actuator`.
In addition, is there a need to include `internal/docs`, `internal/metrics` and `internal/healthcheck` in armeria?

[2020-02-14 03:20] minwoox opened #2489 "Provide RedirectingClient"
A user has to do it by himself/herself to handle a redirect response:
[code]
It's a little verbose so it will be nice if we provide `RedirectingClient`.

[2020-02-14 03:32] trustin commented on #2408
@heowc Yes. It'd be nice to provide this feature as a part of the core, too.

[2020-02-14 03:34] minwoox commented on #2489
@trustin suggested that we can just do this by providing `RetryStrategy.builder()` #1634, because the logic is nearly the same and redirect is sort of retry. 😄

[2020-02-14 06:44] ikhoon opened #2491 "ReflectionsException while extracting doc strings"
[code]

[2020-02-14 06:45] ikhoon commented on #2491
/cc @mauhiz

[2020-02-14 06:46] mauhiz commented on #2491
Thank you for the bug report. cc @fukuang

[2020-02-14 06:47] ikhoon commented on #2491
I will give it a shot. Thanks for reporting @mauhiz and @fukuang 🙏

[2020-02-14 07:10] #2477 closed

[2020-02-14 07:28] anuraaga opened #2493 "Confusing behavior when constructing clients"
We've added some client creation shortcuts in #2396 but I wonder if it hasn't resulted in some spaghetti.

I feel that this code doesn't produce the intended result

[code]

Probably related to #2483 (though I found it coincidentally, heh)

[2020-02-14 07:29] anuraaga commented on #2493
I think we should remove factory from `WebClientBuilder` if we want to keep it on `ClientOptions`. It's too hard to grok this relationship otherwise.

[2020-02-14 09:04] trustin commented on #2493
Such pitfall exists in all other properties in the builder. The reason it became a problem is because `factory` was not an option before. If `useHttp2Preface` was not an option before, a similar problem would occur as well. How about just updating release note to add some warning about this?

[2020-02-14 09:32] max904-github commented on #2482
I can work on it, if no one else wants to take it.
I will put the failure response status (`HttpStatus`) on the strategy (`ThrottlingStrategy`) and keep `HttpStatus.SERVICE_UNAVAILABLE` as a default for backward compatibility.

[2020-02-14 09:33] anuraaga commented on #2493
I generally use defaults so haven't run into this in much code but did in Zipkin and I don't see a reason users won't continue to run into it.

Perhaps `ClientOptions.Builder` should initialize as empty, not defaults? The code snippet above is too surprising to just leave to javadoc or release notes IMO.

[2020-02-14 09:43] trustin commented on #2493
I understand your concern and I agree that the problem stems from the idea that all option properties in `AbstractOptions` must be present at construction time. Let's fix this before 1.0.

[2020-02-14 09:46] anuraaga commented on #2493
Also, I find it unintuitive understanding what is a property of a subclass, safe from overriding from clientoptions (path, etc) and what isn't. I guess this may be an argument for composition vs inheritance. But as long as the above surprising snippet gets fixed I'm ok.

[2020-02-14 09:49] trustin commented on #2493
Could you elaborate on this?

[2020-02-14 09:52] anuraaga commented on #2493
Currently, when using the builder, I have to think about whether a method on the builder is safe to call before `options`. This is because they all exist on the class but only some are overridden by options.

But yeah if we change the behavior so calling options doesn't completely clobber, it should be ok.

[2020-02-14 09:53] trustin commented on #2482
Thanks, @max904-github. It'd be awesome if you could send a pull request for this issue. I think we can use `TOO_MANY_REQUESTS` as a default and explain that in our release note.

[2020-02-14 09:54] trustin commented on #2493
Ah, OK. Thanks for explanation. Makes sense.

[2020-02-14 10:48] #2491 closed