[2022-03-11 06:21] ikhoon commented on #3518
Sounds good. It would be better to increase the timeout. JFYI, the corresponding service takes 5 seconds to respond without additional delays.
https://github.com/line/armeria/blob/67c25e242e8604331bdd8696a97d26604eb114af/scalapb/scalapb_2.13/src/test/scala/com/linecorp/armeria/server/scalapb/HelloServiceImpl.scala#L59-L62

[2022-03-11 07:35] fageiguanbing commented on #4134
Armeria version: 1.14.1
gRPC stub: gRPC-Java
proto
[code]
client
[code]
server
[code]

[2022-03-11 08:22] ikhoon commented on #4129
I think so. Let me close this.

[2022-03-11 08:22] #4129 closed

[2022-03-11 09:37] kezhenxu94 commented on #4099
Let me try this 😉

[2022-03-11 09:40] ikhoon commented on #4134
Armeria server executes a gRPC service on an event loop by default. Your service code blocks the event loop with `Thread.sleep()`
If you want to perform a blocking task, please turn on [`GrpcServiceBuilder.useBlockingTaskExecutor(boolean)`](
https://javadoc.io/static/com.linecorp.armeria/armeria-javadoc/1.14.1/com/linecorp/armeria/server/grpc/GrpcServiceBuilder.html#useBlockingTaskExecutor(boolean

[2022-03-11 12:08] fageiguanbing commented on #4134
It works! Thanks! I have a question: Whether the blocking tasks and async tasks use the same thread pool?

[2022-03-11 12:12] ikhoon commented on #4134
They use different thread pools.
You can set a custom blocking task executor using https://javadoc.io/static/com.linecorp.armeria/armeria-javadoc/1.14.1/com/linecorp/armeria/server/ServerBuilder.html#blockingTaskExecutor(java.util.concurrent.ScheduledExecutorService,boolean)

[2022-03-11 13:02] kojilin commented on #3518
Yeah, I'm thinking it may good to add error message with sequence at `await().untilAsserted(()...`, maybe it still get 5 or :thinking:
https://github.com/line/armeria/blob/master/scalapb/scalapb_2.13/src/test/scala/com/linecorp/armeria/server/scalapb/HelloServiceTest.scala#L75

[2022-03-11 15:24] chungonn opened #4137 "Request for a feature in AnnotatedService to allow HttpService response"
It would useful to allow HttpService as response in an Annotated service apart from the current HttpResponse. It would allow a developer access of the HttpRequest and ServiceRequestContext apart from the injected parameters. It would also allow the developer ability to create different HttpService subclass for the various use case.

Below is a sample of the  of an AnnotatedService with a HttpServi

[2022-03-12 00:56] kojilin commented on #4096
Because state is 0, looks like error happened at https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/internal/common/Http1ObjectEncoder.java#L113 already. Not sure the root cause but do you think if it's good idea to provide `allOf(ChannelPromise resultPromise, List<ChannelFuture> futures) ` to collect all the error(e.g. using addSuppressed)?

[2022-03-13 14:30] kezhenxu94 commented on #3591
Hey @minwoox , I'm interested in this feature, any hint about how to implement this feature?

[2022-03-14 03:25] fageiguanbing commented on #4134
I took a test: no streaming RPC, non-blockingTaskExecutor, 10 requests, server sleep 1s, client receive the response almost the same time.
What scenario would use `blockingExecutor`?

[2022-03-14 05:28] jrhee17 commented on #4134
What scenario would use blockingExecutor?

I think it doesn't matter whether streaming or non-streaming is used.
Rather, I think you want to use `blockingExecutor` if your API is performing any [blocking operations](https://en.wikipedia.org/wiki/Blocking_(computing)) on **armeria** threads. (So this would be `Thread.sleep()`, `CompletableFuture.join()`, etc on **armeria** threads).

So if you need

[2022-03-15 02:59] ikhoon commented on #3306
Are you using Kotlin coroutines with Armeria's annotated service or gRPC-Kotlin?
We may inject a custom coroutine context to push and pop a `ContextClassLoader`.
For example:
- Defines a coroutine context
[code]
- for gRPC-Kotlin, we can use [`CoroutineContextServerInterceptor`](https://github.com/grpc/grpc-kotlin/blob/master/stub/src/main/java/io/grpc/kotlin/CoroutineContextServerInterceptor.kt)

[2022-03-15 07:28] natsumehu commented on #4132
Hi, I have tried using using HttpResponse.mapData() to convert the response body. But it seems like the problem happened at
https://github.com/netty/netty/blob/30855c71c843db6d3d0c769d2547b948f61500a2/codec-http2/src/main/java/io/netty/handler/codec/http2/DefaultHttp2FrameReader.java#L165-L167

Received amount of data 23 does not match content-length header 19

I found that the netty decode the re

[2022-03-15 07:32] trustin opened #4141 "Potential buffer leak in `spring/boot2-webflux-autoconfigure`"
The leak was reported while running the tests without advanced leak reporting:
[code]

[2022-03-15 08:08] #4123 closed

[2022-03-15 09:19] ks-yim opened #4144 "Add Kotlin nullable type support for `AnnotatedService` arguments"
Currently, `AnnotatedService` requires `@Nullable` annotations(or `Optional`) to allow null values for method parameters even when it's used with Kotlin which offers nice null-safety with nullable types.

Example:
[code]

Even though Kotlin nullable types(`?`), when compiled to java code, is attached `@org.jetbrains.annotations.Nullable` annotations, its retention policy is `CLASS`, which makes it

[2022-03-15 12:04] fageiguanbing commented on #4134
got it. Thanks all!

[2022-03-15 12:04] #4134 closed

[2022-03-15 16:36] nayeemzen commented on #3306
We're using the annotated service and this worked brilliantly for us! Thanks so much :) TIL about ThreadContextElement and CoroutineContextService which is exactly what we needed 🙌🏾

For anyone else curious you can use the `ContextClassLoaderCoroutineContext` above in a decorator as follows:

[code]

[2022-03-16 02:29] jrhee17 opened #4145 "Provide a method to do a no-op subscribe to a `StreamMessage`"
Credit to @trustin for suggesting this idea 👍

Some users may want to use `StreamMessage#peek` to perform some options, but not want the entire message to be in memory (as is done by `StreamMessage#collect`). The functionality may be similar to `Flux#subscribe`

In order to achieve this, users may need to do something like the following which can be cumbersome
e.g.
[code]

We could add a method to

[2022-03-16 02:36] ikhoon commented on #3591
Thanks for your interest in this issue.
`Route.withPrefix(prefix)` will be added in the #4086.
In my opinion, we may need the feature to implement this.
For example:
[code]

[2022-03-16 02:42] ikhoon commented on #4144
It looks super useful. Just out of curiosity, does `kotlin-reflect` read nullable type at compile time? Otherwise, is there another API that is only available in Kotlin at runtime time?

[2022-03-16 02:56] ikhoon commented on #4132
We can remove the content-length header from response headers but it does not look good.
How about passing a `Function<HttpData, HttpData> responseBodyConverter` to `frameAndServe`
and using it in `singleSubscriber`?

[2022-03-16 03:06] kezhenxu94 commented on #3591
@ikhoon thanks for the link!! That looks to be what I've been thinking about. Will watch that PR

[2022-03-16 03:08] ikhoon commented on #4096
Could we sample the exception using `Flags.verboseExceptionSampler()` to avoid additional overhead?

[2022-03-16 04:55] ks-yim commented on #4144
@ikhoon

I was thinking of using [`isMarkedNullable`](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.reflect/-k-type/is-marked-nullable.html) API of `KType`.

I don't know how exactly `isMarkedNullable` API works at runtime(maybe by looking at `@Metadata` annotation values, I guess), but we can get nullability of function parameters at runtime.

[2022-03-16 05:30] wooseongshin commented on #4145
Hello @jrhee17 😄  I would like to handle this issue.  May I try it?

[2022-03-16 05:37] jrhee17 commented on #4145
All yours @wooseongshin ! Thanks 👍

[2022-03-16 05:56] ikhoon commented on #4144
The values of `@Metadata` seem to be encoded as Protobuf. That are decoded by `kotlinx-metadata-jvm`.
- https://github.com/JetBrains/kotlin/blob/master/libraries/kotlinx-metadata/jvm/ReadMe.md
- https://github.com/JetBrains/kotlin/blob/7bcd67068c232507921d5e48dbd93044007c1184/core/metadata/src/metadata.proto#L135

[2022-03-16 07:34] trustin opened #4147 "Add `StreamMessage.decode()`"
It'd be nice if a user can make use of `HttpDecoder` for `StreamMessage` as well as `Http{Request,Response}`. We could:

- Add `StreamDecoder`
- Make `HttpDecoder` extend `StreamDecoder` with a few additional methods such as `processHeaders()`
- Rename `HttpDecoder{Input,Output}` to `StreamDecoder{Input,Output}`

Additionally, `StreamDecoder.processOnComplete()` could have `StreamDecoderInput` so

[2022-03-16 09:32] #3146 closed

[2022-03-17 03:11] ikhoon opened #4150 "Allow customizing a 404 Not Found response for `FileService`"
`FileService` uses a hard-coded 404 Not Found response.
https://github.com/line/armeria/blob/07a0c2927fdda456ace0166db6fead924bb894cf/core/src/main/java/com/linecorp/armeria/server/file/NonExistentHttpFile.java#L59
It is not easy for users to customize the 404 response using a [`FilteredHttpResponse`](https://armeria.dev/docs/client-decorator#using-typefilteredhttpresponse).

It'd be good to allow

[2022-03-17 07:13] kezhenxu94 commented on #4150
We can achieve this by `orElse` method?

[code]

[2022-03-17 07:20] ikhoon commented on #4150
I didn't know `FileService.orElse()` but I think the `onNotFound` API is still valuable as a high-level shortcut API for someone who does not implement an `HttpService` for it.

[2022-03-20 01:54] kojilin commented on #4141
Not sure if the test&idea is correct. If client side request and abort. The server may have HttpData send to NoopSubscriber and cause HttpData not release?
Print current thread at https://github.com/line/armeria/blob/master/spring/boot2-webflux-autoconfigure/src/main/java/com/linecorp/armeria/spring/web/reactive/ArmeriaServerHttpResponse.java#L90 and see it's sent by `parallel` thread for 2nd Http

[2022-03-21 06:25] jrhee17 opened #4160 "Provide a way to add multiple `QueryParams` when using `WebClient.prepare()`"
Some users may want to add multiple query param values for a single key

e.g. `localhost:8080/v1?id=1&id=2&id=3`

However, `WebClient.prepare().queryParam()` performs a `QueryParamsBuilder#setObject` by default, making it
difficult to execute such a query programmatically

[code]

Wondering if we want to modify to use `QueryParamsBuilder#addObject` under the hood.

[2022-03-21 11:45] #3518 closed

[2022-03-21 11:49] #3776 closed

[2022-03-22 03:48] #4056 closed

[2022-03-22 04:04] trustin commented on #1469
Comparison by @nfrankel: https://blog.frankel.ch/comparison-fault

[2022-03-22 04:05] trustin commented on #1469
A work in progress by @jrhee17: https://github.com/line/armeria/pull/4139

[2022-03-22 11:24] #4147 closed

[2022-03-23 04:48] ikhoon opened #4163 "HTTP/1 headers write Optimization"
After an HTTP Headers is written, if `endOfStream` is true, an `EMPTY_LAST_CONTENT` is written.
https://github.com/line/armeria/blob/43a675859a705d415e452ce5d7d6c60e5e5f0715/core/src/main/java/com/linecorp/armeria/internal/common/Http1ObjectEncoder.java#L113-L116
If a request or response is not transfer-encoding, we may skip writing `EMPTY_LAST_CONTENT` even if `endOfStream` is true.

[2022-03-23 06:12] #3706 closed

[2022-03-23 07:25] injae-kim commented on #3937
Hi @nvidyala !
I made similar PR (way to adapt `StreamMessage` into `InputStream`) on #4059 and it may help to solve this PR! 😄

[2022-03-23 07:41] #3952 closed

[2022-03-23 08:24] #4075 closed

[2022-03-23 11:06] #4046 closed

[2022-03-23 11:42] #3666 closed

[2022-03-24 07:56] #4116 closed

[2022-03-24 13:19] #3578 closed

[2022-03-25 01:22] #4104 closed

[2022-03-25 04:57] ikhoon commented on #4160
I believe many people won't expect the chained `queryParam()`s override the previous one.
Furthermore, `.header("X-Foo-Header", 1).header("X-Foo-Header", 2)` combines two headers into one.
https://github.com/line/armeria/blob/5c521cc47cf57ac17d22a2b87ffccf6ba036ee57/core/src/main/java/com/linecorp/armeria/common/AbstractHttpMessageBuilder.java#L63-L64
So I prefer to change the behavior to `addObje

[2022-03-25 14:22] #2940 closed

[2022-03-26 23:54] doppany commented on #4160
@ikhoon @jrhee17
Hi! I'd like to try this issue. May I take it?

[2022-03-28 00:46] kojilin commented on #4163
Looks like `ClientHttp1ObjectEncoder` clears transfer-encoding if it's endStream. Do similar thing at server one? Or checking if converted contains `transfer-encoding`?

[2022-03-28 01:30] ikhoon commented on #4160
Sorry. Seems like @Jsing is going to send a PR for this issue.

[2022-03-28 02:08] doppany commented on #4160
Okay. I will bide time until there is another issue interesting to me 🙇

[2022-03-28 02:54] ikhoon commented on #4163
https://github.com/line/armeria/blob/1284b5e7e54a055d6172da80db1fd19f40fd4cb8/core/src/main/java/com/linecorp/armeria/server/ServerHttp1ObjectEncoder.java#L139-L144

If `endOfStream` is set true and a trailing headers is empty, we don't need to write `EMPTY_LAST_CONTENT`.

[2022-03-28 02:56] jrhee17 commented on #3940
Handled by #3956

[2022-03-28 02:56] #3940 closed

[2022-03-28 07:34] Jsing commented on #4160
Oh I'm sorry. I didn't mean to do PR. I'm new to contributing to an open source project. I just pushed it to my repository and didn't know it was showing up in this repository. it's yours!

[2022-03-28 07:39] Jsing commented on #4160
I am interested in the Armeria project, so I am just studying through this issue. I am so sorry.

[2022-03-28 07:44] ikhoon commented on #4160
Don't worry. I believe @doppany will understand the situation. 🙇‍♂️
I think you have already finished your work. Would you mind making your change a PR?

[2022-03-28 08:21] trustin commented on #4141
Quite likely

[2022-03-28 08:25] trustin commented on #4145
How about naming the method as `subscribe()`, just like Reactor did?

[2022-03-28 08:26] trustin commented on #4144
Sounds like we can use `isMarkedNullable` when Kotlin API is available at runtime. Looking forward to this implemented 🙏

[2022-03-28 08:29] trustin commented on #4137
I agree this is gonna be useful in certain situations. Are you interested in sending a PR for this? We can give you a few pointers if you're interested.

[2022-03-28 08:35] trustin commented on #4027
We could probably allow customizing the pattern via `Flags`, which could be a regular expression or a predicate (by using the upcoming SPI feature).

[2022-03-28 08:39] trustin commented on #4013
Agreed. This could be a potential security issue when a user involves an external endpoint that's potentially compromised.

[2022-03-28 08:40] trustin commented on #4002
Closing since the question has been answered already. Please feel free to reopen if you need more help.

[2022-03-28 08:41] trustin commented on #4002
At second thought, I think this issue is more about sending two headers with the same name from DocService debug form, which is not possible indeed at the moment.

[2022-03-28 08:41] trustin commented on #3560
Marked it as `@Flaky` and we're not seeing the failure anymore.

[2022-03-28 08:41] #3560 closed

[2022-03-28 08:44] trustin commented on #3938
@ikhoon Was this resolved already in #4133 ?

[2022-03-28 08:44] trustin commented on #3966
Looking forward to this, @sleeplesslord! 🙇

[2022-03-28 08:47] trustin commented on #3957
That's a good suggestion, @anuraaga. Would adding a separate page that includes all release notes in a single page work?

[2022-03-28 08:48] trustin commented on #3122
@minwoox Could you let us know which PR or commit fixed this issue?

[2022-03-28 08:51] trustin commented on #3950
I think it's a sort of naming issue. We need two functions, one that works like it does currently and the other that works as you suggested. The former could be useful for setting a certain thread-local property that never changes during the thread lifecycle (e.g. context classloader).

[2022-03-28 08:53] trustin commented on #3950
Perhaps we could:

- Deprecate `taskFunction()`; and
- Add two builder properties that replaces the deprecated one.

I wouldn't recommend changing the behavior of `taskFunction()` given some might be relying on the current behavior.

[2022-03-28 08:54] trustin commented on #3945
@smax48 @minwoox Was the problem solved after all?

[2022-03-28 08:57] trustin commented on #3830
Could this be rather implemented as a decorator?

[2022-03-28 09:03] anuraaga commented on #3957
Yeah if it's linked from the smaller pages too then should be good.

[2022-03-28 12:13] chungonn commented on #4137
Hi Trustin,

FYI, I have developed a couple of Scala traits that would allow us to have the equivalent AnnotatedHttpService without any code change in Armeria, however this solution is sub optimal, a better solution would be Java PR.

I did attempted to work on a Java version (PR) but failed because my Java skills are very rusty as I have not done Java development for more than a decade. I am keen

[2022-03-28 13:47] doppany commented on #4160
@Jsing I think it would be better if you keep going for this issue 😆. If you create the first PR, I will be happy too! I'll look into other issues 🧐 , don't worry.

[2022-03-28 23:05] Jsing commented on #4160
Thanks @doppany @ikhoon @jrhee17 😊

I have made my first PR. Everything is a bit unfamilliar and I'm not sure if I followed the guide well. I am ready to receive any advice sweetly.  #4173

[2022-03-29 05:39] ikhoon commented on #3830
That is a good idea! Should it be like this?
[code]

[2022-03-29 05:42] wooseongshin commented on #4145
Thank you for the good suggestion @trustin   I'll apply it like that!

Work is delayed due to Corona 🤧  I will try to solve it as soon as possible !

[2022-03-29 05:44] ikhoon commented on #3122
I think #3997 applied to [1.14.0](https://armeria.dev/release-notes/1.14.0/) would resolve the problem.

[2022-03-29 05:46] ikhoon commented on #3938
Indeed! I forgot to close this issue. This issue was fixed by #4133.

[2022-03-29 05:46] #3938 closed

[2022-03-29 13:03] heowc opened #4175 "In `Multipart.from(request)`, an exception is thrown when ..."
using a request with a multipart whose content is empty.

I'm not sure if this is exactly the problem, but I've created an issue because even modifying a simple existing test gives me a 500 error. 🤔

For example:

[code]

I get the following exception:

[code]

As I thought the problem was:

https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/common/multipart/MimePa

[2022-03-30 06:57] anuraaga commented on #1907
@trustin If I'm not mistaken, InteliJ's default is to respect editorconfig without any manual import. In the years since writing IdeaPlugin integration, IDEA's made some good progress on it and editorconfig might actually be enough, except for copyright header unfortunately. My current code pattern is to not bother configuring IDEA with a copyright header and using spotless to automatically add it

[2022-03-30 07:13] heowc commented on #1907
Incidentally, the intellij idea is correct, but Eclipse requires a separate plugin to be installed. I'm used to the Armeria setup, so I'm using it for my personal projects. :sunglasses:

See https://github.com/heowc/SpringBootSample/blob/main/.editorconfig

[2022-03-31 06:54] jrhee17 commented on #4175
The [rfc](https://datatracker.ietf.org/doc/html/rfc2046#section-5.1.1) seems to be vague on the topic of empty content disposition bodies.
Having said this, did you have a use-case where an empty content-disposition body makes sense?

If not, I think it might be a good idea to:
1) Validate for empty content in the factory method for `BodyPart`
2) Update the documentation

What do you think @ikhoon

[2022-03-31 07:26] heowc commented on #4175
I do not know. 🤣  I found this while writing a related unit test... 🤔

However, in the case of an empty file, the server throws a parsing error, and the response with a status code of 500 is somewhat strange.

Additionally, no errors occur in multipart related Spring integration tests.

[2022-03-31 08:22] clatisus commented on #4106
Hi @ikhoon @tokuhirom, I've put up a PR to address this issue, could you please help review it?

[2022-03-31 08:33] ikhoon commented on #4106
Great! I’m happy to review it.

[2022-03-31 10:20] ikhoon commented on #4175
I think there is no strong reason to disallow empty bodies. This sounds like a bug.
@heowc Could you send a PR?

[2022-03-31 10:28] jrhee17 commented on #4175
I also realized that only the end of the multipart request fails to parse, so sounds like a bug like @ikhoon said

e.g.
[code]

Sorry about the confusion 😅

[2022-03-31 10:38] TheWeaVer opened #4178 "Throw Http2Exception:Stream N does not exist. When request with large header"
When the client send http2 request with large header, netty throws `Http2Exception: Stream N does not exist`.

Following exception is:
[code]

We resolve this issue by increasing `http2-max-header-list-size` to 16kb.

BTW, it would be good to users applying belows:
1) Correctly log the header length limit exception so that users know the cause of the failure
2) and not to resend RST after `ClosedS

[2022-03-31 10:53] ikhoon commented on #4178
This is the stacktrace when a client failed to write headers because of header list size limit
[code]

[2022-03-31 13:07] heowc commented on #4175
Yes, I will send a PR soon 👍

[2022-04-01 06:59] minwoox commented on #4100
@klurpicolo Thanks a lot for your interest in this issue. 😄
Yeah, I believe you got the point and we can work on it as you explained.

We also need to add this logic to `AbstractRequestContextBuilder` so that users can also trace when the context is created via a builder. 😉

[2022-04-01 10:33] anuraaga commented on #4100
Ah I was looking into this a few months ago but forgot to continue after a preparation PR. I think you should be able to implement as an implementation of context storage without any other API changes, similar to this code that probably provides a lot of copy pasta to use

https://github.com/open-telemetry/opentelemetry-java/blob/main/context/src/main/java/io/opentelemetry/context/StrictContextSto

[2022-04-01 19:38] techno opened #4182 "Incorrect AccessLogValve output with Armeria Tomcat connector"
I'm trying to use Armeria Tomcat connector (armeria-tomcat9) with Spring Boot.
Tomcat's Access Log Valve (https://tomcat.apache.org/tomcat-9.0-doc/config/valve.html#Access_Log_Valve) is used to output access log on our server.
However, output value of `%D` (processing time) is broken when I use it with armeria-tomcat9. It seems the value is timestamp rather than processing time.

[code]

We set `A

[2022-04-03 06:51] klurpicolo commented on #4100
@minwoox Thanks. I'll start implementation and then pull request.

@anuraaga That looks pretty useful. Many Thanks! 🙏

[2022-04-03 08:48] roeniss commented on #2353
Is there any work left to be done on this issue? As anuraaga said it's not obvious what reverse proxy for gprc is compared to normal one. To be more specific, I wonder why this issue got `good first issue` tag later.

[2022-04-04 03:28] minwoox commented on #4100
Thanks, @anuraaga  for the link. I didn't know that otel had a similar implementation.

If we use the context storage via [a JVM flag](https://github.com/open-telemetry/opentelemetry-java/blob/main/context/src/main/java/io/opentelemetry/context/LazyStorage.java#L81-L82), we cannot enable the tracking only for a specific service context.
Isn't it better to add an API to track for a specific context

[2022-04-04 03:48] anuraaga commented on #4100
Stack traces are so expensive that even for a given service it's probably too much for production. Sampling is one approach, but I think in practice enabling the flag on a staging server tends to catch 99+% of leaks anyways, any it's easy for sampling to not help much if the problem is in a path with low testing coverage anyways (if tests hit it, staging server is enough). Instead of picking out p

[2022-04-04 06:07] jrhee17 commented on #2353
I'm not sure what the original request was as the slack post seems to have expired.
Having said this, I think it could be meaningful if we can add an example of a `grpc-gateway` type reverse-proxy implementation using `armeria`'s grpc-json transcoding features.

[2022-04-04 07:27] minwoox commented on #4100
That makes sense. 😄

@klurpicolo Let's use the storage as @anuraaga suggested.
We can create a new `RequestContextStorage` that tracks the stracktraces when users enable the flag here
https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/internal/common/RequestContextUtil.java#L67-L115

[2022-04-04 08:32] person2713 opened #4184 "Is there a way to track memory in armeria server?"
Hello, I am wondering there is a way to track memory state of armeria server?
I found default armeria metrics, something like that:

[code]

but it seems that all of them shows unrealistic results

[2022-04-04 08:48] jrhee17 commented on #4184
Have you checked out https://armeria.dev/docs/advanced-metrics?
You can view metrics such as request count, active requests, response time, etc...

If you had a particular metric that you would like to see, let us know. It might already exist, or we may be able to add more metrics.

I'm guessing it seems `unrealistic` in that the all value are 0.

This is most likely due to the fact that `blocking

[2022-04-04 11:33] person2713 commented on #4184
@jrhee17 Is there a way to see the state of queue, that is used for saving incoming requests? I want to build a dashboard where I can see memory footprint of application, I thought that netty (eventLoop) works in following way:
1. save incoming request in queue
2. enentLoop takes first task from the queue and assigned it to worker (worker is a thread from the thread pool)
3. save result in outcomi

[2022-04-05 10:23] jrhee17 commented on #4184
I understood that you would like to visualize the memory footprint of the executor responsible for requests/responses.
`CommonPools.workerGroup` is the default `EventLoopGroup` that spawns `EventLoop`s (which I think is what you would like to monitor)

I guess it is possible to add metrics using micrometer like such to see basic metrics (I'm yet to look closely what exactly what metrics would be c

[2022-04-05 13:28] uyw4687 opened #4188 "Misc. About the comment in dependencies.yml"
It would be great if you could check below comment about netty boringssl dependency.
https://github.com/line/armeria/pull/4164#discussion_r842783014

[2022-04-05 14:52] ahnyujin commented on #4016
Hi @ikhoon, May I try to fix this one?
I think I can solve this issue using `ServerErrorHandler.onServiceException` to send a 400 Bad Request response.

[2022-04-05 18:10] klurpicolo commented on #4100
Ok, Noted.

[2022-04-06 01:16] ikhoon commented on #4016
If we use `ServerErrorHandler`, `ServerErrorHandler.onProtocolViolation()` would be a good choice.
However, I don't see you can use `ServerErrorHandler` here. Since the connection is not established, we can't get an instance of the configured `ServerErrorHandler`.
How about directly using Netty's `FullHttpResponse` to send 400 Bad Request?
https://github.com/line/armeria/blob/e7be74e738a49448afe98

[2022-04-06 06:57] trustin commented on #4184
You might be interested in tracking JVM memory usage. If that's the case, please use the metric binder implementations from Micrometer: https://github.com/micrometer-metrics/micrometer/tree/main/micrometer-binders/src/main/java/io/micrometer/binder/jvm

[2022-04-06 07:07] ikhoon commented on #4184
If you are not familiar with the metrics of Micrometer, you may want to see the following example:
https://github.com/line/centraldogma/blob/ed507c70c9e25cfaff4bee25050aca06b12b4843/server/src/main/java/com/linecorp/centraldogma/server/CentralDogma.java#L784-L792

[2022-04-06 07:22] trustin opened #4189 "Unregister metrics associated with `ClientFactory`, `Server` or any `AutoCloseable`s when they're stopped or closed"
Armeria currently registers Micrometer `Meter`s when a `ClientFactory` or `Server` is started, but they are not unregistered after they are stopped or closed.

This can lead to double registration of `Meter`s when a new `ClientFactory` or `Server` is started. The `Meter`s registered via `MicrometerUtil.register()` are protected against double registration, but it can confuse a user when it was cre

[2022-04-06 07:34] ikhoon commented on #4188
It was cruft. We should delete the invalid comment.

[2022-04-06 08:42] person2713 commented on #4184
Thank you a lot!

[2022-04-06 12:02] uyw4687 commented on #4188
thanks :)

[2022-04-06 12:03] #4188 closed

[2022-04-06 13:41] timothy-xflowpay opened #4193 "Multiparts.getBoundary() unexpectedly throws NullPointerException if boundary is missing"
As per the documentation, Multiparts.getBoundary() should throw IllegalStateException if boundary is missing. But it is actually throwing NullPointerException.

Code to reproduce NullPointerException: `Multiparts.getBoundary(MediaType.MULTIPART_FORM_DATA)`

[2022-04-06 20:32] timothy-xflowpay opened #4194 "[HttpJsonTranscoding] Path param is not populated in grpc request if unknown field of type "object" is passed in http json request"
I have the following grpc service definition:
[code]
and the following implementation running on Armeria server with HttpJsonTranscoding enabled:
[code]
I observed that when sending an unknown field of type "object" in http request, the path param (`key`) is not getting added to the request:
[code]
However if the unknown field has any other type, then it is working as expected:
[code]

[2022-04-07 09:18] #4184 closed

[2022-04-07 10:53] #4175 closed

[2022-04-07 18:39] aboivin opened #4195 "Issue resolving localhost: Empty label is not a legal name"
I'm having an error accessing a grpc service on localhost (`gproto+http://localhost:`) whereas `127.0.0.1` works fine, I'm using the `armeria-bom:1.15.0` bom, it work fine if I downgrade to `armeria-bom:1.14.1`

Here is a sample project that reproduce the issue (taken from the grpc example): https://github.com/aboivin/armeria-issue/blob/master/src/test/java/example/armeria/grpc/HelloServiceTest.ja

[2022-04-08 03:09] ikhoon commented on #4195
I was wondering how your search domains were configured. If it is sensitive information, you can send it through DM of our [Slack channel](https://armeria.dev/s/slack).

[2022-04-08 03:21] ikhoon commented on #4195
An `IllegalArgumentException` is raised if a search domain starts with `.` such as `.example.com`. Let me send a fix soon.

[2022-04-08 06:17] ta7uw commented on #3918
May I work on this issue?

[2022-04-08 07:30] ikhoon commented on #3918
Sure ❤️

[2022-04-08 09:21] ta7uw opened #4197 "Add a documentation for gPRC metrics with armeria-spring-boot"
As described in the following document, users set `MetricCollectingService` with `GrpcMeterIdPrefixFunction` as a Decorator to a server builder to collect metrics for gRPC.

https://armeria.dev/docs/advanced-metrics/#collecting-server-side-metrics

[code]

However, when using gRPC with armeria-spring-boot, this decorator which is set by users is ignored because Armeria Spring integrations always u

[2022-04-08 09:53] ikhoon commented on #4197
Agreed. It would be useful for Spring users.

[2022-04-08 13:10] person2713 commented on #4184
@jrhee17 maybe you know why I have 0 all the time in active_request metric
[code]

[2022-04-10 09:12] ta7uw commented on #3918
@ikhoon
How about setting `DefaultRequestLog` as the argument of `LogFormat#format` to handle flags, etc.?
[code]

In the current implementation, the log generation mechanism uses the `flags` as follows.

https://github.com/line/armeria/blob/e08b6eabcf9f8ddf231b8744026dd5dbd6342271/core/src/main/java/com/linecorp/armeria/common/logging/DefaultRequestLog.java#L1475-L1478

I think it would be diffic

[2022-04-10 16:40] ahnyujin commented on #4016
Thanks for your kind reply @ikhoon.
You helped me understand the issue better. I'll try it!

[2022-04-11 02:00] ikhoon commented on #4184
`armeria_server_active_requests` is a snapshot of currently running services.
If your service ends in a short time, it would not be recorded.
https://github.com/line/armeria/blob/c8d1f5ef142f65fd79bd01b87d8155d220c9d0b9/core/src/main/java/com/linecorp/armeria/internal/common/metric/RequestMetricSupport.java#L84-L88

[2022-04-11 02:12] ikhoon commented on #3918
We can use `RequestLog.isAvailable(RequestLogProperty.REQUEST_LENGTH)` for this purpose.

[2022-04-11 02:37] jrhee17 commented on #4184
As @ikhoon already explained, `armeria_server_active_requests` represents the number of "active" requests when the snapshot is taken.

This metric is collected via a micrometer [gauge](https://micrometer.io/docs/concepts#_gauges) which is incremented every time a request is received, and decremented once the response is fully written. Hence, the metric may be very different depending on the timing

[2022-04-11 05:03] ta7uw commented on #3918
Should we need to check the value of `flags` in `DefaultRequestLog`?

https://github.com/line/armeria/blob/e08b6eabcf9f8ddf231b8744026dd5dbd6342271/core/src/main/java/com/linecorp/armeria/common/logging/DefaultRequestLog.java#L230-L232

[2022-04-11 08:31] minwoox commented on #4129
Oops, thanks for catching this. 😅

[2022-04-11 11:11] #4106 closed

[2022-04-12 13:03] natsumehu opened #4203 "grpc-status-details-bin is not propagated in response headers when throw exception specifically"
In grpc AbstractUnframedGrpcService, when we throw errors other than doing `responseObserver.onError(StatusProto.toStatusRuntimeException(status))`, the `grpc-status-details-bin` will not be propagated in headers.
eg. when we do something like
[code]
the metadata information is lost in https://github.com/line/armeria/blob/f0a7a01f79e54cef847699091cbe7d7ba94ae3a2/grpc/src/main/java/com/linecorp/arm

[2022-04-13 04:51] ta7uw commented on #3309
I think the above distribution summary can be applied by setting as the following
What do you think? @okue

[code]

[2022-04-15 09:18] ikhoon commented on #3918
`hasInterestedFlags(flags, RequestLogProperty.REQUEST_LENGTH)` must be the same with `RequestLog.isAvailable(RequestLogProperty.REQUEST_LENGTH)`.
By the way, `flags` is a volatile value. So it is bad to access it repeatedly.
How about adding an API that returns all available `RequestLogProperty`s?
[code]

[2022-04-15 10:47] ikhoon commented on #4160
Fixed by #4173

[2022-04-15 10:47] #4160 closed

[2022-04-16 02:17] #4182 closed

[2022-04-16 02:22] #4195 closed

[2022-04-16 03:16] trustin opened #4205 "Add `AnnotatedServiceConfigSetters`"
`AnnotatedServiceBindingBuilder` and `VirtualHostAnnotatedServiceBindingBuilder` currently don't share a common interface for its methods, such as `pathPrefix()` and `exceptionHandlers()`. This means, a contributor can add a builder method to one builder but not to the other by mistake. By making both builder extend a new interface `AnnotatedServiceConfigSetters`, we could prevent such a mistake.

[2022-04-16 03:21] #4114 closed

[2022-04-16 15:40] proceane commented on #4205
Hello @trustin  I would like to contribute to this issue. Can I work on this issue?

[2022-04-17 01:32] trustin commented on #4205
Sure! Thanks for your interest. Let us look forward to your PR 🙇

[2022-04-17 01:34] #4132 closed

[2022-04-17 04:39] proceane commented on #4205
I have a few question while working on 2. ✋🏻

Are builder methods common to `AnnotatedServiceBindingBuilder` and `VirtualHostAnnotatedServiceBindingBuilder`?

If the builder methods is common methods for two classes, I wonder if I need to generate an implementation code for the builder method when working on 3. or if I just need to replace the `ServiceConfigSetters` to `AnnotatedServiceConfigSette

[2022-04-17 18:35] person2713 commented on #4184
Thank you!

[2022-04-18 05:35] ikhoon commented on #4052
Fixed by #4174

[2022-04-18 05:35] #4052 closed

[2022-04-18 10:00] trustin opened #4211 "Remove SPI-based `RequestContextStorageProvider` lookup"
Armeria 1.17 will have a new flags SPI in #4151 that allows a user to override the default `RequestContextStorageProvider` by writing a `FlagsProvider`. There's no need to confuse our users by having two SPI loaders.

[2022-04-18 13:29] #4145 closed

[2022-04-18 13:57] trustin commented on #4178
Closed via #4180

[2022-04-18 13:57] #4178 closed

[2022-04-18 14:15] #3967 closed

[2022-04-18 14:39] minwoox opened #4213 "Test failure: SuspendingAnnotatedServiceTest"
[code]

[2022-04-19 00:05] eisig opened #4216 "armeria actuator could not handle health sub group request"
armeria actuator could not handle health sub group request

`curl http://localhost:8080/actuator/health/liveness`

armeria 1.13.4
[code]

armeria 1.15.0
[code]

[2022-04-19 01:08] minwoox opened #4217 "Test failure: EurekaEndpointGroupFailoverTest"
[code]

[2022-04-19 01:11] minwoox commented on #4217
Let me close this issue because https://github.com/line/armeria/pull/4212 handles this.

[2022-04-19 01:11] #4217 closed

[2022-04-19 09:57] #4093 closed

[2022-04-21 03:23] ikhoon commented on #4216
@policeman-kh You might be interested in this issue.

[2022-04-21 06:06] policeman-kh commented on #4216
@ikhoon Yes. Let me check it!

[2022-04-21 08:34] minwoox commented on #4216
@eisig Could you check if it's working in Armeria 1.14 or later?
I think it's fixed by this PR, so please let me know if it's not working.
https://github.com/line/armeria/pull/4039/files#diff-94450af9dc1a83cede762e2f7d2d735bbf8ec5971b29d20699f1f1f7ce5cc559R53

[2022-04-21 11:44] trustin opened #4220 "Check if we Armeria has the 'writes starving reads' problem"
@tommyulfsparre reported [an issue](https://github.com/netty/netty/issues/12320) in Netty, which may also be relevant to us. We should check if we're also affected by this issue.

[2022-04-22 02:48] eisig commented on #4216
Yes 1.15 works.

I set the version to 1.5 when I want to check version  1.15. sorry for that.

[2022-04-22 02:48] #4216 closed

[2022-04-23 07:03] ks-yim commented on #4144
I am working on this now 😆.

[2022-04-23 12:12] Parkkibum95 commented on #4038
may i try this? 🚀

[2022-04-24 13:24] ks-yim commented on #4038
@Parkkibum95 Thanks, it seems no one has started working on this 😆

[2022-04-26 08:29] ikhoon opened #4229 "Add Kotlin as a optional dependency of core module."
If Kotlin dependency is added to an optional dependency, we can provide Kotlin-specific extension methods and DSL for each module.
For example:
[code]

[2022-04-26 08:37] minwoox opened #4230 "Provide a way to decorate Thrift services via annotation"
Thanks to @ta7uw, we can use decorator annotation to decorate gRPC services. #4041
It would be also very useful if we can use the annotation in Thrift services.

[2022-04-26 08:39] ikhoon commented on #4230
@AmosDoan might be interested in this issue. 😆

[2022-04-26 13:38] #4203 closed

[2022-04-28 05:18] heowc opened #4233 "Support High-level API for GraphQL"
Currently, `armeria-graphql` is based on `graphql-java` and provides a very low-level API. Many frameworks or libraries provide high-level APIs. One of them is that if we create an object such as a simple resolver without creating a data fetcher ourselves, it is naturally connected to the schema.

For example, there are frameworks such as:
- [dgs-framework](https://netflix.github.io/dgs/)
- [sprin

[2022-04-28 13:48] trustin opened #4234 "WebSocket client"
@minwoox's PR #3904 adds the server-side WebSocket support. It'd be awesome if we can also add the client-side WebSocket support, which could be useful for those who implements a WebSocket gateway.

Hypothetical API:

[code]

[2022-04-28 13:56] trustin opened #4235 "Make sure JettyService can send a large response on a slow connection"
`JettyService.ArmeriaHttpTransport.send()` currently sends everything immediately to the output `HttpResponse` stream, regardless of whether the client consumed what was written so far. This can make the server buffer most of the response, which can be a problem when the service generates a very large response. We could:

- use `StreamMessageWriter.whenComsumed()` so we notify the callback given t

[2022-04-28 14:35] Parkkibum95 commented on #4038
I'm really sorry... 🏳️ 🏳️

[2022-04-29 14:37] Parkkibum95 commented on #4038
- https://javadoc.io/static/com.linecorp.armeria/armeria-javadoc/1.16.0/com/linecorp/armeria/common/HttpMethod.html#GET

AFAIK. @get contains all the functions of @head, so If possible, could you explain your intentions in more detail with examples?

cc. @ks-yim

[2022-04-30 02:43] ks-yim commented on #4038
@Parkkibum95
Currently, defining a `@Get` mapping alone in `AnnotatedService` does not support `HEAD` requests while other frameworks do.

Imagine the following get mapping definitions:
[code]
With the above definitions, sending a HEAD request to the Armeria server gives you 405 error while the Spring sever gives 200 and one can override this behavior by defining an explicit `HEAD` mapping for the

[2022-04-30 11:41] franz1981 commented on #4220
Any news on this @trustin ?

[2022-05-02 13:26] trustin commented on #4220
Hey @franz1981, I didn't have time for looking into this. Are you asking this because you're using Armeria or the outcome of this issue could be useful to Netty as well? 🙂

[2022-05-02 13:28] franz1981 commented on #4220
@trustin

The latter: I've very few free cycles and if there's any *real* concern it could affect Netty, I'll take time to look into this, but any other investigation(s) (of people I know are more skilled then me on it :) ) are welcome :)

[2022-05-03 02:12] ikhoon opened #4237 "Support for request scoped DataLoader for GraphQL-Java"
Users can not manage the scope of `DataLoaderRegistry` because it is instantiated only when a `GraphqlService` is built.
Slack thread: https://line-armeria.slack.com/archives/C1NGPBUH2/p1651542368887699

It would be nice to give users more freedom to control the lifecycle of `DataLoaderRegistry`.
I think we can provide an API that takes `Function<ServiceRequestContext, DataLoaderRegistry>` so that

[2022-05-04 08:19] #3263 closed

[2022-05-06 02:42] natsumehu opened #4239 "Provide a way to enable GRPC reflection service and make it enabled by default."
We wanna provide a way to enable Armeria GRPC reflection service. And since some organization rely heavily on grpcurl tool to debug and write scripts which is based on reflection api, would it be necessary to enable it by default?

[2022-05-06 04:47] ikhoon commented on #4239
If it is repeatedly used, we may provide an option to automatically enable it such as `GrpcService.enableReflectionService(boolean)`.
I am not 100% sure that it makes sense to enable it by default.
Because it is able to expose unexpected implementations to the public networks.

[2022-05-10 04:41] eisig opened #4244 "skip the DNS query if the proxy config is config for the endpoint."
Config the client factory to use a proxy, if the URL could not resolve in localhost, an UnknownHostException would be thrown.

If we have config the client factory proxy, we should skip resolving the address for the proxy request.

[2022-05-10 13:07] onsah commented on #3945
I am also encountering a similar error recently. How can I solve?

[2022-05-11 06:04] chungonn commented on #4137
I am ready to work on this issue, can you give me the necessary pointers to work on? I trust I would working on the Java source. I would be using Intellij for my development environment with Java 17. I would be using Armeria with Scala 3 and Java 17.

Thanks in advance

[2022-05-11 07:32] Jimexist commented on #4229
by the way i added [kotlin support][1] in thrift some time ago, could benefit from that once libthrift and compiler 0.17.0 is released in Q3 2022

[1]: https://github.com/apache/thrift/blob/master/compiler/cpp/src/thrift/generate/t_kotlin_generator.cc

[2022-05-11 09:52] ikhoon commented on #4229
It looks to support Kotlin Coroutines. Awesome! ❤️
https://github.com/apache/thrift/blob/master/compiler/cpp/src/thrift/generate/t_kotlin_generator.cc#L1393

[2022-05-11 14:03] Jimexist commented on #4229
yes i intended to only support suspend functions, but then delegate to jdk8 bridge for suspend function <=> async client operations, so that the generated code can still work with the existing Java libthrift library _alone_, i.e. there's no libthrift-kotlin library.

i can see that in armeria the thrift client is actually not based on the default implementation but rather via [dynamic proxy and de

[2022-05-12 07:44] ikhoon commented on #4137
You can start from reading the code around:
https://github.com/line/armeria/blob/94a1bf40ff41e1cfa9cd0c1a08f7bde14a7153c9/core/src/main/java/com/linecorp/armeria/internal/server/annotation/AnnotatedService.java#L353-L376
We can add a new branch for `HttpService`.

[2022-05-12 07:48] ikhoon commented on #3945
@onsah Could you provide a reproducible example?

[2022-05-12 10:36] chungonn commented on #4137
Noted with thanks!

[2022-05-13 06:57] ikhoon commented on #3945
If it is difficult to reproduce, #4232 feature will help us find a clue to the error.

[2022-05-16 07:44] Parkkibum95 commented on #4038
i'm really sorry. I couldn't find a way...
I think this issue is too hard for me 😞
Once again, I'm so sorry... 😥

[2022-05-16 08:56] ikhoon opened #4250 "Add `RestClient`"
`WebClient` provides fluent APIs to exchange a REST API with `prepare()`.
[code]
But users need to call `.prepare()` and `.asJson()` to get a decoded JSON object using `WebClient`.
They may feel it as boilerplate code. We provide `RestClient` which can offer a more intuitive and straightforward version of API.

### Design concept for `RestClient`
  - Provides an API to make a REST request with min

[2022-05-16 09:34] ikhoon opened #4251 "Provide a way to get the original file name of a multipart file in annotated service"
If a file is updated to an annotated service through multipart, the binary content is written to a random file and the original filename is lost.
Users may need to get the original filename as well. We can simply provide `MultipartFile` that holds the original filename.
[code]

[2022-05-17 07:50] ikhoon opened #4253 "Add `StreamMessageWriter`"
`StreamMessageAndWriter` is an internal API to write arbitrary objects with backpressure.
https://github.com/line/armeria/blob/0016f868b15cae6d8568004f3288ed86621a7b93/core/src/main/java/com/linecorp/armeria/common/stream/StreamMessageAndWriter.java#L23
As there is no public API for a streaming writer, we directly instantiate `DefaultStreamMessage`.
[code]
#4186 will provide a way to write a `Stre

[2022-05-17 08:16] chungonn commented on #4137
I studied the code in closer details and I  realised that the current code base is very generic and flexible. It basically provides the manipulation of all  types of input and output.

Before doing a deep dive into the code base, I achieved what I need by creating an annotated RequestConverterFunction and ResponseConverterFunction classes corresponding. Now, I am able to achieve what I need withou

[2022-05-17 08:16] #4137 closed

[2022-05-17 08:48] trustin opened #4254 "`AggregatedHttpResponseHandler` doesn't respect `ServiceRequestContext.additionalResponse{Headers,Trailers}`"
Unlike `HttpResponseSubscriber`, `AggregatedHttpResponseHandler` doesn't merge `ServiceRequestContext.additionalResponseHeaders` and `additionalResponseTrailers` when encoding response headers and trailers:

https://github.com/line/armeria/blob/871d87297e4d051241589cb1ae95641cbc83f880/core/src/main/java/com/linecorp/armeria/server/AbstractHttpResponseHandler.java#L103-L134

The following patch rep

[2022-05-17 08:53] jrhee17 opened #4255 "`WriteTimeoutException` may not be thrown for header-only requests"
Currently, write timeouts should be thrown if the first message (header) isn't written within the specified duration.

https://github.com/line/armeria/blob/5a2c7202aa17b6e43a90808e2a27fdf69df18417/core/src/main/java/com/linecorp/armeria/client/HttpRequestSubscriber.java#L171

However, the timeout may be cancelled when `HttpRequestSubscriber#onComplete` is called.

https://github.com/line/armeria/b

[2022-05-17 08:58] trustin opened #4256 "`ServiceRequestContext.additionalResponseTrailers` is not written when a service returns a header-only response"
Given a service:

[code]

The resulting HTTP/2 frames should be:

[code]

However, the actual frames are:

[code]

.. because we entered `DONE` state without checking whether `additionalResponseTrailers` is empty here:

https://github.com/line/armeria/blob/871d87297e4d051241589cb1ae95641cbc83f880/core/src/main/java/com/linecorp/armeria/server/HttpResponseSubscriber.java#L152-L161

[2022-05-17 08:59] trustin commented on #4254
A potential workaround for this issue is to override the `exchangeType()` to return `ExchangeType.RESPONSE_STREAMING`, but it has its own issue: https://github.com/line/armeria/issues/4256

[2022-05-17 09:13] ikhoon commented on #4254
The additional `trailers` was written to the HTTP/2 stream but it seems that it was ignored by gRPC clients.
Because the gRPC request is failed and [`Trailers-Only`](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md#outline) response is sent.
Since the gRPC client correctly received a gRPC trailers from HTTP headers, the following HTTP trailers is ignored.
[code]

[2022-05-17 09:36] trustin commented on #4254
I see. According to gRPC specification:

What if we put `grpc-status` and `grpc-message` in HTTP/2 trailers, then?

[2022-05-17 09:42] ikhoon commented on #4254
Good idea. I guess gRPC clients will correctly receive the trailers.

[2022-05-17 11:43] trustin commented on #4254
At second thought, I came to the conclusion that this is not what we really want because:

- It's not efficient; and
- It doesn't work for gRPC-Web.

Let me close this issue and open a new one with a better idea, given the original issue description is not correct anyway.

[2022-05-17 11:43] #4254 closed

[2022-05-17 12:06] trustin opened #4257 "Provide a way to specify metadata properly in `AbstractUnaryGrpcService`"
When a user uses an `AbstractUnaryGrpcService`, he or she uses `ServiceRequestContext.setAdditionalResponseTrailer()` to add gRPC metadata to the response.

However, this doesn't always work:

- When `handleMessage()` throws an exception, a `Trailer-Only` response is sent.
  - According to gRPC specification, a `Trailer-Only` response must contain all metadata in an HTTP response *headers*. Theref

[2022-05-18 05:43] ikhoon opened #4258 "Automatically compress gRPC response message"
A gRPC service compresses response messages if a client 1) sends `grpc-accept-encoding=XXX` and 2) a corresponding `Compressor` is set via `ServerInterceptor`.
For example:
[code]
It is inconvenient to add an interceptor only for compression.

For simplicity, we can provide an option that finds a suitable `Compressor` from `CompressorRegistry` using `grpc-accept-encoding` header.
[code]

Slack thr

[2022-05-18 05:45] ikhoon commented on #4258
@ta7uw(who likes to contribute to gRPC functions) Are you interested in this issue? 😉

[2022-05-18 09:32] mscheong01 opened #4261 "Provide a way to download *.proto files from DocService"
providing *.proto files used in a armeria server would be helpful for cases with no common support/policy for proto file management(ex: stub packaging, etc) established.

example api:
[code]
 provide protocol buffer file directories(or maybe packages?) when building the DocService, then Armeria filters & compresses all *.proto files in these paths and serve it on a 'download protocol buffer files'

[2022-05-19 03:32] trustin commented on #4261
That's a great idea, @j-min5u. I wonder if the content of the .proto file is already available somewhere inside the generated class though. If that's the case, we probably don't need to add the files explicitly, although allow adding them manually can sometimes be useful.

[2022-05-19 04:12] j-min5u commented on #4261
@trustin That would be really nice if possible, but the provided proto files would also have to maintain their file structure in addition to their content to be fully compilable considering local imports. It seems the only way to do this is through manual directory/file scan.

[2022-05-19 05:33] ta7uw commented on #4258
Yes, I'd like to work on this issue!

[2022-05-20 10:37] ngyukman opened #4264 "Allow creating HttpFile from URL"
Thanks for this awesome project

We have a need to create a HttpFile from the jar path which is not loaded into classloader
And it can be easily supported by having the following builder and move the logic around
[code]

[2022-05-23 14:41] ikhoon opened #4268 "Failed to convert an `HttpResponse` into an `InputStream`"
@eisig reported a bug in `StreamMessageInputStream` converter.

[code]
Slack thread: https://line-armeria.slack.com/archives/C1NGPBUH2/p1653303100545389

To fix the bug, If `httpDataConverter` returns `HttpData.empty()`, `StreamMessageInputStreamSubscriber` should request the next element to the upstream to produce bytes.
https://github.com/line/armeria/blob/e08d486816ce9beafd10b5971393667bc288a58

[2022-05-23 14:44] ikhoon commented on #4268
Additionally, I found another bug that `StreamMessageInputStream` did not call `subscriber.request()` only if `byteBufsInputStream` is empty or has not enough data?
[https://github.com/line/armeria/blob/e08d486816ce9beafd10b5971393667bc288a58b/core[…]om/linecorp/armeria/common/stream/StreamMessageInputStream.java](https://github.com/line/armeria/blob/e08d486816ce9beafd10b5971393667bc288a58b/core/s

[2022-05-24 05:08] injae-kim commented on #4268
oh.. I'll fix this bug issue as soon as possible!
Sorry for making bug 🙇 cc. @ikhoon

[2022-05-24 05:09] ikhoon commented on #4268
No worries. 🙂 We should’ve checked the bug while reviewing the PR.

[2022-05-24 11:02] ks-yim commented on #4038
@Parkkibum95 No worries, I was thinking of modifying `DefaultRoute#apply` method.

We may want to see a `HEAD` request is routed even with a `Route` which supports `HttpMethod#GET` but `HttpMethod#HEAD`, but giving a less score to the returned `RoutingResult` in this case to allow overriding this by defining an explicit `@Head` mapping.

Not sure if it is the optimal solution but we can give it a

[2022-05-25 13:17] person2713 commented on #4141
Hello, I have the same problems:
`LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
#1:
	io.netty.buffer.AdvancedLeakAwareByteBuf.writeBytes(AdvancedLeakAwareByteBuf.java:610)
	org.springframework.core.io.buffer.NettyDataBuffer.write(NettyDataBuffer.java:177)
	org.springframewo

[2022-05-25 17:24] yunjizhong opened #4270 "anyOriginSupported blocks CORS policy added for different route path"
Once [anyOriginSupported](https://github.com/line/armeria/blob/1d2abcbcc68498fb741ae46b670e7f7f14f71e23/core/src/main/java/com/linecorp/armeria/server/cors/CorsServiceBuilder.java#L92) is set then it does not allowed for any other CORS policies be added. However, CORS policy supports different origins for different [patternPath](https://github.com/line/armeria/blob/1d2abcbcc68498fb741ae46b670e7f7f

[2022-05-25 17:32] yunjizhong commented on #4270
The following code would not work for now:
`CorsService.builderForAnyOrigin()
.route("prefix:/cors9")
.allowRequestMethods(HttpMethod.GET)
.andForOrigin("http://example.com/")
.route("/cors9/movies/{title}")
.allowRequestMethods(HttpMethod.POST)
.and()
.newDecorator());`

[2022-05-30 02:45] kojilin commented on #4141
@person2713 Maybe solved by this PR? https://github.com/line/armeria/pull/4185
Are you using 1.16.0 or can you try 1.16.0?

[2022-05-30 08:52] person2713 commented on #4141
@kojilin thank you! Yes, release  1.16.0 fix this, at least I don't see this message in logs any more.

[2022-05-31 07:24] ikhoon opened #4273 "Test failure: `JettyServiceTlsReverseDnsLookupTest.mutualTlsAttrs(SessionProtocol)`"
The test failures seem to only happen in Windows.
https://github.com/line/armeria/runs/6577195492?check_suite_focus=true#step:7:1004
https://github.com/line/armeria/runs/6651341334?check_suite_focus=true#step:7:994
[code]

[2022-06-01 15:13] be-hase commented on #2607
yes. ServerInteceptor is synchronous.
A similar problem has been pointed out in gRPC-kotlin.
https://github.com/grpc/grpc-kotlin/issues/223

[2022-06-01 16:43] be-hase opened #4275 "Even with useBlockingTaskExecutor enabled, gRPC's ServerInterceptor runs in a non-blocking thread"
## Issue

First of all, gRPC's [ServerInterceptor](https://grpc.github.io/grpc-java/javadoc/io/grpc/ServerInterceptor.html) is a synchronous API.

Therefore, when implementing an authentication process that requires network IO on the ServerInterceptor, blocking the thread is the only way.

In the case of gRPC-java, this is not a major problem since it runs on a thread pool. ([ref](https://github.c

[2022-06-02 03:02] be-hase commented on #4275
Or we may prepare an AsyncServerInterceptor using the technique introduced here.
https://stackoverflow.com/questions/53651024/grpc-java-async-call-in-serverinterceptor

But, it would be nice if it was prepared on the gRPC-Java side...

[2022-06-02 07:22] ikhoon commented on #4275
😱 It should be a bug. Let us fix it soon.

[2022-06-02 07:50] ikhoon commented on #4275
I was working on refactoring Armeria's `ServerCall` implementations. #4192
The change won't be difficult but it may heavily conflict with #4192. I am going to fix this problem once the refactoring PR is merged.

[2022-06-02 08:40] be-hase commented on #4275
Thank you.

In my opinion, `ServerInterceptor` should be runned at BlockingTaskExecutor when the user has specified `useBlockingTaskExecutor=true`.

By the way, I am using gRPC-Kotlin. I wrote the following code using the technique introduced in [this article](https://stackoverflow.com/questions/53651024/grpc-java-async-call-in-serverinterceptor) and it seems to work fine.
(However, it's still a r

[2022-06-03 01:53] trustin opened #4277 "Add the gauge meter for the number of active client connections"
Server keeps the number of active connections as a gauge [here](https://github.com/line/armeria/blob/380e6be4c1f2a4c6627c7929e2afb35edf64598a/core/src/main/java/com/linecorp/armeria/server/Server.java#L545), but client does not.

We could implement the gauge at `AbstractKeepAliveHandler`, which is where we measure the connection lifetime. By doing this, we can also unify how we count the active co

[2022-06-03 08:36] ikhoon opened #4279 "Recover `HttpResponse` according to a specific exception class."
A failed `HttpResponse` can be converted into a normal `HttpResponse` using `HttpResponse.recover(...)`.
For example:
[code]

If it is not a global exception handler, users may be interested in recovering an exception.
So, we can add a shortcut method for those requirements.
[code]

[2022-06-03 09:48] devdynam0507 commented on #4279
Hi @ikhoon can i solve this issue

[2022-06-03 09:54] jrhee17 commented on #4279
All yours @devdynam0507  👍

[2022-06-06 19:56] Dogacel opened #4284 "Debug Form doesn't show for RPC in DocService"
The `DocService` doesn't show any `Debug Form` options under the endpoint definitions:

![image](https://user-images.githubusercontent.com/7023385/172237442-bc7bcad4-92a1-4542-bd1f-8af7c48f787e.png)

I have tried the following:

[code]

Also I have seen this issue: https://github.com/line/armeria/issues/1134

But no luck. Does anyone know what is happening and maybe we can improve the documentatio

[2022-06-07 01:16] minwoox commented on #4284
Hey! Could you just try with this?
[code]
`builder.supportedSerializationFormats(...)` overwrites the values previously set, so I think only `GrpcSerializationFormats.JSON_WEB` is set by the code you pasted.
Also, all serialization formats are set by default so you don't need to set them explicitly. 😉

[2022-06-07 06:12] #4273 closed

[2022-06-07 07:24] minwoox opened #4286 "Change the insertion order of `ExceptionHandlerFunction`"
Let's look at the following example:
[code]
The fifth line is not called because the specified exception handler is attached before the decorator so `mapHeaders` is not applied:
[code]
I guess we wanted to catch the exception raised in the decorator.
However, it has this passing problem, and also `ExceptionHandlerFunction` is not installed with the `Request(Response)Converter` at the same level wh

[2022-06-07 08:34] Dogacel commented on #4284
@minwoox that did the trick, thanks. Which serialization format do we need to enable to use the debug form? Currently we are using `.supportedSerializationFormats(GrpcSerializationFormats.PROTO)` because JSON serialization does not run with proto3 optional fields. So enabling all can be risky for us.

Also, if I set `enabledUnframedRequests(true)`, will it affect how the framed requests are handle

[2022-06-07 10:39] minwoox commented on #4284
It's `GrpcSerializationFormats.JSON`. https://github.com/line/armeria/blob/master/docs-client/src/lib/transports/grpc-unframed.ts#L21 (Sorry about that we don't have documentation about it. 😅 )

Oops, I didn't know about it. Could you give us a link to it or provide a simple reproducible example so we can take a look at it?

No, it's not. 😉 https://github.com/line/armeria/blob/master/grpc/src/main

[2022-06-07 13:17] hugobellomusto opened #4287 "Cyclic dependency between Flags and Logging (RequestContextExportingAppender)"
I was trying the last armeria release ([1.16.0](https://armeria.dev/release-notes/1.16.0/)) and "something strange" happens in a simple hello world app when using the `RequestContextExportingAppender` .

To simplify, if you have a main with only this:
[code]
(the same happens with useful code like `Server.builder.http(8080)…blabla` )

And logback is configured with the `RequestContextExportingAppe

[2022-06-07 15:01] ikhoon commented on #4284
As far as I know, `protobuf-jackson` supports optional since 2.0.0 https://github.com/curioswitch/protobuf-jackson/issues/7
You can also set Gson as a json marshaller. https://github.com/line/armeria/blob/8df42aa225af877ef13781ec1b27c1fe0ce37883/grpc/src/main/java/com/linecorp/armeria/common/grpc/GrpcJsonMarshaller.java#L71
If you encounter another issues except what we have known, please let us k

[2022-06-07 17:23] Dogacel commented on #4284
Seems like BloomRPC is using a completely different serializer than `JsonFormat`.

We are not outputting any optional value because of the following logic inside `JsonFormat`: https://github.com/protocolbuffers/protobuf/blob/main/java/util/src/main/java/com/google/protobuf/util/JsonFormat.java#L998

I will try to trick the formatter by overriding default values to the optional fields but even if w

[2022-06-07 18:33] hugobellomusto commented on #4287
The workaround is to turn off Flags logging in`logback.xml` with:

[code]

[2022-06-08 00:11] #3122 closed

[2022-06-08 03:46] ikhoon opened #4288 "Test failure: `ServerTlsHandshakeMetricsTest.handshakeSuccess()`"
ServerTlsHandshakeMetricsTest > handshakeSuccess(SessionProtocol, String, String) > com.linecorp.armeria.server.ServerTlsHandshakeMetricsTest.handshakeSuccess(SessionProtocol, String, String)[3] FAILED
    org.awaitility.core.ConditionTimeoutException: Assertion condition defined as a com.linecorp.armeria.server.ServerTlsHandshakeMetricsTest
    Expected size: 1 but was: 2 in:
    [io.micrometer.p

[2022-06-08 07:44] minwoox opened #4289 "Should we also support Spring Cloud Gateway integration?"
Currently, we support Spring and WebFlux integration that switches the networking layers of the Spring server and client to Armeria.
I'm wondering if there are any demands for Spring Cloud Gateway integration also.
- [GatewayAutoConfiguration](https://github.com/spring-cloud/spring-cloud-gateway/blob/main/spring-cloud-gateway-server/src/main/java/org/springframework/cloud/gateway/config/GatewayAut

[2022-06-08 08:30] #4264 closed

[2022-06-08 08:45] tobias- opened #4290 "ServerCacheControl does not specify max-age for REVALIDATE/DISABLED"
After a short discussion about `Cache-Control` and the parameter `must-revalidate` in the server, it was agreed that the parameter `max-age=0` should be added to be extra correct as the `must-revalidate` already present on `ServerCacheControl.REVALIDATE` and `ServerCacheControl.DISABLED` works on "stale", and "stale" is decided by max-age.

I cannot find any documentation on what the default value

[2022-06-08 09:52] #4144 closed

[2022-06-08 09:52] #4244 closed

[2022-06-09 04:10] ngyukman opened #4294 "Failed to download the whole file served by HttpFile by wget or curl"
When I am serving a file with size over 70MB, wget or curl gets connection closed at around 30%

[code]

[code]

I have no idea why it fails but other web server (like npm serve) and does not have any issue
note that browser does not suffer from this issue

[2022-06-09 09:34] ikhoon commented on #4294
The connection seems closed after 10 seconds which is the default request timeout of an Armeria server.
https://javadoc.io/static/com.linecorp.armeria/armeria-javadoc/1.16.0/com/linecorp/armeria/common/Flags.html#defaultRequestTimeoutMillis()
Could you try to increase the request timeout using:
[code]

[2022-06-09 10:05] ngyukman commented on #4294
Dear @ikhoon

Thanks for your quick reply, indeed you are right
I thought timeout will only apply on response not ready within the RequestTimeout but indeed it is included in it
May I know if there is any settings that avoid timeout when serving a relatively large file for client with slow network other than simply increasing the timeout?

[2022-06-09 10:29] ikhoon commented on #4294
Armeria does not support a dynamic timeout based on the network bandwidth.
You can either:
1. Set a specific timeout for your service using https://javadoc.io/doc/com.linecorp.armeria/armeria-javadoc/latest/com/linecorp/armeria/server/ServiceBindingBuilder.html
2. Dynamically increase a request timeout using a decorator. For example:
[code]

[2022-06-09 12:10] ngyukman commented on #4294
Thanks a lot for your help

[2022-06-09 12:10] #4294 closed

[2022-06-10 10:39] trustin opened #4297 "A decorator that aborts a too slow stream"
We could provide a decorator that aborts the stream when there's not enough traffic for a certain period of time, e.g. Abort the connection if less than 64KiB was transferred for the last 10 seconds. Traffic could be calculated for only inbound, only outbound or both.

This could be useful for protecting the server against the bad actors that emulates slow network or serving a large file without r

[2022-06-10 10:39] trustin commented on #4294
Created an issue: https://github.com/line/armeria/issues/4297 Please feel free to subscribe to it or consider sending out a PR. 🙇

[2022-06-10 13:14] injae-kim commented on #3092
FYI, We found some bug on `StreamMessageInputStream` so now fixing it on https://github.com/line/armeria/pull/4271.
Please check https://github.com/line/armeria/issues/4268 for the details.

[2022-06-11 06:17] #4258 closed

[2022-06-11 08:39] #4290 closed

[2022-06-11 08:41] ikhoon commented on #4294
Awesome idea! With the feature, users really don't need to manipulate the timeout depending on the file size.

[2022-06-13 03:00] ngyukman commented on #4294
Thanks, that would be awesome and helps anyone that would use armeria to serve something big

[2022-06-13 13:51] ks-yim commented on #4286
I thought this was an intended behavior.

Just to clarify the description, `ExceptionHandlerFunction` was supposed to always be applied at the same level with `{Request, Response}Converter`?

[2022-06-13 14:53] cnabro opened #4299 "Provide a way to improve `DocService` for annotated service"
- `@Description` Annotation is not supported rich texts. So it’s hard to describe long type paragraphs.
- weak-supports for param type(enums, etc..) and return type when using `@Description` annotation in doc service.

### Suggestion
- Support param type, return type description like `gRPC-proto` documentation plugin.
  - Related issues : https://github.com/line/armeria/issues/2200
- Support rich

[2022-06-13 14:55] minwoox commented on #4286
Let me change the label to discussion because others might have different points of view. 🤔

[2022-06-13 15:04] cnabro commented on #4299
As mentioned in Slack, I'll try this issue 😀

[2022-06-14 02:23] ikhoon commented on #4286
Another considering point could be the consistency of behavior of error handlers.
- Thrift: start <-> routing decorators <-> Thrift error handler <-> service (rpc)decorators <-> service
- gRPC: start <-> routing decorators <-> service decorators <-> gRPC error handlers <-> service
- Annotated(current): start <-> routing decorator <-> Annotated error handler <-> service decorators <-> service
- Ser

[2022-06-14 04:45] minwoox commented on #4286
That's a good point. +1 for moving it.

[2022-06-14 05:05] #4197 closed

[2022-06-14 08:20] mauhiz opened #4300 "Add a flag to disable HTTP/2 globally"
SessionProtocol.HTTP / HTTPS defaults (without forcing) to HTTP/2, which is usually desirable.

However, we happen to have an issue with a buggy VPN provider, which drops HTTP/2 prefaces.
Having a global (environment) toggle to disable HTTP/2 looks doable and would be very helpful

[2022-06-14 08:38] ikhoon commented on #4300
Does `globally` mean to disable HTTP/2 protocol from the client-side?
I guess support for HTTP/2 on the server-side would have no harm to it.

[2022-06-14 08:45] ikhoon commented on #4300
How about adding `-Dcom.linecorp.armeria.defaultUseHttp2UpgradeRequest=<true|false>`?
If both `-Dcom.linecorp.armeria.defaultUseHttp2Preface=false` and `-Dcom.linecorp.armeria.defaultUseHttp2UpgradeRequest=false` are set,
a cilent would not try to upgrade to HTTP/2.

[2022-06-14 09:07] mauhiz commented on #4300
Thank you, let me attempt it this way.

[2022-06-14 09:08] ikhoon commented on #4300
Sorry, `-Dcom.linecorp.armeria.defaultUseHttp2UpgradeRequest=false` is not implemented yet. It was a proposal.
I was wondering if the problem could be fixed by disabling HTTP/2 preface and using HTTP/2 upgrade request with `-Dcom.linecorp.armeria.defaultUseHttp2Preface=false`.

[2022-06-14 09:45] mauhiz commented on #4300
I'll get confirmation from other affected people but it seems that `-Dcom.linecorp.armeria.defaultUseHttp2Preface=false` is working for me.

[2022-06-14 09:57] #4300 closed, assigned to nobody

[2022-06-14 11:32] #3400 closed

[2022-06-15 04:40] resquivel-squareup opened #4301 "Unable to use custom JsonFormat.Printer for ProtobufResponseConverterFunction"
Hello, we’re trying to use in a custom `com.google.protobuf.util.JsonFormat.Printer`  for the `ProtobufResponseConverterFunction `, which we are using to convert the HttpResult from our endpoint into JSON

We’re doing this by passing in a custom instance of the converter function like so:
[code]

However, the custom Printer isn't being used. It looks like [a new converter is being instantiated](ht

[2022-06-15 05:12] minwoox commented on #4301
I guess it's a bug. 😅
The specified `ResponseConverterFunction` should be applied before the `ProtobufResponseConverterFunctionProvider` but it's not:
https://github.com/line/armeria/blob/87d2c926675c49d513855fa6b8a8c0844ee30f1f/core/src/main/java/com/linecorp/armeria/internal/server/annotation/AnnotatedService.java#L206-L235

[2022-06-15 05:15] minwoox commented on #4301
Do you want to fix this by yourself? Of course, we can handle it if you don't have time for that. 😄

[2022-06-15 09:33] ks-yim commented on #4286
We are currently using `ExceptionHandlerFunction` to catch exceptions raised in some service decorators (e.g. `AuthService`). Does this change imply that those exceptions raised in service decorators should be handled in `ServerErrorHandler`?

Sounds like so but the following sentence confuses me. 😅 Maybe I am missing something?

[2022-06-16 00:06] resquivel-squareup commented on #4301
Will give it a shot 👍

[2022-06-16 00:56] minwoox commented on #4301
Thanks, @resquivel-squareup 😄

[2022-06-16 01:05] minwoox commented on #4301
To be precise, I think `ResponseConverterFunction`s  should be applied in the following order:
- Annotated `ResponseConverterFunction`
- Set via `ServerBuilder.annotatedService()` and equivalent
- Found via SPI
- Default `ResponseConverterFunction`s

[2022-06-16 02:43] #4024 closed

[2022-06-16 09:12] mp-joshua opened #4302 "Support custom method of gRPC HTTP endpoint"
Hi!

I'm curious release plan about #4064 PR.

When I try to use `enableHttpJsonTranscoding` feature,
it seems armeria doesn't yet fully support [custom method](https://cloud.google.com/apis/design/custom_methods).

Could you let me know release plan about supporting verb suffix (#4064) ?

[2022-06-16 09:38] ikhoon commented on #4302
Hi, the PR has been worked by @hyangtack, an external contributor.
As far as I know, he spent his spare time making the feature.
So it is difficult for me to tell when it is going to release.

But I hopefully believe he could finish the PR in near future. Please stay tuned. 🙇‍♂️

[2022-06-18 13:38] cnabro commented on #4299
## e.g Support rich texts using @Description Annotation
- using react-markdown, react-markdown, remark-gfm
- ![image](https://user-images.githubusercontent.com/6916639/174440035-ccfe7c5e-6601-475c-b3f6-fa5daaeaae33.png)

[2022-06-18 18:11] sidhant92 commented on #897
@huydx @trustin , I am facing the same issue but I am using Armeria as the server and ab as the client. When I enable -K in ab the response is very slow with armeria.

I am using Armeria with Dropwizard, the default Jetty server works just fine.

[2022-06-20 05:43] ks-yim commented on #4286
Agree with the direction. I was quite confused with the differentiation between `ServerErrorHandler` and `ExceptionHandlerFunction` in the past and the change will make their roles more clear.

I was just worried that it can be a breaking change.
cc. @ghkim3221

[2022-06-20 07:48] resquivel-squareup commented on #4301
Hello, I've created a Draft PR (definitely not for merging yet).

`FlowAnnotatedServiceTest` `test_EventStreaming()`, appears to expect the annotated-response-converter-wrapped-by-the-SPI-converter to be prioritised over just the annotated-response-converter. This seems to be a special case, so I wanted to get your opinion on it.

[2022-06-20 10:14] ikhoon commented on #4301
Good point. We need more options for the orders to resolve the conflict.
It seems that we can't prioritize an annotated `ResponseConverterFunction` always.
- If the class type of an instance returned by `ResponseConverterFunctionProvider.createResponseConverterFunction()` is the same or super class,
  We may prioritize the `ResponseConverterFunction` passed through `@ResponseConverter` or `Annotat

[2022-06-20 11:36] trustin opened #4306 "Provide a way to send error details with `ArmeriaStatusException`"
When a user implements a gRPC service using `AbstractUnaryGrpcService`, he or she can throw an `ArmeriaStatusException` to send an error response. However, the user can't send the error details as defined in [`status.proto`](https://github.com/googleapis/googleapis/blob/3474dc892349674efda09d74b3a574765d996188/google/rpc/status.proto#L46) because `ArmeriaStatusException` doesn't have a `details` f

[2022-06-21 04:51] minwoox commented on #4301
Had a chat with the team and we realized:
- `ResponseConverterFunctionProvider`(found via SPI) uses the `responseConverterFunction`s set via annotation, service builder and default ones.
- So the relationship between `ResponseConverterFunctionProvider` and others is not about which one is used beforehand.
  - It's just that `ResponseConverterFunctionProvider` uses the configured `responseConverter

[2022-06-21 12:04] ikhoon opened #4307 "Provide a way to customize `Endpoint`s in an `EndpointGroup`"
The hostname of a statically created `Endpoint` with `of(host, port)` may have
the target DNS name. A `WebClient` created with the `Endpoint` will use the
hostname as a `Host` header for HTTP/1 or `:authority` pseudo header for HTTP/2.
Users are in control of the value of hostname.

That being said, when `Endpoint`s are dynamically resolved in runtime using `DynamicEndpointGroup`,
The `Endpoint.ho

[2022-06-22 01:30] jrhee17 commented on #4301
Just for clarification:

By this, I think we mean that we will define the behavior of `armeria`'s default `ResponseConverterFunctionProvider` implementation such that:
1) Each `ResponseConverterFunctionProvider` implementation will attempt to apply it's own `ResponseConverterFunction`
2) If not applicable, they will fall back to the passed `responseConverterFunction`

so I guess the PR would look

[2022-06-22 08:52] ikhoon opened #4309 "Provide a way to support `StructInfo` for various types"
Reflection is used to create a `StructInfo` for an annotated service.
https://github.com/line/armeria/blob/e36f7e67e48a76208d87bb9edbbeb718059b41cc/core/src/main/java/com/linecorp/armeria/internal/server/annotation/AnnotatedDocServicePlugin.java#L459-L461
The names of all fields are directly exposed to the `StructInfo`.
If a class is automatically generated by a compiler, users want to mask some u

[2022-06-23 04:54] ikhoon opened #4311 "Provide a way to decorate a gRPC service using a builder method."
Thanks to #4041, we can decorate an individual gRPC service using `@Decorator`.
As `@Decorator` is statically bound, some users could want to dynamically bind a decorator using
the builder method of `GrpcService` programmatically.
For example:
[code]

For that, we can add two new builder methods to `GrpcServiceBuilder`:
[code]
https://github.com/line/armeria/blob/3c61331a7a14bc9b1339c91f5781cdce8b

[2022-06-23 13:40] ta7uw commented on #4311
Let me work on this feature.

[2022-06-24 09:33] resquivel-squareup commented on #4301
Thanks for the responses, I’ve linked this new [Draft PR](https://github.com/line/armeria/pull/4312) so we can discuss the new implementation. Let me know if this is or is not what you intended.

As far as I can tell, this implementation doesn’t do this:

The provider code is called when selecting a response converter to use, which is far before the responses are actually converted.
There is just

[2022-06-24 12:51] ikhoon opened #4314 "Easier way to get a `ClientRequestContext`"
`ClientRequestContext` can be acquired after the execution of a client request by using a context captor
[code]

The API is powerful but users should be careful when using it because it must be closed in the same thread.
I imagine it would be nice if we could provide a more convenient way to access it.
Recently, we added `ResponseEntity<T>` for better usability of `WebClient`.
https://github.com/l

[2022-06-26 06:17] baemunhwan opened #4315 "armeria(1.16.0)에서 multipart 이용할때 RequestConverterFunction이용해서 구현이 불가능한가요?"
안녕하세요
이전 버전에서는 (1.13.0) 에서는 multipart를 구현할때 RequestConverterFunction convert를 구현해서 사용했습니다.
1.16.0에서는 Cannot convert this request to an object because it is not aggregated 가 나오면서 에러가 발생을 합니다.

multipart로 데이타를 전송할때는 기존의 RequestConverterFunction으로 구현이 불가능하도록 변경이 된것일까요.?

감사합니다.

[2022-06-26 06:47] ikhoon commented on #4315
Hi,we use English for GitHub communication. If you want to ask questions in Korean, please use our Slack channel. We have two sub-channels for Korean and Japanese in https://armeria.dev/s/slack

[2022-06-27 06:52] resquivel-squareup commented on #4301
Thanks for your response [here](https://github.com/line/armeria/pull/4312#discussion_r906044200)!

-------

I also wanted to clarify something. As far as I can tell, a side effect of this implementation is that for `ProtobufResponseConverterFunctionProvider` (and maybe `ScalaPbResponseConverterFunctionProvider`?), the order of using the converters during response conversion would be as follows:
-

[2022-06-27 07:08] minwoox commented on #4301
That's exactly what we need to achieve through this PR! 👍 👍 👍

I can't agree more than this. Yeah, we definitely need documents for this.
We need to update the Javadocs and also add descriptions to the official docs. 😄
https://armeria.dev/docs/server-annotated-service#converting-a-java-object-to-an-http-response
Thanks a lot! 😄

[2022-06-27 11:02] trustin opened #4317 "Change DNS resolver and `RetryingClient` timeout defaults to a saner value"
We have unrelated yet very similar issues in DNS resolver and `RetryingClient`, which are probably worth discussing in a single issue:

### DNS resolver

Currently, there are two timeout values that affect Armeria's DNS resolver:

- `queryTimeout`
- `queryTimeoutForEachAttempt`

By default, they are both 5 seconds. This means there will only be a single attempt when a time occurs, even if a user s

[2022-06-27 11:23] trustin opened #4318 "Confusing error message when private key is missing"
When a `Server` fails to start itself up because of missing private key, a user will see the following error message:

[code]

This is very confusing and potentially misleading. We could use a clearer error message when the private key is missing.

[2022-06-28 05:43] minwoox commented on #3323
Also, Micronaut has one.
https://micronaut.io/launch/

[2022-06-28 07:12] resquivel-squareup commented on #4301
@minwoox Just a heads up, the existing `ProtobufResponseAnnotatedServiceTest` appears to be failing (I didn't notice it originally since other tests were failing too) due to the new behaviour:

Set via ServerBuilder.annotatedService() and equivalent, if it fails, then fall through
Default ResponseConverterFunctions, if it fails, then fall through
The ProtobufResponseConverterFunction converter we

[2022-06-28 07:22] minwoox commented on #4301
Oops, I didn't notice that the test's failing. Let me run the CI and see what's going on. 😄

[2022-06-28 09:22] ikhoon opened #4323 "Test failure: `com.linecorp.armeria.server.eureka.EurekaUpdatingListenerTest.registerHeartBeatAndDeregisterAreSent()`"
[code]

[2022-06-28 13:10] trustin opened #4324 "No uncaught service exceptions are logged out of the box."
When a new user writes an Armeria server, the user often doesn't realize they have to add `LoggingService` to see the actual exception in the log. This default behavior can be very confusing. It would be nice if we can log the uncaught service exceptions by default somehow without worrying too much about double notification.

One idea:

- Add a new writable property `RequestContext.shouldLogUncaug

[2022-06-28 13:49] ikhoon commented on #4324
Overall it is a useful feature. That being said, as error of a client request is propagated via the returned `HttpResponse`, I prefer to add `shouldLogUncaughtException` to only to `ServiceRequestContext`.

[2022-06-29 02:17] alexc-db commented on #4324
This uncaught exception log can be setup as a periodic task that logs summary of the uncaught exceptions, something like

[code]

`LOG_LEVEL` and `PERIOD` can be configured via server builder, use e.g. `ERROR` and `60` by default, respectively. This way users can opt out by changing log level or setting PERIOD to e.g. -1.

Or, if we'd like to generalize this even more - we could have a log message

[2022-06-29 06:13] minwoox commented on #4301
Yeah, it's always that the devil is in the details. 😅

`JacksonResponseConverterFunction` is applied before the protobuf converter so it converts everything. 😓
Had a discussion about this with the team, and we have come to the conclusion that we need two different SPIs.
- SPI that provides a sole instance of a response converter
  - This converter applied after annotation and builder converter
  -

[2022-06-29 07:52] trustin commented on #4324
If we log the counter message, we could uncount the uncaught exceptions whose `ctx.shouldLogUncaughtException` is `false` to make the counter log message disappears when all ervices are covered by `LoggingService` or other handlers that call `ctx.setShouldLogUncaughtException(false)`.

Given logging every uncaught exceptions can be very spammy, we could:

- Log the counter message as suggested by

[2022-06-29 11:48] sangyongchoi opened #4326 "Add grpc request validator"
Hi, i'm using armeria with grpc.
I feel uncomfortable when request validation.

request validation code
[code]

I think responsibilities should be distributed.
I wish validator like [spring custom validator](https://www.baeldung.com/spring-mvc-custom-validator)
I think become neat code like example code If exists validator.

[code]

Do you have any plan ?

[2022-06-29 12:07] ikhoon commented on #4326
`RequestValidator` looks useful since it could encapsulate cross-cutting concerns.
However, this API does not have specific functions related to Armeria.
So I don't see any strong reason that we have to add those APIs to Armeria.
Because it only depends on gRPC-Java API. If you think this interpreter is useful to many devs,
it would make sense to send a PR to https://github.com/grpc/grpc-java or h

[2022-06-29 12:15] sangyongchoi commented on #4326
@ikhoon thank you 😄

[2022-06-30 03:08] ikhoon opened #4327 "Test failure: `com.linecorp.armeria.server.logging.ContentPreviewingServiceTest.failingRequestContentSanitizer()`"
[code]

[2022-07-01 05:31] resquivel-squareup commented on #4301
Thanks for the information, and no worries! I might have some time next week to have a look. Could you please provide some more info regarding

?

In which scenarios would each SPI be used? What would the converter selection logic be? Which classes would need to be changed?

[2022-07-01 05:59] ikhoon commented on #4301
Let's say we have the following annotated service:
[code]
We need two 2 response converters to completely convert `Flow<MyProtobuf>` into a JSON response.
First, `MyProtobufResponseConverter` will be used to convert each `MyProtobuf` into a JSON object.
Next, `FlowResponseConverterFunction` should be chosen to collect the JSON objects and convert them into
a JSON array.

We provide two APIs for a

[2022-07-01 14:35] #4268 closed

[2022-07-04 03:54] ikhoon opened #4328 "Support OpenRewrite for major changes"
[OpenRewrite](https://docs.openrewrite.org/) is a tool that helps users easily migrate API changes.
It should be helpful to provide users with an OpenRewrite module when Armeria releases a new major version.
https://www.youtube.com/watch?v=d8xU24x7Jqo

[2022-07-04 05:27] #4193 closed

[2022-07-04 05:31] ikhoon opened #4329 "Test failure: `LocalArmeriaPortHttpsTest.testPortConfiguration`"
[code]

[2022-07-04 05:35] ikhoon commented on #4287
Fixed by #4285

[2022-07-04 05:35] #4287 closed

[2022-07-04 07:07] #4015 closed

[2022-07-05 05:21] #4275 closed

[2022-07-05 06:04] #4006 closed

[2022-07-05 06:26] #4279 closed

[2022-07-05 07:36] ikhoon opened #4333 "Test failure: `com.linecorp.armeria.server.grpc.GrpcServiceLogNameTest.logName()`"
[code]

[2022-07-06 00:41] #4333 closed

[2022-07-06 00:42] #4016 closed

[2022-07-06 03:40] ikhoon commented on #4250
Fixed by #4263

[2022-07-06 03:40] #4250 closed

[2022-07-06 05:55] resquivel-squareup commented on #4301
Thanks for the response. I have a work-in-progress draft [PR](https://github.com/line/armeria/pull/4336) which implements most of the above.

It doesn't address the case for `Flow<MyProtobuf>`, but it does fix the initial bug and the tests (mostly seem to) pass.

Please let me know what you think so far and if you'd like me to change anything major. Thanks!

[2022-07-06 08:18] j-min5u opened #4337 "HttpJson Encoded Api call responds differently from actual gRPC service in certain cases"
[Replicated test case github](https://github.com/j-min5u/armeria-bug-report/tree/master)
In this testcase, http-json transcoded endpoint responds with 503 SERVICE_UNAVAILABLE when authenication via MyAuthenticator fails.
gRPC call responds normally with 401 UNAUTHENTICATED.

However, throwing _Status.UNAUTHENTICATED.asRuntimeException()_  in a HTTP-JSON transcoding service responded with 401 UNAUT

[2022-07-06 08:51] jrhee17 commented on #4337
Thanks, this looks like a bug 👍

https://github.com/line/armeria/blob/8b0225ec63e231428276f30b92f8357eb7876b03/grpc/src/main/java/com/linecorp/armeria/server/grpc/AbstractUnframedGrpcService.java#L184

The call flow is as follows:

- `HttpJsonTranscodingService` -> `GrpcDecoratingService`(contains the Authorizer) -> ... -> `FramedGrpcService`

`HttpJsonTranscodingService` assumes that the response

[2022-07-07 02:28] j-min5u commented on #4337
May I give a try with the fix on this issue? 👀

[2022-07-07 06:27] ikhoon opened #4339 "Add `WebTestClient`"
It should be helpful to assert a response to a test request fluently.
[code]

[2022-07-07 06:41] trustin commented on #4339
Could also integrate with AssertJ and Kotlin/Scala assertions.

[2022-07-07 06:58] jrhee17 commented on #4337
Sure! Feel free to start experimenting on how to solve this issue.
I'll also look into the best way to solve this 🙏

[2022-07-07 07:09] ikhoon commented on #4337
For sure! Let me explain detail of the gRPC service implementation and how to fix the problem.

- `GrpcDecoratingService` is a dynamic decorator set that applies HTTP decorators to an HTTP request and response.
- `HttpJsonTranscodingService` translate a HTTP REST/JSON request into a gRPC request.

Currently, a `GrpcDecoratingService` is wrapped by `HttpJsonTranscodingService`.
 TTP level decorator

[2022-07-08 04:13] ikhoon commented on #4301
Could you elaborate on this? I didn't catch what could be addsssed. 😅

[2022-07-11 01:07] resquivel-squareup commented on #4301
Ah, I just meant I didn't write a test case for the exact scenario you mentioned for `Flow<MyProtobuf>` so I can't confirm that it's actually working

[2022-07-11 03:19] jrhee17 opened #4345 "Test failure: `com.linecorp.armeria.it.okhttp.OkHttpTlsTest`"
[code]

[2022-07-11 04:22] minwoox opened #4347 "Show more stack trace of CompositeException"
This is an example stack trace of a `CompositeException`:
[code]

The exceptions in `ExceptionOverview` just show two lines of stack traces so it's really hard to get a context what's going on from it.
We might need to increase the lines (20 is sensible default?) and show full stack trace when `-Dcom.linecorp.armeria.verboseExceptions=true`.

[2022-07-12 14:08] gurudatta-carbon opened #4351 "rpc metrics in opentelemetry not populating for armeria grpc server/ client"
**Armeria Opentelemetry Instrumentation:** https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/v1.15.0/instrumentation/armeria-1.3/javaagent/src/main/java/io/opentelemetry/javaagent/instrumentation/armeria/v1_3

**Grpc Opentelemetry Instrumentation** https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/v1.15.0/instrumentation/grpc-1.6/javaagent/src/main/j

[2022-07-13 02:05] #4345 closed

[2022-07-13 02:24] ikhoon commented on #4351
Armeria provides its own gRPC server and client implementations so Opentelemetry's gRPC Instrumentation can not understand Armeria's gRPC services.
But we strongly desire to support RPC metrics for Armeria's gRPC and Thrift services.

[2022-07-14 07:37] jrhee17 opened #4352 "Consider changing the type of `Unwrappable.unwrap`"
Currently, `Unwrappable#unwrap` has the following method signature.

https://github.com/line/armeria/blob/88e8d3e6bf7cd204af60166e49c36c8f18e2ea4e/core/src/main/java/com/linecorp/armeria/common/util/Unwrappable.java#L87-L89

However, @ikhoon made a good point that although the return type is `Unwrappable`, the object can't really be unwrapped.

We may want to consider modifying the return type to

[2022-07-14 16:19] devdynam0507 commented on #4347
Can i solve this issue?

[2022-07-15 03:14] minwoox commented on #4347
@devdynam0507 Of course, you can. 😄 Thanks in advance.

[2022-07-15 04:43] devdynam0507 commented on #4347
Before we begin, I have a question.
Is the expected output result like below?
`
com.linecorp.armeria.common.util.CompositeException: 2 exceptions occurred.
	at com.linecorp.armeria.common.stream.AbstractStreamMessage$CloseEvent.notifySubscriber(AbstractStreamMessage.java:273)
	at com.linecorp.armeria.common.stream.DefaultStreamMessage.notifySubscriberOfCloseEvent0(DefaultStreamMessage.java:300)
	a

[2022-07-15 05:02] minwoox commented on #4347
Yes, exactly. 😉
We need to:
- show more lines (20?) of the stack trace by default.
- show the full stack trace when the system property is enabled.

[2022-07-15 05:09] devdynam0507 commented on #4347
thanks for explain
i have a one idea, How about printing 20 lines by default and allowing the user to set the number of lines that are output?

[2022-07-15 05:26] minwoox commented on #4347
That's a good suggestion. 👍
However, I'm a bit reluctant to do that because
- `CompositeException` is not something that users create by themselves
- We need another system property flag to indicate the number of lines which adds another public API that might not be needed.

Therefore, how about just using the `verboseExceptions` property for now? If there're demands for the number of lines later,

[2022-07-15 05:41] devdynam0507 commented on #4347
I understood correctly!  I will start working on this soon

[2022-07-15 10:36] himangi-db opened #4354 "HealthCheckService does not return dynamic messages or errors"
A user of the HealthCheckService will often want to see additional information from a healthcheck about why a component is healthy/unhealthy along with an error. However, the [`HealthChecker` interface](https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/healthcheck/HealthChecker.java) does not allow for that currently as it has a single (non-static) method `

[2022-07-15 12:45] klurpicolo commented on #3721
Hi @ikhoon 👋,

If this issue is still valid. I'd like to work on this. Could you please assign it to me? Thank you.

[2022-07-17 12:17] ikhoon commented on #3721
For sure! Thanks for your attention to this.

[2022-07-17 15:53] jrhee17 commented on #4354
I think this is a good idea 👍

Maybe we can add an option at `HealthCheckServiceBuilder` whether to return a "verbose" health check response. We could make this option exclusive with the `HealthCheckServiceBuilder#healthyResponse` and `HealthCheckServiceBuilder#unhealthyResponse` options.

[2022-07-17 15:56] jrhee17 commented on #4354
Curious about the distinction between `message` and `error`.
I was original thinking `message` and `error` would always be returned regardless of whether the health-check response is healthy or not.
Does this make sense for your use-case?
Or were you expecting `error` is only included in the health-check response if a health check is unhealthy?

[2022-07-18 03:15] himangi-db commented on #4354
One option is that the Result contains an Optional error and that is set only when the health check is unhealthy.
Another option is that the error is empty ( `null`) for healthy responses. Both will work for the use-case as the goal is to communicate additional info about the health of a component.

[2022-07-18 03:40] jrhee17 commented on #4354
I see. Would it also make sense for your use-case if `Result` just has a single `message` field in this case? (without the `error` field)?

[2022-07-19 02:04] jrhee17 commented on #4352
Note: `unwrapAll` and `unwrap` return types are inconsistent until 2.0.0
https://github.com/line/armeria/pull/4338#discussion_r923119208

[2022-07-19 09:01] #4337 closed

[2022-07-19 15:04] dinujoh opened #4355 "Support protobuf Content-Type not limited to "application/protobuf" in UnframedGrpcService"
As a user of UnframedGrpcService I want the service support Content-Type [not limited to "application/protobuf"](https://github.com/line/armeria/blob/3c61331a7a14bc9b1339c91f5781cdce8bac4d2f/grpc/src/main/java/com/linecorp/armeria/server/grpc/UnframedGrpcService.java#L122-L129) because media type for protobuf is not standardized by an RFC and so many community have different standards. For example

[2022-07-19 21:00] AngerM-DD commented on #4239
It's also not too terribly difficult to enable right now:
[code]

Replacing that one line with `builder.enableReflectionService(true)`: I'm not sure if theres a ton of benefit to do that. I guess it shows up in code completion and someone may stumble upon it? I agree it should not be on by default.

[2022-07-20 10:40] ikhoon opened #4357 "Extract Javadoc of a request and a response object in an annotated service for the documantation of `DocService`"
Currently, `@param` in a Javadoc of an annotated service is extracted and exposed to `DocService`.
https://github.com/line/armeria/blob/92f5d0a7ec0854f37252113dfad22d55e496e73c/annotation-processor/src/main/java/com/linecorp/armeria/server/annotation/processor/DocumentationProcessor.java#L154
Thanks to #4304, we can annotate `@Description` to the fields of a class. On top of that, it is also usefu

[2022-07-21 05:02] ikhoon commented on #4355
`GrpcSerializationFormats` is added to support framed gRPC protocols. So we should think about a solution without considering `GrpcSerializationFormats`.

Even though `application/x-protobuf` is unofficial MIME Type, it is widely used in other open sources and our `ProtobufRequestConverterFunction`.
https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/http/converter

[2022-07-21 05:03] ikhoon commented on #4355
@dinujoh Are you going to fix the bug yourself? Otherwise, please let us know so that @j-min5u handle this issue. 😉

[2022-07-21 05:19] j-min5u commented on #4355
There does seem to be content types like `application/x-google-protobuf` or `application/octet-stream`, though maybe not as popular. ([link](https://github.com/google/protorpc/commit/eb03145a6a7c72ae6cc43867d9635a5b8d8c4545))

[2022-07-21 05:55] j-min5u commented on #4355
Adding these popular protobuf content types seem enough for this issue 🙂
But I'm still wondering whether there should be a way for users to add there own content types that could be comprehended as protobuf, since usecase of new or custom content types for protobuf is possible due to the missing standard. Maybe we could create a separate discussion issue

[2022-07-21 06:25] minwoox opened #4361 "Add consumes and produces to HTTP method annotations"
Currently, we have separate annotations to define consume and produce media types:
[code]
It's a bit verbose, so it would be nice if we can specify them in one annotation:
[code]

[2022-07-21 06:27] trustin commented on #4361
Why is the proposed form less verbose than the current form? Define verbosity?

[2022-07-21 06:39] minwoox commented on #4361
We sometimes use a bunch of annotations in the service code.
[code]
If we can reduce the number of annotations, I thought it's simple and less verbose.
[code]
But, that's my opinion and if you think it's still the same, I'm fine with the current way. 😄

[2022-07-21 06:45] jrhee17 commented on #4361
If each annotation has defined fields (`value`, `consumes`, `produces`) I think this could also have less cognitive load for users.
(As opposed to checking the documentation on which annotation is available)

[2022-07-21 08:35] trustin commented on #4361
I see. Then it's about cognitive load rather than verbosity, given the proposed form needs more keystrokes and potentially uglier indentation.

Is the intention to retain the both ways without any deprecation? The old way still is useful when a user binds a method to multiple paths and/or HTTP methods.

[2022-07-21 09:16] minwoox commented on #4361
Yes, we need both and the specified ones in the HTTP annotaion take precedence.

[2022-07-21 09:18] jrhee17 commented on #4361
Oh, I was rather thinking that all defined ways are applied.

[code]

[2022-07-21 09:26] jrhee17 opened #4362 "Provide a way to generate `RequestId` from `Request` information"
Original inquiry: https://line-armeria.slack.com/archives/C1NGPBUH2/p1658326394645069

Currently, Armeria's `Server` accepts a supplier to generate a `RequestId`.

https://github.com/line/armeria/blob/7395a2e76459798d0d7c4b6185923d37cb277a97/core/src/main/java/com/linecorp/armeria/server/ServerBuilder.java#L1677-L1686

However, some users may want to generate an id from an external component and u

[2022-07-21 10:26] anuraaga commented on #4361
My opinion is the example shows an issue with the proposal - it seems to enable code that is harder to read. With consumes in two locations, reasoning out what is happening is not trivial - assuming overwriting precedence seems reasonable too.

Even if some annotations could be inlined, I guess not all of them can, so we can probably assume writers should know the selection of annotations. Keeping

[2022-07-21 10:31] ikhoon commented on #4355
That's a good point. We didn't get such requirements before. So it could be overkill at the moment. We may add the feature without breaking our API later if there is a desire for a custom protobuf format.

[2022-07-21 12:46] dinujoh commented on #4355
@j-min5u Please go a head with the fix.

Are we planning to check for specific header in isProtobuf() ? or will this be a looking for regex pattern that contains `protobuf` or ends with `protobuf` ? The later one will cover most of the `protobuf` Content-Type use cases.

[2022-07-21 12:50] ikhoon commented on #4355
I prefer to define well-known protobuf types in `MediaType` and use `.isProtobuf()`.

[2022-07-22 01:05] minwoox commented on #4361
Thanks for the opinion. 😄
Yeah, it probably enables code that is harder to read. However, I believe that most users don't use it that way and will choose one way to specify the media type with their tastes(in the simple way they think) and I think it's what Armeria does.
Also, I think if we can capture those specified media types at a glance, it won't be that hard to know what is happening.

[2022-07-22 01:34] trustin commented on #4361
Again, this is not less verbose. More lines doesn't necessarily mean verbose. The proposed solution does require more keystrokes (`value = `).

In the same sense, if it's for the sake of auto-completion, does this mean we will end up adding the attributes for all other annotations (e.g. `blocking = true, exceptionHandler = ...`)? I'm not sure that's a good idea.

[2022-07-22 01:35] trustin commented on #4361
Therefore, I agree with @anuraaga here and prefer not adding attributes that can be specified with an existing annotation.

[2022-07-22 01:57] jrhee17 commented on #4361
I agree with this 👍

[2022-07-22 02:00] minwoox commented on #4361
Ok then let's close this issue.
Thank you guys for the opinions. 😄

[2022-07-22 02:00] #4361 closed

[2022-07-26 02:20] ikhoon opened #4365 "Incorrect request duration on the server side"
The start time of a request indicates when a server receives the first headers of a request and it is recorded when a `HttpServiceHandler` receives the decoded request from `Http{1,2}RequestDecodeder`.
https://github.com/line/armeria/blob/49054ad7f22a7f2d64faaeb694674b0df09ad165/core/src/main/java/com/linecorp/armeria/server/HttpServerHandler.java#L344-L348
Previously, the `Http{1,2}RequestDecoded

[2022-07-27 07:15] ikhoon opened #4367 "Test failure: `example.armeria.grpc.kotlin.HelloServiceTest`"
[code]

The cause of the error above seems suspicious.
[code]
https://github.com/line/armeria/actions/runs/2738340617#summary-7516955221

[2022-07-27 07:17] ikhoon commented on #4367
It may be possible that a `FixedStreamMessage` is aborted before being collected by `UnaryServerCall`.

[2022-07-27 14:47] jmadureira commented on #4367
@ikhoon don't know if this information helps but I'm getting the same error randomly when running tests on my project which is Java based and only if I enable `useBlockingTaskExecutor(true)` on my gRPC service.

[2022-07-28 02:54] ikhoon commented on #4367
It is super useful. Let me try to reproduce it.

[2022-07-28 03:17] ikhoon commented on #4367
I couldn't figure out the cause of the regression but it seems related to #4331

[2022-07-28 04:05] ikhoon commented on #4367
It is difficult to reproduce the failure locally. @jmadureira Do you have some logs produced by `LoggingService` for the error? I'd like to get some request/response duration metrics.

[2022-07-28 04:31] cmeiklejohn opened #4369 "Potential deadlocks with decorator returning error with RetryingClient?"
I have a decorator I'm using with GRPC (simplified example, but enough to reproduce the problem in isolation):

[code]

This decorator is used with GRPC requests and properly functions when used in isolation.  For example, when the boolean is set to `true`, and I issue a GRPC request using this decorator, it returns a response that's converted by the `GrpcClient` to a runtime exception at the call

[2022-07-28 05:08] cmeiklejohn commented on #4369
For what it's worth, I've also tried putting the GRPC information in the trailers; no difference, works without the `RetryingClient`, does not work with the `RetryingClient.`

[code]

[2022-07-28 05:31] cmeiklejohn commented on #4369
Just another data point here: when I also apply the `CircuitBreakerClient` decorator, it doesn't seem to increment the counters because when it returns from our decorator that returns a `HttpResponse.of(...) the future isn't complete.`

[2022-07-28 06:21] minwoox commented on #4369
Hello, thanks for the report. 😉

So the problem happened because the request isn't complete? If we add `request.aggregate()` the problems are gone?

[2022-07-28 06:24] cmeiklejohn commented on #4369
Where would I add request.aggregate()?

[2022-07-28 06:29] minwoox commented on #4369
We can add `req.aggregate()` in the `execute` method of `FaultDecoratingHttpClient` to complete the request. But I guess completing the request might be not a problem with this issue because you've said that it's working if there's no `RetryingClient`.

How did you use `RetryingClient`? Could you give me a reproducible example so that I can investigate it?

[2022-07-28 06:29] cmeiklejohn opened #4370 "CircuitBreakerClient and Decorators Not Working When Decorator Returns Error"
If I have a GRPC client that uses the `CircuitBreakerClient` as a decorator as follows:

[code]

and my server returns an error as follows:

[code]

The circuit breaker increments it's success and failure counters.

However, if I return an error from a decorator:

[code]

Where the decorator introduces the exact same failure:

[code]

The circuit breaker never increments it's counters, because the

[2022-07-28 06:37] cmeiklejohn commented on #4369
Reproducer: https://github.com/cmeiklejohn/retrying-client-bug

[2022-07-28 06:40] cmeiklejohn commented on #4369
Comment out the `RetryingClient` decorator to see it work; with `RetryingClient` enabled, it hangs.

[2022-07-28 06:42] cmeiklejohn commented on #4370
We believe this might be somewhat related to #4369, since they were discovered together.

[2022-07-28 06:46] minwoox commented on #4370
Ah ha, now I get it.

Yeah, the properties that complete the `whenAvailable` future are set inside of the client so we can't just return an `HttpResponse` in the decorator. For example the response headers that complete the `whenAvailable` future in `CircuitBreakerCliet` is set here:
https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/HttpResponseDecoder.java

[2022-07-28 06:47] cmeiklejohn commented on #4370
The same reproducer as #4369 can be used:

* To simulate server returning the error: uncomment L14's throw statement in `ImageClassificationServiceImpl`
* Disable `RetryingClient `on L24 of `Client`, uncomment L23 of `Client` to enable the circuit breaker.

[2022-07-28 06:51] cmeiklejohn commented on #4370
I think your recommendation of:

[code]

Might fix both this issue and #4369.  We're confirming.  Thanks for the quick feedback.

[2022-07-28 06:55] cmeiklejohn commented on #4370
Thanks so much, it seems to resolve the issue.

[2022-07-28 06:55] #4370 closed

[2022-07-28 06:56] cmeiklejohn commented on #4369
Needed to ensure that the request was completed using: `ctx.logBuilder().responseHeaders(responseHeaders);`.

Thanks @minwoox for the quick response!

[2022-07-28 06:56] #4369 closed

[2022-07-28 06:56] minwoox commented on #4370
Glad to hear that. 😄

So the problem with the issue is that `RetryingClient` and `CircuitBreakerClient` always assume that the response header is set via `HttpResponseDecoder` but it's not if we use this short-circuit decorator. Let me talk to the team if we can fix this issue. Thanks a lot! 😄

[2022-07-28 08:12] jmadureira commented on #4367
@ikhoon below is an example from one of our test runs:
[code]

I redacted some things for clarity purposes.

I'll see during the day if I can recreate this using a `@RepeatedTest` or something similar.

[2022-07-28 08:31] jmadureira commented on #4367
@ikhoon actually there's an easier way to recreate this (or expose another issue perhaps).
Enable `useBlockingTaskExecutor(true)` on
https://github.com/line/armeria/blob/7395a2e76459798d0d7c4b6185923d37cb277a97/examples/grpc/src/main/java/example/armeria/grpc/Main.java#L53
... and then use `@org.junit.jupiter.api.RepeatedTest(10000)` instead of `@Test` on
https://github.com/line/armeria/blob/7395a

[2022-07-28 08:45] ngyukman opened #4371 "Failed to serve HttpFile from OSGI bundle classloader"
Right now we are checking the protocol to be `file`, `jar:file` and `jrt`
When getting from bundle classloader from OSGI, the protocol is `bundle` which breaks for OSGI now

I could not find any doc talking about it but here is the question in stackoverflow that talks about the URL pattern
https://stackoverflow.com/questions/6474634/how-do-i-access-a-file-inside-an-osgi-bundle

[2022-07-28 11:36] ikhoon commented on #4367
@jmadureira Your tips were really helpful to find the bug which will be fixed by #4374. Thanks!

[2022-07-28 21:06] cmeiklejohn commented on #4370
We also had to set response trailers, as some of our circuit breaker rules required that trailers be completed.

[code]

[2022-07-29 06:01] #4367 closed

[2022-07-30 02:59] ikhoon commented on #4339
In addition to assertion, it would be useful to support mocking for isolated unit tests.

Related work:
https://sttp.softwaremill.com/en/latest/testing.html
[code]

[2022-08-01 06:03] #4365 closed

[2022-08-01 09:20] #4120 closed

[2022-08-03 07:58] #4371 closed

[2022-08-04 04:31] ikhoon opened #4382 "Provide a way to automatically deserialize non-OK JSON response using `WebClient` and `RestClient`"
`WebClient` or `RestClient` is able to deserialize a JSON response into an object using:
[code]
The client tries to convert the JSON response into an object when the class of response status is a success.
https://github.com/line/armeria/blob/ccf630c417bc2f9f78a90bad53a999cc7aa46314/core/src/main/java/com/linecorp/armeria/client/AggregatedResponseAs.java#L58-L62
I believe that most REST clients exp

[2022-08-05 07:14] #4311 closed

[2022-08-08 15:33] minwoox opened #4387 "Test failure: `com.linecorp.armeria.internal.common.Http2KeepAliveHandlerTest.verifyPingAck()`"
[code]

[2022-08-09 07:23] ikhoon opened #4389 "Support `@Blocking` annotation for gRPC services"
Users can only specify to run a service on a blocking executor using `GrpcServiceBuilder.useBlockingTaskExecutor(true)`.
https://github.com/line/armeria/blob/603e2fb23b7227c4117b5b8d7377314152f9feb4/grpc/src/main/java/com/linecorp/armeria/server/grpc/GrpcServiceBuilder.java#L678
If `@Blocking` annotation is supported for gRPC services or methods:
https://github.com/line/armeria/blob/8bfe0be035ad0f

[2022-08-09 07:25] jongmin92 commented on #4389
Let me try!

[2022-08-09 07:25] ikhoon commented on #4389
It's all yours. ❤️

[2022-08-10 05:49] ks-yim opened #4390 "Improve confusing `AnnotatedService` behavior with `void` return type"
Currently, the behavior of `AnnotatedService` with void return type(including `Mono<Void>`) is quite confusing and users often struggles to find the right way to return `204 No Content` with `AnnotatedService`.

The following code demonstrates common attempts to give `204 No Content` and its actual result.

[code]

Adding `NullToNoContentResponseConverterFunction` would be of some help but it does

[2022-08-10 06:50] ikhoon commented on #4390
It makes sense to return 204 No Content for the following example.
[code]

As `@ProducesJson` is explicitly specified, I prefer to return `200 OK, Content-Type: application/json, body: "null"`.
Because some users might want to return "null" as their return value.
But if `@StatusCode(204)` is set, It is reasonable to return an empty body with 204.
Anyway, it should not raise 500 error for those cas

[2022-08-10 07:22] ks-yim commented on #4390
I will send a fix PR 😆.

[2022-08-10 09:33] ikhoon opened #4391 "Test failure: `com.linecorp.armeria.spring.actuate.ArmeriaSpringActuatorAutoConfigurationSecureTest.normal()`"
[code]

https://github.com/line/armeria/runs/7762244463?check_suite_focus=true#step:7:2916

[2022-08-10 09:35] ikhoon commented on #4391
/cc @kojilin

[2022-08-10 14:38] ahnyujin commented on #4382
Hi @ikhoon, I understand the intent of this issue is to deserialize error response for the tests.
But I wonder why status is given as parameter for `.asJson(MyError.class, HttpStatus.INTERNAL_SERVER_ERROR)`.
Is it to throw an error in the same way as before if the given status does not match?

[2022-08-11 08:54] ikhoon commented on #4382
The response format between a normal response and an error response may be different in most cases.
The deserialized type of response is decided when a client sends a request.
`HttpStatus.isSuccess()` is used whether the expected response data format is received.
If a specific HttpStatus or predicate is given, we may override the default predicate.

We need to update the error message below. If a

[2022-08-11 09:00] ikhoon commented on #4382
For gentle error messages, we can internally create `HttpStatusPredicate`.
[code]

[2022-08-12 01:11] kojilin commented on #4391
Will check if not solved yet ^^

[2022-08-12 01:28] minwoox commented on #4391
We haven't taken a look into it. Thanks! 😄

[2022-08-12 05:01] heowc commented on #4391
It's not exact, but I think this is a problem due to the time difference between the process of getting a random bindable port number and the actual binding.

There are other similar issues.
- https://github.com/line/armeria/issues/4329

what do you think? 🤔

[2022-08-12 05:29] minwoox commented on #4391
Ah ha, that's correct. I just looked at the full stack trace and the reason is that
`bind(..) failed: Address already in use`

We can ignore this failure. 😄
[code]

[2022-08-12 05:36] heowc commented on #4391
We may ignore this. However, when certain parameters are passed to the Armeria server, I thought that it would be fine if the random port was bound. Of course, this may not be very important as it is needed for the test area. 🤣

[2022-08-13 09:52] ahnyujin commented on #4382
Thanks a lot🙇 The part I was wondering about has been solved.
I'll try it!

[2022-08-14 12:35] Boozilla opened #4392 "'subscribed by other subscriber already' in FixedStreamMessage"
Hello
Run a gRPC server application in `Armeria 1.17.1` and
During the stress test with 320 threads, the following stacktrace was obtained.
`useBlockingTaskExecutor` value is `true`
Why is this happening?

[code]

[code]

[2022-08-14 12:40] Boozilla commented on #4392
The client side stacktrace that generates the stress test traffic is below

[code]

[2022-08-14 12:45] ikhoon commented on #4392
Duplicate of #4367. It has been fixed in 1.18.0

[2022-08-14 12:45] #4392 closed

[2022-08-16 05:49] ikhoon commented on #4391
I missed the part. By the way, I'm failing to find the test suite where a random port is passed. Could you point it out? If it is fragile, I'd like to mark it as a `@FlakyTest`.

[2022-08-16 08:10] ikhoon opened #4393 "Rename `RequestConverterFunctionProvider` into `DelegatingRequestConverterFunctionProvider`"
`ResponseConverterFunctionProvider` is going to be renamed to `DelegatingResponseConverterFunctionProvider`.
We can apply the same approach to `RequestConverterFunctionProvider`.

[2022-08-16 23:46] heowc commented on #4391
When I looked again in relation to it, I found that Armeria already binds to a random port if 0 is given. 🤣

My guess is that there is a problem with spring-related tests. Regarding the above, something slightly different in spring is that the internal service should be able to know what random port to specify. That's why we use `SocketUtils.findAvailableTcpPort()` to get a pre-bindable port.

I c

[2022-08-17 10:22] ikhoon commented on #4391
I tried to retry the failure but it was difficult to apply because the failure occurred while an application context is initialized.
So the tests were never invoked at all.
After several tests, I thought a custom `ArmeriaServerGracefulShutdownLifecycle` could be used to retry the failed server.
This flaky test could be fixed by #4395

[2022-08-17 18:34] DasAmpharos opened #4396 "WebOperationService incorrectly handling ReactiveHealthIndicator results"
Spring Boot WebFlux applications with reactive health indicators are incorrectly returning HTTP 200 with the following response body when requesting application health:
[code]

After inspecting [WebOperationService#handleResult](https://github.com/line/armeria/blob/09ab81037f5a8a9e15e4d639474e7a925b0c40f5/spring/boot2-actuator-autoconfigure/src/main/java/com/linecorp/armeria/spring/actuate/WebOper

[2022-08-18 01:23] minwoox commented on #4396
Thanks for the report, @DasAmpharos!

Could you let me know how did you enable this feature so that I can make a reproducible test for this, please?

[2022-08-18 08:38] i1619khz commented on #4234
let me try

[2022-08-18 14:23] DasAmpharos commented on #4396
@minwoox I created a sample project with a custom health indicator: https://github.com/DasAmpharos/armeria-reactive-health-demo

I included some additional details in the README file

[2022-08-18 14:58] minwoox commented on #4396
That is a so high-quality reproducible example. 🙇‍♂️
That will help us a lot. Let us take a look at it. Thank you! 😄

[2022-08-18 15:03] minwoox commented on #4234
Thanks for volunteering for this issue. 👍
I'm working on implementing [WebSocket service](https://github.com/line/armeria/pull/3904) and there are common classes
used both for the WebSocket client and service. Let me finish the service first and ping you so that you can work with those classes. 😄

[2022-08-18 20:47] jmadureira opened #4399 "Armeria doesn't stop between test suites when running with Spring Boot"
Consider the following scenario:

- A Spring Boot application backed by Armeria just like the one in the [examples](/line/armeria/tree/master/examples/spring-boot-minimal);
- We want to test our application using different configurations (for instance an application that uses different datasources, or caches, or something else)

One way to do this is to use Spring `@ContextConfiguration` where we

[2022-08-19 02:11] minwoox commented on #4399
Thanks for the report, @jmadureira!
@kojilin Would you mind taking a look at this? 😄

[2022-08-22 04:20] j-min5u opened #4401 "Provide a way to serve HttpJsonTranscoding with camelCase body/parameter field names"
There is no direct specification to field namecase in the google [Http and gRPC transcoding](https://google.aip.dev/127) documentation.

However, we were currently confirmed by googlers that we should use camelCase for Http Json transcoded apis in these issue & PR:
https://github.com/googleapis/gax-nodejs/issues/1312
https://github.com/aip-dev/google.aip.dev/pull/934

Can we add an option maybe to

[2022-08-22 08:04] ikhoon commented on #4401
Technically, `HttpJsonTranscodingService` does not rely on `GrpcJsonMarshaller` to extract field information. So it maps a query parameter into a protobuf's field.
https://github.com/line/armeria/blob/3c61331a7a14bc9b1339c91f5781cdce8bac4d2f/grpc/src/main/java/com/linecorp/armeria/server/grpc/HttpJsonTranscodingService.java#L307-L308
If Google API says that camelCase field names are the standard q

[2022-08-22 08:24] ikhoon commented on #4401
On second thought, an enum option is difficult to expand because it can't take a parameter. A configuration class and its builder seem more reasonable.
[code]

[2022-08-22 09:49] i1619khz commented on #4234
ok

[2022-08-23 01:16] j-min5u commented on #4401
I agree, this would be too big of a change to switch over to.

builder seems ok. maybe take the option in enableHttpJsonTranscoding?
[code]
Although it might be weird that enableHttpJsonTranscoding(false, options) is possible

[2022-08-23 04:08] ikhoon commented on #4401
I think we can assume that `HttpJsonTranscodingOptions` implies enabling `HttpJsonTranscoding`.
So how about dropping the boolean flag for the overload method taking `HttpJsonTranscodingOptions`?
[code]

[2022-08-23 04:11] jrhee17 commented on #4401
I also think this API looks cleaner 👍

[code]

[2022-08-29 12:55] minwoox opened #4403 "Add more properties to BuiltInProperty"
We have a limited set of `BuiltInProperty` for `RequestContextExportingAppender`.
We cannot add all properties to the `BuiltInProperty`, but it would be nice if we could add the properties, which a user expects the `BuiltInProperty` has, such as `res.cause` and `req.cause`.
Or we can just align `BuiltInProperty` with `AccessLogComponent` so they have the same properties.

[2022-08-29 14:21] minwoox opened #4404 "Provide more information when a timeout exception is raised for an EndpointGroup"
We recommend waiting for the initial health check before an `HealthCheckedEndpointGroup` is used:
[code]

However, if something goes wrong with the `endpointGroup`, the user would only get a `TimeoutException`.
If we provide a method that waits for the specified amount of time and throws a `TimeoutException` with useful information Instead, it would help the user diagnose the problem.

[code]

[2022-08-30 01:16] heowc commented on #4399
I've analyzed this briefly. However, I haven't been able to find a solution, but I'd like to share an interesting fact.

This is first executed by SpringApplicationShutdownHook .
And in the process of destroying the beans, the SmartLiftcycle beans go through a separate operation process by the LifecycleProcessor. At this point you can see that the server is trying to get down.

What's interesting

[2022-08-31 14:41] my4is commented on #4382
Hi @ikhoon! I'm trying to this issue.
But, I can't understand how `HttpStatusPredicate` which you show upper would be used.
Please let me know at detail.

[2022-09-01 08:16] ikhoon commented on #4382
We can implement `HttpStatusPredicate` like to following.
[code]
The custom `HttpStatusPredicate` will carry the desired status information.
We can refactor AggregatedResponseAs to use `HttpStatusPredicate` for a simple condition.
[code]

[2022-09-01 10:55] minwoox opened #4407 "Test failure: `com.linecorp.armeria.client.endpoint.SelectionTimeoutTest.select_timeout()`"
[code]

[2022-09-02 16:28] cagdas-carbon commented on #4351
We are observing the same issue. While we were able to get the default metrics with Netty generated stub, we aren't able to get the same metrics published by default after moving to Armeria generated stub.

[2022-09-04 10:30] my4-dev commented on #4382
Previous pull request #4411 has a little problem, so I submit pull request again as #4412 .
Please review pull request  #4412 🙏

[2022-09-05 01:44] #4396 closed

[2022-09-05 05:37] #4390 closed

[2022-09-05 06:19] #4407 closed

[2022-09-05 13:38] #4301 closed

[2022-09-05 14:09] #4355 closed

[2022-09-05 15:30] #4100 closed

[2022-09-06 10:44] carl10086 opened #4417 "spring aop with doc service"
## Description:

when i run official  spring-boot-minimal demo . It Usea  spring @Validated annotation .

[code]

DocService  class Specification is something like `HelloAnnotatedService$$EnhancerBySpringCGLIB$$8b7cb243` because of aop of the spring . That may be a dynamic class name which is not friendly to partners.

## Question

- Is there anyway to  support custom service name  in doc service

[2022-09-06 11:29] guxingke opened #4418 "is anyway use validation api with annotated service method"
i found in `com.linecorp.armeria.internal.server.annotation.AnnotatedService#invoke` body, use resolvers get argumetns , and then invoke method.

if i want use validation-api  annotation such as `javax.validation.constraints.NotNull` in method parameter and check before invoke . is anyway to support this pattern.

additional , use spring aop can support it , but is possible support by armeria?

[2022-09-07 03:04] ikhoon commented on #4417
It is not supported at the moment.

I think the enclosing class created by cglib should be peeled by the following utility method for DocService. https://github.com/line/armeria/blob/49054ad7f22a7f2d64faaeb694674b0df09ad165/core/src/main/java/com/linecorp/armeria/internal/server/annotation/AnnotatedService.java#L644-L653

[2022-09-07 04:24] #3971 closed

[2022-09-07 05:12] ikhoon commented on #4382
Thanks for the pull request. I will take a look at it soon.

[2022-09-07 13:40] minwoox commented on #4418
Hello! @guxingke
In an annotated service, the parameters are not nullable by default unless they are annotated `@Nullable` or `Optional`.
Do you want to use `javax.validation.constraints.NotNull` specifically, or want to use other annotations in the validation library such as `@Max`, `@Min` or etc?

[2022-09-08 01:13] ikhoon opened #4420 "Add `jackson-modules-java8` as a dependency of the core module"
Armeria requires Java 8 and Jackson is an official JSON library of Armeria.
https://github.com/FasterXML/jackson-modules-java8 could be the default dependency of the core module so that users don't need to add them manually.

[2022-09-08 02:09] guxingke commented on #4418
hello @minwoox
yes, in my case , when consumer json object with `RequestObject` anotated parameter,  i want to use `javax.validation.Valid` for this parameter,  the obj fields has some annotations from the validation library.

[2022-09-08 02:10] ikhoon opened #4421 "Test failure: `ClientRequestContextPushedOnCallbackTest.pushedContextOnAsyncMethodCallback()`"
[code]

[2022-09-08 03:09] #3789 closed

[2022-09-08 03:12] #4391 closed

[2022-09-08 03:12] ikhoon commented on #4329
Fixed by #4395

[2022-09-08 03:12] #4329 closed

[2022-09-08 07:45] #4347 closed

[2022-09-08 07:46] #4404 closed

[2022-09-08 13:08] minwoox commented on #4418
I see. It's probably a good idea to support those annotations in the `javax.validation.constraints` package. Are you interested in sending PR for this? or do you want to wait for the feature? Meanwhile, you might use `RequestConverterFunction` to validate before we implement this feature.

[2022-09-09 08:34] guxingke commented on #4418
I checked the method signature of `RequestConverterFunction` , and i found it can not get the service-method parameter annotations , it means use custom `RequestConverterFunction` cannot do on-demand validation by annotation.

[2022-09-10 15:55] minwoox opened #4423 "Provide a way to handle GraphQL errors"
Users might want to return different responses depending on the `List<GraphQLError>`.
It would be nice if we add an interface that allows users to customize responses depending on the errors:
[code]

[2022-09-10 15:58] minwoox commented on #4418
Exactly. We need to do the validation manually at the moment. 😄

[2022-09-12 13:56] minwoox commented on #4399
@heowc Thanks for taking a look at it. 😄  I found out that we need to add `@DirtiesContext`. 😅

@jmadureira Let's add `@DirtiesContext` to the class because this changes the context.
[code]
https://github.com/spring-projects/spring-framework/blob/main/spring-test/src/main/java/org/springframework/test/annotation/DirtiesContext.java#L32-L35

[2022-09-12 16:30] jmadureira commented on #4399
@heowc and @minwoox thank you for the info. I'll test this out and let you know.

[2022-09-13 01:48] #4309 closed

[2022-09-13 05:54] ikhoon opened #4424 "Make `armeria-thrift0.9` module compatible with libthrift 0.9.1"
`armeria-thrift0.9` uses libthrift 0.9.3.1 to ensure compatibility with Thrift 0.9.x.
But I was told by @mauhiz that `armeria-thrift0.9` no longer supports Thrift 0.9.1.

#4226 introduced a way to limit max message length which uses the following constructor added in thrift [0.9.2](https://github.com/apache/thrift/commit/cd9dd515bb2bc49459af1114c40f020c96e87b41)
https://github.com/line/armeria/blo

[2022-09-13 09:00] jmadureira commented on #4399
@minwoox the `@DirtiesContext` works on my project as well and it ought to be the correct approach.

My 2 cents is that this should be included in the spring-boot examples otherwise someone will eventually bump into this problem.

Feel free to close this issue whenever you like.

Thank you and @heowc for your help.

[2022-09-13 09:03] minwoox commented on #4399
That's a good suggestion. Are you interested in fixing the example?

[2022-09-16 07:09] boggy-cs commented on #4423
Hi, @minwoox . May I try this issue?

[2022-09-16 07:33] minwoox commented on #4423
@boggy-cs It's all yours. Thank you. 😄

[2022-09-16 08:07] minwoox opened #4433 "Support GraphQL in DocService"
so that our GraphQL users are happy with that. 😊

[2022-09-17 07:52] bog-y commented on #4423
hello, @minwoox! May I ask why the ErrorHandler parameters include ServiceRequestContext and ExecutionInput?

I think it would be better to pass ExecutionResult and MediaType as parameters than ServiceRequestContext and ExecutionInput.

[code]

[2022-09-19 11:53] minwoox opened #4437 "Rename `ofDefault()` to `of()`"
We have static factory methods that return the default implementation of the interface/class.
We named most of the methods `of()` but a few called `ofDefault()`.
It would be nice if we rename those `ofDefault()` to `of()` so that we have a consistent name through our API.

[2022-09-19 12:00] minwoox opened #4438 "Add document for the internal of `HealthCheckService`"
Recently, we were asked about the internal behavior of `HealthCheckService` because he wanted to implement the long-polling health check using `armeria-lphc` header with another programming language.
It would be nice if we add a document so that developers who use non-JVM language can implement their own clients and do the health check to an Armeria server.

[2022-09-19 12:11] minwoox opened #4439 "Add ArrayBasedEventLoopState"
We use `AbstractEventLoopState` to acquire an `EventLoop` in a client for sending requests to a host.
If only one `EventLoop` is allocated for a host, `OneEventLoopState` is used.
If more than one `EventLoop` is allocated for a host, `HeapBasedEventLoopState` is used to select an `EventLoop` depending on the `activeRequests` count.
https://github.com/line/armeria/blob/master/core/src/main/java/com

[2022-09-19 13:14] ikhoon opened #4440 "Allow overriding `:authority` header in `GrpcClientBuilder`"
gRPC-Java provides an option that allows to override an `:authority` header using `CallOptions.withAuthoriy()`.
This option would be useful for:
- Multiple services which are hosted on different domain names in a single service.
- A proxy server that dynamically dispatches requests to downstream servers depending on the `:authority` header.

In addition to `CallOptions.withAuthoriy()`, we can also

[2022-09-20 12:36] minwoox opened #4442 "Test failure: `com.linecorp.armeria.client.retrofit2.ArmeriaCallFactoryLargeStreamTest.largeStream`"
[code]

[2022-09-21 08:00] ikhoon opened #4443 "Test failure: `com.linecorp.armeria.server.kotlin.SuspendingAnnotatedServiceTest.test_coroutineDispatcher_contextAware_byDefault()`"
[code]

[2022-09-21 23:23] warefhaque opened #4444 "Oauth2 Authorization Code Grant Flow implementation"
### Issue
- Trying to implement [Authorization Code Grant RFC 6749  - 4.1](https://datatracker.ietf.org/doc/html/rfc6749#section-4.1) flow but  there no build in way to achieve this? Mainly would need to attach an auth_code that I would receive from the redirect url and customize the refresh token request as well.
- There is a [fallbackProvider](https://github.com/line/armeria/blob/94a1bf40ff41e1c

[2022-09-26 00:25] tokuhirom opened #4447 "Update snakeyaml dependency"
<img width="731" alt="image" src="https://user-images.githubusercontent.com/21084/192172740-6a590d5b-a402-4ef8-9fc5-feaa8bff435f.png">

IntelliJ IDEA warns to the user when using armeria-bom.
It's not a critical issue... But there's no reason to update the deps... maybe.

https://devhub.checkmarx.com/cve-details/CVE-2022-38752/

[2022-09-26 02:02] ikhoon commented on #4447
It is weird because `armeria-bom` does not depend on Snake YAML. Let me take a closer look.

[2022-09-26 02:24] ikhoon commented on #4447
I'm failing to reproduce the problem in my local environment.

- IntelliJ IDEA versions
  - IntelliJ IDEA 2022.2.1 (Ultimate Edition), Build #IU-222.3739.54
  - IntelliJ IDEA 2022.2.2 (Ultimate Edition), Build #IU-222.4167.29
- Gradle version: 7.4
- JDK: 17

I'm not sure it is really related to `armeria-bom`. Would you mind trying to invalidate caches or upgrade IntelliJ IDEA to the latest version

[2022-09-26 03:06] ikhoon commented on #4444
[OAuth2ClientCredentialsGrantBuilder.fallbackTokenProvider()](https://javadoc.io/static/com.linecorp.armeria/armeria-javadoc/1.19.0/com/linecorp/armeria/client/auth/oauth2/OAuth2ClientCredentialsGrantBuilder.html#fallbackTokenProvider(java.util.function.Supplier)) is a public API. Did you mean a different API?

Currently, `OAuth2Client` has no customizable points for the request. So it seems like

[2022-09-26 04:11] warefhaque commented on #4444
My bad, yup you're right it is a public API and should solve my issue 😄
Replied to the thread as well: https://line-armeria.slack.com/archives/C1NGPBUH2/p1664165278513339?thread_ts=1664026114.431949&cid=C1NGPBUH2

Thanks for the quick response!

[2022-09-26 05:21] Narayan1670 commented on #4439
Hi @minwoox, I would like to work on this, can you assign this me?

[2022-09-26 06:34] minwoox commented on #4439
It's all yours. Thanks! 😄

[2022-09-27 02:34] chungonn opened #4450 "MultipartForm throws java.lang.IllegalStateException: subscribed by other subscriber already when used within ResponseConverterFunction"
Hi folks,

I encountered an 'Illegal State exception - subscribed by other subscriber already' when invoking a HttpRequest.aggregate() method.

Please find the attached the source code below to reproduce the problem. The code is written in Scala 3 and tested with Armeria 1.19.0.

In the attached code there are 3 services -  `/mp-form-agg`,`mp-form`, `mp-action`. These 3 services are implemented di

[2022-09-27 10:55] minwoox commented on #4450
Hi, I just checked that the request is subscribed in the response converter function which means that the request cannot be aggregated.  I think this is one of the corner cases that we cannot use the cache feature of aggregation.
The possible workaround at the moment is to aggregate the request in the decorator and store it to the ctx using attr and retrieve it later.
[code]

[2022-09-28 00:44] chungonn commented on #4450
@minwoox thanks for the suggested alternative, it does not seems to work for me. As `Action` is an utility function and is an equivalent to HttpService and hence it should not be required to add a decorator to it.

I am curious as why the failing testcase does for for work for an `UrlEncoded` request given the same `Action` service and the  same aggregated request code. I will take a closer look l

[2022-09-28 01:20] minwoox commented on #4450
We don't have to add the decorator to the `Action`. What I meant was adding a decorator before the annotated service so that we can store the content to the `ctx` and retrieve it later in the `Action`.

It's because the request is not aggregated but subscribed.
`HttpRequest` is only cached when it's aggregated via `HttpRequest.aggregate()`. But the multipart form-data is not aggregated but subscri

[2022-09-28 02:56] chungonn commented on #4450
Thanks for the correcting my misunderstanding :) I have the code simplified in the testcase to allow us to zoom into the cause of problem. We actually place all the `Action` service within a `Controller`. Let me explore this later, it does seems possible when the library programmatically adds the decorator to each controller.

We have only one use case that has a MultiPart with both body and query

[2022-09-28 02:56] #4450 closed

[2022-09-28 07:16] ikhoon opened #4452 "Test failure: `com.linecorp.armeria.spring.actuate.ArmeriaSpringActuatorAutoConfigurationInternalServiceTest$ActuatorTest.exposeActuatorServiceToInternalServicePort()`"
[code]

[2022-09-28 08:39] minwoox opened #4454 "Provide a way to set `connection: close` header to HTTP/1.1 client"
Currently, we always use keep-alive for HTTP/1.1 connection and there's no way to set `connection: close` header.
https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/internal/common/ArmeriaHttpUtil.java#L903

However, we need to allow to set `connection: close` because it's useful in some cases.
For example, when a user migrates from Apache client(keep-alive disable

[2022-09-28 12:12] #4417 closed

[2022-09-29 06:22] #3092 closed

[2022-09-29 06:23] #4424 closed

[2022-09-30 05:21] ikhoon opened #4458 "Test failure: `RetryingRpcClientTest.shouldGetExceptionWhenFactoryIsClosed()`"
RetryingRpcClientTest > shouldGetExceptionWhenFactoryIsClosed() FAILED
    java.lang.AssertionError:
    Expecting actual throwable to be an instance of:
      java.lang.IllegalStateException
    but was:
      java.nio.channels.ClosedChannelException
    	at io.netty.channel.nio.AbstractNioChannel.doClose(AbstractNioChannel.java:502)
    	at io.netty.channel.socket.nio.NioSocketChannel.doClose(Ni

[2022-09-30 05:26] #4420 closed

[2022-09-30 08:50] ikhoon commented on #4447
The only direct dependency of SnakeYAML is used in Gradle scripts. That will be updated in https://github.com/line/gradle-scripts/pull/129
I'm closing this issue because of no response to provide more information. More information can be provided and then please reopen. 😀

[2022-09-30 08:50] #4447 closed

[2022-10-04 13:19] #4452 closed

[2022-10-05 01:50] #4401 closed

[2022-10-05 02:12] #4423 closed

[2022-10-05 04:07] minwoox opened #4462 "Add Armeria gRPC stub generator"
that generates the stub with `StreamMessage` so that Armeria users can easily implement backpressure on it.

[2022-10-05 04:56] ikhoon opened #4463 "Provide a way to set a request timeout using annotation"
The timeout of an annotated service could be set using [AnnotatedServiceBindingBuilder.requestTimeoutMillis()](https://javadoc.io/static/com.linecorp.armeria/armeria-javadoc/1.19.0/com/linecorp/armeria/server/AnnotatedServiceBindingBuilder.html#requestTimeoutMillis(long)).
However, it is globally applied to all methods of the service. If users want to set a custom timeout, they have to call `Servi

[2022-10-05 13:36] Jimexist opened #4465 "Build and run with JDK 19 and possible enable loom (preview required) as well"
now that JDK 19 is out we can build against JDK 19 and see if we can use the virtual thread from project loom as well.

[2022-10-05 13:36] Jimexist commented on #4465
not sure how to add the support for JDK 19 with self-hosted machines

[2022-10-05 13:40] minwoox commented on #4465
I haven't tried that but I believe that it's just updating the GitHub Actions scripts and our Gradle build file. 😉

[2022-10-05 13:41] ikhoon commented on #4465
We are still planning how to support the virtual thread with Armeria.

Anyway, we need to wait for gradle and other build tools to update our build version to JDK 19. https://github.com/gradle/gradle/issues/20372

[2022-10-05 21:30] wengjn opened #4467 "When upgrade armeria-grpc to 1.17.0 hitting error of Multiple entries with same key: grpc.health.v1.Health=io.grpc.ServerServiceDefinition@36dbfa68 and grpc.health.v1.Health=io.grpc.ServerServiceDefinition@1f062e10"
Hi,

We are hitting error when upgrade armeria-grpc from 1.16.0 to 1.17.0. Error shows conflict on the key.

[code]

[2022-10-06 01:29] heowc opened #4468 "Extend `GraphqlErrorHandler`"
`GraphqlErrorHandler` is only handled by `DefaultGraphqlService`. However, this should also be able to be handled in `AbstractGraphqlService` as mentioned in [this comment](https://github.com/line/armeria/blob/master/graphql-protocol/src/main/java/com/linecorp/armeria/server/graphql/protocol/AbstractGraphqlService.java#L71).

[2022-10-06 02:52] minwoox commented on #4467
Hi, it seems like two different services are bound under the same path which is `grpc.health.v1.Health`.
Could you provide a reproducible example so that I can investigate it further, please?

[2022-10-06 03:27] ikhoon opened #4469 "Consider removing `content-encoding` header in `DecodingService` and `DecodingClient`"
`DecodingService` tries to decompress HTTP data if a supported `content-encoding` is set.
However, it does not remove `content-encoding` even after starting decompressing.
https://github.com/line/armeria/blob/5b384fbe27e7e6f9225d6db91cbb684d09dfbb5e/core/src/main/java/com/linecorp/armeria/server/encoding/HttpDecodedRequest.java#L46-L53

It seems better to remove `content-encoding` in `DecodingServ

[2022-10-06 12:54] kwazii1231 commented on #3945
I also encountering this issue
and i can reproduce this.

i have a kind of spring service with suspend function that looks like this

suspend fun createGoods(input: Input) = withContext(Dispatchers.IO){

  val aAsync = async { insert to db }
  val bAsync = async { insert to db }

  aAsync.await()
  bAsync.await()

   return@withContext Something()
}

and i call this from Grpc api many time at once

[2022-10-06 13:26] ikhoon commented on #3945
Thanks for the reporting! I have been looking forward to more information on the bug.

I’m not a expert on the internal of Kotlin coroutine. I need to debug the code to find out the cause.
So It would be more helpful if you can provide a runnable example. 🙇‍♂️

[2022-10-06 23:53] wengjn commented on #4467
I don't have a good example providing here.
I'm thinking that it is having conflict with the package "io.grpc:grpc-services:1.36.1" version. Because I'm seeing it has `public static final String SERVICE_NAME = "grpc.health.v1.Health";` which conflict with what armeria has currently.

[2022-10-07 03:37] minwoox commented on #4467
When you add the `GrpcHealthCheckService`, it's bound to the path `grpc.health.v1.Health`.
https://github.com/line/armeria/blob/master/grpc/src/test/java/com/linecorp/armeria/server/grpc/GrpcServiceBuilderTest.java#L357-L364

Could you check whether you add the health check service multiple times?  Or could you at least provide us with how did you build the `GrpcService`?

[2022-10-07 05:37] ikhoon opened #4470 "Possible deadlock while handling HTTP/1.1 pipelined requests in `HttpServerHandler`"
HTTP/1.x responses MUST be returned in sequence even though a client sends requests with HTTP/1.1 pipelining.
Subsequent requests need to wait for the former ones to complete. We call it [head-of-line blocking](https://en.wikipedia.org/wiki/Head-of-line_blocking).
Armeria uses a pending queue to preserve the order of responses.
https://github.com/line/armeria/blob/03645e92d02781712040d263f9b7b6984

[2022-10-07 05:47] ikhoon opened #4471 "Send `Connection: close` header when it is received."
If `Connection: close` is not set in HTTP/1.1 headers, we can assume the connection is persistent.
If a client sends `Connection: close`, `HttpServerHandler` refuses accepting additional requests from the connection.
But it does not send back `Connection: close` to the client. It would be fine in most cases because the client wanted to close the connection and it may close the connection regardles

[2022-10-07 06:09] ks-yim opened #4472 "Provide a better way to modify `CoroutineContext` in `RequestContext`"
Just an idea.

Currently, Armeria provides following ways to get & set `CoroutineContext` that will later be used to run a coroutine-based `AnnotatedService`:
* `CoroutineContexts#get`, `CoroutineContexts#set`
* `CoroutineContextService` with `CoroutineContextProvider`

...but I find `CoroutineContextService` and `CoroutineContextProvider` a bit redundant as what can be done with them can also be

[2022-10-09 10:42] kwazii1231 commented on #3945
finally i reproduce this.
kotlin + grpc + withContext(Dispatcher.IO) + too much requeset or some blocking action (like delay)
i try to figure out what is the main problem. but little bit confused. (i'm not expert of armeria but some interface is hard to understand). so i want to doing some private chat with who has good knowledge of ArmeriaCoroutineContextInterceptor , ArmeriaRequestCoroutineConte

[2022-10-09 10:49] ikhoon commented on #3945
What langugage do you prefer? We have Korean, Japanese and English channels in Slack. https://armeria.dev/s/slack
If you want to have a private chat, you can find the same ID with my GitHub ID in the slack workspace. I’m not sure I can speak your native language though. 😅

[2022-10-09 10:52] kwazii1231 commented on #3945
i'm korean!!

[2022-10-09 10:56] ikhoon commented on #3945
I see. Let’s continute to have conversation in Korean at the Slack.
I will summarize some non-private information that would be good to share with other users.

[2022-10-09 13:02] minwoox commented on #4472
IIRC, `CoroutineContextService` and `CoroutineContextProvider` are for adding additional user `CoroutineContext` before a Coroutine starts.
https://github.com/line/armeria/blob/master/kotlin/src/main/kotlin/com/linecorp/armeria/internal/common/kotlin/ArmeriaCoroutineUtil.kt#L84
For example, if a user adds `CoroutineName` context, he/she can use it for debugging. https://github.com/line/armeria/blo

[2022-10-09 18:03] kwazii1231 commented on #3945
after trying to reproduce this issue with @ikhoon
i found very mandatory condition of this.
if project use coroutine version below, this issue can be reproduce
implementation("org.jetbrains.kotlinx:kotlinx-coroutines-core-jvm:1.5.x")

in my case, my project use spring version 2.6.3 and gradle plugin for managing dependency
and it automatically downloaded "org.jetbrains.kotlinx:kotlinx-coroutines-c

[2022-10-10 10:57] ikhoon opened #4473 "HTTP/JSON gRPC transcoding services does not return `application/json` but `applicaiton/grpc+json`"
As per https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_json_transcoder_filter#sending-arbitrary-content, HTTP/JSON gRPC transcoding needs to set `application/json` to the response `content-type` header.
However, there is a regression that HTTP/JSON gRPC transcoding services return `applicaiton/grpc+json` since 1.19.0 caused by #4364

[2022-10-10 22:12] wengjn commented on #4467
We are having armeria related stuff in one lib and then create another `grpc` package to depend on previous armeria lib and also the `GrpcService` from "io.grpc:grpc-services:1.36.1". Is that what you meant 'adding multiple times'? If this is not the correct setup, how can I do it correctly for io.grpc.health.v1.HealthGrpc;

[2022-10-11 01:25] ikhoon commented on #4467
Would you illustrate how the gRPC health service is set to Armeria `GrpcService` to find the problem quickly?
I guess you may not use `GrpcHealthCheckService` provided by the `armeria-grpc` module.

[2022-10-11 05:41] #4473 closed

[2022-10-11 06:29] ks-yim commented on #4472
We use `coroutineContext` to store authN/Z context of an incoming request, but without using `CoroutineContextService` and `CoroutineContextProvider`.

We often just do the following in an `Authorizer<HttpRequest>` to add authenticated user context to the coroutine that will later be started while serving the request..:
[code]

Yes, we do need `CoroutineContexts#get/set` as it is used in the above

[2022-10-11 07:31] minwoox commented on #4472
Yeah, if there's another decorator that we can set a `CoroutineContext`, we don't need the `CoroutineContextService` decorator. But we do need `CoroutineContextService` if there's no decorator like this example: https://github.com/line/armeria/blob/master/examples/annotated-http-service-kotlin/src/main/kotlin/example/armeria/server/annotated/kotlin/DecoratingService.kt#L53-L55

 I agree with you o

[2022-10-11 07:38] ks-yim commented on #4472
Thanks for inviting @okue, the original author. I'd definitely like to listen to his take on this.

[2022-10-11 22:48] wengjn commented on #4467
You are right. We are not using `GrpcHealthCheckService` from `armeria-grpc` package. Instead, we are importing `io.grpc.health.v1.HealthGrpc` from `GrpcService` package to build our very own `MyGrpcAppHealthCheckService`. Is it causing to import multiple times of the key `grpc.health.v1.Health` because `armeria-grpc` also depend on `GrpcService`? What do you suggest to solve this issue? Maybe ano

[2022-10-12 02:23] ikhoon opened #4478 "Propagate the cause of `DecoderResult` to `ServerErrorHandler`"
If an HTTP/1 request is failed to decode, Netty offers the cause of the failure via `DecoderResult.cause()`.
The error is silently ignored and `null` is passed to `ServerErrorHandler`.
https://github.com/line/armeria/blob/85a2f93c04d81c3aaa527656cabcc69319cfd218/core/src/main/java/com/linecorp/armeria/server/Http1RequestDecoder.java#L149-L152

It should be useful to propagate the cause to `ServerE

[2022-10-12 02:37] ikhoon commented on #3945
Thanks, @kwazii1231 for the thorough analysis.
I agree that https://github.com/Kotlin/kotlinx.coroutines/issues/2930 caused the problem and it is fixed by https://github.com/Kotlin/kotlinx.coroutines/releases/tag/1.6.2.

[2022-10-12 02:37] #3945 closed

[2022-10-12 06:16] jrhee17 opened #4479 "Consider adding an option to lazily generate `DocService` specifications"
Following #4322 , some users have reported that generating `DocService` specifications takes as long as 1 minute.
This is run from `ServerBuilder#startStopExecutor` which defaults to `GlobalEventExecutor.INSTANCE` by default.
Because server startup is done from this `EventExecutor`, server startup time also increases to 1 minute.

While we have bigger plans for `DocService` (e.g. displaying metric

[2022-10-12 06:23] jrhee17 commented on #4479
cc. @chris-ryan-square

[2022-10-12 07:39] ikhoon commented on #4472
`requestContext.addCoroutineContext(MDCContext())` looks to update the current `CoroutineContext` immediately, but the custom `CoroutineContext` is able to apply to the parent `CoroutineContext` of the `suspend` service just before it is called.
So I hesitated to add the method to the top level. To avoid such confusion, I prefer adding new functions to `CoroutineContexts`.
For example:
[code]

[2022-10-13 12:45] Dogacel opened #4480 "`DocService` GRPC Servie comments are not displayed anywhere"
We are commenting on our proto services in `.proto` files but those comments are not visible on the doc service. Should we allocate a separate page for those services?

![image](https://user-images.githubusercontent.com/7023385/195599446-4c0c888a-0cc5-4dec-b174-8c115d816b0f.png)

I don't see a page where I can see the following comment:

[code]

[2022-10-13 12:48] Dogacel opened #4481 "`DocService` Add collapsible grpc request / response types"
Proto response/request types are not collapsible. I think they should automatically become collapsible because those types do not contain any valuable information and most of the time they are just `{METHOD_NAME}Request` and `{METHOD_NAME}Response`.

![image](https://user-images.githubusercontent.com/7023385/195600182-2f3112e6-f759-4549-99e5-5c47091d846d.png)

Example:
![image](https://user-images

[2022-10-13 12:52] Dogacel opened #4482 "`DocService` GRPC http headers are not sent"
The `HTTP` headers shown here are not seen when I check chrome `devtools` to see which headers are sent. How can I send grpc requests with headers in this case? There can be some auth tokens needed in order to test those endpoints.

![Screen Shot 2022-10-13 at 15 49 10](https://user-images.githubusercontent.com/7023385/195601110-b9b8e894-d492-4feb-8649-9622e5684695.png)

Also I want to be able to

[2022-10-15 09:04] j-min5u commented on #4463
Would adding a new decorater that does ServiceRequestContext.setRequestTimeout(SET_FROM_START, ), then implementing the new @RequestTimeout with @DecoratorFactory be a viable solution for this issue? Though this would create dependency to the armeria decorator implementation, it would also allow us to use the annotation on other services (such as gRPC services) not only annotated services. If not

[2022-10-17 06:34] minwoox commented on #4480
Currently, we don't display the description of the service level.
However, I think we should also show that.

[2022-10-17 06:40] minwoox commented on #4481
So do you mean we need to make the `Parameters` and `Return Type` sections collapsible?

[2022-10-17 07:01] minwoox commented on #4482
Hi, we are using `fetch` API inside and `Host` and `Origin` headers are forbidden to overwrite.
https://stackoverflow.com/a/43285338
https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name

I guess if you want to change the host header, you need to actually reconnect the domain through the browser.
Except those headers, we can set them via the `HTTP HEADERS` section.

[2022-10-17 10:02] Dogacel commented on #4481
Yes exactly. Because each RPC method has one request and one response type, it would save everyone a click.

Also the convention is not using primitives for requests/response types. For each rpc method `XXX`, the return type would be `XXXResponse` and request type would be `XXXRequest`. [Google API Guide](https://developers.google.com/protocol-buffers/docs/style#services) [Buf Style Guide](https:/

[2022-10-17 13:46] minwoox commented on #4481
Now I get what you meant. 😄
Thanks for the nice suggestion.
It perfectly makes sense if we use this `DocService` for a gRPC service only.
However, we also use this for an annotated service or a Thrift service which might have a bunch of parameters.
In that case, the unfolded structs would make the page cumbersome.

[2022-10-17 14:50] Dogacel commented on #4481
@minwoox makes sense, can we make this appear conditionally (e.g. show it only in grpc methods) by using some sort of boolean flag?

I also realized the section `Exceptions` is always empty (maybe I have missed something) for grpc methods, we can also hide that.

[2022-10-17 22:20] Dogacel opened #4485 "`DocService` gRPC repeated fields are not collapsible"
<img width="866" alt="image" src="https://user-images.githubusercontent.com/7023385/196294372-215406ad-ebca-413b-a052-a0dbe90d0815.png">

The `childFieldInfos` are not correctly populated in repeated fields, I think it would be useful to see child fields of the repeated fields instead of needing to click and visit another page.

[2022-10-18 07:57] nao0811ta opened #4486 "Provide a way for `metadata` with status function"
The metadata is always empty. I'd like to set metadata with status according to an exception

[code]

As an idea, providing a function to return meta and status would be better.
thinking of a new class to return two data.
[code]

[2022-10-18 07:59] nao0811ta commented on #4486
Oh. I'm sorry I was looking at old code. and in the new codes, that is supported.

[2022-10-18 07:59] #4486 closed

[2022-10-18 08:36] Dogacel commented on #4482
@minwoox Should I use `sb.virtualHostName(...)` in order to make my debug form work correctly? But the issue is virtual host names can't include `/` so if my service is served under `example.com/my-armeria-server/` it is not possible to set that as the virtual host.

Also our server is accessible from multiple different hosts, `my-armeria-server.example.com` internally and `example.com/my-armeria-

[2022-10-18 08:56] ikhoon commented on #4482
A hostname can be added to the [Virhost hosting](https://en.wikipedia.org/wiki/Virtual_hosting). So you can't set a context path to the virtual hosting.

I'm failing to understand this problem. IIUC, a `DocService` is bound under `/my-service/docs`, it is redirected to `/my-service/docs/`. Could you elaborate a little bit on how `/my-service/docs` redirects to `/docs/#`?

[2022-10-18 09:05] ikhoon commented on #4463
The decorator approach with `setRequestTimeout` sounds good to me. 👍

By the way, I came up with this idea while having a conversation with @ks-yim.
Meanwhile, I asked if he would like to implement this feature. So I want to know if @ks-yim is still interested in this. 😀

[2022-10-18 09:19] j-min5u commented on #4463
Nice 👏 😄 If not so, you could toss it to me 🙂

[2022-10-18 10:04] davin111 opened #4487 "`GrpcDocServicePlugin` fails when using `GrpcDecoratingService`-wrapped `GrpcService`"
When using `GrpcService` with decorators, `GrpcServiceBuilder` wraps it with `GrpcDecoratingService`. - [code line](https://github.com/line/armeria/blob/c888c86b288e85bb489b2938f2498095b2303e55/grpc/src/main/java/com/linecorp/armeria/server/grpc/GrpcServiceBuilder.java#L1043)

However, it makes `GrpcDocServicePlugin` fail to `generateSpecification`, because when [this line](https://github.com/line

[2022-10-18 10:36] jrhee17 commented on #4487
Sorry about the bug 😅

Please do so! I guess that we may want to unwrap and check if the decorated service contains an `HttpEndpointSupport`.

e.g.
[code]

[2022-10-18 11:53] Dogacel commented on #4485
@ikhoon regarding the table becoming too large, how about lazy loading child properties? Maybe not in the scope of this change. I haven't seen such big endpoints in my use-case yet.

Also assuming fields in `map` can be a little tricky because maps have two parameters. Maybe it is best to keep it this way. My motivation was using the `debugForm` without needing to navigate through lots of differen

[2022-10-18 11:59] Dogacel commented on #4482
Our microservice serves `DocService` under `/docs` exact path. But the issue is there are several URL paths that lead to our microservice (one for internal use, one for external use).

Internally, we access it via the `http://my-service.test1.com` link, developers can't access it this way to the doc service.

Externally the same microservice is served under the `http://test2.com/my-service` link a

[2022-10-18 12:21] ikhoon commented on #4485
I agree with your opinion. But I heard @chris-ryan-square manages large protos.
https://line-armeria.slack.com/archives/C1NGPBUH2/p1665528225754379?thread_ts=1665526584.427749&cid=C1NGPBUH2

As you said, lazy loading could be a possible solution.

[2022-10-18 12:39] ikhoon commented on #4482
I understood your problem. 😀
Armeria provides a [port-based](https://en.wikipedia.org/wiki/Virtual_hosting#Port-based) virtual hosting for that usage.
If you are not using Spring auto-configuration, we can manually make some internal services bound to internal ports (18080).
[code]

If you don't like the port-based virtual hosting, we may offer an option to allow additional hostnames for `DocServi

[2022-10-18 12:52] j-min5u opened #4489 "Provide a way to safely read/write files inside services without blocking eventloop"
Many File I/O operations block the current thread, and should not be used inside services that are executed on a eventloop. Other methods like running the I/O operations on a blockingTaskExecutor must be used.
However, this could be overlooked by those who are new to asynchronous servers.
We could add a Helper class for File I/O and make it retrievable from ServiceRequestContext, then introduce it

[2022-10-18 14:33] ks-yim commented on #4463
@j-min5u I haven't started working on it. It's all yours, thanks!

[2022-10-18 18:12] Dogacel commented on #4482
I am investigating the `virtualhost`. Currently when I serve `grpc` requests under the `virtualhost(externalPort)` and doc service under `virtualhost(internalPort)`, I am not seeing any of those endpoints. But I guess serving `grpc` services under both `external` and `internal` ports is a valid use-case (I have done this by not specifying virtualhost on any of the services).

Even though this migh

[2022-10-18 21:47] cj848 commented on #3306
In my case, I am using gRPC-kotlin & Spring-boot and the same problem occurred, so I solved it as follows. I hope this helps.

[code]

[2022-10-20 21:59] Lincong opened #4495 "CircuitBreaker `onResponseTrailers` callback delayed invocation with empty HTTP-trailers"
## Context
In my setup, Armeria + **unary gRPC** are used. On the client side, I decorate the `ClientBuilder` with `CircuitBreaker` and `CircuitBreakerRule` in order to set up circuit breaking based on gRPC status code (e.g. when gRPC status code != OK, count the request as a failure).

Initially I passed a callback to `CircuitBreakerRule.builder().onResponseTrailers(...)` and expect the callback

[2022-10-21 03:10] ikhoon commented on #4495
If trailers-only is sent due to an error on the server side, the response stream is immediately closed. Hence, `onResponseHeaders()` will be called consecutively and the decision of the rule would be reported to the circuit breaker. Although we need to use two callbacks to properly extract gRPC status from trailers, I don't see the failure report using trailers-only is delayed.

It is a nice sugge

[2022-10-21 03:26] ikhoon opened #4496 "Add `GrpcCircuitBreakerRule`"
If a `CircuitBreakerRule` is built for gRPC clients, users might want to get `grpc-status` to decide whether a call is a success or not. Normally, `grpc-status` exists in the HTTP trailers of a response. However, if a call is failed, it could be in the HTTP headers of a trailers-only response. It is a [transport-level protocol specification](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HT

[2022-10-21 03:27] ikhoon commented on #4495
Created #4496 for `GrpcCircuitBreakerRule`. 😄

[2022-10-21 03:34] ikhoon commented on #4496
@jrhee17 made a good idea to add `GrpcRetryRule`.

[2022-10-21 06:09] Lincong commented on #4496
Generally I think adding `GrpcCircuitBreakerRule` with a `onGrpcStatus` method is a great idea.

However, it could be even better if the `GrpcCircuitBreakerRule` has a method `onGrpcTrailers(grpcTrailers: HttpHeaders)` where `grpcTrailers` is "trailers" in the context of gRPC. Specifically, `grpcTrailers` could be either HTTP headers if the response is "trailers-only" or HTTP trailers if the respo

[2022-10-21 06:14] ikhoon commented on #4496
Agreed! In addition to `onGrpcStatus()`, `onGrpcTrailers()` would be a good extension method for `GrpcCircuitBreakerRule` and `GrpcRetryRule`.

[2022-10-21 06:22] Lincong commented on #4495
Thanks @ikhoon  for the response.

I replied [here](https://github.com/line/armeria/issues/4496#issuecomment-1286503539).

This is not what I observed in my unit test.
My observation shows that if a `CircuitBreakerRule` has callbacks from `onResponseHeaders` and `onResponseTrailers` registered, when the server throws an exception (which, according to you, immediately closes the response stream and

[2022-10-21 06:24] Lincong commented on #4495
@ikhoon  if you can point me to the code showing the below behavior, that'd be great!

[code]

[2022-10-21 06:26] Lincong commented on #4496
Thanks @ikhoon , I wonder when will this `GrpcCircuitBreakerRule` feature possibly be GA?

Just trying to get a sense of the timeline and you do not need to promise anything. Thanks!

[2022-10-21 06:27] ikhoon commented on #4495
Let me also check it locally. If it is not working as I said, it would be a bug.

[2022-10-21 07:10] ikhoon commented on #4495
If you debug the following lines with breakpoints, we can check that a failed response is completed as the trailers-only is received.
https://github.com/line/armeria/blob/876339437d566cd74e0f87a090430441b3da1f4e/core/src/main/java/com/linecorp/armeria/client/Http2ResponseDecoder.java#L215-L217
https://github.com/line/armeria/blob/daae15d426ffb2581fdff9f10f16ec69f90b7a36/core/src/main/java/com/line

[2022-10-21 07:30] ikhoon commented on #4496
Generally, we try to release a new version every month. However, we are snowed under to participate in LINE internal events, so the next version will be released in the middle of next month.

[2022-10-21 12:26] minwoox opened #4497 "Add K8sEndpointGroup"
So that the client connects to the pods directly instead of through service proxy.

Of course, we can set up "Headless" Services and use `DnsEndpointGroup` for CSLB.
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#a-aaaa-records

However, if so, users cannot use the service proxy anymore which means that other components that are not using Armeria have no way to balance th

[2022-10-21 18:33] rhodo commented on #4495
To chime in a little bit, here is what I observed. When response contains error with trailer-only "header" happens, I can see from the stack trace that gRPC related callback was trigger from [this line](https://github.com/line/armeria/blob/1.17.2/core/src/main/java/com/linecorp/armeria/common/stream/AbstractStreamMessage.java#L258). The onResponse trailer callback (which is callback added as `log(

[2022-10-21 18:49] Lincong commented on #4495
Thanks @ikhoon and @minwoox!

I did more digging with my test setup and here is what I found:

## TL;DR
`a failed response is completed as the trailers-only is received.` did NOT happen in my test because the trailers-only response is NOT categorized as `endOfStream` by Netty.

## My test setup
**Server side:**
An exception with gRPC status `ErrorCode.PERMISSION_DENIED` is thrown immediately when

[2022-10-21 19:22] Lincong commented on #4495
After reading the HTTP/2 RFC, I may have improved my understanding of the issue.

HTTP2 data are received in a sequence of frames. When Netty receives enough frames to create `headers`, the `onHeaders` callback is invoked. However, at this point, Netty has not received the `END_STREAM` frame. When Netty receives `END_STREAM`, `res.close()` is called as shown below and then both `onHeaders` and `on

[2022-10-22 08:56] namjug-kim opened #4498 "Error in `RequestContextHooks.enable()` caused by "An error occurred while pushing a context""
Application using `RequestContextHooks.enable()` for log tracking, and if many requests come in at the same time, `An error occurred while pushing a context` error occurs.

In the service, it occurs in the action of querying with r2dbc jooq.
I'm not sure sample code below is the same cause, but the same error occurs.

[code]

**Error log**
[code]

**Sample Code**
[code]
[code]

[2022-10-24 01:45] minwoox commented on #4498
Hi!
Which kotlinx.coroutines version are you using?

[2022-10-24 02:22] namjug-kim commented on #4498
im using `org.jetbrains.kotlinx:kotlinx-coroutines-core-jvm:1.6.4`

[2022-10-24 02:33] minwoox commented on #4498
Could you run your application with `-Dcom.linecorp.armeria.requestContextLeakDetectionSampler=true` if we can get any meaningful stacktraces?
We didn't add https://kotlinlang.org/api/kotlinx.coroutines/kotlinx-coroutines-debug/  feature to the leak tracing so I'm not sure if we can get the stack trace or not. But it's worth trying.

[2022-10-24 02:44] namjug-kim commented on #4498
ok i'll try it :)

Additional information was found while further testing.
This problem only occurs when using `armeria-spring-boot2-webflux-starter:1.20.1` with `spring-boot-starter-webflux:2.7.5`

[2022-10-24 02:56] namjug-kim commented on #4498
Stacktrace after adding the `requestContextLeakDetectionSampler` option.

[code]

[2022-10-24 03:26] minwoox commented on #4498
Do you have the following message as well? `but context is currently set to ...`

[2022-10-24 03:39] namjug-kim commented on #4498
<details>
  <summary>stack trace log</summary>

[code]
</details>

[2022-10-24 05:45] minwoox commented on #4498
Oops, I missed this comment. 😅
Could you share a reproducer so that we can investigate it, please?

[2022-10-24 06:45] namjug-kim commented on #4498
Could you share a reproducer so that we can investigate it, please?

https://github.com/namjug-kim/armeria-reproduce

This project will reproduce issue.

1. run armeria application `./gradlew bootRun`
2. execute api call with same time `./gradlew gatlingRun -pstress-test`

In my case only 2 requests always raised issues.
I hope above step reproduce issue. however, if it fails recommend increasing

[2022-10-24 09:27] ikhoon opened #4500 "Remove uncompress javascript files in `DocService`"
I found that `armeria.jar` contains both compressed and uncompressed javascript files for `DocService`.
<img width="637" alt="image" src="https://user-images.githubusercontent.com/1866157/197493724-11aeed54-53b3-4a84-98a7-dbc5c11aa93f.png">
The Documentation service is built on top of modern Javascript stacks such as React and Material UI, so the size of uncompressed javascript files is rather hug

[2022-10-24 09:31] heowc commented on #4500
I think I added [deleteOriginalAssets](https://www.npmjs.com/package/compression-webpack-plugin#user-content-deleteoriginalassets) in the first place, but it seems to be missing. 🤣

[2022-10-24 09:36] ikhoon commented on #4500
We would need some unit tests to check where an uncompressed file exists in the classpath.

[2022-10-25 05:23] minwoox opened #4501 "Provide a way to close connection if no ping ack"
We can set up the PING interval so that clients and servers keep sending PINGs to keep the connection.
https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/client/ClientFactoryBuilder.java#L648
https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/server/ServerBuilder.java#L550

However, we don't have a logic handling when there's no PIN

[2022-10-25 07:50] ks-yim opened #4502 "`AuthFailureHandler` receives an unpeeled `Exception`"
#### Issue:
`AuthFailureHandler` functional interface accepts `Throwable` as a parameter and it is supposed to receive a so called peeled cause (peeled by Exceptions#peel or by chaining the future with `handle[Async]` callback which preserves the original exception) for this parameter.

But this behavior has changed since Armeria >= 1.6.0 after adding [`authorizeAndSupplyHandlers`](https://github.

[2022-10-25 07:54] minwoox commented on #4502
That is correct and thanks for the reporting. 👍
Yeah, we need to fix that.

[2022-10-26 06:54] ks-yim opened #4506 "Struct `FieldInfo` is not correctly rendered in `DocService` if bean field names are overridden by `@JsonProperty`"
#### Issue:
* With the following Kotlin data class..:
[code]
   ... the `FieldInfo`s for those properties whose response field names were overridden with `@JsonProperty` is not correctly rendered in `DocService`.
   <img width="1506" alt="image" src="https://user-images.githubusercontent.com/35995647/197954910-77a0b8d4-83b3-4b10-9e42-c602dc71625b.png">

#### Cause:
* Overridden field name is used

[2022-10-26 07:36] ikhoon commented on #4506
It sounds a bug. We need to access the original field if there is no matching field with the `@JsonPropery`

[2022-10-28 08:19] ks-yim commented on #4472
@ikhoon The approach you've suggested will prevent unnecessary confusion, thanks!
I will send a PR to add a new method to `CoroutineContexts`.

[2022-10-31 02:31] ikhoon opened #4509 "Do not set a `0` content-length for a chunked response of HTTP `HEAD`"
The HTTP [HEAD](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/HEAD) method should return the same `Content-Length` as the GET method.

A `Content-Length` is intentionally unspecified for chunked encoding but the actual content is empty for the HEAD method.
[code]

We should preserve the null content-length and not set it to 0.

[2022-10-31 03:02] ikhoon opened #4510 "Replace `synchonized` block with `ReentrantLock` to make virtual thread friendly"
There is a current known limitation that code should avoid using a synchronized block.

Related work:
 - https://github.com/pgjdbc/pgjdbc/issues/1951
 - https://github.com/netty/netty/pull/12633

[2022-10-31 03:11] ikhoon opened #4511 "Should not return a content body for `HEAD` method in `AggregatedHttpResponseHandler`"
There is a regression that a content body could be sent even if a `HEAD` method is set in a request header.
`HttpResponseSubscriber` handles the `HEAD` method correctly, but `AggregatedHttpResponseHandler` does not consider the `HEAD` method.
https://github.com/line/armeria/blob/5d1d9a5525ffe2305fcb56f32763748d1aa30168/core/src/main/java/com/linecorp/armeria/server/HttpResponseSubscriber.java#L153

[2022-11-01 08:31] ikhoon commented on #4495
We don't guarantee `onResponseTrailers()` should be called before `foo()` returns or raises an exception. Because `CircuitBreakerClient` asynchronously checks the responses and reports the `CircuitBreakerDecision` to the `CircuitBreaker`.
- If only `onResponseHeaders()` is registered, the `onResponseHeaders()` may be called before the `foo()` is returned. Because it only doesn't need to wait for a

[2022-11-01 18:30] Dogacel commented on #2844
I think `grpcui` has a beautiful UI but they use go templates, so I doubt we can utilize their code right away. We have to rebuild lots of things. I think it is pretty inspiring.

I suggest using the well-known [monaco-editor](https://microsoft.github.io/monaco-editor/) inside our debug form to:
- enable auto-complete
- show syntax errors
- syntax highlighting + more themes (🥳)

Monaco editor supp

[2022-11-02 04:22] namjug-kim commented on #4498
This issue is probably my mistake :(

kotlin coroutine doesn't guarantee that the block executes on the same thread.

[code]

I used `RequestContextHooks.enable()` to track request scope. but actually it doesn't work with kotlin coroutine.

I found #3849 while looking around for a way. I think I can solve my problem by using this :)

[2022-11-03 03:30] chris-ryan-square commented on #3283
I was searching the documentation for details about server shutdown and the grace period etc.  There's nothing there that I can see (point me if I missed something!).  I think a small section in the docs about the shutdown process, grace period, listener state hooks (whenStopping, etc) and implications or limitations of it all would be a very useful addition.  Especially since I was not expecting

[2022-11-03 06:20] minwoox commented on #4498
Sorry about the late response. 😓

Yes, exactly. When there're two concurrent requests A and B, the thread A also runs the block for the request B which then:
- the `Mono` is created with the `aContext` by the hook
- the `Mono` raises an exception when it subscribed with the `bContext`.

I guess not using the `RequestContextHooks` and push the context manually where it needs is the best way we can

[2022-11-03 08:50] minwoox commented on #4498
I found one possible workaround.
It's using `ArmeriaRequestCoroutinContext` explicitly with `GlobalScope.async`:
[code]

[2022-11-03 10:24] minwoox commented on #2844
That sounds good. 👍

It seems like there's no JVM implementation of Gradle plugin for the schema compiler. So we should probably create Gradle plugin that creates `JSONSchemas` using go, then we can apply it.
I haven't received any demand for the validation of it, so how about just applying the editor first and then moving on?

[2022-11-03 13:26] Dogacel commented on #2844
I have no experience with this, do you have any sources or examples? I found https://github.com/gogradle/gogradle but seems like it is pretty old.

[2022-11-03 14:19] minwoox commented on #2844
Yeah, it's pretty old and not maintained. We have used it in our other project before but we completely removed that due to the reason.
https://github.com/line/centraldogma/pull/707/files#diff-de8fe44d5ac06e1637fb405beaa31259f0a95163399c0f8cb4158c820b9efcd0L20

We have these options:
- Creating protoc-gen-jsonschema gradle plugin
- Creating the gogradle plugin equivalent and using protoc-gen-jsons

[2022-11-04 02:14] ikhoon commented on #2844
It is an excellent idea but would it be better to directly convert `ServiceSpecification` into `JSON schema` rather than using `protoc-gen-jsonschema` so that other protocols such as Thrift or annotated services take advantage of it?

[2022-11-04 07:53] Dogacel commented on #2844
Makes sense, let me start experimenting with it 😄

[2022-11-05 03:02] nilanjanH commented on #4511
@ikhoon - Is this issue resolved? If not, would love to get started on this.
I am new to OSS & this would be my first contribution, so any pointers[if I am assigned this issue] would also be very much appreciated.

Thanks.

[2022-11-07 02:07] #4487 closed

[2022-11-07 06:49] #4511 closed

[2022-11-07 10:59] #4506 closed

[2022-11-07 11:00] #4481 closed

[2022-11-08 06:28] jrhee17 opened #4521 "Automatically create armeria's dependency when missing"
Assume we have the following service with a custom `dependencyInjector` set via `Server.builder().dependencyInjector(...)`

[code]

In this case, `armeria` is unable to find the appropriate dependency because `ProtobufRequestConverterFunction` is not registered in [BuiltInDependencyInjector](https://github.com/line/armeria/blob/master/core/src/main/java/com/linecorp/armeria/internal/common/BuiltIn

[2022-11-11 04:08] ikhoon commented on #3283
Nice suggestion! We should document for them.

[2022-11-11 04:10] ikhoon opened #4530 "Documentation for shutdown process of `Server`"
@chris-ryan-square suggested:

[2022-11-14 03:16] centratelemedia opened #4533 "documentation for authentication"
can you share documentation for authentication, howto login save session authenticatin and authorization

[2022-11-15 01:05] trustin commented on #4496
@Lincong [The PR for this issue](https://github.com/line/armeria/pull/4535) is up - let me know what you think.

[2022-11-15 06:01] jrhee17 commented on #4471
signal that the connection will be closed after completion of the
   response. For example,

       Connection: close

   in either the request or the response header fields indicates that
   the connection SHOULD NOT be considered `persistent' ([section 8.1](https://www.rfc-editor.org/rfc/rfc2616#section-8.1))
   after the current request/response is complete.

https://www.rfc-editor.org/rfc/rfc2

[2022-11-15 06:02] jrhee17 commented on #4471
Having said this, I'm curious why we want to do this at the cost of sending an extra number of bytes.

Were there any edge-cases that were failing due to not sending `Connection: close` from server-side?

[2022-11-15 09:20] amirhadadi opened #4538 "Trailing dot in domain names is stripped causing search domains to be used"
When executing requests against domain names such as `x.com.` (note the dot in the end), Armeria strips the trailing dot [here](https://github.com/line/armeria/blob/27f1d605bea0874bf0bd68962f5e405812ba55fd/core/src/main/java/com/linecorp/armeria/client/Endpoint.java#L125).
As a result search domains are being attempted.
The `.` should be preserved so that DNS resolution treats the domain name as a

[2022-11-15 09:36] ikhoon commented on #4471
No, it isn't. I realized Armeria doesn't send a `Connection: close` header while implementing Armeria backend for Play Framework. Anyway, sending "Connection: close` seems more common and correct behavior in HTTP/1.1 servers.
[code]

[2022-11-16 08:11] #4479 closed

[2022-11-17 01:24] ikhoon commented on #4538
It seems a trailing dot has to be removed for SNI and preserved for Host and `:authority`.
https://lists.w3.org/Archives/Public/ietf-http-wg/2016JanMar/0430.html

[2022-11-17 05:49] Hope-of-countryside opened #4539 "Document service records API call record"
Can Document service add some function to record API call record? So users do not need to input complicated json or query every time call API. Or just need little effort to modify history call~

[2022-11-17 11:56] alex-lx commented on #116
Met the same situation when using `DeferredResult`

[2022-11-18 06:16] ikhoon opened #4542 "Allow configuring implicit file extensions in `FileService`"
Some front web frameworks such as Next.js generates HTML files according to directory paths. If `/pages/app/projects.tsx` is specified in Next.js `pages` folder, a Next.js server serves on the tsx file on `/app/projects` URL.

To use the tsx file without a Next.js server, it is possible to use `next export` that converts `/pages/app/projects.tsx` into `/app/projects.html` or `/app/projects/index.h

[2022-11-18 12:22] Dogacel opened #4543 "Show proto extensions ins `DocService`"
I think it would be particularly useful for the https://github.com/bufbuild/protoc-gen-validate library. Users can see directly which constraints each field has. Right now, we are losing some value if users are using this validation library with armeria doc service.

[2022-11-19 03:39] chungonn opened #4544 "Setting ServiceRequestContext#setRequestTimeout to zero causes a service to throw an IllegalArgumentException"
Below Scala code is similar to the one in Armeria's long SSE tutorial.

[code]

When the service receives a request, it emits an IllegalArgumentException. Please find the stacktrace below.

Using the following versions - Armeria version 1.20.3, Java 17, Scala 3.2.0

[code]

[2022-11-21 21:37] Yuri999 opened #4546 "RequestContextExportingAppender incompatible with ch.qos.logback.classic.net.SocketAppender"
Adding at least one `<export>` tag to `RequestContextExportingAppender` causes exception and connection loss when using `SocketAppender`.

Example `logback-spring.xml`:
[code]

The problem is in logback's `LoggingEventPreSerializationTransformer`, which is trying to check event type and make `LoggingEventVO` of it:
[code]
but `LoggingEventWrapper` only implements `ILoggingEvent` and doesn't extend

[2022-11-22 01:51] ghkim3221 commented on #3041
`routeAdded`, `routeRemoved` look useful for `HealthCheckService` also. At this moment, a newly reconfigured `HealthCheckService` doesn't work because the service depends on the server' start status:

https://github.com/line/armeria/blob/8ed438da36ba4e0f7d111c00f748b3fcc2906e2c/core/src/main/java/com/linecorp/armeria/server/healthcheck/HealthCheckService.java#L292-L297

And we should remove `Serve

[2022-11-22 08:56] ikhoon commented on #4546
`LoggingEventVO.build()` is able to take `ILoggingEvent` as its parameter.
So it sounds like a bug in `LoggingEventPreSerializationTransformer` of logback.
https://github.com/qos-ch/logback/blob/master/logback-classic/src/main/java/ch/qos/logback/classic/spi/LoggingEventVO.java#L70
What do you think of reporting this issue to the logback repository?
This is because extending `LoggingEvent` might i

[2022-11-22 09:23] Yuri999 commented on #4546
Yeah, I'll try to report, but anyway we need to fix second problem, type of object passed as mdcMap to `LoggingEventWrapper` needs to be changed from `RequestContextExporter$State` to one of java.util classes like `java.util.HashMap`.
I'm not feeling well by deleting UnionMap, but I don't know how to do it better.

[2022-11-22 10:25] Yuri999 commented on #4546
Yes.

[2022-11-22 12:00] Yuri999 commented on #4546
logback PR https://github.com/qos-ch/logback/pull/614

[2022-11-22 13:19] ikhoon commented on #4546
It seems `HardenedObjectInputStream` is used only in socket-related appenders. It is a hacky way but How about using `HashMap` when `ch.qos.logback.core.net.AbstractSocketAppender` is set to via `addAppender()`?
https://github.com/line/armeria/blob/c34c6b54cbfaa0e911afad8d712294a93e75a17f/logback/src/main/java/com/linecorp/armeria/common/logback/RequestContextExportingAppender.java#L231-L233
Other

[2022-11-22 16:20] Yuri999 commented on #4546
I've made some modifications in https://github.com/line/armeria/pull/4547
https://github.com/line/armeria/pull/4547/files#diff-9fa67c54d226011cc5fb45912fac54de63c87c2669e64a25c48c41a65bb75a19R229
@ikhoon, could you check please?

[2022-11-23 01:21] ikhoon commented on #4546
Thanks. I will review it today.

[2022-11-23 02:02] SeanWhoCodes opened #4548 "Configure Armeria to Return gRPC Status Code for Invalid Path"
## Overview

For an Armeria server that is built with minimal settings and has a simple `GrpcService`, the server returns only HTTP status code `404` but not any gRPC status such as `12` (UNIMPLEMENTED) when an invalid path is given.

Is there a way to configure the Armeria server so that it returns gRPC status code along with HTTP status?

## Examples

Below is an example server that uses `http4s

[2022-11-23 03:06] minwoox commented on #4548
If you want to add the gRPC status to all requests that are sent to non-exist paths, we can use a decorator for the workaround
[code]
I think we can add an API something like `ServerBuilder.fallbackDecorator(...)` for such a case.

[2022-11-23 03:17] minwoox commented on #3041
Yeah, we definitely need those. 😄
Do you want to handle this by yourself? 😄

[2022-11-23 04:03] ikhoon commented on #4548
Hello, https://github.com/http4s/http4s-armeria user! 😆
`fallbackDecorator` would be a good workaround. But I also think we can use the default headers of
https://github.com/line/armeria/pull/4520 to set `grpc-status` 12 for `404 Not Found`.
Note: A conditional default headers depending on response headers hasn't been implemented yet. I'd like to add the feature to the PR.
Users might set the defa

[2022-11-23 04:26] ikhoon commented on #4548
I've just checked the AWS health check reference. (http4s-)Armeria is able to handle both REST API and gRPC in a single port so you can simple add a health check service to `/AWS.ALB/healthcheck` to return `12` or configure the service as a normal HTTP/2 service to return `200 OK`.

[2022-11-23 09:06] Bue-von-hon commented on #4510
hello @ikhoon I would like to work on this issue
Could you please  provide a little more information e.g. XXX.class has to be fix.(it seem to be so many file has sync block)
Thank you very much in advance.

[2022-11-23 09:18] ikhoon commented on #4510
We need to fix all classes in Armeria that use `synchronized` blocks.
It is difficult to fix all files at once. Why don't we divide the files into each module?
[code]
We may start with `common/util` and move to `client/endpoint` and so on.

[2022-11-23 09:29] Bue-von-hon commented on #4510
thank you kindly
then i'll start with `common/util` until early next week (it has 12 sync block)👍👍

[2022-11-23 13:49] j-min5u commented on #4510
I'm also willing to do a part if it's welcome 😄

[2022-11-23 14:07] Bue-von-hon commented on #4510
glad to work with you!! @j-min5u 😆
i'm working on `common/util`
What is it like for you to work on `client/endpoint` if it's ok

[2022-11-23 14:30] j-min5u commented on #4510
@Bue-von-hon  Sure 😸
I'll get to it 🙌
I'll also see if I could remove the other three files under `client/`

[2022-11-23 16:06] ks-yim opened #4550 "`SameSite=Strict` is a too strict default for `Cookie.secureBulider`"
Armeria's default cookie builder is `Cookie.secureBuilder` and it sets `SameSite` attributes to `Strict` by default.

I understand the motivation of this change was to make users explicitly opt-out cookie's security attributes as stated in  https://github.com/line/armeria/issues/3788, but I wish `SameSite=Lax` were the default because `SameSite=Strict` comes at a very serious UX tradeoff, while `S

[2022-11-23 23:26] SeanWhoCodes commented on #4548
Really appreciate your responses team! 👍 Marking the gRPC status for a known rpc method as `UNIMPLEMENTED` sounds contrived and may be a bit confusing. Before the default header feature #4520 gets released and `fallbackDecorator` becomes an option, I may just stick with the decorator approach.

[2022-11-23 23:41] SeanWhoCodes commented on #4548
For reference, I implemented the 'not found' decorator as below that sets `grpc-status: 12` in both response headers and trailers. That should be convincing enough for the health checks on AWS load balancers.

Also, I hesitated but there seems to be a need to keep throwing exceptions that don't relate to 'not found'. It is not very idiomatic to throw exceptions in Scala, but I believe other decora

[2022-11-24 06:53] minwoox commented on #4550
Thanks for the opinion. 😄
Yeah, I agree with you on requiring users to opt-out of the security attributes is more reasonable.
Also, the builder's name has `secure` in it. 😆

[2022-11-24 09:08] ikhoon commented on #4550
`SameSite=Lax` is the default value for modern browsers. I agree `SameSite=Lax` gives better UX  that makes webpages correctly render users information with href links.

The default of `secureBuilder` explicitly overrides some options to provide stricter security and Javadoc clearly describes what values are set. I believe there is no confusion about that. So I also prefer keeping the current beha

[2022-11-24 09:35] ikhoon commented on #4548
Oops. I thought we removed all code that throws `HttpStatusException` or `HttpResponseException` apart from the default healthcheck service. This is because stream operators in `HttpResponse` can't be used correctly.
We need to fix `FallbackService` to return a normal `HttpResponse`. Before that, I recommend you use `ServerErrorHandler` as a workaround.
[code]

Note that this workaround would no l

[2022-11-24 09:59] ks-yim commented on #4550
Thanks for taking your time to review this issue.

Yeah, it looks just good the way it is now.

The deprecation warning of `Cookie.builder()` and the fact that I was forced to ise `Cookie.secureBuilder()` felt a bit awkward at the time of the first writing because I am basically doing the following when I opt-out SameSite attribute (which is trivial😅..):
[code]
Anyways, no objection any more as I’

[2022-11-24 09:59] #4550 closed

[2022-11-24 14:52] ikhoon commented on #4510
If all migration has finished, it would be worth prohibiting `synchronized` block with a checkstyle rule.

[2022-11-24 21:14] SeanWhoCodes commented on #4548
[ServerBuilder::errorHandler](https://javadoc.io/doc/com.linecorp.armeria/armeria-javadoc/latest/com/linecorp/armeria/server/ServerBuilder.html#errorHandler(com.linecorp.armeria.server.ServerErrorHandler)) does seem to be a better place to handle exceptional scenarios than a generic decorator where normal / valid requests also need to pass through. 👍

Thanks for the heads-up! What would be the rec

[2022-11-25 02:31] Bue-von-hon commented on #1854
could i continuing this issue?

[2022-11-25 08:37] ikhoon commented on #1854
Sure, it's all yours.

[2022-11-25 09:39] j-min5u commented on #4510
I'll do `internal/` + `server/` next
@Bue-von-hon if you do the other files under `common/`, we'll be done with the core module 😃

[2022-11-25 10:18] ikhoon commented on #4548
Sent a patch to fix `FallbackService`. #4552

A decorator could get you more freedom and fluent API in addition to handling 404 not found.
The default headers are slightly performant because it is optimized for headers but the difference would be small.

[2022-11-25 11:07] ikhoon commented on #4548
I tried to implement the feature that dynamically sets/adds the default headers depending on an HTTP status. But it was tricky to handle `addHeaders()`. If we use a function to store the default value, we don't know if a header is set by `ResponseHeaders` or the default headers until it is evaluated.

For that reason, please use the decorator pattern. The following pattern won't be implemented.
[c

[2022-11-25 11:52] ikhoon commented on #4548
Accidentally clicked the close button. 😅

[2022-11-25 12:10] Bue-von-hon commented on #4510
ok I'll replace under `common/`🛠

[2022-11-25 22:32] SeanWhoCodes commented on #4548
Thanks for the clarification! I'll leave a code snippet below for future reference.

[code]

[2022-11-29 02:40] minwoox opened #4553 "Test failure: `com.linecorp.armeria.common.stream.ByteStreamMessageOutputStreamTest.writeAfterStreamClosed()`"
[code]

[2022-11-29 08:47] ikhoon opened #4554 "Test failure: `com.linecorp.armeria.common.multipart.MultipartEncoderTckTest.required_spec101_subscriptionRequestMustResultInTheCorrectNumberOfProducedElements`"
[code]

[2022-11-29 12:30] minwoox opened #4555 "Add `ClientRequestContext.initiateConnectionShutdown()`"
We have `ServiceRequestContext.initiateConnectionShutdown()` that closes the connections gracefully as long as possible regardless of the underlying protocols.
It would be nice if we can have the same method on the client-side to close the connections gracefully.
It would send `connection: close` header for HTTP/1.1 and GOAWAY frame for HTTP/2 connections.

[2022-11-30 03:20] ikhoon commented on #4544
To disable a timeout to the request, you should use [ServiceRequestContext.clearRequestTimeout()](https://javadoc.io/static/com.linecorp.armeria/armeria-javadoc/1.20.3/com/linecorp/armeria/server/ServiceRequestContext.html#clearRequestTimeout()) instead.

[2022-11-30 03:55] chungonn commented on #4544
Hi Ikhoon, thanks once again. Is there any annotation for setting the request to No Time out?

[2022-11-30 04:35] #4544 closed

[2022-11-30 05:05] ikhoon commented on #4544
We are working on https://github.com/line/armeria/issues/4463 which can control a request timeout using an annotation.

[2022-11-30 05:08] ikhoon commented on #4544
This is a nice idea. I commented about that on https://github.com/line/armeria/pull/4499/files#r1035533526